Repository llvm/circt, pull requests merged in 2020-06, with the labels that each got.

#6 Implement lowerings from various FIRRTL nodes to rtl.concat
  lib/Dialect/FIRRTL/LowerToRTL.cpp
  test/firrtl/lower-to-rtl.mlir
  test/rtl/basic.mlir
Labels: FIRRTL, RTL

#11 initial implemtation of rtl::{andr,orr,xorr} operations
  include/circt/Dialect/RTL/Combinatorial.td
  include/circt/Dialect/RTL/Visitors.h
  lib/EmitVerilog/EmitVerilog.cpp
  test/rtl/basic.mlir
Labels: RTL

#13 Add (initial) support for lowering FIRRTL wire to RTL wire.
  lib/Dialect/FIRRTL/LowerToRTL.cpp
  test/firrtl/lower-to-rtl.mlir
  test/rtl/basic.mlir
Labels: FIRRTL, RTL

#19 [handshake] add mlir-headers dependencies
  lib/Conversion/StandardToHandshake/CMakeLists.txt
  lib/Dialect/Handshake/CMakeLists.txt
Labels: Handshake
