Repository llvm/circt, pull requests merged in 2020-10, with the labels that each got.

#118 [LLHD] Improve type and attribute parser and printer error handling
  lib/Dialect/LLHD/IR/LLHDDialect.cpp
Labels: LLHD

#114 [RTL] Add `and` flattening case, `or`, `xor` idempotency case.
  lib/Dialect/RTL/Ops.cpp
  test/rtl/canonicalization.mlir
Labels: RTL

#65 [LLHD] Lower memory operations to LLVM
  lib/Conversion/LLHDToLLVM/LLHDToLLVM.cpp
  test/Conversion/LLHDToLLVM/convert_memory.mlir
  test/Conversion/LLHDToLLVM/convert_process.mlir
Labels: LLHD

#120 [RTL] Add `xor`, `or`, `add`, `mul` constant folding.
  lib/Dialect/RTL/Ops.cpp
  test/rtl/canonicalization.mlir
Labels: RTL

#121 [rtl] Add flattening for `xor`, `or`, `add`, `mul`.
  lib/Dialect/RTL/Ops.cpp
  test/rtl/canonicalization.mlir
Labels: RTL

#125 [RTL] Factor out more of the flattening case in canonicalization pass.
  lib/Dialect/RTL/Ops.cpp
Labels: RTL

#153 [StandardToHandshake] Remove ostream.
  lib/Conversion/StandardToHandshake/StandardToHandshake.cpp
Labels: Handshake

#154 [RTL] Add canonicalization pass for shift left.
  lib/Dialect/RTL/Ops.cpp
  test/rtl/canonicalization.mlir
Labels: RTL

#172 [README] Add link to the dialect diagram
  README.md
  docs/dialects.drawio
  docs/dialects.png
  docs/dialects.svg
  utils/update-docs-dialects.sh
Labels: documentation

#151 [LLHD] Add most missing LLVM dialect lowerings
  include/circt/Conversion/LLHDToLLVM/LLHDToLLVM.h
  lib/Conversion/LLHDToLLVM/LLHDToLLVM.cpp
  lib/Dialect/LLHD/Simulator/Engine.cpp
  lib/Dialect/LLHD/Simulator/State.cpp
  lib/Dialect/LLHD/Simulator/State.h
  lib/Dialect/LLHD/Simulator/signals-runtime-wrappers.cpp
  lib/Dialect/LLHD/Simulator/signals-runtime-wrappers.h
  test/Conversion/LLHDToLLVM/convert_arithmetic.mlir
  test/Conversion/LLHDToLLVM/convert_bitwise.mlir
  test/Conversion/LLHDToLLVM/convert_entity.mlir
  test/Conversion/LLHDToLLVM/convert_extract.mlir
  test/Conversion/LLHDToLLVM/convert_insert.mlir
  test/Conversion/LLHDToLLVM/convert_process.mlir
  test/Conversion/LLHDToLLVM/convert_process_persistence.mlir
  test/Conversion/LLHDToLLVM/convert_signals.mlir
  test/Conversion/LLHDToLLVM/convert_simple.mlir
  test/Conversion/LLHDToLLVM/convert_value_creation.mlir
  test/Conversion/LLHDToLLVM/convert_value_manip.mlir
  test/Conversion/LLHDToLLVM/convert_wait.mlir
  test/Dialect/LLHD/Simulator/sim_arbitrary_signal_size.mlir
  test/Dialect/LLHD/Simulator/sim_array_boundary_check.mlir
  test/Dialect/LLHD/Simulator/sim_bit_precision_drives.mlir
  test/Dialect/LLHD/Simulator/sim_process.mlir
  test/Dialect/LLHD/Simulator/sim_reg.mlir
  test/Dialect/LLHD/Simulator/sim_shifts.mlir
  test/Dialect/LLHD/Simulator/sim_simple.mlir
  test/Dialect/LLHD/Simulator/sim_wait.mlir
Labels: LLHD
