Repository llvm/circt, pull requests merged in 2020-09, with the labels that each got.

#77 Add a Handshake visitor
  include/circt/Dialect/Handshake/Visitor.h
Labels: Handshake

#79 [HandshakeToFIRRTL] A simple code rewrite using Handshake visitor
  lib/Conversion/HandshakeToFIRRTL/HandshakeToFIRRTL.cpp
Labels: Handshake

#85 [RTL] Add 'and' idompotent case for canonicalization.
  lib/Dialect/RTL/Ops.cpp
  test/rtl/canonicalization.mlir
Labels: RTL

#91 [RTL] Add 'and' constant folding case for canonicalization.
  lib/Dialect/RTL/Ops.cpp
  test/rtl/canonicalization.mlir
Labels: RTL

#92 [RTL] Add ShlOp.
  include/circt/Dialect/RTL/Combinatorial.td
  include/circt/Dialect/RTL/Visitors.h
  lib/EmitVerilog/EmitVerilog.cpp
  test/EmitVerilog/rtl-dialect.mlir
  test/rtl/bitwise.mlir
Labels: RTL

#88 [FIRRTL] Add Circuit Op Verification
  include/circt/Dialect/FIRRTL/OpStructure.td
  lib/Dialect/FIRRTL/Ops.cpp
  test/EmitVerilog/rtl-dialect.mlir
  test/EmitVerilog/sv-dialect.mlir
  test/EmitVerilog/verilog-basic.fir
  test/EmitVerilog/verilog-weird.mlir
  test/FIRParser/basic.fir
  test/FIRParser/locations.fir
  test/firrtl/canonicalization.mlir
  test/firrtl/cse.mlir
  test/firrtl/errors.mlir
  test/firrtl/lower-to-rtl.mlir
  test/firrtl/test.mlir
  test/firtool/firtool.fir
  test/firtool/firtool.mlir
  test/firtool/optimizations.fir
Labels: FIRRTL
