Repository llvm/circt, pull requests merged in 2020-07, with the labels that each got.

#12 make and, or, xor, add - variadic
  include/circt/Dialect/RTL/Combinatorial.td
  include/circt/Dialect/RTL/Visitors.h
  lib/Dialect/FIRRTL/LowerToRTL.cpp
  lib/EmitVerilog/EmitVerilog.cpp
  test/EmitVerilog/verilog-rtl-dialect.mlir
  test/rtl/bitwise.mlir
Labels: RTL

#21 Lower connect from FIRRTL to RTL
  lib/Dialect/FIRRTL/LowerToRTL.cpp
  lib/Dialect/FIRRTL/Ops.cpp
  test/firrtl/lower-to-rtl.mlir
Labels: FIRRTL, RTL

#30 Add RegionKindInterface to FModuleOp
  include/circt/Dialect/FIRRTL/FIRRTL.td
  include/circt/Dialect/FIRRTL/OpStructure.td
  include/circt/Dialect/FIRRTL/Ops.h
Labels: FIRRTL

#32 fixes #10; made mul variadic
  include/circt/Dialect/RTL/Combinatorial.td
  lib/EmitVerilog/EmitVerilog.cpp
  test/EmitVerilog/verilog-rtl-dialect.mlir
  test/rtl/bitwise.mlir
Labels: RTL

#25 [LLHD] Allow Signals of Vectors and Tuples
  include/circt/Dialect/LLHD/IR/BitwiseOps.td
  include/circt/Dialect/LLHD/IR/ExtractOps.td
  include/circt/Dialect/LLHD/IR/InsertOps.td
  include/circt/Dialect/LLHD/IR/LLHD.td
  include/circt/Dialect/LLHD/IR/LLHDOps.h
  include/circt/Dialect/LLHD/IR/SignalOps.td
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  test/Dialect/LLHD/IR/bitwise.mlir
  test/Dialect/LLHD/IR/ext.mlir
  test/Dialect/LLHD/IR/sig.mlir
Labels: LLHD

#29 Add -remove-block-structure for Handshake dialect
  lib/Conversion/StandardToHandshake/StandardToHandshake.cpp
  test/Conversion/StandardToHandshake/test_remove_block.mlir
Labels: Handshake

#27 Lower Handshake to FIRRTL
  include/circt/Conversion/HandshakeToFIRRTL/HandshakeToFIRRTL.h
  lib/Conversion/CMakeLists.txt
  lib/Conversion/HandshakeToFIRRTL/CMakeLists.txt
  lib/Conversion/HandshakeToFIRRTL/HandshakeToFIRRTL.cpp
  test/Conversion/HandshakeToFIRRTL/simple_addi.mlir
  test/Conversion/HandshakeToFIRRTL/test_branch.mlir
  test/Conversion/HandshakeToFIRRTL/test_cmerge.mlir
  test/Conversion/HandshakeToFIRRTL/test_conditional_branch.mlir
  test/Conversion/HandshakeToFIRRTL/test_constant.mlir
  test/Conversion/HandshakeToFIRRTL/test_join.mlir
  test/Conversion/HandshakeToFIRRTL/test_lazy_fork.mlir
  test/Conversion/HandshakeToFIRRTL/test_merge.mlir
  test/Conversion/HandshakeToFIRRTL/test_mux.mlir
  test/Conversion/HandshakeToFIRRTL/test_sink.mlir
  tools/circt-opt/CMakeLists.txt
  tools/circt-opt/circt-opt.cpp
Labels: FIRRTL, Handshake

#37 Move handshake from mlir:: to circt::
  include/circt/Conversion/HandshakeToFIRRTL/HandshakeToFIRRTL.h
  include/circt/Conversion/StandardToHandshake/StandardToHandshake.h
  include/circt/Dialect/Handshake/HandshakeOps.h
  lib/Conversion/HandshakeToFIRRTL/HandshakeToFIRRTL.cpp
  lib/Conversion/StandardToHandshake/StandardToHandshake.cpp
  lib/Dialect/Handshake/HandshakeOps.cpp
  tools/handshake-runner/handshake-runner.cpp
Labels: Handshake

#38 RTL variadic folds
  include/circt/Dialect/RTL/Combinatorial.td
  lib/Dialect/RTL/Ops.cpp
  test/rtl/canonicalization.mlir
Labels: RTL

#36 [LLHD] Add equality operations
  include/circt/Dialect/LLHD/IR/ArithmeticOps.td
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  test/Dialect/LLHD/Canonicalization/arithmetic.mlir
  test/Dialect/LLHD/IR/arithmetic.mlir
Labels: LLHD

#39 Add buffer operation to Handshake dialect
  include/circt/Dialect/Handshake/HandshakeOps.td
  lib/Conversion/StandardToHandshake/StandardToHandshake.cpp
  test/Conversion/StandardToHandshake/test_insert_buffer.mlir
Labels: Handshake

#35 [LLHD] Add extract field operations
  include/circt/Dialect/LLHD/IR/ExtractOps.td
  test/Dialect/LLHD/IR/ext.mlir
  test/Dialect/LLHD/IR/extract.mlir
Labels: LLHD

#40 variadic identity
  include/circt/Dialect/RTL/Combinatorial.td
  lib/Dialect/RTL/Ops.cpp
  test/rtl/canonicalization.mlir
  test/rtl/errors.mlir
Labels: RTL

#47 [LLHD] Add array type and array_uniform operation
  include/circt/Dialect/LLHD/IR/LLHD.td
  include/circt/Dialect/LLHD/IR/LLHDDialect.h
  include/circt/Dialect/LLHD/IR/ValueOps.td
  lib/Dialect/LLHD/IR/LLHDDialect.cpp
  test/Dialect/LLHD/IR/vec.mlir
Labels: LLHD

#44 [LLHD] Rename insert and extract slice operations
  include/circt/Dialect/LLHD/IR/ExtractOps.td
  include/circt/Dialect/LLHD/IR/InsertOps.td
  lib/Conversion/LLHDToLLVM/LLHDToLLVM.cpp
  test/Conversion/LLHDToLLVM/convert_value_manip.mlir
  test/Dialect/LLHD/IR/extract.mlir
  test/Dialect/LLHD/IR/insert.mlir
  test/Dialect/LLHD/Simulator/sim_bit_precision_drives.mlir
Labels: LLHD

#43 Enhance bitwise folders and add canonicalization patterns
  include/circt/Dialect/LLHD/IR/ArithmeticOps.td
  include/circt/Dialect/LLHD/IR/BitwiseOps.td
  include/circt/Dialect/LLHD/IR/CMakeLists.txt
  include/circt/Dialect/LLHD/IR/LLHDCanonicalization.td
  lib/Dialect/LLHD/IR/CMakeLists.txt
  lib/Dialect/LLHD/IR/LLHDCanonicalization.cpp
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  test/Dialect/LLHD/Canonicalization/arithmetic.mlir
  test/Dialect/LLHD/Canonicalization/bitwise.mlir
  test/Dialect/LLHD/Canonicalization/constant.mlir
  test/Dialect/LLHD/Transforms/canonicalization.mlir
Labels: LLHD

#34 [LLHD] Add memory type and operations
  include/circt/Dialect/LLHD/IR/LLHD.td
  include/circt/Dialect/LLHD/IR/LLHDDialect.h
  include/circt/Dialect/LLHD/IR/MemoryOps.td
  include/circt/Dialect/LLHD/IR/SignalOps.td
  lib/Dialect/LLHD/IR/LLHDDialect.cpp
  test/Dialect/LLHD/Canonicalization/memory.mlir
  test/Dialect/LLHD/IR/memory.mlir
Labels: LLHD

#42 Support sequential module; initial implement of lowering BufferOp
  lib/Conversion/HandshakeToFIRRTL/HandshakeToFIRRTL.cpp
  test/Conversion/HandshakeToFIRRTL/simple_addi.mlir
  test/Conversion/HandshakeToFIRRTL/test_branch.mlir
  test/Conversion/HandshakeToFIRRTL/test_buffer.mlir
  test/Conversion/HandshakeToFIRRTL/test_cmerge.mlir
  test/Conversion/HandshakeToFIRRTL/test_conditional_branch.mlir
  test/Conversion/HandshakeToFIRRTL/test_constant.mlir
  test/Conversion/HandshakeToFIRRTL/test_join.mlir
  test/Conversion/HandshakeToFIRRTL/test_lazy_fork.mlir
  test/Conversion/HandshakeToFIRRTL/test_merge.mlir
  test/Conversion/HandshakeToFIRRTL/test_mux.mlir
  test/Conversion/HandshakeToFIRRTL/test_sink.mlir
Labels: FIRRTL, Handshake

#48 [LLHD] Replace vectors with LLHD array type
  include/circt/Dialect/LLHD/IR/ArithmeticOps.td
  include/circt/Dialect/LLHD/IR/BitwiseOps.td
  include/circt/Dialect/LLHD/IR/ExtractOps.td
  include/circt/Dialect/LLHD/IR/InsertOps.td
  include/circt/Dialect/LLHD/IR/LLHD.td
  include/circt/Dialect/LLHD/IR/MemoryOps.td
  include/circt/Dialect/LLHD/IR/ValueOps.td
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  test/Dialect/LLHD/IR/arithmetic.mlir
  test/Dialect/LLHD/IR/array.mlir
  test/Dialect/LLHD/IR/bitwise.mlir
  test/Dialect/LLHD/IR/extract.mlir
  test/Dialect/LLHD/IR/insert.mlir
  test/Dialect/LLHD/IR/memory.mlir
  test/Dialect/LLHD/IR/signal.mlir
  test/Dialect/LLHD/IR/tuple.mlir
Labels: LLHD

#49 [LLHD] Improve simulator signal representation
  lib/Conversion/LLHDToLLVM/LLHDToLLVM.cpp
  lib/Dialect/LLHD/Simulator/Engine.cpp
  lib/Dialect/LLHD/Simulator/State.cpp
  lib/Dialect/LLHD/Simulator/State.h
  lib/Dialect/LLHD/Simulator/signals-runtime-wrappers.cpp
  lib/Dialect/LLHD/Simulator/signals-runtime-wrappers.h
  test/Conversion/LLHDToLLVM/convert_bitwise.mlir
  test/Conversion/LLHDToLLVM/convert_entity.mlir
  test/Conversion/LLHDToLLVM/convert_process.mlir
  test/Conversion/LLHDToLLVM/convert_signals.mlir
  test/Conversion/LLHDToLLVM/convert_simple.mlir
  test/Conversion/LLHDToLLVM/convert_value_manip.mlir
  test/Dialect/LLHD/Simulator/sim_process.mlir
Labels: LLHD

#53 [LLHD] Mark prb as a memory read operation
  include/circt/Dialect/LLHD/IR/SignalOps.td
  test/Dialect/LLHD/Canonicalization/signals.mlir
Labels: LLHD
