Repository llvm/circt, pull requests merged in 2021-03, with the labels that each got.

#695 [FIRRTL] Split connect error tests from regular tests
  test/Dialect/FIRRTL/connect-errors.mlir
  test/Dialect/FIRRTL/connect.mlir
Labels: FIRRTL

#696 [FIRRTL LowerTypes] Lower wire bundles to individual wires
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  test/Dialect/FIRRTL/lower-types.mlir
Labels: FIRRTL

#732 [ESI] Simple encryption integration test
  integration_test/ESI/cosim/basic.mlir
  integration_test/ESI/cosim/basic.py
  integration_test/ESI/cosim/cosim.py
  integration_test/ESI/supplements/integers.sv
Labels: ESI, enhancement

#743 [FIRRTL LowerTypes] Add FExtModule type lowering
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Conversion/FIRRTLToRTL/LowerToRTL.cpp
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  test/Dialect/FIRRTL/lower-types.mlir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#756 [firtool] Add option to emit one file per Verilog module
  include/circt/Translation/ExportVerilog.h
  lib/Translation/ExportVerilog/ExportVerilog.cpp
  test/firtool/split_verilog.mlir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#793 [ExportVerilog] Parallelize split Verilog output and print file list
  include/circt/Translation/ExportVerilog.h
  lib/Translation/ExportVerilog/ExportVerilog.cpp
  test/firtool/split_verilog.mlir
  tools/firtool/firtool.cpp
Labels: ExportVerilog, Verilog/SystemVerilog

#770 [SV] Add RTL name legalization pass
  include/circt/Dialect/RTL/RTLStructure.td
  include/circt/Dialect/SV/SVAnalyses.h
  include/circt/Dialect/SV/SVDialect.h
  include/circt/Dialect/SV/SVPasses.h
  include/circt/Dialect/SV/SVPasses.td
  include/circt/Dialect/SV/SVTypeDecl.td
  lib/Dialect/SV/Analyses/CMakeLists.txt
  lib/Dialect/SV/Analyses/LegalNames.cpp
  lib/Dialect/SV/CMakeLists.txt
  lib/Dialect/SV/ReservedWords.def
  lib/Dialect/SV/SVDialect.cpp
  lib/Dialect/SV/Transforms/CMakeLists.txt
  lib/Dialect/SV/Transforms/RTLLegalizeNames.cpp
  lib/Translation/ExportVerilog/ExportVerilog.cpp
  test/Dialect/SV/rtl-legalize-names.mlir
Labels: ExportVerilog, RTL, Verilog/SystemVerilog

#814 [FIRRTL] Remove some debug printing from LowerToRTL
  lib/Conversion/FIRRTLToRTL/LowerToRTL.cpp
Labels: FIRRTL

#818 Remove unused functions in FIRParser and ExportVerilog
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Translation/ExportVerilog/ExportVerilog.cpp
Labels: ExportVerilog, FIRRTL

#807 [ExportVerilog] Use LegalNamesAnalysis to determine module names
  include/circt/Dialect/SV/SVDialect.h
  lib/Dialect/SV/SVDialect.cpp
  lib/Dialect/SV/Transforms/RTLLegalizeNames.cpp
  lib/Translation/ExportVerilog/ExportVerilog.cpp
  test/Dialect/SV/rtl-legalize-names-errors.mlir
  test/ExportVerilog/rtl-dialect.mlir
  test/ExportVerilog/sv-dialect.mlir
  test/ExportVerilog/sv-interfaces.mlir
  test/ExportVerilog/verilog-basic.mlir
  test/ExportVerilog/verilog-errors.mlir
  test/firtool/split-verilog.mlir
  tools/firtool/firtool.cpp
Labels: ExportVerilog, Verilog/SystemVerilog

#829 [FIRRTL] Add constant folders and canonicalization for comparison ops
  include/circt/Dialect/FIRRTL/CMakeLists.txt
  include/circt/Dialect/FIRRTL/Canonicalization.td
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  lib/Dialect/FIRRTL/CMakeLists.txt
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  test/Dialect/FIRRTL/canonicalization.mlir
  test/Dialect/FIRRTL/const-prop-single-module.fir
Labels: FIRRTL

#834 [FIRRTL] Nest CSE+Canon passes to run on FModuleOp
  tools/firtool/firtool.cpp
Labels: FIRRTL

#853 [FIRRTL] Migrate const prop test case from FIRRTL to MLIR
  test/Dialect/FIRRTL/const-prop-single-module.fir
  test/Dialect/FIRRTL/const-prop-single-module.mlir
Labels: FIRRTL
