Repository llvm/circt, pull requests merged in 2021-06, with the labels that each got.

#1182 [FIRRTL] Add verbatim.expr operation
  docs/RationaleFIRRTL.md
  include/circt/Dialect/FIRRTL/FIRRTL.td
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  include/circt/Dialect/FIRRTL/FIRRTLOps.h
  include/circt/Dialect/FIRRTL/FIRRTLVisitors.h
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
  test/Dialect/FIRRTL/test.mlir
Labels: FIRRTL, enhancement

#1210 [PyCDE] Add a types module to easily create MLIR types
  frontends/PyCDE/src/pycde/__init__.py
  frontends/PyCDE/src/pycde/types.py
  frontends/PyCDE/test/polynomial.py
Labels: PyCDE

#1212 [PyCDE] Add @externmodule annotation
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/test/polynomial.py
Labels: PyCDE

#1216 [Py] Ditch `BuilderValue` in favor of unified `OpOperand`
  frontends/PyCDE/src/pycde/module.py
  lib/Bindings/Python/circt/support.py
Labels: Python

#1208 [FIRRTL] Add instance graph
  include/circt/Dialect/FIRRTL/InstanceGraph.h
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/InstanceGraph.cpp
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/PrintInstanceGraph.cpp
  test/Dialect/FIRRTL/print-instance-graph.mlir
Labels: FIRRTL

#1219 [PyCDE] Pass module parameters as generate function args
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/test/polynomial.py
  lib/Bindings/Python/circt/support.py
Labels: PyCDE

#1218 [FIRRTL] Expand AnnotationSet mutation API
  include/circt/Dialect/FIRRTL/FIRRTLAnnotations.h
  lib/Dialect/FIRRTL/FIRRTLAnnotations.cpp
Labels: FIRRTL, enhancement

#1233 [PyCDE] Allow generators to ignore parameters
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/test/generator_options.py
  frontends/PyCDE/test/polynomial.py
Labels: PyCDE

#1222 [PyCDE] Set the module name to differentiate modules with different parameters
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/test/polynomial.py
Labels: PyCDE

#1211 [FIRRTL][LowerTypes] Use FieldRefs instead of suffix strings
  include/circt/Dialect/FIRRTL/FIRRTLTypes.h
  lib/Dialect/FIRRTL/FIRRTLDialect.cpp
  lib/Dialect/FIRRTL/FIRRTLTypes.cpp
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
Labels: FIRRTL

#1226 [FIRRTL] Make width inference ready for on-by-default
  include/circt/Dialect/FIRRTL/FIRRTLOps.h
  include/circt/Dialect/FIRRTL/FIRRTLTypes.h
  lib/Dialect/FIRRTL/FIRRTLTypes.cpp
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Labels: FIRRTL, enhancement, infer width

#1238 [FIRRTL] Infer widths across modules and instances
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
  test/Dialect/FIRRTL/infer-widths-errors.mlir
  test/Dialect/FIRRTL/infer-widths.mlir
Labels: FIRRTL, infer width

#1250 [FIRRTL][InferWidths] Add support for NodeOp
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
  test/Dialect/FIRRTL/infer-widths.mlir
Labels: FIRRTL

#1252 [FIRRTL][ExpandWhens] Analog types do not need to be initialized
  lib/Dialect/FIRRTL/Transforms/ExpandWhens.cpp
  test/Dialect/FIRRTL/expand-whens.mlir
Labels: FIRRTL

#1253 [FIRRTL] Don't allow connecting two bundles with internal analog types
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/connect-errors.mlir
Labels: FIRRTL

#1251 [PyCDE] Add `dim` function to create multidimensional array
  frontends/PyCDE/src/pycde/types.py
  frontends/PyCDE/test/misc.py
Labels: PyCDE

#1249 [FIRParser] Fix crash when mport is eating the skip op
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/parse-basic.fir
Labels: FIRRTL

#1242 [firtool] Enable width inference by default
  tools/firtool/firtool.cpp
Labels: FIRRTL, enhancement

#1257 [FIRRTL][InferWidths] Add support for aggregate types
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
  test/Dialect/FIRRTL/infer-widths.mlir
Labels: FIRRTL

#1241 [PyCDE] Declare parameterized modules in functions
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/test/errors.py
  frontends/PyCDE/test/generator_options.py
  frontends/PyCDE/test/polynomial.py
  lib/Bindings/Python/circt/support.py
Labels: PyCDE

#1260 [FIRRTL][InferWidths] Add support for MemOp
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
  test/Dialect/FIRRTL/infer-widths.mlir
Labels: FIRRTL, infer width

#1265 [FIRRTL][InferWidths] Add support for PartialConnectOp
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
  test/Dialect/FIRRTL/infer-widths-errors.mlir
  test/Dialect/FIRRTL/infer-widths.mlir
Labels: FIRRTL, infer width

#1274 [FIRRTL] Preserve cached analysis when nothing changes a few passes
  lib/Dialect/FIRRTL/Transforms/BlackBoxMemory.cpp
  lib/Dialect/FIRRTL/Transforms/BlackBoxReader.cpp
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Labels: FIRRTL

#1272 [FIRRTL][ExpandWhens] Split the module body processing
  lib/Dialect/FIRRTL/Transforms/ExpandWhens.cpp
  test/Dialect/FIRRTL/expand-whens.mlir
Labels: FIRRTL

#1269 [FIRRTL][InferWidths] Tighten LinIneq addition lower bounds, update solver
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
  test/Dialect/FIRRTL/infer-widths-errors.mlir
  test/Dialect/FIRRTL/infer-widths.mlir
Labels: FIRRTL, infer width

#1170 Grand Central Interface Support
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Import/FIRAnnotations.cpp
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/GrandCentral.cpp
  lib/Dialect/FIRRTL/Transforms/PassDetails.h
  test/Dialect/FIRRTL/grand-central-errors.mlir
  test/Dialect/FIRRTL/grand-central.mlir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#1178 [FIRRTL] Add pass to handle grand central data and memory taps
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/GrandCentralTaps.cpp
  test/Dialect/FIRRTL/grand-central-taps.mlir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#1293 [FIRRTL] Fix width inference for aggregate types
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
  test/Dialect/FIRRTL/check-widths-errors.mlir
  test/Dialect/FIRRTL/infer-widths-errors.mlir
  test/Dialect/FIRRTL/infer-widths.mlir
Labels: FIRRTL

#1285 [PyCDE] Add graphviz output
  frontends/PyCDE/src/pycde/system.py
  frontends/PyCDE/test/polynomial.py
Labels: PyCDE

#1295 [FIRRTL][InferWidths] Allow connect truncation all the way to 0 bits
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
  test/Dialect/FIRRTL/infer-widths.mlir
Labels: FIRRTL

#1287 Calyx dialect initial commit.
  include/circt/Dialect/CMakeLists.txt
  include/circt/Dialect/Calyx/CMakeLists.txt
  include/circt/Dialect/Calyx/Calyx.td
  include/circt/Dialect/Calyx/CalyxDialect.h
  include/circt/Dialect/Calyx/CalyxOps.h
  include/circt/Dialect/Calyx/CalyxStructure.td
  include/circt/InitAllDialects.h
  lib/Dialect/CMakeLists.txt
  lib/Dialect/Calyx/CMakeLists.txt
  lib/Dialect/Calyx/CalyxDialect.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
  test/circt-opt/commandline.mlir
  tools/circt-opt/CMakeLists.txt
Labels: Calyx

#1311 [FIRRTL][ExpandWhens] Print one init error per run
  lib/Dialect/FIRRTL/Transforms/ExpandWhens.cpp
  test/Dialect/FIRRTL/expand-whens-errors.mlir
Labels: FIRRTL

#1306 [PrettifyVerilog] Sink constants into the block where they are used
  lib/Dialect/SV/Transforms/PrettifyVerilog.cpp
  test/Dialect/SV/prettify-verilog.mlir
Labels: Verilog/SystemVerilog

#1310 [ExportVerilog] Make alwaysff emit as always by default
  include/circt/Support/LoweringOptions.h
  lib/Support/LoweringOptions.cpp
  test/ExportVerilog/hw-dialect.mlir
  test/ExportVerilog/sv-alwaysff.mlir
  test/ExportVerilog/sv-dialect.mlir
  test/ExportVerilog/verilog-basic.mlir
  test/firtool/firtool.fir
  test/firtool/style.fir
Labels: ExportVerilog

#1301 [Calyx] Add Component and sub-sections.
  include/circt/Dialect/Calyx/Calyx.td
  include/circt/Dialect/Calyx/CalyxStructure.td
  lib/Dialect/Calyx/CMakeLists.txt
  lib/Dialect/Calyx/CalyxOps.cpp
  test/Dialect/Calyx/round-trip.mlir
Labels: Calyx

#1318 [Calyx] Add Cell, Program ops.
  include/circt/Dialect/Calyx/Calyx.td
  include/circt/Dialect/Calyx/CalyxOps.h
  include/circt/Dialect/Calyx/CalyxStructure.td
  lib/Dialect/Calyx/CalyxOps.cpp
  test/Dialect/Calyx/errors.mlir
  test/Dialect/Calyx/round-trip.mlir
Labels: Calyx

#1348 [PyCDE] Add source location info where we control operation creation
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/src/pycde/support.py
  lib/Dialect/MSFT/MSFTGenerator.cpp
Labels: PyCDE

#1353 [Comb] Move ICmpPredicate into comb namespace
  include/circt/Dialect/Comb/Combinational.td
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/SV/Transforms/HWMemSimImpl.cpp
Labels: HW
