Repository llvm/circt, pull requests merged in 2021-09, with the labels that each got.

#1676 [Calyx] Add ParOp.
  include/circt/Dialect/Calyx/CalyxControl.td
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Dialect/Calyx/emit.mlir
  test/Dialect/Calyx/round-trip.mlir
Labels: Calyx

#1684 [ExportVerilog] Add always_comb lowering option
  include/circt/Support/LoweringOptions.h
  lib/Support/LoweringOptions.cpp
  lib/Translation/ExportVerilog/ExportVerilog.cpp
  test/ExportVerilog/sv-alwayscomb.mlir
  test/ExportVerilog/sv-dialect.mlir
  test/firtool/style.fir
Labels: ExportVerilog

#1686 [Calyx] Emitter only imports a library if necessary.
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Dialect/Calyx/emit.mlir
Labels: Calyx

#1697 [Calyx] Update verification of AssignOp to include Cells.
  lib/Dialect/Calyx/CalyxOps.cpp
  test/Dialect/Calyx/errors.mlir
Labels: Calyx

#1637 [FIRRTL] Clean up generated type parser/printer use
  include/circt/Dialect/FIRRTL/FIRRTLTypes.h
  lib/Dialect/FIRRTL/FIRRTLTypes.cpp
  test/Dialect/FIRRTL/errors.mlir
Labels: enhancement, FIRRTL

#1702 [LLHD] Replace llhd.const with hw.constant
  include/circt/Dialect/LLHD/IR/LLHDCanonicalization.td
  include/circt/Dialect/LLHD/IR/ValueOps.td
  lib/Conversion/HWToLLHD/HWToLLHD.cpp
  lib/Conversion/LLHDToLLVM/LLHDToLLVM.cpp
  lib/Dialect/HW/HWDialect.cpp
  lib/Dialect/LLHD/Export/CMakeLists.txt
  lib/Dialect/LLHD/Export/TranslateToVerilog.cpp
  lib/Dialect/LLHD/IR/LLHDCanonicalization.cpp
  lib/Dialect/LLHD/IR/LLHDDialect.cpp
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  test/Conversion/LLHDToLLVM/convert_bitwise.mlir
  test/Conversion/LLHDToLLVM/convert_process_persistence.mlir
  test/Conversion/LLHDToLLVM/convert_signals.mlir
  test/Conversion/LLHDToLLVM/convert_simple.mlir
  test/Conversion/LLHDToLLVM/convert_value_creation.mlir
  test/Conversion/LLHDToLLVM/convert_wait.mlir
  test/Dialect/LLHD/Canonicalization/arithmetic.mlir
  test/Dialect/LLHD/Canonicalization/bitwise.mlir
  test/Dialect/LLHD/Canonicalization/constant.mlir
  test/Dialect/LLHD/Canonicalization/extract.mlir
  test/Dialect/LLHD/Canonicalization/signalOps.mlir
  test/Dialect/LLHD/Export/verilog_arithmetic.mlir
  test/Dialect/LLHD/Export/verilog_bitwise.mlir
  test/Dialect/LLHD/Export/verilog_relations.mlir
  test/Dialect/LLHD/Export/verilog_sig.mlir
  test/Dialect/LLHD/Export/verilog_sig_errors.mlir
  test/Dialect/LLHD/IR/const.mlir
  test/Dialect/LLHD/IR/entity.mlir
  test/Dialect/LLHD/IR/reg.mlir
  test/Dialect/LLHD/IR/signal-errors.mlir
  test/Dialect/LLHD/IR/signal.mlir
  test/Dialect/LLHD/IR/type-and-attribute-parsing.mlir
  test/Dialect/LLHD/IR/wait.mlir
  test/Dialect/LLHD/Simulator/sim_arbitrary_signal_size.mlir
  test/Dialect/LLHD/Simulator/sim_array_boundary_check.mlir
  test/Dialect/LLHD/Simulator/sim_bit_precision_drives.mlir
  test/Dialect/LLHD/Simulator/sim_formats.mlir
  test/Dialect/LLHD/Simulator/sim_process.mlir
  test/Dialect/LLHD/Simulator/sim_reg.mlir
  test/Dialect/LLHD/Simulator/sim_shifts.mlir
  test/Dialect/LLHD/Simulator/sim_simple.mlir
  test/Dialect/LLHD/Simulator/sim_wait.mlir
  test/Dialect/LLHD/Transforms/earlyCodeMotion.mlir
  test/Dialect/LLHD/Transforms/memoryToBlockArgument.mlir
  test/Dialect/LLHD/Transforms/processLoweringErrors.mlir
  test/Dialect/LLHD/Transforms/totalFunctionInlining.mlir
Labels: LLHD

#1492 Add a FIR emitter
  include/circt/Dialect/FIRRTL/FIREmitter.h
  include/circt/InitAllTranslations.h
  lib/Dialect/FIRRTL/CMakeLists.txt
  lib/Dialect/FIRRTL/Export/CMakeLists.txt
  lib/Dialect/FIRRTL/Export/FIREmitter.cpp
  test/Dialect/FIRRTL/emit-basic.mlir
Labels: FIRRTL

#1720 [Calyx] Add `clk` port to MemoryOp.
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  lib/Dialect/Calyx/CalyxOps.cpp
  test/Dialect/Calyx/emit.mlir
  test/Dialect/Calyx/errors.mlir
  test/Dialect/Calyx/round-trip.mlir
Labels: Calyx

#1721 [Calyx] Verify the component does something.
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Dialect/Calyx/compile-control.mlir
  test/Dialect/Calyx/emit.mlir
  test/Dialect/Calyx/errors.mlir
  test/Dialect/Calyx/go-insertion.mlir
  test/Dialect/Calyx/remove-groups.mlir
  test/Dialect/Calyx/round-trip.mlir
Labels: Calyx

#1729 [Calyx] Verify that multiple control regions are nested in a sequential or parallel operation.
  lib/Dialect/Calyx/CalyxOps.cpp
  test/Dialect/Calyx/emit.mlir
  test/Dialect/Calyx/errors.mlir
  test/Dialect/Calyx/round-trip.mlir
Labels: Calyx

#1726 [Calyx] Add emission for component Block Arguments.
  include/circt/Dialect/Calyx/CalyxOps.h
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Dialect/Calyx/emit.mlir
Labels: Calyx

#1709 [ExportVerilog] Flip the default output of `sv.alwaysComb` ops
  docs/VerilogGeneration.md
  include/circt/Support/LoweringOptions.h
  lib/Support/LoweringOptions.cpp
  lib/Translation/ExportVerilog/ExportVerilog.cpp
  test/ExportVerilog/sv-alwayscomb.mlir
  test/ExportVerilog/sv-dialect.mlir
  test/firtool/style.fir
Labels: ExportVerilog

#1730 [FIRRTL] Implement SymbolUserOpInterface for InstanceOp
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  include/circt/Support/LLVM.h
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
Labels: FIRRTL

#1719 [PyCDE] Use and expose new device database
  frontends/PyCDE/src/pycde/instance.py
  frontends/PyCDE/src/pycde/system.py
  frontends/PyCDE/test/instances.py
Labels: PyCDE

#1737 [Calyx] Rename ComponentPortInfo to PortInfo.
  include/circt/Dialect/Calyx/CalyxInterfaces.td
  include/circt/Dialect/Calyx/CalyxOps.h
  include/circt/Dialect/Calyx/CalyxStructure.td
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
Labels: Calyx

#1496 [FIRRTL] Rework Grand Central Views/Interfaces, Add XMR Support
  docs/FIRRTLAnnotations.md
  include/circt/Dialect/FIRRTL/FIRRTLTypes.td
  lib/Dialect/FIRRTL/Import/FIRAnnotations.cpp
  lib/Dialect/FIRRTL/Transforms/GrandCentral.cpp
  test/Dialect/FIRRTL/annotations.fir
  test/Dialect/FIRRTL/grand-central-errors.mlir
  test/Dialect/FIRRTL/grand-central.mlir
Labels: FIRRTL

#1747 [HW] Implement SymbolUserOpInterface for HW's IntanceOp
  include/circt/Dialect/HW/HWStructure.td
  lib/Dialect/HW/HWOps.cpp
Labels: HW

#1727 [Calyx] Parse attributes for BlockArguments and emit Calyx attributes.
  include/circt/Dialect/Calyx/CalyxInterfaces.td
  include/circt/Dialect/Calyx/CalyxOps.h
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Dialect/Calyx/compile-control.mlir
  test/Dialect/Calyx/emit.mlir
  test/Dialect/Calyx/errors.mlir
  test/Dialect/Calyx/go-insertion.mlir
  test/Dialect/Calyx/remove-groups.mlir
  test/Dialect/Calyx/round-trip.mlir
Labels: Calyx

#1748 [FIRRTL] Rename Directions enum to In and Out
  include/circt/Dialect/FIRRTL/FIRRTLOpInterfaces.h
  lib/Conversion/HandshakeToFIRRTL/HandshakeToFIRRTL.cpp
  lib/Dialect/FIRRTL/Export/FIREmitter.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Transforms/BlackBoxMemory.cpp
  lib/Dialect/FIRRTL/Transforms/ExpandWhens.cpp
  lib/Dialect/FIRRTL/Transforms/IMConstProp.cpp
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
Labels: FIRRTL

#1753 [PyCDE] Add bitvector extraction syntatic sugar
  frontends/PyCDE/src/pycde/value.py
  frontends/PyCDE/test/syntactic_sugar.py
Labels: PyCDE

#1420 [FIRRTL] Implement LiteralDataTapKey support
  lib/Dialect/FIRRTL/Transforms/GrandCentralTaps.cpp
  test/Dialect/FIRRTL/grand-central-taps.mlir
Labels: FIRRTL

#1756 [MSFT] Introduce `InstanceOp`
  include/circt/Dialect/MSFT/MSFT.td
  include/circt/Dialect/MSFT/MSFTOps.h
  include/circt/Dialect/MSFT/MSFTOps.td
  lib/Dialect/MSFT/CMakeLists.txt
  lib/Dialect/MSFT/MSFTDialect.cpp
  lib/Dialect/MSFT/MSFTOps.cpp
  test/Dialect/MSFT/module_instance.mlir
Labels: msft

#1760 [MSFT] Lower msft.instance to hw.instance
  include/circt/Dialect/MSFT/MSFTPasses.td
  include/circt/InitAllPasses.h
  lib/Dialect/MSFT/CMakeLists.txt
  lib/Dialect/MSFT/MSFTPasses.cpp
  test/Dialect/MSFT/module_instance.mlir
Labels: msft

#1766 [Calyx] Fix twine usage in emitter
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
Labels: Calyx

#1762 [Calyx] Add support for primitive port attributes.
  include/circt/Dialect/Calyx/CalyxInterfaces.td
  include/circt/Dialect/Calyx/CalyxOps.h
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Dialect/Calyx/errors.mlir
Labels: Calyx

#1764 [Calyx] Verify CombGroupOp is combinational and certain primitive ports are driven together.
  include/circt/Dialect/Calyx/CalyxInterfaces.td
  include/circt/Dialect/Calyx/CalyxOps.h
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  include/circt/Dialect/Calyx/CalyxStructure.td
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Dialect/Calyx/emit.mlir
  test/Dialect/Calyx/errors.mlir
Labels: Calyx

#1772 [Seq] [CompRegOp] Make 'name' non-optional but allow it to be empty
  include/circt/Dialect/Seq/Seq.td
  lib/Bindings/Python/circt/dialects/_seq_ops_ext.py
  lib/Dialect/Seq/SeqOps.cpp
  lib/Dialect/Seq/SeqPasses.cpp
Labels: seq

#1774 [Calyx] Verify that sources of group ports and assignments are not logically complex.
  include/circt/Dialect/Calyx/Calyx.td
  lib/Dialect/Calyx/CalyxOps.cpp
  test/Dialect/Calyx/errors.mlir
Labels: Calyx

#1781 [Calyx] Add combinational trait.
  include/circt/Dialect/Calyx/CalyxOps.h
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  lib/Dialect/Calyx/CalyxOps.cpp
  test/Dialect/Calyx/errors.mlir
  test/Dialect/Calyx/round-trip.mlir
Labels: Calyx

#1787 [HW] [MSFT] Remove unnecessary assertions in `getReferencedModule` and add SymbolOpUserInterface to MSFT InstanceOp.
  include/circt/Dialect/MSFT/MSFT.td
  include/circt/Dialect/MSFT/MSFTOps.td
  lib/Dialect/HW/HWOps.cpp
  lib/Dialect/MSFT/MSFTOps.cpp
  test/Dialect/MSFT/opt-errors.mlir
Labels: HW, msft

#1773 [HW] [NFC] Extract out printing/parsing functions for modules
  include/circt/Dialect/HW/ModuleImplementation.h
  lib/Dialect/HW/CMakeLists.txt
  lib/Dialect/HW/HWOps.cpp
  lib/Dialect/HW/ModuleImplementation.cpp
Labels: HW

#1183 [FIRRTL] Add PrefixModules pass
  docs/FIRRTLAnnotations.md
  include/circt/Dialect/FIRRTL/InstanceGraph.h
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/InstanceGraph.cpp
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/PrefixModules.cpp
  test/Dialect/FIRRTL/prefix-modules.mlir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#1801 [MSFT] Add `MSFTModuleOp`
  include/circt/Dialect/MSFT/MSFT.td
  include/circt/Dialect/MSFT/MSFTOps.td
  lib/Dialect/MSFT/MSFTDialect.cpp
  lib/Dialect/MSFT/MSFTOps.cpp
  lib/Dialect/MSFT/MSFTPasses.cpp
  test/Dialect/MSFT/module_instance.mlir
Labels: msft

#1803 [MSFT] Lower `MSFTModuleOp`s to `HWModuleOp`s
  include/circt/Dialect/MSFT/MSFTOps.td
  include/circt/Dialect/MSFT/MSFTPasses.td
  lib/Dialect/MSFT/CMakeLists.txt
  lib/Dialect/MSFT/MSFTOps.cpp
  lib/Dialect/MSFT/MSFTPasses.cpp
  test/Dialect/MSFT/module_instance.mlir
Labels: msft

#1804 [Calyx] [NFC] Emitter now emits `ElseRegion`.
  include/circt/Dialect/Calyx/CalyxControl.td
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Dialect/Calyx/emit.mlir
Labels: Calyx

#1817 [ESI] Use new ParameterAttr for module parameters
  lib/Dialect/ESI/ESIPasses.cpp
Labels: ESI

#1812 [SCFToCalyx] Add SCFToCalyx boilerplate [1/13]
  include/circt/Conversion/Passes.h
  include/circt/Conversion/Passes.td
  include/circt/Conversion/SCFToCalyx/SCFToCalyx.h
  lib/Conversion/CMakeLists.txt
  lib/Conversion/PassDetail.h
  lib/Conversion/SCFToCalyx/CMakeLists.txt
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  test/circt-opt/commandline.mlir
  tools/circt-opt/CMakeLists.txt
  tools/circt-opt/circt-opt.cpp
Labels: Calyx

#1813 [SCFToCalyx] Add calyx::ProgramOp conversion [2/13]
  include/circt/Conversion/Passes.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  test/Conversion/SCFToCalyx/errors.mlir
Labels: Calyx

#1826 [FIRRTL][Inliner] Don't delete unknown ops when deleting dead modules
  lib/Dialect/FIRRTL/Transforms/ModuleInliner.cpp
  test/Dialect/FIRRTL/inliner.mlir
Labels: FIRRTL

#1827 [FIRRTL][LowerToHW] Pass through `sv.verbatim` ops
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw-module.mlir
Labels: FIRRTL

#1815 [SCFToCalyx] Add partial lowering infrastructure [4/13]
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Labels: Calyx

#1836 [FIRRTL] Move pass into anonymous namespace, NFC
  lib/Dialect/FIRRTL/Transforms/ExpandWhens.cpp
Labels: FIRRTL

#1843 [Calyx] [NFC] Explicitly require ports to have SSA argument, colon, and type.
  lib/Dialect/Calyx/CalyxOps.cpp
Labels: Calyx

#1854 [Calyx] [SCFToCalyx] Add EnableOp builder which doesn't require the `compiledGroups` attribute.
  include/circt/Dialect/Calyx/CalyxControl.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  test/Conversion/SCFToCalyx/convert_controlflow.mlir
  test/Conversion/SCFToCalyx/convert_simple.mlir
Labels: Calyx

#1858 [Python] Fix Python Bindings
  include/circt-c/Dialect/HW.h
  integration_test/Bindings/Python/dialects/msft.py
  integration_test/Bindings/Python/dialects/rtl.py
  lib/Bindings/Python/HWModule.cpp
  lib/Bindings/Python/circt/dialects/_hw_ops_ext.py
  lib/CAPI/Dialect/HW.cpp
Labels: Python

#1870 [Calyx] [SCFToCalyx] Add helper methods for IfOp.
  include/circt/Dialect/Calyx/CalyxControl.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
Labels: Calyx

#1872 [Calyx] [SCFToCalyx] Add builders with no guard.
  include/circt/Dialect/Calyx/CalyxStructure.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Labels: Calyx

#1444 [FIRRTL] Validate reg async reset value is constant at LowerToHW Time
  include/circt/Dialect/FIRRTL/FIRRTLCanonicalization.td
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  include/circt/Dialect/FIRRTL/FIRRTLOps.h
  include/circt/Dialect/FIRRTL/FIRRTLTypes.td
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Conversion/FIRRTLToHW/errors.mlir
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
  test/Dialect/FIRRTL/SFCTests/async-reset-errors.mlir
  test/Dialect/FIRRTL/inliner.mlir
Labels: enhancement, FIRRTL

#1879 [Calyx] Use native compiler representation for guarded assignments and ports.
  include/circt/Dialect/Calyx/Calyx.td
  include/circt/Dialect/Calyx/CalyxStructure.td
  lib/Dialect/Calyx/CalyxOps.cpp
  test/Conversion/SCFToCalyx/convert_controlflow.mlir
  test/Conversion/SCFToCalyx/convert_simple.mlir
  test/Dialect/Calyx/compile-control.mlir
  test/Dialect/Calyx/emit.mlir
  test/Dialect/Calyx/errors.mlir
  test/Dialect/Calyx/go-insertion.mlir
  test/Dialect/Calyx/remove-groups.mlir
Labels: Calyx

#1882 [FIRRTL] Fix expand whens bug
  lib/Dialect/FIRRTL/Transforms/ExpandWhens.cpp
  test/Dialect/FIRRTL/expand-whens.mlir
Labels: FIRRTL

#1874 [PyCDE] Move to `msft.module`/`msft.instance` and move generation into Python
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/src/pycde/support.py
  frontends/PyCDE/src/pycde/system.py
  frontends/PyCDE/src/pycde/value.py
  frontends/PyCDE/test/compreg.py
  frontends/PyCDE/test/generator_options.py
  frontends/PyCDE/test/instances.py
  frontends/PyCDE/test/module_naming.py
  frontends/PyCDE/test/polynomial.py
  frontends/PyCDE/test/syntactic_sugar.py
  frontends/PyCDE/test/verilog_readablility.py
Labels: PyCDE

#1883 [Calyx] [SCFToCalyx] Add collapse-control canonicalization pattern for IfOp, SeqOp and ParOp.
  include/circt/Dialect/Calyx/CalyxControl.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
  test/Conversion/SCFToCalyx/convert_controlflow.mlir
  test/Conversion/SCFToCalyx/convert_memory.mlir
  test/Conversion/SCFToCalyx/convert_simple.mlir
  test/Dialect/Calyx/canonicalization.mlir
Labels: Calyx

#1889 [FIRRTL] Rename EmitMetadata to CreateSiFIveMetadata
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
  tools/firtool/firtool.cpp
Labels: FIRRTL

#1782 [LLHD] Generate types, attributes and their storages using tablegen
  include/circt/Dialect/LLHD/IR/CMakeLists.txt
  include/circt/Dialect/LLHD/IR/LLHD.td
  include/circt/Dialect/LLHD/IR/LLHDDialect.h
  include/circt/Dialect/LLHD/IR/LLHDOps.h
  include/circt/Dialect/LLHD/IR/LLHDTypes.h
  include/circt/Dialect/LLHD/IR/LLHDTypesImpl.td
  include/circt/Dialect/LLHD/IR/ValueOps.td
  lib/Conversion/HWToLLHD/HWToLLHD.cpp
  lib/Conversion/LLHDToLLVM/LLHDToLLVM.cpp
  lib/Dialect/LLHD/IR/CMakeLists.txt
  lib/Dialect/LLHD/IR/LLHDDialect.cpp
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  lib/Dialect/LLHD/IR/LLHDTypes.cpp
Labels: LLHD

#1892 [Calyx] Add verifier for ParOp.
  include/circt/Dialect/Calyx/CalyxControl.td
  lib/Dialect/Calyx/CalyxOps.cpp
  test/Dialect/Calyx/errors.mlir
Labels: Calyx

#1886 [Scheduling] Define modulo scheduling problem.
  include/circt/Scheduling/Problems.h
  lib/Scheduling/Problems.cpp
  lib/Scheduling/TestPasses.cpp
  test/Scheduling/modulo-problem-errors.mlir
  test/Scheduling/modulo-problems.mlir
Labels: Scheduling

#1888 [Scheduling] Refactor validation framework.
  include/circt/Scheduling/Problems.h
  lib/Scheduling/Problems.cpp
Labels: Scheduling

#1902 [FIRRTL] Fix use of invalidated iterators in InferResets
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
Labels: bug, FIRRTL

#1903 [FIRRTL] Make CircuitNamespace helper public
  include/circt/Dialect/FIRRTL/CircuitNamespace.h
  lib/Dialect/FIRRTL/Transforms/GrandCentral.cpp
Labels: enhancement, FIRRTL

#1900 [PyCDE] Fix instances to fit new model
  frontends/PyCDE/src/pycde/instance.py
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/src/pycde/system.py
  frontends/PyCDE/test/instances.py
Labels: PyCDE

#1895 [Calyx] Add enhancements to common tail elimination for `IfOp`.
  include/circt/Dialect/Calyx/CalyxControl.td
  lib/Dialect/Calyx/CalyxOps.cpp
  test/Dialect/Calyx/canonicalization.mlir
Labels: Calyx

#1665 [FIRRTL] Add first implementation of EmitSignalMappings
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Import/FIRAnnotations.cpp
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/GrandCentralSignalMappings.cpp
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  test/Dialect/FIRRTL/SFCTests/signal-mappings-subCircuit.json
  test/Dialect/FIRRTL/SFCTests/signal-mappings.fir
  test/Dialect/FIRRTL/annotations.fir
  test/Dialect/FIRRTL/grand-central-signal-mappings.mlir
  test/Dialect/FIRRTL/lower-types.mlir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#1907 [Calyx] Add canonicalization for empty bodies.
  include/circt/Dialect/Calyx/CalyxControl.td
  include/circt/Dialect/Calyx/CalyxStructure.td
  lib/Dialect/Calyx/CalyxOps.cpp
  test/Dialect/Calyx/canonicalization.mlir
  test/Dialect/Calyx/errors.mlir
Labels: Calyx

#1910 [FIRRTL][InferResets] Use instance graph
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
Labels: FIRRTL

#1908 [PyCDE] Use `System` to track raw CIRCT module ops
  frontends/PyCDE/src/pycde/instance.py
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/src/pycde/system.py
  frontends/PyCDE/test/instances.py
Labels: PyCDE

#1909 [Calyx] [SCFToCalyx] Add simplified builders for `SeqOp` and `ParOp`.
  include/circt/Dialect/Calyx/CalyxControl.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
Labels: Calyx

#1911 [FIRRTL] Remove extra semicolons, NFC
  lib/Dialect/FIRRTL/Import/FIRAnnotations.cpp
  lib/Dialect/FIRRTL/Transforms/LowerAnnotations.cpp
Labels: FIRRTL
