Repository llvm/circt, pull requests merged in 2021-08, with the labels that each got.

#1474 [Calyx] Add RemoveGroups pass.
  include/circt/Dialect/Calyx/CalyxPasses.h
  include/circt/Dialect/Calyx/CalyxPasses.td
  include/circt/Dialect/Calyx/CalyxStructure.td
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Transforms/CMakeLists.txt
  lib/Dialect/Calyx/Transforms/GoInsertion.cpp
  lib/Dialect/Calyx/Transforms/PassDetails.h
  lib/Dialect/Calyx/Transforms/RemoveGroups.cpp
  test/Dialect/Calyx/remove-groups.mlir
Labels: Calyx

#1500 [Calyx] Add emitter for native IR.
  include/circt/Dialect/Calyx/CalyxEmitter.h
  include/circt/InitAllTranslations.h
  lib/Dialect/Calyx/CMakeLists.txt
  lib/Dialect/Calyx/Export/CMakeLists.txt
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Dialect/Calyx/emit.mlir
Labels: Calyx

#1502 [Calyx] Add CalyxToHW scaffolding.
  include/circt/Conversion/CalyxToHW/CalyxToHW.h
  include/circt/Conversion/Passes.h
  include/circt/Conversion/Passes.td
  lib/Conversion/CMakeLists.txt
  lib/Conversion/CalyxToHW/CMakeLists.txt
  lib/Conversion/CalyxToHW/CalyxToHW.cpp
  lib/Conversion/PassDetail.h
  tools/circt-opt/CMakeLists.txt
Labels: Calyx

#1519 [Calyx] Emit (unguarded) assignments.
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Dialect/Calyx/emit.mlir
Labels: Calyx

#1527 [firtool] Add split-input-file and verify-diagnostics options
  test/firtool/commandline.mlir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#1526 [Scheduling] Add simplex scheduler for the cyclic problem.
  include/circt/Scheduling/Algorithms.h
  lib/Scheduling/CMakeLists.txt
  lib/Scheduling/SimplexScheduler.cpp
  lib/Scheduling/TestPasses.cpp
  test/Scheduling/cyclic-problems.mlir
  test/Scheduling/simplex-errors.mlir
Labels: Scheduling

#1529 Added Tcl bindings for loading an MLIR file.
  CMakeLists.txt
  integration_test/Bindings/Tcl/Inputs/simple.mlir
  integration_test/Bindings/Tcl/simple.tcl
  integration_test/lit.cfg.py
  integration_test/lit.site.cfg.py.in
  lib/Bindings/CMakeLists.txt
  lib/Bindings/Tcl/CMakeLists.txt
  lib/Bindings/Tcl/circt_tcl.cpp
Labels: enhancement, Tcl

#1535 [Scheduling] Support for basic problems in the simplex scheduler.
  include/circt/Scheduling/Algorithms.h
  lib/Scheduling/SimplexScheduler.cpp
  lib/Scheduling/TestPasses.cpp
  test/Scheduling/problems.mlir
Labels: Scheduling

#1552 [Scheduling] Add problem model for shared, pipelined operators.
  include/circt/Scheduling/Problems.h
  lib/Scheduling/Problems.cpp
  lib/Scheduling/TestPasses.cpp
  test/Scheduling/spo-problem-errors.mlir
  test/Scheduling/spo-problems.mlir
Labels: Scheduling

#1304 [FIRRTL] Add InferResets pass
  include/circt/Dialect/FIRRTL/FIRRTLOps.h
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  include/circt/Support/FieldRef.h
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  test/Dialect/FIRRTL/infer-resets-errors.mlir
  test/Dialect/FIRRTL/infer-resets.mlir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#1562 [Scheduling] [NFC] Refactor simplex schedulers, clarify comments.
  include/circt/Scheduling/Algorithms.h
  lib/Scheduling/CMakeLists.txt
  lib/Scheduling/SimplexSchedulers.cpp
Labels: Scheduling

#1559 [Comb] Fold a large series of of mux ops into array_create/get.
  lib/Dialect/Comb/CombFolds.cpp
  test/Dialect/Comb/canonicalization.mlir
Labels: HW

#1571 [ExportVerilog] Don't output temporaries for output port assignments
  lib/Translation/ExportVerilog/ExportVerilog.cpp
  test/ExportVerilog/hw-dialect.mlir
Labels: ExportVerilog

#1576 [FIRRTL][InferReset] Properly infer resets in nested aggregates
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  test/Dialect/FIRRTL/infer-resets.mlir
Labels: FIRRTL

#1595 [ESI] [Python] Move functionality through the C API
  include/circt-c/Dialect/ESI.h
  lib/Bindings/Python/ESIModule.cpp
  lib/CAPI/Dialect/ESI.cpp
Labels: ESI

#1577 [Calyx] Add Cell trait.
  include/circt/Dialect/Calyx/Calyx.td
  include/circt/Dialect/Calyx/CalyxDialect.h
  include/circt/Dialect/Calyx/CalyxOps.h
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  include/circt/Dialect/Calyx/CalyxStructure.td
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Dialect/Calyx/compile-control.mlir
  test/Dialect/Calyx/emit.mlir
  test/Dialect/Calyx/errors.mlir
  test/Dialect/Calyx/go-insertion.mlir
  test/Dialect/Calyx/remove-groups.mlir
  test/Dialect/Calyx/round-trip.mlir
Labels: Calyx

#1539 [FIRRTL] Enhance CHIRRTL memory ops and types
  docs/RationaleFIRRTL.md
  include/circt/Dialect/FIRRTL/CMakeLists.txt
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  include/circt/Dialect/FIRRTL/FIRRTLTypes.h
  include/circt/Dialect/FIRRTL/FIRRTLTypes.td
  include/circt/Dialect/FIRRTL/FIRRTLVisitors.h
  lib/Dialect/FIRRTL/CMakeLists.txt
  lib/Dialect/FIRRTL/FIRRTLDialect.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/FIRRTLTypes.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Transforms/ExpandWhens.cpp
  lib/Dialect/FIRRTL/Transforms/ModuleInliner.cpp
  test/Dialect/FIRRTL/annotations.fir
  test/Dialect/FIRRTL/errors.mlir
  test/Dialect/FIRRTL/inliner.mlir
  test/Dialect/FIRRTL/parse-basic.fir
Labels: FIRRTL

#1588 [FIRRTL][Parser] Stop removing no-op nodes when parsing
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/parse-basic.fir
Labels: FIRRTL

#1603 [firtool] Add --parse-only option
  test/firtool/firtool.fir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#1610 [Scheduling] [NFC] Adhere more closely to notation in the paper.
  lib/Scheduling/SimplexSchedulers.cpp
Labels: Scheduling

#1609 [PyCDE] Value naming enhancements
  frontends/PyCDE/src/pycde/value.py
  frontends/PyCDE/test/syntactic_sugar.py
Labels: PyCDE

#1614 [PyCDE] Instance hierarchy walks
  frontends/PyCDE/src/pycde/instance.py
  frontends/PyCDE/src/pycde/system.py
  frontends/PyCDE/test/instances.py
  frontends/PyCDE/test/polynomial.py
Labels: PyCDE

#1615 [PyCDE] Instance placement API
  frontends/PyCDE/src/pycde/instance.py
  frontends/PyCDE/src/pycde/system.py
  frontends/PyCDE/test/instances.py
  integration_test/Bindings/Python/dialects/msft.py
  lib/Bindings/Python/MSFTModule.cpp
Labels: PyCDE

#1540 [FIRRTL] Implement SFC's RemoveCHIRRTL pass
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  include/circt/Dialect/FIRRTL/FIRRTLOps.h
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/LowerCHIRRTL.cpp
  test/Dialect/FIRRTL/infer-memories-errors.mlir
  test/Dialect/FIRRTL/infer-memories.mlir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#1618 [firtool] move BlackboxMemory before LowerTypes
  test/firtool/chirrtl.fir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#1620 [Scheduling] [1/3] Add scheduler for shared pipelined operators problem: Preparations.
  include/circt/Scheduling/Algorithms.h
  lib/Scheduling/SimplexSchedulers.cpp
  lib/Scheduling/TestPasses.cpp
  test/Scheduling/cyclic-problems.mlir
  test/Scheduling/problems.mlir
  test/Scheduling/simplex-errors.mlir
  test/Scheduling/spo-problems.mlir
Labels: Scheduling

#1621 [Scheduling] [2/3] Add scheduler for shared pipelined operators problem: Tableau transformations.
  lib/Scheduling/SimplexSchedulers.cpp
Labels: Scheduling

#1622 [Scheduling] [3/3] Add scheduler for shared pipelined operators problem: Heuristic algorithm.
  lib/Scheduling/SimplexSchedulers.cpp
  test/Scheduling/spo-problems.mlir
Labels: Scheduling

#1626 [PyCDE] Adds 'AppID' and attributes
  frontends/PyCDE/src/pycde/__init__.py
  frontends/PyCDE/src/pycde/appid.py
  frontends/PyCDE/src/pycde/attributes.py
  frontends/PyCDE/src/pycde/instance.py
  frontends/PyCDE/src/pycde/system.py
  frontends/PyCDE/test/instances.py
Labels: PyCDE

#1649 [LLHD] Use comb dialects ops where possible
  include/circt/Dialect/LLHD/IR/ArithmeticOps.td
  include/circt/Dialect/LLHD/IR/BitwiseOps.td
  include/circt/Dialect/LLHD/IR/LLHDCanonicalization.td
  lib/Conversion/LLHDToLLVM/CMakeLists.txt
  lib/Conversion/LLHDToLLVM/LLHDToLLVM.cpp
  lib/Dialect/Comb/CombFolds.cpp
  lib/Dialect/LLHD/Export/CMakeLists.txt
  lib/Dialect/LLHD/Export/TranslateToVerilog.cpp
  lib/Dialect/LLHD/IR/LLHDCanonicalization.cpp
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  test/Conversion/LLHDToLLVM/convert_bitwise.mlir
  test/Conversion/LLHDToLLVM/convert_simple.mlir
  test/Dialect/Comb/canonicalization.mlir
  test/Dialect/LLHD/Canonicalization/arithmetic.mlir
  test/Dialect/LLHD/Canonicalization/bitwise.mlir
  test/Dialect/LLHD/Export/verilog_bitwise.mlir
  test/Dialect/LLHD/IR/arithmetic.mlir
  test/Dialect/LLHD/IR/bitwise.mlir
  test/Dialect/LLHD/Simulator/sim_process.mlir
  test/Dialect/LLHD/Simulator/sim_reg.mlir
  test/Dialect/LLHD/Simulator/sim_simple.mlir
  test/Dialect/LLHD/Transforms/earlyCodeMotion.mlir
  test/Dialect/LLHD/Transforms/memoryToBlockArgument.mlir
  tools/llhd-sim/CMakeLists.txt
  tools/llhd-sim/llhd-sim.cpp
Labels: LLHD

#1659 [PyCDE] Setup.py to compile Python wheel
  frontends/PyCDE/pyproject.toml
  frontends/PyCDE/setup.py
Labels: PyCDE

#1660 [LLHD] Replace standard dialect arithmetic ops with comb ops
  lib/Conversion/LLHDToLLVM/LLHDToLLVM.cpp
  lib/Dialect/LLHD/Export/CMakeLists.txt
  lib/Dialect/LLHD/Export/TranslateToVerilog.cpp
  test/Conversion/LLHDToLLVM/convert_arithmetic.mlir
  test/Conversion/LLHDToLLVM/convert_bitwise.mlir
  test/Dialect/LLHD/Export/verilog_arithmetic.mlir
  test/Dialect/LLHD/Export/verilog_bitwise.mlir
  test/Dialect/LLHD/Export/verilog_relations.mlir
Labels: LLHD

#1664 [FIRRTL] Add data taps integration test, fix issues
  lib/Dialect/FIRRTL/Import/FIRAnnotations.cpp
  lib/Dialect/FIRRTL/Transforms/GrandCentralTaps.cpp
  test/Dialect/FIRRTL/SFCTests/data-taps.anno.json
  test/Dialect/FIRRTL/SFCTests/data-taps.fir
  test/Dialect/FIRRTL/annotations.fir
  test/Dialect/FIRRTL/grand-central-taps.mlir
Labels: bug, FIRRTL

#1661 [Calyx] Add verifier for AssignOp.
  include/circt/Dialect/Calyx/CalyxStructure.td
  lib/Dialect/Calyx/CalyxOps.cpp
  test/Dialect/Calyx/errors.mlir
Labels: Calyx

#1669 [LLHD] Use integer, array and struct types from HW dialect
  include/circt/Dialect/HW/HWTypes.td
  include/circt/Dialect/LLHD/IR/ArithmeticOps.td
  include/circt/Dialect/LLHD/IR/BitwiseOps.td
  include/circt/Dialect/LLHD/IR/ExtractOps.td
  include/circt/Dialect/LLHD/IR/InsertOps.td
  include/circt/Dialect/LLHD/IR/LLHD.td
  include/circt/Dialect/LLHD/IR/LLHDDialect.h
  include/circt/Dialect/LLHD/IR/LLHDOps.h
  include/circt/Dialect/LLHD/IR/ValueOps.td
  lib/Conversion/LLHDToLLVM/LLHDToLLVM.cpp
  lib/Dialect/LLHD/IR/CMakeLists.txt
  lib/Dialect/LLHD/IR/LLHDDialect.cpp
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  test/Conversion/LLHDToLLVM/convert_extract.mlir
  test/Conversion/LLHDToLLVM/convert_insert.mlir
  test/Conversion/LLHDToLLVM/convert_signals.mlir
  test/Conversion/LLHDToLLVM/convert_value_creation.mlir
  test/Dialect/LLHD/Canonicalization/extract.mlir
  test/Dialect/LLHD/IR/arithmetic.mlir
  test/Dialect/LLHD/IR/array.mlir
  test/Dialect/LLHD/IR/bitwise.mlir
  test/Dialect/LLHD/IR/extract-errors.mlir
  test/Dialect/LLHD/IR/extract.mlir
  test/Dialect/LLHD/IR/insert-errors.mlir
  test/Dialect/LLHD/IR/insert.mlir
  test/Dialect/LLHD/IR/memory.mlir
  test/Dialect/LLHD/IR/signal.mlir
  test/Dialect/LLHD/IR/tuple.mlir
  test/Dialect/LLHD/Simulator/sim_array_boundary_check.mlir
  tools/llhd-sim/CMakeLists.txt
  tools/llhd-sim/llhd-sim.cpp
Labels: LLHD

#1662 [Calyx] Add more operations for emission to native compiler.
  include/circt/Dialect/Calyx/Calyx.td
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Dialect/Calyx/emit.mlir
Labels: Calyx
