Repository llvm/circt, pull requests merged in 2021-10, with the labels that each got.

#1914 [Calyx] [SCFToCalyx] Initialize bodies upon build.
  include/circt/Dialect/Calyx/CalyxControl.td
  include/circt/Dialect/Calyx/CalyxStructure.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/Transforms/CompileControl.cpp
Labels: Calyx

#1918 [MSFT] Removing C++ generator code
  include/circt-c/Dialect/MSFT.h
  include/circt/Dialect/MSFT/MSFT.td
  include/circt/Dialect/MSFT/MSFTDialect.h
  include/circt/Dialect/MSFT/MSFTPasses.td
  lib/Bindings/Python/MSFTModule.cpp
  lib/CAPI/Dialect/MSFT.cpp
  lib/Dialect/MSFT/MSFTPasses.cpp
Labels: msft

#1919 [PyCDE] Move from returning output values to setting them
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/test/compreg.py
  frontends/PyCDE/test/instances.py
  frontends/PyCDE/test/module_naming.py
  frontends/PyCDE/test/polynomial.py
  frontends/PyCDE/test/syntactic_sugar.py
  frontends/PyCDE/test/verilog_readablility.py
Labels: PyCDE

#1921 [MSFT] Adding DeviceDB
  include/circt-c/Dialect/MSFT.h
  include/circt/Dialect/MSFT/DeviceDB.h
  integration_test/Bindings/Python/dialects/msft.py
  lib/Bindings/Python/MSFTModule.cpp
  lib/CAPI/Dialect/MSFT.cpp
  lib/Dialect/MSFT/CMakeLists.txt
  lib/Dialect/MSFT/DeviceDB.cpp
Labels: msft

#1922 [MSFT] Use a DeviceDB to seed a PlacementDB
  include/circt-c/Dialect/MSFT.h
  include/circt/Dialect/MSFT/DeviceDB.h
  include/circt/Dialect/MSFT/PlacementDB.h
  integration_test/Bindings/Python/dialects/msft.py
  lib/Bindings/Python/MSFTModule.cpp
  lib/CAPI/Dialect/MSFT.cpp
  lib/Dialect/MSFT/DeviceDB.cpp
  lib/Dialect/MSFT/PlacementDB.cpp
Labels: msft

#1924 [Calyx] [SCFToCalyx] Change Cell instance name from StringAttr to FlatSymbolRefAttr.
  include/circt/Dialect/Calyx/CalyxInterfaces.td
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  include/circt/Dialect/Calyx/CalyxStructure.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Transforms/CompileControl.cpp
  test/Conversion/SCFToCalyx/convert_controlflow.mlir
  test/Conversion/SCFToCalyx/convert_memory.mlir
  test/Conversion/SCFToCalyx/convert_simple.mlir
  test/Dialect/Calyx/canonicalization.mlir
  test/Dialect/Calyx/compile-control.mlir
  test/Dialect/Calyx/emit.mlir
  test/Dialect/Calyx/errors.mlir
  test/Dialect/Calyx/go-insertion.mlir
  test/Dialect/Calyx/remove-groups.mlir
  test/Dialect/Calyx/round-trip.mlir
Labels: Calyx

#1912 [FIRRTL][InferReset] Keep instance graph properly updated
  include/circt/Dialect/FIRRTL/InstanceGraph.h
  lib/Dialect/FIRRTL/InstanceGraph.cpp
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
Labels: FIRRTL
