Repository llvm/circt, pull requests merged in 2021-07, with the labels that each got.

#1355 [PyCDE] Make `pycde.support.Value` get the PyType if not specified
  frontends/PyCDE/src/pycde/support.py
  lib/Bindings/Python/circt/support.py
Labels: PyCDE

#1367 [HW] Remove redundant verification for OutputOp.
  codeowners/hw.json
  lib/Dialect/HW/HWOps.cpp
Labels: HW

#1370 [Calyx] Add scaffolding for passes.
  include/circt/Dialect/Calyx/CMakeLists.txt
  include/circt/Dialect/Calyx/CalyxPasses.h
  include/circt/Dialect/Calyx/CalyxPasses.td
  include/circt/InitAllPasses.h
  lib/Dialect/Calyx/CMakeLists.txt
  lib/Dialect/Calyx/Transforms/CMakeLists.txt
  lib/Dialect/Calyx/Transforms/CalyxPasses.cpp
  lib/Dialect/Calyx/Transforms/PassDetails.h
  tools/circt-opt/CMakeLists.txt
  tools/circt-opt/circt-opt.cpp
Labels: Calyx

#1366 [Calyx] Add guard for assignments and done operations.
  include/circt/Dialect/Calyx/CalyxStructure.td
  lib/Dialect/Calyx/CalyxOps.cpp
  test/Dialect/Calyx/round-trip.mlir
Labels: Calyx

#1364 [Py] [PyCDE] Add `get_fields` to struct type and use it in pycde
  frontends/PyCDE/src/pycde/support.py
  frontends/PyCDE/test/pycde_types.py
  include/circt-c/Dialect/HW.h
  lib/Bindings/Python/HWModule.cpp
  lib/CAPI/Dialect/HW.cpp
Labels: PyCDE, Python

#1376 [FIRRTL] Add folders for no-effect casts
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  test/Dialect/FIRRTL/canonicalization.mlir
Labels: FIRRTL

#1382 [Py] [PyCDE] Use `bitcast` to convert structs to TypeAliasTypes and take advantage of aliases
  frontends/PyCDE/src/pycde/module.py
  lib/Bindings/Python/circt/dialects/_hw_ops_ext.py
  lib/Bindings/Python/circt/support.py
Labels: PyCDE, Python

#1372 [Calyx] Add Enable and Sequential Ops.
  include/circt/Dialect/Calyx/Calyx.td
  include/circt/Dialect/Calyx/CalyxControl.td
  include/circt/Dialect/Calyx/CalyxOps.h
  include/circt/Dialect/Calyx/CalyxStructure.td
  lib/Dialect/Calyx/CalyxOps.cpp
  test/Dialect/Calyx/errors.mlir
  test/Dialect/Calyx/round-trip.mlir
Labels: Calyx

#1392 [Scheduling] Separate problems and algorithms.
  include/circt/Scheduling/Algorithms.h
  include/circt/Scheduling/DependenceIterator.h
  include/circt/Scheduling/Problems.h
  lib/Scheduling/ASAPScheduler.cpp
  lib/Scheduling/CMakeLists.txt
  lib/Scheduling/Problems.cpp
  test/Scheduling/TestPasses.cpp
Labels: Scheduling

#1387 [Calyx] Add Go Insertion Pass, GroupGoOp.
  include/circt/Dialect/Calyx/Calyx.td
  include/circt/Dialect/Calyx/CalyxDialect.h
  include/circt/Dialect/Calyx/CalyxPasses.h
  include/circt/Dialect/Calyx/CalyxPasses.td
  include/circt/Dialect/Calyx/CalyxStructure.td
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Transforms/CMakeLists.txt
  lib/Dialect/Calyx/Transforms/CalyxPasses.cpp
  lib/Dialect/Calyx/Transforms/GoInsertion.cpp
  lib/Dialect/Calyx/Transforms/PassDetails.h
  test/Dialect/Calyx/errors.mlir
  test/Dialect/Calyx/go-insertion.mlir
  test/Dialect/Calyx/round-trip.mlir
Labels: Calyx

#1395 [Calyx] Clean up ControlLike trait.
  include/circt/Dialect/Calyx/CalyxControl.td
  include/circt/Dialect/Calyx/CalyxOps.h
  lib/Dialect/Calyx/CalyxOps.cpp
  test/Dialect/Calyx/errors.mlir
Labels: Calyx

#1401 [PyCDE] Make systems feel more like modules
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/src/pycde/system.py
Labels: PyCDE

#1411 [SV] [NFC] Adding boilerplate for attributes
  include/circt/Dialect/SV/CMakeLists.txt
  include/circt/Dialect/SV/SV.td
  include/circt/Dialect/SV/SVAttributes.h
  include/circt/Dialect/SV/SVAttributes.td
  lib/Dialect/SV/SVAttributes.cpp
  lib/Dialect/SV/SVDialect.cpp
Labels: Verilog/SystemVerilog

#1413 [Scheduling] Add an algorithm-independent problem test.
  test/Scheduling/TestPasses.cpp
  test/Scheduling/asap-errors.mlir
  test/Scheduling/problem-errors.mlir
  test/Scheduling/problems.mlir
  test/Scheduling/test_asap.mlir
Labels: Scheduling

#1431 [Scheduling] Move test passes from test/ to lib/.
  lib/Scheduling/CMakeLists.txt
  lib/Scheduling/TestPasses.cpp
  test/CMakeLists.txt
  test/Scheduling/CMakeLists.txt
Labels: Scheduling

#1428 [SV] Fix the parameter integer printing for widths >32 bits
  lib/Translation/ExportVerilog/ExportVerilog.cpp
  test/ExportVerilog/hw-dialect.mlir
  test/ExportVerilog/verilog-basic.mlir
Labels: ExportVerilog

#1422 [FIRRTL] Merge CheckWidths into InferWidths
  include/circt/Dialect/FIRRTL/FIRRTLDialect.h
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  include/circt/Support/FieldRef.h
  lib/Dialect/FIRRTL/FIRRTLDialect.cpp
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/CheckWidths.cpp
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
  test/Dialect/FIRRTL/check-widths-errors.mlir
  test/Dialect/FIRRTL/infer-widths-errors.mlir
  tools/firtool/firtool.cpp
Labels: FIRRTL, infer width

#1404 [Calyx] Add helper functions, other cleanup for upcoming CompileControl pass.
  include/circt/Dialect/Calyx/Calyx.td
  include/circt/Dialect/Calyx/CalyxPasses.td
  include/circt/Dialect/Calyx/CalyxStructure.td
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Transforms/GoInsertion.cpp
  test/Dialect/Calyx/errors.mlir
  test/Dialect/Calyx/go-insertion.mlir
  test/Dialect/Calyx/round-trip.mlir
Labels: Calyx

#1406 [Calyx] Add RegisterOp, use OpAsmOpInterface.
  include/circt/Dialect/Calyx/Calyx.td
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  include/circt/Dialect/Calyx/CalyxStructure.td
  lib/Dialect/Calyx/CalyxOps.cpp
  test/Dialect/Calyx/errors.mlir
  test/Dialect/Calyx/go-insertion.mlir
  test/Dialect/Calyx/round-trip.mlir
Labels: Calyx

#1441 [FIRRTL] Canonicalize regreset with invalidvalue
  include/circt/Dialect/FIRRTL/FIRRTLCanonicalization.td
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  test/Dialect/FIRRTL/canonicalization.mlir
Labels: FIRRTL, enhancement

#1409 [PyCDE] Add `obj_to_value`, which converts Python objects to MLIR Values
  frontends/PyCDE/src/pycde/__init__.py
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/src/pycde/support.py
  frontends/PyCDE/src/pycde/system.py
  frontends/PyCDE/test/polynomial.py
  frontends/PyCDE/test/syntactic_sugar.py
  lib/Bindings/Python/circt/dialects/_hw_ops_ext.py
Labels: PyCDE

#1448 [PyCDE] Add `PyCDEType` to extend a type, adding `inner` and `create` methods
  frontends/PyCDE/src/pycde/support.py
  frontends/PyCDE/src/pycde/types.py
  frontends/PyCDE/test/syntactic_sugar.py
Labels: PyCDE

#1442 [FIRRTL] Add insertPorts utility to FModuleOp
  include/circt/Dialect/FIRRTL/FIRRTLStructure.td
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
Labels: FIRRTL, enhancement

#1458 [PyCDE] Support python objects as generator returns
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/src/pycde/support.py
  frontends/PyCDE/src/pycde/types.py
  frontends/PyCDE/test/syntactic_sugar.py
Labels: PyCDE

#1460 [PyCDE] Add `no_connect` value
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/src/pycde/support.py
  frontends/PyCDE/test/syntactic_sugar.py
Labels: PyCDE

#1410 [Calyx] Add required ports to components.
  include/circt/Dialect/Calyx/CalyxStructure.td
  lib/Dialect/Calyx/CalyxOps.cpp
  test/Dialect/Calyx/errors.mlir
  test/Dialect/Calyx/go-insertion.mlir
  test/Dialect/Calyx/round-trip.mlir
Labels: Calyx

#1403 [Calyx] Add CompileControl pass for single SeqOp.
  include/circt/Dialect/Calyx/CalyxControl.td
  include/circt/Dialect/Calyx/CalyxPasses.h
  include/circt/Dialect/Calyx/CalyxPasses.td
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Transforms/CMakeLists.txt
  lib/Dialect/Calyx/Transforms/CompileControl.cpp
  test/Dialect/Calyx/compile-control.mlir
Labels: Calyx

#1472 [LowerToHW] Add whitelist for remaining annotation warnings
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw-errors.mlir
Labels: FIRRTL, HW

#1451 [ExportVerilog] Add option to force wires in event control exprs
  include/circt/Support/LoweringOptions.h
  lib/Support/LoweringOptions.cpp
  lib/Translation/ExportVerilog/ExportVerilog.cpp
  test/ExportVerilog/sv-always-wire.mlir
  test/ExportVerilog/sv-dialect.mlir
Labels: ExportVerilog, enhancement

#1476 [Scheduling] Define cyclic problem.
  include/circt/Scheduling/Problems.h
  lib/Scheduling/Problems.cpp
  lib/Scheduling/TestPasses.cpp
  test/Scheduling/cyclic-problem-errors.mlir
  test/Scheduling/cyclic-problems.mlir
Labels: Scheduling

#1491 [FIRRTL] Infer width from mux sel for known result
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
  test/Dialect/FIRRTL/infer-widths.mlir
Labels: FIRRTL, bug

#1497 [FIRRTL] Add tests from RemoveResetSpec.scala, apply fixes
  include/circt/Dialect/FIRRTL/FIRRTLCanonicalization.td
  test/Dialect/FIRRTL/canonicalization.mlir
  test/Dialect/FIRRTL/remove-reset.mlir
Labels: FIRRTL

#1479 [Calyx] Add OpAsmInterface for components. Use all ports as block arguments.
  include/circt/Dialect/Calyx/CalyxStructure.td
  lib/Dialect/Calyx/CalyxDialect.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
  test/Dialect/Calyx/compile-control.mlir
  test/Dialect/Calyx/round-trip.mlir
Labels: Calyx

#1498 [PyCDE] Refactor `pycde.System` to take a list of modules
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/src/pycde/system.py
  frontends/PyCDE/test/compreg.py
  frontends/PyCDE/test/generator_options.py
  frontends/PyCDE/test/module_naming.py
  frontends/PyCDE/test/polynomial.py
  frontends/PyCDE/test/syntactic_sugar.py
  lib/Dialect/MSFT/MSFTGenerator.cpp
Labels: PyCDE
