Repository llvm/circt, pull requests merged in 2021-05, with the labels that each got.

#944 Remove Type Canonicalization
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  include/circt/Dialect/FIRRTL/FIRRTLOps.h
  include/circt/Dialect/FIRRTL/FIRRTLTypes.td
  lib/Conversion/FIRRTLToRTL/LowerToRTL.cpp
  lib/Conversion/HandshakeToFIRRTL/HandshakeToFIRRTL.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/FIRRTLTypes.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Transforms/BlackboxMemory.cpp
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  test/Conversion/FIRRTLToRTL/errors.mlir
  test/Conversion/FIRRTLToRTL/lower-to-rtl-module.mlir
  test/Conversion/FIRRTLToRTL/lower-to-rtl.mlir
  test/Conversion/FIRRTLToRTL/zero-width.mlir
  test/Conversion/HandshakeToFIRRTL/simple_addi.mlir
  test/Conversion/HandshakeToFIRRTL/test_branch.mlir
  test/Conversion/HandshakeToFIRRTL/test_buffer.mlir
  test/Conversion/HandshakeToFIRRTL/test_cmerge.mlir
  test/Conversion/HandshakeToFIRRTL/test_conditional_branch.mlir
  test/Conversion/HandshakeToFIRRTL/test_constant.mlir
  test/Conversion/HandshakeToFIRRTL/test_fork.mlir
  test/Conversion/HandshakeToFIRRTL/test_join.mlir
  test/Conversion/HandshakeToFIRRTL/test_lazy_fork.mlir
  test/Conversion/HandshakeToFIRRTL/test_memory.mlir
  test/Conversion/HandshakeToFIRRTL/test_merge.mlir
  test/Conversion/HandshakeToFIRRTL/test_mux.mlir
  test/Conversion/HandshakeToFIRRTL/test_sink.mlir
  test/Dialect/FIRRTL/blackbox-memory.mlir
  test/Dialect/FIRRTL/connect-errors.mlir
  test/Dialect/FIRRTL/connect.mlir
  test/Dialect/FIRRTL/errors.mlir
  test/Dialect/FIRRTL/expand-whens.mlir
  test/Dialect/FIRRTL/lower-types.fir
  test/Dialect/FIRRTL/lower-types.mlir
  test/Dialect/FIRRTL/parse-basic.fir
Labels: FIRRTL

#946 [FIRRTL] Make MemOp accessors less pessimistic
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  lib/Conversion/FIRRTLToRTL/LowerToRTL.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
Labels: FIRRTL

#988 [RTLToLLHD] Add conversion for modules and instances with comb ops
  lib/Conversion/RTLToLLHD/RTLToLLHD.cpp
  test/Conversion/RTLToLLHD/errors.mlir
  test/Conversion/RTLToLLHD/structure.mlir
Labels: LLHD

#970 [RTL] Union type
  docs/RationaleRTL-SV.md
  include/circt/Dialect/RTL/RTLAggregates.td
  include/circt/Dialect/RTL/RTLTypes.h
  include/circt/Dialect/RTL/RTLTypes.td
  lib/Dialect/RTL/RTLOps.cpp
  lib/Dialect/RTL/RTLTypes.cpp
  test/Dialect/RTL/basic.mlir
  test/Dialect/RTL/errors.mlir
  test/Dialect/RTL/types.mlir
Labels: RTL

#909 [FIRRTL] Add module inlining pass
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  include/circt/Support/LLVM.h
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/ModuleInliner.cpp
  test/Dialect/FIRRTL/inliner.mlir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#1002 [Python] [RTL] Add RTL pybind module with array and struct type.
  include/circt-c/Dialect/RTL.h
  integration_test/Bindings/Python/dialects/rtl.py
  lib/Bindings/Python/CIRCTModule.cpp
  lib/Bindings/Python/CMakeLists.txt
  lib/Bindings/Python/DialectModules.h
  lib/Bindings/Python/RTLModule.cpp
  lib/Bindings/Python/circt/dialects/rtl.py
  lib/CAPI/Dialect/RTL.cpp
Labels: Python, RTL

#1015 [ESI] [Python] Adding a call for export capnp
  include/circt-c/Dialect/ESI.h
  include/circt/Dialect/ESI/ESIDialect.h
  integration_test/Bindings/Python/dialects/esi.py
  lib/Bindings/Python/ESIModule.cpp
  lib/CAPI/Dialect/ESI.cpp
  lib/Dialect/ESI/ESITranslations.cpp
Labels: ESI, Python

#1017 [ESI] Build capnp encoders/decoders in their own modules
  lib/Dialect/ESI/ESIPasses.cpp
  lib/Dialect/ESI/capnp/ESICapnp.h
  lib/Dialect/ESI/capnp/Schema.cpp
  test/Dialect/ESI/cosim_structs.mlir
  test/Dialect/ESI/lowering.mlir
Labels: ESI

#1020 [ESI] [Python] Refactor "System" to make users subclass it
  integration_test/Bindings/Python/dialects/esi.py
  lib/Bindings/Python/circt/esi.py
Labels: ESI, Python

#1023 [CAPI] Guard esi::exportCosimSchema by CAPNP ifdef
  lib/CAPI/Dialect/ESI.cpp
Labels: ESI, bug

#980 [FIRRTL] Add CheckWidths pass
  include/circt/Dialect/FIRRTL/FIRRTLTypes.h
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/CheckWidths.cpp
  test/Dialect/FIRRTL/check-widths-errors.mlir
Labels: FIRRTL

#1031 [circt-rtl-sim] Run each simulation in its own directory
  integration_test/Dialect/Handshake/loop.mlir
  integration_test/Dialect/Handshake/mac.mlir
  integration_test/Dialect/Handshake/memory.mlir
  tools/circt-rtl-sim/circt-rtl-sim.py.in
  tools/esi/esi-cosim-runner.py.in
Labels: bug

#981 [FIRRTL] Add InferWidths pass
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
  test/Dialect/FIRRTL/infer-widths.mlir
Labels: FIRRTL

#992 [FIRRTL] Add Port Direction
  include/circt/Dialect/FIRRTL/FIRRTLOps.h
  lib/Conversion/FIRRTLToLLHD/FIRRTLToLLHD.cpp
  lib/Conversion/FIRRTLToRTL/LowerToRTL.cpp
  lib/Conversion/HandshakeToFIRRTL/HandshakeToFIRRTL.cpp
  lib/Dialect/FIRRTL/FIRRTLDialect.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Transforms/BlackboxMemory.cpp
  lib/Dialect/FIRRTL/Transforms/ExpandWhens.cpp
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  test/Conversion/FIRRTLToRTL/errors.mlir
  test/Conversion/FIRRTLToRTL/lower-to-rtl-module.mlir
  test/Conversion/FIRRTLToRTL/lower-to-rtl.mlir
  test/Conversion/FIRRTLToRTL/zero-width.mlir
  test/Conversion/HandshakeToFIRRTL/simple_addi.mlir
  test/Conversion/HandshakeToFIRRTL/test_branch.mlir
  test/Conversion/HandshakeToFIRRTL/test_buffer.mlir
  test/Conversion/HandshakeToFIRRTL/test_cmerge.mlir
  test/Conversion/HandshakeToFIRRTL/test_conditional_branch.mlir
  test/Conversion/HandshakeToFIRRTL/test_constant.mlir
  test/Conversion/HandshakeToFIRRTL/test_fork.mlir
  test/Conversion/HandshakeToFIRRTL/test_join.mlir
  test/Conversion/HandshakeToFIRRTL/test_lazy_fork.mlir
  test/Conversion/HandshakeToFIRRTL/test_merge.mlir
  test/Conversion/HandshakeToFIRRTL/test_mux.mlir
  test/Conversion/HandshakeToFIRRTL/test_sink.mlir
  test/Dialect/FIRRTL/blackbox-memory.mlir
  test/Dialect/FIRRTL/canonicalization.mlir
  test/Dialect/FIRRTL/check-widths-errors.mlir
  test/Dialect/FIRRTL/connect-errors.mlir
  test/Dialect/FIRRTL/connect.mlir
  test/Dialect/FIRRTL/const-prop-single-module.mlir
  test/Dialect/FIRRTL/cse.mlir
  test/Dialect/FIRRTL/errors.mlir
  test/Dialect/FIRRTL/expand-whens-errors.mlir
  test/Dialect/FIRRTL/expand-whens.mlir
  test/Dialect/FIRRTL/imconstprop.mlir
  test/Dialect/FIRRTL/infer-widths.mlir
  test/Dialect/FIRRTL/inliner.mlir
  test/Dialect/FIRRTL/lower-types-errors.mlir
  test/Dialect/FIRRTL/lower-types.mlir
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/parse-locations.fir
  test/Dialect/FIRRTL/test.mlir
  test/firtool/firtool.fir
  test/firtool/firtool.mlir
  test/firtool/phase-ordering.fir
Labels: FIRRTL, enhancement

#897 PartialConnectOp Verification, Lowering
  include/circt/Dialect/FIRRTL/FIRRTLStatements.td
  include/circt/Dialect/FIRRTL/FIRRTLTypes.h
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/FIRRTLTypes.cpp
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  test/Dialect/FIRRTL/connect-errors.mlir
  test/Dialect/FIRRTL/lower-types-errors.fir
  test/Dialect/FIRRTL/lower-types.fir
  test/Dialect/FIRRTL/lower-types.mlir
Labels: FIRRTL, enhancement

#1025 [FIRRTL] Add width inference on most expressions
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
  test/Dialect/FIRRTL/infer-widths.mlir
Labels: FIRRTL

#1036 [firtool] Run CheckWidths pass, add option for InferWidths
  tools/firtool/firtool.cpp
Labels: FIRRTL

#1029 [RTL] Add type declaration ops.
  include/circt/Dialect/RTL/RTL.td
  include/circt/Dialect/RTL/RTLTypeDecls.td
  test/Dialect/RTL/typedecls.mlir
Labels: RTL, enhancement

#816 [FIRRTL] Add parser-timing firtool option
  tools/firtool/firtool.cpp
Labels: FIRRTL

#1068 [HandshakeToFIRRTL] Fix use of stack allocated vector.
  lib/Conversion/HandshakeToFIRRTL/HandshakeToFIRRTL.cpp
Labels: Handshake, bug

#1069 [LLHD] Don't erase ops in the folder for Connect and Drv
  include/circt/Dialect/LLHD/IR/SignalOps.td
  include/circt/Dialect/LLHD/IR/StructureOps.td
  lib/Dialect/LLHD/IR/LLHDOps.cpp
Labels: LLHD, bug

#1050 [ExportVerilog] Pass an Operation to print type instead of Location.
  lib/Translation/ExportVerilog/ExportVerilog.cpp
Labels: ExportVerilog

#1070 [LLHD] parseEntityOp: check if the region was parsed correctly
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  test/Dialect/LLHD/IR/connect-errors.mlir
Labels: LLHD

#973 [ExportVerilog] Add `output_file` attribute for top-level ops
  include/circt/Dialect/HW/CMakeLists.txt
  include/circt/Dialect/HW/HWDialect.h
  include/circt/Dialect/HW/HWTypes.td
  include/circt/Dialect/SV/SVDialect.h
  lib/Dialect/HW/HWDialect.cpp
  lib/Translation/ExportVerilog/ExportVerilog.cpp
  test/ExportVerilog/output-file.mlir
  test/firtool/split-verilog.mlir
Labels: ExportVerilog, Verilog/SystemVerilog

#1075 [FIRRTL] Ignore ops not affecting width inference
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
  test/Dialect/FIRRTL/infer-widths.mlir
Labels: FIRRTL

#1102 [FIRRTL] Fix constant width inference and connection truncation
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
  test/Dialect/FIRRTL/infer-widths.mlir
Labels: FIRRTL, bug, infer width

#1105 [FIRRTL] Add NodeOp support to LowerTypes
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  test/Dialect/FIRRTL/lower-types.mlir
Labels: FIRRTL

#1111 [FIRRTL][LowerTypes] Report the op when missing a bundle lowering
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
Labels: FIRRTL

#1114 [FIRRTL] Add a ReplaceSubaccess canonicalizer for SubaccessOp
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  test/Dialect/FIRRTL/canonicalization.mlir
Labels: FIRRTL

#918 [FIRRTL] Add black box source helper pass
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Transforms/BlackBoxReader.cpp
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/PassDetails.h
  test/firtool/blackbox-path.v
  test/firtool/blackbox-resource.v
  test/firtool/blackbox.mlir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#1120 [FIRRTL] Support MuxOp in LowerTypes
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  test/Dialect/FIRRTL/lower-types.mlir
Labels: FIRRTL

#1084 [FIRRTL] Move result type computation to InferTypeOpInterface
  include/circt/Dialect/FIRRTL/FIRRTL.td
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  include/circt/Dialect/FIRRTL/FIRRTLOps.h
  lib/Conversion/HandshakeToFIRRTL/HandshakeToFIRRTL.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/errors.mlir
Labels: FIRRTL

#1121 [FIRRTL] LowerTypes: fix handing of mux ops
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  test/Dialect/FIRRTL/lower-types.mlir
Labels: FIRRTL, bug

#1107 [Python] Set a default context (and location) upon import
  integration_test/Bindings/Python/DesignEntry/polynomial.py
  lib/Bindings/Python/circt/__init__.py
  lib/Bindings/Python/circt/design_entry.py
Labels: Python

#1124 [Py] Adding named input/output args/results to body_builder
  integration_test/Bindings/Python/DesignEntry/connect.py
  integration_test/Bindings/Python/DesignEntry/connect_errors.py
  integration_test/Bindings/Python/DesignEntry/polynomial.py
  integration_test/Bindings/Python/dialects/esi.py
  integration_test/Bindings/Python/dialects/rtl.py
  integration_test/Bindings/Python/dialects/rtl_errors.py
  lib/Bindings/Python/circt/dialects/_hw_ops_ext.py
  lib/Bindings/Python/circt/support.py
Labels: Python

#1141 [Py] Clean up and merge some code
  integration_test/Bindings/Python/DesignEntry/connect.py
  integration_test/Bindings/Python/DesignEntry/polynomial.py
  lib/Bindings/Python/circt/design_entry.py
  lib/Bindings/Python/circt/dialects/_hw_ops_ext.py
  lib/Bindings/Python/circt/support.py
Labels: Python

#1147 [firtool] Move width inference before canonicalization
  tools/firtool/firtool.cpp
Labels: FIRRTL, enhancement

#1153 [FIRRTL] Don't fold mux with unknown result width
  include/circt/Dialect/FIRRTL/FIRRTLCanonicalization.td
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  test/Dialect/FIRRTL/canonicalization.mlir
Labels: FIRRTL, bug

#1154 [FIRRTL] Canonicalize mux by padding operands to same width
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  test/Dialect/FIRRTL/canonicalization.mlir
Labels: FIRRTL, enhancement

#1146 [FIRRTL] Handle registers and recursion during width inference
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
  test/Dialect/FIRRTL/infer-widths-errors.mlir
  test/Dialect/FIRRTL/infer-widths.mlir
Labels: FIRRTL, infer width

#1173 [ExpandWhens] Strip flip types off of bundles before casting
  lib/Dialect/FIRRTL/FIRRTLDialect.cpp
  test/Dialect/FIRRTL/expand-whens.mlir
Labels: FIRRTL, bug

#1174 [firtool] Enable expand-whens by default
  test/Conversion/FIRRTLToLLHD/connect.fir
  test/Conversion/FIRRTLToLLHD/empty_inouts.fir
  test/Conversion/FIRRTLToLLHD/empty_ins.fir
  test/Conversion/FIRRTLToLLHD/empty_none.fir
  test/Conversion/FIRRTLToLLHD/empty_outs.fir
  test/firtool/optimizations.fir
  tools/firtool/firtool.cpp
Labels: FIRRTL
