Repository llvm/circt, pull requests merged in 2021-12, with the labels that each got.

#2264 [LLHD] Use assembly-format for signal and pointer type
  include/circt/Dialect/LLHD/IR/LLHDTypesImpl.td
  lib/Dialect/LLHD/IR/LLHDTypes.cpp
Labels: LLHD

#2228 [ExportVerilog] Fix bind port names not being legalized
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  test/Conversion/ExportVerilog/sv-dialect.mlir
Labels: ExportVerilog

#2147 [FIRRTL] Cleanup some ambiguities about empty port anno/sym arrays
  include/circt/Dialect/FIRRTL/FIRRTLOpInterfaces.td
  lib/Dialect/FIRRTL/FIRRTLOpInterfaces.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
Labels: FIRRTL

#2276 [FIRRTL] Make Annotation hold on to the actual annotation attribute
  include/circt/Dialect/FIRRTL/FIRRTLAnnotations.h
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/FIRRTL/FIRRTLAnnotations.cpp
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
  lib/Dialect/FIRRTL/Transforms/GrandCentralTaps.cpp
  lib/Dialect/FIRRTL/Transforms/PrefixModules.cpp
Labels: FIRRTL

#2275 [FIRRTL] Add method to insert ports into instance ops
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  include/circt/Dialect/FIRRTL/FIRRTLOpInterfaces.h
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
Labels: FIRRTL

#2281 [ExportVerilog] Implement `sv.namehint`
  docs/VerilogGeneration.md
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  test/Conversion/ExportVerilog/hw-dialect.mlir
Labels: ExportVerilog

#2251 [FIRRTL] Improve canonicalization involving `invalidvalue`
  include/circt/Dialect/FIRRTL/FIRRTLCanonicalization.td
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  test/Dialect/FIRRTL/SFCTests/constantProp.mlir
  test/Dialect/FIRRTL/SFCTests/invalid-reg-fail.fir
  test/Dialect/FIRRTL/SFCTests/invalid-reg-pass.fir
  test/Dialect/FIRRTL/canonicalization.mlir
Labels: FIRRTL

#2284 [PyCDE] Updating naming to use new 'sv.namehint' attribute
  frontends/PyCDE/src/pycde/value.py
  frontends/PyCDE/test/syntactic_sugar.py
  frontends/PyCDE/test/verilog_readablility.py
  lib/Dialect/HW/HWOps.cpp
Labels: PyCDE

#2303 [Seq] Add inner_sym attribute to CompReg and use it on RegOp.
  docs/RationaleSeq.md
  include/circt/Dialect/Seq/Seq.td
  lib/Dialect/Seq/SeqOps.cpp
  lib/Dialect/Seq/SeqPasses.cpp
  test/Dialect/Seq/basic.mlir
Labels: seq

#2354 [Comb] Don't canonicalize muxs to array-selects when the index is large
  lib/Dialect/Comb/CombFolds.cpp
  test/Dialect/Comb/canonicalization.mlir
Labels: Comb

#2361 [FIRRTL] Avoid inefficient module walks in EmitOMIR
  lib/Dialect/FIRRTL/Transforms/EmitOMIR.cpp
Labels: enhancement, FIRRTL

#2346 [FIRRTL] Fix OMIR port widths not being hex values
  lib/Dialect/FIRRTL/Transforms/EmitOMIR.cpp
  test/Dialect/FIRRTL/SFCTests/emit-omir.fir
  test/Dialect/FIRRTL/emit-omir.mlir
Labels: bug, FIRRTL

#2233 [Scheduling] Define problem to model operator chaining.
  include/circt/Scheduling/Problems.h
  lib/Scheduling/Problems.cpp
  lib/Scheduling/TestPasses.cpp
  test/Scheduling/chaining-problem-errors.mlir
  test/Scheduling/chaining-problems.mlir
Labels: Scheduling

#2366 [MSFT] Design partition support, part 1
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/src/pycde/support.py
  frontends/PyCDE/src/pycde/system.py
  frontends/PyCDE/test/design_partition.py
  include/circt/Dialect/MSFT/MSFTOps.td
  include/circt/Dialect/MSFT/MSFTPasses.td
  lib/Bindings/Python/circt/dialects/_msft_ops_ext.py
  lib/Dialect/MSFT/MSFTPasses.cpp
  test/Dialect/MSFT/partition.mlir
Labels: PyCDE, msft

#2373 [MSFT] Sort modules based on partial order in instance DAG
  lib/Dialect/MSFT/MSFTPasses.cpp
Labels: msft

#2353 [FIRRTL][PrefixModules] Fix DenseMap node reference invalidation
  lib/Dialect/FIRRTL/Transforms/PrefixModules.cpp
Labels: FIRRTL

#2378 [CombFolds] Fix use-after-free in Mux folder
  lib/Dialect/Comb/CombFolds.cpp
Labels: Comb

#2352 [FIRRTL] Fix Twine usage in `FIRParseAsserts`
  lib/Dialect/FIRRTL/Import/FIRParserAsserts.cpp
Labels: FIRRTL

#2376 [MSFT] Design partition support, part 3
  frontends/PyCDE/test/design_partition.py
  include/circt/Dialect/MSFT/MSFTOps.td
  lib/Dialect/MSFT/MSFTOps.cpp
  lib/Dialect/MSFT/MSFTPasses.cpp
  test/Dialect/MSFT/partition.mlir
Labels: msft

#2396 [Scheduling] Prepare simplex implementation for the modulo scheduler.
  include/circt/Scheduling/Algorithms.h
  lib/Scheduling/SimplexSchedulers.cpp
  lib/Scheduling/TestPasses.cpp
Labels: Scheduling

#2397 [Scheduling] Implement de Dinechin's "fast" modulo scheduler.
  lib/Scheduling/SimplexSchedulers.cpp
  test/Scheduling/modulo-problems.mlir
Labels: Scheduling
