Repository llvm/circt, pull requests merged in 2021-02, with the labels that each got.

#555 [SV] Fix circt-doc documentation generation for SV passes
  include/circt/Dialect/SV/CMakeLists.txt
Labels: Verilog/SystemVerilog

#548 [RTL] Array concatenation operation
  include/circt/Dialect/RTL/RTLAggregates.td
  include/circt/Dialect/RTL/RTLVisitors.h
  lib/Dialect/RTL/RTLOps.cpp
  lib/Translation/ExportVerilog/ExportVerilog.cpp
  test/Dialect/RTL/basic.mlir
  test/ExportVerilog/rtl-dialect.mlir
Labels: ExportVerilog, RTL

#571 [Windows build] Fixing 'invalid' path error
  test/Dialect/LLHD/IR/connect.mlir
Labels: bug

#674 [FIRRTL] Memory blackboxing fix for write memories
  lib/Dialect/FIRRTL/Transforms/BlackboxMemory.cpp
  test/Dialect/FIRRTL/blackbox-memory.mlir
Labels: FIRRTL

#689 [FIRRTL] Remove unused class from lower to rtl
  lib/Conversion/FIRRTLToRTL/LowerToRTL.cpp
Labels: FIRRTL
