Repository llvm/circt, pull requests merged in 2021-04, with the labels that each got.

#881 [FIRRTL] Fold away validif operations
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  test/Dialect/FIRRTL/canonicalization.mlir
Labels: FIRRTL

#890 [FIRRTL] Remove validif operation
  docs/RationaleFIRRTL.md
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  include/circt/Dialect/FIRRTL/FIRRTLVisitors.h
  lib/Conversion/FIRRTLToRTL/LowerToRTL.cpp
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Import/FIRTokenKinds.def
  test/Conversion/FIRRTLToRTL/lower-to-rtl.mlir
  test/Dialect/FIRRTL/blackbox-memory.mlir
  test/Dialect/FIRRTL/canonicalization.mlir
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/parse-errors.fir
Labels: FIRRTL

#823 Support ReferenceTarget Annotations for Operations
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  lib/Conversion/HandshakeToFIRRTL/HandshakeToFIRRTL.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Import/FIRAnnotations.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  test/Dialect/FIRRTL/annotations-errors.fir
  test/Dialect/FIRRTL/annotations.fir
  test/Dialect/FIRRTL/lower-types.mlir
Labels: FIRRTL, enhancement

#901 [ESI] Start of system assembly API: System.load_mlir
  integration_test/Bindings/Python/dialects/esi.py
  integration_test/Bindings/Python/dialects/esi_load1.mlir
  integration_test/Bindings/Python/dialects/esi_load2.mlir
  integration_test/Bindings/Python/dialects/lit.local.cfg
  lib/Bindings/Python/ESIModule.cpp
  lib/Bindings/Python/PybindUtils.h
Labels: ESI

#894 [ExportVerilog] Emit constants as localparam
  lib/Translation/ExportVerilog/ExportVerilog.cpp
  test/ExportVerilog/rtl-dialect.mlir
  test/ExportVerilog/sv-dialect.mlir
Labels: ExportVerilog, bug

#906 [ESI] [Python] Create a ChannelPort type
  integration_test/Bindings/Python/dialects/esi.py
  lib/Bindings/Python/ESIModule.cpp
Labels: ESI

#885 [firrtl] Add expands whens pass
  include/circt/Dialect/FIRRTL/FIRRTLStatements.td
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  include/circt/Support/LLVM.h
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/ExpandWhens.cpp
  test/Dialect/FIRRTL/expand-whens-errors.mlir
  test/Dialect/FIRRTL/expand-whens.mlir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#917 [FIRRTL] Use operand type to determine sign for const folding
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  test/Dialect/FIRRTL/canonicalization.mlir
Labels: FIRRTL, bug

#916 [firtool] Change command line options for passes
  lib/Conversion/FIRRTLToRTL/LowerToRTL.cpp
  lib/Support/LoweringOptions.cpp
  test/ExportVerilog/line-length.mlir
  test/ExportVerilog/sv-alwaysff.mlir
  test/circt-translate/commandline.mlir
  test/firtool/commandline.mlir
  test/firtool/phase-ordering.fir
  test/firtool/style.fir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#864 Lower firrtl::memop to generator modules
  lib/Conversion/FIRRTLToRTL/LowerToRTL.cpp
  lib/Translation/ExportVerilog/ExportVerilog.cpp
  test/Conversion/FIRRTLToRTL/errors.mlir
  test/Conversion/FIRRTLToRTL/lower-to-rtl.mlir
  test/Conversion/FIRRTLToRTL/zero-width.mlir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#923 [FIRRTL] Make Circuit, FModule and When noterminator ops
  include/circt/Dialect/FIRRTL/FIRRTLStatements.td
  include/circt/Dialect/FIRRTL/FIRRTLStructure.td
  include/circt/Dialect/FIRRTL/FIRRTLVisitors.h
  lib/Conversion/FIRRTLToLLHD/FIRRTLToLLHD.cpp
  lib/Conversion/FIRRTLToRTL/LowerToRTL.cpp
  lib/Conversion/HandshakeToFIRRTL/HandshakeToFIRRTL.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Transforms/ExpandWhens.cpp
  lib/Dialect/FIRRTL/Transforms/IMConstProp.cpp
  test/Dialect/FIRRTL/errors.mlir
Labels: FIRRTL

#928 [FIRRTL] Make names non-optional and use names as SSA values
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  lib/Conversion/FIRRTLToRTL/LowerToRTL.cpp
  lib/Conversion/HandshakeToFIRRTL/HandshakeToFIRRTL.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Transforms/BlackboxMemory.cpp
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  lib/Dialect/SV/SVOps.cpp
  test/Conversion/FIRRTLToRTL/lower-to-rtl.mlir
  test/Conversion/HandshakeToFIRRTL/test_buffer.mlir
  test/Conversion/HandshakeToFIRRTL/test_fork.mlir
  test/Dialect/FIRRTL/blackbox-memory.mlir
  test/Dialect/FIRRTL/errors.mlir
  test/Dialect/FIRRTL/lower-types.mlir
  test/Dialect/FIRRTL/parse-basic.fir
Labels: FIRRTL

#934 [FIRRTL] Fix node parsing when there is an implicit asPassive.
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/parse-basic.fir
Labels: FIRRTL

#945 [FIRRTL] Fix `is invalid` on duplex types and bundles
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/parse-basic.fir
Labels: FIRRTL

#950 [SV] Do not remove dead wires
  include/circt/Dialect/SV/SVInOutOps.td
  lib/Dialect/SV/SVOps.cpp
  test/Dialect/RTL/canonicalization.mlir
Labels: Verilog/SystemVerilog

#949 [FIRRTL] Nodes shouldn't be no side effect.
  include/circt/Dialect/FIRRTL/FIRRTLCanonicalization.td
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  test/Dialect/FIRRTL/canonicalization.mlir
Labels: FIRRTL

#952 [FIRRTL] Fix use-after-free in connect canonicalization
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
Labels: FIRRTL, bug

#908 Generator callout pass
  include/circt/Dialect/SV/SVPasses.h
  include/circt/Dialect/SV/SVPasses.td
  lib/Dialect/SV/Transforms/CMakeLists.txt
  lib/Dialect/SV/Transforms/GeneratorCallout.cpp
  test/Dialect/SV/rtl-generator-callout.mlir
Labels: RTL

#953 [ExportVerilog] Add file list output
  include/circt/Translation/ExportVerilog.h
  lib/Translation/ExportVerilog/ExportVerilog.cpp
  test/firtool/split-verilog.mlir
  tools/firtool/firtool.cpp
Labels: ExportVerilog

#963 [SV] Add back dead wire optimization
  include/circt/Dialect/SV/SVInOutOps.td
  lib/Dialect/SV/SVOps.cpp
  test/Dialect/RTL/canonicalization.mlir
Labels: Verilog/SystemVerilog

#964 [FIRRTL] Make MemoryPort name non-optional
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
Labels: FIRRTL

#966 [FIRRTL] Add section about names to the rationale
  docs/RationaleFIRRTL.md
Labels: FIRRTL

#978 [FIRRTL][LowerTypes] Recursively visit WhenOps
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  test/Dialect/FIRRTL/lower-types.mlir
Labels: FIRRTL

#979 [FIRRTL][ExpandWhens] Properly handle registers
  lib/Dialect/FIRRTL/Transforms/ExpandWhens.cpp
  test/Dialect/FIRRTL/expand-whens-errors.mlir
  test/Dialect/FIRRTL/expand-whens.mlir
Labels: FIRRTL
