Repository llvm/circt, pull requests merged in 2021-11, with the labels that each got.

#2086 [FIRRTL][Emitter] Add SeqMem and CombMem support
  lib/Dialect/FIRRTL/Export/FIREmitter.cpp
  test/Dialect/FIRRTL/emit-basic.mlir
Labels: FIRRTL

#2081 [FIRRTL] Add inner names to declarations
  include/circt/Dialect/FIRRTL/FIRRTLCanonicalization.td
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  lib/Dialect/FIRRTL/Transforms/LowerCHIRRTL.cpp
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
  test/Dialect/FIRRTL/inner-names.mlir
  test/Dialect/FIRRTL/lower-types-errors.mlir
Labels: FIRRTL

#2090 [Calyx] [SCFToCalyx] Externalize memories by default.
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Conversion/SCFToCalyx/convert_memory.mlir
Labels: Calyx

#2099 [FIRRTL] Add unknown width `mux(p, invalid, x) -> x` canonicalizer
  include/circt/Dialect/FIRRTL/FIRRTLCanonicalization.td
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  test/Dialect/FIRRTL/canonicalization.mlir
Labels: FIRRTL

#2096 [FIRRTL][LowerToHW] Don't emit warnings for non-local annotations
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw-errors.mlir
Labels: FIRRTL

#2117 [HW] Add support for port symbols to module builder
  include/circt/Dialect/HW/HWOps.h
  lib/Dialect/HW/HWOps.cpp
Labels: HW

#2114 [FIRRTL] Make presence of `inner_sym` equiv to dont-touch
  include/circt/Dialect/FIRRTL/FIRRTLOps.h
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Transforms/IMConstProp.cpp
  test/Dialect/FIRRTL/SFCTests/verbatim-inner-names.mlir
Labels: FIRRTL

#2116 [ExportVerilog] Get legalized bind port names
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  test/Conversion/ExportVerilog/verilog-basic.mlir
Labels: bug, ExportVerilog

#2109 [FIRRTL] Fix local wire/node resets not dominating inferred connections
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  test/Dialect/FIRRTL/infer-resets.mlir
Labels: bug, FIRRTL

#2112 [SV] Make SVTypes.td includable from other dialects
  include/circt/Dialect/SV/SV.td
  include/circt/Dialect/SV/SVDialect.td
  include/circt/Dialect/SV/SVTypes.td
Labels: Verilog/SystemVerilog

#2115 [ExportVerilog] Fix output port symbols not interpolating properly
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  test/Conversion/ExportVerilog/verilog-basic.mlir
Labels: bug, ExportVerilog

#2104 [ExportVerilog] Legalize declaration op names
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Conversion/ExportVerilog/ExportVerilogInternals.h
  lib/Conversion/ExportVerilog/LegalizeNames.cpp
  test/Conversion/ExportVerilog/name-legalize.mlir
  test/Conversion/ExportVerilog/verilog-basic.mlir
Labels: ExportVerilog, Verilog/SystemVerilog

#2128 [SCFToCalyx] Fix memory load followed by store.
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  test/Conversion/SCFToCalyx/convert_memory.mlir
Labels: Calyx

#2125 [ESI] Adding project documentation
  docs/ESI/cosim.md
  docs/ESI/notes.md
  docs/ESI/services.md
  docs/ESI/software_api.md
  docs/ESI/types.md
  docs/RationaleESI.md
Labels: ESI

#2140 [Calyx] Remove duplicated accessor functions in Primitives ODS.
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  lib/Dialect/Calyx/Transforms/CompileControl.cpp
Labels: Calyx

#2113 [FIRRTL] Add symbol interpolation to verbatim ops
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
Labels: FIRRTL

#2137 [Calyx] Add unsigned multiply and divide operators.
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Dialect/Calyx/emit.mlir
  test/Dialect/Calyx/round-trip.mlir
Labels: Calyx

#2139 [SCFToCalyx] Add conversion for MulIOp.
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  test/Conversion/SCFToCalyx/convert_simple.mlir
Labels: Calyx

#2083 [FIRRTL] Add optional port symbols to module-like ops
  include/circt/Dialect/FIRRTL/FIRRTLOpInterfaces.h
  include/circt/Dialect/FIRRTL/FIRRTLOpInterfaces.td
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Conversion/HandshakeToFIRRTL/HandshakeToFIRRTL.cpp
  lib/Dialect/FIRRTL/FIRRTLOpInterfaces.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Transforms/BlackBoxMemory.cpp
  lib/Dialect/FIRRTL/Transforms/GrandCentralSignalMappings.cpp
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
  test/Dialect/FIRRTL/SFCTests/verbatim-inner-names.mlir
  test/Dialect/FIRRTL/errors.mlir
  test/Dialect/FIRRTL/inner-names.mlir
Labels: FIRRTL

#2149 [FIRRTL] Add option to treat non-const async reset as warning/error
  include/circt/Conversion/FIRRTLToHW.h
  include/circt/Conversion/Passes.td
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  test/Conversion/FIRRTLToHW/errors.mlir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#2154 [ExportVerilog] Query global state to get the updated names
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  test/Conversion/ExportVerilog/sv-dialect.mlir
Labels: bug, ExportVerilog

#2158 [PyCDE] [MSFT] Emit modules into separate SV files
  frontends/PyCDE/src/pycde/system.py
  frontends/PyCDE/test/polynomial.py
  frontends/PyCDE/test/syntactic_sugar.py
  include/circt/Dialect/MSFT/MSFTOps.td
  lib/Bindings/Python/circt/dialects/_msft_ops_ext.py
  lib/Dialect/MSFT/MSFTPasses.cpp
  test/Dialect/MSFT/module_instance.mlir
Labels: PyCDE, msft

#2160 [ExportVerilog] Raise precedence of `>>>` aka signed shr
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  test/Conversion/ExportVerilog/hw-dialect.mlir
Labels: ExportVerilog

#2166 [FIRRTL] Add port symbol setters to FModuleLike
  include/circt/Dialect/FIRRTL/FIRRTLOpInterfaces.td
Labels: FIRRTL

#2167 [FIRRTL] Use inner names to make OMIR output stable under renaming
  lib/Dialect/FIRRTL/Transforms/EmitOMIR.cpp
  test/Dialect/FIRRTL/SFCTests/emit-omir.fir
  test/Dialect/FIRRTL/emit-omir.mlir
Labels: FIRRTL

#2187 [FIRRTL] Use inner names to make GCT data taps more robust
  lib/Dialect/FIRRTL/Transforms/GrandCentralTaps.cpp
  test/Dialect/FIRRTL/SFCTests/data-taps.anno.json
  test/Dialect/FIRRTL/SFCTests/data-taps.fir
  test/Dialect/FIRRTL/grand-central-taps.mlir
Labels: FIRRTL

#2194 [FIRRTL] Use inner name refs for GCT interface emission
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Dialect/FIRRTL/Transforms/GrandCentral.cpp
  test/Conversion/ExportVerilog/verilog-basic.mlir
  test/Dialect/FIRRTL/SFCTests/GrandCentralInterfaces/HWRename.fir
  test/Dialect/FIRRTL/SFCTests/GrandCentralInterfaces/Wire.fir
  test/Dialect/FIRRTL/grand-central.mlir
Labels: FIRRTL

#2198 [FIRRTL] Add canonicalization for `pad(invalid) -> invalid`
  include/circt/Dialect/FIRRTL/FIRRTLCanonicalization.td
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  test/Dialect/FIRRTL/canonicalization.mlir
Labels: FIRRTL

#2221 [PyCDE] Emit header guards for typedefs
  frontends/PyCDE/src/pycde/pycde_types.py
  lib/Bindings/Python/CMakeLists.txt
  lib/Bindings/Python/circt/dialects/_sv_ops_ext.py
Labels: PyCDE

#2234 [ExportVerilog] Prepare modules before name legalization; NFC
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  test/Conversion/ExportVerilog/verilog-basic.mlir
Labels: ExportVerilog

#2235 [ExportVerilog] Add parallelization assertion; NFC
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Conversion/ExportVerilog/ExportVerilogInternals.h
Labels: ExportVerilog

#2236 [LLHD] Remove TerminatorOp; NFC
  include/circt/Dialect/LLHD/IR/StructureOps.td
  lib/Conversion/HWToLLHD/HWToLLHD.cpp
  lib/Conversion/LLHDToLLVM/LLHDToLLVM.cpp
  lib/Dialect/LLHD/Export/TranslateToVerilog.cpp
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  lib/Dialect/LLHD/Simulator/Engine.cpp
  lib/Dialect/LLHD/Transforms/ProcessLoweringPass.cpp
  test/Dialect/LLHD/IR/entity.mlir
Labels: LLHD

#2241 [FIRRTL] Allow more zero-width folds
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  test/Dialect/FIRRTL/canonicalization.mlir
Labels: FIRRTL

#2250 [CombFolds] Fix issue in icmp ult/ugt extract fold
  lib/Dialect/Comb/CombFolds.cpp
  test/Dialect/Comb/canonicalization.mlir
Labels: bug, FIRRTL

#2227 [Scheduling] Get problem instances via factory methods.
  include/circt/Scheduling/Problems.h
  lib/Analysis/SchedulingAnalysis.cpp
  lib/Scheduling/TestPasses.cpp
Labels: Scheduling

#2256 [ExportVerilog] Remove parallel assert, XFAIL, add comment
  integration_test/Dialect/FIRRTL/SFCTests/GrandCentralInterfaces/Wire.fir
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Conversion/ExportVerilog/ExportVerilogInternals.h
  lib/Conversion/ExportVerilog/PrepareForEmission.cpp
Labels: bug, ExportVerilog

#2258 [Scheduling] Prepare multi-objective support in simplex scheduler.
  lib/Scheduling/SimplexSchedulers.cpp
Labels: Scheduling
