Repository llvm/circt, pull requests merged in 2022-07, with the labels that each got.

#3471 [FIRRTL] Change "lowerToBind" Attribute from boolean to unit
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Transforms/GrandCentral.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
  test/Dialect/FIRRTL/errors.mlir
  test/Dialect/FIRRTL/test.mlir
Labels: FIRRTL

#3493 [MSFT] Make `PassCommon` public
  include/circt/Dialect/MSFT/MSFTDialect.h
  include/circt/Dialect/MSFT/MSFTOps.td
  include/circt/Dialect/MSFT/MSFTPasses.h
  include/circt/InitAllPasses.h
  lib/CAPI/Dialect/MSFT.cpp
  lib/Dialect/MSFT/MSFTPasses.cpp
Labels: msft

#3506 [FIRRTL][LowerTypes] Fix DontTouch application on ports
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  test/Dialect/FIRRTL/lower-types.mlir
Labels: FIRRTL

#3468 [ESI] Global services model
  include/circt/Dialect/ESI/ESI.td
  include/circt/Dialect/ESI/ESIOps.h
  include/circt/Dialect/ESI/ESIServices.td
  include/circt/Dialect/ESI/ESITypes.td
  lib/Dialect/ESI/ESIOps.cpp
  test/Dialect/ESI/errors.mlir
  test/Dialect/ESI/services.mlir
Labels: ESI

#3507 [HWMemSimImpl] Fix latencies for read-write ports
  lib/Dialect/SV/Transforms/HWMemSimImpl.cpp
  test/Dialect/SV/hw-memsim.mlir
Labels: HW, Verilog/SystemVerilog

#3517 [FIRRTL] Use more anno class strings from AnnotationDetails.h
  include/circt/Dialect/FIRRTL/AnnotationDetails.h
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Transforms/BlackBoxReader.cpp
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
  lib/Dialect/FIRRTL/Transforms/GrandCentral.cpp
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  lib/Dialect/FIRRTL/Transforms/PrefixModules.cpp
Labels: FIRRTL

#3511 [HWToLLHD] Put conversion patterns in namespace
  lib/Conversion/HWToLLHD/HWToLLHD.cpp
Labels: HW, LLHD

#3496 [ESI] Global services connection pass
  include/circt/Dialect/ESI/ESIPasses.td
  lib/Dialect/ESI/CMakeLists.txt
  lib/Dialect/ESI/ESIPasses.cpp
  test/Dialect/ESI/services.mlir
Labels: ESI

#3529 [FIRRTL][SV] Add comment attribute to GC interfaces and modules
  include/circt/Dialect/SV/SVTypeDecl.td
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/FIRRTL/Transforms/GrandCentral.cpp
  lib/Dialect/FIRRTL/Transforms/GrandCentralTaps.cpp
  test/Conversion/ExportVerilog/sv-interfaces.mlir
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
  test/Dialect/FIRRTL/grand-central.mlir
Labels: FIRRTL, Verilog/SystemVerilog

#3527 [LLHD] Use prefixed accessors
  include/circt/Dialect/LLHD/IR/BitwiseOps.td
  include/circt/Dialect/LLHD/IR/ExtractOps.td
  include/circt/Dialect/LLHD/IR/LLHD.td
  include/circt/Dialect/LLHD/IR/SignalOps.td
  include/circt/Dialect/LLHD/IR/StructureOps.td
  lib/Conversion/HWToLLHD/HWToLLHD.cpp
  lib/Conversion/LLHDToLLVM/LLHDToLLVM.cpp
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  lib/Dialect/LLHD/Simulator/Engine.cpp
  lib/Dialect/LLHD/Transforms/EarlyCodeMotionPass.cpp
  lib/Dialect/LLHD/Transforms/MemoryToBlockArgumentPass.cpp
  lib/Dialect/LLHD/Transforms/ProcessLoweringPass.cpp
  lib/Dialect/LLHD/Transforms/TemporalRegions.cpp
Labels: LLHD

#3530 [FIRRTL] Add canonicalizers for verification ops
  include/circt/Dialect/FIRRTL/FIRRTLStatements.td
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  test/Dialect/FIRRTL/canonicalization.mlir
Labels: FIRRTL

#3533 [HW] Adopt prefixed accessors
  include/circt/Dialect/HW/HWDialect.td
  include/circt/Dialect/HW/HWMiscOps.td
  include/circt/Dialect/HW/HWStructure.td
  include/circt/Dialect/HW/HWTypeDecls.td
  include/circt/Dialect/MSFT/MSFTOpInterfaces.td
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Conversion/ExportVerilog/LegalizeNames.cpp
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Conversion/HWToLLHD/HWToLLHD.cpp
  lib/Conversion/LLHDToLLVM/LLHDToLLVM.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  lib/Dialect/Comb/CombFolds.cpp
  lib/Dialect/ESI/ESIPasses.cpp
  lib/Dialect/HW/HWOps.cpp
  lib/Dialect/HW/Transforms/HWSpecialize.cpp
  lib/Dialect/MSFT/ExportQuartusTcl.cpp
  lib/Dialect/MSFT/MSFTPasses.cpp
  lib/Dialect/SV/Transforms/GeneratorCallout.cpp
  lib/Dialect/SV/Transforms/HWExportModuleHierarchy.cpp
  lib/Dialect/SV/Transforms/HWLegalizeModules.cpp
  lib/Dialect/SV/Transforms/HWMemSimImpl.cpp
  lib/Dialect/SV/Transforms/HWStubExternalModules.cpp
  lib/Dialect/SV/Transforms/SVExtractTestCode.cpp
  unittests/Dialect/HW/HWModuleTest.cpp
Labels: HW

#3532 [HW] [ESI] Add module mutation interface, use it in ESI pass
  include/circt/Dialect/HW/HWOpInterfaces.h
  include/circt/Dialect/HW/HWOpInterfaces.td
  include/circt/Dialect/HW/HWStructure.td
  lib/Dialect/ESI/ESIPasses.cpp
Labels: HW, ESI

#3537 [HWMemSimImpl] Merge pipeline regs into single always block
  lib/Dialect/SV/Transforms/HWMemSimImpl.cpp
  test/Dialect/SV/hw-memsim.mlir
Labels: FIRRTL, HW

#3542 [MSFT] Implement `HWMutableModuleLike` in `msft.module`
  include/circt/Dialect/MSFT/MSFTOps.td
  lib/Dialect/MSFT/MSFTOps.cpp
  test/Dialect/ESI/services.mlir
Labels: msft

#3521 [FIRRTL] Add stats to various memory-related passses
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Transforms/AddSeqMemPorts.cpp
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  lib/Dialect/FIRRTL/Transforms/FlattenMemory.cpp
  lib/Dialect/FIRRTL/Transforms/InferReadWrite.cpp
  lib/Dialect/FIRRTL/Transforms/LowerCHIRRTL.cpp
  lib/Dialect/FIRRTL/Transforms/LowerMemory.cpp
  lib/Dialect/FIRRTL/Transforms/MemToRegOfVec.cpp
Labels: FIRRTL

#3523 [SystemC] Add ExportSystemC skeleton
  include/circt/Conversion/ExportSystemC.h
  include/circt/Conversion/Passes.h
  include/circt/Conversion/Passes.td
  lib/Conversion/CMakeLists.txt
  lib/Conversion/ExportSystemC/CMakeLists.txt
  lib/Conversion/ExportSystemC/ExportSystemC.cpp
  tools/circt-opt/CMakeLists.txt
Labels: SystemC

#3362 [LowerToHW] Generalize handling of non-FIRRTL ops
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  test/Conversion/FIRRTLToHW/errors.mlir
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
Labels: FIRRTL

#3553 [firtool] Add optimization option `-O [debug|release]`
  tools/firtool/firtool.cpp
Labels: FIRRTL

#3567 [HWArith] Implement Cast
  docs/Dialects/HWArith/RationaleHWArith.md
  include/circt/Dialect/HWArith/HWArithOps.td
  lib/Dialect/HWArith/HWArithOps.cpp
  test/Dialect/HWArith/basic.mlir
  test/Dialect/HWArith/signedness-error.mlir
Labels: HWArith

#3560 [PyCDE] Add shorthand FSM builder function
  frontends/PyCDE/src/pycde/fsm.py
  frontends/PyCDE/test/test_fsm.py
Labels: PyCDE

#3584 [LLHD] Remove shifts in favor of comb shifts and dynamic extract operations
  include/circt/Dialect/LLHD/IR/BitwiseOps.td
  include/circt/Dialect/LLHD/IR/ExtractOps.td
  include/circt/Dialect/LLHD/IR/LLHD.td
  lib/Conversion/LLHDToLLVM/LLHDToLLVM.cpp
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  test/Conversion/LLHDToLLVM/convert_bitwise.mlir
  test/Dialect/LLHD/Canonicalization/bitwise.mlir
  test/Dialect/LLHD/Canonicalization/extract.mlir
  test/Dialect/LLHD/IR/bitwise.mlir
  test/Dialect/LLHD/Simulator/sim_shifts.mlir
Labels: LLHD

#3589 [LLHDToLLVM] Generalize signal init expression support
  lib/Conversion/LLHDToLLVM/LLHDToLLVM.cpp
  test/Conversion/LLHDToLLVM/signal-init-error.mlir
  test/Conversion/LLHDToLLVM/signal-init.mlir
Labels: LLHD

#3588 [LLHDToLLVM] Add lowering support for comb.replicate
  lib/Conversion/LLHDToLLVM/LLHDToLLVM.cpp
  test/Conversion/LLHDToLLVM/convert_bitwise.mlir
Labels: LLHD

#3587 [LLHDToLLVM] Populate ArithToLLVM conversion patterns
  lib/Conversion/LLHDToLLVM/CMakeLists.txt
  lib/Conversion/LLHDToLLVM/LLHDToLLVM.cpp
Labels: LLHD

#3590 [LLHD] Fix probeCSE test
  test/Dialect/LLHD/Canonicalization/probeCSE.mlir
Labels: LLHD

#3591 [circt-reduce] Invert test exit code requirement
  test/circt-reduce/annotation-remover.mlir
  test/circt-reduce/connect-source-operand-forward.mlir
  test/circt-reduce/issue-3555.mlir
  test/circt-reduce/memory-stubber.mlir
  test/circt-reduce/node-symbol-remover.mlir
  test/circt-reduce/port-pruner.mlir
  test/circt-reduce/trivial.mlir
  tools/circt-reduce/Tester.cpp
  tools/circt-reduce/Tester.h
  tools/circt-reduce/circt-reduce.cpp
Labels: Reducer

#3580 [Calyx] Replace calyx.program with module attribute calyx.entrypoint
  include/circt/Dialect/Calyx/CalyxLoweringUtils.h
  include/circt/Dialect/Calyx/CalyxOps.h
  include/circt/Dialect/Calyx/CalyxStructure.td
  lib/Conversion/CalyxToHW/CalyxToHW.cpp
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Conversion/StaticLogicToCalyx/StaticLogicToCalyx.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  lib/Dialect/Calyx/Transforms/CalyxLoweringUtils.cpp
  test/Conversion/CalyxToFSM/lower-if.mlir
  test/Conversion/CalyxToFSM/lower-seq.mlir
  test/Conversion/CalyxToFSM/lower-while.mlir
  test/Conversion/CalyxToHW/basic.mlir
  test/Conversion/CalyxToHW/primitives.mlir
  test/Conversion/SCFToCalyx/cider_source_location.mlir
  test/Conversion/SCFToCalyx/convert_controlflow.mlir
  test/Conversion/SCFToCalyx/convert_memory.mlir
  test/Conversion/SCFToCalyx/convert_simple.mlir
  test/Conversion/StaticLogicToCalyx/convert_pipeline.mlir
  test/Dialect/Calyx/canonicalization.mlir
  test/Dialect/Calyx/clk-insertion.mlir
  test/Dialect/Calyx/compile-control.mlir
  test/Dialect/Calyx/emit.mlir
  test/Dialect/Calyx/errors.mlir
  test/Dialect/Calyx/export-errors.mlir
  test/Dialect/Calyx/gicm.mlir
  test/Dialect/Calyx/go-insertion.mlir
  test/Dialect/Calyx/remove-groups.mlir
  test/Dialect/Calyx/round-trip.mlir
Labels: Calyx

#3575 [FIRRTL] Extend InnerSymbolTable for ports, per-field syms on operations
  include/circt/Dialect/FIRRTL/FIRRTLOpInterfaces.h
  include/circt/Dialect/FIRRTL/FIRRTLOpInterfaces.td
  include/circt/Dialect/FIRRTL/FIRRTLStructure.td
  include/circt/Dialect/FIRRTL/InnerSymbolTable.h
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/InnerSymbolTable.cpp
  lib/Dialect/FIRRTL/Transforms/GrandCentralTaps.cpp
  test/Dialect/FIRRTL/imdce.mlir
  test/Dialect/FIRRTL/remove-unused-ports.mlir
Labels: FIRRTL

#3593 [HWArithToHW] Lower Cast,Constant,Add,Sub,Mul,Div
  lib/Conversion/HWArithToHW/HWArithToHW.cpp
  test/Conversion/HWArithToHW/test_basic.mlir
Labels: HWArith

#3558 [SSP][Scheduling] SSP dialect rationale and boilerplate.
  docs/Dialects/SSP/RationaleSSP.md
  docs/Dialects/SSP/_index.md
  include/circt/Dialect/CMakeLists.txt
  include/circt/Dialect/SSP/CMakeLists.txt
  include/circt/Dialect/SSP/SSP.td
  include/circt/Dialect/SSP/SSPAttributes.h
  include/circt/Dialect/SSP/SSPAttributes.td
  include/circt/Dialect/SSP/SSPDialect.h
  include/circt/Dialect/SSP/SSPOps.h
  include/circt/Dialect/SSP/SSPOps.td
  include/circt/InitAllDialects.h
  lib/Dialect/CMakeLists.txt
  lib/Dialect/SSP/CMakeLists.txt
  lib/Dialect/SSP/SSPAttributes.cpp
  lib/Dialect/SSP/SSPDialect.cpp
  lib/Dialect/SSP/SSPOps.cpp
  test/circt-opt/commandline.mlir
  tools/circt-opt/CMakeLists.txt
  tools/circt-reduce/CMakeLists.txt
Labels: Scheduling

#3544 [ESI] Service generator registry and cosim generator
  include/circt/Dialect/ESI/ESIServices.h
  include/circt/Dialect/ESI/ESIServices.td
  integration_test/ESI/cosim/loopback.mlir
  integration_test/ESI/cosim/loopback.py
  lib/Dialect/ESI/ESIServices.cpp
  test/Dialect/ESI/errors.mlir
  test/Dialect/ESI/services.mlir
Labels: ESI

#3602 [SSP] Define first batch of operations.
  docs/Dialects/SSP/RationaleSSP.md
  include/circt/Dialect/SSP/SSP.td
  include/circt/Dialect/SSP/SSPAttributes.h
  include/circt/Dialect/SSP/SSPAttributes.td
  include/circt/Dialect/SSP/SSPOps.h
  include/circt/Dialect/SSP/SSPOps.td
  lib/Dialect/SSP/SSPAttributes.cpp
  lib/Dialect/SSP/SSPOps.cpp
  test/Dialect/SSP/errors.mlir
Labels: Scheduling

#3596 [SystemC] Add SCModuleOp and AliasOp
  docs/Dialects/SystemC/RationaleSystemC.md
  include/circt/Dialect/SystemC/CMakeLists.txt
  include/circt/Dialect/SystemC/SystemC.td
  include/circt/Dialect/SystemC/SystemCAttributes.h
  include/circt/Dialect/SystemC/SystemCAttributesImpl.td
  include/circt/Dialect/SystemC/SystemCDialect.td
  include/circt/Dialect/SystemC/SystemCOps.h
  include/circt/Dialect/SystemC/SystemCStatements.td
  include/circt/Dialect/SystemC/SystemCStructure.td
  lib/Conversion/HWToSystemC/CMakeLists.txt
  lib/Conversion/HWToSystemC/HWToSystemC.cpp
  lib/Dialect/SystemC/CMakeLists.txt
  lib/Dialect/SystemC/SystemCAttributes.cpp
  lib/Dialect/SystemC/SystemCDialect.cpp
  lib/Dialect/SystemC/SystemCOps.cpp
  test/Conversion/HWToSystemC/errors.mlir
  test/Conversion/HWToSystemC/structure.mlir
  test/Dialect/SystemC/module-attributes.mlir
  test/Dialect/SystemC/module-error.mlir
  test/Dialect/SystemC/structure.mlir
Labels: SystemC

#3611 [PyCDE] [ESI] Model ESI services in PyCDE
  frontends/PyCDE/src/CMakeLists.txt
  frontends/PyCDE/src/pycde/esi.py
  frontends/PyCDE/test/esi.py
Labels: ESI, PyCDE

#3576 [ESI] [Capnp] Compile library with exceptions
  include/circt/Dialect/ESI/cosim/CMakeLists.txt
  lib/Dialect/ESI/cosim/cosim_dpi_server/CMakeLists.txt
Labels: ESI

#3618 [ESI] [Integration tests] [Tests] Switch from 'rstn' to 'rst'
  docs/Dialects/ESI/cosim.md
  include/circt/Dialect/ESI/ESIOps.td
  include/circt/Dialect/ESI/ESIPrimitives.sv
  include/circt/Dialect/ESI/cosim/Cosim_Endpoint.sv
  integration_test/Bindings/Python/dialects/seq.py
  integration_test/Dialect/Seq/registers.mlir
  integration_test/ESI/cosim/basic.mlir
  integration_test/ESI/cosim/cosim_only.sv
  integration_test/ESI/cosim/loopback.mlir
  integration_test/ESI/primitives/primitive_tb.sv
  integration_test/ESI/supplements/integers.sv
  integration_test/ESI/system/basic.mlir
  integration_test/EmitVerilog/basic.mlir
  integration_test/EmitVerilog/exampleCodeGen.fir
  integration_test/EmitVerilog/sv-interfaces.mlir
  integration_test/circt-rtl-sim/circt-rtl-sim-ieee-sim.sv
  integration_test/circt-rtl-sim/circt-rtl-sim-iverilog.sv
  integration_test/circt-rtl-sim/circt-rtl-sim-verilator.sv
  lib/Bindings/Python/circt/esi.py
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/ESIPasses.cpp
  test/Dialect/ESI/connectivity.mlir
  test/Dialect/ESI/cosim.mlir
  test/Dialect/ESI/cosim_structs.mlir
  test/Dialect/ESI/errors.mlir
  test/Dialect/ESI/lowering.mlir
  test/Dialect/ESI/wrapif-lowering.mlir
  tools/circt-rtl-sim/driver.cpp.in
  tools/circt-rtl-sim/driver.sv.in
Labels: ESI

#3622 [ESI][NFC] Rename Ops and Types to include those suffixes
  frontends/PyCDE/src/pycde/esi.py
  include/circt/Dialect/ESI/ESIInterfaces.td
  include/circt/Dialect/ESI/ESIOps.td
  include/circt/Dialect/ESI/ESIPorts.td
  include/circt/Dialect/ESI/ESIServices.td
  lib/Bindings/Python/circt/esi.py
  lib/CAPI/Dialect/ESI.cpp
  lib/Conversion/HandshakeToHW/HandshakeToHW.cpp
  lib/Dialect/ESI/ESIDialect.cpp
  lib/Dialect/ESI/ESIFolds.cpp
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/ESIPasses.cpp
  lib/Dialect/ESI/ESIServices.cpp
  lib/Dialect/ESI/ESITranslations.cpp
  lib/Dialect/ESI/capnp/Schema.cpp
Labels: ESI

#3614 [SystemC] Add SignalOp
  include/circt/Dialect/SystemC/CMakeLists.txt
  include/circt/Dialect/SystemC/SystemC.td
  include/circt/Dialect/SystemC/SystemCOpInterfaces.h
  include/circt/Dialect/SystemC/SystemCOpInterfaces.td
  include/circt/Dialect/SystemC/SystemCOps.h
  include/circt/Dialect/SystemC/SystemCStatements.td
  include/circt/Dialect/SystemC/SystemCStructure.td
  lib/Dialect/SystemC/CMakeLists.txt
  lib/Dialect/SystemC/SystemCOpInterfaces.cpp
  lib/Dialect/SystemC/SystemCOps.cpp
  test/Dialect/SystemC/module-error.mlir
  test/Dialect/SystemC/structure.mlir
Labels: SystemC

#3620 [SystemC] Add SCFuncOp, MethodOp, and ThreadOp
  include/circt/Dialect/SystemC/SystemCDialect.td
  include/circt/Dialect/SystemC/SystemCStatements.td
  include/circt/Dialect/SystemC/SystemCStructure.td
  include/circt/Dialect/SystemC/SystemCTypes.h
  include/circt/Dialect/SystemC/SystemCTypes.td
  include/circt/Dialect/SystemC/SystemCTypesImpl.td
  lib/Conversion/HWToSystemC/HWToSystemC.cpp
  lib/Dialect/SystemC/CMakeLists.txt
  lib/Dialect/SystemC/SystemCOps.cpp
  lib/Dialect/SystemC/SystemCTypes.cpp
  test/Conversion/HWToSystemC/errors.mlir
  test/Conversion/HWToSystemC/structure.mlir
  test/Dialect/SystemC/module-error.mlir
  test/Dialect/SystemC/structure.mlir
Labels: SystemC

#3599 [LLHDToLLVM] Refactor conversion patterns of each dialect to separate files
  include/circt/Conversion/CombToLLVM.h
  include/circt/Conversion/HWToLLVM.h
  include/circt/Conversion/LLHDToLLVM.h
  include/circt/Conversion/Passes.h
  include/circt/Conversion/Passes.td
  lib/Conversion/CMakeLists.txt
  lib/Conversion/CombToLLVM/CMakeLists.txt
  lib/Conversion/CombToLLVM/CombToLLVM.cpp
  lib/Conversion/HWToLLVM/CMakeLists.txt
  lib/Conversion/HWToLLVM/HWToLLVM.cpp
  lib/Conversion/LLHDToLLVM/CMakeLists.txt
  lib/Conversion/LLHDToLLVM/LLHDToLLVM.cpp
  test/Conversion/CombToLLVM/convert_arithmetic.mlir
  test/Conversion/CombToLLVM/convert_bitwise.mlir
  test/Conversion/HWToLLVM/convert_aggregates.mlir
  test/Conversion/LLHDToLLVM/convert_aggregates.mlir
  tools/circt-opt/CMakeLists.txt
Labels: LLHD

#3613 [SSP] Model (scheduling) operations and dependences.
  docs/Dialects/SSP/RationaleSSP.md
  include/circt/Dialect/SSP/SSPAttributes.td
  include/circt/Dialect/SSP/SSPOps.td
  lib/Dialect/SSP/SSPOps.cpp
  test/Dialect/SSP/errors.mlir
  test/Dialect/SSP/roundtrip.mlir
Labels: Scheduling

#3626 [ESI] Creating capnp generation pass
  include/circt/Dialect/ESI/ESIPasses.td
  lib/Dialect/ESI/ESIPasses.cpp
  test/Dialect/ESI/cosim.mlir
Labels: ESI

#3625 [PyCDE] Integration test boilerplate
  frontends/PyCDE/CMakeLists.txt
  frontends/PyCDE/integration_test/CMakeLists.txt
  frontends/PyCDE/integration_test/esi.py
  frontends/PyCDE/integration_test/lit.cfg.py
  frontends/PyCDE/integration_test/lit.site.cfg.py.in
  frontends/PyCDE/test/CMakeLists.txt
Labels: PyCDE

#3619 [FIRRTL][LowerToHW] Fix issue with backedges not being replaced
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
Labels: FIRRTL

#3628 [SSP] Add first batch of properties.
  docs/Dialects/SSP/RationaleSSP.md
  include/circt/Dialect/SSP/PropertyBase.td
  include/circt/Dialect/SSP/SSPAttributes.h
  include/circt/Dialect/SSP/SSPAttributes.td
  lib/Dialect/SSP/CMakeLists.txt
  test/Dialect/SSP/roundtrip.mlir
Labels: Scheduling
