Repository llvm/circt, pull requests merged in 2022-11, with the labels that each got.

#4218 [SSP] Reduce code duplication in property definitions.
  include/circt/Dialect/SSP/PropertyBase.td
  include/circt/Dialect/SSP/SSPAttributes.td
Labels: Scheduling

#4223 [FIRRTL] Significantly improve performance setting port syms.
  include/circt/Dialect/FIRRTL/FIRRTLOpInterfaces.td
Labels: FIRRTL

#4239 [ExportVerilog] Don't emit a constant if it has zero width
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  test/Conversion/ExportVerilog/hw-dialect.mlir
Labels: ExportVerilog

#4241 [FIRRTL][Dedup] Fix DontTouch annotation handling
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  test/Dialect/FIRRTL/dedup.mlir
Labels: FIRRTL

#4240 Add options for controlling emission of randomization code.
  include/circt/Conversion/FIRRTLToHW.h
  include/circt/Conversion/Passes.td
  include/circt/Dialect/SV/SVPasses.h
  include/circt/Dialect/SV/SVPasses.td
  include/circt/Dialect/Seq/SeqPasses.h
  include/circt/Dialect/Seq/SeqPasses.td
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/SV/Transforms/HWMemSimImpl.cpp
  lib/Dialect/Seq/Transforms/LowerSeqToSV.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
  test/Dialect/SV/hw-memsim.mlir
  test/Dialect/Seq/firreg.mlir
  test/firtool/memory.fir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#4258 [SSP] Extract helper to access linked operator type, NFC.
  include/circt/Dialect/SSP/SSPOps.h
  include/circt/Dialect/SSP/SSPOps.td
  lib/Dialect/SSP/SSPOps.cpp
Labels: Scheduling

#4285 [FIRRTL][Dedup] Fix cloning annotations for more context
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  test/Dialect/FIRRTL/dedup.mlir
Labels: FIRRTL

#4222 [SSP] Allow standalone use of `OperatorLibraryOp`.
  docs/Dialects/SSP/RationaleSSP.md
  include/circt/Dialect/SSP/SSPAttributes.td
  include/circt/Dialect/SSP/SSPOps.td
  include/circt/Dialect/SSP/Utilities.h
  lib/Dialect/SSP/SSPOps.cpp
  test/Dialect/SSP/errors.mlir
  test/Dialect/SSP/roundtrip.mlir
  test/Dialect/SSP/standalone-lib.mlir
Labels: Scheduling

#4299 [ESI] Support BSPs in service metadata emission
  lib/Dialect/ESI/ESIPasses.cpp
  lib/Dialect/ESI/ESIServices.cpp
  test/Dialect/ESI/services_collateral.mlir
Labels: ESI

#4220 [SSP] Define ChainingProblem's properties.
  include/circt/Dialect/SSP/SSPAttributes.td
  include/circt/Dialect/SSP/Utilities.h
  lib/Scheduling/TestPasses.cpp
  test/Dialect/SSP/roundtrip.mlir
Labels: Scheduling

#4333 [Scheduling][SSP] Restore feature parity between infra and dialect.
  include/circt/Dialect/SSP/SSPOps.td
  include/circt/Dialect/SSP/Utilities.h
  include/circt/Scheduling/Problems.h
  lib/Scheduling/TestPasses.cpp
  test/Dialect/SSP/roundtrip.mlir
  test/Dialect/SSP/standalone-lib.mlir
Labels: Scheduling

#4194 [ExportVerilog] Use pretty-printer for improved output formatting.
  include/circt/Support/PrettyPrinterHelpers.h
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  test/Conversion/ExportVerilog/hw-dialect.mlir
  test/Conversion/ExportVerilog/line-length.mlir
  test/Conversion/ExportVerilog/no-wrap.mlir
  test/Conversion/ExportVerilog/pretty.mlir
  test/Conversion/ExportVerilog/sv-dialect.mlir
  test/Dialect/FIRRTL/SFCTests/complex-asserts.fir
  test/Dialect/FIRRTL/SFCTests/complex-assumes.fir
Labels: ExportVerilog, Verilog Quality

#4338 [PyCDE] Support for BSP-defined packaging
  frontends/PyCDE/integration_test/esi_ram.py
  frontends/PyCDE/integration_test/esi_test.py
  frontends/PyCDE/src/CMakeLists.txt
  frontends/PyCDE/src/pycde/Makefile.cosim
  frontends/PyCDE/src/pycde/esi.py
  frontends/PyCDE/src/pycde/esi_api.py
  frontends/PyCDE/src/pycde/system.py
  frontends/PyCDE/test/compreg.py
  frontends/PyCDE/test/instances.py
  frontends/PyCDE/test/polynomial.py
  tools/esi/esi-cosim-runner.py.in
Labels: PyCDE

#4337 [PyCDE] NamedWire construct
  frontends/PyCDE/src/pycde/constructs.py
  frontends/PyCDE/test/test_constructs.py
Labels: PyCDE

#4345 [FIRRTL] Reject string literals with non-7bit-ASCII or \{u,U}.
  lib/Dialect/FIRRTL/Import/FIRLexer.cpp
  test/Dialect/FIRRTL/parse-errors.fir
Labels: FIRRTL

#4363 [SSP] Set up pass boilerplate.
  docs/Passes.md
  include/circt/Dialect/SSP/CMakeLists.txt
  include/circt/Dialect/SSP/SSPPasses.h
  include/circt/Dialect/SSP/SSPPasses.td
  include/circt/InitAllPasses.h
  include/circt/Scheduling/Utilities.h
  lib/Dialect/SSP/CMakeLists.txt
  lib/Dialect/SSP/Transforms/CMakeLists.txt
  lib/Dialect/SSP/Transforms/PassDetails.h
  lib/Dialect/SSP/Transforms/PrintInstance.cpp
  lib/Scheduling/Utilities.cpp
  test/Dialect/SSP/Transforms/print-instance.mlir
  tools/circt-opt/CMakeLists.txt
Labels: Scheduling

#4372 [SSP] Rename DOT printer pass, NFC.
  include/circt/Dialect/SSP/SSPPasses.h
  include/circt/Dialect/SSP/SSPPasses.td
  lib/Dialect/SSP/Transforms/CMakeLists.txt
  lib/Dialect/SSP/Transforms/Print.cpp
  test/Dialect/SSP/Transforms/print.mlir
Labels: Scheduling

#4373 [SSP] Add pass to roundtrip via the scheduling infra.
  include/circt/Dialect/SSP/SSPPasses.h
  include/circt/Dialect/SSP/SSPPasses.td
  lib/Dialect/SSP/Transforms/CMakeLists.txt
  lib/Dialect/SSP/Transforms/Roundtrip.cpp
  lib/Scheduling/CMakeLists.txt
  lib/Scheduling/TestPasses.cpp
  test/Dialect/SSP/roundtrip.mlir
  test/Dialect/SSP/standalone-lib.mlir
Labels: Scheduling

#4352 [PyCDE] PyTorch (dot product) integration test
  frontends/PyCDE/integration_test/pytorch/dot.linalg.mlir
  frontends/PyCDE/integration_test/pytorch/dot_prod_system.py
  lib/Bindings/Python/circt/dialects/_esi_ops_ext.py
Labels: ESI, PyCDE
