Repository llvm/circt, pull requests merged in 2022-05, with the labels that each got.

#3008 [PyCDE] Teach PlacementDB how to resolve to `Instance`s
  frontends/PyCDE/src/pycde/devicedb.py
  frontends/PyCDE/src/pycde/instance.py
  frontends/PyCDE/src/pycde/system.py
  frontends/PyCDE/test/instances.py
  lib/Bindings/Python/circt/dialects/_msft_ops_ext.py
  lib/Bindings/Python/circt/support.py
Labels: PyCDE

#3011 [PyCDE] Adds support for rebuilding the instance cache
  frontends/PyCDE/src/pycde/instance.py
  frontends/PyCDE/src/pycde/system.py
  frontends/PyCDE/test/instances.py
  include/circt/Dialect/MSFT/MSFTPDOps.td
  integration_test/Bindings/Python/dialects/msft.py
  lib/Bindings/Python/circt/dialects/_msft_ops_ext.py
Labels: PyCDE

#2994 [HW] Remove InstanceOp's constaint on the symbol
  include/circt/Dialect/HW/HWStructure.td
  test/Dialect/HW/errors.mlir
Labels: HW

#2997 [HW] Added a helper method to HWModuleOp to insert new outputs
  include/circt/Dialect/HW/HWStructure.td
  lib/Dialect/HW/HWOps.cpp
  unittests/Dialect/HW/CMakeLists.txt
  unittests/Dialect/HW/HWModuleTest.cpp
Labels: HW

#3032 [FIRRTL][Dedup] Improve error when module is both NoDedup and MustDedup
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  test/Dialect/FIRRTL/dedup-errors.mlir
Labels: FIRRTL

#3017 [FIRRTL] Add ExtractInstances pass
  docs/FIRRTLAnnotations.md
  include/circt/Dialect/FIRRTL/AnnotationDetails.h
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/ExtractInstances.cpp
  test/Dialect/FIRRTL/extract-instances-inject-dut-hier.mlir
  test/Dialect/FIRRTL/extract-instances.mlir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#3061 [FIRRTL] Add error message to AnnotationArray type constraint
  include/circt/Dialect/FIRRTL/FIRRTLAttributes.td
Labels: FIRRTL

#3062 [FIRRTL] Fix module port insertion helper
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
Labels: FIRRTL

#3063 [FIRRTL] Add FMemModule operation
  include/circt/Dialect/FIRRTL/FIRRTLStructure.td
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/test.mlir
Labels: FIRRTL

#3078 [FIRRTL][FullAsyncResetTransform] Preseve synchronous reset value
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  test/Dialect/FIRRTL/infer-resets.mlir
Labels: FIRRTL

#3064 [FIRRTL] Add AddSeqMemPorts pass
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Transforms/AddSeqMemPorts.cpp
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  test/Dialect/FIRRTL/add-seqmem-ports-errors.mlir
  test/Dialect/FIRRTL/add-seqmem-ports.mlir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#3065 [FIRRTL] Add LowerMemory pass
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/LowerMemory.cpp
  test/Dialect/FIRRTL/lower-memory-errors.mlir
  test/Dialect/FIRRTL/lower-memory.mlir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#3066 [FIRRTL] Fix some passes to work with the new FMemModuleOp
  lib/Dialect/FIRRTL/FIRRTLInstanceGraph.cpp
  lib/Dialect/FIRRTL/Transforms/GrandCentralSignalMappings.cpp
  lib/Dialect/FIRRTL/Transforms/IMConstProp.cpp
Labels: FIRRTL

#3067 [FIRRTL][PrefixModules] Prefix and duplicate FMemModule ops
  lib/Dialect/FIRRTL/Transforms/PrefixModules.cpp
  test/Dialect/FIRRTL/prefix-modules.mlir
Labels: FIRRTL

#3068 [FIRRTL][LowerToHW] Lower `firrtl.memmodule` to `hw.module.ext`
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw-module.mlir
Labels: FIRRTL

#3081 [FIRRTL][LowerMemory] Create wrapper module
  lib/Dialect/FIRRTL/Transforms/LowerMemory.cpp
  test/Dialect/FIRRTL/lower-memory.mlir
Labels: FIRRTL

#3085 [FIRRTL][LowerMemory] Store MemOp annotations on the instance
  lib/Dialect/FIRRTL/Transforms/LowerMemory.cpp
  test/Dialect/FIRRTL/lower-memory.mlir
Labels: FIRRTL

#3069 [FIRRTL][CreateSiFiveMetadata] Base metadata on FMemModules
  include/circt/Support/Namespace.h
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
  test/Dialect/FIRRTL/SFCTests/emit-omir.fir
  test/Dialect/FIRRTL/emit-metadata.mlir
  test/firtool/memoryLowering.fir
  test/firtool/memoryMetadata.fir
  test/firtool/prefixMemory.fir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#3093 [FIRRTL] Extract memory instances
  lib/Dialect/FIRRTL/Transforms/ExtractInstances.cpp
  test/Dialect/FIRRTL/extract-instances.mlir
Labels: bug, FIRRTL

#3087 [Calyx] Add group-invariant code motion pass
  include/circt/Dialect/Calyx/CalyxPasses.h
  include/circt/Dialect/Calyx/CalyxPasses.td
  lib/Dialect/Calyx/Transforms/CMakeLists.txt
  lib/Dialect/Calyx/Transforms/GICM.cpp
  test/Dialect/Calyx/gicm.mlir
Labels: Calyx

#3096 [FIRRTL] Use symbols for metadata emission
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
  test/Dialect/FIRRTL/emit-metadata.mlir
  test/firtool/prefixMemory.fir
Labels: FIRRTL

#3091 [FIRRTL] Uniquify extracted instance symbols
  lib/Dialect/FIRRTL/Transforms/ExtractInstances.cpp
  test/Dialect/FIRRTL/extract-instances.mlir
Labels: bug, FIRRTL

#3109 [FIRRTL][LowerCHIRRTL] Fix enable inference for aggregates
  lib/Dialect/FIRRTL/Transforms/LowerCHIRRTL.cpp
  test/Dialect/FIRRTL/lower-chirrtl.mlir
Labels: FIRRTL

#3117 [FIRRTL][AddSeqMemPorts] Don't error if there are still MemOps
  lib/Dialect/FIRRTL/Transforms/AddSeqMemPorts.cpp
Labels: FIRRTL

#3124 [PyCDE] Remove AppID and AppIDIndex
  frontends/PyCDE/src/CMakeLists.txt
  frontends/PyCDE/src/pycde/__init__.py
  frontends/PyCDE/src/pycde/appid.py
  frontends/PyCDE/src/pycde/attributes.py
  frontends/PyCDE/src/pycde/devicedb.py
  frontends/PyCDE/src/pycde/instance.py
  frontends/PyCDE/test/compreg.py
  frontends/PyCDE/test/instances.py
Labels: PyCDE

#3012 Initial Calyx to HW conversion.
  include/circt/Conversion/Passes.td
  lib/Conversion/CalyxToHW/CMakeLists.txt
  lib/Conversion/CalyxToHW/CalyxToHW.cpp
  lib/Conversion/PassDetail.h
  test/Conversion/CalyxToHW/basic.mlir
Labels: Calyx

#3129 [FIRRTL] Composable LowerAnnotations
  include/circt/Dialect/FIRRTL/AnnotationDetails.h
  include/circt/Dialect/FIRRTL/FIRParser.h
  include/circt/Dialect/FIRRTL/FIRRTLAnnotationHelper.h
  lib/Dialect/FIRRTL/Import/CMakeLists.txt
  lib/Dialect/FIRRTL/Import/FIRAnnotations.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Transforms/LowerAnnotations.cpp
  test/Dialect/FIRRTL/annotations.fir
  test/Dialect/FIRRTL/annotations.mlir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#3130 [SCFToCalyx] Add special case for pipeline stages with side effects only.
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  test/Conversion/SCFToCalyx/convert_pipeline.mlir
Labels: Calyx

#3156 [MSFT] Add an op to place all the bits in a register
  include/circt/Dialect/MSFT/MSFTAttributes.h
  include/circt/Dialect/MSFT/MSFTAttributes.td
  include/circt/Dialect/MSFT/MSFTPDOps.td
  lib/Dialect/MSFT/ExportQuartusTcl.cpp
  lib/Dialect/MSFT/MSFTAttributes.cpp
  lib/Dialect/MSFT/MSFTOps.cpp
  lib/Dialect/MSFT/MSFTPasses.cpp
  test/Dialect/MSFT/attributes.mlir
  test/Dialect/MSFT/dynamic_instance.mlir
Labels: msft

#3158 Pretty print JSON metadata created
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
  lib/Dialect/SV/Transforms/HWExportModuleHierarchy.cpp
  test/Dialect/FIRRTL/emit-metadata.mlir
  test/Dialect/SV/hw-export-module-hierarchy.mlir
  test/firtool/memoryLowering.fir
  test/firtool/memoryMetadata.fir
Labels: FIRRTL, HW

#3160 [PyCDE] Specialize `Instance`s
  frontends/PyCDE/src/pycde/instance.py
  frontends/PyCDE/src/pycde/system.py
  frontends/PyCDE/test/compreg.py
Labels: PyCDE

#3162 [MSFT] Teach PlacementDB about LocationVectors
  include/circt/Dialect/MSFT/DeviceDB.h
  lib/CAPI/Dialect/MSFT.cpp
  lib/Dialect/MSFT/DeviceDB.cpp
Labels: msft

#3163 [MSFT] [Python] Expose LocationVector to Python
  include/circt-c/Dialect/MSFT.h
  lib/Bindings/Python/MSFTModule.cpp
  lib/CAPI/Dialect/MSFT.cpp
Labels: Python, msft

#3164 [PyCDE] Use `LocationVector` to place registers
  frontends/PyCDE/src/pycde/devicedb.py
  frontends/PyCDE/src/pycde/instance.py
  frontends/PyCDE/src/pycde/pycde_types.py
  frontends/PyCDE/test/compreg.py
  lib/Bindings/Python/circt/support.py
Labels: PyCDE

#3161 [SCFToCalyx] [StaticLogicToCalyx] Pull out while-operation interface.
  include/circt/Dialect/Calyx/CalyxLoweringUtils.h
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Conversion/StaticLogicToCalyx/CMakeLists.txt
  lib/Conversion/StaticLogicToCalyx/StaticLogicToCalyx.cpp
Labels: Calyx

#3169 Temporarily stop printing version info in generated files
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
Labels: ExportVerilog

#3165 [PyCDE] [Python] Teach `LocationVector` bindings about 'None' for optional locations
  frontends/PyCDE/src/pycde/devicedb.py
  frontends/PyCDE/src/pycde/instance.py
  frontends/PyCDE/test/compreg.py
  lib/Bindings/Python/MSFTModule.cpp
  lib/CAPI/Dialect/MSFT.cpp
  lib/Dialect/MSFT/DeviceDB.cpp
Labels: Python, PyCDE

#3184 [firtool] Only blackbox SRAMs when `-repl-seq-mem` is specified
  test/Dialect/FIRRTL/SFCTests/emit-omir.fir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#3188 [FIRRTL] Stop double-generating attribute docs
  include/circt/Dialect/FIRRTL/CMakeLists.txt
Labels: FIRRTL

#3198 [Calyx] Improve error handling in calyx emitter
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Dialect/Calyx/export-errors.mlir
Labels: Calyx

#3187 [FIRRTL] Remove unused BlackBoxMemory pass
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Transforms/BlackBoxMemory.cpp
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  test/Dialect/FIRRTL/blackbox-memory.mlir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#3179 [FIRRTL] Simplify NonLocalAnchor namepath printing
  docs/RationaleFIRRTL.md
  include/circt/Dialect/FIRRTL/FIRRTLStructure.td
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw-errors.mlir
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
  test/Dialect/FIRRTL/SFCTests/dedup-errors.fir
  test/Dialect/FIRRTL/SFCTests/dedup.fir
  test/Dialect/FIRRTL/annotations.fir
  test/Dialect/FIRRTL/annotations.mlir
  test/Dialect/FIRRTL/dedup.mlir
  test/Dialect/FIRRTL/emit-omir.mlir
  test/Dialect/FIRRTL/errors.mlir
  test/Dialect/FIRRTL/extract-instances.mlir
  test/Dialect/FIRRTL/grand-central-taps.mlir
  test/Dialect/FIRRTL/grand-central.mlir
  test/Dialect/FIRRTL/inject-dut-hierarchy.mlir
  test/Dialect/FIRRTL/inliner.mlir
  test/Dialect/FIRRTL/lower-memory.mlir
  test/Dialect/FIRRTL/lower-types.mlir
  test/Dialect/FIRRTL/prefix-modules.mlir
  test/Dialect/FIRRTL/print-nla-table.mlir
  test/Dialect/FIRRTL/test.mlir
Labels: FIRRTL

#3206 [FIRRTL] Stop using `scala` for `firrtl` code blocks in markdown
  docs/RationaleFIRRTL.md
Labels: FIRRTL

#3207 [FIRRTL] Fix formatting in FIRRTLAnnotations.md
  docs/FIRRTLAnnotations.md
Labels: FIRRTL

#3205 [FIRRTL] rename `mem-to-regOfVec` to `firrtl-mem-to-reg-of-vec`
  include/circt/Dialect/FIRRTL/Passes.td
  test/Dialect/FIRRTL/SFCTests/emit-omir.fir
  test/Dialect/FIRRTL/mem-to-reg-of-vec.mlir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#3203 [MSFT] Add channel operation
  include/circt/Dialect/MSFT/MSFTConstructs.td
  include/circt/Dialect/MSFT/MSFTOps.h
  lib/Dialect/MSFT/CMakeLists.txt
  lib/Dialect/MSFT/MSFTPasses.cpp
  test/Dialect/MSFT/constructs.mlir
Labels: msft

#3192 [FIRRTL] Use tap wires for GCT data taps
  lib/Dialect/FIRRTL/Transforms/GrandCentralTaps.cpp
  test/Dialect/FIRRTL/SFCTests/data-taps-nlas.fir
  test/Dialect/FIRRTL/annotations.mlir
  test/Dialect/FIRRTL/grand-central-taps.mlir
Labels: FIRRTL

#3204 [FIRRTL] Fix folds of zero-width values with zero-width constants
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  test/Dialect/FIRRTL/canonicalization.mlir
Labels: FIRRTL

#3202 [FIRRTL] Fix uses of deprecated APInt functions
  include/circt/Support/APInt.h
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Support/APInt.cpp
Labels: FIRRTL

#3221 [HW] [ExportVerilog] Add parameter concat expression
  include/circt/Dialect/HW/HWAttributes.td
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Dialect/HW/HWAttributes.cpp
  test/Conversion/ExportVerilog/hw-dialect.mlir
  test/Dialect/HW/parameters.mlir
Labels: HW, ExportVerilog

#3229 [MSFT] Track instance hierarchy through module parameters
  include/circt/Dialect/MSFT/MSFTOps.td
  lib/Dialect/MSFT/MSFTPasses.cpp
  test/Dialect/MSFT/module_instance.mlir
  test/Dialect/MSFT/opt-errors.mlir
Labels: msft

#3238 [SCFToCalyx, Calyx, CalyxToHW] Add support for signed div and rem
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  lib/Conversion/CalyxToHW/CalyxToHW.cpp
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Conversion/StaticLogicToCalyx/StaticLogicToCalyx.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Conversion/SCFToCalyx/convert_simple.mlir
  test/Dialect/Calyx/emit.mlir
  test/Dialect/Calyx/export-errors.mlir
  test/Dialect/Calyx/round-trip.mlir
Labels: Calyx
