Repository llvm/circt, pull requests merged in 2022-10, with the labels that each got.

#3892 [ExportSystemC] Support more emitc operations and types
  integration_test/Target/ExportSystemC/basic.mlir
  lib/Target/ExportSystemC/CMakeLists.txt
  lib/Target/ExportSystemC/EmissionPattern.h
  lib/Target/ExportSystemC/EmissionPatternSupport.h
  lib/Target/ExportSystemC/EmissionPrinter.cpp
  lib/Target/ExportSystemC/EmissionPrinter.h
  lib/Target/ExportSystemC/ExportSystemC.cpp
  lib/Target/ExportSystemC/Patterns/BuiltinEmissionPatterns.cpp
  lib/Target/ExportSystemC/Patterns/BuiltinEmissionPatterns.h
  lib/Target/ExportSystemC/Patterns/EmitCEmissionPatterns.cpp
  lib/Target/ExportSystemC/Patterns/EmitCEmissionPatterns.h
  lib/Target/ExportSystemC/Patterns/HWEmissionPatterns.cpp
  lib/Target/ExportSystemC/Patterns/HWEmissionPatterns.h
  lib/Target/ExportSystemC/Patterns/SystemCEmissionPatterns.cpp
  lib/Target/ExportSystemC/RegisterAllEmitters.h
  test/Target/ExportSystemC/basic.mlir
Labels: SystemC

#3893 [ExportSystemC] Add support for NewOp, DeleteOp, and DestructorOp
  integration_test/Target/ExportSystemC/basic.mlir
  lib/Target/ExportSystemC/Patterns/SystemCEmissionPatterns.cpp
  test/Target/ExportSystemC/basic.mlir
Labels: SystemC

#3914 [SystemC] Add MemberAccessOp
  include/circt/Dialect/SystemC/SystemCExpressions.td
  integration_test/Target/ExportSystemC/basic.mlir
  lib/Target/ExportSystemC/Patterns/SystemCEmissionPatterns.cpp
  test/Dialect/SystemC/structure.mlir
  test/Target/ExportSystemC/basic.mlir
Labels: SystemC

#4062 [FIRParser] Stop double deserializing OMIR annos
  lib/Dialect/FIRRTL/Import/FIRAnnotations.cpp
Labels: FIRRTL

#4076 [HWArith] Add inlining support
  lib/Dialect/HWArith/HWArithDialect.cpp
Labels: HWArith

#4080 [Scheduling] Fix chaining support for multi-cycle operators.
  lib/Scheduling/ChainingSupport.cpp
  test/Scheduling/chaining-problems.mlir
Labels: Scheduling

#4088 [ESI] Cosimulation test of ESI memories
  frontends/PyCDE/integration_test/esi_ram.py
  frontends/PyCDE/src/pycde/esi.py
  frontends/PyCDE/src/pycde/esi_runtime_common.py
  frontends/PyCDE/src/pycde/pycde_types.py
Labels: ESI

#4090 [Seq] Add const-clock and const-reset folders for FirRegOp
  include/circt/Dialect/Seq/Seq.td
  lib/Dialect/Seq/SeqOps.cpp
  test/Dialect/Seq/canonicalization.mlir
Labels: enhancement, seq

#4096 [FIRRTL][ExpandWhens] Add iterator to `HashTableStack`
  lib/Dialect/FIRRTL/Transforms/ExpandWhens.cpp
Labels: bug, FIRRTL

#4115 [llhd-sim] Fix alloc-dealloc mismatch
  include/circt/Dialect/LLHD/Simulator/State.h
  lib/Dialect/LLHD/Simulator/State.cpp
  lib/Dialect/LLHD/Simulator/signals-runtime-wrappers.cpp
Labels: LLHD

#4116 [llhd-sim] Fix: reference binding to misaligned address
  lib/Conversion/LLHDToLLVM/LLHDToLLVM.cpp
  lib/Dialect/LLHD/Simulator/State.cpp
Labels: LLHD

#4095 [ExportVerilog] Prefix enum fields with typedef names
  include/circt/Dialect/HW/HWTypeDecls.td
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Conversion/ExportVerilog/ExportVerilogInternals.h
  lib/Conversion/ExportVerilog/LegalizeNames.cpp
  lib/Dialect/HW/HWOps.cpp
  lib/Dialect/SV/SVOps.cpp
  test/Conversion/ExportVerilog/hw-typedecls.mlir
  test/Conversion/ExportVerilog/sv-dialect.mlir
Labels: ExportVerilog

#4119 [Calyx] Add Combinational Components
  include/circt/Dialect/Calyx/CalyxInterfaces.td
  include/circt/Dialect/Calyx/CalyxOps.h
  include/circt/Dialect/Calyx/CalyxStructure.td
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Dialect/Calyx/emit-comb-component.mlir
  test/Dialect/Calyx/errors.mlir
Labels: Calyx

#4130 [Calyx] Fix CombComponent Builder
  lib/Dialect/Calyx/CalyxOps.cpp
Labels: Calyx

#4131 [Calyx] Fix CalyxCell verifier and improve tests
  lib/Dialect/Calyx/CalyxOps.cpp
  test/Dialect/Calyx/emit-comb-component.mlir
  test/Dialect/Calyx/round-trip.mlir
Labels: Calyx

#4103 [HW] Refactor InstanceOp implementation to enable code reuse
  include/circt/Dialect/HW/CustomDirectiveImpl.h
  include/circt/Dialect/HW/HWOps.h
  include/circt/Dialect/HW/HWStructure.td
  include/circt/Dialect/HW/InstanceImplementation.h
  lib/Dialect/HW/CMakeLists.txt
  lib/Dialect/HW/CustomDirectiveImpl.cpp
  lib/Dialect/HW/HWOps.cpp
  lib/Dialect/HW/InstanceImplementation.cpp
  lib/Dialect/SystemC/SystemCOps.cpp
Labels: HW

#4104 [SystemC] Add interop.verilated operation
  include/circt/Dialect/SystemC/SystemCOps.h
  include/circt/Dialect/SystemC/SystemCStructure.td
  lib/Dialect/HW/InstanceImplementation.cpp
  lib/Dialect/SystemC/SystemCOps.cpp
  test/Dialect/HW/errors.mlir
  test/Dialect/SystemC/module-error.mlir
  test/Dialect/SystemC/structure.mlir
Labels: SystemC

#3919 [ExportSystemC] Support operations from func dialect
  include/circt/Dialect/SystemC/SystemC.td
  include/circt/Dialect/SystemC/SystemCStatements.td
  include/circt/Dialect/SystemC/SystemCStructure.td
  integration_test/Target/ExportSystemC/func.mlir
  lib/Dialect/SystemC/SystemCOps.cpp
  lib/Target/ExportSystemC/EmissionPrinter.cpp
  lib/Target/ExportSystemC/Patterns/SystemCEmissionPatterns.cpp
  test/Dialect/SystemC/func-invalid.mlir
  test/Dialect/SystemC/func.mlir
  test/Dialect/SystemC/module-error.mlir
  test/Target/ExportSystemC/func.mlir
Labels: SystemC

#4127 [Interop] Introduce unrealized interop operations
  include/circt/Dialect/Interop/Interop.td
  include/circt/Dialect/Interop/InteropOps.h
  lib/Dialect/Interop/InteropOps.cpp
  test/Dialect/Interop/basic.mlir
  test/Dialect/Interop/errors.mlir
Labels: interop

#4143 [SystemC] Lower Interop pass for verilated operation
  include/circt/Dialect/SystemC/CMakeLists.txt
  include/circt/Dialect/SystemC/Passes.td
  include/circt/Dialect/SystemC/SystemCPasses.h
  include/circt/InitAllPasses.h
  lib/Dialect/SystemC/CMakeLists.txt
  lib/Dialect/SystemC/Transforms/CMakeLists.txt
  lib/Dialect/SystemC/Transforms/PassDetails.h
  lib/Dialect/SystemC/Transforms/SystemCLowerInstanceInterop.cpp
  test/Dialect/SystemC/Transforms/interop.mlir
  tools/circt-opt/CMakeLists.txt
Labels: SystemC

#4206 [SystemC] SC_NAMED support for signals
  include/circt/Dialect/SystemC/SystemCStatements.td
  integration_test/Target/ExportSystemC/basic.mlir
  lib/Target/ExportSystemC/Patterns/SystemCEmissionPatterns.cpp
  test/Dialect/SystemC/structure.mlir
  test/Target/ExportSystemC/basic.mlir
Labels: SystemC

#4205 [SystemC] Add SensitiveOp to register sensitivity events for unspawned processes
  include/circt/Dialect/SystemC/SystemCStatements.td
  integration_test/Target/ExportSystemC/basic.mlir
  lib/Conversion/HWToSystemC/HWToSystemC.cpp
  lib/Dialect/SystemC/SystemCOps.cpp
  lib/Target/ExportSystemC/Patterns/SystemCEmissionPatterns.cpp
  test/Conversion/HWToSystemC/structure.mlir
  test/Dialect/SystemC/canonicalize.mlir
  test/Dialect/SystemC/module-error.mlir
  test/Dialect/SystemC/structure.mlir
  test/Target/ExportSystemC/basic.mlir
Labels: SystemC

#4210 [SystemC] ConvertOp folder
  include/circt/Dialect/SystemC/SystemCExpressions.td
  include/circt/Dialect/SystemC/SystemCTypes.h
  lib/Dialect/SystemC/SystemCOps.cpp
  lib/Dialect/SystemC/SystemCTypes.cpp
  test/Dialect/SystemC/canonicalize.mlir
Labels: SystemC
