Repository llvm/circt, pull requests merged in 2022-01, with the labels that each got.

#2415 [MSFT] Use MSFTModuleOp for design partitions
  include/circt/Dialect/MSFT/MSFTOps.td
  lib/Dialect/MSFT/MSFTOps.cpp
  lib/Dialect/MSFT/MSFTPasses.cpp
  test/Dialect/MSFT/partition.mlir
Labels: msft

#2416 [MSFT] [NFC] Refactor design partition pass to share code with the future clean up pass
  lib/Dialect/MSFT/MSFTPasses.cpp
  test/Dialect/MSFT/partition.mlir
Labels: msft

#2410 [MSFT] Wire cleanup pass
  include/circt/Dialect/MSFT/MSFTOps.td
  include/circt/Dialect/MSFT/MSFTPasses.td
  lib/Dialect/MSFT/MSFTOps.cpp
  lib/Dialect/MSFT/MSFTPasses.cpp
  test/Dialect/MSFT/partition.mlir
Labels: msft

#2427 [MSFT] Fix naming issue in `MSFTModuleOp::removePorts`
  include/circt/Dialect/MSFT/MSFTOps.h
  include/circt/Dialect/MSFT/MSFTOps.td
  lib/Dialect/MSFT/MSFTOps.cpp
  lib/Dialect/MSFT/MSFTPasses.cpp
  test/Dialect/MSFT/partition.mlir
Labels: msft

#2364 [FIRRTL] try adding a subaccess cache to the fir parser
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/parse-locations.fir
Labels: FIRRTL

#2383 [Reducer][FIRRTL] Fix memory stubber for memories with bundles
  test/circt-reduce/memory-stubber.mlir
  tools/circt-reduce/Reduction.cpp
Labels: FIRRTL

#2426 [MSFT] [Design Partitioning] Bubble up wire manipulation ops also
  lib/Dialect/MSFT/MSFTPasses.cpp
  test/Dialect/MSFT/partition.mlir
Labels: msft

#2465 [Scheduling] Set up infrastructure for using OR-Tools' solvers.
  CMakeLists.txt
  include/circt/Scheduling/Algorithms.h
  lib/Scheduling/CMakeLists.txt
  lib/Scheduling/LPSchedulers.cpp
  lib/Scheduling/TestPasses.cpp
  test/Scheduling/or-tools/problems.mlir
  test/lit.cfg.py
  test/lit.site.cfg.py.in
Labels: Scheduling

#2487 [MSFT] Merge input and output ports which are driven by the same signal
  lib/Dialect/MSFT/MSFTOps.cpp
  lib/Dialect/MSFT/MSFTPasses.cpp
  test/Dialect/MSFT/partition.mlir
Labels: msft

#2497 [FIRRTL][GrandCentral] reuse element index in field lookup
  lib/Dialect/FIRRTL/Transforms/GrandCentral.cpp
Labels: FIRRTL

#2496 [FIRRTL][InstanceGraph] look up using StringAttr instead of StringRef
  include/circt/Dialect/FIRRTL/InstanceGraph.h
  lib/Dialect/FIRRTL/InstanceGraph.cpp
Labels: FIRRTL

#2498 [FIRRTL] add `BundleType::begin()` and `end()`
  include/circt/Dialect/FIRRTL/FIRRTLTypes.h
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/FIRRTLTypes.cpp
  lib/Dialect/FIRRTL/Transforms/BlackBoxMemory.cpp
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
Labels: FIRRTL

#2501 [FIRRTL] Add `Annotation::begin()` and `end()`
  include/circt/Dialect/FIRRTL/FIRRTLAnnotations.h
  lib/Dialect/FIRRTL/Transforms/PrefixModules.cpp
Labels: FIRRTL

#2277 [FIRRTL] add WireDFT pass
  include/circt/Dialect/FIRRTL/InstanceGraph.h
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/WireDFT.cpp
  test/Dialect/FIRRTL/wire-dft-errors.mlir
  test/Dialect/FIRRTL/wire-dft.mlir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#2507 [FIRRTL] Add functions to look up bundle fields by StringAttr
  include/circt/Dialect/FIRRTL/FIRRTLTypes.h
  lib/Dialect/FIRRTL/FIRRTLTypes.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Labels: FIRRTL

#2508 [FIRRTL] Fix bug when creating `AnnoSet` from `ArrayRef<Annotation>`
  lib/Dialect/FIRRTL/FIRRTLAnnotations.cpp
Labels: FIRRTL

#2503 [FIRRTL][LowerAnnotations] Fetch the StringAttr name of ops
  lib/Dialect/FIRRTL/Transforms/LowerAnnotations.cpp
Labels: FIRRTL

#2502 [FIRRTL] Fix AnnotationSet iterator to work with `llvm::enumerate`
  include/circt/Dialect/FIRRTL/FIRRTLAnnotations.h
Labels: FIRRTL

#2510 [FIRRTL][AnnotationSet] Allow application to memory ports
  include/circt/Dialect/FIRRTL/FIRRTLAnnotations.h
  lib/Dialect/FIRRTL/FIRRTLAnnotations.cpp
Labels: FIRRTL

#2505 [FIRRTL] Add ability to get the type ultimately targeted by a fieldID
  include/circt/Dialect/FIRRTL/FIRRTLTypes.h
  lib/Dialect/FIRRTL/FIRRTLTypes.cpp
  lib/Dialect/FIRRTL/Transforms/GrandCentral.cpp
  lib/Dialect/FIRRTL/Transforms/LowerAnnotations.cpp
Labels: FIRRTL
