Repository llvm/circt, pull requests merged in 2022-12, with the labels that each got.

#4374 [Scheduling] Calculate resII before solving ModuloProblem
  lib/Scheduling/SimplexSchedulers.cpp
  test/Scheduling/modulo-problems.mlir
Labels: Scheduling

#4435 [PyCDE] Wire construct improvements
  frontends/PyCDE/src/pycde/constructs.py
  frontends/PyCDE/src/pycde/value.py
  frontends/PyCDE/test/test_constructs.py
Labels: PyCDE

#4426 [Scheduling] Overhaul simplex-based modulo scheduler.
  lib/Scheduling/SimplexSchedulers.cpp
  test/Scheduling/modulo-problems.mlir
Labels: Scheduling

#4480 [StandardToHandshake] Remove intermediate conversion ops
  include/circt/Conversion/StandardToHandshake.h
  include/circt/Dialect/Handshake/HandshakeOps.h
  include/circt/Dialect/Handshake/HandshakeOps.td
  include/circt/Dialect/Handshake/Visitor.h
  lib/Conversion/StandardToHandshake/StandardToHandshake.cpp
  lib/Dialect/Handshake/HandshakeExecutableOps.cpp
  lib/Dialect/Handshake/HandshakeOps.cpp
  test/Conversion/StandardToHandshake/arith-ops.mlir
  test/Conversion/StandardToHandshake/call.mlir
  test/Conversion/StandardToHandshake/disable-task-pipelining.mlir
  test/Conversion/StandardToHandshake/external-memory.mlir
  test/Conversion/StandardToHandshake/func.mlir
  test/Conversion/StandardToHandshake/memref.mlir
  test/Conversion/StandardToHandshake/source-constants.mlir
  test/Conversion/StandardToHandshake/task-pipelining.mlir
Labels: Handshake

#4495 [Seq] Create new clock enabled register op
  docs/Dialects/Seq/RationaleSeq.md
  include/circt/Dialect/Seq/SeqOps.td
  lib/Dialect/Seq/SeqOps.cpp
  lib/Dialect/Seq/Transforms/LowerSeqToSV.cpp
  test/Dialect/Seq/compreg-errors.mlir
  test/Dialect/Seq/compreg.mlir
Labels: seq
