Repository llvm/circt, pull requests merged in 2022-04, with the labels that each got.

#2831 [PyCDE] Add SystolicArray construct
  frontends/PyCDE/src/CMakeLists.txt
  frontends/PyCDE/src/pycde/constructs.py
  frontends/PyCDE/src/pycde/system.py
  frontends/PyCDE/test/systolic_array.py
Labels: PyCDE

#2834 [FIRRTL][Dedup] Don't dump the circuit on errors
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
Labels: FIRRTL

#2830 [FIRRTL][Dedup] Delay fixup of connects
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  test/Dialect/FIRRTL/dedup.mlir
Labels: FIRRTL

#2848 [HW][FIRRTL] Added `HWInstanceLike` and `HWModuleLike`
  include/circt/Dialect/FIRRTL/FIRRTL.td
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  include/circt/Dialect/FIRRTL/FIRRTLOpInterfaces.h
  include/circt/Dialect/FIRRTL/FIRRTLOpInterfaces.td
  include/circt/Dialect/FIRRTL/FIRRTLOps.h
  include/circt/Dialect/FIRRTL/FIRRTLStructure.td
  include/circt/Dialect/HW/CMakeLists.txt
  include/circt/Dialect/HW/HW.td
  include/circt/Dialect/HW/HWOpInterfaces.h
  include/circt/Dialect/HW/HWOpInterfaces.td
  include/circt/Dialect/HW/HWOps.h
  include/circt/Dialect/HW/HWStructure.td
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  lib/Dialect/FIRRTL/Transforms/ModuleInliner.cpp
  lib/Dialect/HW/CMakeLists.txt
  lib/Dialect/HW/HWOpInterfaces.cpp
Labels: FIRRTL, HW

#2856 [FIRRTL] Relax reg reset width checking
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/test.mlir
Labels: FIRRTL

#2849 [HW][FIRRTL] Factored out common instance graph construction to `InstanceGraphBase`
  include/circt/Dialect/FIRRTL/FIRRTLInstanceGraph.h
  include/circt/Dialect/HW/InstanceGraphBase.h
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/FIRRTL/CMakeLists.txt
  lib/Dialect/FIRRTL/FIRRTLInstanceGraph.cpp
  lib/Dialect/FIRRTL/InstanceGraph.cpp
  lib/Dialect/FIRRTL/Transforms/BlackBoxReader.cpp
  lib/Dialect/FIRRTL/Transforms/CheckCombCycles.cpp
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  lib/Dialect/FIRRTL/Transforms/EmitOMIR.cpp
  lib/Dialect/FIRRTL/Transforms/GrandCentral.cpp
  lib/Dialect/FIRRTL/Transforms/GrandCentralTaps.cpp
  lib/Dialect/FIRRTL/Transforms/IMConstProp.cpp
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  lib/Dialect/FIRRTL/Transforms/PrefixModules.cpp
  lib/Dialect/FIRRTL/Transforms/PrintInstanceGraph.cpp
  lib/Dialect/FIRRTL/Transforms/RemoveUnusedPorts.cpp
  lib/Dialect/FIRRTL/Transforms/WireDFT.cpp
  lib/Dialect/HW/CMakeLists.txt
  lib/Dialect/HW/InstanceGraphBase.cpp
Labels: FIRRTL, HW

#2859 [HWMemSimImpl] Fix randomization of wide memories
  lib/Dialect/SV/Transforms/HWMemSimImpl.cpp
  test/Dialect/SV/hw-memsim.mlir
Labels: bug, FIRRTL

#2860 [HWMemSimImpl] Randomize each memory word separately
  lib/Dialect/SV/Transforms/HWMemSimImpl.cpp
  test/Dialect/SV/hw-memsim.mlir
  test/firtool/memory.fir
Labels: enhancement, HW

#2858 [InferResets] Fix inference for zero-length vectors
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  test/Dialect/FIRRTL/infer-resets-errors.mlir
  test/Dialect/FIRRTL/infer-resets.mlir
Labels: bug, FIRRTL

#2835 [Scheduling] Add an overview/rationale doc.
  docs/Scheduling.md
  docs/includes/img/sched-instance.svg
  docs/includes/img/sched-solution.svg
Labels: Scheduling

#2887 [FIRRTL][Dedup] enhance error messages for dedup failures
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  test/Dialect/FIRRTL/dedup-errors.mlir
Labels: FIRRTL

#2925 [FIRParser] Fix partial connect expansion with analog in bundles
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/parse-basic.fir
Labels: FIRRTL

#2914 [PyCDE][NFC] Cleaning up Values and Types with __new__
  frontends/PyCDE/src/pycde/constructs.py
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/src/pycde/pycde_types.py
  frontends/PyCDE/src/pycde/support.py
  frontends/PyCDE/src/pycde/value.py
  frontends/PyCDE/test/systolic_array.py
Labels: PyCDE

#2912 [PyCDE] [ESI] Add ESI ports to PyCDE
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/src/pycde/pycde_types.py
  frontends/PyCDE/src/pycde/system.py
  frontends/PyCDE/src/pycde/value.py
  frontends/PyCDE/test/esi.py
  lib/Bindings/Python/circt/dialects/esi.py
  lib/Bindings/Python/circt/support.py
Labels: ESI, PyCDE

#2932 [FIRRTL][ModuleInliner] Don't prefix memory names
  lib/Dialect/FIRRTL/Transforms/ModuleInliner.cpp
  test/Dialect/FIRRTL/inliner.mlir
Labels: FIRRTL

#2953 [Scheduling] Add consistency check.
  include/circt/Scheduling/Algorithms.h
  lib/Scheduling/LPSchedulers.cpp
  lib/Scheduling/SimplexSchedulers.cpp
Labels: Scheduling

#2983 [FIRRTL][Dedup] Fix MustDedup crash
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  test/Dialect/FIRRTL/dedup-errors.mlir
Labels: FIRRTL

#2993 [FIRRTL] Add documentation for `AddSeqMemPort` annotations
  docs/FIRRTLAnnotations.md
Labels: FIRRTL

#2991 [FIRRTL] print mem.conf even if there are no memories
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
  test/Dialect/FIRRTL/emit-metadata.mlir
Labels: FIRRTL

#3006 [PyCDE] [NFC] Refactoring out the op caching code
  frontends/PyCDE/src/pycde/instance.py
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/src/pycde/system.py
Labels: PyCDE

#3005 [MSFT] Make dynamic instances hierarchical
  include/circt/Dialect/HW/HWTypes.td
  include/circt/Dialect/MSFT/MSFT.td
  include/circt/Dialect/MSFT/MSFTOps.h
  include/circt/Dialect/MSFT/MSFTPDOps.td
  integration_test/Bindings/Python/dialects/msft.py
  lib/Bindings/Python/circt/dialects/_msft_ops_ext.py
  lib/Dialect/MSFT/DeviceDB.cpp
  lib/Dialect/MSFT/MSFTOps.cpp
  lib/Dialect/MSFT/MSFTPasses.cpp
  test/Dialect/MSFT/dynamic_instance.mlir
  test/Dialect/MSFT/opt-errors.mlir
Labels: msft

#3007 [PyCDE] [NFC] Rework instance hierarchy
  frontends/PyCDE/src/pycde/instance.py
  frontends/PyCDE/src/pycde/system.py
  frontends/PyCDE/test/instances.py
  lib/Bindings/Python/circt/dialects/_msft_ops_ext.py
Labels: PyCDE
