Repository llvm/circt, pull requests merged in 2022-06, with the labels that each got.

#3243 [SCFToCalyx] [StaticLogicToCalyx] Continue separation of the conversions.
  include/circt/Dialect/Calyx/CalyxLoweringUtils.h
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Conversion/StaticLogicToCalyx/StaticLogicToCalyx.cpp
  lib/Dialect/Calyx/Transforms/CalyxLoweringUtils.cpp
Labels: Calyx

#3233 [FIRRTL] Clean up APInt usage in some folds
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
Labels: FIRRTL

#3274 [SCFToCalyx] [StaticLogicToCalyx] Reduce templating in interfaces.
  include/circt/Dialect/Calyx/CalyxLoweringUtils.h
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Conversion/StaticLogicToCalyx/StaticLogicToCalyx.cpp
  lib/Dialect/Calyx/Transforms/CalyxLoweringUtils.cpp
Labels: Calyx

#3275 [SCFToCalyx] [StaticLogicToCalyx] Share passes.
  include/circt/Dialect/Calyx/CalyxLoweringUtils.h
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Conversion/StaticLogicToCalyx/StaticLogicToCalyx.cpp
  lib/Dialect/Calyx/Transforms/CMakeLists.txt
  lib/Dialect/Calyx/Transforms/CalyxLoweringUtils.cpp
Labels: Calyx

#3276 [SCFToCalyx] [StaticLogicToCalyx] Share more passes.
  include/circt/Dialect/Calyx/CalyxLoweringUtils.h
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Conversion/StaticLogicToCalyx/StaticLogicToCalyx.cpp
  lib/Dialect/Calyx/Transforms/CalyxLoweringUtils.cpp
Labels: Calyx

#3279 [PyCDE] Type inference
  frontends/PyCDE/src/pycde/__init__.py
  frontends/PyCDE/src/pycde/constructs.py
  frontends/PyCDE/src/pycde/support.py
  frontends/PyCDE/src/pycde/value.py
Labels: PyCDE

#3286 [FIRRTL] Properly parse printf assertions with no message
  lib/Dialect/FIRRTL/Import/FIRParserAsserts.cpp
  test/Dialect/FIRRTL/parse-basic.fir
Labels: FIRRTL

#3288 [PyCDE] Syntactic sugar to support new subdesign
  frontends/PyCDE/src/pycde/support.py
  frontends/PyCDE/src/pycde/value.py
  frontends/PyCDE/test/muxing.py
  lib/Bindings/Python/circt/dialects/_hw_ops_ext.py
Labels: PyCDE

#3308 [FIRRTL][Dedup] Add test for merging when blocks
  test/Dialect/FIRRTL/dedup.mlir
Labels: FIRRTL

#3321 [MSFT] Support for multiple top levels of same module
  include/circt/Dialect/MSFT/ExportTcl.h
  include/circt/Dialect/MSFT/MSFTOpInterfaces.h
  include/circt/Dialect/MSFT/MSFTOpInterfaces.td
  include/circt/Dialect/MSFT/MSFTPDOps.td
  lib/Dialect/MSFT/ExportQuartusTcl.cpp
  lib/Dialect/MSFT/MSFTPasses.cpp
  test/Dialect/MSFT/dynamic_instance.mlir
Labels: msft

#3322 [Support] A few BackedgeBuilder improvements
  include/circt/Support/BackedgeBuilder.h
  lib/Support/BackedgeBuilder.cpp
Labels: enhancement

#3309 [FIRRTL] Update Dedup to handle HierPathOp ending on Module
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  test/Dialect/FIRRTL/dedup.mlir
Labels: FIRRTL

#3330 [ExportVerilog] Verilog attribute support for sv.reg and sv.wire
  include/circt/Dialect/SV/SVAttributes.td
  include/circt/Dialect/SV/SVInOutOps.td
  include/circt/Dialect/Seq/Seq.td
  lib/Conversion/CalyxToHW/CalyxToHW.cpp
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Dialect/SV/SVOps.cpp
  lib/Dialect/Seq/SeqOps.cpp
  lib/Dialect/Seq/Transforms/LowerSeqToSV.cpp
  test/Conversion/ExportVerilog/sv-dialect.mlir
  test/Dialect/SV/basic.mlir
  test/Dialect/Seq/compreg.mlir
Labels: ExportVerilog

#3331 [FIRRTL] Update InjectDUTHierarchy for new NLAs
  lib/Dialect/FIRRTL/Transforms/InjectDUTHierarchy.cpp
  test/Dialect/FIRRTL/inject-dut-hierarchy.mlir
Labels: FIRRTL

#3323 [LowerToHW] Add BackedgeBuilder, directly materialize inst inputs
  include/circt/Dialect/FIRRTL/FIRRTLOps.h
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
Labels: FIRRTL

#3343 [PyCDE][Python] Add support for InOutType
  frontends/PyCDE/src/pycde/pycde_types.py
  frontends/PyCDE/src/pycde/value.py
  lib/Bindings/Python/HWModule.cpp
  lib/Bindings/Python/circt/dialects/_sv_ops_ext.py
  lib/Bindings/Python/circt/support.py
Labels: Python

#3379 DropNames: Add statistic, fixup test
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Transforms/DropName.cpp
  test/Dialect/FIRRTL/drop-name.mlir
Labels: FIRRTL

#3366 [FIRRTL] rework innerref verification, starting with HierPathOp.
  include/circt/Dialect/FIRRTL/FIRRTLOpInterfaces.h
  include/circt/Dialect/FIRRTL/FIRRTLOpInterfaces.td
  include/circt/Dialect/FIRRTL/FIRRTLStructure.td
  lib/Dialect/FIRRTL/CMakeLists.txt
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/InnerSymbolTable.cpp
Labels: FIRRTL

#3390 [FIRRTL][Dedup] Pre-calculate the post-order of modules
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
Labels: FIRRTL

#3412 [PyCDE] Switch back to normal Type function
  frontends/PyCDE/src/pycde/pycde_types.py
Labels: PyCDE

#3413 [PyCDE] Clock inputs and clocking blocks
  frontends/PyCDE/src/pycde/__init__.py
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/src/pycde/pycde_types.py
  frontends/PyCDE/src/pycde/value.py
  frontends/PyCDE/test/compreg.py
  frontends/PyCDE/test/good_example.py
Labels: PyCDE

#3425 [MSFT] AppID attribute
  include/circt-c/Dialect/MSFT.h
  include/circt/Dialect/MSFT/MSFTAttributes.td
  integration_test/Bindings/Python/dialects/msft.py
  lib/Bindings/Python/MSFTModule.cpp
  lib/CAPI/Dialect/MSFT.cpp
  test/Dialect/MSFT/attributes.mlir
Labels: msft

#3426 [MSFT] Pass to discover AppIDs
  include/circt/Dialect/MSFT/MSFTOps.td
  include/circt/Dialect/MSFT/MSFTPasses.td
  lib/Dialect/MSFT/MSFTOps.cpp
  lib/Dialect/MSFT/MSFTPasses.cpp
  test/Dialect/MSFT/module_instance.mlir
  test/Dialect/MSFT/opt-errors.mlir
Labels: msft

#3431 [FIRRTL][GCSM] Use buffer wires for forced output ports
  lib/Dialect/FIRRTL/Transforms/GrandCentralSignalMappings.cpp
  test/Dialect/FIRRTL/grand-central-signal-mappings.mlir
Labels: FIRRTL

#3381 [FIRRTL] LowerAnnnos: Add a few statistics
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Transforms/LowerAnnotations.cpp
Labels: FIRRTL

#3295 [SV] Generate case support
  include/circt/Dialect/SV/SV.td
  include/circt/Dialect/SV/SVGenerate.td
  include/circt/Dialect/SV/SVVisitors.h
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Dialect/SV/SVOps.cpp
  test/Dialect/SV/generates.mlir
Labels: ExportVerilog, Verilog/SystemVerilog

#3443 [FIRRTL][ModuleInliner] Fixup comment typos. NFC.
  lib/Dialect/FIRRTL/Transforms/ModuleInliner.cpp
Labels: documentation, FIRRTL

#3444 [FIRRTL] for (auto x : llvm::enumerate(..)) -> for (const auto &x : ...)
  lib/Dialect/FIRRTL/FIRRTLAnnotationHelper.cpp
  lib/Dialect/FIRRTL/FIRRTLTypes.cpp
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  lib/Dialect/FIRRTL/Transforms/EmitOMIR.cpp
  lib/Dialect/FIRRTL/Transforms/ExpandWhens.cpp
  lib/Dialect/FIRRTL/Transforms/FlattenMemory.cpp
  lib/Dialect/FIRRTL/Transforms/GrandCentralSignalMappings.cpp
  lib/Dialect/FIRRTL/Transforms/InferReadWrite.cpp
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  lib/Dialect/FIRRTL/Transforms/InjectDUTHierarchy.cpp
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  lib/Dialect/FIRRTL/Transforms/MergeConnections.cpp
  lib/Dialect/FIRRTL/Transforms/ModuleInliner.cpp
  lib/Dialect/FIRRTL/Transforms/RemoveUnusedPorts.cpp
Labels: FIRRTL

#3445 firtool: Avoid copying strings in loops. NFC.
  tools/firtool/firtool.cpp
Labels: FIRRTL

#3446 [FIRRTL][LowerTypes] avoid non-trivial copies, use const ref; touchup isa check
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
Labels: FIRRTL

#3448 [FIRRTL][MemToRegOfVec] avoid unnecessary copies, use const ref. NFC.
  lib/Dialect/FIRRTL/Transforms/MemToRegOfVec.cpp
Labels: FIRRTL

#3449 [FIRRTL][LowerAnnotations] avoid non-trivial copies, use const ref. NFC.
  include/circt/Dialect/FIRRTL/FIRRTLAnnotationHelper.h
  lib/Dialect/FIRRTL/Transforms/GrandCentral.cpp
  lib/Dialect/FIRRTL/Transforms/GrandCentralSignalMappings.cpp
  lib/Dialect/FIRRTL/Transforms/GrandCentralTaps.cpp
  lib/Dialect/FIRRTL/Transforms/LowerAnnotations.cpp
Labels: FIRRTL

#3397 [FIRRTL] Move all name preservation logic into the drop names pass
  include/circt/Dialect/FIRRTL/FIRRTLCanonicalization.td
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Transforms/DropName.cpp
  lib/Dialect/FIRRTL/Transforms/PassDetails.h
  test/Dialect/FIRRTL/SFCTests/GrandCentralInterfaces/Wire.fir
  test/Dialect/FIRRTL/SFCTests/async-reset.fir
  test/Dialect/FIRRTL/SFCTests/dedup.fir
  test/Dialect/FIRRTL/SFCTests/invalid-reg-pass.fir
  test/Dialect/FIRRTL/SFCTests/remove-reset.fir
  test/Dialect/FIRRTL/annotations.fir
  test/Dialect/FIRRTL/drop-name.mlir
  test/Dialect/FIRRTL/parse-basic.fir
  test/firtool/firtool.fir
  test/firtool/memory.fir
  test/firtool/name-preservation.fir
  test/firtool/prefixMemory.fir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#3433 [PyCDE] Expose AppIDs: add them via Value, shortcuts for regs/instances, accessors in `Instance`s
  frontends/PyCDE/src/pycde/__init__.py
  frontends/PyCDE/src/pycde/instance.py
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/src/pycde/system.py
  frontends/PyCDE/src/pycde/value.py
  frontends/PyCDE/test/compreg.py
  frontends/PyCDE/test/errors.py
  frontends/PyCDE/test/instances.py
  frontends/PyCDE/test/polynomial.py
  lib/Bindings/Python/circt/dialects/_msft_ops_ext.py
Labels: PyCDE

#3457 [PyCDE] [AppID] Iterate through appids of a given name
  frontends/PyCDE/src/pycde/instance.py
  frontends/PyCDE/test/instances.py
Labels: PyCDE
