Repository llvm/circt, pull requests merged in 2022-03, with the labels that each got.

#2714 [FIRRTL][Dedup] Fix issue with NLAs on ExtModule ports
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  test/Dialect/FIRRTL/dedup.mlir
Labels: FIRRTL

#2715 [reduce] Make reducer NLA aware
  tools/circt-reduce/Reduction.cpp
Labels: enhancement

#2717 [FIRTL][Annotations] Fix issue when module name matches inner name
  lib/Dialect/FIRRTL/Import/FIRAnnotations.cpp
  test/Dialect/FIRRTL/annotations.fir
Labels: FIRRTL

#2721 [FIRRTL][Dedup] Include port types in ext module hashing
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  test/Dialect/FIRRTL/dedup.mlir
Labels: FIRRTL

#2723 [FIRRTL] Properly handle analog types w/ NamePreservation option
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/parse-name-preservation.fir
Labels: FIRRTL

#2726 [HW] Add port dir flip function, make `PortDirection` an enum class; NFC
  include/circt/Dialect/HW/HWOps.h
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/HW/HWOps.cpp
  lib/Dialect/SV/Transforms/SVExtractTestCode.cpp
Labels: HW

#2724 [FIRRTL] Add more tests for NamePreservation
  test/Dialect/FIRRTL/parse-name-preservation.fir
Labels: FIRRTL

#2734 [FIRRTL][Dedup] Get a module's name before deleting it
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
Labels: FIRRTL

#2736 [FIRRTL][LowerTypes] Fix std::lower_bound usage
  include/circt/Dialect/FIRRTL/FIRRTLOps.h
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
Labels: FIRRTL

#2735 [FIRRTL][WireDFT] Fix invalidated reference from growing DenseMap
  lib/Dialect/FIRRTL/Transforms/WireDFT.cpp
Labels: FIRRTL

#2742 [FIRRTL][ExpandWhens] Improve location tracking while lowering
  lib/Dialect/FIRRTL/Transforms/ExpandWhens.cpp
  test/Dialect/FIRRTL/expand-whens-locations.mlir
Labels: FIRRTL

#2720 [LLHD] Process Lowering: support muxed signals
  lib/Dialect/LLHD/Transforms/ProcessLoweringPass.cpp
  test/Dialect/LLHD/Transforms/processLowering.mlir
  test/Dialect/LLHD/Transforms/processLoweringErrors.mlir
Labels: LLHD

#2727 [HW] Add port modification for module-like ops
  include/circt/Dialect/HW/HWOps.h
  include/circt/Dialect/HW/HWStructure.td
  lib/Dialect/HW/HWOps.cpp
Labels: HW

#2743 [LLHD] Allow instantiation of hw.module
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  test/Dialect/LLHD/IR/inst-errors.mlir
  test/Dialect/LLHD/IR/inst.mlir
Labels: LLHD

#2747 [FIRRTL][OMIR] Don't assume NLA's have an absolute path
  lib/Dialect/FIRRTL/Transforms/EmitOMIR.cpp
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  test/Dialect/FIRRTL/emit-omir.mlir
Labels: FIRRTL

#2752 [HW][ExportModuleHierarchy] Allow multiple output files per module
  docs/FIRRTLAnnotations.md
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/SV/Transforms/HWExportModuleHierarchy.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
  test/Conversion/FIRRTLToHW/module-hierarchy-file.mlir
  test/Dialect/SV/hw-export-module-hierarchy.mlir
Labels: FIRRTL, HW

#2762 [LLHD] Add output operation
  include/circt/Dialect/LLHD/IR/SignalOps.td
  lib/Conversion/HWToLLHD/HWToLLHD.cpp
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  test/Dialect/LLHD/IR/inst-errors.mlir
  test/Dialect/LLHD/IR/signal-errors.mlir
  test/Dialect/LLHD/IR/signal.mlir
Labels: LLHD

#2770 [FIRRTL][Inliner] Filter non-local annos by the instance path
  lib/Dialect/FIRRTL/Transforms/ModuleInliner.cpp
  test/Dialect/FIRRTL/inliner.mlir
Labels: FIRRTL

#2777 [FIRRTL][Inliner] Fix NLA filtering on symbol collision
  lib/Dialect/FIRRTL/Transforms/ModuleInliner.cpp
  test/Dialect/FIRRTL/inliner.mlir
Labels: FIRRTL

#2661 [Calyx] SCFToCalyx generates zero-width memref address ports for memrefs with size 1 dims
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  test/Conversion/SCFToCalyx/convert_memory.mlir
Labels: Calyx

#2784 [FIRRTL][LowerToHW] Find the DUT in a prepass
  include/circt/Support/LLVM.h
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
Labels: FIRRTL

#2786 [FIRRTL][InstanceGraph] Add missing implementation of `addModule()`
  include/circt/Dialect/FIRRTL/InstanceGraph.h
  lib/Dialect/FIRRTL/InstanceGraph.cpp
Labels: FIRRTL

#2796 [HW] GlobalRefOp performance enhancement
  include/circt/Dialect/HW/HWStructure.td
  lib/Dialect/HW/HWOps.cpp
Labels: HW

#2793 [FIRParser] Expand and remove partial connects at parse time
  include/circt/Dialect/FIRRTL/FIRRTLUtils.h
  lib/Dialect/FIRRTL/CMakeLists.txt
  lib/Dialect/FIRRTL/FIRRTLUtils.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/parse-locations.fir
  test/firtool/connect.fir
  test/firtool/firtool.fir
Labels: FIRRTL

#2804 [MSFT] [PyCDE] Make placement DB global rather than rooted
  frontends/PyCDE/src/pycde/devicedb.py
  frontends/PyCDE/src/pycde/instance.py
  frontends/PyCDE/src/pycde/system.py
  frontends/PyCDE/test/compreg.py
  frontends/PyCDE/test/instances.py
  include/circt-c/Dialect/MSFT.h
  include/circt/Dialect/MSFT/DeviceDB.h
  integration_test/Bindings/Python/dialects/msft.py
  lib/Bindings/Python/MSFTModule.cpp
  lib/CAPI/Dialect/MSFT.cpp
  lib/Dialect/MSFT/DeviceDB.cpp
Labels: PyCDE, msft

#2812 [Moore] Add shift expressions
  include/circt/Dialect/Moore/MIRExpressions.td
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
  test/Dialect/Moore/basic.mlir
Labels: Moore

#2827 [Moore] Add types to C API
  include/circt-c/Dialect/Moore.h
  lib/CAPI/Dialect/Moore.cpp
Labels: Moore
