Repository llvm/circt, pull requests merged in 2022-02, with the labels that each got.

#2569 [Scheduling] Pull out utility for handling operations in topological order.
  include/circt/Scheduling/Utilities.h
  lib/Scheduling/ASAPScheduler.cpp
  lib/Scheduling/CMakeLists.txt
  lib/Scheduling/Utilities.cpp
Labels: Scheduling

#2557 [Scheduling] Add a scheduler for the ChainingProblem.
  include/circt/Scheduling/Algorithms.h
  include/circt/Scheduling/Utilities.h
  lib/Scheduling/CMakeLists.txt
  lib/Scheduling/ChainingSupport.cpp
  lib/Scheduling/SimplexSchedulers.cpp
  lib/Scheduling/TestPasses.cpp
  test/Scheduling/chaining-problems.mlir
  test/Scheduling/chaining-simplex-errors.mlir
  test/Scheduling/cyclic-simplex-errors.mlir
Labels: Scheduling

#2580 [HW] StructExtractOp folder
  include/circt/Dialect/HW/HWAggregates.td
  include/circt/Dialect/HW/HWTypesImpl.td
  lib/Dialect/HW/HWOps.cpp
  lib/Dialect/HW/HWTypes.cpp
  test/Dialect/HW/canonicalization.mlir
Labels: HW

#2550 [FIRRTL][InstanceGraph] Make instance graph mutable
  include/circt/Dialect/FIRRTL/InstanceGraph.h
  lib/Dialect/FIRRTL/InstanceGraph.cpp
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  lib/Dialect/FIRRTL/Transforms/RemoveUnusedPorts.cpp
  lib/Dialect/FIRRTL/Transforms/WireDFT.cpp
  test/Dialect/FIRRTL/wire-dft-errors.mlir
Labels: FIRRTL

#2587 [MSFT] Rework partitioning
  frontends/PyCDE/src/pycde/system.py
  frontends/PyCDE/test/design_partition.py
  frontends/PyCDE/test/syntactic_sugar.py
  lib/Dialect/MSFT/MSFTPasses.cpp
  test/Dialect/MSFT/partition.mlir
Labels: msft

#2603 [FIRRTL] Fix IR printing assertion
  lib/Dialect/FIRRTL/FIRRTLDialect.cpp
  test/Dialect/FIRRTL/test.mlir
Labels: FIRRTL

#2602 [FIRRTL] FIx memory port NLAs + verifier
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Transforms/LowerAnnotations.cpp
  test/Dialect/FIRRTL/annotations.mlir
Labels: FIRRTL

#2524 [FIRRTL] Add Dedup pass
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/FIRRTLAnnotations.cpp
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  test/Dialect/FIRRTL/SFCTests/dedup-errors.fir
  test/Dialect/FIRRTL/SFCTests/dedup.fir
  test/Dialect/FIRRTL/dedup.mlir
  test/firtool/blackbox.mlir
  test/firtool/memoryMetadata.fir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#2620 [MSFT] Create PhysLocation operation and use it instead of an attribute on GlobalRef
  include/circt/Dialect/MSFT/DeviceDB.h
  include/circt/Dialect/MSFT/MSFTAttributes.td
  include/circt/Dialect/MSFT/MSFTOps.h
  include/circt/Dialect/MSFT/MSFTOps.td
  integration_test/Bindings/Python/dialects/msft.py
  lib/CAPI/Dialect/MSFT.cpp
  lib/Dialect/HW/HWOps.cpp
  lib/Dialect/MSFT/DeviceDB.cpp
  lib/Dialect/MSFT/ExportQuartusTcl.cpp
  lib/Dialect/MSFT/MSFTAttributes.cpp
  lib/Dialect/MSFT/MSFTOps.cpp
  lib/Dialect/MSFT/MSFTPasses.cpp
  test/Dialect/MSFT/location.mlir
Labels: msft

#2621 [MSFT] Move export tcl functionality into separate pass
  frontends/PyCDE/src/pycde/system.py
  include/circt/Dialect/MSFT/ExportTcl.h
  include/circt/Dialect/MSFT/MSFTPasses.td
  integration_test/Bindings/Python/dialects/msft.py
  lib/Dialect/MSFT/ExportQuartusTcl.cpp
  lib/Dialect/MSFT/MSFTPasses.cpp
  test/Dialect/MSFT/location.mlir
  test/Dialect/MSFT/translate-errors.mlir
Labels: msft

#2622 [MSFT] Dynamic Instance op
  include/circt/Dialect/MSFT/MSFTOps.td
  include/circt/Dialect/MSFT/MSFTPasses.td
  lib/Dialect/MSFT/MSFTPasses.cpp
  test/Dialect/MSFT/dynamic_instance.mlir
Labels: msft

#2628 [MSFT] Introduce InstanceSpecific op interface
  include/circt/Dialect/MSFT/CMakeLists.txt
  include/circt/Dialect/MSFT/MSFT.td
  include/circt/Dialect/MSFT/MSFTOpInterfaces.h
  include/circt/Dialect/MSFT/MSFTOpInterfaces.td
  include/circt/Dialect/MSFT/MSFTOps.h
  include/circt/Dialect/MSFT/MSFTOps.td
  lib/Dialect/MSFT/CMakeLists.txt
  lib/Dialect/MSFT/MSFTOpInterfaces.cpp
  lib/Dialect/MSFT/MSFTOps.cpp
  lib/Dialect/MSFT/MSFTPasses.cpp
Labels: msft

#2629 [MSFT] Move physical region to op and rename ops
  include/circt-c/Dialect/MSFT.h
  include/circt/Dialect/MSFT/DeviceDB.h
  include/circt/Dialect/MSFT/MSFTAttributes.td
  include/circt/Dialect/MSFT/MSFTOps.td
  lib/Bindings/Python/MSFTModule.cpp
  lib/CAPI/Dialect/MSFT.cpp
  lib/Dialect/MSFT/DeviceDB.cpp
  lib/Dialect/MSFT/ExportQuartusTcl.cpp
  lib/Dialect/MSFT/MSFTAttributes.cpp
  lib/Dialect/MSFT/MSFTOps.cpp
  lib/Dialect/MSFT/MSFTPasses.cpp
  test/Dialect/MSFT/attributes.mlir
  test/Dialect/MSFT/location.mlir
  test/Dialect/MSFT/translate-errors.mlir
Labels: msft

#2630 [MSFT] Add verifier to DynInstData op interface
  include/circt/Dialect/MSFT/MSFTOpInterfaces.h
  include/circt/Dialect/MSFT/MSFTOpInterfaces.td
  lib/Dialect/MSFT/MSFTOpInterfaces.cpp
  lib/Dialect/MSFT/MSFTOps.cpp
  test/Dialect/MSFT/dynamic_instance.mlir
  test/Dialect/MSFT/opt-errors.mlir
Labels: msft

#2635 [MSFT] [ExportTcl] Ween off of DeviceDB
  include/circt/Dialect/MSFT/ExportTcl.h
  lib/Dialect/MSFT/ExportQuartusTcl.cpp
  lib/Dialect/MSFT/MSFTPasses.cpp
  test/Dialect/MSFT/translate-errors.mlir
Labels: msft

#2634 [FIRRTL][Dedup] Merge location information
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  test/Dialect/FIRRTL/dedup-locations.mlir
Labels: FIRRTL

#2637 [MSFT] [PlacementDB] Refactor around new dynamic instance op
  include/circt-c/Dialect/MSFT.h
  include/circt/Dialect/MSFT/DeviceDB.h
  include/circt/Dialect/MSFT/MSFTOps.td
  integration_test/Bindings/Python/dialects/msft.py
  lib/Bindings/Python/MSFTModule.cpp
  lib/Bindings/Python/circt/dialects/_msft_ops_ext.py
  lib/CAPI/Dialect/MSFT.cpp
  lib/Dialect/MSFT/DeviceDB.cpp
  lib/Dialect/MSFT/MSFTOps.cpp
Labels: msft

#2656 [FIRRTL][InferResets] transfer inner sym when replacing registers
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  test/Dialect/FIRRTL/infer-resets.mlir
Labels: FIRRTL

#2650 [Scheduling] Add an ILP-based solver for the CyclicProblem.
  include/circt/Scheduling/Algorithms.h
  lib/Scheduling/LPSchedulers.cpp
  lib/Scheduling/TestPasses.cpp
  test/Scheduling/or-tools/cyclic-problems.mlir
Labels: Scheduling

#2665 [FIRParser] Flip assert predicate before applying modifiers
  lib/Dialect/FIRRTL/Import/FIRParserAsserts.cpp
  test/Dialect/FIRRTL/SFCTests/complex-asserts.fir
  test/Dialect/FIRRTL/SFCTests/complex-assumes.fir
  test/Dialect/FIRRTL/parse-basic.fir
Labels: bug, FIRRTL

#2654 [FIRRTL][Metadata] Print empty seq_mems.json files
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
  test/Dialect/FIRRTL/emit-metadata.mlir
Labels: FIRRTL

#2681 [FIRRTL][Dedup] Fix partial connect expansion
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  test/Dialect/FIRRTL/dedup.mlir
Labels: FIRRTL

#2684 [FIRRTL][Dedup] Move early break outside of for-loop [NFC]
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
Labels: FIRRTL

#2642 [FIRRTL][Dedup] Add support for MustDeduplicate annotation
  docs/FIRRTLAnnotations.md
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  test/Dialect/FIRRTL/dedup-errors.mlir
  test/Dialect/FIRRTL/dedup.mlir
Labels: FIRRTL

#2690 [FIRRTL][Dedup] Fix creation of symbols with empty name
  lib/Dialect/FIRRTL/FIRRTLAnnotations.cpp
  test/Dialect/FIRRTL/dedup.mlir
Labels: FIRRTL

#2689 [FIRRTL] Add `HWDialect` to the `dependentDialects`
  include/circt/Dialect/FIRRTL/FIRRTLDialect.h
  include/circt/Dialect/FIRRTL/FIRRTLDialect.td
Labels: FIRRTL

#2692 [FIRRTL] Honor NLAs in GCT data tap paths
  lib/Dialect/FIRRTL/Transforms/GrandCentralTaps.cpp
  test/Dialect/FIRRTL/SFCTests/data-taps-nlas.fir
  test/Dialect/FIRRTL/grand-central-taps.mlir
Labels: bug, FIRRTL

#2693 [FIRRTLToHW] Consider strictconnect for elimination
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
Labels: bug, FIRRTL

#2698 [LLHD] Fix SigArrayGetOp canonicalization
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  test/Dialect/LLHD/Canonicalization/extract.mlir
Labels: LLHD

#2683 [PyCDE] Implement new DynamicInstance operation methodology
  frontends/PyCDE/src/pycde/appid.py
  frontends/PyCDE/src/pycde/attributes.py
  frontends/PyCDE/src/pycde/devicedb.py
  frontends/PyCDE/src/pycde/instance.py
  frontends/PyCDE/src/pycde/system.py
  frontends/PyCDE/src/pycde/value.py
  frontends/PyCDE/test/compreg.py
  frontends/PyCDE/test/instances.py
  include/circt-c/Dialect/MSFT.h
  lib/Bindings/Python/MSFTModule.cpp
  lib/Bindings/Python/circt/dialects/_msft_ops_ext.py
  lib/CAPI/Dialect/MSFT.cpp
  lib/Dialect/MSFT/MSFTPasses.cpp
Labels: PyCDE
