Repository llvm/circt, pull requests merged in 2022-08, with the labels that each got.

#3637 [HWArith][HWArithToHW] Implement ICmp
  docs/Dialects/HWArith/RationaleHWArith.md
  include/circt/Dialect/HWArith/CMakeLists.txt
  include/circt/Dialect/HWArith/HWArithDialect.h
  include/circt/Dialect/HWArith/HWArithOps.h
  include/circt/Dialect/HWArith/HWArithOps.td
  include/circt/Dialect/HWArith/HWArithTypes.h
  lib/Conversion/HWArithToHW/HWArithToHW.cpp
  lib/Dialect/HWArith/CMakeLists.txt
  lib/Dialect/HWArith/HWArithDialect.cpp
  lib/Dialect/HWArith/HWArithOps.cpp
  test/Conversion/HWArithToHW/test_basic.mlir
  test/Dialect/HWArith/basic.mlir
Labels: HWArith

#3632 [PyCDE] Integration test for ESI Cosim
  frontends/PyCDE/integration_test/esi.py
  frontends/PyCDE/integration_test/lit.cfg.py
  frontends/PyCDE/integration_test/support/loopback.py
  frontends/PyCDE/src/pycde/system.py
  integration_test/ESI/cosim/basic.py
  integration_test/ESI/cosim/loopback.py
  tools/esi/CMakeLists.txt
  tools/esi/esi-cosim-runner.py.in
  tools/esi/esi_cosim.py.in
Labels: ESI, PyCDE

#3643 [HWArithToHW] Add type conversions for 'other' ops
  lib/Conversion/HWArithToHW/CMakeLists.txt
  lib/Conversion/HWArithToHW/HWArithToHW.cpp
  test/Conversion/HWArithToHW/test_basic.mlir
Labels: HWArith

#3633 [PyCDE] If-Then-Else syntactic sugar for muxes
  frontends/PyCDE/src/CMakeLists.txt
  frontends/PyCDE/src/pycde/behavioral.py
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/test/behavioral.py
  frontends/PyCDE/test/test_fsm.py
Labels: PyCDE

#3636 [SSP] Add SSP <-> circt::scheduling conversion utilities.
  docs/Dialects/SSP/RationaleSSP.md
  include/circt/Dialect/SSP/Utilities.h
  lib/Dialect/SSP/CMakeLists.txt
  lib/Scheduling/CMakeLists.txt
  lib/Scheduling/TestPasses.cpp
  test/Dialect/SSP/roundtrip.mlir
Labels: Scheduling

#3565 [Calyx] Add calyx primitive operation using hw.module.extern
  include/circt/Dialect/Calyx/Calyx.td
  include/circt/Dialect/Calyx/CalyxOps.h
  include/circt/Dialect/Calyx/CalyxStructure.td
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  lib/Dialect/HW/HWAttributes.cpp
  test/Dialect/Calyx/emit-custom-primitives.mlir
  test/Dialect/Calyx/errors.mlir
  test/Dialect/Calyx/round-trip.mlir
Labels: Calyx

#3665 [PyCDE] Fix liveOperations bug
  frontends/PyCDE/src/pycde/behavioral.py
  frontends/PyCDE/src/pycde/system.py
  frontends/PyCDE/test/behavioral.py
Labels: PyCDE

#3664 [ExportSystemC] Move pass from circt-opt to circt-translate
  include/circt/Conversion/Passes.h
  include/circt/Conversion/Passes.td
  include/circt/InitAllTranslations.h
  include/circt/Target/ExportSystemC.h
  lib/CMakeLists.txt
  lib/Conversion/CMakeLists.txt
  lib/Conversion/ExportSystemC/ExportSystemC.cpp
  lib/Target/CMakeLists.txt
  lib/Target/ExportSystemC/CMakeLists.txt
  lib/Target/ExportSystemC/ExportSystemC.cpp
  tools/circt-opt/CMakeLists.txt
Labels: SystemC

#3667 [ESI] Make service generators registerable in Python
  include/circt-c/Dialect/ESI.h
  include/circt/Dialect/ESI/ESIServices.h
  include/circt/Dialect/ESI/ESIServices.td
  integration_test/Bindings/Python/dialects/esi.py
  lib/Bindings/Python/ESIModule.cpp
  lib/CAPI/Dialect/ESI.cpp
  lib/Dialect/ESI/ESIServices.cpp
Labels: ESI

#3670 [FIRRTL][SFCCompat] Add support for aggregates
  include/circt/Dialect/FIRRTL/FIRRTLUtils.h
  include/circt/Support/FieldRef.h
  lib/Dialect/FIRRTL/FIRRTLUtils.cpp
  lib/Dialect/FIRRTL/Transforms/SFCCompat.cpp
  test/Dialect/FIRRTL/sfc-compat.mlir
Labels: FIRRTL

#3677 [PyCDE] Add `Reg` and `Wire` declarations which can be assigned to
  frontends/PyCDE/src/pycde/constructs.py
  frontends/PyCDE/src/pycde/value.py
  frontends/PyCDE/test/systolic_array.py
  frontends/PyCDE/test/test_constructs.py
  frontends/PyCDE/test/test_constructs_errors.py
  include/circt-c/Dialect/MSFT.h
  lib/Bindings/Python/MSFTModule.cpp
  lib/CAPI/Dialect/MSFT.cpp
Labels: PyCDE

#3689 [FIRRTL][Dedup] Simplify printing of dedup failure of instances
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  test/Dialect/FIRRTL/dedup-errors.mlir
Labels: FIRRTL

#3703 [PyCDE][NFC] Value: revert fancy __new__ dispatch method
  frontends/PyCDE/src/pycde/behavioral.py
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/src/pycde/support.py
  frontends/PyCDE/src/pycde/value.py
Labels: PyCDE

#3701 [ESI] [PyCDE] Allow users to implement services in PyCDE
  frontends/PyCDE/src/pycde/esi.py
  frontends/PyCDE/src/pycde/fsm.py
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/test/esi.py
  frontends/PyCDE/test/test_esi_errors.py
  lib/Bindings/Python/CMakeLists.txt
  lib/Bindings/Python/ESIModule.cpp
  lib/Bindings/Python/circt/dialects/_esi_ops_ext.py
Labels: ESI, PyCDE

#3681 [SystemC] Introduce special types for ports and signals
  include/circt/Dialect/SystemC/SystemC.td
  include/circt/Dialect/SystemC/SystemCAttributesImpl.td
  include/circt/Dialect/SystemC/SystemCDialect.td
  include/circt/Dialect/SystemC/SystemCExpressions.td
  include/circt/Dialect/SystemC/SystemCOps.h
  include/circt/Dialect/SystemC/SystemCStatements.td
  include/circt/Dialect/SystemC/SystemCStructure.td
  include/circt/Dialect/SystemC/SystemCTypes.h
  include/circt/Dialect/SystemC/SystemCTypes.td
  include/circt/Dialect/SystemC/SystemCTypesImpl.td
  lib/Conversion/HWToSystemC/HWToSystemC.cpp
  lib/Dialect/SystemC/SystemCAttributes.cpp
  lib/Dialect/SystemC/SystemCDialect.cpp
  lib/Dialect/SystemC/SystemCOps.cpp
  lib/Dialect/SystemC/SystemCTypes.cpp
  test/Conversion/HWToSystemC/structure.mlir
  test/Dialect/SystemC/module-attributes.mlir
  test/Dialect/SystemC/module-error.mlir
  test/Dialect/SystemC/structure.mlir
Labels: SystemC

#3707 [PyCDE] [ESI] Expose InOut service ports to PyCDE
  frontends/PyCDE/integration_test/esi.py
  frontends/PyCDE/integration_test/support/loopback.py
  frontends/PyCDE/src/pycde/esi.py
  frontends/PyCDE/test/esi.py
  frontends/PyCDE/test/test_esi_errors.py
Labels: ESI, PyCDE

#3718 [PyCDE] Capture guard_port name at lamba creation time
  frontends/PyCDE/src/pycde/fsm.py
Labels: PyCDE

#3721 [Docs] Update dialects diagram
  docs/dialects.dot
  docs/includes/img/dialects.png
  docs/includes/img/dialects.svg
Labels: documentation

#3726 [ExportSystemC] Basic infrastructure for emission
  .github/workflows/nightlyIntegrationTests.yml
  .github/workflows/shortIntegrationTests.yml
  CMakeLists.txt
  include/circt/Support/LLVM.h
  integration_test/Target/ExportSystemC/.clang-tidy
  integration_test/Target/ExportSystemC/basic.mlir
  integration_test/lit.cfg.py
  integration_test/lit.site.cfg.py.in
  lib/Target/ExportSystemC/CMakeLists.txt
  lib/Target/ExportSystemC/EmissionPattern.h
  lib/Target/ExportSystemC/EmissionPatternSupport.h
  lib/Target/ExportSystemC/EmissionPrinter.cpp
  lib/Target/ExportSystemC/EmissionPrinter.h
  lib/Target/ExportSystemC/ExportSystemC.cpp
  lib/Target/ExportSystemC/Patterns/SystemCEmissionPatterns.cpp
  lib/Target/ExportSystemC/Patterns/SystemCEmissionPatterns.h
  lib/Target/ExportSystemC/RegisterAllEmitters.h
  test/Target/ExportSystemC/basic.mlir
  test/Target/ExportSystemC/errors.mlir
Labels: SystemC

#3733 [ExportSystemC] Integer and port type emission
  integration_test/Target/ExportSystemC/basic.mlir
  lib/Target/ExportSystemC/CMakeLists.txt
  lib/Target/ExportSystemC/EmissionPrinter.cpp
  lib/Target/ExportSystemC/EmissionPrinter.h
  lib/Target/ExportSystemC/ExportSystemC.cpp
  lib/Target/ExportSystemC/Patterns/HWEmissionPatterns.cpp
  lib/Target/ExportSystemC/Patterns/HWEmissionPatterns.h
  lib/Target/ExportSystemC/Patterns/SystemCEmissionPatterns.cpp
  lib/Target/ExportSystemC/RegisterAllEmitters.h
  test/Target/ExportSystemC/basic.mlir
  test/Target/ExportSystemC/errors.mlir
Labels: SystemC

#3735 [ExportSystemC] Add emission patterns for the remaining systemc ops and constant op
  integration_test/Target/ExportSystemC/basic.mlir
  lib/Target/ExportSystemC/Patterns/HWEmissionPatterns.cpp
  lib/Target/ExportSystemC/Patterns/SystemCEmissionPatterns.cpp
  test/Target/ExportSystemC/basic.mlir
Labels: SystemC

#3743 [docs] Add text describing the inner symbol classes/traits/verif.
  docs/RationaleSymbols.md
Labels: documentation, FIRRTL

#3720 [ESI][Services] Output a JSON description of the service hierarchy
  frontends/PyCDE/src/pycde/system.py
  frontends/PyCDE/test/esi.py
  include/circt/Dialect/ESI/ESIPasses.td
  include/circt/Dialect/ESI/ESIServices.td
  integration_test/ESI/cosim/loopback.mlir
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/ESIPasses.cpp
  lib/Dialect/ESI/ESIServices.cpp
  lib/Dialect/ESI/ESITranslations.cpp
  test/Dialect/ESI/cosim.mlir
  test/Dialect/ESI/services.mlir
  test/Dialect/ESI/services_collateral.mlir
Labels: ESI

#3757 [ESI][Cosim] Switch from numeric IDs to strings
  frontends/PyCDE/integration_test/esi.py
  frontends/PyCDE/integration_test/support/loopback.py
  include/circt/Dialect/ESI/ESIOps.td
  include/circt/Dialect/ESI/cosim/CosimDpi.capnp
  include/circt/Dialect/ESI/cosim/Cosim_DpiPkg.sv
  include/circt/Dialect/ESI/cosim/Cosim_Endpoint.sv
  include/circt/Dialect/ESI/cosim/Endpoint.h
  include/circt/Dialect/ESI/cosim/dpi.h
  integration_test/ESI/cosim/basic.mlir
  integration_test/ESI/cosim/basic.py
  integration_test/ESI/cosim/cosim_only.sv
  integration_test/ESI/cosim/loopback.mlir
  integration_test/ESI/cosim/loopback.py
  lib/Dialect/ESI/ESIPasses.cpp
  lib/Dialect/ESI/ESIServices.cpp
  lib/Dialect/ESI/ESITranslations.cpp
  lib/Dialect/ESI/cosim/cosim_dpi_server/DpiEntryPoints.cpp
  lib/Dialect/ESI/cosim/cosim_dpi_server/Endpoint.cpp
  lib/Dialect/ESI/cosim/cosim_dpi_server/Server.cpp
  test/Dialect/ESI/cosim.mlir
  test/Dialect/ESI/cosim_structs.mlir
  test/Dialect/ESI/errors.mlir
  test/Dialect/ESI/services.mlir
  test/Dialect/ESI/services_collateral.mlir
  tools/esi/esi_cosim.py.in
Labels: ESI

#3775 [ESI][Services.json] Add "modules" section
  include/circt/Dialect/ESI/ESIServices.td
  lib/Dialect/ESI/ESIPasses.cpp
  lib/Dialect/ESI/ESIServices.cpp
  test/Dialect/ESI/services_collateral.mlir
Labels: ESI

#3779 [firtool][HW] Add variadic operation splitting
  include/circt/Support/LoweringOptions.h
  lib/Conversion/ExportVerilog/PrepareForEmission.cpp
  lib/Support/LoweringOptions.cpp
  test/Conversion/ExportVerilog/variadic-operand-splitting.mlir
Labels: enhancement, HW, ExportVerilog

#3765 [ESI] Software API creation infrastructure
  frontends/PyCDE/integration_test/esi.py
  frontends/PyCDE/integration_test/support/loopback.py
  frontends/PyCDE/pyproject.toml
  frontends/PyCDE/src/CMakeLists.txt
  frontends/PyCDE/src/pycde/esi_api.py
  frontends/PyCDE/src/pycde/esi_api.py.j2
  frontends/PyCDE/src/pycde/esi_runtime_common.py
  frontends/PyCDE/src/pycde/system.py
Labels: ESI

#3788 [SystemC] Replace func_handle with builtin function type
  include/circt/Dialect/SystemC/SystemCStatements.td
  include/circt/Dialect/SystemC/SystemCStructure.td
  include/circt/Dialect/SystemC/SystemCTypes.td
  include/circt/Dialect/SystemC/SystemCTypesImpl.td
  test/Dialect/SystemC/module-error.mlir
Labels: SystemC

#3794 [firtool] Reorganize pass controlling options
  integration_test/Dialect/FIRRTL/SFCTests/GrandCentralInterfaces/Wire.fir
  test/Dialect/FIRRTL/SFCTests/GrandCentralInterfaces/HWRename.fir
  test/Dialect/FIRRTL/SFCTests/GrandCentralInterfaces/PortDelete.fir
  test/Dialect/FIRRTL/SFCTests/GrandCentralInterfaces/Wire.fir
  test/Dialect/FIRRTL/SFCTests/data-taps.fir
  test/Dialect/FIRRTL/SFCTests/dedup.fir
  test/Dialect/FIRRTL/SFCTests/emit-omir.fir
  test/Dialect/FIRRTL/SFCTests/signal-mappings.fir
  test/Dialect/FIRRTL/SFCTests/subcircuit-flow/flow.test
  test/firtool/chirrtl.fir
  test/firtool/memoryLowering.fir
  test/firtool/memoryMetadata.fir
  test/firtool/print-before.fir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#3740 [SystemC] Add InstanceDeclOp and ModuleType
  include/circt/Dialect/SystemC/SystemCStructure.td
  include/circt/Dialect/SystemC/SystemCTypes.h
  include/circt/Dialect/SystemC/SystemCTypes.td
  include/circt/Dialect/SystemC/SystemCTypesImpl.td
  lib/Dialect/SystemC/SystemCOps.cpp
  lib/Dialect/SystemC/SystemCTypes.cpp
  test/Dialect/SystemC/module-error.mlir
  test/Dialect/SystemC/structure.mlir
Labels: SystemC
