Repository llvm/circt, pull requests merged in 2022-09, with the labels that each got.

#3797 [SystemC] Add DestructorOp and some helper functions
  include/circt/Dialect/SystemC/SystemCStructure.td
  lib/Conversion/HWToSystemC/HWToSystemC.cpp
  lib/Dialect/SystemC/SystemCOps.cpp
  test/Dialect/SystemC/module-error.mlir
  test/Dialect/SystemC/structure.mlir
Labels: SystemC

#3798 [SystemC] Add NewOp and DeleteOp
  include/circt/Dialect/SystemC/SystemC.td
  include/circt/Dialect/SystemC/SystemCExpressions.td
  include/circt/Dialect/SystemC/SystemCOps.h
  include/circt/Dialect/SystemC/SystemCStatements.td
  lib/Dialect/SystemC/CMakeLists.txt
  test/Dialect/SystemC/structure.mlir
  test/circt-opt/commandline.mlir
  tools/circt-opt/CMakeLists.txt
  tools/circt-opt/circt-opt.cpp
Labels: SystemC

#3842 [HW] Canonicalize array get on uniform arrays
  include/circt/Dialect/HW/HWAggregates.td
  lib/Dialect/HW/HWOps.cpp
  test/Dialect/HW/canonicalization.mlir
Labels: enhancement, HW

#3857 [ESI][Bugfix] Combine inout channels in service description
  include/circt/Dialect/ESI/ESIServices.td
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/ESIServices.cpp
  test/Dialect/ESI/services.mlir
  test/Dialect/ESI/services_collateral.mlir
Labels: ESI

#3805 [SystemC] Add BindPortOp
  include/circt/Dialect/SystemC/SystemCStatements.td
  include/circt/Dialect/SystemC/SystemCTypes.td
  lib/Dialect/SystemC/SystemCOps.cpp
  test/Dialect/SystemC/module-error.mlir
  test/Dialect/SystemC/structure.mlir
Labels: SystemC

#3807 [ExportSystemC] BindPortOp emission pattern.
  include/circt/Dialect/SystemC/SystemCStatements.td
  integration_test/Target/ExportSystemC/basic.mlir
  lib/Dialect/SystemC/SystemCOps.cpp
  lib/Target/ExportSystemC/Patterns/SystemCEmissionPatterns.cpp
  test/Target/ExportSystemC/basic.mlir
Labels: SystemC

#3859 [HW][Comb] Fix HWIntegerType to account for parameterized hw::IntTypes
  include/circt/Dialect/Comb/CombOps.h
  include/circt/Dialect/Comb/Combinational.td
  include/circt/Dialect/HW/HWTypes.h
  include/circt/Dialect/HW/HWTypes.td
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Dialect/Comb/CombFolds.cpp
  lib/Dialect/Comb/CombOps.cpp
  lib/Dialect/HW/HWOps.cpp
Labels: HW

#3811 [HWToSystemC] Add support for lowering hw.instance operations
  include/circt/Dialect/SystemC/SystemCStatements.td
  lib/Conversion/HWToSystemC/HWToSystemC.cpp
  test/Conversion/HWToSystemC/structure.mlir
Labels: SystemC

#3830 [SystemC] Add VariableOp and AssignOp
  include/circt/Dialect/SystemC/SystemCStatements.td
  integration_test/Target/ExportSystemC/basic.mlir
  lib/Dialect/SystemC/SystemCOps.cpp
  lib/Target/ExportSystemC/Patterns/SystemCEmissionPatterns.cpp
  test/Dialect/SystemC/module-error.mlir
  test/Dialect/SystemC/structure.mlir
  test/Target/ExportSystemC/basic.mlir
Labels: SystemC

#3868 [SystemC] Add dedicated types for integers and bit vectors in SystemC
  include/circt/Dialect/SystemC/SystemC.td
  include/circt/Dialect/SystemC/SystemCDialect.td
  include/circt/Dialect/SystemC/SystemCExpressions.td
  include/circt/Dialect/SystemC/SystemCStatements.td
  include/circt/Dialect/SystemC/SystemCTypes.h
  include/circt/Dialect/SystemC/SystemCTypes.td
  include/circt/Dialect/SystemC/SystemCTypesImpl.td
  lib/Conversion/HWToSystemC/HWToSystemC.cpp
  lib/Dialect/SystemC/SystemCTypes.cpp
  test/Conversion/HWToSystemC/structure.mlir
  test/Dialect/SystemC/module-error.mlir
  test/Dialect/SystemC/structure.mlir
Labels: SystemC

#3875 [ExportSystemC] Add systemc type emission
  integration_test/Target/ExportSystemC/basic.mlir
  lib/Target/ExportSystemC/Patterns/HWEmissionPatterns.cpp
  lib/Target/ExportSystemC/Patterns/SystemCEmissionPatterns.cpp
  test/Target/ExportSystemC/basic.mlir
Labels: SystemC

#3800 [HW] Expose `appendOutputs` in the HWMutableModuleLike interface.
  include/circt/Dialect/HW/HWOpInterfaces.td
  include/circt/Dialect/HW/HWStructure.td
  lib/Dialect/HW/HWOps.cpp
  lib/Dialect/MSFT/MSFTOps.cpp
Labels: enhancement, HW

#3927 [ESI][Services][NFC] Adding an OpInterface for declarations and making arg/result names more consistent
  frontends/PyCDE/src/pycde/esi.py
  include/circt/Dialect/ESI/ESIInterfaces.td
  include/circt/Dialect/ESI/ESIOps.h
  include/circt/Dialect/ESI/ESIServices.td
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/ESIPasses.cpp
  lib/Dialect/ESI/ESIServices.cpp
  test/Dialect/ESI/errors.mlir
Labels: ESI

#3923 Backport: [FIRRTL][SV] Add comment attribute to GC interfaces and modules
  include/circt/Dialect/SV/SVTypeDecl.td
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/FIRRTL/Transforms/GrandCentral.cpp
  lib/Dialect/FIRRTL/Transforms/GrandCentralTaps.cpp
  test/Conversion/ExportVerilog/sv-interfaces.mlir
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
  test/Dialect/FIRRTL/grand-central.mlir
Labels: FIRRTL, Verilog/SystemVerilog

#3928 [ESI][NFC][Services] In service implement reqs, avoid args
  frontends/PyCDE/src/pycde/esi.py
  integration_test/Bindings/Python/dialects/esi.py
  lib/Dialect/ESI/ESIServices.cpp
  test/Dialect/ESI/services.mlir
Labels: ESI

#3350 [Scheduling] Add CPSAT scheduler (via OR-Tools) for `SharedOperatorsProblem`
  include/circt/Scheduling/Algorithms.h
  lib/Scheduling/CMakeLists.txt
  lib/Scheduling/CPSATSchedulers.cpp
  lib/Scheduling/TestPasses.cpp
  test/Scheduling/or-tools/shared-operators-problems.mlir
Labels: Scheduling

#3854 [ESI][PyCDE] Create cosim backend for ESI runtime API
  frontends/PyCDE/integration_test/esi.py
  frontends/PyCDE/integration_test/esi_test.py
  frontends/PyCDE/integration_test/support/loopback.py
  frontends/PyCDE/src/pycde/esi_api.py
  frontends/PyCDE/src/pycde/esi_api.py.j2
  frontends/PyCDE/src/pycde/esi_runtime_common.py
Labels: ESI, PyCDE

#3929 [ESI] Random access memory service
  include/circt/Dialect/ESI/ESI.td
  include/circt/Dialect/ESI/ESIPasses.td
  include/circt/Dialect/ESI/ESIStdServices.td
  include/circt/Dialect/Seq/Seq.td
  lib/Dialect/ESI/CMakeLists.txt
  lib/Dialect/ESI/ESIServices.cpp
  lib/Dialect/ESI/ESIStdServices.cpp
  lib/Dialect/ESI/PassDetails.h
  lib/Dialect/ESI/capnp/Schema.cpp
  test/Dialect/ESI/services.mlir
Labels: ESI

#2694 [FIRRTL] Allow foreign types in module/instance ports
  docs/Dialects/FIRRTL/RationaleFIRRTL.md
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  include/circt/Dialect/FIRRTL/FIRRTLOpInterfaces.h
  include/circt/Dialect/FIRRTL/FIRRTLOpInterfaces.td
  include/circt/Dialect/FIRRTL/FIRRTLStatements.td
  include/circt/Dialect/FIRRTL/FIRRTLTypes.td
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/FIRRTL/FIRRTLAnnotations.cpp
  lib/Dialect/FIRRTL/FIRRTLOpInterfaces.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Transforms/AddSeqMemPorts.cpp
  lib/Dialect/FIRRTL/Transforms/GrandCentralTaps.cpp
  lib/Dialect/FIRRTL/Transforms/IMConstProp.cpp
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
  test/Dialect/FIRRTL/errors.mlir
Labels: enhancement, FIRRTL

#4026 [FIRRTL][InferWidths] Exclude foreign types, add conversion cast support
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
  test/Dialect/FIRRTL/infer-widths.mlir
Labels: enhancement, FIRRTL

#4027 [FIRRTL][LowerTypes] Pass through foreign types in lowerProducer
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  test/Dialect/FIRRTL/lower-types.mlir
Labels: enhancement, FIRRTL

#4025 [FIRRTL][InferResets] Don't abort on foreign types
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  test/Dialect/FIRRTL/infer-resets.mlir
Labels: enhancement, FIRRTL
