Repository llvm/circt, pull requests merged in 2023-09, with the labels that each got.

#6017 [ESI][Cosim] Reducing MMIO data widths to 32 bit
  include/circt/Dialect/ESI/cosim/CosimDpi.capnp
  include/circt/Dialect/ESI/cosim/dpi.h
  integration_test/Dialect/ESI/cosim/lowlevel_cosim_only.sv
  lib/Dialect/ESI/cosim/Cosim_DpiPkg.sv
  lib/Dialect/ESI/cosim/Cosim_MMIO.sv
  lib/Dialect/ESI/cosim/cosim_dpi_server/DpiEntryPoints.cpp
Labels: ESI

#5999 [ESI] Start of new software runtime
  integration_test/CMakeLists.txt
  integration_test/Dialect/ESI/runtime/basic.mlir.py
  integration_test/lit.cfg.py
  integration_test/lit.site.cfg.py.in
  lib/Dialect/ESI/CMakeLists.txt
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Cosim.h
  lib/Dialect/ESI/runtime/cpp/lib/Accelerator.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esiquery.cpp
  lib/Dialect/ESI/runtime/python/esi/esiaccel.cpp
Labels: ESI

#6034 [ESI][Runtime] MMIO service support
  integration_test/Dialect/ESI/runtime/basic.mlir.py
  integration_test/Dialect/ESI/runtime/basic_mmio.sv
  integration_test/Dialect/ESI/runtime/basic_mmio.sv.py
  integration_test/Dialect/ESI/runtime/lit.local.cfg.py
  lib/Dialect/ESI/CMakeLists.txt
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/include/esi/StdServices.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Cosim.h
  lib/Dialect/ESI/runtime/cpp/lib/Accelerator.cpp
  lib/Dialect/ESI/runtime/cpp/lib/StdServices.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esiquery.cpp
  lib/Dialect/ESI/runtime/python/esi/esiaccel.cpp
Labels: ESI

#6077 [FIRRTL][LowerClasses] use early inc range to avoid iter invalidation
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
Labels: FIRRTL

#6110 [MSFT] Remove the partition pass
  include/circt/Dialect/MSFT/MSFTPasses.td
  lib/Dialect/MSFT/Transforms/CMakeLists.txt
  lib/Dialect/MSFT/Transforms/MSFTPartition.cpp
  test/Dialect/MSFT/partition.mlir
Labels: msft

#6066 [ESI] Channel bundle type and pack/unpack ops
  include/circt/Dialect/ESI/ESIChannels.td
  include/circt/Dialect/ESI/ESITypes.h
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/ESITypes.cpp
  test/Dialect/ESI/bundles.mlir
  test/Dialect/ESI/bundles_errors.mlir
Labels: ESI

#6120 [Arc] Introduce vectorize operation
  include/circt/Dialect/Arc/ArcOps.td
  lib/Dialect/Arc/ArcOps.cpp
  test/Dialect/Arc/basic-errors.mlir
  test/Dialect/Arc/basic.mlir
  tools/circt-opt/CMakeLists.txt
  tools/circt-opt/circt-opt.cpp
Labels: Arc

#6126 [FIRRTL][LowerClasses] Handle InstanceTarget.
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  test/Dialect/FIRRTL/lower-classes-errors.mlir
  test/Dialect/FIRRTL/lower-classes.mlir
Labels: FIRRTL, OM

#6122 [PyCDE] Move off of msft.module to hw.module
  frontends/PyCDE/src/instance.py
  frontends/PyCDE/src/module.py
  frontends/PyCDE/src/signals.py
  frontends/PyCDE/src/system.py
  frontends/PyCDE/test/test_behavioral.py
  frontends/PyCDE/test/test_constructs.py
  frontends/PyCDE/test/test_esi.py
  frontends/PyCDE/test/test_fsm.py
  frontends/PyCDE/test/test_hwarith.py
  frontends/PyCDE/test/test_import_hw_modules.py
  frontends/PyCDE/test/test_muxing.py
  frontends/PyCDE/test/test_ndarray.py
  frontends/PyCDE/test/test_polynomial.py
  frontends/PyCDE/test/test_pycde_types.py
  frontends/PyCDE/test/test_pycde_values.py
  frontends/PyCDE/test/test_slicing.py
  frontends/PyCDE/test/test_syntactic_sugar.py
  frontends/PyCDE/test/test_verilog_readablility.py
  frontends/PyCDE/test/test_xrt.py
Labels: PyCDE

#6140 [Arc] Include pass base only where needed
  include/circt/Dialect/Arc/ArcPasses.h
  lib/Dialect/Arc/Transforms/AddTaps.cpp
  lib/Dialect/Arc/Transforms/AllocateState.cpp
  lib/Dialect/Arc/Transforms/ArcCanonicalizer.cpp
  lib/Dialect/Arc/Transforms/Dedup.cpp
  lib/Dialect/Arc/Transforms/GroupResetsAndEnables.cpp
  lib/Dialect/Arc/Transforms/InferMemories.cpp
  lib/Dialect/Arc/Transforms/InferStateProperties.cpp
  lib/Dialect/Arc/Transforms/InlineArcs.cpp
  lib/Dialect/Arc/Transforms/InlineModules.cpp
  lib/Dialect/Arc/Transforms/IsolateClocks.cpp
  lib/Dialect/Arc/Transforms/LatencyRetiming.cpp
  lib/Dialect/Arc/Transforms/LegalizeStateUpdate.cpp
  lib/Dialect/Arc/Transforms/LowerClocksToFuncs.cpp
  lib/Dialect/Arc/Transforms/LowerLUT.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  lib/Dialect/Arc/Transforms/MakeTables.cpp
  lib/Dialect/Arc/Transforms/MuxToControlFlow.cpp
  lib/Dialect/Arc/Transforms/PassDetails.h
  lib/Dialect/Arc/Transforms/PrintStateInfo.cpp
  lib/Dialect/Arc/Transforms/SimplifyVariadicOps.cpp
  lib/Dialect/Arc/Transforms/SplitLoops.cpp
  lib/Dialect/Arc/Transforms/StripSV.cpp
Labels: Arc

#6137 [Arc] Improve performance of state update legalization
  include/circt/Dialect/Arc/ArcDialect.td
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/LegalizeStateUpdate.cpp
  lib/Dialect/Arc/Transforms/StripSV.cpp
  test/Dialect/Arc/Reduction/pattern-registration.mlir
  test/Dialect/Arc/legalize-state-update.mlir
Labels: Arc

#6141 [Arc] Add LowerVectorizations pass
  include/circt/Dialect/Arc/ArcOps.td
  include/circt/Dialect/Arc/ArcPasses.h
  include/circt/Dialect/Arc/ArcPasses.td
  include/circt/Dialect/Arc/CMakeLists.txt
  lib/Dialect/Arc/ArcOps.cpp
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/LowerVectorizations.cpp
  test/Dialect/Arc/lower-vectorizations-boundary.mlir
  test/Dialect/Arc/lower-vectorizations-full.mlir
  test/Dialect/Arc/lower-vectorizations-inline-body.mlir
Labels: Arc

#6142 [Arc] Allow top-level logic in LowerState; detect clock edges
  include/circt/Dialect/Arc/ArcPasses.td
  lib/Dialect/Arc/Transforms/LowerState.cpp
  test/Dialect/Arc/lower-state.mlir
  test/arcilator/arcilator.mlir
Labels: Arc

#6132 [Handshake] Allow handshake ops to be used outside of a `handshake.func`
  include/circt/Dialect/Handshake/Handshake.td
  include/circt/Dialect/Handshake/HandshakeInterfaces.td
  include/circt/Dialect/Handshake/HandshakeOps.h
  include/circt/Dialect/Handshake/HandshakeOps.td
  test/Dialect/Handshake/errors.mlir
Labels: Handshake

#5965 [scf-to-calyx]Support for function call
  include/circt/Dialect/Calyx/CalyxHelpers.h
  include/circt/Dialect/Calyx/CalyxLoweringUtils.h
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/Transforms/CalyxHelpers.cpp
  lib/Dialect/Calyx/Transforms/CalyxLoweringUtils.cpp
  test/Conversion/SCFToCalyx/convert_func.mlir
Labels: Calyx

#6147 [ExportVerilog] Remove useless assert from NameCollector
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
Labels: ExportVerilog

#6152 [MSFT] Make AppID discovery an index rather than a pass
  include/circt-c/Dialect/MSFT.h
  include/circt/Dialect/MSFT/AppID.h
  include/circt/Dialect/MSFT/MSFTAttributes.td
  integration_test/Bindings/Python/dialects/msft.py
  lib/Bindings/Python/MSFTModule.cpp
  lib/Bindings/Python/dialects/_hw_ops_ext.py
  lib/CAPI/Dialect/MSFT.cpp
  lib/Dialect/MSFT/AppID.cpp
  lib/Dialect/MSFT/CMakeLists.txt
Labels: msft

#6160 [PyCDE] Switch over to new AppIDIndex
  frontends/PyCDE/src/instance.py
  frontends/PyCDE/src/system.py
Labels: PyCDE, msft

#6168 [MSFT] Finally move away from GlobalRefOp
  include/circt/Dialect/MSFT/ExportTcl.h
  include/circt/Dialect/MSFT/MSFTOpInterfaces.td
  include/circt/Dialect/MSFT/MSFTPDOps.td
  lib/Dialect/MSFT/DeviceDB.cpp
  lib/Dialect/MSFT/ExportQuartusTcl.cpp
  lib/Dialect/MSFT/MSFTOpInterfaces.cpp
  lib/Dialect/MSFT/MSFTOps.cpp
  lib/Dialect/MSFT/Transforms/MSFTExportTcl.cpp
  lib/Dialect/MSFT/Transforms/MSFTLowerInstances.cpp
  test/Dialect/MSFT/dynamic_instance.mlir
  test/Dialect/MSFT/location.mlir
  test/Dialect/MSFT/translate-errors.mlir
Labels: msft

#6161 [MSFT] Rip out MSFTModule et. al.
  include/circt/Dialect/MSFT/MSFT.td
  include/circt/Dialect/MSFT/MSFTConstructs.td
  include/circt/Dialect/MSFT/MSFTOps.td
  include/circt/Dialect/MSFT/MSFTPDOps.td
  include/circt/Dialect/MSFT/MSFTPasses.h
  include/circt/Dialect/MSFT/MSFTPasses.td
  integration_test/Bindings/Python/dialects/msft.py
  integration_test/Bindings/Python/dialects/msft_appid.py
  lib/Dialect/ESI/ESIServices.cpp
  lib/Dialect/MSFT/MSFTOps.cpp
  lib/Dialect/MSFT/Transforms/CMakeLists.txt
  lib/Dialect/MSFT/Transforms/MSFTDiscoverAppIDs.cpp
  lib/Dialect/MSFT/Transforms/MSFTExportTcl.cpp
  lib/Dialect/MSFT/Transforms/MSFTLowerConstructs.cpp
  lib/Dialect/MSFT/Transforms/MSFTPassCommon.cpp
  lib/Dialect/MSFT/Transforms/MSFTPassCommon.h
  lib/Dialect/MSFT/Transforms/MSFTToHW.cpp
  lib/Dialect/MSFT/Transforms/MSFTWireCleanup.cpp
  lib/Dialect/MSFT/Transforms/PassCommon.cpp
  test/Dialect/MSFT/constructs.mlir
  test/Dialect/MSFT/dynamic_instance.mlir
  test/Dialect/MSFT/location.mlir
  test/Dialect/MSFT/module_instance.mlir
  test/Dialect/MSFT/opt-errors.mlir
  test/Dialect/MSFT/translate-errors.mlir
Labels: msft

#6174 [HW] Allow for quoted struct field names
  lib/Dialect/HW/HWTypes.cpp
  test/Dialect/HW/types.mlir
Labels: HW

#6175 [MSFT] Remove DiscoverAppIDs pass
  include/circt/Dialect/MSFT/MSFTPasses.h
  include/circt/Dialect/MSFT/MSFTPasses.td
  lib/Dialect/MSFT/Transforms/CMakeLists.txt
  lib/Dialect/MSFT/Transforms/MSFTDiscoverAppIDs.cpp
  lib/Dialect/MSFT/Transforms/MSFTLowerConstructs.cpp
Labels: msft

#6177 [NFC][ESI][MSFT] Move AppIDs over to ESI
  frontends/PyCDE/src/common.py
  frontends/PyCDE/src/instance.py
  frontends/PyCDE/src/system.py
  include/circt-c/Dialect/ESI.h
  include/circt-c/Dialect/MSFT.h
  include/circt/Dialect/ESI/AppID.h
  include/circt/Dialect/ESI/CMakeLists.txt
  include/circt/Dialect/ESI/ESI.td
  include/circt/Dialect/ESI/ESIAppID.td
  include/circt/Dialect/ESI/ESIAttributes.h
  include/circt/Dialect/ESI/ESIDialect.td
  include/circt/Dialect/MSFT/AppID.h
  include/circt/Dialect/MSFT/MSFTAttributes.td
  integration_test/Bindings/Python/dialects/esi_appid.py
  integration_test/Bindings/Python/dialects/msft_appid.py
  lib/Bindings/Python/ESIModule.cpp
  lib/Bindings/Python/MSFTModule.cpp
  lib/CAPI/Dialect/ESI.cpp
  lib/CAPI/Dialect/MSFT.cpp
  lib/Dialect/ESI/AppID.cpp
  lib/Dialect/ESI/CMakeLists.txt
  lib/Dialect/ESI/ESIAttributes.cpp
  lib/Dialect/ESI/ESIDialect.cpp
  lib/Dialect/MSFT/CMakeLists.txt
  test/Dialect/MSFT/attributes.mlir
Labels: ESI, msft

#6115 [FIRRTL][HoistPassthrough] Add pass to hoist must-driven output ports.
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  include/circt/Firtool/Firtool.h
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/HoistPassthrough.cpp
  lib/Firtool/Firtool.cpp
  test/Dialect/FIRRTL/SFCTests/GrandCentralInterfaces/HWRename.fir
  test/Dialect/FIRRTL/hoist-passthrough.mlir
  test/firtool/passthrough-flips.fir
  test/firtool/passthrough.fir
Labels: FIRRTL

#6192 [ExportVerilog] Format specifiers: hierpath separation character
  docs/Dialects/SV/RationaleSV.md
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Dialect/MSFT/ExportQuartusTcl.cpp
  test/Conversion/ExportVerilog/verilog-basic.mlir
Labels: ExportVerilog

#5964 [Calyx] Add calyx.undef
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  lib/Conversion/CalyxToHW/CalyxToHW.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Conversion/CalyxToHW/primitives.mlir
  test/Dialect/Calyx/emit-comb-component.mlir
  test/Dialect/Calyx/emit-custom-primitives.mlir
  test/Dialect/Calyx/emit-seq-memory.mlir
  test/Dialect/Calyx/emit.mlir
Labels: Calyx
