Repository llvm/circt, pull requests merged in 2023-08, with the labels that each got.

#5750 [PyCDE] Post innersym change fixes
  frontends/PyCDE/src/instance.py
  frontends/PyCDE/src/module.py
  frontends/PyCDE/src/signals.py
  frontends/PyCDE/src/system.py
Labels: PyCDE

#5765 [ExportVerilog] Fix Expr/PropertyEmitter token buffer crash
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  test/Conversion/ExportVerilog/verif.mlir
Labels: bug, ExportVerilog

#5766 [FIRRTL] Rename BigIntType to FIntegerType
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  include/circt/Dialect/FIRRTL/FIRRTLTypes.h
  include/circt/Dialect/FIRRTL/FIRRTLTypes.td
  include/circt/Dialect/FIRRTL/FIRRTLTypesImpl.td
  include/circt/Dialect/FIRRTL/FIRRTLVisitors.h
  lib/Dialect/FIRRTL/Export/FIREmitter.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/FIRRTLTypes.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/emit-basic.mlir
  test/Dialect/FIRRTL/errors.mlir
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/test.mlir
Labels: FIRRTL

#5769 [HW] InnerSymProperties: emit error when visibility is invalid
  lib/Dialect/HW/HWAttributes.cpp
  test/Dialect/HW/errors.mlir
Labels: HW

#5694 [Verif] Add has_been_reset op
  include/circt/Conversion/Passes.td
  include/circt/Dialect/Verif/VerifDialect.td
  include/circt/Dialect/Verif/VerifOps.td
  lib/Conversion/VerifToSV/VerifToSV.cpp
  lib/Dialect/Verif/VerifDialect.cpp
  lib/Dialect/Verif/VerifOps.cpp
  test/Conversion/VerifToSV/verif-to-sv.mlir
  test/Dialect/Verif/basic.mlir
  test/Dialect/Verif/canonicalization.mlir
Labels: verif

#5777 [FIRRTL] Add has_been_reset intrinsic
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  include/circt/Dialect/FIRRTL/FIRRTLVisitors.h
  include/circt/Dialect/Verif/VerifOps.h
  include/circt/Dialect/Verif/VerifOps.td
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  lib/Dialect/FIRRTL/Transforms/LowerIntrinsics.cpp
  test/Conversion/FIRRTLToHW/intrinsics-errors.mlir
  test/Conversion/FIRRTLToHW/intrinsics.mlir
  test/Dialect/FIRRTL/canonicalization.mlir
  test/Dialect/FIRRTL/lower-intrinsics.mlir
  test/firtool/has_been_reset.fir
Labels: FIRRTL

#5635 [Calyx]Add invoke pass
  lib/Conversion/CalyxToFSM/CalyxToFSM.cpp
  test/Conversion/CalyxToFSM/lower-invoke.mlir
Labels: Calyx

#5774 [FIRRTL][HW] Add verbatim literal support
  include/circt/Dialect/HW/HWAttributes.td
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Import/FIRLexer.cpp
  lib/Dialect/FIRRTL/Import/FIRLexer.h
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Import/FIRTokenKinds.def
  test/Dialect/FIRRTL/parse-basic.fir
  test/firtool/verbatim-parameter.fir
Labels: FIRRTL, HW

#5781 [FIRRTL][NFC] Add fir tests relating to probes, from spec.
  test/firtool/spec/refs/define-flip-to-passive.fir
  test/firtool/spec/refs/define-subelement.fir
  test/firtool/spec/refs/define.fir
  test/firtool/spec/refs/endpoints.fir
  test/firtool/spec/refs/ext.fir
  test/firtool/spec/refs/force_and_release.fir
  test/firtool/spec/refs/force_initial.fir
  test/firtool/spec/refs/force_nonpassive.fir
  test/firtool/spec/refs/forwarding_refs_upwards.fir
  test/firtool/spec/refs/forwarding_refs_upwards_narrow.fir
  test/firtool/spec/refs/in_ref_context.fir
  test/firtool/spec/refs/inference_reset_bad.fir
  test/firtool/spec/refs/inference_reset_good.fir
  test/firtool/spec/refs/inference_works.fir
  test/firtool/spec/refs/invalid_in.fir
  test/firtool/spec/refs/nested_refproducer.fir
  test/firtool/spec/refs/nosubaccess.fir
  test/firtool/spec/refs/probe_export_simple.fir
  test/firtool/spec/refs/read.fir
  test/firtool/spec/refs/read_subelement.fir
  test/firtool/spec/refs/read_subelement_add.fir
  test/firtool/spec/refs/unused_in.fir
  test/firtool/spec/refs/uturn.fir
  test/firtool/spec/refs/when_c_force_initial.fir
Labels: FIRRTL

#5806 [FIRRTL] Clean up RWProbe's verifier
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/errors.mlir
Labels: FIRRTL

#5768 [FIRRTL] Add ObjectSubfieldOp
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  include/circt/Dialect/FIRRTL/FIRRTLVisitors.h
  include/circt/Support/LLVM.h
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/classes.mlir
  test/Dialect/FIRRTL/errors.mlir
Labels: FIRRTL

#5841 [FIRRTL][OMIR] Remove deprecated OMConstant node
  docs/Dialects/FIRRTL/FIRRTLAnnotations.md
  lib/Dialect/FIRRTL/FIRRTLAnnotations.cpp
  test/Dialect/FIRRTL/SFCTests/emit-omir.fir
  test/Dialect/FIRRTL/emit-omir.mlir
  test/Dialect/FIRRTL/omir.mlir
Labels: FIRRTL

#5847 Add Calyx flow to `hlstool`
  integration_test/Dialect/Calyx/custom_port_name.mlir
  integration_test/Dialect/Calyx/memory_loop.mlir
  integration_test/Dialect/Calyx/simple_arith.mlir
  tools/hlstool/CMakeLists.txt
  tools/hlstool/hlstool.cpp
Labels: Calyx

#5863 [firtool] use a single pass manager
  tools/firtool/firtool.cpp
Labels: FIRRTL

#5857 [Calyx] Support lowering of `arith.select`
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  lib/Conversion/CalyxToHW/CalyxToHW.cpp
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Conversion/SCFToCalyx/convert_simple.mlir
  test/Dialect/Calyx/emit-comb-component.mlir
Labels: Calyx

#5877 [NFC] better assert in scf-to-calyx
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Labels: Calyx

#5907 [FIRRTL] Put ODS enumerations in the FIRRTL namespace
  include/circt/Dialect/FIRRTL/CHIRRTL.td
  include/circt/Dialect/FIRRTL/FIRRTLEnums.td
Labels: FIRRTL

#5910 [FIRRTL][HW] Add InnerSymbolNamespaceCollection
  include/circt/Dialect/FIRRTL/FIRRTLAnnotationHelper.h
  include/circt/Dialect/HW/InnerSymbolNamespace.h
Labels: FIRRTL, HW

#5911 [FIRRTL] Add InnerSymTarget non-explicit constructors
  include/circt/Dialect/HW/InnerSymbolTable.h
Labels: FIRRTL

#5909 [FIRRTL] Add HierPathCache to reuse HierPathOps
  include/circt/Dialect/FIRRTL/FIRRTLAnnotationHelper.h
  lib/Dialect/FIRRTL/FIRRTLAnnotationHelper.cpp
  lib/Dialect/FIRRTL/Transforms/LowerAnnotations.cpp
  test/Dialect/FIRRTL/SFCTests/dedup.fir
  test/Dialect/FIRRTL/omir.mlir
Labels: FIRRTL

#5929 [firtool] Add LowerClasses for processing OMIR
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  lib/Firtool/Firtool.cpp
Labels: FIRRTL

#5930 [FIRRTL] Add UnresolvedPathOp
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  test/Dialect/FIRRTL/test.mlir
Labels: FIRRTL

#5931 [FIRRTL] Add enumeration for OM path kinds
  include/circt/Dialect/FIRRTL/FIRRTLEnums.td
Labels: FIRRTL

#5928 [FIRRTL][LowerToHW] Copy InnerSymAttrs to lowered ops
  include/circt/Dialect/FIRRTL/FIRRTLUtils.h
  include/circt/Dialect/HW/HWMiscOps.td
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/FIRRTL/FIRRTLUtils.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
Labels: FIRRTL

#5879 Calyx native callout pass
  CODEOWNERS
  include/circt/Conversion/CalyxNative.h
  include/circt/Conversion/Passes.h
  include/circt/Conversion/Passes.td
  lib/CAPI/Conversion/CMakeLists.txt
  lib/Conversion/CMakeLists.txt
  lib/Conversion/CalyxNative/CMakeLists.txt
  lib/Conversion/CalyxNative/CalyxNative.cpp
  tools/circt-opt/CMakeLists.txt
  tools/hlstool/CMakeLists.txt
Labels: Calyx

#5934 [ESI][Cosim] Add low-level MMIO functionality
  include/circt/Dialect/ESI/cosim/CosimDpi.capnp
  include/circt/Dialect/ESI/cosim/LowLevel.h
  include/circt/Dialect/ESI/cosim/Server.h
  include/circt/Dialect/ESI/cosim/Utils.h
  include/circt/Dialect/ESI/cosim/dpi.h
  integration_test/ESI/cosim/lowlevel_cosim_only.sv
  integration_test/ESI/cosim/lowlevel_cosim_only.sv.py
  lib/Dialect/ESI/CMakeLists.txt
  lib/Dialect/ESI/cosim/Cosim_DpiPkg.sv
  lib/Dialect/ESI/cosim/Cosim_MMIO.sv
  lib/Dialect/ESI/cosim/cosim_dpi_server/CMakeLists.txt
  lib/Dialect/ESI/cosim/cosim_dpi_server/DpiEntryPoints.cpp
  lib/Dialect/ESI/cosim/cosim_dpi_server/Server.cpp
  tools/esi/CMakeLists.txt
  tools/esi/esi-cosim-runner.py.in
  tools/esi/esi_cosim.py.in
Labels: ESI

#5933 [FIRRTL] re-work PathOp to use annotations
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/errors.mlir
  test/Dialect/FIRRTL/test.mlir
Labels: FIRRTL

#5943 [OM] Add TargetKind attribute for path operations
  include/circt/Dialect/OM/CMakeLists.txt
  include/circt/Dialect/OM/OMDialect.h
  include/circt/Dialect/OM/OMDialect.td
  include/circt/Dialect/OM/OMEnums.td
  lib/Dialect/OM/OMDialect.cpp
Labels: OM

#5942 [FIRRTL] Add ResolvePathsPass
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/ResolvePaths.cpp
  test/Dialect/FIRRTL/resolve-paths-errors.mlir
  test/Dialect/FIRRTL/resolve-paths.mlir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#5946 [FIRRTL] Add path op parsing
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Import/FIRTokenKinds.def
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/parse-errors.fir
Labels: FIRRTL

#5952 [ESI] Fix non-capnp builds
  integration_test/CMakeLists.txt
  test/lit.cfg.py
Labels: ESI

#5971 [ExtractInstances] Fix module prefix not being applied to NLA
  lib/Dialect/FIRRTL/Transforms/ExtractInstances.cpp
  test/Dialect/FIRRTL/extract-instances.mlir
Labels: bug, FIRRTL

#5960 [OM] Fix symbol resolution for classes and path operations
  include/circt/Dialect/FIRRTL/Passes.td
  include/circt/Dialect/OM/OMOps.td
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  lib/Dialect/OM/OMOps.cpp
  lib/Firtool/Firtool.cpp
Labels: FIRRTL, OM

#5973 [HW] HierPathOp: support single-element path to modules
  lib/Dialect/HW/HWOps.cpp
  test/Dialect/FIRRTL/test.mlir
Labels: HW

#5978 [FIRRTL] getOrAddInnerSym: fix bug when targeting a field
  lib/Dialect/FIRRTL/FIRRTLUtils.cpp
Labels: FIRRTL

#5975 [ExtractInstances] Fix module prefix not being applied to NLA
  lib/Dialect/FIRRTL/Transforms/ExtractInstances.cpp
  test/Dialect/FIRRTL/extract-instances.mlir
Labels: bug, FIRRTL

#5995 [MSFT][NFC] Switch MSFTModule off of FunctionInterface
  include/circt/Dialect/MSFT/MSFTOps.td
  lib/Dialect/MSFT/MSFTOps.cpp
  lib/Dialect/MSFT/Transforms/MSFTPartition.cpp
  lib/Dialect/MSFT/Transforms/MSFTWireCleanup.cpp
Labels: msft

#5974 [FIRRTL][LowerClasses] Support lowering FIRRTL paths ops to OM
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  test/Dialect/FIRRTL/lower-classes-errors.mlir
  test/Dialect/FIRRTL/lower-classes.mlir
Labels: FIRRTL

#6000 [ESI] Change method of packaging collateral
  CMakeLists.txt
  frontends/PyCDE/integration_test/CMakeLists.txt
  frontends/PyCDE/src/CMakeLists.txt
  include/circt/Dialect/ESI/cosim/CMakeLists.txt
  integration_test/CMakeLists.txt
  integration_test/Dialect/ESI/system/basic.mlir
  integration_test/lit.cfg.py
  integration_test/lit.site.cfg.py.in
  lib/Dialect/ESI/CMakeLists.txt
  tools/esi/CMakeLists.txt
  tools/esi/esi-cosim-runner.py.in
Labels: ESI
