Repository llvm/circt, pull requests merged in 2023-11, with the labels that each got.

#6366 [Arc] Align >=128-bit integers to 16 bytes
  lib/Dialect/Arc/ArcTypes.cpp
  lib/Dialect/Arc/Transforms/AllocateState.cpp
  test/Dialect/Arc/allocate-state.mlir
Labels: Arc

#6367 [Arc] Support lowering of seq clock type and conversion operations
  lib/Conversion/ArcToLLVM/CMakeLists.txt
  lib/Conversion/ArcToLLVM/LowerArcToLLVM.cpp
  test/Conversion/ArcToLLVM/lower-arc-to-llvm.mlir
Labels: Arc

#6362 [ExportVerilog] Support parameterized length unpacked arrays
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Dialect/HW/HWTypes.cpp
  test/Conversion/ExportVerilog/verilog-basic.mlir
Labels: ExportVerilog

#6266 [HW] Reference struct/union fields by index
  include/circt-c/Dialect/HW.h
  include/circt/Dialect/HW/HWAggregates.td
  include/circt/Dialect/HW/HWTypesImpl.td
  lib/Bindings/Python/HWModule.cpp
  lib/Bindings/Python/dialects/hw.py
  lib/CAPI/Dialect/HW.cpp
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Conversion/HWToLLVM/HWToLLVM.cpp
  lib/Dialect/HW/HWOps.cpp
  lib/Dialect/HW/HWTypes.cpp
  lib/Dialect/SV/Transforms/PrettifyVerilog.cpp
  test/Dialect/HW/errors.mlir
Labels: HW

#6364 [HW] Resolve parametric types in the InstanceOp builder
  include/circt/Dialect/HW/HWAttributes.h
  include/circt/Dialect/HW/HWTypesImpl.td
  lib/Dialect/HW/HWAttributes.cpp
  lib/Dialect/HW/HWOps.cpp
  lib/Dialect/HW/HWTypes.cpp
Labels: HW

#6365 [ESI] Major cosim fixup/cleanup/update
  include/circt/Dialect/ESI/ESIChannels.td
  include/circt/Dialect/HW/HWAttributes.td
  integration_test/Dialect/ESI/cosim/cosim_only.sv
  integration_test/Dialect/ESI/cosim/loopback.py
  lib/Dialect/ESI/ESIPasses.cpp
  lib/Dialect/ESI/ESIServices.cpp
  lib/Dialect/ESI/PassDetails.h
  lib/Dialect/ESI/Passes/ESILowerToHW.cpp
  lib/Dialect/ESI/runtime/cosim/CosimDpi.capnp
  lib/Dialect/ESI/runtime/cosim/Cosim_DpiPkg.sv
  lib/Dialect/ESI/runtime/cosim/Cosim_Endpoint.sv
  lib/Dialect/ESI/runtime/cosim/cosim_dpi_server/DpiEntryPoints.cpp
  lib/Dialect/ESI/runtime/cosim/cosim_dpi_server/Endpoint.cpp
  lib/Dialect/ESI/runtime/cosim/cosim_dpi_server/Server.cpp
  lib/Dialect/ESI/runtime/cosim/include/cosim/Endpoint.h
  lib/Dialect/ESI/runtime/cosim/include/cosim/dpi.h
  test/Dialect/ESI/cosim.mlir
  test/Dialect/ESI/services.mlir
  tools/esi/esi_cosim.py.in
Labels: ESI

#6370 [ESI] Cosim integration test without runtime
  integration_test/Dialect/ESI/cosim/cosim_only.sv.py
  integration_test/Dialect/ESI/cosim/loopback.mlir
  integration_test/Dialect/ESI/cosim/loopback.py
  lib/Dialect/ESI/Passes/ESILowerToHW.cpp
Labels: ESI

#6372 [Arc] Remove hw.wire once it is tapped
  lib/Dialect/Arc/Transforms/AddTaps.cpp
  test/Conversion/ConvertToArcs/convert-to-arcs.mlir
  test/Dialect/Arc/add-taps.mlir
Labels: Arc

#6371 [ESI] Basic Python runtime for manifests
  integration_test/CMakeLists.txt
  integration_test/Dialect/ESI/runtime/basic_mmio.sv.py
  integration_test/Dialect/ESI/runtime/loopback.mlir
  integration_test/Dialect/ESI/runtime/loopback.mlir.py
  integration_test/lit.cfg.py
  integration_test/lit.site.cfg.py.in
  lib/Dialect/ESI/CMakeLists.txt
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim/CosimDpi.capnp
  lib/Dialect/ESI/runtime/cosim/Cosim_DpiPkg.sv
  lib/Dialect/ESI/runtime/cosim/Cosim_Manifest.sv
  lib/Dialect/ESI/runtime/cosim/cosim_dpi_server/DpiEntryPoints.cpp
  lib/Dialect/ESI/runtime/cosim/cosim_dpi_server/Server.cpp
  lib/Dialect/ESI/runtime/cosim/include/cosim/Server.h
  lib/Dialect/ESI/runtime/cosim/include/cosim/dpi.h
  lib/Dialect/ESI/runtime/cpp/include/esi/StdServices.h
  lib/Dialect/ESI/runtime/cpp/lib/StdServices.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/python/esi/__init__.py
  lib/Dialect/ESI/runtime/python/esi/accelerator.py
  lib/Dialect/ESI/runtime/python/esi/esiCppAccel.cpp
Labels: ESI

#6379 [Arc] Fix InlineArcs pass performance
  lib/Dialect/Arc/Transforms/InlineArcs.cpp
Labels: Arc

#6329 [ExportVerilog] Make ExprEmitter sensitive to assignment-like context
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  test/Conversion/ExportVerilog/hw-dialect.mlir
  test/Conversion/ExportVerilog/verilog-basic.mlir
Labels: ExportVerilog

#6380 [HW] Verify dimensions for hw.aggregate_constant ops
  lib/Dialect/HW/HWOps.cpp
  test/Dialect/HW/errors.mlir
Labels: HW

#6384 [ESI][Runtime] Read a manifest and build the design hierarchy
  integration_test/Dialect/ESI/runtime/loopback.mlir.py
  lib/Dialect/ESI/Passes/ESIBuildManifest.cpp
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/include/esi/Design.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Manifest.h
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esiquery.cpp
  lib/Dialect/ESI/runtime/python/esi/accelerator.py
  lib/Dialect/ESI/runtime/python/esi/esiCppAccel.cpp
  lib/Dialect/ESI/runtime/python/esi/esiCppAccel.pyi
  test/Dialect/ESI/manifest.mlir
Labels: ESI

#6396 [ESI][Runtime] Create a 'trace' accelerator backend
  include/circt/Dialect/ESI/ESIPasses.td
  integration_test/Dialect/ESI/runtime/loopback.mlir
  lib/Dialect/ESI/Passes/ESIBuildManifest.cpp
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Trace.h
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
  test/Dialect/ESI/manifest.mlir
Labels: ESI

#6397 [ESI][Runtime] Start of types
  integration_test/Dialect/ESI/runtime/loopback.mlir.py
  lib/Dialect/ESI/runtime/cpp/include/esi/Design.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Manifest.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Types.h
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esiquery.cpp
  lib/Dialect/ESI/runtime/python/esi/accelerator.py
  lib/Dialect/ESI/runtime/python/esi/esiCppAccel.cpp
  lib/Dialect/ESI/runtime/python/esi/esiCppAccel.pyi
Labels: ESI

#6406 [ESI][Runtime] Wire up services and ports into the design tree
  integration_test/Dialect/ESI/runtime/loopback.mlir.py
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Design.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Manifest.h
  lib/Dialect/ESI/runtime/cpp/include/esi/StdServices.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Types.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Utils.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Cosim.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Trace.h
  lib/Dialect/ESI/runtime/cpp/lib/Accelerator.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Design.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/StdServices.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Utils.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
  lib/Dialect/ESI/runtime/python/esi/esiCppAccel.cpp
  lib/Dialect/ESI/runtime/python/esi/esiCppAccel.pyi
  test/Dialect/ESI/manifest.mlir
Labels: ESI

#6411 [ESI][Runtime][NFC] Cleanup runtime code
  lib/Dialect/ESI/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Design.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Manifest.h
  lib/Dialect/ESI/runtime/cpp/include/esi/StdServices.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/capnp.h
  lib/Dialect/ESI/runtime/cpp/include/esi/esi.h
  lib/Dialect/ESI/runtime/cpp/lib/Accelerator.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Design.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/StdServices.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esiquery.cpp
  lib/Dialect/ESI/runtime/python/esi/esiCppAccel.cpp
Labels: ESI

#6421 [HW] Move getPortVerilogName helper into HW PortInfo; NFC
  include/circt/Dialect/HW/HWOpInterfaces.h
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Dialect/HW/HWOpInterfaces.cpp
Labels: HW, ExportVerilog

#6334 [Debug] Add expression support to HGLDD emission
  lib/Target/DebugInfo/EmitHGLDD.cpp
  test/Target/DebugInfo/emit-hgldd.mlir
Labels: Debug

#6427 [ESI] Cosim: punt endpoint naming to users
  include/circt/Dialect/ESI/ESIChannels.td
  integration_test/Dialect/ESI/cosim/cosim_only.sv
  integration_test/Dialect/ESI/cosim/loopback.py
  lib/Dialect/ESI/ESIPasses.cpp
  lib/Dialect/ESI/ESIServices.cpp
  lib/Dialect/ESI/Passes/ESILowerToHW.cpp
  lib/Dialect/ESI/runtime/cosim/Cosim_Endpoint.sv
  tools/esi/esi_cosim.py.in
Labels: ESI

#6428 [ESI][Runtime] Add cosimulation support to new runtime
  integration_test/Dialect/ESI/runtime/loopback.mlir.py
  lib/Dialect/ESI/runtime/cosim/CosimDpi.capnp
  lib/Dialect/ESI/runtime/cosim/cosim_dpi_server/Server.cpp
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Manifest.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Cosim.h
  lib/Dialect/ESI/runtime/cpp/lib/Accelerator.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/python/esi/esiCppAccel.cpp
  lib/Dialect/ESI/runtime/python/esi/esiCppAccel.pyi
  tools/esi/esi_cosim.py.in
Labels: ESI

#6429 [ESI][Runtime] Access children and ports by name
  integration_test/Dialect/ESI/runtime/loopback.mlir.py
  lib/Dialect/ESI/runtime/cpp/include/esi/Design.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Manifest.h
  lib/Dialect/ESI/runtime/cpp/lib/Design.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/python/esi/__init__.py
  lib/Dialect/ESI/runtime/python/esi/esiCppAccel.cpp
  lib/Dialect/ESI/runtime/python/esi/esiCppAccel.pyi
Labels: ESI

#6430 [PyCDE] Fixing everything unexpectedly broken
  frontends/PyCDE/src/instance.py
  frontends/PyCDE/src/module.py
  frontends/PyCDE/src/signals.py
  frontends/PyCDE/src/system.py
  frontends/PyCDE/src/types.py
  lib/Bindings/Python/dialects/fsm.py
Labels: PyCDE

#6431 [ESI][Runtime] Make GCC happy too
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/include/esi/StdServices.h
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
Labels: ESI

#6442 [ESI] Fix AppID index walk
  integration_test/Bindings/Python/dialects/esi_appid.py
  lib/Dialect/ESI/AppID.cpp
  lib/Dialect/ESI/Passes/ESIAppIDHier.cpp
  test/Dialect/ESI/appid_hier.mlir
Labels: ESI

#6436 [PyCDE] Use bundles for ESI services
  frontends/PyCDE/src/bsp/cosim.py
  frontends/PyCDE/src/bsp/xrt.py
  frontends/PyCDE/src/esi.py
  frontends/PyCDE/src/fsm.py
  frontends/PyCDE/src/module.py
  frontends/PyCDE/src/system.py
  frontends/PyCDE/src/types.py
  frontends/PyCDE/test/test_esi.py
  frontends/PyCDE/test/test_esi_errors.py
  frontends/PyCDE/test/test_esi_servicegens.py
  frontends/PyCDE/test/test_xrt.py
  lib/Dialect/ESI/Passes/ESIBuildManifest.cpp
Labels: PyCDE

#6456 [ESI] Move Cosim manifest into separate module
  lib/Dialect/ESI/Passes/ESILowerToHW.cpp
  test/Dialect/ESI/manifest.mlir
Labels: ESI

#6453 [ExportVerilog] Skip debug dialect ops
  lib/Conversion/ExportVerilog/CMakeLists.txt
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Conversion/ExportVerilog/PrepareForEmission.cpp
Labels: ExportVerilog, Debug

#6459 [ESI] Enable i0 sends and recvs over cosim
  integration_test/Dialect/ESI/cosim/loopback.mlir
  integration_test/Dialect/ESI/runtime/loopback.mlir
  integration_test/Dialect/ESI/runtime/loopback.mlir.py
  lib/Dialect/ESI/Passes/ESILowerToHW.cpp
  test/Dialect/ESI/manifest.mlir
Labels: ESI

#6461 [ESI][Manifest] Make service records required
  include/circt/Dialect/ESI/ESIManifest.td
  include/circt/Dialect/ESI/ESIServices.h
  lib/CAPI/Dialect/ESI.cpp
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/ESIServices.cpp
Labels: ESI

#6462 [ESI][Runtime] When a service cannot be created, ignore it
  integration_test/Dialect/ESI/runtime/loopback.mlir
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Cosim.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Trace.h
  lib/Dialect/ESI/runtime/cpp/lib/Accelerator.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
Labels: ESI

#6463 [PyCDE] Fixing integration tests
  frontends/PyCDE/integration_test/CMakeLists.txt
  frontends/PyCDE/integration_test/esi_ram.py
  frontends/PyCDE/integration_test/esi_test.py
  frontends/PyCDE/integration_test/lit.cfg.py
  frontends/PyCDE/integration_test/lit.site.cfg.py.in
  frontends/PyCDE/integration_test/test_software/esi_ram.py
  frontends/PyCDE/integration_test/test_software/esi_test.py
  frontends/PyCDE/integration_test/test_software/lit.local.cfg.py
Labels: PyCDE

#6465 [ESI] Function call std service
  include/circt/Dialect/ESI/ESIStdServices.td
  integration_test/Dialect/ESI/runtime/loopback.mlir
  integration_test/Dialect/ESI/runtime/loopback.mlir.py
  lib/Dialect/ESI/ESIStdServices.cpp
  test/Dialect/ESI/services.mlir
Labels: ESI

#6471 [Python] Add debug dialect bindings
  include/circt-c/Dialect/Debug.h
  integration_test/Bindings/Python/dialects/debug.py
  lib/Bindings/Python/CIRCTModule.cpp
  lib/Bindings/Python/CMakeLists.txt
  lib/Bindings/Python/dialects/DebugOps.td
  lib/Bindings/Python/dialects/debug.py
  lib/CAPI/Dialect/CMakeLists.txt
  lib/CAPI/Dialect/Debug.cpp
Labels: Python, Debug

#6472 [ESI] Add std service name to manifest
  include/circt/Dialect/ESI/ESIManifest.td
  include/circt/Dialect/ESI/ESIServices.td
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/ESIServices.cpp
  test/Dialect/ESI/manifest.mlir
  test/Dialect/ESI/services.mlir
Labels: ESI

#6452 [Debug] Add option to only mention existing files in HGLDD
  include/circt/Target/DebugInfo.h
  lib/Target/DebugInfo/EmitHGLDD.cpp
  lib/Target/DebugInfo/TranslateRegistration.cpp
  tools/firtool/firtool.cpp
Labels: Debug

#6476 [ESI][Runtime] Filling out the type system
  integration_test/Dialect/ESI/runtime/loopback.mlir
  integration_test/Dialect/ESI/runtime/loopback.mlir.py
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Types.h
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
  lib/Dialect/ESI/runtime/python/esi/__init__.py
  lib/Dialect/ESI/runtime/python/esi/esiCppAccel.cpp
  lib/Dialect/ESI/runtime/python/esi/esiCppAccel.pyi
Labels: ESI
