Repository llvm/circt, pull requests merged in 2023-05, with the labels that each got.

#5117 [FIRRTL] Fix enumcreate printed form
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/test.mlir
Labels: FIRRTL

#5118 [firtool] Run LowerMatches before InferWidths
  tools/firtool/firtool.cpp
Labels: FIRRTL

#5123 [FIRRTL] Support FEnumTypes in FIRRTLBaseType dispatch functions
  lib/Dialect/FIRRTL/FIRRTLTypes.cpp
Labels: FIRRTL

#5124 [FIRRTL][LowerMatches] Fix matches with 0 and 1 variants
  lib/Dialect/FIRRTL/Transforms/LowerMatches.cpp
  test/Dialect/FIRRTL/lower-matches.fir
Labels: FIRRTL

#5129 [HW] Support enum types in `hw::getBitWidth()`
  lib/Dialect/HW/HWTypes.cpp
Labels: HW

#5018 [Arc] Add clock_domain canonicalizer
  include/circt/Dialect/Arc/ArcOps.td
  lib/Dialect/Arc/ArcFolds.cpp
  test/Dialect/Arc/canonicalizers.mlir
Labels: Arc

#5134 [Docs] Add Arc to dialects diagram
  docs/dialects.dot
  docs/includes/img/dialects.png
  docs/includes/img/dialects.svg
Labels: documentation

#5141 [Arc] Add LatencyRetiming pass
  include/circt/Dialect/Arc/ArcOps.td
  include/circt/Dialect/Arc/ArcPasses.h
  include/circt/Dialect/Arc/ArcPasses.td
  include/circt/Support/LLVM.h
  lib/Dialect/Arc/ArcOps.cpp
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/InlineArcs.cpp
  lib/Dialect/Arc/Transforms/LatencyRetiming.cpp
  lib/Dialect/Arc/Transforms/SplitLoops.cpp
  test/Dialect/Arc/latency-retiming.mlir
Labels: Arc

#4982 [FIRRTL] Add verifiers for rwprobe + const on RefType, Forceable.
  lib/Dialect/FIRRTL/FIRRTLOpInterfaces.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/FIRRTLTypes.cpp
  test/Dialect/FIRRTL/errors.mlir
Labels: FIRRTL

#5147 [Arc] Add StorageGetOp canonicalizer
  include/circt/Dialect/Arc/ArcOps.td
  lib/Dialect/Arc/ArcFolds.cpp
  test/Dialect/Arc/canonicalizers.mlir
Labels: Arc

#5146 [Arc] Add IsolateClocks pass
  include/circt/Dialect/Arc/ArcInterfaces.td
  include/circt/Dialect/Arc/ArcOps.td
  include/circt/Dialect/Arc/ArcPasses.h
  include/circt/Dialect/Arc/ArcPasses.td
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  lib/Dialect/Arc/ArcOps.cpp
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/IsolateClocks.cpp
  test/Dialect/Arc/isolate-clocks-error.mlir
  test/Dialect/Arc/isolate-clocks.mlir
Labels: Arc

#5144 [Arc] Generalize InlineArcs pass
  include/circt/Dialect/Arc/ArcOps.td
  include/circt/Dialect/Arc/ArcPasses.td
  lib/Dialect/Arc/ArcDialect.cpp
  lib/Dialect/Arc/Transforms/InlineArcs.cpp
  test/Dialect/Arc/inline-arcs.mlir
Labels: Arc

#5185 [HWArithToHW] Restore access to HWArith-specific patterns.
  lib/Conversion/HWArithToHW/HWArithToHW.cpp
Labels: HWArith

#5183 [FIRRTL] Fix connect verifier for enums
  include/circt/Dialect/FIRRTL/FIRRTLTypes.h
  lib/Dialect/FIRRTL/FIRRTLTypes.cpp
  test/Dialect/FIRRTL/connect-errors.mlir
Labels: FIRRTL

#5194 [Arc] MemoryReadPortOp: remove enable and clock operand, make it pure
  include/circt/Dialect/Arc/ArcOps.td
  include/circt/Dialect/Arc/ArcPasses.td
  include/circt/Dialect/Arc/ArcTypes.td
  lib/Conversion/ArcToLLVM/LowerArcToLLVM.cpp
  lib/Dialect/Arc/ArcFolds.cpp
  lib/Dialect/Arc/ArcOps.cpp
  lib/Dialect/Arc/ArcTypes.cpp
  lib/Dialect/Arc/Transforms/AllocateState.cpp
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/InferMemories.cpp
  lib/Dialect/Arc/Transforms/LegalizeStateUpdate.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  lib/Dialect/Arc/Transforms/PassDetails.h
  lib/Dialect/Arc/Transforms/StripSV.cpp
  test/Conversion/ArcToLLVM/lower-arc-to-llvm.mlir
  test/Dialect/Arc/allocate-state.mlir
  test/Dialect/Arc/basic-errors.mlir
  test/Dialect/Arc/basic.mlir
  test/Dialect/Arc/canonicalizers.mlir
  test/Dialect/Arc/infer-memories.mlir
  test/Dialect/Arc/isolate-clocks.mlir
  test/Dialect/Arc/legalize-state-update-error.mlir
  test/Dialect/Arc/legalize-state-update.mlir
  test/Dialect/Arc/lower-state.mlir
  test/Dialect/Arc/print-state-info.mlir
  test/Dialect/Arc/strip-sv.mlir
Labels: Arc

#5197 [Arc] Fix arc.output verifier
  lib/Dialect/Arc/ArcOps.cpp
  test/Dialect/Arc/basic-errors.mlir
Labels: Arc

#5195 [Arc] Include the addressing type in the memory type
  include/circt/Dialect/Arc/ArcOps.td
  include/circt/Dialect/Arc/ArcTypes.td
  lib/Dialect/Arc/Transforms/InferMemories.cpp
  test/Conversion/ArcToLLVM/lower-arc-to-llvm.mlir
  test/Dialect/Arc/allocate-state.mlir
  test/Dialect/Arc/basic-errors.mlir
  test/Dialect/Arc/basic.mlir
  test/Dialect/Arc/canonicalizers.mlir
  test/Dialect/Arc/infer-memories.mlir
  test/Dialect/Arc/isolate-clocks.mlir
  test/Dialect/Arc/legalize-state-update-error.mlir
  test/Dialect/Arc/legalize-state-update.mlir
  test/Dialect/Arc/lower-state.mlir
  test/Dialect/Arc/print-state-info-errors.mlir
  test/Dialect/Arc/print-state-info.mlir
Labels: Arc

#5166 [Arc] Change MemoryWritePortOp to also take an arc
  include/circt/Dialect/Arc/ArcOps.td
  lib/Dialect/Arc/ArcFolds.cpp
  lib/Dialect/Arc/ArcOps.cpp
  lib/Dialect/Arc/Transforms/InferMemories.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  test/Dialect/Arc/basic-errors.mlir
  test/Dialect/Arc/basic.mlir
  test/Dialect/Arc/canonicalizers.mlir
  test/Dialect/Arc/infer-memories.mlir
  test/Dialect/Arc/isolate-clocks.mlir
  test/Dialect/Arc/lower-state.mlir
Labels: Arc

#5199 [arcilator] Convenience flag for printing debug info
  test/arcilator/arcilator.mlir
  tools/arcilator/CMakeLists.txt
  tools/arcilator/arcilator.cpp
Labels: Arc

#5198 [Arc] Simulation specific optimization for comb.icmp
  lib/Dialect/Arc/Transforms/ArcCanonicalizer.cpp
  test/Dialect/Arc/arc-canonicalizer.mlir
  tools/arcilator/arcilator.cpp
Labels: Arc

#5200 [Arc] Merge RemoveArcArgsPattern into ArcCanonicalizer
  include/circt/Dialect/Arc/ArcPasses.h
  include/circt/Dialect/Arc/ArcPasses.td
  lib/Dialect/Arc/Transforms/ArcCanonicalizer.cpp
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/RemoveUnusedArcArguments.cpp
  test/Dialect/Arc/arc-canonicalizer.mlir
  test/Dialect/Arc/remove-unused-arc-arguments.mlir
  tools/arcilator/arcilator.cpp
Labels: Arc

#5201 [Arc] SinkInputs: update to CallOpMutableInterface and merge into ArcCanonicalizer
  include/circt/Dialect/Arc/ArcPasses.h
  include/circt/Dialect/Arc/ArcPasses.td
  lib/Dialect/Arc/ArcReductions.cpp
  lib/Dialect/Arc/Transforms/ArcCanonicalizer.cpp
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/SinkInputs.cpp
  test/Dialect/Arc/Reduction/pattern-registration.mlir
  test/Dialect/Arc/arc-canonicalizer.mlir
  test/Dialect/Arc/sink-inputs.mlir
  tools/arcilator/arcilator.cpp
Labels: Arc

#5206 [FIRRTL] Add a type interface for querying phase compatibility
  include/circt/Dialect/FIRRTL/CMakeLists.txt
  include/circt/Dialect/FIRRTL/FIRRTLEnums.td
  include/circt/Dialect/FIRRTL/FIRRTLTypeInterfaces.h
  include/circt/Dialect/FIRRTL/FIRRTLTypeInterfaces.td
  include/circt/Dialect/FIRRTL/FIRRTLTypesImpl.td
  lib/Dialect/FIRRTL/CMakeLists.txt
  lib/Dialect/FIRRTL/FIRRTLTypeInterfaces.cpp
Labels: FIRRTL

#5179 [FIREmitter] Support Open aggregates, RefSubOp
  lib/Dialect/FIRRTL/Export/FIREmitter.cpp
  test/Dialect/FIRRTL/emit-basic.mlir
Labels: FIRRTL

#5227 [NFC][ESI][C++ API] Cleaning up more references to 'cosim'
  include/circt/Dialect/ESI/APIUtilities.h
  lib/Dialect/ESI/APIUtilities.cpp
  lib/Dialect/ESI/CMakeLists.txt
  lib/Dialect/ESI/Passes/CPPAPI/CPPAPI.cpp
  lib/Dialect/ESI/Passes/CPPAPI/CPPAPI.h
  lib/Dialect/ESI/Passes/CPPAPI/ESIAddCPPAPI.cpp
  lib/Dialect/ESI/Passes/CPPAPI/ESIEmitCPPAPI.cpp
  lib/Dialect/ESI/Passes/ESIEmitCollateral.cpp
  lib/Dialect/ESI/capnp/ESICapnp.h
  lib/Dialect/ESI/capnp/Schema.cpp
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/capnp.h
  lib/Dialect/ESI/runtime/cpp/include/esi/esi.h
Labels: ESI

#5239 [SystemC] integration tests: avoid compile_commands.json in clang-tidy.
  integration_test/Target/ExportSystemC/basic.mlir
  integration_test/Target/ExportSystemC/func.mlir
Labels: SystemC

#5265 [cmake] Gate FILE_SET commands on CAPNP
  lib/Dialect/ESI/CMakeLists.txt
Labels: ESI

#5116 [FIRParser] Add support for enumeration types and match statements
  lib/Dialect/FIRRTL/Import/FIRLexer.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Import/FIRTokenKinds.def
  test/Dialect/FIRRTL/parse-basic.fir
Labels: FIRRTL

#5293 [FIRRTL][ExpandWhens] Fix performance with large blocks
  lib/Dialect/FIRRTL/Transforms/ExpandWhens.cpp
Labels: FIRRTL
