Repository llvm/circt, pull requests merged in 2023-07, with the labels that each got.

#5532 [Comb][Canonicalize] keep attributes during op width narrowing
  lib/Dialect/Comb/CombFolds.cpp
  test/Dialect/Comb/canonicalization.mlir
Labels: Comb

#5518 [Dedup] Parallelize hash calculation, NFCI
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
Labels: FIRRTL

#5549 [FIRRTL][LowerXMR][NFCI] Minor touchups.
  lib/Dialect/FIRRTL/Transforms/LowerXMR.cpp
Labels: FIRRTL

#5515 [FIRRTL] Allow strictconnect to have different but structurally equivalent types
  include/circt/Dialect/FIRRTL/FIRRTLStatements.td
  include/circt/Dialect/FIRRTL/FIRRTLTypes.h
  include/circt/Support/CustomDirectiveImpl.h
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/FIRRTLTypes.cpp
  lib/Support/CustomDirectiveImpl.cpp
  test/Dialect/FIRRTL/errors.mlir
  test/Dialect/FIRRTL/test.mlir
Labels: FIRRTL

#5551 [FIRRTL][LowerXMR] Support ref.sub.
  lib/Dialect/FIRRTL/Transforms/LowerXMR.cpp
  test/Dialect/FIRRTL/lowerXMR-errors.mlir
  test/Dialect/FIRRTL/lowerXMR.mlir
Labels: FIRRTL

#5550 [FIRRTL][FIRParser] Parse rwprobe to element of aggregate.
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/parse-errors.fir
Labels: FIRRTL

#5553 [FIRRTL][LowerXMR] Include forceable + force/release ops in zero-width handling.
  lib/Dialect/FIRRTL/Transforms/LowerXMR.cpp
  test/Dialect/FIRRTL/lowerXMR.mlir
Labels: FIRRTL

#5025 [FIRRTLToHW] Lower memories to seq.firmem
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/Seq/Transforms/LowerFirMem.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw-memories.mlir
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
  test/Dialect/FIRRTL/SFCTests/load-memory-from-file.fir
  test/Dialect/Seq/lower-firmem.mlir
  test/firtool/chirrtl.fir
  test/firtool/prefixMemory.fir
Labels: FIRRTL, Seq

#5567 [PipelineToHW] Don't CE pipeline regs in non-stallable pipelines
  integration_test/Dialect/Pipeline/simple/simple.mlir
  lib/Conversion/PipelineToHW/PipelineToHW.cpp
  test/Conversion/PipelineToHW/test_clockgates.mlir
  test/Conversion/PipelineToHW/test_inline.mlir
  test/Conversion/PipelineToHW/test_outlined.mlir
Labels: Pipeline

#5573 [SCF-To-Calyx] Fixes Bugs
  lib/Conversion/LoopScheduleToCalyx/LoopScheduleToCalyx.cpp
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  test/Conversion/LoopScheduleToCalyx/convert_pipeline.mlir
  test/Conversion/SCFToCalyx/convert_memory.mlir
  test/Conversion/SCFToCalyx/convert_simple.mlir
Labels: Calyx

#5587 [LowerFirMem] Insert memory modules before first user
  lib/Dialect/Seq/Transforms/LowerFirMem.cpp
  test/Dialect/Seq/lower-firmem.mlir
Labels: FIRRTL, Seq

#5588 [HW][SV] Move string type from SV to HW
  include/circt/Dialect/HW/HWTypes.td
  include/circt/Dialect/SV/SVExpressions.td
  include/circt/Dialect/SV/SVTypes.td
  test/Conversion/ExportVerilog/sv-dialect.mlir
Labels: HW, Verilog/SystemVerilog

#5593 [FIRRTL][LowerTypes] fix error paths to fail pass.
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
Labels: FIRRTL

#5591 [FIRRTL][OMIR] Detect and error if tracker resolution is ambiguous.
  lib/Dialect/FIRRTL/Transforms/EmitOMIR.cpp
  test/Dialect/FIRRTL/emit-omir-errors.mlir
Labels: FIRRTL

#5586 [ESI] Improve the way to/from server requests are handled
  include/circt/Dialect/ESI/ESIInterfaces.td
  include/circt/Dialect/ESI/ESIServices.td
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/ESIServices.cpp
  test/Dialect/ESI/errors.mlir
  test/Dialect/ESI/services.mlir
Labels: ESI

#5619 [FIRRTL][GrandCentral] Stop using ModuleNamespace for unique names
  include/circt/Dialect/FIRRTL/FIRRTLAnnotationHelper.h
  lib/Dialect/FIRRTL/FIRRTLAnnotationHelper.cpp
Labels: FIRRTL

#5539 [FIRRTL] Use type_{cast, isa, dyn_cast} and FIRRTLTypeSwitch
  include/circt/Dialect/FIRRTL/FIRRTLCanonicalization.td
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  include/circt/Dialect/FIRRTL/FIRRTLOpInterfaces.td
  include/circt/Dialect/FIRRTL/FIRRTLStatements.td
  include/circt/Dialect/FIRRTL/FIRRTLTypes.td
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/FIRRTL/CHIRRTLDialect.cpp
  lib/Dialect/FIRRTL/Export/FIREmitter.cpp
  lib/Dialect/FIRRTL/FIRRTLAnnotationHelper.cpp
  lib/Dialect/FIRRTL/FIRRTLAnnotations.cpp
  lib/Dialect/FIRRTL/FIRRTLDialect.cpp
  lib/Dialect/FIRRTL/FIRRTLFieldSource.cpp
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  lib/Dialect/FIRRTL/FIRRTLOpInterfaces.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/FIRRTLTypes.cpp
  lib/Dialect/FIRRTL/FIRRTLUtils.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Transforms/AddSeqMemPorts.cpp
  lib/Dialect/FIRRTL/Transforms/CheckCombLoops.cpp
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  lib/Dialect/FIRRTL/Transforms/DropConst.cpp
  lib/Dialect/FIRRTL/Transforms/EmitOMIR.cpp
  lib/Dialect/FIRRTL/Transforms/ExpandWhens.cpp
  lib/Dialect/FIRRTL/Transforms/ExtractInstances.cpp
  lib/Dialect/FIRRTL/Transforms/FlattenMemory.cpp
  lib/Dialect/FIRRTL/Transforms/GrandCentral.cpp
  lib/Dialect/FIRRTL/Transforms/IMConstProp.cpp
  lib/Dialect/FIRRTL/Transforms/IMDeadCodeElim.cpp
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
  lib/Dialect/FIRRTL/Transforms/LowerAnnotations.cpp
  lib/Dialect/FIRRTL/Transforms/LowerCHIRRTL.cpp
  lib/Dialect/FIRRTL/Transforms/LowerMemory.cpp
  lib/Dialect/FIRRTL/Transforms/LowerOpenAggs.cpp
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  lib/Dialect/FIRRTL/Transforms/LowerXMR.cpp
  lib/Dialect/FIRRTL/Transforms/MemToRegOfVec.cpp
  lib/Dialect/FIRRTL/Transforms/MergeConnections.cpp
  lib/Dialect/FIRRTL/Transforms/ModuleInliner.cpp
  lib/Dialect/FIRRTL/Transforms/RandomizeRegisterInit.cpp
  lib/Dialect/FIRRTL/Transforms/ResolveTraces.cpp
  lib/Dialect/FIRRTL/Transforms/SFCCompat.cpp
  lib/Dialect/FIRRTL/Transforms/VBToBV.cpp
  lib/Dialect/FIRRTL/Transforms/WireDFT.cpp
Labels: FIRRTL

#5602 [Pipeline] Allow explicitly named registers and passthroughs
  include/circt/Dialect/Pipeline/PipelineOps.td
  lib/Conversion/PipelineToHW/PipelineToHW.cpp
  lib/Dialect/Pipeline/PipelineOps.cpp
  test/Conversion/PipelineToHW/test_ce.mlir
  test/Conversion/PipelineToHW/test_clockgates.mlir
  test/Conversion/PipelineToHW/test_inline.mlir
  test/Conversion/PipelineToHW/test_outlined.mlir
  test/Dialect/Pipeline/round-trip.mlir
Labels: Pipeline

#5606 [Calyx] Add Repeat Op
  include/circt/Dialect/Calyx/CalyxControl.td
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Dialect/Calyx/emit.mlir
Labels: Calyx

#5625 [ExportVerilog] Fix crash when spilling LTL expr to wire
  lib/Conversion/ExportVerilog/PrepareForEmission.cpp
  test/Conversion/ExportVerilog/prepare-for-emission.mlir
Labels: ExportVerilog

#5632 [Docs] Update dialects.dot for LoopSchedule
  docs/dialects.dot
  docs/includes/img/dialects.png
  docs/includes/img/dialects.svg
Labels: documentation, LoopSchedule

#5529 [FIRRTL] Add GroupDeclOp and GroupOp
  include/circt/Dialect/FIRRTL/FIRRTLEnums.td
  include/circt/Dialect/FIRRTL/FIRRTLStatements.td
  include/circt/Dialect/FIRRTL/FIRRTLStructure.td
  include/circt/Dialect/FIRRTL/FIRRTLVisitors.h
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/errors.mlir
Labels: enhancement, FIRRTL

#5657 [HW][Support][NFC] Move generic module parsing func into support
  include/circt/Dialect/HW/ModuleImplementation.h
  include/circt/Support/ParsingUtils.h
  lib/Dialect/HW/ModuleImplementation.cpp
Labels: HW

#5646 [Ibis] Structural basics: classes, functions, and calls
  include/circt/Dialect/Ibis/IbisOps.h
  include/circt/Dialect/Ibis/IbisOps.td
  lib/Dialect/Ibis/IbisOps.cpp
  test/Dialect/Ibis/errors.mlir
  test/Dialect/Ibis/structure.mlir
Labels: Ibis

#5654 [PyCDE] Add implemented of comparison operators
  frontends/PyCDE/src/signals.py
  frontends/PyCDE/test/test_hwarith.py
Labels: PyCDE

#5672 Replace old InnerName helper with InnerSymbolTable
  include/circt/Dialect/HW/HWAttributes.h
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Dialect/FIRRTL/CHIRRTLDialect.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/HW/HWOps.cpp
  lib/Dialect/SV/SVOps.cpp
Labels: FIRRTL, HW

#5669 [FIRRTL] Add RWProbe op.
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  include/circt/Dialect/FIRRTL/FIRRTLTypes.td
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/errors.mlir
Labels: FIRRTL

#5671 [FIRRTL][LowerXMR] Support RWProbeOp.
  lib/Dialect/FIRRTL/Transforms/LowerXMR.cpp
  test/Dialect/FIRRTL/lowerXMR.mlir
Labels: FIRRTL

#5683 [Ibis] Call preparation pass -- part 1
  include/circt/Dialect/Ibis/IbisOps.td
  include/circt/Dialect/Ibis/IbisPasses.h
  include/circt/Dialect/Ibis/IbisPasses.td
  include/circt/InitAllPasses.h
  lib/Dialect/Ibis/CMakeLists.txt
  lib/Dialect/Ibis/Transforms/CMakeLists.txt
  lib/Dialect/Ibis/Transforms/IbisCallPrep.cpp
  lib/Dialect/Ibis/Transforms/PassDetails.h
  test/Dialect/Ibis/structure.mlir
  tools/circt-opt/CMakeLists.txt
Labels: Ibis

#5705 [FIRRTL] Add FIRParser support for classes
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Import/FIRTokenKinds.def
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/parse-errors.fir
Labels: FIRRTL

#5711 [HW] Add InnerSymAttr python bindings
  include/circt-c/Dialect/HW.h
  integration_test/Bindings/Python/dialects/hw.py
  lib/Bindings/Python/HWModule.cpp
  lib/CAPI/Dialect/HW.cpp
Labels: HW, Python

#5740 [FIREmitter] support property types and expressions
  include/circt/Dialect/FIRRTL/FIRRTLVisitors.h
  lib/Dialect/FIRRTL/Export/FIREmitter.cpp
  test/Dialect/FIRRTL/emit-basic.mlir
Labels: FIRRTL
