Repository llvm/circt, pull requests merged in 2023-03, with the labels that each got.

#4743 [SV] Move emitAsComment to SVAttributeAttr; remove SVAttributesAttr
  include/circt-c/Dialect/SV.h
  include/circt/Dialect/SV/SVAttributes.h
  include/circt/Dialect/SV/SVAttributes.td
  integration_test/Bindings/Python/dialects/seq.py
  lib/Bindings/Python/SVModule.cpp
  lib/CAPI/Dialect/SV.cpp
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/SV/SVAttributes.cpp
  lib/Dialect/SV/Transforms/HWMemSimImpl.cpp
  lib/Dialect/Seq/Transforms/LowerSeqToSV.cpp
  test/Conversion/ExportVerilog/hw-dialect.mlir
  test/Conversion/ExportVerilog/pretty.mlir
  test/Conversion/ExportVerilog/sv-dialect.mlir
  test/Dialect/SV/hw-cleanup.mlir
Labels: Verilog/SystemVerilog

#4744 [ExportVerilog] Add KEEP attr to Vivado array index bug workaround
  include/circt/Support/LoweringOptions.h
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Conversion/ExportVerilog/PrepareForEmission.cpp
  lib/Support/LoweringOptions.cpp
  test/Conversion/ExportVerilog/disallow-array-index-inlining.mlir
  test/Conversion/ExportVerilog/mitigate-vivado-array-index-const-prop-bug.mlir
Labels: ExportVerilog

#4750 [Arc] Verify that arc bodies are pure
  include/circt/Dialect/Arc/Ops.td
  lib/Dialect/Arc/Ops.cpp
  test/Dialect/Arc/basic-errors.mlir
  test/Dialect/Arc/basic.mlir
Labels: Arc

#4757 [LLHD] Only permit signal creation in entity and proc ops
  include/circt/Dialect/LLHD/IR/SignalOps.td
  test/Dialect/LLHD/IR/signal-errors.mlir
Labels: LLHD

#4756 [HWToLLVM] Add support for aggregate constant op
  include/circt/Conversion/HWToLLVM.h
  lib/Conversion/HWToLLVM/CMakeLists.txt
  lib/Conversion/HWToLLVM/HWToLLVM.cpp
  lib/Conversion/LLHDToLLVM/CMakeLists.txt
  lib/Conversion/LLHDToLLVM/LLHDToLLVM.cpp
  test/Conversion/HWToLLVM/convert_aggregates.mlir
  test/Conversion/LLHDToLLVM/convert_signals.mlir
  test/Conversion/LLHDToLLVM/convert_simple.mlir
  test/Conversion/LLHDToLLVM/convert_value_creation.mlir
  test/Conversion/LLHDToLLVM/signal-init.mlir
Labels: HW

#4759 [ESI][XRT] Start of MMIO: magic number and version
  frontends/PyCDE/src/bsp/EsiXrtPython.cpp
  frontends/PyCDE/src/bsp/Makefile.xrt.j2
  frontends/PyCDE/src/bsp/xrt.py
  frontends/PyCDE/src/bsp/xrt_package.tcl.j2
  frontends/PyCDE/src/constructs.py
  frontends/PyCDE/src/system.py
  frontends/PyCDE/test/test_xrt.py
Labels: ESI

#4761 [HWToLLVM] Remove unnecessary target materializations
  lib/Conversion/HWToLLVM/HWToLLVM.cpp
  test/Conversion/HWToLLVM/convert_aggregates.mlir
Labels: HW

#4783 [FIRRTL] Refactor errors emitted during return type inference.
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
Labels: FIRRTL

#4799 [PyCDE] Include capnp, kj libs in wheel
  frontends/PyCDE/setup.py
  frontends/PyCDE/src/CMakeLists.txt
Labels: PyCDE

#4698 [Arc] Add deduplication pass
  include/circt/Dialect/Arc/CMakeLists.txt
  include/circt/Dialect/Arc/Passes.h
  include/circt/Dialect/Arc/Passes.td
  include/circt/InitAllPasses.h
  lib/Dialect/Arc/CMakeLists.txt
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/Dedup.cpp
  lib/Dialect/Arc/Transforms/PassDetails.h
  test/Dialect/Arc/dedup.mlir
  tools/circt-opt/CMakeLists.txt
Labels: Arc

#4699 [Arc] Add module force-inlining pass
  include/circt/Dialect/Arc/Passes.h
  include/circt/Dialect/Arc/Passes.td
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/InlineModules.cpp
  test/Dialect/Arc/inline-modules.mlir
Labels: Arc

#4700 [Arc] Add arcilator convenience tool
  test/CMakeLists.txt
  test/arcilator/arcilator.mlir
  test/lit.cfg.py
  tools/CMakeLists.txt
  tools/arcilator/CMakeLists.txt
  tools/arcilator/arcilator.cpp
Labels: Arc

#4796 [FIRRTL][InferWidths] Honor upper bounds on AttachOp
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
  test/Dialect/FIRRTL/infer-widths-errors.mlir
Labels: bug, FIRRTL

#4808 [PyCDE] Package collateral SV and binaries
  frontends/PyCDE/pyproject.toml
  frontends/PyCDE/src/CMakeLists.txt
  frontends/PyCDE/src/esi.py
  lib/Dialect/ESI/CMakeLists.txt
  lib/Dialect/ESI/cosim/cosim_dpi_server/Server.cpp
  tools/circt-rtl-sim/CMakeLists.txt
  tools/circt-rtl-sim/driver.cpp
  tools/circt-rtl-sim/driver.sv
Labels: PyCDE

#4819 [ExportVerilog] Avoid splitting wire decl and assign in expr inlining
  lib/Conversion/ExportVerilog/PrepareForEmission.cpp
  test/Conversion/ExportVerilog/verilog-basic.mlir
Labels: ExportVerilog

#4506 [HW] Allow inlining of all constant and aggregate ops.
  lib/Dialect/HW/HWDialect.cpp
  test/Dialect/HW/inline.mlir
Labels: HW

#4821 [Support] Add `ImplicitSSAName` directive for string attributes
  include/circt/Dialect/HW/CustomDirectiveImpl.h
  include/circt/Dialect/SV/SVExpressions.td
  include/circt/Dialect/SV/SVInOutOps.td
  include/circt/Dialect/SV/SVTypeDecl.td
  include/circt/Dialect/SystemC/SystemCStructure.td
  include/circt/Support/CustomDirectiveImpl.h
  lib/Dialect/SV/SVOps.cpp
  lib/Dialect/SystemC/CMakeLists.txt
  lib/Dialect/SystemC/SystemCOps.cpp
  lib/Support/CustomDirectiveImpl.cpp
  test/Conversion/ExportVerilog/name-legalize.mlir
  test/Conversion/ExportVerilog/pretty.mlir
  test/Conversion/ExportVerilog/sv-dialect.mlir
  test/Conversion/ExportVerilog/sv-interfaces.mlir
  test/Dialect/HW/basic.mlir
  test/Dialect/SV/basic.mlir
  test/Dialect/SV/errors.mlir
  test/Dialect/SystemC/structure.mlir
Labels: Verilog/SystemVerilog

#4822 [HW] Add hw.wire operation
  include/circt/Dialect/HW/HWMiscOps.td
  include/circt/Dialect/HW/HWOps.h
  include/circt/Support/BuilderUtils.h
  lib/Conversion/CalyxToHW/CalyxToHW.cpp
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Conversion/ExportVerilog/LegalizeNames.cpp
  lib/Conversion/ExportVerilog/PrepareForEmission.cpp
  lib/Dialect/HW/CMakeLists.txt
  lib/Dialect/HW/HWOps.cpp
  test/Dialect/HW/basic.mlir
  test/Dialect/HW/canonicalization.mlir
Labels: HW

#4823 [ExportVerilog] Add hw.wire emission support
  lib/Conversion/ExportVerilog/LegalizeNames.cpp
  lib/Conversion/ExportVerilog/PrepareForEmission.cpp
  test/Conversion/ExportVerilog/prepare-for-emission.mlir
  test/Conversion/ExportVerilog/verilog-basic.mlir
Labels: ExportVerilog

#4824 [FIRRTLToHW] Lower FIRRTL node to HW wire
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
  test/firtool/name-preservation.fir
Labels: FIRRTL

#4714 [Arc] Add loop splitting pass
  include/circt/Dialect/Arc/Passes.h
  include/circt/Dialect/Arc/Passes.td
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/SplitLoops.cpp
  test/Dialect/Arc/split-loops-errors.mlir
  test/Dialect/Arc/split-loops.mlir
  tools/arcilator/arcilator.cpp
Labels: Arc

#4715 [Arc] Add constant sinking pass
  include/circt/Dialect/Arc/Passes.h
  include/circt/Dialect/Arc/Passes.td
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/SinkInputs.cpp
  test/Dialect/Arc/sink-inputs.mlir
  tools/arcilator/arcilator.cpp
Labels: Arc

#4682 [Arc] Add lookup table generation pass
  include/circt/Dialect/Arc/Passes.h
  include/circt/Dialect/Arc/Passes.td
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/MakeTables.cpp
  test/Dialect/Arc/make-tables.mlir
  tools/arcilator/arcilator.cpp
Labels: Arc

#4683 [Arc] Add makeshift input preprocessing
  include/circt/Dialect/Arc/Arc.td
  include/circt/Dialect/Arc/Dialect.td
  include/circt/Dialect/Arc/Ops.h
  include/circt/Dialect/Arc/Ops.td
  include/circt/Dialect/Arc/Passes.h
  include/circt/Dialect/Arc/Passes.td
  include/circt/Dialect/Arc/Types.h
  include/circt/Dialect/Arc/Types.td
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  lib/Dialect/Arc/CMakeLists.txt
  lib/Dialect/Arc/Dialect.cpp
  lib/Dialect/Arc/Ops.cpp
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/InferMemories.cpp
  lib/Dialect/Arc/Transforms/PassDetails.h
  lib/Dialect/Arc/Transforms/StripSV.cpp
  lib/Dialect/Arc/Types.cpp
  test/Dialect/Arc/infer-memories.mlir
  test/Dialect/Arc/strip-sv.mlir
  tools/arcilator/arcilator.cpp
Labels: Arc

#4724 [Arc] Add variadic op simplification pass
  include/circt/Dialect/Arc/Passes.h
  include/circt/Dialect/Arc/Passes.td
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/SimplifyVariadicOps.cpp
  test/Dialect/Arc/simplify-variadic-ops.mlir
Labels: Arc

#4725 [Arc] Add pass to remove unused arc arguments
  include/circt/Dialect/Arc/Passes.h
  include/circt/Dialect/Arc/Passes.td
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/RemoveUnusedArcArguments.cpp
  test/Dialect/Arc/remove-unused-arc-arguments.mlir
  tools/arcilator/arcilator.cpp
Labels: Arc

#4726 [Arc] Add lookup table op and lowering pass
  include/circt/Dialect/Arc/Ops.td
  include/circt/Dialect/Arc/Passes.h
  include/circt/Dialect/Arc/Passes.td
  lib/Dialect/Arc/Ops.cpp
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/LowerLUT.cpp
  test/Dialect/Arc/basic-error.mlir
  test/Dialect/Arc/basic.mlir
  test/Dialect/Arc/lower-lut.mlir
Labels: Arc

#4727 [Arc] Add simple arc inlining pass
  include/circt/Dialect/Arc/Passes.h
  include/circt/Dialect/Arc/Passes.td
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/InlineArcs.cpp
  test/Dialect/Arc/inline-arcs.mlir
Labels: Arc

#4728 [Arc] Add Comb to MLIR Arith conversion pass
  include/circt/Conversion/CombToArith.h
  include/circt/Conversion/Passes.h
  include/circt/Conversion/Passes.td
  lib/Conversion/CMakeLists.txt
  lib/Conversion/CombToArith/CMakeLists.txt
  lib/Conversion/CombToArith/CombToArith.cpp
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  test/Conversion/CombToArith/comb-to-arith.mlir
  tools/arcilator/CMakeLists.txt
  tools/circt-opt/CMakeLists.txt
Labels: Arc

#4684 [Arc] Add tap op to observe ports/wires and AddTaps pass
  include/circt/Dialect/Arc/Ops.td
  include/circt/Dialect/Arc/Passes.h
  include/circt/Dialect/Arc/Passes.td
  lib/Dialect/Arc/Transforms/AddTaps.cpp
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  test/Dialect/Arc/add-taps.mlir
  tools/arcilator/arcilator.cpp
Labels: Arc

#4865 [Arc] SplitLoops: process splits in dependency order
  lib/Dialect/Arc/Transforms/SplitLoops.cpp
  test/Dialect/Arc/split-loops.mlir
Labels: Arc

#4866 [FIRRTL] Add canonicalizers for subaccesses on invalid values
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  test/Dialect/FIRRTL/canonicalization.mlir
Labels: FIRRTL

#4888 [PyCDE] Start of proper documentation
  docs/PyCDE.md
  docs/PyCDE/_index.md
  docs/PyCDE/basics.md
  docs/PyCDE/compiling.md
  docs/PyCDE/examples/basic.py
  docs/PyCDE/examples/parameters.py
  docs/PyCDE/examples/structs.py
Labels: PyCDE

#4729 [Arc] Add state lowering pass
  include/circt/Dialect/Arc/Ops.td
  include/circt/Dialect/Arc/Passes.h
  include/circt/Dialect/Arc/Passes.td
  include/circt/Dialect/Arc/Types.td
  lib/Dialect/Arc/Ops.cpp
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/LowerState.cpp
  test/Dialect/Arc/basic-errors.mlir
  test/Dialect/Arc/lower-state.mlir
  test/arcilator/arcilator.mlir
  tools/arcilator/arcilator.cpp
Labels: Arc

#4826 [FIRRTLToHW] Simplify lowerRegConnect, support HW wires
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw-errors.mlir
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
Labels: FIRRTL

#4827 [FIRRTLToHW] Lower FIRRTL wires to HW wires
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw-module.mlir
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
  test/Dialect/FIRRTL/SFCTests/data-taps-xmr.fir
  test/Dialect/FIRRTL/SFCTests/mem-taps-reg.fir
  test/Dialect/FIRRTL/SFCTests/mem-taps.fir
Labels: FIRRTL

#4828 [FIRRTLToHW] Create most temporary wires as `hw.wire`
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
Labels: FIRRTL

#4864 [ESI] Data window model
  include/circt/Dialect/ESI/ESITypes.td
  lib/Dialect/ESI/ESITypes.cpp
  test/Dialect/ESI/errors.mlir
  test/Dialect/ESI/windows.mlir
Labels: ESI

#4730 [Arc] Add state allocation passes
  include/circt/Dialect/Arc/Ops.td
  include/circt/Dialect/Arc/Passes.h
  include/circt/Dialect/Arc/Passes.td
  lib/Dialect/Arc/Transforms/AllocateState.cpp
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/LegalizeStateUpdate.cpp
  lib/Dialect/Arc/Transforms/PrintStateInfo.cpp
  test/Dialect/Arc/allocate-state.mlir
  test/Dialect/Arc/basic.mlir
  test/Dialect/Arc/legalize-state-update.mlir
  test/Dialect/Arc/print-state-info-errors.mlir
  test/Dialect/Arc/print-state-info.mlir
  test/arcilator/arcilator.mlir
  tools/arcilator/arcilator.cpp
Labels: Arc

#4806 [Arc] LowerState: support enable and reset operands
  include/circt/Dialect/Arc/Passes.td
  lib/Dialect/Arc/Transforms/LowerState.cpp
  test/Dialect/Arc/lower-state.mlir
Labels: Arc

#4809 [Arc] Add pure CallOp
  include/circt/Dialect/Arc/Ops.td
  lib/Conversion/ArcToLLVM/LowerArcToLLVM.cpp
  lib/Dialect/Arc/Ops.cpp
  lib/Dialect/Arc/Transforms/SinkInputs.cpp
  test/Conversion/ArcToLLVM/lower-arc-to-llvm.mlir
  test/Dialect/Arc/basic-errors.mlir
  test/Dialect/Arc/basic.mlir
  test/Dialect/Arc/sink-inputs.mlir
Labels: Arc
