Repository llvm/circt, pull requests merged in 2023-12, with the labels that each got.

#6478 [ESI][Runtime] Get build working on Windows
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/lib/StdServices.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
  lib/Dialect/ESI/runtime/python/esi/esiCppAccel.cpp
Labels: ESI

#6477 [Arc] Add option to observe registers and memories
  include/circt/Conversion/ConvertToArcs.h
  include/circt/Conversion/Passes.td
  include/circt/Dialect/Arc/ArcPasses.td
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  lib/Dialect/Arc/Transforms/InferMemories.cpp
  test/Conversion/ConvertToArcs/convert-to-arcs-names.mlir
  test/Dialect/Arc/infer-memories-names.mlir
  tools/arcilator/arcilator.cpp
Labels: Arc

#6480 [ESI][Integration test] Fix requires and run commands
  integration_test/Dialect/ESI/cosim/cosim_only.sv
  integration_test/Dialect/ESI/cosim/loopback.mlir
  integration_test/Dialect/ESI/cosim/lowlevel_cosim_only.sv
  integration_test/Dialect/ESI/runtime/basic_mmio.sv
  integration_test/Dialect/ESI/runtime/loopback.mlir
Labels: ESI

#6499 [firtool] Add option to treat EICG_wrapper as intrinsic
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  include/circt/Firtool/Firtool.h
  lib/Dialect/FIRRTL/Transforms/LowerIntrinsics.cpp
  lib/Firtool/Firtool.cpp
  test/Dialect/FIRRTL/lower-intrinsics.mlir
Labels: FIRRTL

#6503 [NFC][ESI] Refactor runtime headers and design hierarchy
  integration_test/Dialect/ESI/runtime/basic_mmio.sv.py
  integration_test/Dialect/ESI/runtime/loopback.mlir.py
  lib/Dialect/ESI/CMakeLists.txt
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Common.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Design.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Manifest.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Ports.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Services.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Cosim.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Trace.h
  lib/Dialect/ESI/runtime/cpp/lib/Accelerator.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Ports.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Services.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esiquery.cpp
  lib/Dialect/ESI/runtime/python/esi/__init__.py
  lib/Dialect/ESI/runtime/python/esi/accelerator.py
  lib/Dialect/ESI/runtime/python/esi/esiCppAccel.cpp
  lib/Dialect/ESI/runtime/python/esi/esiCppAccel.pyi
Labels: ESI

#6451 [Debug] Make paths in HGLDD files relative
  lib/Target/DebugInfo/EmitHGLDD.cpp
Labels: Debug

#6454 [Debug] Add scope op
  docs/Dialects/Debug.md
  include/circt/Analysis/DebugInfo.h
  include/circt/Dialect/Debug/DebugOps.td
  include/circt/Dialect/Debug/DebugTypes.td
  lib/Analysis/DebugInfo.cpp
  lib/Dialect/FIRRTL/Transforms/MaterializeDebugInfo.cpp
  lib/Target/DebugInfo/DumpDebugInfo.cpp
  test/Analysis/debug-info.mlir
  test/Dialect/Debug/basic.mlir
Labels: Debug

#6505 [CombToArith] Fix lowering of concat with single operand
  lib/Conversion/CombToArith/CombToArith.cpp
  test/Conversion/CombToArith/comb-to-arith.mlir
Labels: Comb

#6506 [Arc] Partially enable reset/enable detection
  include/circt/Dialect/Arc/ArcPasses.h
  include/circt/Dialect/Arc/ArcPasses.td
  lib/Dialect/Arc/Transforms/InferStateProperties.cpp
  tools/arcilator/arcilator.cpp
Labels: Arc

#6508 [Arc] Add support for struct and array states
  include/circt/Dialect/Arc/ArcOps.td
  include/circt/Dialect/Arc/ArcTypes.td
  lib/Conversion/ArcToLLVM/LowerArcToLLVM.cpp
  lib/Dialect/Arc/ArcTypes.cpp
  test/Conversion/ArcToLLVM/lower-arc-to-llvm.mlir
  test/Dialect/Arc/basic-errors.mlir
Labels: Arc

#6514 [ESI] Fix pycde integration tests
  frontends/PyCDE/integration_test/test_software/esi_ram.py
  frontends/PyCDE/integration_test/test_software/esi_test.py
  lib/Dialect/ESI/runtime/cosim/cosim_dpi_server/Server.cpp
  lib/Dialect/ESI/runtime/cosim/include/cosim/Server.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Manifest.h
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
Labels: ESI, PyCDE

#6485 [Scheduling] Define problem to model operator chaining in cyclic problem.
  docs/Scheduling.md
  include/circt/Dialect/SSP/Utilities.h
  include/circt/Scheduling/Algorithms.h
  include/circt/Scheduling/Problems.h
  lib/Dialect/SSP/Transforms/Print.cpp
  lib/Dialect/SSP/Transforms/Roundtrip.cpp
  lib/Dialect/SSP/Transforms/Schedule.cpp
  lib/Scheduling/Problems.cpp
  lib/Scheduling/SimplexSchedulers.cpp
  test/Scheduling/chaining-cyclic-problem-errors.mlir
  test/Scheduling/chaining-cyclic-problems.mlir
Labels: Scheduling

#6511 [Debug] Add inline scope support to HGLDD emission
  lib/Target/DebugInfo/EmitHGLDD.cpp
  test/Target/DebugInfo/emit-hgldd.mlir
Labels: Debug

#6539 [ESI][Runtime][NFC] Minor refactor and cleanup
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Common.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Design.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Manifest.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Ports.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Types.h
  lib/Dialect/ESI/runtime/cpp/lib/Accelerator.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Design.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Ports.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
Labels: ESI

#6540 [ESI][Runtime] Add design hierarchy printing to esiquery
  integration_test/CMakeLists.txt
  integration_test/Dialect/ESI/runtime/loopback.mlir
  integration_test/lit.cfg.py
  lib/Dialect/ESI/runtime/cpp/tools/esiquery.cpp
Labels: ESI

#6541 [ESI][Runtime] Add type serialization support to Python bindings
  integration_test/Dialect/ESI/runtime/loopback.mlir
  integration_test/Dialect/ESI/runtime/loopback.mlir.py
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/include/esi/Types.h
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/python/esi/accelerator.py
  lib/Dialect/ESI/runtime/python/esi/esiCppAccel.cpp
  lib/Dialect/ESI/runtime/python/esi/esiCppAccel.pyi
  lib/Dialect/ESI/runtime/python/esi/types.py
Labels: ESI

#6542 [PyCDE] Fix ESI integration tests
  frontends/PyCDE/integration_test/esi_ram.py
  frontends/PyCDE/integration_test/esi_test.py
  frontends/PyCDE/integration_test/test_software/esi_ram.py
  frontends/PyCDE/integration_test/test_software/esi_test.py
  frontends/PyCDE/src/system.py
Labels: PyCDE
