Repository llvm/circt, pull requests merged in 2023-06, with the labels that each got.

#5188 [Arc] Pull value definitions into reset/enable `IfOp`s where possible
  lib/Dialect/Arc/Transforms/GroupResetsAndEnables.cpp
  test/Dialect/Arc/group-resets-and-enables.mlir
Labels: Arc

#5306 [Verif] Add assert/assume/cover labels
  include/circt/Dialect/Verif/VerifOps.td
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Conversion/ExportVerilog/LegalizeNames.cpp
  test/Conversion/ExportVerilog/verif.mlir
  test/Dialect/Verif/basic.mlir
Labels: ExportVerilog

#5311 [Reducer] Speed up OperationPruner
  lib/Reduce/GenericReductions.cpp
Labels: Reducer

#5310 [FIRRTL] Add Verif/LTL intrinsics
  include/circt/Conversion/Passes.td
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  include/circt/Dialect/FIRRTL/FIRRTLStatements.td
  include/circt/Dialect/FIRRTL/FIRRTLVisitors.h
  lib/Conversion/FIRRTLToHW/CMakeLists.txt
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Conversion/PassDetail.h
  lib/Dialect/FIRRTL/Transforms/LowerIntrinsics.cpp
  test/Conversion/FIRRTLToHW/intrinsics-errors.mlir
  test/Conversion/FIRRTLToHW/intrinsics.mlir
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
  test/Dialect/FIRRTL/lower-intrinsics.mlir
  test/firtool/verif.fir
Labels: FIRRTL

#5320 [ModuleInliner][BugFix] Correctly update NLA after recursive inline (…
  lib/Dialect/FIRRTL/Transforms/ModuleInliner.cpp
  test/Dialect/FIRRTL/inliner.mlir
Labels: FIRRTL

#5345 [FIRRTL] Add StringConstantOp
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  lib/Dialect/FIRRTL/FIRRTLDialect.cpp
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  test/Dialect/FIRRTL/test.mlir
Labels: FIRRTL

#5349 [Comb][FIRRTL][Seq] Fix fusing locations to append not add as metadata.
  lib/Dialect/Comb/CombFolds.cpp
  lib/Dialect/FIRRTL/Transforms/IMConstProp.cpp
  lib/Dialect/Seq/Transforms/LowerSeqToSV.cpp
  test/Dialect/FIRRTL/imcp-locations.mlir
Labels: FIRRTL, Comb, Seq

#5069 [Arc] Preserve extern modules as internal inputs/outputs
  include/circt/Dialect/Arc/ArcPasses.td
  lib/Dialect/Arc/Transforms/InlineModules.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  lib/Dialect/Arc/Transforms/StripSV.cpp
  test/Dialect/Arc/inline-modules.mlir
  test/Dialect/Arc/lower-state.mlir
  test/Dialect/Arc/strip-sv.mlir
Labels: Arc

#5332 [Pipeline] Refactor pipeline dialect to be block-based
  docs/Dialects/Pipeline/RationalePipeline.md
  include/circt/Dialect/Pipeline/CMakeLists.txt
  include/circt/Dialect/Pipeline/Pipeline.h
  include/circt/Dialect/Pipeline/Pipeline.td
  include/circt/Dialect/Pipeline/PipelineInterfaces.td
  include/circt/Dialect/Pipeline/PipelinePasses.h
  include/circt/Dialect/Pipeline/PipelinePasses.td
  integration_test/Dialect/Pipeline/simple/simple.mlir
  lib/Conversion/PipelineToHW/PipelineToHW.cpp
  lib/Dialect/Pipeline/CMakeLists.txt
  lib/Dialect/Pipeline/PipelineOps.cpp
  lib/Dialect/Pipeline/Transforms/CMakeLists.txt
  lib/Dialect/Pipeline/Transforms/ExplicitRegs.cpp
  lib/Dialect/Pipeline/Transforms/ScheduleLinearPipeline.cpp
  lib/Dialect/Pipeline/Transforms/StageSeparatorToStage.cpp
  test/Conversion/PipelineToHW/test_inline.mlir
  test/Conversion/PipelineToHW/test_outlined.mlir
  test/Dialect/Pipeline/Transforms/explicit-regs.mlir
  test/Dialect/Pipeline/Transforms/schedule-linear-pipeline.mlir
  test/Dialect/Pipeline/Transforms/stagesep-to-stages.mlir
  test/Dialect/Pipeline/errors.mlir
  test/Dialect/Pipeline/round-trip.mlir
Labels: Pipeline

#5361 [FIRRTL] Add property assign op instead of using connect
  include/circt/Dialect/FIRRTL/FIRRTLStatements.td
  include/circt/Dialect/FIRRTL/FIRRTLTypes.h
  include/circt/Dialect/FIRRTL/FIRRTLTypes.td
  test/Dialect/FIRRTL/test.mlir
Labels: FIRRTL

#5362 [FIRParser] Add support for parsing String types
  lib/Dialect/FIRRTL/FIRRTLTypes.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Import/FIRTokenKinds.def
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/parse-errors.fir
Labels: FIRRTL

#5365 [FIRParser] Parse PropAssignOps
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Import/FIRTokenKinds.def
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/parse-errors.fir
Labels: FIRRTL

#5367 [FIRRTL] Explicitly reject rwprobe of types containing const.
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/parse-errors.fir
Labels: FIRRTL

#5369 [FIRRTL][IMDCE] Remove dead operation from live set.
  lib/Dialect/FIRRTL/Transforms/IMDeadCodeElim.cpp
Labels: FIRRTL

#5368 [FIRParser] Parse string constants
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/parse-basic.fir
Labels: FIRRTL

#5373 [FIRRTL][ExpandWhens] Support properties
  include/circt/Dialect/FIRRTL/FIRRTLVisitors.h
  lib/Dialect/FIRRTL/Transforms/ExpandWhens.cpp
  test/Dialect/FIRRTL/expand-whens-errors.mlir
  test/Dialect/FIRRTL/expand-whens.mlir
Labels: FIRRTL

#5375 [FIRRTL] Improve PropAssignOp verifiers
  include/circt/Dialect/FIRRTL/FIRRTLStatements.td
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/errors.mlir
Labels: FIRRTL

#5381 [FIRRTL][InferWidths] Skip over property types
  include/circt/Dialect/FIRRTL/FIRRTLUtils.h
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
  test/Dialect/FIRRTL/infer-widths.mlir
Labels: FIRRTL

#5363 [LowerToHW] Lower clock gate intrinsic to Seq dialect
  include/circt/Dialect/FIRRTL/FIRRTLVisitors.h
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  test/Conversion/FIRRTLToHW/intrinsics.mlir
Labels: FIRRTL

#5376 [FIRRTL][LowerXMR] Resolve through refcast operations.
  lib/Dialect/FIRRTL/Transforms/LowerXMR.cpp
  test/Dialect/FIRRTL/lowerXMR.mlir
Labels: FIRRTL

#5382 [FIRRTL][IMCP] Skip over non-base types
  lib/Dialect/FIRRTL/FIRRTLUtils.cpp
  test/Dialect/FIRRTL/imconstprop.mlir
Labels: FIRRTL

#5392 [FIRRTL][InferWidths] Handle foreign and prop types uniformly
  include/circt/Dialect/FIRRTL/FIRRTLUtils.h
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Labels: FIRRTL

#5383 [FIRRTL][CheckCombLoops] Support property types
  lib/Dialect/FIRRTL/FIRRTLTypes.cpp
  lib/Dialect/FIRRTL/Transforms/CheckCombLoops.cpp
  test/Dialect/FIRRTL/check-comb-cycles.mlir
Labels: FIRRTL

#5384 [FIRRTL] Add BigInt property type
  include/circt/Dialect/FIRRTL/FIRRTLTypes.h
  include/circt/Dialect/FIRRTL/FIRRTLTypes.td
  include/circt/Dialect/FIRRTL/FIRRTLTypesImpl.td
  lib/Dialect/FIRRTL/FIRRTLTypes.cpp
  test/Dialect/FIRRTL/test.mlir
Labels: FIRRTL

#5377 [FIRRTL][LowerTypes] Support RefCast.
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  test/Dialect/FIRRTL/lower-types.mlir
Labels: FIRRTL

#5378 [FIRRTL][InferWidths] Support RefCastOp.
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
  test/Dialect/FIRRTL/infer-widths.mlir
  test/Dialect/FIRRTL/ref.mlir
Labels: FIRRTL, infer width

#5387 [FIRRTL][InferResets] Support RefCastOp.
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  test/Dialect/FIRRTL/infer-resets.mlir
Labels: FIRRTL

#5380 [FIRRTL] Add v2.4.0 Radix-specified Integer Literals
  lib/Dialect/FIRRTL/Import/FIRLexer.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Import/FIRTokenKinds.def
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/parse-errors.fir
Labels: FIRRTL

#5388 [FIRRTL] Support const "source" in forces, insert refcast as needed.
  include/circt/Dialect/FIRRTL/FIRRTLStatements.td
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/parse-errors.fir
Labels: FIRRTL

#5389 [FIRRTL][FIRParser] Support define of non-identical refs via ref.cast.
  lib/Dialect/FIRRTL/FIRRTLUtils.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/parse-errors.fir
Labels: FIRRTL

#5364 [Seq] Add clock gate conversion to extern module
  include/circt/Dialect/Seq/SeqPasses.h
  include/circt/Dialect/Seq/SeqPasses.td
  include/circt/Firtool/Firtool.h
  lib/Dialect/Seq/Transforms/CMakeLists.txt
  lib/Dialect/Seq/Transforms/ExternalizeClockGate.cpp
  lib/Firtool/Firtool.cpp
  test/Dialect/Seq/externalize-clock-gate.mlir
  test/firtool/clock-gate.fir
Labels: Seq

#5397 [FIRRTL] Add BigIntConstantOp
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/test.mlir
Labels: FIRRTL

#5434 [Python] Fix import path
  lib/Bindings/Python/dialects/om.py
Labels: Python

#5435 [PyCDE] Fix parameterized extern mods
  docs/PyCDE/basics.md
  frontends/PyCDE/src/module.py
  frontends/PyCDE/test/test_polynomial.py
Labels: PyCDE

#5433 [Comb] Lower comb pass boilerplate
  include/circt/Dialect/Comb/CMakeLists.txt
  include/circt/Dialect/Comb/CombPasses.h
  include/circt/Dialect/Comb/Passes.td
  include/circt/InitAllPasses.h
  lib/Dialect/Comb/CMakeLists.txt
  lib/Dialect/Comb/Transforms/CMakeLists.txt
  lib/Dialect/Comb/Transforms/LowerComb.cpp
  lib/Dialect/Comb/Transforms/PassDetails.h
  tools/circt-opt/CMakeLists.txt
Labels: Comb

#5405 [LowerComb] Truth table to mux tree lowering
  lib/Dialect/Comb/Transforms/LowerComb.cpp
  test/Dialect/Comb/lower-comb.mlir
Labels: Comb

#5439 [FIRRTL] Support EnumTypes in error messages
  lib/Dialect/FIRRTL/FIRRTLUtils.cpp
  test/Dialect/FIRRTL/infer-widths-errors.mlir
Labels: FIRRTL

#5370 [FIRRTL][InferResets] Fix reset inference through const cast.
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  test/Dialect/FIRRTL/infer-resets.mlir
Labels: FIRRTL

#5450 [HW] Add struct_create(struct_explode) folder
  lib/Dialect/HW/HWOps.cpp
  test/Dialect/HW/canonicalization.mlir
Labels: HW

#4671 [FIRRTL] Options for using both @info and .fir, attach .fir as notes.
  include/circt/Dialect/FIRRTL/FIRParser.h
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/firtool/locators-diagnostics.fir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#5455 [Pipeline] add 'go' signal to pipeline
  include/circt/Conversion/Passes.td
  include/circt/Dialect/Pipeline/Pipeline.td
  include/circt/Dialect/Pipeline/PipelineInterfaces.td
  integration_test/Dialect/Pipeline/simple/simple.mlir
  integration_test/Dialect/Pipeline/simple/simple.py
  lib/Conversion/PipelineToHW/PipelineToHW.cpp
  lib/Dialect/Pipeline/PipelineOps.cpp
  lib/Dialect/Pipeline/Transforms/ExplicitRegs.cpp
  lib/Dialect/Pipeline/Transforms/ScheduleLinearPipeline.cpp
  test/Conversion/PipelineToHW/test_ce.mlir
  test/Conversion/PipelineToHW/test_inline.mlir
  test/Conversion/PipelineToHW/test_outlined.mlir
  test/Dialect/Pipeline/Transforms/explicit-regs.mlir
  test/Dialect/Pipeline/Transforms/schedule-linear-pipeline.mlir
  test/Dialect/Pipeline/errors.mlir
  test/Dialect/Pipeline/round-trip.mlir
Labels: Pipeline

#5024 [Seq] Lower FirMemOp to HWModuleGeneratedOp
  include/circt/Dialect/Seq/SeqPasses.h
  include/circt/Dialect/Seq/SeqPasses.td
  lib/Dialect/Seq/Transforms/CMakeLists.txt
  lib/Dialect/Seq/Transforms/LowerFirMem.cpp
  lib/Dialect/Seq/Transforms/LowerSeqHLMem.cpp
  lib/Dialect/Seq/Transforms/LowerSeqToSV.cpp
  lib/Dialect/Seq/Transforms/PassDetails.h
  lib/Firtool/Firtool.cpp
  test/Dialect/Seq/lower-firmem.mlir
Labels: FIRRTL, Seq

#5480 [FIRRTL][IMDCE] Remove some cached state
  lib/Dialect/FIRRTL/Transforms/IMDeadCodeElim.cpp
Labels: FIRRTL

#5510 [LowerFIRRTLToHW] Create less wires with instance ports
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw-module.mlir
Labels: FIRRTL

#5512 [FIRRTL][IMDCE] Add test for dead output ports, NFC
  test/Dialect/FIRRTL/imdce.mlir
Labels: FIRRTL

#5513 [LowerFIRRTLToHW] Use backedges over temporary wires, NFC
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
Labels: FIRRTL

#5456 [FIRRTL] Add FIRRTLTypeSwitch
  include/circt/Dialect/FIRRTL/FIRRTLTypes.h
Labels: FIRRTL

#5354 [Calyx] Add Static Groups and Control
  include/circt/Dialect/Calyx/CalyxControl.td
  include/circt/Dialect/Calyx/CalyxInterfaces.td
  include/circt/Dialect/Calyx/CalyxOps.h
  include/circt/Dialect/Calyx/CalyxStructure.td
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Dialect/Calyx/canonicalization.mlir
  test/Dialect/Calyx/emit-static.mlir
  test/Dialect/Calyx/errors.mlir
  test/Dialect/Calyx/round-trip.mlir
Labels: enhancement, Calyx

#5516 [PyCDE] Upgrade FSMs to new module style
  frontends/PyCDE/src/common.py
  frontends/PyCDE/src/fsm.py
  frontends/PyCDE/src/module.py
  frontends/PyCDE/test/test_fsm.py
  frontends/PyCDE/test/test_fsm_errors.py
  lib/Bindings/Python/dialects/_fsm_ops_ext.py
Labels: PyCDE
