Repository llvm/circt, pull requests merged in 2023-10, with the labels that each got.

#6121 [FIRRTL] Input probe support.
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/ProbeDCE.cpp
  lib/Firtool/Firtool.cpp
  test/Dialect/FIRRTL/input-probe-n-turn.mlir
  test/Dialect/FIRRTL/input-probe-u-turn-dedup.mlir
  test/Dialect/FIRRTL/parse-errors.fir
  test/Dialect/FIRRTL/probe-dce-errors.mlir
  test/Dialect/FIRRTL/probe-dce.mlir
  test/firtool/spec/refs/endpoints.fir
  test/firtool/spec/refs/in_ref_context.fir
  test/firtool/spec/refs/invalid_in.fir
  test/firtool/spec/refs/unused_in.fir
  test/firtool/spec/refs/uturn.fir
Labels: FIRRTL

#6171 [ExportVerilog] Bound type size considered for decl alignment
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  test/Conversion/ExportVerilog/hw-dialect.mlir
  test/Conversion/ExportVerilog/pretty.mlir
Labels: ExportVerilog

#6216 [ESI] Lower bundles to channels
  include/circt/Dialect/ESI/ESIChannels.td
  include/circt/Dialect/ESI/ESIPasses.h
  include/circt/Dialect/ESI/ESIPasses.td
  include/circt/Dialect/ESI/ESITypes.h
  lib/Dialect/ESI/CMakeLists.txt
  lib/Dialect/ESI/ESIFolds.cpp
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/Passes/ESILowerBundles.cpp
  lib/Dialect/ESI/Passes/ESILowerToHW.cpp
  test/Dialect/ESI/bundles.mlir
Labels: ESI

#6212 [FIRRTL][ExpandWhens] Support flow checking for local and remote objects
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  include/circt/Dialect/FIRRTL/FIRRTLTypes.h
  include/circt/Dialect/FIRRTL/FIRRTLTypesImpl.td
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/FIRRTLTypes.cpp
  lib/Dialect/FIRRTL/FIRRTLUtils.cpp
  lib/Dialect/FIRRTL/Transforms/ExpandWhens.cpp
  lib/Firtool/Firtool.cpp
  test/Dialect/FIRRTL/errors.mlir
  test/Dialect/FIRRTL/expand-whens-errors.mlir
  test/Dialect/FIRRTL/expand-whens.mlir
Labels: FIRRTL

#6241 [Ibis] Added missing ibistool to integration test
  integration_test/lit.cfg.py
Labels: Ibis

#6248 [ESI][Python] Expose BundleType to Python
  include/circt-c/Dialect/ESI.h
  integration_test/Bindings/Python/dialects/esi.py
  lib/Bindings/Python/ESIModule.cpp
  lib/Bindings/Python/dialects/esi.py
  lib/CAPI/Dialect/ESI.cpp
Labels: ESI, Python

#6247 [Arc] Lower models into eval functions
  include/circt/Dialect/Arc/ArcPasses.td
  lib/Conversion/ArcToLLVM/LowerArcToLLVM.cpp
  lib/Dialect/Arc/Transforms/LegalizeStateUpdate.cpp
  lib/Dialect/Arc/Transforms/LowerClocksToFuncs.cpp
  test/Dialect/Arc/lower-clocks-to-funcs.mlir
  test/arcilator/arcilator.mlir
  tools/arcilator/arcilator-header-cpp.py
Labels: Arc

#6252 [PyCDE] Fixing tests
  frontends/PyCDE/src/signals.py
  frontends/PyCDE/src/system.py
  frontends/PyCDE/src/testing.py
  frontends/PyCDE/test/test_behavioral.py
  frontends/PyCDE/test/test_cocotb_testbench.py
  frontends/PyCDE/test/test_constructs.py
  frontends/PyCDE/test/test_esi.py
  frontends/PyCDE/test/test_fsm.py
  frontends/PyCDE/test/test_hwarith.py
  frontends/PyCDE/test/test_muxing.py
  frontends/PyCDE/test/test_ndarray.py
  frontends/PyCDE/test/test_polynomial.py
  frontends/PyCDE/test/test_pycde_types.py
  frontends/PyCDE/test/test_pycde_values.py
  frontends/PyCDE/test/test_slicing.py
  frontends/PyCDE/test/test_syntactic_sugar.py
  frontends/PyCDE/test/test_verilog_readablility.py
Labels: PyCDE

#6250 [OM] Add more path types
  include/circt/Dialect/OM/OMTypes.td
Labels: OM

#6260 [SV] Mark sv.xmr.ref op as pure
  include/circt/Dialect/SV/SVInOutOps.td
  test/Conversion/ExportVerilog/prepare-for-emission.mlir
Labels: Verilog/SystemVerilog

#6253 [OM] Overhaul of path operations
  include/circt/Dialect/OM/OMAttributes.h
  include/circt/Dialect/OM/OMAttributes.td
  include/circt/Dialect/OM/OMOps.h
  include/circt/Dialect/OM/OMOps.td
  include/circt/Dialect/OM/OMUtils.h
  integration_test/Bindings/Python/dialects/om.py
  lib/Bindings/Python/OMModule.cpp
  lib/Bindings/Python/dialects/om.py
  lib/CAPI/Dialect/OM.cpp
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  lib/Dialect/OM/CMakeLists.txt
  lib/Dialect/OM/Evaluator/Evaluator.cpp
  lib/Dialect/OM/OMAttributes.cpp
  lib/Dialect/OM/OMOps.cpp
  lib/Dialect/OM/OMUtils.cpp
  lib/Dialect/OM/Transforms/FreezePaths.cpp
  test/Dialect/FIRRTL/lower-classes.mlir
  test/Dialect/OM/errors.mlir
  test/Dialect/OM/freeze-paths-errors.mlir
  test/Dialect/OM/freeze-paths.mlir
  test/Dialect/OM/round-trip.mlir
Labels: OM

#6285 Add emission for calyx std_signext
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Conversion/CalyxToHW/primitives.mlir
  test/Conversion/SCFToCalyx/convert_simple.mlir
  test/Dialect/Calyx/export-errors.mlir
Labels: Calyx

#6288 [PyCDE] Support ESI bundles
  frontends/PyCDE/src/common.py
  frontends/PyCDE/src/signals.py
  frontends/PyCDE/src/system.py
  frontends/PyCDE/src/types.py
  frontends/PyCDE/test/test_esi.py
  frontends/PyCDE/test/test_esi_errors.py
  lib/Bindings/Python/support.py
Labels: ESI, PyCDE

#6290 [ESI] Start of system manifest: types
  include/circt/Dialect/ESI/ESIPasses.h
  include/circt/Dialect/ESI/ESIPasses.td
  lib/Dialect/ESI/CMakeLists.txt
  lib/Dialect/ESI/Passes/ESIBuildManifest.cpp
  test/Dialect/ESI/manifest.mlir
Labels: ESI

#6299 [Debug] Include Verilog instance names in HGLDD output
  lib/Target/DebugInfo/EmitHGLDD.cpp
  test/Target/DebugInfo/emit-hgldd.mlir
Labels: Debug

#6300 [ESI] Rip out C++ API generator for cosim
  include/circt/Dialect/ESI/ESIPasses.td
  integration_test/Dialect/ESI/cosim/loopback-cpp/CMakeLists.txt
  integration_test/Dialect/ESI/cosim/loopback-cpp/loopback.cpp
  integration_test/Dialect/ESI/cosim/loopback-cpp/loopback.mlir
  lib/Dialect/ESI/CMakeLists.txt
  lib/Dialect/ESI/Passes/CPPAPI/CPPAPI.cpp
  lib/Dialect/ESI/Passes/CPPAPI/CPPAPI.h
  lib/Dialect/ESI/Passes/CPPAPI/ESIAddCPPAPI.cpp
  lib/Dialect/ESI/Passes/CPPAPI/ESIEmitCPPAPI.cpp
  test/Dialect/ESI/cpp_cosim.mlir
Labels: ESI

#6312 [ESI][NFC] Misc improvements for bundle ops
  include/circt/Dialect/ESI/ESIChannels.td
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/Passes/ESILowerBundles.cpp
Labels: ESI

#6302 [ESI] Move services over to bundles
  include/circt/Dialect/ESI/ESIChannels.td
  include/circt/Dialect/ESI/ESIInterfaces.td
  include/circt/Dialect/ESI/ESIOps.h
  include/circt/Dialect/ESI/ESIServices.td
  include/circt/Dialect/ESI/ESIStdServices.td
  integration_test/Bindings/Python/dialects/esi.py
  integration_test/Dialect/ESI/cosim/loopback.mlir
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/ESIServices.cpp
  lib/Dialect/ESI/ESIStdServices.cpp
  lib/Dialect/ESI/ESITypes.cpp
  lib/Dialect/Handshake/Transforms/LowerExtmemToHW.cpp
  test/Dialect/ESI/errors.mlir
  test/Dialect/ESI/services.mlir
  test/Dialect/Handshake/lower-extmem-esi.mlir
Labels: ESI

#6308 [Debug] Add debug dialect
  docs/Dialects/Debug.md
  include/circt/Dialect/CMakeLists.txt
  include/circt/Dialect/Debug/CMakeLists.txt
  include/circt/Dialect/Debug/Debug.td
  include/circt/Dialect/Debug/DebugDialect.h
  include/circt/Dialect/Debug/DebugDialect.td
  include/circt/Dialect/Debug/DebugOps.h
  include/circt/Dialect/Debug/DebugOps.td
  include/circt/Dialect/Debug/DebugTypes.h
  include/circt/Dialect/Debug/DebugTypes.td
  include/circt/InitAllDialects.h
  lib/Dialect/CMakeLists.txt
  lib/Dialect/Debug/CMakeLists.txt
  lib/Dialect/Debug/DebugDialect.cpp
  lib/Dialect/Debug/DebugOps.cpp
  lib/Dialect/Debug/DebugTypes.cpp
  test/Dialect/Debug/basic.mlir
  tools/circt-opt/CMakeLists.txt
Labels: Debug

#6320 [OM] Add evaluator support for paths
  include/circt-c/Dialect/OM.h
  include/circt/Dialect/OM/Evaluator/Evaluator.h
  integration_test/Bindings/Python/dialects/om.py
  lib/Bindings/Python/OMModule.cpp
  lib/Bindings/Python/dialects/om.py
  lib/CAPI/Dialect/OM.cpp
  lib/Dialect/OM/Evaluator/Evaluator.cpp
Labels: OM

#6323 [ESI] Fix operation deletion in services connecting
  lib/Dialect/ESI/ESIServices.cpp
Labels: ESI

#6310 [Debug] Honor dbg dialect ops in DebugInfo analysis
  lib/Analysis/CMakeLists.txt
  lib/Analysis/DebugInfo.cpp
  lib/Target/DebugInfo/CMakeLists.txt
  lib/Target/DebugInfo/TranslateRegistration.cpp
  test/Analysis/debug-info.mlir
  test/Target/DebugInfo/emit-hgldd.mlir
Labels: Debug

#6328 [ESI] Service requests now track AppIDs rather than instance hierarchy
  include/circt-c/Dialect/ESI.h
  include/circt/Dialect/ESI/ESIAppID.td
  include/circt/Dialect/ESI/ESIOps.h
  include/circt/Dialect/ESI/ESIServices.td
  integration_test/Bindings/Python/dialects/esi.py
  lib/Bindings/Python/ESIModule.cpp
  lib/CAPI/Dialect/ESI.cpp
  lib/Dialect/ESI/ESIServices.cpp
  lib/Dialect/Handshake/Transforms/LowerExtmemToHW.cpp
  test/Dialect/ESI/errors.mlir
  test/Dialect/ESI/services.mlir
  test/Dialect/Handshake/lower-extmem-esi.mlir
Labels: ESI

#6309 [FIRRTL] Add debug info materialization pass
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/MaterializeDebugInfo.cpp
  lib/Dialect/FIRRTL/Transforms/PassDetails.h
  test/Dialect/FIRRTL/materialize-debug-info.mlir
  tools/firtool/firtool.cpp
Labels: Debug

#6332 [firtool] Move -g option into firtool library
  include/circt/Firtool/Firtool.h
  lib/Firtool/Firtool.cpp
  tools/firtool/firtool.cpp
Labels: FIRRTL

#6331 [ESI][Services] Leave breadcrumbs while connecting services
  include/circt/Dialect/ESI/ESI.td
  include/circt/Dialect/ESI/ESIAppID.td
  include/circt/Dialect/ESI/ESIManifest.td
  include/circt/Dialect/ESI/ESIServices.td
  integration_test/Bindings/Python/dialects/esi.py
  lib/Dialect/ESI/ESIServices.cpp
  test/Dialect/ESI/errors.mlir
  test/Dialect/ESI/services.mlir
Labels: ESI

#6337 [ESI] Add `HasAppID` op interface
  include/circt/Dialect/ESI/AppID.h
  include/circt/Dialect/ESI/ESIInterfaces.td
  include/circt/Dialect/ESI/ESIManifest.td
  include/circt/Dialect/ESI/ESIServices.td
  lib/Dialect/ESI/AppID.cpp
Labels: ESI

#6338 [ESI] Build AppID hierarchy for building manifest
  include/circt/Dialect/ESI/AppID.h
  include/circt/Dialect/ESI/ESIInterfaces.td
  include/circt/Dialect/ESI/ESIManifest.td
  include/circt/Dialect/ESI/ESIPasses.h
  include/circt/Dialect/ESI/ESIPasses.td
  include/circt/Dialect/ESI/ESIServices.td
  lib/Dialect/ESI/AppID.cpp
  lib/Dialect/ESI/CMakeLists.txt
  lib/Dialect/ESI/ESIAttributes.cpp
  lib/Dialect/ESI/ESIServices.cpp
  lib/Dialect/ESI/Passes/ESIAppIDHier.cpp
  lib/Dialect/ESI/Passes/ESIBuildManifest.cpp
  test/Dialect/ESI/manifest.mlir
  test/Dialect/ESI/services.mlir
Labels: ESI

#6345 [ESI] Add AppID design hierarchy manifest data to the manifest
  include/circt/Dialect/ESI/ESIInterfaces.td
  include/circt/Dialect/ESI/ESIManifest.td
  include/circt/Dialect/ESI/ESIPasses.td
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/Passes/ESIBuildManifest.cpp
  test/Dialect/ESI/manifest.mlir
Labels: ESI

#6335 [Debug] Add debug-only value/op analysis
  include/circt/Analysis/DebugAnalysis.h
  lib/Analysis/CMakeLists.txt
  lib/Analysis/DebugAnalysis.cpp
  lib/Analysis/TestPasses.cpp
  lib/Target/DebugInfo/CMakeLists.txt
  lib/Target/DebugInfo/TranslateRegistration.cpp
  test/Analysis/debug-analysis.mlir
Labels: Debug

#6346 [ESI] Include designer-specified and service info in manifest
  include/circt/Dialect/ESI/ESIManifest.td
  include/circt/Dialect/ESI/ESIOps.h
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/Passes/ESIBuildManifest.cpp
  test/Dialect/ESI/manifest.mlir
Labels: ESI

#6349 [ESI] Rip out Cap'nProto schema generation
  CMakeLists.txt
  include/circt-c/Dialect/ESI.h
  include/circt/Dialect/ESI/APIUtilities.h
  include/circt/Dialect/ESI/ESIChannels.td
  include/circt/Dialect/ESI/ESIDialect.h
  include/circt/Dialect/ESI/ESIPasses.h
  include/circt/Dialect/ESI/ESIPasses.td
  include/circt/Dialect/ESI/cosim/CMakeLists.txt
  include/circt/Dialect/ESI/cosim/CosimSchema.h.in
  include/circt/InitAllTranslations.h
  integration_test/Dialect/ESI/cosim/basic.mlir
  integration_test/Dialect/ESI/cosim/basic.py
  lib/CAPI/Dialect/ESI.cpp
  lib/Dialect/ESI/APIUtilities.cpp
  lib/Dialect/ESI/CMakeLists.txt
  lib/Dialect/ESI/ESITranslations.cpp
  lib/Dialect/ESI/Passes/ESIEmitCollateral.cpp
  lib/Dialect/ESI/Passes/ESILowerToHW.cpp
  lib/Dialect/ESI/capnp/ESICapnp.h
  lib/Dialect/ESI/capnp/Schema.cpp
  test/Dialect/ESI/cosim.mlir
  test/Dialect/ESI/cosim_structs.mlir
Labels: ESI

#6353 [CAPI][MSFT]: Remove include of C++ header in C-API
  include/circt-c/Dialect/MSFT.h
  lib/Bindings/Python/MSFTModule.cpp
Labels: msft

#6356 [ESI] Not every build has zlib
  test/Dialect/ESI/manifest.mlir
  test/lit.cfg.py
  test/lit.site.cfg.py.in
Labels: ESI

#6355 [Ibis] Mark all not-illegal ops as legal
  lib/Dialect/Ibis/Transforms/IbisContainersToHW.cpp
  test/Dialect/Ibis/Transforms/containers_to_hw.mlir
Labels: Ibis

#6357 [ESI][Cosim] DPI support for manifests
  integration_test/Dialect/ESI/cosim/cosim_only.sv
  integration_test/Dialect/ESI/cosim/cosim_only.sv.py
  lib/Dialect/ESI/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim/CosimDpi.capnp
  lib/Dialect/ESI/runtime/cosim/Cosim_DpiPkg.sv
  lib/Dialect/ESI/runtime/cosim/Cosim_Manifest.sv
  lib/Dialect/ESI/runtime/cosim/cosim_dpi_server/DpiEntryPoints.cpp
  lib/Dialect/ESI/runtime/cosim/cosim_dpi_server/Server.cpp
  lib/Dialect/ESI/runtime/cosim/include/cosim/Server.h
  lib/Dialect/ESI/runtime/cosim/include/cosim/dpi.h
  tools/esi/esi-cosim-runner.py.in
Labels: ESI

#6358 [ESI] Compressed manifest lowering for cosim
  include/circt/Dialect/ESI/ESIPasses.h
  include/circt/Dialect/ESI/ESIPasses.td
  lib/Dialect/ESI/Passes/ESIBuildManifest.cpp
  lib/Dialect/ESI/Passes/ESILowerToHW.cpp
  test/Dialect/ESI/manifest.mlir
Labels: ESI
