Repository llvm/circt, pull requests merged in 2023-04, with the labels that each got.

#4665 [FIRRTL] Add a convention attribute to modules
  docs/Dialects/FIRRTL/FIRRTLAnnotations.md
  include/circt/Dialect/FIRRTL/AnnotationDetails.h
  include/circt/Dialect/FIRRTL/FIRParser.h
  include/circt/Dialect/FIRRTL/FIRRTLEnums.td
  include/circt/Dialect/FIRRTL/FIRRTLOpInterfaces.td
  include/circt/Dialect/FIRRTL/FIRRTLStructure.td
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Conversion/HandshakeToFIRRTL/HandshakeToFIRRTL.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Transforms/ExtractInstances.cpp
  lib/Dialect/FIRRTL/Transforms/InjectDUTHierarchy.cpp
  lib/Dialect/FIRRTL/Transforms/LowerAnnotations.cpp
  lib/Dialect/FIRRTL/Transforms/LowerMemory.cpp
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  test/Dialect/FIRRTL/annotations.mlir
  test/Dialect/FIRRTL/errors.mlir
  test/Dialect/FIRRTL/lower-types-aggregate.mlir
  test/firtool/convention.fir
  tools/circt-reduce/Reduction.cpp
  tools/firtool/firtool.cpp
  tools/hlstool/hlstool.cpp
Labels: FIRRTL

#4918 [Scheduling][ModuloSimplexScheduler] Improve `lastOp` validation.
  include/circt/Scheduling/Algorithms.h
  lib/Scheduling/SimplexSchedulers.cpp
  test/Scheduling/modulo-simplex-errors.mlir
Labels: Scheduling

#4938 [HW] Update getters in HWOpInterfaces to prefixed style
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  include/circt/Dialect/FSM/FSMOps.td
  include/circt/Dialect/HW/HWOpInterfaces.td
  include/circt/Dialect/HW/HWStructure.td
  include/circt/Dialect/HW/InstanceGraphBase.h
  include/circt/Dialect/MSFT/MSFTOps.td
  include/circt/Dialect/SystemC/SystemCStatements.td
  lib/Analysis/TestPasses.cpp
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  lib/Conversion/ExportVerilog/PrepareForEmission.cpp
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Conversion/HWToLLHD/HWToLLHD.cpp
  lib/Conversion/HandshakeToHW/HandshakeToHW.cpp
  lib/Dialect/Arc/Transforms/InferMemories.cpp
  lib/Dialect/Arc/Transforms/InlineModules.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  lib/Dialect/Arc/Transforms/StripSV.cpp
  lib/Dialect/ESI/ESIPasses.cpp
  lib/Dialect/ESI/ESIServices.cpp
  lib/Dialect/FIRRTL/FIRRTLAnnotations.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Transforms/AddSeqMemPorts.cpp
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
  lib/Dialect/FIRRTL/Transforms/EmitOMIR.cpp
  lib/Dialect/FIRRTL/Transforms/ExtractInstances.cpp
  lib/Dialect/FIRRTL/Transforms/GrandCentral.cpp
  lib/Dialect/FIRRTL/Transforms/IMDeadCodeElim.cpp
  lib/Dialect/FIRRTL/Transforms/InjectDUTHierarchy.cpp
  lib/Dialect/FIRRTL/Transforms/LowerAnnotations.cpp
  lib/Dialect/FIRRTL/Transforms/LowerMemory.cpp
  lib/Dialect/FIRRTL/Transforms/LowerXMR.cpp
  lib/Dialect/FIRRTL/Transforms/WireDFT.cpp
  lib/Dialect/FSM/FSMOps.cpp
  lib/Dialect/HW/HWOps.cpp
  lib/Dialect/HW/InstanceGraphBase.cpp
  lib/Dialect/MSFT/MSFTOps.cpp
  lib/Dialect/MSFT/Transforms/MSFTToHW.cpp
  lib/Dialect/MSFT/Transforms/PassCommon.cpp
  lib/Dialect/SV/Transforms/HWExportModuleHierarchy.cpp
  lib/Dialect/SV/Transforms/HWMemSimImpl.cpp
  lib/Dialect/SV/Transforms/SVExtractTestCode.cpp
  lib/Dialect/SystemC/SystemCOps.cpp
  unittests/Dialect/HW/InstanceGraphTest.cpp
Labels: HW

#4946 [FIRRTL][Dedup] Change port renaming strategy
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  test/Dialect/FIRRTL/dedup.mlir
Labels: FIRRTL

#4895 [Arc] Add simple runtime helpers
  tools/arcilator/CMakeLists.txt
  tools/arcilator/arcilator-header-cpp.py
  tools/arcilator/arcilator-runtime.h
Labels: Arc

#4917 [Arc] Add clock_domain operation
  include/circt/Dialect/Arc/Ops.td
  lib/Dialect/Arc/Ops.cpp
  test/Dialect/Arc/basic-errors.mlir
  test/Dialect/Arc/basic.mlir
  test/Dialect/Arc/canonicalizers.mlir
Labels: Arc

#4919 [Arc] RemoveUnusedArcArguments pass improvements
  include/circt/Dialect/Arc/ArcInterfaces.td
  include/circt/Dialect/Arc/CMakeLists.txt
  include/circt/Dialect/Arc/Ops.h
  include/circt/Dialect/Arc/Ops.td
  include/circt/Dialect/Arc/Passes.td
  lib/Dialect/Arc/CMakeLists.txt
  lib/Dialect/Arc/Ops.cpp
  lib/Dialect/Arc/Transforms/RemoveUnusedArcArguments.cpp
  test/Dialect/Arc/remove-unused-arc-arguments.mlir
Labels: Arc

#4830 [ESI] List type
  include/circt/Dialect/ESI/ESITypes.td
  test/Dialect/ESI/list.mlir
Labels: ESI

#4951 [FIRRTL] Replace BoolAttr with bool in MemoryInitAttr; NFC
  include/circt/Dialect/FIRRTL/FIRRTLAttributes.td
  include/circt/Dialect/FIRRTL/FIRRTLOps.h
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Transforms/LowerAnnotations.cpp
Labels: FIRRTL

#4960 [FIRRTL][InferWidths] Infer to ref results too.
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
  test/Dialect/FIRRTL/infer-widths.mlir
  test/Dialect/FIRRTL/ref.mlir
Labels: FIRRTL

#4964 [LowerToHW] Add symbol if forceable.
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
Labels: FIRRTL

#4962 [FIRRTL][IMCP] Mark forceable decls overdefined.
  lib/Dialect/FIRRTL/Transforms/IMConstProp.cpp
  test/Dialect/FIRRTL/imconstprop.mlir
Labels: FIRRTL

#4945 [HW][Union type] Add per-field offset
  include/circt/Dialect/HW/HWTypes.h
  include/circt/Dialect/HW/HWTypesImpl.td
  lib/Dialect/HW/HWTypes.cpp
  test/Dialect/HW/types.mlir
Labels: HW

#4963 [FIRRTL][FIRRTLFolds] Drop forceable if unused.
  include/circt/Dialect/FIRRTL/FIRRTLOpInterfaces.h
  include/circt/Dialect/FIRRTL/FIRRTLOpInterfaces.td
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  lib/Dialect/FIRRTL/FIRRTLOpInterfaces.cpp
  test/Dialect/FIRRTL/canonicalization.mlir
Labels: FIRRTL

#4966 [HW][FIRRTL] Let ops specify inner symbol behavior.
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  include/circt/Dialect/HW/HWOpInterfaces.td
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/HW/HWOpInterfaces.cpp
  test/Dialect/FIRRTL/errors.mlir
  test/Dialect/FIRRTL/test.mlir
Labels: FIRRTL, HW

#4973 [FIRRTL] include bundle field's flip when hashing
  include/circt/Dialect/FIRRTL/FIRRTLTypesImpl.td
Labels: FIRRTL

#4961 [FIRRTL][LowerTypes] Support Forceable decls w/refs.
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  test/Dialect/FIRRTL/lower-types.mlir
Labels: FIRRTL

#4993 [FIRRTL][ExpandWhens] And in conditions to force*/release* ops.
  lib/Dialect/FIRRTL/Transforms/ExpandWhens.cpp
  test/Dialect/FIRRTL/expand-whens.mlir
Labels: FIRRTL

#4969 [FIRRTL] Query for target result instead of rejecting with multiple results.
  lib/Dialect/FIRRTL/FIRRTLAnnotations.cpp
  lib/Dialect/FIRRTL/Transforms/GrandCentral.cpp
  lib/Dialect/FIRRTL/Transforms/ResolveTraces.cpp
  test/Dialect/FIRRTL/annotations.mlir
  test/Dialect/FIRRTL/resolve-traces.mlir
Labels: FIRRTL

#4985 [FIRRTL] Allow ref.sub of rwprobe while allowing LowerTypes of forceables.
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  test/Dialect/FIRRTL/lower-types.mlir
Labels: FIRRTL

#4987 [FIRRTL] Lower complex enum to hw
  lib/Dialect/FIRRTL/FIRRTLUtils.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
Labels: FIRRTL

#4991 [FIRRTL][LowerXMR] force/release handling.
  lib/Dialect/FIRRTL/Transforms/LowerXMR.cpp
  test/Dialect/FIRRTL/lowerXMR.mlir
Labels: FIRRTL

#4992 [FIRRTL][LowerToHW] Support force + friends.
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
Labels: FIRRTL

#4994 [FIRRTL][LowerTypes] Support expanding force/release .
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  test/Dialect/FIRRTL/lower-types.mlir
Labels: FIRRTL

#4996 [FIRRTL][IMDCE] Remove dead Invalid Value op
  lib/Dialect/FIRRTL/Transforms/IMDeadCodeElim.cpp
  test/Dialect/FIRRTL/imdce.mlir
Labels: FIRRTL

#4953 [ESI][Data windows] Introduce wrap/unwrap
  include/circt/Dialect/ESI/ESITypes.td
  lib/Dialect/ESI/ESIFolds.cpp
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/ESITypes.cpp
  test/Dialect/ESI/errors.mlir
  test/Dialect/ESI/windows.mlir
Labels: ESI

#4988 [HW] Size enums to the number of tags
  docs/Dialects/HW/RationaleHW.md
  include/circt/Dialect/HW/HWTypesImpl.td
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Conversion/FSMToSV/FSMToSV.cpp
  lib/Dialect/HW/HWTypes.cpp
  test/Conversion/ExportVerilog/hw-typedecls.mlir
  test/Conversion/ExportVerilog/sv-dialect.mlir
  test/Conversion/FSMToSV/test_basic.mlir
Labels: HW

#4952 [FIRRTL] Add MemOp prefix attr, remove groupID attr
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  include/circt/Dialect/FIRRTL/FIRRTLOps.h
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Transforms/FlattenMemory.cpp
  lib/Dialect/FIRRTL/Transforms/InferReadWrite.cpp
  lib/Dialect/FIRRTL/Transforms/LowerCHIRRTL.cpp
  lib/Dialect/FIRRTL/Transforms/LowerMemory.cpp
  lib/Dialect/FIRRTL/Transforms/LowerXMR.cpp
  lib/Dialect/FIRRTL/Transforms/PrefixModules.cpp
  test/Dialect/FIRRTL/flatten-memory.mlir
  test/Dialect/FIRRTL/inferRW.mlir
  test/Dialect/FIRRTL/lowerXMR.mlir
  test/Dialect/FIRRTL/prefix-modules.mlir
  test/firtool/prefixMemory.fir
Labels: FIRRTL

#4976 [Arc] Memory ops: optional enables and folders
  include/circt/Dialect/Arc/ArcDialect.td
  include/circt/Dialect/Arc/ArcOps.td
  lib/Conversion/ArcToLLVM/LowerArcToLLVM.cpp
  lib/Dialect/Arc/ArcDialect.cpp
  lib/Dialect/Arc/ArcFolds.cpp
  lib/Dialect/Arc/CMakeLists.txt
  lib/Dialect/Arc/Transforms/LowerState.cpp
  test/Conversion/ArcToLLVM/lower-arc-to-llvm.mlir
  test/Dialect/Arc/basic-errors.mlir
  test/Dialect/Arc/basic.mlir
  test/Dialect/Arc/canonicalizers.mlir
  test/Dialect/Arc/infer-memories.mlir
  test/Dialect/Arc/lower-state.mlir
Labels: Arc

#4990 [FIRRTL] Parse {force,release}{,_initial}.
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Import/FIRTokenKinds.def
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/parse-errors.fir
Labels: FIRRTL

#5007 [Seq] Add enums for RUW/WUW behavior of memories
  include/circt/Dialect/FIRRTL/FIRRTLOps.h
  include/circt/Dialect/HW/HWAttributes.td
  include/circt/Dialect/Seq/CMakeLists.txt
  include/circt/Dialect/Seq/Seq.td
  include/circt/Dialect/Seq/SeqAttributes.h
  include/circt/Dialect/Seq/SeqAttributes.td
  include/circt/Dialect/Seq/SeqOps.h
  include/circt/Dialect/Seq/SeqOps.td
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/FIRRTL/CMakeLists.txt
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Transforms/LowerMemory.cpp
  lib/Dialect/SV/Transforms/CMakeLists.txt
  lib/Dialect/SV/Transforms/HWMemSimImpl.cpp
  lib/Dialect/Seq/CMakeLists.txt
  lib/Dialect/Seq/SeqAttributes.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
  test/Dialect/SV/hw-memsim.mlir
Labels: HW, Seq

#5016 [FIRRTL] Add `getFieldNameAttr` helper to SubTagOp
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  include/circt/Dialect/FIRRTL/FIRRTLTypesImpl.td
  lib/Dialect/FIRRTL/FIRRTLTypes.cpp
Labels: FIRRTL

#5015 [HW] Add type inference to UnionExtractOp
  include/circt/Dialect/HW/HWAggregates.td
  lib/Dialect/HW/HWOps.cpp
Labels: HW

#5019 [FIRRTL] Lower complex enums to use hw enums for the tag
  lib/Dialect/FIRRTL/FIRRTLUtils.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
Labels: FIRRTL

#5020 [ExportVerilog] Handle printing of union types
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  test/Conversion/ExportVerilog/hw-dialect.mlir
Labels: ExportVerilog

#5001 [ExportVerilog] Union type output support
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  test/Conversion/ExportVerilog/hw-dialect.mlir
Labels: ExportVerilog

#5021 [Handshake] Remove cmerge return type inference
  include/circt/Dialect/Handshake/HandshakeOps.td
  lib/Dialect/Handshake/HandshakeOps.cpp
  test/Dialect/Handshake/errors.mlir
Labels: Handshake

#5028 [Arc] StripSV: fix dialect dependencies, option and warning for replacing external module instances
  include/circt/Dialect/Arc/ArcPasses.td
  lib/Dialect/Arc/Transforms/StripSV.cpp
  test/Dialect/Arc/strip-sv.mlir
Labels: Arc

#5022 [ExportVerilog] Handle printing of `UnionExtractOp`
  include/circt/Dialect/HW/HWTypesImpl.td
  include/circt/Dialect/HW/HWVisitors.h
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Dialect/HW/HWTypes.cpp
  test/Conversion/ExportVerilog/hw-dialect.mlir
Labels: ExportVerilog

#5030 [HW] implement missing EnumConstantOp builder
  lib/Dialect/HW/HWOps.cpp
Labels: HW

#5032 [HW] Add an enum comparison operation
  include/circt/Dialect/HW/HWMiscOps.td
  test/Dialect/HW/basic.mlir
Labels: HW

#5033 [FIRRTL][Dedup] Print integer constants as hexadecimal
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  test/Dialect/FIRRTL/dedup-errors.mlir
Labels: FIRRTL

#5036 [Docs] Include Arc and SystemC in Passes.md
  docs/Passes.md
Labels: documentation

#5035 [ExportVerilog] Add support for `EnumCmpOp`
  include/circt/Dialect/HW/HWVisitors.h
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  test/Conversion/ExportVerilog/hw-dialect.mlir
Labels: ExportVerilog

#5037 [FIRRTL] Add `MatchOp` statement
  include/circt/Dialect/FIRRTL/FIRRTLStatements.td
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/errors.mlir
  test/Dialect/FIRRTL/test.mlir
Labels: FIRRTL

#5038 [FIRRTL] Add `IsTagOp` to test enumeration variant
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/test.mlir
Labels: FIRRTL

#5039 [FIRRTL] Add LowerMatches pass
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/LowerMatches.cpp
  test/Dialect/FIRRTL/lower-matches.fir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#5042 [FIRRTL] Support EnumTypes in `walkGroundTypes(Type)` utility
  lib/Dialect/FIRRTL/FIRRTLUtils.cpp
Labels: FIRRTL

#4997 [Arc] Infer StateOp reset from CompReg
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  test/Conversion/ConvertToArcs/convert-to-arcs.mlir
Labels: Arc

#5023 [Arc] Remove erroneous reset nesting in LowerState pass
  lib/Dialect/Arc/Transforms/LowerState.cpp
  test/Dialect/Arc/lower-state.mlir
Labels: Arc

#5048 [FIRRTLFolds] Fix crashes in bundle/vector create folders.
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  test/Dialect/FIRRTL/canonicalization.mlir
Labels: FIRRTL

#5026 [ESI][Windows] Lower Window ports to unions
  include/circt/Dialect/ESI/ESIPasses.h
  include/circt/Dialect/ESI/ESIPasses.td
  lib/Dialect/ESI/CMakeLists.txt
  lib/Dialect/ESI/PassDetails.h
  lib/Dialect/ESI/Passes/ESILowerTypes.cpp
  test/Dialect/ESI/windows.mlir
Labels: ESI

#5055 [NFC][Support] Factor out TypeConversionPattern into support lib
  include/circt/Support/ConversionPatterns.h
  lib/Conversion/HWArithToHW/HWArithToHW.cpp
  lib/Dialect/ESI/Passes/ESILowerTypes.cpp
  lib/Support/CMakeLists.txt
  lib/Support/ConversionPatterns.cpp
Labels: ESI, HWArith

#5058 [NFC][ESI] Refactor ESI passes into individual files
  lib/Dialect/ESI/CMakeLists.txt
  lib/Dialect/ESI/ESIPasses.cpp
  lib/Dialect/ESI/PassDetails.h
  lib/Dialect/ESI/Passes/ESIEmitCollateral.cpp
  lib/Dialect/ESI/Passes/ESILowerPhysical.cpp
  lib/Dialect/ESI/Passes/ESILowerPorts.cpp
  lib/Dialect/ESI/Passes/ESILowerToHW.cpp
  lib/Dialect/ESI/Passes/ESILowerTypes.cpp
Labels: ESI

#5059 [ESI][MSFT] Fix all clang-tidy-10 warnings
  include/circt/Dialect/ESI/ESIDialect.h
  include/circt/Dialect/ESI/ESIServices.h
  include/circt/Dialect/MSFT/DeviceDB.h
  include/circt/Dialect/MSFT/ExportTcl.h
  include/circt/Dialect/MSFT/MSFTPasses.h
  lib/Dialect/ESI/ESIPasses.cpp
  lib/Dialect/ESI/ESIServices.cpp
  lib/Dialect/ESI/ESITranslations.cpp
  lib/Dialect/ESI/Passes/ESIEmitCollateral.cpp
  lib/Dialect/ESI/Passes/ESILowerPorts.cpp
  lib/Dialect/ESI/Passes/ESILowerToHW.cpp
  lib/Dialect/MSFT/DeviceDB.cpp
  lib/Dialect/MSFT/ExportQuartusTcl.cpp
  lib/Dialect/MSFT/MSFTOps.cpp
  lib/Dialect/MSFT/Transforms/MSFTExportTcl.cpp
  lib/Dialect/MSFT/Transforms/MSFTPartition.cpp
Labels: ESI, msft

#5060 [PyCDE] Expose ESI list type
  frontends/PyCDE/src/signals.py
  frontends/PyCDE/src/types.py
  frontends/PyCDE/test/test_pycde_types.py
  include/circt-c/Dialect/ESI.h
  integration_test/Bindings/Python/dialects/esi.py
  lib/Bindings/Python/ESIModule.cpp
  lib/CAPI/Dialect/ESI.cpp
Labels: ESI

#5068 [Arc][LowerState] Fix combinational loop false positives
  lib/Dialect/Arc/Transforms/LowerState.cpp
  test/Dialect/Arc/lower-state.mlir
Labels: Arc

#5073 [FIRRTL] Add clock gate intrinsic
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  include/circt/Dialect/FIRRTL/FIRRTLTypes.td
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Transforms/LowerIntrinsics.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
  test/Dialect/FIRRTL/basic.mlir
  test/Dialect/FIRRTL/canonicalization.mlir
  test/Dialect/FIRRTL/lower-intrinsics.mlir
Labels: FIRRTL

#5079 [FIRRTL][InferWidths] Support enum types
  include/circt/Dialect/FIRRTL/FIRRTLVisitors.h
  lib/Dialect/FIRRTL/FIRRTLTypes.cpp
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
  test/Dialect/FIRRTL/infer-widths.mlir
Labels: FIRRTL

#5081 [ExportVerilog] Add support for UnionCreate op.
  include/circt/Dialect/HW/HWVisitors.h
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  test/Conversion/ExportVerilog/hw-dialect.mlir
Labels: ExportVerilog

#5082 [Seq] Add clock gate operation
  include/circt/Dialect/Seq/SeqOps.td
  lib/Dialect/Seq/SeqOps.cpp
  test/Dialect/Seq/canonicalization.mlir
  test/Dialect/Seq/round-trip.mlir
Labels: Seq

#5080 [FIRRTL][LowerToHW] Support FEnumCreateOp
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
Labels: FIRRTL

#5091 [ExportVerilog] Remove uneeded parenthesis around UnionCreate
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  test/Conversion/ExportVerilog/hw-dialect.mlir
Labels: ExportVerilog

#5092 [FIRRTL][ExpandWhens] Use port locs when emitting init errors
  lib/Dialect/FIRRTL/Transforms/ExpandWhens.cpp
Labels: FIRRTL

#5093 [FIRRTL] Remove some unused datastructures
  include/circt/Dialect/FIRRTL/FIRRTLOps.h
Labels: FIRRTL

#4100 [reduce] Handful of reducer fixes and improvements
  tools/circt-reduce/Reduction.cpp
Labels: Reducer

#3538 [HWMemSimImpl] Remove "mem" from "ignore-read-enable-mem" flag
  include/circt/Dialect/SV/SVPasses.h
  include/circt/Dialect/SV/SVPasses.td
  lib/Dialect/SV/Transforms/HWMemSimImpl.cpp
Labels: FIRRTL, HW

#5106 [ExportVerilog] Remove unused function
  lib/Conversion/ExportVerilog/ExportVerilogInternals.h
  lib/Conversion/ExportVerilog/LegalizeNames.cpp
Labels: HW, ExportVerilog

#5105 [HW] Add verifiers for EnumConstantOp and EnumCmpOp
  include/circt/Dialect/HW/HWMiscOps.td
  lib/Dialect/HW/HWOps.cpp
  test/Dialect/HW/errors.mlir
Labels: HW
