Repository llvm/circt, pull requests merged in 2023-01, with the labels that each got.

#4497 [PyCDE] Improve `Reg` construct
  frontends/PyCDE/src/pycde/constructs.py
  frontends/PyCDE/src/pycde/value.py
  frontends/PyCDE/test/test_constructs.py
  lib/Bindings/Python/circt/dialects/_seq_ops_ext.py
Labels: PyCDE

#4530 [PyCDE] Separate BitVectors into Integers vs. Bits
  frontends/PyCDE/integration_test/esi_test.py
  frontends/PyCDE/src/pycde/constructs.py
  frontends/PyCDE/src/pycde/pycde_types.py
  frontends/PyCDE/src/pycde/support.py
  frontends/PyCDE/src/pycde/value.py
  frontends/PyCDE/test/errors.py
  frontends/PyCDE/test/test_hwarith.py
  lib/Bindings/Python/circt/dialects/_hwarith_ops_ext.py
Labels: PyCDE

#4536 [PyCDE] Add `ControlReg` construct
  frontends/PyCDE/src/pycde/constructs.py
  frontends/PyCDE/test/test_constructs.py
Labels: PyCDE

#4546 [Python] Use the "private namespace" approach for mlir dep
  frontends/PyCDE/integration_test/CMakeLists.txt
  frontends/PyCDE/test/CMakeLists.txt
  integration_test/Bindings/Python/dialects/comb.py
  integration_test/Bindings/Python/dialects/comb_errors.py
  integration_test/Bindings/Python/dialects/esi.py
  integration_test/Bindings/Python/dialects/hw.py
  integration_test/Bindings/Python/dialects/msft.py
  integration_test/Bindings/Python/dialects/rtl.py
  integration_test/Bindings/Python/dialects/rtl_errors.py
  integration_test/Bindings/Python/dialects/seq.py
  integration_test/Bindings/Python/dialects/sv.py
  integration_test/Bindings/Python/export_verilog.py
  integration_test/Bindings/Python/import.py
  integration_test/Bindings/Python/support/connect.py
  integration_test/Bindings/Python/support/connect_errors.py
  integration_test/CMakeLists.txt
  lib/Bindings/Python/CMakeLists.txt
  lib/Bindings/Python/__init__.py
  lib/Bindings/Python/circt/dialects/_ods_common.py
  lib/Bindings/Python/dialects/CombOps.td
  lib/Bindings/Python/dialects/ESIOps.td
  lib/Bindings/Python/dialects/FSMOps.td
  lib/Bindings/Python/dialects/HWArithOps.td
  lib/Bindings/Python/dialects/HWOps.td
  lib/Bindings/Python/dialects/MSFTOps.td
  lib/Bindings/Python/dialects/SVOps.td
  lib/Bindings/Python/dialects/SeqOps.td
  lib/Bindings/Python/dialects/_comb_ops_ext.py
  lib/Bindings/Python/dialects/_esi_ops_ext.py
  lib/Bindings/Python/dialects/_fsm_ops_ext.py
  lib/Bindings/Python/dialects/_hw_ops_ext.py
  lib/Bindings/Python/dialects/_hwarith_ops_ext.py
  lib/Bindings/Python/dialects/_msft_ops_ext.py
  lib/Bindings/Python/dialects/_seq_ops_ext.py
  lib/Bindings/Python/dialects/_sv_ops_ext.py
  lib/Bindings/Python/dialects/comb.py
  lib/Bindings/Python/dialects/esi.py
  lib/Bindings/Python/dialects/fsm.py
  lib/Bindings/Python/dialects/hw.py
  lib/Bindings/Python/dialects/hwarith.py
  lib/Bindings/Python/dialects/msft.py
  lib/Bindings/Python/dialects/seq.py
  lib/Bindings/Python/dialects/sv.py
  lib/Bindings/Python/setup.py
  lib/Bindings/Python/support.py
Labels: Python

#4545 [PyCDE][NFC] Hide the `circt` package in our namespace
  frontends/PyCDE/integration_test/lit.cfg.py
  frontends/PyCDE/setup.py
  frontends/PyCDE/src/CMakeLists.txt
  frontends/PyCDE/src/Makefile.cosim
  frontends/PyCDE/src/__init__.py
  frontends/PyCDE/src/behavioral.py
  frontends/PyCDE/src/common.py
  frontends/PyCDE/src/constructs.py
  frontends/PyCDE/src/devicedb.py
  frontends/PyCDE/src/dialects/__init__.py
  frontends/PyCDE/src/dialects/comb.py
  frontends/PyCDE/src/dialects/fsm.py
  frontends/PyCDE/src/dialects/hw.py
  frontends/PyCDE/src/dialects/hwarith.py
  frontends/PyCDE/src/dialects/msft.py
  frontends/PyCDE/src/dialects/seq.py
  frontends/PyCDE/src/dialects/sv.py
  frontends/PyCDE/src/esi.py
  frontends/PyCDE/src/esi_api.py
  frontends/PyCDE/src/esi_api.py.j2
  frontends/PyCDE/src/esi_runtime_common.py
  frontends/PyCDE/src/fsm.py
  frontends/PyCDE/src/instance.py
  frontends/PyCDE/src/module.py
  frontends/PyCDE/src/ndarray.py
  frontends/PyCDE/src/pycde_types.py
  frontends/PyCDE/src/support.py
  frontends/PyCDE/src/system.py
  frontends/PyCDE/src/testing.py
  frontends/PyCDE/src/value.py
  frontends/PyCDE/test/CMakeLists.txt
  frontends/PyCDE/test/lit.cfg.py
  frontends/PyCDE/test/polynomial.py
  frontends/PyCDE/test/pycde_types.py
  frontends/PyCDE/test/test_import_hw_modules.py
  lib/Bindings/Python/dialects/_comb_ops_ext.py
  lib/Bindings/Python/dialects/_fsm_ops_ext.py
  lib/Bindings/Python/dialects/_hw_ops_ext.py
  lib/Bindings/Python/dialects/_hwarith_ops_ext.py
  lib/Bindings/Python/dialects/_msft_ops_ext.py
  lib/Bindings/Python/dialects/_seq_ops_ext.py
  lib/Bindings/Python/dialects/_sv_ops_ext.py
  lib/Bindings/Python/support.py
Labels: PyCDE

#4550 [PyCDE] Value -> Signal
  frontends/PyCDE/src/behavioral.py
  frontends/PyCDE/src/constructs.py
  frontends/PyCDE/src/esi.py
  frontends/PyCDE/src/module.py
  frontends/PyCDE/src/ndarray.py
  frontends/PyCDE/src/pycde_types.py
  frontends/PyCDE/src/support.py
  frontends/PyCDE/src/value.py
  frontends/PyCDE/test/esi.py
Labels: PyCDE

#4554 [FIRRTL] Mark DUT AddSeqMemPorts ports dontTouch
  lib/Dialect/FIRRTL/Transforms/AddSeqMemPorts.cpp
  test/Dialect/FIRRTL/add-seqmem-ports.mlir
Labels: bug, FIRRTL

#4529 [FIRRTL] Move SIntType and UIntType to ODS
  include/circt/Dialect/FIRRTL/FIRRTLTypes.h
  include/circt/Dialect/FIRRTL/FIRRTLTypesImpl.td
  lib/Dialect/FIRRTL/FIRRTLTypes.cpp
Labels: FIRRTL

#4556 [PyCDE] Change module API to extend `Module` instead of using a decorator
  frontends/PyCDE/integration_test/esi_ram.py
  frontends/PyCDE/integration_test/esi_test.py
  frontends/PyCDE/integration_test/pytorch/dot_prod_system.py
  frontends/PyCDE/src/__init__.py
  frontends/PyCDE/src/common.py
  frontends/PyCDE/src/constructs.py
  frontends/PyCDE/src/esi.py
  frontends/PyCDE/src/fsm.py
  frontends/PyCDE/src/instance.py
  frontends/PyCDE/src/module.py
  frontends/PyCDE/src/system.py
  frontends/PyCDE/src/testing.py
  frontends/PyCDE/test/behavioral.py
  frontends/PyCDE/test/cocotb_testbench.py
  frontends/PyCDE/test/compreg.py
  frontends/PyCDE/test/errors.py
  frontends/PyCDE/test/esi.py
  frontends/PyCDE/test/good_example.py
  frontends/PyCDE/test/instances.py
  frontends/PyCDE/test/module_naming.py
  frontends/PyCDE/test/muxing.py
  frontends/PyCDE/test/polynomial.py
  frontends/PyCDE/test/pycde_values.py
  frontends/PyCDE/test/syntactic_sugar.py
  frontends/PyCDE/test/test_constructs.py
  frontends/PyCDE/test/test_constructs_errors.py
  frontends/PyCDE/test/test_esi_errors.py
  frontends/PyCDE/test/test_fsm.py
  frontends/PyCDE/test/test_fsm_errors.py
  frontends/PyCDE/test/test_hwarith.py
  frontends/PyCDE/test/test_import_hw_modules.py
  frontends/PyCDE/test/test_misc_errors.py
  frontends/PyCDE/test/test_ndarray.py
  frontends/PyCDE/test/test_ndarray_errors.py
  frontends/PyCDE/test/test_slicing.py
  frontends/PyCDE/test/verilog_readablility.py
Labels: PyCDE

#4525 [SSP] Support OR-Tools-based schedulers in `-ssp-schedule`
  lib/Dialect/SSP/Transforms/CMakeLists.txt
  lib/Dialect/SSP/Transforms/Schedule.cpp
  lib/Scheduling/CMakeLists.txt
Labels: Scheduling

#4523 [Scheduling] Rewrite tests in SSP IR
  test/Scheduling/chaining-problems.mlir
  test/Scheduling/cyclic-problems.mlir
  test/Scheduling/modulo-problems.mlir
  test/Scheduling/problems.mlir
  test/Scheduling/shared-operators-problems.mlir
Labels: Scheduling

#4524 [Scheduling] Rewrite tests for OR-Tools-based schedulers in SSP IR
  test/Scheduling/cyclic-problems.mlir
  test/Scheduling/or-tools/cyclic-problems.mlir
  test/Scheduling/or-tools/problems.mlir
  test/Scheduling/or-tools/shared-operators-problems.mlir
  test/Scheduling/problems.mlir
  test/Scheduling/shared-operators-problems.mlir
Labels: Scheduling

#4572 [Scheduling] Purge test passes.
  lib/Scheduling/CMakeLists.txt
  lib/Scheduling/TestPasses.cpp
  tools/circt-opt/CMakeLists.txt
  tools/circt-opt/circt-opt.cpp
Labels: Scheduling

#4585 [ESI][Capnp] Build against libcapnp on Windows
  include/circt/Dialect/ESI/cosim/CMakeLists.txt
  include/circt/Dialect/ESI/cosim/dpi.h
  lib/Dialect/ESI/cosim/cosim_dpi_server/CMakeLists.txt
  lib/Dialect/ESI/cosim/cosim_dpi_server/Server.cpp
Labels: ESI

#4591 [PyCDE] Improvements to support internal design
  frontends/PyCDE/src/constructs.py
  frontends/PyCDE/src/module.py
  frontends/PyCDE/test/polynomial.py
Labels: PyCDE

#4600 [CalyxToFSM] Add FSM-flow remove groups pass
  include/circt/Conversion/CalyxToFSM.h
  include/circt/Conversion/Passes.td
  include/circt/Dialect/Calyx/CalyxHelpers.h
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  include/circt/Dialect/Calyx/CalyxStructure.td
  integration_test/Dialect/Calyx/memory_loop.mlir
  integration_test/Dialect/Calyx/simple_arith.mlir
  lib/Conversion/CalyxToFSM/CMakeLists.txt
  lib/Conversion/CalyxToFSM/MaterializeFSM.cpp
  lib/Conversion/CalyxToFSM/RemoveGroupsFromFSM.cpp
  lib/Conversion/FSMToSV/FSMToSV.cpp
  lib/Dialect/Calyx/Transforms/GoInsertion.cpp
  lib/Dialect/Calyx/Transforms/PassDetails.h
  lib/Dialect/Calyx/Transforms/RemoveGroups.cpp
  lib/Dialect/FSM/FSMOps.cpp
  test/Conversion/CalyxToFSM/lower-if.mlir
  test/Conversion/CalyxToFSM/lower-seq.mlir
  test/Conversion/CalyxToFSM/lower-while.mlir
  test/Conversion/CalyxToFSM/materialize-fsm.mlir
  test/Conversion/CalyxToFSM/remove-groups.mlir
  test/Dialect/FSM/errors.mlir
Labels: Calyx
