Repository llvm/circt, pull requests merged in 2023-02, with the labels that each got.

#4607 [PyCDE] Class based struct definitions
  frontends/PyCDE/src/support.py
  frontends/PyCDE/src/types.py
  frontends/PyCDE/src/value.py
  frontends/PyCDE/test/pycde_types.py
Labels: PyCDE

#4610 [PyCDE][NFC] Cleanups and renames
  frontends/PyCDE/src/CMakeLists.txt
  frontends/PyCDE/src/__init__.py
  frontends/PyCDE/src/behavioral.py
  frontends/PyCDE/src/common.py
  frontends/PyCDE/src/constructs.py
  frontends/PyCDE/src/devicedb.py
  frontends/PyCDE/src/dialects/comb.py
  frontends/PyCDE/src/dialects/esi.py
  frontends/PyCDE/src/dialects/fsm.py
  frontends/PyCDE/src/dialects/hw.py
  frontends/PyCDE/src/dialects/hwarith.py
  frontends/PyCDE/src/dialects/msft.py
  frontends/PyCDE/src/dialects/seq.py
  frontends/PyCDE/src/dialects/sv.py
  frontends/PyCDE/src/esi.py
  frontends/PyCDE/src/esi_api.py
  frontends/PyCDE/src/fsm.py
  frontends/PyCDE/src/instance.py
  frontends/PyCDE/src/module.py
  frontends/PyCDE/src/ndarray.py
  frontends/PyCDE/src/signals.py
  frontends/PyCDE/src/support.py
  frontends/PyCDE/src/system.py
  frontends/PyCDE/src/testing.py
  frontends/PyCDE/src/types.py
  frontends/PyCDE/test/errors.py
  frontends/PyCDE/test/esi.py
  frontends/PyCDE/test/muxing.py
  frontends/PyCDE/test/pycde_types.py
  frontends/PyCDE/test/pycde_values.py
Labels: PyCDE

#4612 [FIRRTL][GC] Always generate the scope yaml file
  lib/Dialect/FIRRTL/Transforms/GrandCentral.cpp
  test/Dialect/FIRRTL/SFCTests/GrandCentralInterfaces/InstantiateCompanionOnly.fir
Labels: FIRRTL

#4616 [PyCDE] Improve type string representations
  frontends/PyCDE/src/types.py
  frontends/PyCDE/test/errors.py
  frontends/PyCDE/test/instances.py
  frontends/PyCDE/test/pycde_types.py
  frontends/PyCDE/test/test_esi_errors.py
  frontends/PyCDE/test/test_ndarray_errors.py
Labels: PyCDE

#4611 [PyCDE][NFC] Create signals from Python objects through Types
  frontends/PyCDE/src/module.py
  frontends/PyCDE/src/signals.py
  frontends/PyCDE/src/support.py
  frontends/PyCDE/src/types.py
  frontends/PyCDE/test/test_misc_errors.py
Labels: PyCDE

#4324 [FIRRTL] Remove extra whitespace around optional attr dicts
  docs/Dialects/FIRRTL/FIRRTLAnnotations.md
  docs/Dialects/FIRRTL/RationaleFIRRTL.md
  include/circt/Dialect/Calyx/CalyxStructure.td
  include/circt/Dialect/FIRRTL/CHIRRTL.td
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  include/circt/Dialect/FIRRTL/FIRRTLStatements.td
  include/circt/Dialect/FIRRTL/FIRRTLStructure.td
  include/circt/Dialect/SV/SVExpressions.td
  include/circt/Dialect/SV/SVInOutOps.td
  include/circt/Dialect/SV/SVTypeDecl.td
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/FIRRTL/CHIRRTLDialect.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/parse-basic.fir
  test/circt-as-dis/basic-firrtl.mlir
Labels: FIRRTL

#4537 [ESI] Baseline XRT support
  frontends/PyCDE/src/CMakeLists.txt
  frontends/PyCDE/src/bsp/EsiXrtPython.cpp
  frontends/PyCDE/src/bsp/Makefile.xrt.j2
  frontends/PyCDE/src/bsp/__init__.py
  frontends/PyCDE/src/bsp/xrt.ini
  frontends/PyCDE/src/bsp/xrt.py
  frontends/PyCDE/src/bsp/xrt_api.py
  frontends/PyCDE/src/bsp/xrt_package.tcl.j2
  frontends/PyCDE/src/bsp/xsim.tcl
  frontends/PyCDE/src/esi_api.py.j2
  frontends/PyCDE/src/system.py
  frontends/PyCDE/test/test_xrt.py
Labels: ESI

#4633 [ESI] Introduce ESI pure module op
  include/circt/Dialect/ESI/ESI.td
  include/circt/Dialect/ESI/ESIStructure.td
  include/circt/Dialect/MSFT/MSFTOps.td
  lib/Dialect/ESI/ESIOps.cpp
  test/Dialect/ESI/structure.mlir
  test/Dialect/ESI/structure_errors.mlir
Labels: ESI

#4639 [ESI][Cosim Runner] Add support for running binaries
  integration_test/ESI/cosim/loopback.mlir
  integration_test/ESI/cosim/loopback.py
  tools/esi/esi-cosim-runner.py.in
Labels: ESI

#4653 [ESI] Add specification to build signals into SV interface or not
  include/circt/Dialect/ESI/ESIDialect.h
  integration_test/ESI/cosim/basic.mlir
  integration_test/ESI/system/basic.mlir
  lib/Dialect/ESI/ESIPasses.cpp
  test/Dialect/ESI/cosim_structs.mlir
  test/Dialect/ESI/lowering.mlir
Labels: ESI

#4657 [ESI] Introduce `pure_module.input` and `pure_module.output`
  include/circt/Dialect/ESI/ESIStructure.td
  lib/Dialect/ESI/ESIOps.cpp
  test/Dialect/ESI/structure.mlir
  test/Dialect/ESI/structure_errors.mlir
Labels: ESI

#4658 [ESI] Lower pure modules into HW modules
  include/circt/Dialect/ESI/ESIPasses.td
  lib/Dialect/ESI/ESIPasses.cpp
  test/Dialect/ESI/structure.mlir
Labels: ESI

#4680 Fix Combinational Component Builder
  lib/Dialect/Calyx/CalyxOps.cpp
Labels: bug, Calyx

#4670 [ESI] [mostly NFC] Lower ports pass refactoring
  frontends/PyCDE/test/test_esi.py
  lib/Dialect/ESI/ESIPasses.cpp
  test/Dialect/ESI/lowering.mlir
Labels: ESI

#4679 [ESI] Initial FIFO signaling: read latency 0 style
  include/circt/Dialect/ESI/ESIOps.h
  include/circt/Dialect/ESI/ESIPorts.td
  lib/Dialect/ESI/ESIFolds.cpp
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/ESIPasses.cpp
  test/Dialect/ESI/connectivity.mlir
  test/Dialect/ESI/lowering.mlir
Labels: ESI

#4706 [ExportVerilog] Add disallowArrayIndexInlining option
  include/circt/Support/LoweringOptions.h
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Support/LoweringOptions.cpp
  test/Conversion/ExportVerilog/disallow-array-index-inlining.mlir
Labels: ExportVerilog

#4705 [PyCDE] Expose signaling and FIFO0
  frontends/PyCDE/src/common.py
  frontends/PyCDE/src/signals.py
  frontends/PyCDE/src/types.py
  frontends/PyCDE/test/test_esi.py
  frontends/PyCDE/test/test_esi_errors.py
  include/circt-c/Dialect/ESI.h
  lib/Bindings/Python/ESIModule.cpp
  lib/Bindings/Python/dialects/esi.py
  lib/CAPI/Dialect/ESI.cpp
Labels: PyCDE

#4711 [ESI] Add parameters to PureModule lowering
  frontends/PyCDE/src/esi.py
  frontends/PyCDE/test/test_esi.py
  include/circt/Dialect/ESI/ESIStructure.td
  lib/Dialect/ESI/ESIPasses.cpp
  test/Dialect/ESI/structure.mlir
Labels: ESI

#4712 [ESI] Option to flatten struct messages
  include/circt/Dialect/ESI/ESIDialect.h
  lib/Dialect/ESI/ESIPasses.cpp
  test/Dialect/ESI/lowering.mlir
  test/Dialect/ESI/structure.mlir
Labels: ESI

#4723 [PyCDE] Set dialect attributes on modules, expose flatten dialect attr
  frontends/PyCDE/src/esi.py
  frontends/PyCDE/src/module.py
  frontends/PyCDE/test/test_esi.py
  lib/Bindings/Python/dialects/_msft_ops_ext.py
  lib/Dialect/MSFT/Transforms/MSFTToHW.cpp
Labels: PyCDE

#4736 [ESI] Add more flexibility to port names during lowering
  frontends/PyCDE/src/esi.py
  frontends/PyCDE/src/module.py
  include/circt/Dialect/ESI/ESIDialect.h
  lib/Dialect/ESI/ESIPasses.cpp
  test/Dialect/ESI/lowering.mlir
Labels: ESI
