Repository llvm/circt, pull requests merged in 2024-02, with the labels that each got.

#6633 [ESI] Simplify services by standardizing on `to_client` ports
  include/circt/Dialect/ESI/ESIChannels.td
  include/circt/Dialect/ESI/ESIManifest.td
  include/circt/Dialect/ESI/ESIOps.h
  include/circt/Dialect/ESI/ESIServices.td
  integration_test/Bindings/Python/dialects/esi.py
  integration_test/Dialect/ESI/cosim/loopback.mlir
  integration_test/Dialect/ESI/runtime/loopback.mlir
  lib/Bindings/Python/dialects/esi.py
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/ESIServices.cpp
  lib/Dialect/ESI/ESIStdServices.cpp
  lib/Dialect/ESI/Passes/ESIBuildManifest.cpp
  lib/Dialect/ESI/runtime/cpp/include/esi/Ports.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Services.h
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
  lib/Dialect/Handshake/Transforms/LowerExtmemToHW.cpp
  test/Dialect/ESI/appid_hier.mlir
  test/Dialect/ESI/errors.mlir
  test/Dialect/ESI/manifest.mlir
  test/Dialect/ESI/services.mlir
  test/Dialect/Handshake/lower-extmem-esi.mlir
Labels: ESI

#6634 [PyCDE] Adapt to new to_client style services
  frontends/PyCDE/integration_test/esi_ram.py
  frontends/PyCDE/integration_test/esi_test.py
  frontends/PyCDE/src/esi.py
  frontends/PyCDE/src/signals.py
  frontends/PyCDE/src/types.py
  frontends/PyCDE/test/test_esi.py
  frontends/PyCDE/test/test_esi_servicegens.py
Labels: PyCDE

#6636 [PyCDE] Support ESI's FuncService
  frontends/PyCDE/integration_test/esi_test.py
  frontends/PyCDE/integration_test/test_software/esi_test.py
  frontends/PyCDE/src/esi.py
  frontends/PyCDE/test/test_esi.py
Labels: PyCDE

#6644 [ESI][Runtime] Convert Type& to Type*
  lib/Dialect/ESI/runtime/cpp/include/esi/Manifest.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Ports.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Services.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Types.h
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esiquery.cpp
Labels: ESI

#6646 [ESI][Runtime][NFC] Move `requestChannelsFor` into accelerator connection
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Services.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Cosim.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Trace.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Xrt.h
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Xrt.cpp
Labels: ESI

#6648 [ESI][Runtime][NFC] Switch from ptr,size to MessageData
  lib/Dialect/ESI/runtime/cpp/include/esi/Common.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Ports.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Types.h
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
  lib/Dialect/ESI/runtime/python/esi/esiCppAccel.cpp
  lib/Dialect/ESI/runtime/python/esi/types.py
Labels: ESI

#6663 Track instance layers
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  lib/Dialect/FIRRTL/FIRRTLInstanceImplementation.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Transforms/LowerMemory.cpp
  lib/Dialect/FIRRTL/Transforms/LowerSignatures.cpp
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  lib/Dialect/FIRRTL/Transforms/SpecializeOption.cpp
  test/Dialect/FIRRTL/errors.mlir
  test/Dialect/FIRRTL/layers-errors.mlir
  test/Dialect/FIRRTL/parse-basic.fir
Labels: FIRRTL

#6632 [ImportVerilog] Add import options and Verilog preprocessing
  include/circt/Conversion/ImportVerilog.h
  lib/Conversion/ImportVerilog/ImportVerilog.cpp
  test/circt-verilog/include/other.sv
  test/circt-verilog/preprocess-errors.sv
  test/circt-verilog/preprocess.sv
  tools/circt-verilog/circt-verilog.cpp
Labels: Verilog/SystemVerilog

#6673 [ESI][Runtime] Adding support for FuncService
  include/circt/Dialect/ESI/ESIInterfaces.td
  include/circt/Dialect/ESI/ESIStdServices.td
  integration_test/Dialect/ESI/runtime/loopback.mlir.py
  lib/Dialect/ESI/Passes/ESIBuildManifest.cpp
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Design.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Ports.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Services.h
  lib/Dialect/ESI/runtime/cpp/lib/Accelerator.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Design.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Services.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/python/esi/esiCppAccel.cpp
  lib/Dialect/ESI/runtime/python/esi/types.py
  test/Dialect/ESI/manifest.mlir
Labels: ESI

#6674 [FIRRTL] InferResets: verify that FART annotation is on async resets
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  test/Dialect/FIRRTL/infer-resets-errors.mlir
Labels: FIRRTL

#6678 [LowerIntrinsics] Accept EICG_wrapper without test_en, reject annos
  include/circt/Dialect/FIRRTL/FIRRTLIntrinsics.h
  lib/Dialect/FIRRTL/FIRRTLIntrinsics.cpp
  lib/Dialect/FIRRTL/Transforms/LowerIntrinsics.cpp
  test/Dialect/FIRRTL/lower-intrinsics-errors.mlir
  test/Dialect/FIRRTL/lower-intrinsics.mlir
Labels: FIRRTL

#6682 [ImportVerilog] Fix single unit preprocessor option
  lib/Conversion/ImportVerilog/ImportVerilog.cpp
  test/circt-verilog/preprocess-multiple-files.sv
Labels: bug, Verilog/SystemVerilog

#6529 [arcilator] Remove PrintStateInfo pass
  include/circt/Dialect/Arc/ArcPasses.h
  include/circt/Dialect/Arc/ArcPasses.td
  include/circt/Dialect/Arc/ModelInfo.h
  include/circt/Dialect/Arc/ModelInfoExport.h
  include/circt/InitAllTranslations.h
  lib/Dialect/Arc/CMakeLists.txt
  lib/Dialect/Arc/Export/CMakeLists.txt
  lib/Dialect/Arc/Export/ModelInfoExport.cpp
  lib/Dialect/Arc/ModelInfo.cpp
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/PrintStateInfo.cpp
  test/Dialect/Arc/Export/info-gathering-errors.mlir
  test/Dialect/Arc/Export/serialize-state-info.mlir
  tools/arcilator/CMakeLists.txt
  tools/arcilator/arcilator.cpp
Labels: Arc

#6642 [HW] HWModule: store input port locations only on block args
  include/circt/Dialect/HW/HWStructure.td
  include/circt/Dialect/HW/ModuleImplementation.h
  lib/Bindings/Python/dialects/hw.py
  lib/Dialect/HW/HWOps.cpp
  lib/Dialect/HW/ModuleImplementation.cpp
  lib/Dialect/HW/Transforms/FlattenIO.cpp
  lib/Transforms/StripDebugInfoWithPred.cpp
Labels: HW

#6700 [PyCDE] Refactor Input/Output ports to extend property
  frontends/PyCDE/src/bsp/cosim.py
  frontends/PyCDE/src/common.py
  frontends/PyCDE/src/esi.py
  frontends/PyCDE/src/fsm.py
  frontends/PyCDE/src/module.py
  frontends/PyCDE/test/test_instances.py
Labels: PyCDE

#6723 [ESI][Runtime] Use `std::future` in channel reads and func calls
  integration_test/Dialect/ESI/runtime/loopback.mlir.py
  lib/Dialect/ESI/runtime/cpp/include/esi/Ports.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Services.h
  lib/Dialect/ESI/runtime/cpp/lib/Ports.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Services.cpp
  lib/Dialect/ESI/runtime/python/esi/esiCppAccel.cpp
  lib/Dialect/ESI/runtime/python/esi/types.py
Labels: ESI

#6708 [ImportVerilog] Add translation, run Slang compilation
  include/circt/Conversion/ImportVerilog.h
  include/circt/InitAllTranslations.h
  lib/Conversion/ImportVerilog/ImportVerilog.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/errors.sv
Labels: Verilog/SystemVerilog

#6743 [ImportVerilog] Convert empty modules and instances
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/CMakeLists.txt
  lib/Conversion/ImportVerilog/ImportVerilog.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Structure.cpp
  lib/Dialect/Moore/MooreOps.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/errors.sv
  test/Dialect/Moore/basic.mlir
  test/Dialect/Moore/errors.mlir
Labels: Verilog/SystemVerilog

#6733 [FIRRTL][LowerLayers] Clean up names of artifacts generated by layers
  lib/Dialect/FIRRTL/Transforms/LowerLayers.cpp
  test/Dialect/FIRRTL/lower-layers.mlir
  test/firtool/layers.fir
  test/firtool/lower-layers.fir
  test/firtool/lower-layers2.fir
Labels: FIRRTL

#6739 [Ibis] Split ContainerOp in two
  include/circt/Dialect/Ibis/IbisInterfaces.td
  include/circt/Dialect/Ibis/IbisOps.h
  include/circt/Dialect/Ibis/IbisOps.td
  lib/Dialect/Ibis/IbisOps.cpp
  lib/Dialect/Ibis/Transforms/IbisCleanSelfdrivers.cpp
  lib/Dialect/Ibis/Transforms/IbisContainerize.cpp
  lib/Dialect/Ibis/Transforms/IbisContainersToHW.cpp
  lib/Dialect/Ibis/Transforms/IbisMethodsToContainers.cpp
  test/Dialect/Ibis/Transforms/clean_selfdrivers.mlir
  test/Dialect/Ibis/Transforms/containerize.mlir
  test/Dialect/Ibis/Transforms/containers_to_hw.mlir
  test/Dialect/Ibis/Transforms/methods_to_containers.mlir
  test/Dialect/Ibis/Transforms/path_end_to_end.mlir
  test/Dialect/Ibis/Transforms/portref_lowering.mlir
  test/Dialect/Ibis/Transforms/scoperef_tunneling.mlir
  test/Dialect/Ibis/Transforms/tunneling_errors.mlir
  test/Dialect/Ibis/canonicalization.mlir
  test/Dialect/Ibis/errors.mlir
  test/Dialect/Ibis/round-trip.mlir
Labels: Ibis

#6750 [HGLDD] Fix instance output port emission
  lib/Target/DebugInfo/EmitHGLDD.cpp
  test/Target/DebugInfo/emit-hgldd.mlir
Labels: bug, Debug

#6753 [HGLDD] Uniquify object names during emission
  lib/Target/DebugInfo/EmitHGLDD.cpp
  test/Target/DebugInfo/emit-hgldd.mlir
Labels: enhancement, Debug

#6755 [ImportVerilog] Add type conversion and basic variables
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/CMakeLists.txt
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Structure.cpp
  lib/Conversion/ImportVerilog/Types.cpp
  lib/Dialect/Moore/CMakeLists.txt
  lib/Dialect/Moore/MooreOps.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/errors.sv
  test/Conversion/ImportVerilog/types-errors.sv
  test/Conversion/ImportVerilog/types.sv
  test/Dialect/Moore/basic.mlir
Labels: Verilog/SystemVerilog

#6759 [ESI][Runtime] Building wheels
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim/MtiPliStub/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim/cosim_dpi_server/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim/esi-cosim.py
  lib/Dialect/ESI/runtime/pyproject.toml
  lib/Dialect/ESI/runtime/setup.py
Labels: ESI

#6763 [ESI][Runtime] Build and publish wheels
  .github/workflows/esiRuntimePublish.yml
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/pyproject.toml
  lib/Dialect/ESI/runtime/setup.py
Labels: ESI

#6764 [ESI] Move entirely over to the runtime for testing
  frontends/PyCDE/integration_test/CMakeLists.txt
  frontends/PyCDE/integration_test/lit.cfg.py
  frontends/PyCDE/src/CMakeLists.txt
  integration_test/CMakeLists.txt
  integration_test/Dialect/ESI/cosim/cosim_only.sv
  integration_test/Dialect/ESI/cosim/cosim_only.sv.py
  integration_test/Dialect/ESI/cosim/lit.local.cfg.py
  integration_test/Dialect/ESI/cosim/loopback.mlir
  integration_test/Dialect/ESI/cosim/loopback.py
  integration_test/Dialect/ESI/cosim/lowlevel_cosim_only.sv
  integration_test/Dialect/ESI/cosim/lowlevel_cosim_only.sv.py
  integration_test/Dialect/ESI/runtime/basic_mmio.sv
  integration_test/Dialect/ESI/runtime/loopback.mlir
  integration_test/Dialect/ESI/system/basic.mlir
  integration_test/lit.cfg.py
  integration_test/lit.site.cfg.py.in
  lib/Dialect/ESI/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim/esi-cosim.py
  tools/CMakeLists.txt
  tools/esi/CMakeLists.txt
  tools/esi/esi-cosim-runner.py.in
  tools/esi/esi_cosim.py.in
Labels: ESI

#6766 [ImportVerilog] Convert initial/always/final procedures
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/CMakeLists.txt
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Statements.cpp
  lib/Conversion/ImportVerilog/Structure.cpp
  lib/Conversion/ImportVerilog/Types.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/errors.sv
  test/Dialect/Moore/basic.mlir
Labels: Verilog/SystemVerilog
