Repository llvm/circt, pull requests merged in 2024-05, with the labels that each got.

#6945 [CombToArith] Fix coarsening of division by zero UB
  integration_test/arcilator/JIT/div-by-zero.mlir
  lib/Conversion/CombToArith/CombToArith.cpp
  test/Conversion/CombToArith/comb-to-arith.mlir
Labels: Arc

#6934 [Handshake] Add merge decomposition pattern
  include/circt/Dialect/Handshake/HandshakeOps.td
  include/circt/Dialect/Handshake/HandshakePasses.h
  include/circt/Dialect/Handshake/HandshakePasses.td
  lib/Conversion/HandshakeToDC/HandshakeToDC.cpp
  lib/Dialect/Handshake/Transforms/CMakeLists.txt
  lib/Dialect/Handshake/Transforms/SplitMerges.cpp
  test/Conversion/HandshakeToDC/basic.mlir
  test/Dialect/Handshake/split-merge.mlir
Labels: Handshake

#7000 [pycde] Disallow structs with zero fields
  frontends/PyCDE/src/pycde/ibis.py
  frontends/PyCDE/src/pycde/types.py
  frontends/PyCDE/test/test_errors.py
Labels: PyCDE

#6995 [ImportVerilog] Fix unknown name caused by local variables.
  lib/Conversion/ImportVerilog/Statements.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/errors.sv
  test/Dialect/Moore/basic.mlir
Labels: Verilog/SystemVerilog

#7002 [FIRRTL] AnnoTarget: use LLVM style casts
  include/circt/Dialect/FIRRTL/FIRRTLAnnotationHelper.h
  include/circt/Dialect/FIRRTL/FIRRTLAnnotations.h
  lib/Dialect/FIRRTL/FIRRTLAnnotationHelper.cpp
  lib/Dialect/FIRRTL/Transforms/LegacyWiring.cpp
  lib/Dialect/FIRRTL/Transforms/LowerAnnotations.cpp
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  lib/Dialect/FIRRTL/Transforms/ResolveTraces.cpp
Labels: FIRRTL

#7018 [docs] Add cmake flags that reduce memory usage
  docs/GettingStarted.md
Labels: documentation

#6997 [ARC][CAPI] Add basic C API for initializing ARC
  include/circt-c/Dialect/Arc.h
  lib/CAPI/Dialect/Arc.cpp
  lib/CAPI/Dialect/CMakeLists.txt
  test/CAPI/CMakeLists.txt
  test/CAPI/arc.c
Labels: Arc

#7011 [Moore] Make simple bit vectors a proper MLIR type
  docs/Dialects/Moore.md
  include/circt-c/Dialect/Moore.h
  include/circt/Dialect/Moore/MooreOps.td
  include/circt/Dialect/Moore/MooreTypes.h
  include/circt/Dialect/Moore/MooreTypes.td
  lib/CAPI/Dialect/Moore.cpp
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/Statements.cpp
  lib/Conversion/ImportVerilog/Types.cpp
  lib/Conversion/MooreToCore/MooreToCore.cpp
  lib/Dialect/Moore/MooreOps.cpp
  lib/Dialect/Moore/MooreTypes.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/types.sv
  test/Conversion/MooreToCore/basic.mlir
  test/Dialect/Moore/basic.mlir
  test/Dialect/Moore/canonicalizers.mlir
  test/Dialect/Moore/errors.mlir
  test/Dialect/Moore/types-errors.mlir
  test/Dialect/Moore/types.mlir
  unittests/Dialect/Moore/TypesTest.cpp
Labels: Verilog/SystemVerilog, Moore

#7012 [docs] Add basic pass tutorial
  docs/GettingStarted.md
  include/circt/Dialect/HW/HWPasses.h
  include/circt/Dialect/HW/Passes.td
  lib/Dialect/HW/Transforms/CMakeLists.txt
  lib/Dialect/HW/Transforms/FooWires.cpp
  test/Dialect/HW/foo.mlir
Labels: documentation

#7021 [FIRRTL] Add condition expansion for ExpandWhens on Property intrinsics
  lib/Dialect/FIRRTL/Transforms/ExpandWhens.cpp
  test/Dialect/FIRRTL/expand-whens.mlir
Labels: bug

#7001 [ESI][Runtime] Python wheel now provides cpp support
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/cmake/esiaccel.cmake
  lib/Dialect/ESI/runtime/python/esiaccel/utils.py
Labels: ESI

#7032 [ESI][Runtime] Remove C++ includes from wheels
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/python/esiaccel/utils.py
Labels: ESI

#7024 [SV] Add `sv.reserve_names` op to disallow names
  include/circt/Dialect/SV/SVStatements.td
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Conversion/ExportVerilog/ExportVerilogInternals.h
  lib/Conversion/ExportVerilog/LegalizeNames.cpp
  test/Conversion/ExportVerilog/sv-dialect.mlir
Labels: Verilog/SystemVerilog

#7033 [ESI][Runtime] Don't pull down JSON dependency if already defined
  lib/Dialect/ESI/runtime/CMakeLists.txt
Labels: ESI

#7027 [Arc] Add SplitFuncsPass
  include/circt/Dialect/Arc/ArcPasses.td
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/SplitFuncs.cpp
  test/Dialect/Arc/split-funcs-errors.mlir
  test/Dialect/Arc/split-funcs.mlir
  tools/arcilator/arcilator.cpp
Labels: Arc

#7035 [Moore] Move IntType definition into ODS
  include/circt/Dialect/Moore/MooreTypes.h
  include/circt/Dialect/Moore/MooreTypes.td
  lib/Dialect/Moore/MooreTypes.cpp
Labels: Moore

#7045 [ESI][Cosim][NFC] Refactor cosim to divorce capnp from DPI
  lib/Dialect/ESI/runtime/cosim/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim/cosim_dpi_server/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim/cosim_dpi_server/DpiEntryPoints.cpp
  lib/Dialect/ESI/runtime/cosim/cosim_dpi_server/dpi.h
  lib/Dialect/ESI/runtime/cosim/include/cosim/CapnpThreads.h
  lib/Dialect/ESI/runtime/cosim/lib/CapnpThreads.cpp
  lib/Dialect/ESI/runtime/cosim/lib/Endpoint.cpp
  lib/Dialect/ESI/runtime/cosim/lib/Server.cpp
Labels: ESI

#7054 [Comb] Fix MuxRewriter to eraseOperand in rewriter-aware way.
  lib/Dialect/Comb/CombFolds.cpp
Labels: Comb

#7055 [LLHD] Fix operand assignments not going through rewriter.
  lib/Dialect/LLHD/IR/LLHDOps.cpp
Labels: LLHD

#7036 [Moore] Simplify and move RealType definition into ODS
  include/circt-c/Dialect/Moore.h
  include/circt/Dialect/Moore/MooreTypes.h
  include/circt/Dialect/Moore/MooreTypes.td
  lib/CAPI/Dialect/Moore.cpp
  lib/Conversion/ImportVerilog/Types.cpp
  lib/Dialect/Moore/MooreTypes.cpp
  test/Conversion/ImportVerilog/types.sv
  test/Dialect/Moore/types.mlir
  unittests/Dialect/Moore/TypesTest.cpp
Labels: Moore

#7059 [ESI][Runtime] Refactor cosim backend to be thread safe
  integration_test/Dialect/ESI/runtime/loopback.mlir.py
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim/cosim_dpi_server/DpiEntryPoints.cpp
  lib/Dialect/ESI/runtime/cosim/include/cosim/CapnpThreads.h
  lib/Dialect/ESI/runtime/cosim/include/cosim/Endpoint.h
  lib/Dialect/ESI/runtime/cosim/lib/CapnpThreads.cpp
  lib/Dialect/ESI/runtime/cosim/lib/Client.cpp
  lib/Dialect/ESI/runtime/cosim/lib/Endpoint.cpp
  lib/Dialect/ESI/runtime/cosim/lib/Server.cpp
  lib/Dialect/ESI/runtime/cpp/include/esi/Common.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Cosim.h
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
Labels: ESI

#7056 [FIRRTL] Fix width of attribute in MuxPadSel canonicalizations.
  include/circt/Dialect/FIRRTL/FIRRTLCanonicalization.td
Labels: FIRRTL

#7049 [FIRRTL][Folds] Fix patterns to use rewriter for RAUW
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
Labels: FIRRTL

#7062 [PyCDE] Move build and publishing pipeline into repo
  .github/workflows/pycdePublish.yml
  frontends/PyCDE/pyproject.toml
  frontends/PyCDE/setup.py
  lib/Dialect/ESI/runtime/CMakeLists.txt
Labels: PyCDE

#7039 [ImportVerilog] Support member-access expression
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  test/Conversion/ImportVerilog/basic.sv
Labels: Moore

#7066 [ImportVerilog] Support set membership operator.
  lib/Conversion/ImportVerilog/Expressions.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/errors.sv
Labels: Moore

#7022 [Verif] Add clocked Assert Assume Cover ops
  include/circt/Dialect/Verif/CMakeLists.txt
  include/circt/Dialect/Verif/Passes.td
  include/circt/Dialect/Verif/Verif.td
  include/circt/Dialect/Verif/VerifDialect.h
  include/circt/Dialect/Verif/VerifOps.td
  include/circt/Dialect/Verif/VerifPasses.h
  include/circt/Dialect/Verif/VerifVisitors.h
  include/circt/InitAllPasses.h
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Dialect/Verif/CMakeLists.txt
  lib/Dialect/Verif/Transforms/CMakeLists.txt
  lib/Dialect/Verif/Transforms/PassDetails.h
  lib/Dialect/Verif/Transforms/VerifyClockedAssertLike.cpp
  lib/Dialect/Verif/VerifDialect.cpp
  lib/Dialect/Verif/VerifOps.cpp
  lib/Firtool/CMakeLists.txt
  lib/Firtool/Firtool.cpp
  test/Conversion/ExportVerilog/verif.mlir
  test/Dialect/Verif/verify.mlir
  tools/circt-opt/CMakeLists.txt
  tools/firtool/CMakeLists.txt
  tools/firtool/firtool.cpp
Labels: verif

#7088 [Moore] Move array types into ODS
  include/circt-c/Dialect/Moore.h
  include/circt/Dialect/Moore/MooreTypes.h
  include/circt/Dialect/Moore/MooreTypes.td
  lib/CAPI/Dialect/Moore.cpp
  lib/Conversion/ImportVerilog/Types.cpp
  lib/Conversion/MooreToCore/MooreToCore.cpp
  lib/Dialect/Moore/MooreTypes.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/types.sv
  test/Dialect/Moore/basic.mlir
  test/Dialect/Moore/types-errors.mlir
  test/Dialect/Moore/types.mlir
  unittests/Dialect/Moore/TypesTest.cpp
Labels: Moore

#7090 [Moore] Support stripped type parsing and printing
  include/circt/Dialect/Moore/MooreOps.td
  include/circt/Dialect/Moore/MooreTypes.h
  lib/Dialect/Moore/MooreOps.cpp
  lib/Dialect/Moore/MooreTypes.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/types.sv
  test/Conversion/MooreToCore/basic.mlir
  test/Dialect/Moore/basic.mlir
  test/Dialect/Moore/types-errors.mlir
  test/Dialect/Moore/types.mlir
Labels: Moore

#7091 [Moore] Move struct types into ODS
  include/circt/Dialect/Moore/MooreTypes.h
  include/circt/Dialect/Moore/MooreTypes.td
  lib/Conversion/ImportVerilog/Types.cpp
  lib/Dialect/Moore/MooreTypes.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/types.sv
  test/Dialect/Moore/types-errors.mlir
  test/Dialect/Moore/types.mlir
  unittests/Dialect/Moore/TypesTest.cpp
Labels: Moore

#7061 [Arc] Initial SLP support
  include/circt/Dialect/Arc/ArcPasses.h
  include/circt/Dialect/Arc/ArcPasses.td
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/FindInitialVectors.cpp
  test/Dialect/Arc/find-initial-vectors.mlir
Labels: Arc

#7097 [FIRRTL] Drop Hoistpassthroughs pass.
  include/circt-c/Firtool/Firtool.h
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  include/circt/Firtool/Firtool.h
  lib/CAPI/Firtool/Firtool.cpp
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/HoistPassthrough.cpp
  lib/Firtool/Firtool.cpp
  test/Dialect/FIRRTL/hoist-passthrough.mlir
  test/firtool/passthrough-flips.fir
  test/firtool/passthrough.fir
Labels: FIRRTL

#7084 [ImportVerilog][Moore] Support union type
  include/circt/Dialect/Moore/MooreOps.td
  include/circt/Dialect/Moore/MooreTypes.h
  include/circt/Dialect/Moore/MooreTypes.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/Types.cpp
  lib/Dialect/Moore/MooreTypes.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/types-errors.sv
  test/Dialect/Moore/types-errors.mlir
  unittests/Dialect/Moore/TypesTest.cpp
Labels: Moore

#7083 [ImportVerilog] Support parameter constants.
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Structure.cpp
  lib/Dialect/Moore/MooreOps.cpp
  test/Conversion/ImportVerilog/basic.sv
Labels: Moore
