Repository llvm/circt, pull requests merged in 2024-06, with the labels that each got.

#7112 [Moore] Add module and instance port support
  include/circt/Dialect/Moore/MooreDialect.td
  include/circt/Dialect/Moore/MooreOps.h
  include/circt/Dialect/Moore/MooreOps.td
  include/circt/Dialect/Moore/MooreTypes.td
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Structure.cpp
  lib/Conversion/ImportVerilog/Types.cpp
  lib/Dialect/Moore/CMakeLists.txt
  lib/Dialect/Moore/MooreDialect.cpp
  lib/Dialect/Moore/MooreOps.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/errors.sv
  test/Dialect/Moore/basic.mlir
  test/Dialect/Moore/errors.mlir
Labels: Moore

#6950 [ImportVerilog] Add conditional operator.
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Dialect/Moore/MooreOps.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Dialect/Moore/basic.mlir
  test/Dialect/Moore/errors.mlir
Labels: Verilog/SystemVerilog

#7131 [Docs][LTL] Add SVA Encodings to LTL rationale
  docs/Dialects/LTL.md
Labels: documentation

#7095 [Moore] Introduce RefType and tweak the related ops.
  include/circt/Dialect/Moore/MooreOps.td
  include/circt/Dialect/Moore/MooreTypes.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Statements.cpp
  lib/Conversion/ImportVerilog/Structure.cpp
  lib/Dialect/Moore/MooreOps.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/types.sv
  test/Dialect/Moore/basic.mlir
  test/Dialect/Moore/errors.mlir
Labels: Moore

#7052 [Handshake] Fix canonicalizer not going through rewriter for RAUW.
  lib/Dialect/Handshake/HandshakeOps.cpp
Labels: Handshake

#7137 [FIRRTL][Parser] Never use forceable
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/parse-basic.fir
Labels: FIRRTL

#7082 [Moore] Introduce Mem2Reg to eliminate local variables
  include/circt/Dialect/Moore/MooreOps.h
  include/circt/Dialect/Moore/MooreOps.td
  lib/Dialect/Moore/CMakeLists.txt
  lib/Dialect/Moore/MooreOps.cpp
  test/Dialect/Moore/mem2reg.mlir
  tools/circt-opt/circt-opt.cpp
  tools/circt-verilog/CMakeLists.txt
  tools/circt-verilog/circt-verilog.cpp
Labels: Moore

#7161 [Moore] Add the SimplifyProcedures pass.
  include/circt/Dialect/Moore/CMakeLists.txt
  include/circt/Dialect/Moore/MoorePasses.h
  include/circt/Dialect/Moore/MoorePasses.td
  include/circt/InitAllPasses.h
  lib/Dialect/Moore/CMakeLists.txt
  lib/Dialect/Moore/Transforms/CMakeLists.txt
  lib/Dialect/Moore/Transforms/PassDetail.h
  lib/Dialect/Moore/Transforms/SimplifyProcedures.cpp
  test/Dialect/Moore/simplify-procedures.mlir
  tools/circt-opt/CMakeLists.txt
Labels: Moore

#7170 [LowerDPI] Defer deletion of call ops to prevent inavlid access.
  lib/Dialect/FIRRTL/Transforms/LowerDPI.cpp
Labels: bug, FIRRTL

#7154 [Moore] Add evenOp to handle event controls.
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/CMakeLists.txt
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Statements.cpp
  lib/Conversion/ImportVerilog/TimingControls.cpp
  test/Conversion/ImportVerilog/basic.sv
Labels: Moore

#7122 [ImportVerilog][MooreToCore]Lower moore.namedConstant to hw.param.value
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Structure.cpp
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/MooreToCore/basic.mlir
Labels: Moore

#7182 [NFCI][Calyx] Refactor TableGen Pass includes
  include/circt/Dialect/Calyx/CalyxPasses.h
  lib/Dialect/Calyx/Transforms/ClkResetInsertion.cpp
  lib/Dialect/Calyx/Transforms/CompileControl.cpp
  lib/Dialect/Calyx/Transforms/GICM.cpp
  lib/Dialect/Calyx/Transforms/GoInsertion.cpp
  lib/Dialect/Calyx/Transforms/PassDetails.h
  lib/Dialect/Calyx/Transforms/RemoveCombGroups.cpp
  lib/Dialect/Calyx/Transforms/RemoveGroups.cpp
Labels: Calyx

#7175 [Verif] Add PrepareForFormal pass
  include/circt/Dialect/Verif/Passes.td
  include/circt/Dialect/Verif/VerifPasses.h
  lib/Conversion/HWToBTOR2/HWToBTOR2.cpp
  lib/Dialect/Verif/Transforms/CMakeLists.txt
  lib/Dialect/Verif/Transforms/PrepareForFormal.cpp
  lib/Firtool/Firtool.cpp
  test/Conversion/HWToBTOR2/alias.mlir
  test/Conversion/HWToBTOR2/comb.mlir
  test/Conversion/HWToBTOR2/combOOO.mlir
  test/Dialect/Verif/prepare-for-formal.mlir
Labels: verif

#7180 [NFCI][Comb][HW][Seq] Refactor TableGen Pass includes
  include/circt/Dialect/HW/HWPasses.h
  lib/Dialect/Comb/Transforms/LowerComb.cpp
  lib/Dialect/Comb/Transforms/PassDetails.h
  lib/Dialect/HW/Transforms/FlattenIO.cpp
  lib/Dialect/HW/Transforms/FooWires.cpp
  lib/Dialect/HW/Transforms/HWPrintInstanceGraph.cpp
  lib/Dialect/HW/Transforms/HWSpecialize.cpp
  lib/Dialect/HW/Transforms/PassDetails.h
  lib/Dialect/HW/Transforms/PrintHWModuleGraph.cpp
  lib/Dialect/HW/Transforms/VerifyInnerRefNamespace.cpp
  lib/Dialect/Seq/Transforms/ExternalizeClockGate.cpp
  lib/Dialect/Seq/Transforms/HWMemSimImpl.cpp
  lib/Dialect/Seq/Transforms/LowerSeqFIFO.cpp
  lib/Dialect/Seq/Transforms/LowerSeqHLMem.cpp
  lib/Dialect/Seq/Transforms/LowerSeqShiftReg.cpp
  lib/Dialect/Seq/Transforms/PassDetails.h
Labels: HW, Comb, Seq

#7179 [NFCI][ESI][Ibis][MSFT] Refactor TableGen Pass includes
  include/circt/Dialect/ESI/ESIPasses.h
  include/circt/Dialect/Ibis/IbisPasses.h
  include/circt/Dialect/MSFT/MSFTPasses.h
  lib/Dialect/ESI/ESIServices.cpp
  lib/Dialect/ESI/PassDetails.h
  lib/Dialect/ESI/Passes/ESIAppIDHier.cpp
  lib/Dialect/ESI/Passes/ESIBuildManifest.cpp
  lib/Dialect/ESI/Passes/ESICleanMetadata.cpp
  lib/Dialect/ESI/Passes/ESILowerBundles.cpp
  lib/Dialect/ESI/Passes/ESILowerPhysical.cpp
  lib/Dialect/ESI/Passes/ESILowerPorts.cpp
  lib/Dialect/ESI/Passes/ESILowerToHW.cpp
  lib/Dialect/ESI/Passes/ESILowerTypes.cpp
  lib/Dialect/Ibis/Transforms/IbisAddOperatorLibrary.cpp
  lib/Dialect/Ibis/Transforms/IbisArgifyBlocksPass.cpp
  lib/Dialect/Ibis/Transforms/IbisCallPrep.cpp
  lib/Dialect/Ibis/Transforms/IbisCleanSelfdrivers.cpp
  lib/Dialect/Ibis/Transforms/IbisContainerize.cpp
  lib/Dialect/Ibis/Transforms/IbisContainersToHW.cpp
  lib/Dialect/Ibis/Transforms/IbisConvertCFToHandshake.cpp
  lib/Dialect/Ibis/Transforms/IbisConvertHandshakeToDC.cpp
  lib/Dialect/Ibis/Transforms/IbisInlineSBlocksPass.cpp
  lib/Dialect/Ibis/Transforms/IbisMethodsToContainers.cpp
  lib/Dialect/Ibis/Transforms/IbisPortrefLowering.cpp
  lib/Dialect/Ibis/Transforms/IbisPrepareScheduling.cpp
  lib/Dialect/Ibis/Transforms/IbisReblockPass.cpp
  lib/Dialect/Ibis/Transforms/IbisTunneling.cpp
  lib/Dialect/Ibis/Transforms/PassDetails.h
  lib/Dialect/MSFT/Transforms/MSFTExportTcl.cpp
  lib/Dialect/MSFT/Transforms/MSFTLowerConstructs.cpp
  lib/Dialect/MSFT/Transforms/MSFTLowerInstances.cpp
  lib/Dialect/MSFT/Transforms/PassDetails.h
Labels: ESI, msft, Ibis

#7183 [NFCI][LLHD][Moore][SV][Verif] Refactor TableGen Pass includes
  include/circt/Dialect/Moore/MoorePasses.h
  include/circt/Dialect/SV/SVPasses.h
  lib/Dialect/LLHD/Transforms/EarlyCodeMotionPass.cpp
  lib/Dialect/LLHD/Transforms/FunctionEliminationPass.cpp
  lib/Dialect/LLHD/Transforms/MemoryToBlockArgumentPass.cpp
  lib/Dialect/LLHD/Transforms/PassDetails.h
  lib/Dialect/LLHD/Transforms/ProcessLoweringPass.cpp
  lib/Dialect/Moore/Transforms/PassDetail.h
  lib/Dialect/Moore/Transforms/SimplifyProcedures.cpp
  lib/Dialect/SV/Transforms/GeneratorCallout.cpp
  lib/Dialect/SV/Transforms/HWCleanup.cpp
  lib/Dialect/SV/Transforms/HWEliminateInOutPorts.cpp
  lib/Dialect/SV/Transforms/HWExportModuleHierarchy.cpp
  lib/Dialect/SV/Transforms/HWLegalizeModules.cpp
  lib/Dialect/SV/Transforms/HWStubExternalModules.cpp
  lib/Dialect/SV/Transforms/PassDetail.h
  lib/Dialect/SV/Transforms/PrettifyVerilog.cpp
  lib/Dialect/SV/Transforms/SVExtractTestCode.cpp
  lib/Dialect/SV/Transforms/SVTraceIVerilog.cpp
  lib/Dialect/Verif/Transforms/PassDetails.h
  lib/Dialect/Verif/Transforms/PrepareForFormal.cpp
  lib/Dialect/Verif/Transforms/VerifyClockedAssertLike.cpp
Labels: LLHD, Verilog/SystemVerilog, Moore, verif

#7199 [FIRRTL][SpecializeLayers] Update doc with proper attribute name
  include/circt/Dialect/FIRRTL/Passes.td
Labels: FIRRTL

#7181 [NFCI][DC][FSM][Handshake][Pipeline] Refactor TableGen Pass includes
  include/circt/Dialect/Handshake/HandshakePasses.h
  lib/Dialect/DC/Transforms/DCMaterialization.cpp
  lib/Dialect/DC/Transforms/PassDetails.h
  lib/Dialect/FSM/Transforms/PassDetails.h
  lib/Dialect/FSM/Transforms/PrintFSMGraph.cpp
  lib/Dialect/Handshake/Transforms/Analysis.cpp
  lib/Dialect/Handshake/Transforms/Buffers.cpp
  lib/Dialect/Handshake/Transforms/LegalizeMemrefs.cpp
  lib/Dialect/Handshake/Transforms/LockFunctions.cpp
  lib/Dialect/Handshake/Transforms/LowerExtmemToHW.cpp
  lib/Dialect/Handshake/Transforms/Materialization.cpp
  lib/Dialect/Handshake/Transforms/PassDetails.h
  lib/Dialect/Handshake/Transforms/PassHelpers.cpp
  lib/Dialect/Handshake/Transforms/SplitMerges.cpp
  lib/Dialect/Pipeline/Transforms/ExplicitRegs.cpp
  lib/Dialect/Pipeline/Transforms/PassDetails.h
  lib/Dialect/Pipeline/Transforms/ScheduleLinearPipeline.cpp
Labels: Handshake, FSM, Pipeline, DC

#7184 [NFCI][OM][SSP][SystemC] Refactor TableGen Pass includes
  include/circt/Dialect/SSP/SSPPasses.h
  lib/Dialect/OM/Transforms/FreezePaths.cpp
  lib/Dialect/OM/Transforms/LinkModules.cpp
  lib/Dialect/OM/Transforms/PassDetails.h
  lib/Dialect/OM/Transforms/VerifyObjectFields.cpp
  lib/Dialect/SSP/Transforms/PassDetails.h
  lib/Dialect/SSP/Transforms/Print.cpp
  lib/Dialect/SSP/Transforms/Roundtrip.cpp
  lib/Dialect/SSP/Transforms/Schedule.cpp
  lib/Dialect/SystemC/Transforms/PassDetails.h
  lib/Dialect/SystemC/Transforms/SystemCLowerInstanceInterop.cpp
Labels: SystemC, OM

#7198 [FIRRTL][CheckCombLoops] Verify that detection works with region ops
  test/Dialect/FIRRTL/check-comb-loops.mlir
Labels: FIRRTL

#7203 [FIRRTL][NFC] Fast-path removeAnnotations for operations having none.
  lib/Dialect/FIRRTL/FIRRTLAnnotations.cpp
Labels: FIRRTL

#7153 [ESI][PyCDE] Callback service
  frontends/PyCDE/integration_test/CMakeLists.txt
  frontends/PyCDE/integration_test/esitester.py
  frontends/PyCDE/integration_test/lit.cfg.py
  frontends/PyCDE/src/pycde/constructs.py
  frontends/PyCDE/src/pycde/esi.py
  frontends/PyCDE/src/pycde/module.py
  include/circt/Dialect/ESI/ESIStdServices.td
  integration_test/CMakeLists.txt
  integration_test/Dialect/ESI/runtime/callback.mlir
  integration_test/lit.cfg.py
  lib/Dialect/ESI/ESIStdServices.cpp
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Common.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Ports.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Services.h
  lib/Dialect/ESI/runtime/cpp/lib/Accelerator.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Services.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esitester.cpp
Labels: ESI

#7202 [Moore] Support unconnected behavior
  docs/Dialects/Moore.md
  lib/Conversion/ImportVerilog/Structure.cpp
  test/Conversion/ImportVerilog/basic.sv
Labels: Moore

#7219 [Moore] Fix the stacking fault caused by cast and remove unused headers
  include/circt/Dialect/Moore/MoorePasses.td
  lib/Dialect/Moore/Transforms/SimplifyProcedures.cpp
  test/Dialect/Moore/simplify-procedures.mlir
Labels: Moore

#7222 README.md: remove link to dead build
  README.md
Labels: documentation

#7150 [FIRRTL][Verif][LTL] Replace `ltl.disable` with an enable folded into `verif.assert`
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  include/circt/Dialect/FIRRTL/FIRRTLIntrinsics.h
  include/circt/Dialect/FIRRTL/FIRRTLStatements.td
  include/circt/Dialect/FIRRTL/FIRRTLVisitors.h
  include/circt/Dialect/LTL/LTLOps.td
  include/circt/Dialect/LTL/LTLVisitors.h
  include/circt/Dialect/Verif/VerifOps.td
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Conversion/HWToBTOR2/HWToBTOR2.cpp
  lib/Conversion/LTLToCore/LTLToCore.cpp
  lib/Dialect/FIRRTL/FIRRTLIntrinsics.cpp
  lib/Dialect/FIRRTL/Transforms/ExpandWhens.cpp
  lib/Dialect/LTL/LTLFolds.cpp
  lib/Dialect/Verif/Transforms/CMakeLists.txt
  lib/Dialect/Verif/Transforms/VerifyClockedAssertLike.cpp
  lib/Dialect/Verif/VerifOps.cpp
  test/Conversion/ExportVerilog/prepare-for-emission.mlir
  test/Conversion/ExportVerilog/verif.mlir
  test/Conversion/FIRRTLToHW/intrinsics.mlir
  test/Conversion/HWToBTOR2/init.mlir
  test/Conversion/LTLToCore/assertproperty.mlir
  test/Dialect/FIRRTL/expand-whens.mlir
  test/Dialect/FIRRTL/lower-intrinsics.mlir
  test/Dialect/LTL/basic.mlir
  test/Dialect/LTL/canonicalization.mlir
  test/Dialect/Verif/canonicalization.mlir
  test/Dialect/Verif/verify.mlir
  test/firtool/btor2-assertproperty.fir
  test/firtool/extract-test-code.fir
Labels: FIRRTL, verif

#7217 [ESI Runtime] Replace Cap'nProto with gRPC
  .github/workflows/nightlyIntegrationTests.yml
  .github/workflows/shortIntegrationTests.yml
  docs/Dialects/ESI/cosim.md
  frontends/PyCDE/integration_test/esitester.py
  integration_test/Dialect/ESI/runtime/basic_mmio.sv
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim/CosimDpi.capnp
  lib/Dialect/ESI/runtime/cosim/Cosim_DpiPkg.sv
  lib/Dialect/ESI/runtime/cosim/cosim.proto
  lib/Dialect/ESI/runtime/cosim/cosim_dpi_server/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim/cosim_dpi_server/DpiEntryPoints.cpp
  lib/Dialect/ESI/runtime/cosim/cosim_dpi_server/dpi.h
  lib/Dialect/ESI/runtime/cosim/include/cosim/CapnpThreads.h
  lib/Dialect/ESI/runtime/cosim/include/cosim/Endpoint.h
  lib/Dialect/ESI/runtime/cosim/include/cosim/LowLevel.h
  lib/Dialect/ESI/runtime/cosim/include/cosim/Utils.h
  lib/Dialect/ESI/runtime/cosim/include/esi/cosim/RpcServer.h
  lib/Dialect/ESI/runtime/cosim/lib/CapnpThreads.cpp
  lib/Dialect/ESI/runtime/cosim/lib/Client.cpp
  lib/Dialect/ESI/runtime/cosim/lib/Endpoint.cpp
  lib/Dialect/ESI/runtime/cosim/lib/RpcServer.cpp
  lib/Dialect/ESI/runtime/cosim/lib/Server.cpp
  lib/Dialect/ESI/runtime/cpp/include/esi/Utils.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Cosim.h
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esitester.cpp
  utils/get-capnp.sh
  utils/get-grpc.sh
Labels: ESI

#7186 [ESI Runtime] Read ports now invoke callbacks
  frontends/PyCDE/integration_test/test_software/esi_ram.py
  frontends/PyCDE/integration_test/test_software/esi_test.py
  integration_test/Dialect/ESI/runtime/loopback.mlir.py
  lib/Dialect/ESI/runtime/cosim/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim/cosim_dpi_server/DpiEntryPoints.cpp
  lib/Dialect/ESI/runtime/cosim/lib/RpcServer.cpp
  lib/Dialect/ESI/runtime/cpp/include/esi/Ports.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Services.h
  lib/Dialect/ESI/runtime/cpp/lib/Accelerator.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Ports.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Services.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esitester.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/esiCppAccel.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/types.py
Labels: ESI

#7238 [ESI Runtime] Rename cmake targets, create full build one
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim/cosim_dpi_server/CMakeLists.txt
  utils/get-grpc.sh
Labels: ESI

#7232 [FIRRTL] lower-layers.mlir: fix incorrect op name in test
  test/Dialect/FIRRTL/lower-layers.mlir
Labels: FIRRTL

#7244 [Moore] Add extra class declaration for RefType.
  include/circt/Dialect/Moore/MooreTypes.td
  unittests/Dialect/Moore/TypesTest.cpp
Labels: Moore

#7243 [ImportVerilog] Support Generate constructs
  lib/Conversion/ImportVerilog/Structure.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/errors.sv
Labels: Moore
