Repository llvm/circt, pull requests merged in 2024-12, with the labels that each got.

#7856 [RTG] Add TestOp, TargetOp, and DictType
  include/circt/Dialect/RTG/IR/RTGInterfaces.td
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGTypes.h
  include/circt/Dialect/RTG/IR/RTGTypes.td
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  include/circt/Dialect/RTGTest/IR/RTGTestOps.td
  lib/Dialect/RTG/IR/RTGOps.cpp
  lib/Dialect/RTG/IR/RTGTypes.cpp
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/IR/errors.mlir
  test/Dialect/RTGTest/IR/basic.mlir
Labels: RTG

#7887 [RTG] Add BagType and operations
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGTypes.td
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  lib/Dialect/RTG/IR/RTGOps.cpp
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/IR/errors.mlir
Labels: RTG

#7940 [RTG] Generate separate doc files for ops and types
  include/circt/Dialect/RTG/IR/CMakeLists.txt
Labels: RTG

#7882 [RTG][RTGTest] Add CAPI and a basic lowering pipeline
  include/circt-c/Dialect/RTG.h
  include/circt-c/Dialect/RTGTest.h
  include/circt-c/RtgTool.h
  include/circt/Dialect/RTGTest/IR/RTGTestTypes.td
  include/circt/Tools/rtgtool/RtgToolOptions.h
  lib/CAPI/CMakeLists.txt
  lib/CAPI/Dialect/CMakeLists.txt
  lib/CAPI/Dialect/RTG.cpp
  lib/CAPI/Dialect/RTGTest.cpp
  lib/CAPI/RtgTool/CMakeLists.txt
  lib/CAPI/RtgTool/RtgTool.cpp
  lib/Tools/CMakeLists.txt
  lib/Tools/rtgtool/CMakeLists.txt
  lib/Tools/rtgtool/RtgToolOptions.cpp
  test/CAPI/CMakeLists.txt
  test/CAPI/rtg-pipelines.c
  test/CAPI/rtg.c
  test/CAPI/rtgtest.c
  test/CMakeLists.txt
  test/lit.cfg.py
Labels: RTG

#7888 [RTG] Add BagType CAPI and Python Bindings
  include/circt-c/Dialect/RTG.h
  integration_test/Bindings/Python/dialects/rtg.py
  lib/Bindings/Python/RTGModule.cpp
  lib/CAPI/Dialect/RTG.cpp
  test/CAPI/rtg.c
Labels: RTG

#7902 [RTG] Add RegisterOpInterface
  include/circt/Dialect/RTG/IR/CMakeLists.txt
  include/circt/Dialect/RTG/IR/RTGISAAssemblyInterfaces.td
  include/circt/Dialect/RTG/IR/RTGISAAssemblyOpInterfaces.h
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  lib/Dialect/RTG/IR/CMakeLists.txt
  lib/Dialect/RTG/IR/RTGISAAssemblyOpInterfaces.cpp
Labels: RTG

#7301 Lower MemRef GetGlobal and write data to json files
  include/circt/Conversion/Passes.td
  include/circt/Dialect/Calyx/CalyxLoweringUtils.h
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/Transforms/CalyxLoweringUtils.cpp
  test/Conversion/SCFToCalyx/write_memory.mlir
Labels: Calyx

#7382 [ImportVerilog] Add HierarchicalNames.cpp to support hierarchical names.
  lib/Conversion/ImportVerilog/CMakeLists.txt
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/HierarchicalNames.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Structure.cpp
  test/Conversion/ImportVerilog/hierarchical-names.sv
Labels: Moore, ImportVerilog

#7945 [DC] Initial values were being ignored
  integration_test/Dialect/Handshake/buffer_arg_init/buffer_arg_init.mlir
  integration_test/Dialect/Handshake/buffer_arg_init/buffer_arg_init.py
  integration_test/Dialect/Handshake/buffer_init_none/buffer_init_none.mlir
  integration_test/Dialect/Handshake/buffer_initial_values/buffer_initial_values.mlir
  integration_test/Dialect/Handshake/sync_backedge/sync_backedge.mlir
  integration_test/Dialect/Handshake/sync_op/sync_op.mlir
  integration_test/Dialect/Handshake/tuple_packing/tuple_packing.mlir
  lib/Conversion/DCToHW/DCToHW.cpp
  lib/Conversion/HandshakeToDC/HandshakeToDC.cpp
Labels: DC

#7876 [RTG] Add ElaborationPass
  docs/Dialects/RTG.md
  include/circt/Dialect/RTG/CMakeLists.txt
  include/circt/Dialect/RTG/Transforms/CMakeLists.txt
  include/circt/Dialect/RTG/Transforms/RTGPasses.h
  include/circt/Dialect/RTG/Transforms/RTGPasses.td
  include/circt/Dialect/RTGTest/IR/RTGTestOps.td
  include/circt/InitAllPasses.h
  lib/Dialect/RTG/CMakeLists.txt
  lib/Dialect/RTG/Transforms/CMakeLists.txt
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  lib/Dialect/RTGTest/IR/RTGTestOps.cpp
  test/Dialect/RTG/Transform/elaboration.mlir
  test/Dialect/RTGTest/IR/basic.mlir
Labels: RTG

#7892 [RTG][Elaboration] Elaboration support for Bags
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/Dialect/RTG/Transform/elaboration.mlir
Labels: RTG

#7916 [RTG] Add set union operation
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/IR/errors.mlir
  test/Dialect/RTG/Transform/elaboration.mlir
Labels: RTG

#7917 [RTG] Add bag union operation
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/IR/errors.mlir
  test/Dialect/RTG/Transform/elaboration.mlir
Labels: RTG

#7920 [RTG] Add set_size op for sets and bag_unique_size op for bags
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  test/Dialect/RTG/IR/basic.mlir
Labels: RTG

#7981 [firtool] Add option to disable layer sink
  include/circt-c/Firtool/Firtool.h
  include/circt/Firtool/Firtool.h
  lib/CAPI/Firtool/Firtool.cpp
  lib/Firtool/Firtool.cpp
Labels: FIRRTL

#7977 [SCFToCalyx] buildLibraryOp cast floating point to integer types
  include/circt/Dialect/Calyx/CalyxLoweringUtils.h
  lib/Conversion/LoopScheduleToCalyx/LoopScheduleToCalyx.cpp
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/Transforms/CalyxLoweringUtils.cpp
  test/Conversion/SCFToCalyx/convert_simple.mlir
Labels: Calyx

#7993 [SCFToCalyx] Add indent size annotation when writing json files
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Labels: Calyx

#7995 [firtool] initialize the disableLayerSink flag
  lib/Firtool/Firtool.cpp
Labels: FIRRTL

#7893 [MooreToCore] Lower the unpacked array type to `hw.array`
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Labels: Moore

#7964 [RTG] Add operation and types to represent labels
  include/circt-c/Dialect/RTG.h
  include/circt/Dialect/RTG/IR/CMakeLists.txt
  include/circt/Dialect/RTG/IR/RTGDialect.h
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGTypes.td
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  integration_test/Bindings/Python/dialects/rtg.py
  lib/Bindings/Python/RTGModule.cpp
  lib/CAPI/Dialect/RTG.cpp
  lib/Dialect/RTG/IR/CMakeLists.txt
  lib/Dialect/RTG/IR/RTGDialect.cpp
  test/CAPI/rtg.c
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/IR/cse.mlir
Labels: RTG

#8003 [Seq] Fix FIFO lowering to correct depth and pointer increments
  include/circt/Dialect/Seq/SeqPasses.td
  integration_test/Dialect/Seq/fifo/fifo.mlir
  integration_test/Dialect/Seq/fifo/fifo.py
  lib/Dialect/Seq/Transforms/CMakeLists.txt
  lib/Dialect/Seq/Transforms/LowerSeqFIFO.cpp
  test/Dialect/Seq/lower-fifo.mlir
Labels: Seq

#8008 [PyCDE] Update build flow
  frontends/PyCDE/pyproject.toml
  frontends/PyCDE/setup.py
  frontends/PyCDE/src/CMakeLists.txt
Labels: PyCDE

#8009 [ESI] FIFO: support valid/ready on inputs and outputs
  integration_test/Dialect/ESI/widgets/esi_widgets.mlir
  integration_test/Dialect/ESI/widgets/esi_widgets.py
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/Passes/ESILowerPhysical.cpp
  test/Dialect/ESI/lowering.mlir
Labels: ESI

#8011 [PyCDE] Add fork, join, and merge channel functions
  frontends/PyCDE/integration_test/esi_advanced.py
  frontends/PyCDE/integration_test/test_software/esi_advanced.py
  frontends/PyCDE/src/pycde/bsp/__init__.py
  frontends/PyCDE/src/pycde/signals.py
  frontends/PyCDE/src/pycde/types.py
  frontends/PyCDE/test/test_esi_advanced.py
Labels: PyCDE

#8014 [Comb] delete slow canonicalizer
  lib/Dialect/Comb/CombFolds.cpp
  test/Dialect/Comb/canonicalization.mlir
Labels: Comb
