Repository llvm/circt, pull requests merged in 2024-04, with the labels that each got.

#6888 [Pipeline] Remove `Pure` trait from Pipeline operations
  include/circt/Dialect/Pipeline/PipelineOps.td
  test/Dialect/Pipeline/canonicalization.mlir
Labels: Pipeline

#6835 [Ibis] Introduce 'ibis.design'
  include/circt/Dialect/HW/InnerSymbolTable.h
  include/circt/Dialect/Ibis/IbisInterfaces.td
  include/circt/Dialect/Ibis/IbisOps.h
  include/circt/Dialect/Ibis/IbisOps.td
  include/circt/Dialect/Ibis/IbisPasses.td
  include/circt/Dialect/Ibis/IbisTypes.h
  include/circt/Dialect/Ibis/IbisTypes.td
  integration_test/Dialect/Ibis/end_to_end.mlir
  lib/Dialect/HW/InnerSymbolTable.cpp
  lib/Dialect/Ibis/IbisOps.cpp
  lib/Dialect/Ibis/IbisTypes.cpp
  lib/Dialect/Ibis/Transforms/CMakeLists.txt
  lib/Dialect/Ibis/Transforms/IbisCallPrep.cpp
  lib/Dialect/Ibis/Transforms/IbisCleanSelfdrivers.cpp
  lib/Dialect/Ibis/Transforms/IbisContainerize.cpp
  lib/Dialect/Ibis/Transforms/IbisContainersToHW.cpp
  lib/Dialect/Ibis/Transforms/IbisMethodsToContainers.cpp
  lib/Dialect/Ibis/Transforms/IbisPassPipelines.cpp
  lib/Dialect/Ibis/Transforms/IbisTunneling.cpp
  test/Dialect/Ibis/Transforms/argify_blocks.mlir
  test/Dialect/Ibis/Transforms/cf_to_handshake.mlir
  test/Dialect/Ibis/Transforms/clean_selfdrivers.mlir
  test/Dialect/Ibis/Transforms/containerize.mlir
  test/Dialect/Ibis/Transforms/containers_to_hw.mlir
  test/Dialect/Ibis/Transforms/handshake_to_dc.mlir
  test/Dialect/Ibis/Transforms/inline_sblocks.mlir
  test/Dialect/Ibis/Transforms/methods_to_containers.mlir
  test/Dialect/Ibis/Transforms/path_end_to_end.mlir
  test/Dialect/Ibis/Transforms/portref_lowering.mlir
  test/Dialect/Ibis/Transforms/prepare_scheduling.mlir
  test/Dialect/Ibis/Transforms/reblock.mlir
  test/Dialect/Ibis/Transforms/schedule_pipeline.mlir
  test/Dialect/Ibis/Transforms/scoperef_tunneling.mlir
  test/Dialect/Ibis/Transforms/structure.mlir
  test/Dialect/Ibis/Transforms/tunneling_errors.mlir
  test/Dialect/Ibis/canonicalization.mlir
  test/Dialect/Ibis/errors.mlir
  test/Dialect/Ibis/inner_ref_errors.mlir
  test/Dialect/Ibis/round-trip.mlir
  test/ibistool/high_level.mlir
  test/ibistool/output_format.mlir
  tools/ibistool/ibistool.cpp
Labels: Ibis

#6909 [Ibis] Divorce port name (hints) from port symbol names
  include/circt/Dialect/Ibis/IbisOps.td
  integration_test/Dialect/Ibis/end_to_end.mlir
  lib/Dialect/Ibis/Transforms/IbisCleanSelfdrivers.cpp
  lib/Dialect/Ibis/Transforms/IbisContainersToHW.cpp
  lib/Dialect/Ibis/Transforms/IbisMethodsToContainers.cpp
  lib/Dialect/Ibis/Transforms/IbisPortrefLowering.cpp
  lib/Dialect/Ibis/Transforms/IbisTunneling.cpp
  test/Dialect/Ibis/Transforms/clean_selfdrivers.mlir
  test/Dialect/Ibis/Transforms/containerize.mlir
  test/Dialect/Ibis/Transforms/containers_to_hw.mlir
  test/Dialect/Ibis/Transforms/methods_to_containers.mlir
  test/Dialect/Ibis/Transforms/path_end_to_end.mlir
  test/Dialect/Ibis/Transforms/portref_lowering.mlir
  test/Dialect/Ibis/Transforms/scoperef_tunneling.mlir
  test/Dialect/Ibis/Transforms/tunneling_errors.mlir
  test/Dialect/Ibis/canonicalization.mlir
  test/Dialect/Ibis/inner_ref_errors.mlir
  test/Dialect/Ibis/round-trip.mlir
  test/ibistool/output_format.mlir
Labels: Ibis

#6860 [FIRRTL][NFC] Use underscores in documentation.
  docs/Dialects/FIRRTL/FIRRTLIntrinsics.md
Labels: documentation, FIRRTL

#6906 [ImportVerilog] Add replicate and extract operations.
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/errors.sv
  test/Dialect/Moore/basic.mlir
Labels: Verilog/SystemVerilog

#6929 [ImportVerilog] Add case statement.
  lib/Conversion/ImportVerilog/Statements.cpp
  test/Conversion/ImportVerilog/basic.sv
Labels: Verilog/SystemVerilog

#6907 [ImportVerilog] Fix the types mismatch for variable declarations.
  lib/Conversion/ImportVerilog/Structure.cpp
  test/Conversion/ImportVerilog/basic.sv
Labels: Verilog/SystemVerilog

#6884 [Moore] Introduce a new operation - netOp for net declaration
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Structure.cpp
  lib/Dialect/Moore/MooreOps.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/errors.sv
  test/Dialect/Moore/basic.mlir
Labels: Verilog/SystemVerilog

#6940 [MooreToCore] Lower moore operators into comb or hw.
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Labels: Moore
