Repository llvm/circt, pull requests merged in 2024-09, with the labels that each got.

#7568 [ESI][Runtime] Address MMIO regions symbolically
  frontends/PyCDE/integration_test/test_software/esi_test.py
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/esi.py
  include/circt/Dialect/ESI/ESIStdServices.td
  lib/Dialect/ESI/runtime/cpp/include/esi/Design.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Services.h
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Services.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/accelerator.py
  lib/Dialect/ESI/runtime/python/esiaccel/esiCppAccel.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/types.py
Labels: ESI

#7573 [MooreToCore] Separate conversion pattern for moore.output
  lib/Conversion/MooreToCore/MooreToCore.cpp
Labels: Moore

#7561 [ESI] Manifest: change the schema to be more rational
  include/circt/Dialect/ESI/ESIManifest.td
  integration_test/Dialect/ESI/runtime/callback.mlir
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/Passes/ESIBuildManifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  test/Dialect/ESI/manifest.mlir
Labels: ESI

#7569 [ESI][Runtime] Logging API
  frontends/PyCDE/integration_test/esitester.py
  frontends/PyCDE/integration_test/test_software/esi_test.py
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Common.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Context.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Logging.h
  lib/Dialect/ESI/runtime/cpp/lib/Accelerator.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Common.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Logging.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esitester.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/esiCppAccel.cpp
Labels: ESI

#7565 [MooreToCore] Support to lower unpacked struct type
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Labels: Moore

#7566 [Moore][NFC] Fix warning when building Moore components
  lib/Dialect/Moore/MooreOps.cpp
Labels: Moore

#7582 [ImportVerilog] Skip defparams which have been handled by slang.
  lib/Conversion/ImportVerilog/Structure.cpp
  test/Conversion/ImportVerilog/errors.sv
Labels: ImportVerilog

#7585 [FIRRTL][Folds] Fix mux fold if result type doesn't match operands.
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  test/Dialect/FIRRTL/canonicalization.mlir
Labels: bug, FIRRTL

#7587 [HW] Add reduction patterns to trim port list of top-level module
  lib/Dialect/HW/HWReductions.cpp
  test/Dialect/Arc/Reduction/pattern-registration.mlir
  test/Dialect/FIRRTL/Reduction/pattern-registration.mlir
  test/Dialect/HW/Reduction/hw-module-input-pruner.mlir
  test/Dialect/HW/Reduction/hw-module-output-pruner.mlir
  test/Dialect/HW/Reduction/pattern-registration.mlir
Labels: HW, Reducer

#7589 [Moore] Add assert, assume, and cover ops.
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Statements.cpp
  test/Conversion/ImportVerilog/basic.sv
Labels: Moore, ImportVerilog

#7624 [Moore] Drop named_constant op in favor of dbg.variable
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/CMakeLists.txt
  lib/Conversion/ImportVerilog/ImportVerilog.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Structure.cpp
  lib/Conversion/MooreToCore/MooreToCore.cpp
  lib/Dialect/Moore/MooreOps.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/MooreToCore/basic.mlir
Labels: Moore, ImportVerilog

#7632 [ImportVerilog] Add support for elaboration system tasks
  lib/Conversion/ImportVerilog/Structure.cpp
  test/Conversion/ImportVerilog/errors.sv
Labels: ImportVerilog

#7398 [FIRRTL] Inliner: Support for ops with regions.
  lib/Dialect/FIRRTL/Transforms/ModuleInliner.cpp
  test/Dialect/FIRRTL/inliner-errors.mlir
  test/Dialect/FIRRTL/inliner.mlir
Labels: FIRRTL

#7634 [ImportVerilog] Add support for $stop/$finish/$exit
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Statements.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Dialect/Moore/basic.mlir
Labels: Moore, ImportVerilog

#7642 [ImportVerilog] Add $display/$write/$info/$warning/$error/$fatal
  include/circt/Dialect/Moore/MooreOps.td
  include/circt/Dialect/Moore/MooreTypes.td
  lib/Conversion/ImportVerilog/CMakeLists.txt
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/FormatStrings.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Statements.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/errors.sv
  test/Dialect/Moore/basic.mlir
Labels: Moore, ImportVerilog

#7645 [ImportVerilog] Add support for $clog2
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  test/Conversion/ImportVerilog/builtins.sv
  test/Dialect/Moore/basic.mlir
Labels: Moore, ImportVerilog
