Repository llvm/circt, pull requests merged in 2024-03, with the labels that each got.

#6773 [ImportVerilog] Add assignment statements
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/CMakeLists.txt
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/ImportVerilog.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Statements.cpp
  lib/Conversion/ImportVerilog/Structure.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/errors.sv
  test/Dialect/Moore/basic.mlir
Labels: Verilog/SystemVerilog

#6801 [LLHD] Verify empty processes
  include/circt/Dialect/LLHD/IR/StructureOps.td
  test/Dialect/LLHD/IR/inst-errors.mlir
Labels: LLHD

#6794 [FIRRTL] Fix sign bit truncation in constant parser
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/errors.mlir
Labels: bug, FIRRTL

#6788 [ImportVerilog] Add basic expressions
  include/circt/Dialect/Moore/MIRExpressions.td
  include/circt/Dialect/Moore/MooreOps.td
  include/circt/Dialect/Moore/MooreTypes.h
  include/circt/Dialect/Moore/MooreTypes.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/Structure.cpp
  lib/Conversion/MooreToCore/MooreToCore.cpp
  lib/Dialect/Moore/MooreOps.cpp
  lib/Dialect/Moore/MooreTypes.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/errors.sv
  test/Conversion/MooreToCore/basic.mlir
  test/Dialect/Moore/basic.mlir
  test/Dialect/Moore/canonicalizers.mlir
  test/Dialect/Moore/errors.mlir
Labels: Verilog/SystemVerilog

#6831 [ImportVerilog] Add if and loop statements
  lib/Conversion/ImportVerilog/CMakeLists.txt
  lib/Conversion/ImportVerilog/ImportVerilog.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Statements.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/errors.sv
Labels: Verilog/SystemVerilog

#6859 [ImportVerilog] Add assign and pre/post increment/decrement expressions
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  test/Conversion/ImportVerilog/basic.sv
Labels: Verilog/SystemVerilog

#6874 [FIRRTL] Add generic intrinsic op.
  include/circt/Dialect/FIRRTL/FIRRTLIntrinsics.td
  include/circt/Dialect/FIRRTL/FIRRTLVisitors.h
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/round-trip.mlir
Labels: FIRRTL
