Repository llvm/circt, pull requests merged in 2024-08, with the labels that each got.

#7428 [ImportVerilog] Add rvalue assignment pattern support
  include/circt/Dialect/Moore/MooreOps.td
  include/circt/Dialect/Moore/MooreTypes.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Dialect/Moore/MooreOps.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Dialect/Moore/basic.mlir
Labels: Moore, ImportVerilog

#7432 [ImportVerilog] Switch from SCF to CF dialect for control flow
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/ImportVerilog.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Statements.cpp
  lib/Conversion/ImportVerilog/Structure.cpp
  lib/Dialect/Moore/Transforms/SimplifyProcedures.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Dialect/Moore/basic.mlir
  test/Dialect/Moore/lower-concatref.mlir
  test/Dialect/Moore/mem2reg.mlir
  test/Dialect/Moore/simplify-procedures.mlir
Labels: Moore, ImportVerilog

#7444 [Docs][FIRRTL] Build and include docs for intrinsic ops
  docs/Dialects/FIRRTL/_index.md
  include/circt/Dialect/FIRRTL/CMakeLists.txt
  include/circt/Dialect/FIRRTL/FIRRTLIntrinsics.td
Labels: documentation, FIRRTL

#7442 Replaced 'replicate' to correctly named 'replace' flags
  include/circt/Firtool/Firtool.h
  lib/Firtool/Firtool.cpp
Labels: FIRRTL

#7460 [ESI][Runtime] Poll method and optional service thread polling
  integration_test/Dialect/ESI/runtime/loopback.mlir.py
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Design.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Manifest.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Ports.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Trace.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Xrt.h
  lib/Dialect/ESI/runtime/cpp/lib/Accelerator.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Design.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Ports.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Xrt.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esiquery.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esitester.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/esiCppAccel.cpp
Labels: ESI

#7461 [Moore] Add FVIntegerAttr
  include/circt/Dialect/Moore/CMakeLists.txt
  include/circt/Dialect/Moore/Moore.td
  include/circt/Dialect/Moore/MooreAttributes.h
  include/circt/Dialect/Moore/MooreAttributes.td
  include/circt/Dialect/Moore/MooreDialect.td
  include/circt/Support/FVInt.h
  lib/Dialect/Moore/CMakeLists.txt
  lib/Dialect/Moore/MooreAttributes.cpp
  lib/Dialect/Moore/MooreDialect.cpp
  lib/Support/FVInt.cpp
  test/Dialect/Moore/attrs-error.mlir
  test/Dialect/Moore/attrs.mlir
Labels: Moore

#7463 [Moore] Support four-valued integers in ConstantOp
  include/circt/Dialect/Moore/MooreAttributes.td
  include/circt/Dialect/Moore/MooreOps.h
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/MooreToCore/MooreToCore.cpp
  lib/Dialect/Moore/MooreOps.cpp
  lib/Support/FVInt.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/errors.sv
  test/Conversion/MooreToCore/basic.mlir
  test/Dialect/Moore/attrs-error.mlir
  test/Dialect/Moore/attrs.mlir
  test/Dialect/Moore/basic.mlir
  test/Dialect/Moore/errors.mlir
Labels: Moore

#7473 [MooreToCore] Fix conversion and dyn_extract operation lowering
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Labels: Moore

#7475 [MooreToCore] Struct extract lowering support
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Labels: Moore

#7481 [MooreToCore] Fix variable op lowering of aggregate types
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Labels: Moore

#7362 [MooreToCore] Support ProcedureOp and sequential assign operations
  include/circt/Conversion/Passes.td
  lib/Conversion/MooreToCore/CMakeLists.txt
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Labels: Moore

#7413 [HWArith] Make `hwarith.icmp` result an `i1`
  docs/Dialects/HWArith/RationaleHWArith.md
  include/circt/Dialect/HWArith/HWArithOps.td
  test/Conversion/HWArithToHW/test_basic.mlir
  test/Dialect/HWArith/basic.mlir
Labels: HWArith

#7477 [Moore] Add more AssignedVariableOp canonicalizations
  include/circt/Dialect/Moore/MooreOps.td
  lib/Dialect/Moore/MooreOps.cpp
  test/Dialect/Moore/canonicalizers.mlir
Labels: Moore

#7478 [Moore] Add constant materialization, fold constant conversions
  include/circt/Dialect/Moore/MooreDialect.td
  include/circt/Dialect/Moore/MooreOps.td
  lib/Dialect/Moore/MooreDialect.cpp
  lib/Dialect/Moore/MooreOps.cpp
  test/Conversion/MooreToCore/basic.mlir
  test/Dialect/Moore/canonicalizers.mlir
Labels: Moore

#7494 [Moore] Power operator folders and canonicalizers
  include/circt/Dialect/Moore/MooreOps.td
  lib/Dialect/Moore/MooreOps.cpp
  test/Dialect/Moore/canonicalizers.mlir
Labels: Moore

#7497 [MooreToCore] Support StructExtractRefOp
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Labels: Moore

#7498 [Moore] Fix mem2reg implementation
  lib/Dialect/Moore/MooreOps.cpp
  lib/Dialect/Moore/Transforms/SimplifyProcedures.cpp
  test/Dialect/Moore/canonicalizers.mlir
  test/Dialect/Moore/mem2reg.mlir
  test/Dialect/Moore/simplify-procedures.mlir
  tools/circt-reduce/circt-reduce.cpp
Labels: bug, Moore

#7499 [MooreToCore] More extract op lowerings
  include/circt/Dialect/LLHD/IR/ExtractOps.td
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Labels: Moore

#7500 [MooreToCore] Support AssignedVariableOp
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Labels: Moore

#7502 [MooreToCore] Support four-valued VariableOp without init
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Labels: Moore

#7501 [MooreToCore] Support ConditionalOp
  include/circt/Conversion/Passes.td
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/MooreToCore/CMakeLists.txt
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Labels: Moore

#7503 [MooreToCore] Support CaseZEq and CaseXZEq ops
  include/circt/Support/FVInt.h
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Labels: Moore

#7505 [LLHD] Add `llhd.delay` operation
  include/circt/Dialect/LLHD/IR/SignalOps.td
  test/Dialect/LLHD/IR/basic.mlir
  test/Dialect/LLHD/IR/errors.mlir
Labels: LLHD

#7507 [LLHD][NFC] Clean up regression tests a bit
  test/Dialect/LLHD/IR/basic.mlir
  test/Dialect/LLHD/IR/connect-errors.mlir
  test/Dialect/LLHD/IR/connect.mlir
  test/Dialect/LLHD/IR/errors.mlir
  test/Dialect/LLHD/IR/extract-errors.mlir
  test/Dialect/LLHD/IR/extract.mlir
  test/Dialect/LLHD/IR/memory-errors.mlir
  test/Dialect/LLHD/IR/memory.mlir
  test/Dialect/LLHD/IR/reg.mlir
  test/Dialect/LLHD/IR/signal-errors.mlir
  test/Dialect/LLHD/IR/signal.mlir
  test/Dialect/LLHD/IR/type-and-attribute-parsing.mlir
  test/Dialect/LLHD/IR/wait.mlir
Labels: LLHD

#7508 [LLHD] Remove RegOp
  include/circt/Dialect/LLHD/IR/SignalOps.td
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  test/Dialect/LLHD/IR/basic.mlir
Labels: LLHD

#7509 [LLHD][NFC] Clean up some LLHD files
  include/circt/Dialect/LLHD/IR/CMakeLists.txt
  include/circt/Dialect/LLHD/IR/LLHD.td
  include/circt/Dialect/LLHD/IR/LLHDDialect.td
  include/circt/Dialect/LLHD/IR/LLHDExtractOps.td
  include/circt/Dialect/LLHD/IR/LLHDMemoryOps.td
  include/circt/Dialect/LLHD/IR/LLHDSignalOps.td
  include/circt/Dialect/LLHD/IR/LLHDStructureOps.td
  include/circt/Dialect/LLHD/IR/LLHDTypes.td
  include/circt/Dialect/LLHD/IR/LLHDValueOps.td
  include/circt/Dialect/LLHD/Transforms/Passes.td
  lib/Dialect/LLHD/IR/LLHDDialect.cpp
  lib/Dialect/LLHD/IR/LLHDOps.cpp
Labels: LLHD

#7489 [ESI][Manifest] Embed constants in manifest
  include/circt/Dialect/ESI/ESIInterfaces.td
  include/circt/Dialect/ESI/ESIManifest.td
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/Passes/ESIBuildManifest.cpp
  lib/Dialect/ESI/runtime/cpp/include/esi/Common.h
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  test/Dialect/ESI/manifest.mlir
Labels: ESI

#7492 [ESI][Runtime] Parse and expose manifest constants
  integration_test/Dialect/ESI/runtime/loopback.mlir
  integration_test/Dialect/ESI/runtime/loopback.mlir.py
  lib/Dialect/ESI/runtime/cpp/include/esi/Common.h
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/esiCppAccel.cpp
Labels: ESI

#7495 [Verif] Generalize Formal Contracts
  include/circt/Dialect/Verif/VerifOps.td
  lib/Dialect/Verif/VerifOps.cpp
  test/Dialect/Verif/basic.mlir
Labels: verif

#7510 [PyCDE] Support for adding module constants to manifests
  frontends/PyCDE/integration_test/esi_test.py
  frontends/PyCDE/integration_test/test_software/esi_test.py
  frontends/PyCDE/src/pycde/common.py
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/src/pycde/support.py
  frontends/PyCDE/test/test_esi.py
Labels: PyCDE

#7515 [LLHD] Relax sig parent constraint
  include/circt/Dialect/LLHD/IR/LLHDSignalOps.td
  test/Dialect/LLHD/IR/errors.mlir
Labels: LLHD

#7520 [firtool] Change layer specialization CLI interface
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/firtool/specialize-layers-2.fir
  test/firtool/specialize-layers-cli.fir
  test/firtool/specialize-layers.fir
Labels: FIRRTL

#7523 [LLHD] Align signals with other wire/variable ops
  include/circt/Dialect/LLHD/IR/LLHDSignalOps.td
  lib/Conversion/MooreToCore/MooreToCore.cpp
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  lib/Dialect/LLHD/Transforms/EarlyCodeMotionPass.cpp
  test/Conversion/MooreToCore/basic.mlir
  test/Dialect/LLHD/IR/basic.mlir
  test/Dialect/LLHD/Transforms/temporal-code-motion.mlir
Labels: LLHD

#7518 [Moore] Improve WaitEventOp, lower to LLHD
  include/circt/Dialect/LLHD/IR/LLHDStructureOps.td
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Statements.cpp
  lib/Conversion/ImportVerilog/TimingControls.cpp
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/MooreToCore/basic.mlir
  test/Dialect/LLHD/IR/basic.mlir
  test/Dialect/Moore/basic.mlir
  tools/circt-verilog/circt-verilog.cpp
Labels: LLHD, Moore, ImportVerilog

#7528 [LLHD] Let WaitOp observe plain values instead of signals
  include/circt/Dialect/LLHD/IR/LLHDStructureOps.td
  lib/Conversion/MooreToCore/MooreToCore.cpp
  lib/Dialect/LLHD/Transforms/ProcessLoweringPass.cpp
  test/Conversion/MooreToCore/basic.mlir
  test/Dialect/LLHD/Canonicalization/probeCSE.mlir
  test/Dialect/LLHD/IR/basic.mlir
  test/Dialect/LLHD/Transforms/earlyCodeMotion.mlir
  test/Dialect/LLHD/Transforms/memoryToBlockArgument.mlir
  test/Dialect/LLHD/Transforms/processLowering.mlir
  test/Dialect/LLHD/Transforms/processLoweringErrors.mlir
  test/Dialect/LLHD/Transforms/temporal-code-motion.mlir
Labels: LLHD

#7532 [MooreToCore] Add always_comb and always_latch lowering support
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Labels: Moore

#7517 [ESI][Runtime] Generate C++ header files for constants
  integration_test/Dialect/ESI/runtime/callback.mlir
  integration_test/Dialect/ESI/runtime/loopback.mlir
  integration_test/Dialect/ESI/runtime/loopback.mlir.cpp
  integration_test/lit.cfg.py
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Trace.h
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
  lib/Dialect/ESI/runtime/pyproject.toml
  lib/Dialect/ESI/runtime/python/esiaccel/codegen.py
  lib/Dialect/ESI/runtime/python/esiaccel/esiCppAccel.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/types.py
  lib/Dialect/ESI/runtime/python/esiaccel/utils.py
Labels: ESI

#7540 [MooreToCore] Ignore ConstantLike values in wait op
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Labels: Moore

#7567 [ESI][Runtime] Pretty printing of service ports
  integration_test/Dialect/ESI/runtime/loopback.mlir
  lib/Dialect/ESI/runtime/cpp/include/esi/Services.h
  lib/Dialect/ESI/runtime/cpp/tools/esiquery.cpp
Labels: ESI
