Repository llvm/circt, pull requests merged in 2024-01, with the labels that each got.

#6545 [PyCDE] Fix ESI service implementations
  frontends/PyCDE/src/esi.py
  frontends/PyCDE/src/types.py
  frontends/PyCDE/test/test_esi_servicegens.py
Labels: PyCDE

#6560 [Arc] Use CallOp instead of latency 0 StateOp
  include/circt/Dialect/Arc/ArcInterfaces.td
  include/circt/Dialect/Arc/ArcOps.td
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  lib/Dialect/Arc/ArcDialect.cpp
  lib/Dialect/Arc/ArcOps.cpp
  lib/Dialect/Arc/Transforms/ArcCanonicalizer.cpp
  lib/Dialect/Arc/Transforms/InferStateProperties.cpp
  lib/Dialect/Arc/Transforms/LatencyRetiming.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  lib/Dialect/Arc/Transforms/SplitLoops.cpp
  test/Conversion/ConvertToArcs/convert-to-arcs.mlir
  test/Dialect/Arc/arc-canonicalizer.mlir
  test/Dialect/Arc/basic-errors.mlir
  test/Dialect/Arc/canonicalizers.mlir
  test/Dialect/Arc/dedup.mlir
  test/Dialect/Arc/inline-arcs.mlir
  test/Dialect/Arc/isolate-clocks.mlir
  test/Dialect/Arc/latency-retiming.mlir
  test/Dialect/Arc/lower-arcs-to-funcs.mlir
  test/Dialect/Arc/lower-state.mlir
  test/Dialect/Arc/split-loops-errors.mlir
  test/Dialect/Arc/split-loops.mlir
Labels: Arc

#6562 [Arc] StateOp: latency instead of lat in assembly format
  include/circt/Dialect/Arc/ArcOps.td
  test/Conversion/ConvertToArcs/convert-to-arcs-names.mlir
  test/Conversion/ConvertToArcs/convert-to-arcs.mlir
  test/Dialect/Arc/Reduction/state-elimination.mlir
  test/Dialect/Arc/arc-canonicalizer.mlir
  test/Dialect/Arc/basic-errors.mlir
  test/Dialect/Arc/basic.mlir
  test/Dialect/Arc/canonicalizers.mlir
  test/Dialect/Arc/infer-memories.mlir
  test/Dialect/Arc/infer-state-properties.mlir
  test/Dialect/Arc/inline-arcs.mlir
  test/Dialect/Arc/isolate-clocks.mlir
  test/Dialect/Arc/latency-retiming.mlir
  test/Dialect/Arc/lower-state.mlir
Labels: Arc

#6579 [ESI][Runtime] Add a utility to wrap a command with a cosimulation
  frontends/PyCDE/integration_test/esi_ram.py
  frontends/PyCDE/integration_test/esi_test.py
  frontends/PyCDE/integration_test/lit.cfg.py
  frontends/PyCDE/src/bsp/cosim.py
  lib/Dialect/ESI/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim/driver.cpp
  lib/Dialect/ESI/runtime/cosim/esi-cosim.py
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
Labels: ESI

#6584 [ESI] Introduce MMIO std service
  include/circt/Dialect/ESI/ESIStdServices.td
  lib/Dialect/ESI/ESIStdServices.cpp
  test/Dialect/ESI/services.mlir
Labels: ESI

#6585 [ESI] Lower manifest op to a ROM
  include/circt/Dialect/ESI/ESIManifest.td
  include/circt/Dialect/ESI/ESIPasses.h
  include/circt/Dialect/Seq/SeqOps.td
  lib/Dialect/ESI/ESIAttributes.cpp
  lib/Dialect/ESI/Passes/ESIBuildManifest.cpp
  lib/Dialect/ESI/Passes/ESILowerToHW.cpp
  test/Dialect/ESI/manifest.mlir
Labels: ESI

#6590 [PyCDE] Support for ESI MMIO service -- read side only
  frontends/PyCDE/src/esi.py
  frontends/PyCDE/test/test_esi.py
  lib/Dialect/ESI/ESIStdServices.cpp
  test/Dialect/ESI/services.mlir
Labels: PyCDE

#6595 [PyCDE] Fix service generator warning
  frontends/PyCDE/src/common.py
  frontends/PyCDE/src/esi.py
  frontends/PyCDE/src/module.py
  frontends/PyCDE/src/system.py
Labels: ESI, PyCDE

#6592 [ESI] MMIO based manifest cosim support
  frontends/PyCDE/integration_test/test_software/esi_ram.py
  frontends/PyCDE/src/CMakeLists.txt
  frontends/PyCDE/src/bsp/common.py
  frontends/PyCDE/src/bsp/cosim.py
  frontends/PyCDE/src/constructs.py
  frontends/PyCDE/src/esi.py
  frontends/PyCDE/src/system.py
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Common.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Services.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Cosim.h
  lib/Dialect/ESI/runtime/cpp/lib/Common.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Services.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/python/esi/esiCppAccel.cpp
  lib/Dialect/ESI/runtime/python/esi/esiCppAccel.pyi
Labels: ESI

#6596 [ESI] XRT support for MMIO based manifest fetching
  frontends/PyCDE/integration_test/esi_ram.py
  frontends/PyCDE/src/CMakeLists.txt
  frontends/PyCDE/src/bsp/Makefile.xrt.mk
  frontends/PyCDE/src/bsp/xrt.py
  frontends/PyCDE/src/bsp/xrt_package.tcl
  frontends/PyCDE/src/system.py
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Xrt.h
  lib/Dialect/ESI/runtime/cpp/lib/backends/Xrt.cpp
Labels: ESI

#6597 [PyCDE] Add ESI metadata to modules
  frontends/PyCDE/integration_test/esi_ram.py
  frontends/PyCDE/integration_test/test_software/esi_ram.py
  frontends/PyCDE/src/module.py
  frontends/PyCDE/test/test_esi.py
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esiquery.cpp
  lib/Dialect/ESI/runtime/python/esi/esiCppAccel.cpp
  lib/Dialect/ESI/runtime/python/esi/esiCppAccel.pyi
Labels: ESI

#6605 [PyCDE] Fix import hw modules (#6130)
  frontends/PyCDE/src/module.py
  frontends/PyCDE/test/test_import_hw_modules.py
Labels: PyCDE

#6620 [ImportVerilog] Add Slang frontend dependency
  .github/workflows/buildAndTest.yml
  .github/workflows/nightlyIntegrationTests.yml
  .github/workflows/shortIntegrationTests.yml
  .github/workflows/unifiedBuildTestAndInstall.yml
  CMakeLists.txt
  include/circt/Conversion/ImportVerilog.h
  lib/Conversion/CMakeLists.txt
  lib/Conversion/ImportVerilog/CMakeLists.txt
  lib/Conversion/ImportVerilog/ImportVerilog.cpp
  test/CMakeLists.txt
  test/circt-verilog/commandline.sv
  test/lit.cfg.py
  test/lit.site.cfg.py.in
  tools/CMakeLists.txt
  tools/circt-verilog/CMakeLists.txt
  tools/circt-verilog/circt-verilog.cpp
Labels: Verilog/SystemVerilog
