Repository llvm/circt, pull requests merged in 2024-11, with the labels that each got.

#7759 [LTL] Canonicalize ltl.and to comb.and for i1 properties
  include/circt/Dialect/LTL/LTLOps.td
  lib/Dialect/LTL/LTLFolds.cpp
  lib/Dialect/LTL/LTLOps.cpp
  test/Conversion/ExportVerilog/verif.mlir
  test/Dialect/LTL/basic.mlir
  test/Dialect/LTL/canonicalization.mlir
Labels: verif

#7765 [FIRRTL] Make `sym_name` an inherent attr for symbol ops
  include/circt/Dialect/FIRRTL/FIRRTLStructure.td
  test/Dialect/FIRRTL/annotations-generic.mlir
Labels: FIRRTL

#7768 [SV] Use SymbolOpUserInterface to speed up verifiers
  include/circt/Dialect/SV/SVTypeDecl.td
  lib/Dialect/SV/SVOps.cpp
Labels: SV

#7767 [HW] InnerSymbolTable: only check top-level ops for portlists
  lib/Dialect/HW/InnerSymbolTable.cpp
Labels: HW

#7164 [Calyx] Passing memories by reference
  include/circt/Dialect/Calyx/CalyxControl.td
  include/circt/Dialect/Calyx/CalyxLoweringUtils.h
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  lib/Dialect/Calyx/Transforms/CalyxLoweringUtils.cpp
  test/Conversion/SCFToCalyx/convert_func.mlir
  test/Conversion/SCFToCalyx/convert_memory.mlir
  test/Dialect/Calyx/emit-invoke-with-ref.mlir
  test/Dialect/Calyx/emit-invoke.mlir
  test/Dialect/Calyx/errors.mlir
  test/Dialect/Calyx/round-trip.mlir
Labels: Calyx

#7752 [MooreToCore] Add support for moore::string_constant #7628
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
  test/Conversion/MooreToCore/errors.mlir
  test/Dialect/Moore/basic.mlir
Labels: Moore

#7776 [FIRRTL] ReplSeqMems: use the original mem name for the instance name
  lib/Dialect/FIRRTL/Transforms/LowerMemory.cpp
  test/Dialect/FIRRTL/lower-memory.mlir
Labels: FIRRTL

#7766 [FIRRTL] use properties in some builders and parsers
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
Labels: FIRRTL

#7780 [firtool] Run layer merge after inliner
  lib/Firtool/Firtool.cpp
  test/firtool/layer-merge-across-inlined-submodule.fir
Labels: FIRRTL

#7783 [Moore] Add explicit truncation and zero/sign-extension
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/MooreToCore/basic.mlir
Labels: Moore

#7775 [ESI][Services] Standard host memory service
  include/circt/Dialect/ESI/ESIStdServices.td
  lib/Dialect/ESI/ESIStdServices.cpp
  test/Dialect/ESI/services.mlir
Labels: ESI

#7793 [FIRRTL] InferRW: copy all attributes of masked memeories
  lib/Dialect/FIRRTL/Transforms/InferReadWrite.cpp
  test/Dialect/FIRRTL/inferRW.mlir
Labels: FIRRTL

#7795 [ESI][Runtime] Fix wheel builds
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/pyproject.toml
  lib/Dialect/ESI/runtime/setup.py
Labels: ESI

#7802 [FIRRTL] FIRParser: Speed up creation subaccess operations
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
Labels: FIRRTL

#7787 [circt-verilog] Support MLIR and MLIRBC input files
  test/circt-verilog/basic.mlir
  tools/circt-verilog/CMakeLists.txt
  tools/circt-verilog/circt-verilog.cpp
Labels: Verilog/SystemVerilog

#7796 [FIRRTL] Run canonicalizer again after IMCP
  lib/Firtool/Firtool.cpp
  test/firtool/canonicalize-away-assert-under-layer.fir
Labels: FIRRTL

#7803 [ESI] Implement basic hostmem reads lacking a bunch of functionality
  frontends/PyCDE/integration_test/esitester.py
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/bsp/cosim.py
  frontends/PyCDE/src/pycde/constructs.py
  frontends/PyCDE/src/pycde/esi.py
  frontends/PyCDE/test/test_esi.py
  lib/Dialect/ESI/runtime/cpp/include/esi/Services.h
  lib/Dialect/ESI/runtime/cpp/lib/Services.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esitester.cpp
Labels: ESI

#7808 [FIRRTL] Bump nextFIRVersion to 4.0.0 in the parser
  include/circt/Dialect/FIRRTL/FIRParser.h
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/parse-errors.fir
  test/firtool/classes-dedupe.fir
Labels: FIRRTL

#7811 [FIRRTL] Document how to deal with specification releases
  docs/Dialects/FIRRTL/RationaleFIRRTL.md
Labels: documentation, FIRRTL

#6941 [HandshakeToDC] Add pack/unpack lowering patterns
  lib/Conversion/HandshakeToDC/HandshakeToDC.cpp
  test/Conversion/HandshakeToDC/basic.mlir
Labels: Handshake, DC

#7815 [FIRRTL] Dedup: speed up handling of instances
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
Labels: FIRRTL

#7816 [FIRRTL] Dedup: record less indices when hashing
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
Labels: FIRRTL

#7817 [ExportVerilog] Do not inline non-procedural continuous assignments to variables
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  test/Conversion/ExportVerilog/sv-dialect.mlir
Labels: bug, ExportVerilog

#7810 [Seq] FIFO: permit any type and add read latency
  include/circt/Dialect/Seq/SeqOps.td
  lib/Dialect/Seq/Transforms/LowerSeqFIFO.cpp
  test/Dialect/Seq/lower-fifo.mlir
Labels: Seq

#7813 [FIRRTL] Accept list of parameters for `formal` construct
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  lib/Dialect/FIRRTL/Export/FIREmitter.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/emit-basic.mlir
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/round-trip.mlir
Labels: FIRRTL

#7812 [Handshake] Adding func instance op for integration
  include/circt/Dialect/Handshake/HandshakeOps.h
  include/circt/Dialect/Handshake/HandshakeOps.td
  lib/Conversion/HandshakeToHW/HandshakeToHW.cpp
  lib/Dialect/Handshake/HandshakeOps.cpp
  test/Conversion/HandshakeToHW/test_instance.mlir
  test/Dialect/Handshake/call.mlir
Labels: Handshake

#7820 [FIRRTL] Dedup: hash modules back->front
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
Labels: FIRRTL

#7819 [hlstool] Add option to use the DC lowering flow
  tools/hlstool/CMakeLists.txt
  tools/hlstool/hlstool.cpp
Labels: Handshake

#7824 [FIRRTL] LowerClasses: drop the IR mapping
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
Labels: FIRRTL

#7831 [FIRRTL] LowerTypes: Manually compact newArgs vector
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
Labels: FIRRTL

#7825 [HandshakeToDC] Add clock and reset ports
  lib/Conversion/HandshakeToDC/HandshakeToDC.cpp
  test/Conversion/HandshakeToDC/basic.mlir
Labels: Handshake, DC

#7769 [Calyx] Binary Floating Point MulF Operator
  include/circt/Dialect/Calyx/CalyxInterfaces.td
  include/circt/Dialect/Calyx/CalyxLoweringUtils.h
  include/circt/Dialect/Calyx/CalyxOps.h
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  lib/Dialect/Calyx/Transforms/CalyxLoweringUtils.cpp
  test/Conversion/SCFToCalyx/convert_simple.mlir
  test/Dialect/Calyx/emit.mlir
Labels: Calyx

#7833 [RTG] Add Random Test Generation dialect
  docs/Dialects/RTG.md
  include/circt/Dialect/CMakeLists.txt
  include/circt/Dialect/RTG/CMakeLists.txt
  include/circt/Dialect/RTG/IR/CMakeLists.txt
  include/circt/Dialect/RTG/IR/RTG.td
  include/circt/Dialect/RTG/IR/RTGDialect.h
  include/circt/Dialect/RTG/IR/RTGDialect.td
  include/circt/Dialect/RTG/IR/RTGOps.h
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGTypes.h
  include/circt/Dialect/RTG/IR/RTGTypes.td
  include/circt/InitAllDialects.h
  lib/Dialect/CMakeLists.txt
  lib/Dialect/RTG/CMakeLists.txt
  lib/Dialect/RTG/IR/CMakeLists.txt
  lib/Dialect/RTG/IR/RTGDialect.cpp
  lib/Dialect/RTG/IR/RTGOps.cpp
  lib/Dialect/RTG/IR/RTGTypes.cpp
  test/Dialect/RTG/IR/basic.mlir
Labels: RTG

#7839 [RTG] Add `sequence_closure` and `invoke_sequence` operations
  include/circt/Dialect/RTG/IR/RTGOps.td
  lib/Dialect/RTG/IR/RTGOps.cpp
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/IR/errors.mlir
Labels: RTG

#7840 [RTG] Add context resource interfaces
  include/circt/Dialect/RTG/IR/CMakeLists.txt
  include/circt/Dialect/RTG/IR/RTGInterfaces.td
  include/circt/Dialect/RTG/IR/RTGOpInterfaces.h
  include/circt/Dialect/RTG/IR/RTGOps.h
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGTypeInterfaces.h
  lib/Dialect/RTG/IR/CMakeLists.txt
  lib/Dialect/RTG/IR/RTGOpInterfaces.cpp
  lib/Dialect/RTG/IR/RTGTypeInterfaces.cpp
Labels: RTG

#7841 [RTGTest] Add RTGTest dialect
  CMakeLists.txt
  include/circt/Dialect/CMakeLists.txt
  include/circt/Dialect/RTGTest/CMakeLists.txt
  include/circt/Dialect/RTGTest/IR/CMakeLists.txt
  include/circt/Dialect/RTGTest/IR/RTGTest.td
  include/circt/Dialect/RTGTest/IR/RTGTestDialect.h
  include/circt/Dialect/RTGTest/IR/RTGTestDialect.td
  include/circt/Dialect/RTGTest/IR/RTGTestOps.h
  include/circt/Dialect/RTGTest/IR/RTGTestOps.td
  include/circt/Dialect/RTGTest/IR/RTGTestTypes.h
  include/circt/Dialect/RTGTest/IR/RTGTestTypes.td
  include/circt/InitAllDialects.h
  lib/Dialect/CMakeLists.txt
  lib/Dialect/RTGTest/CMakeLists.txt
  lib/Dialect/RTGTest/IR/CMakeLists.txt
  lib/Dialect/RTGTest/IR/RTGTestDialect.cpp
  lib/Dialect/RTGTest/IR/RTGTestOps.cpp
  lib/Dialect/RTGTest/IR/RTGTestTypes.cpp
  test/Dialect/RTGTest/IR/basic.mlir
Labels: RTG

#7848 [RTG] Add set type and operations
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGTypes.td
  lib/Dialect/RTG/IR/RTGOps.cpp
  test/Dialect/RTG/IR/basic.mlir
Labels: RTG

#7829 [ImportVerilog]: Create variables for function arguments
  lib/Conversion/ImportVerilog/Structure.cpp
  test/Conversion/ImportVerilog/basic.sv
Labels: Moore, ImportVerilog

#7836 [FIRRTL] Lower firrtl.formal to verif.formal
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
Labels: FIRRTL

#7846 [Handshake][Python] Add Python bindings for Handshake
  integration_test/Bindings/Python/dialects/handshake.py
  lib/Bindings/Python/CMakeLists.txt
  lib/Bindings/Python/dialects/HandshakeOps.td
  lib/Bindings/Python/dialects/handshake.py
Labels: Handshake, Python

#7867 [Verif] Make verif.formal parameters an ODS property
  include/circt/Dialect/Verif/VerifOps.td
  integration_test/circt-test/basic.mlir
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  test/Dialect/Verif/basic.mlir
  test/Dialect/Verif/lower-formal-to-hw.mlir
  test/circt-test/basic.mlir
  tools/circt-test/circt-test.cpp
Labels: verif

#7857 [circt-test] Add runner for circt-bmc
  integration_test/CMakeLists.txt
  integration_test/circt-test/basic-circt-bmc.mlir
  integration_test/circt-test/basic-sby.mlir
  integration_test/circt-test/basic.mlir
  tools/circt-test/CMakeLists.txt
  tools/circt-test/circt-test-runner-circt-bmc.py
  tools/circt-test/circt-test.cpp
Labels: verif

#7871 [HandshakeToDC] Implement ESIInstanceOp lowering
  lib/Conversion/HandshakeToDC/HandshakeToDC.cpp
  test/Conversion/HandshakeToDC/basic.mlir
Labels: HandshakeToDC

#7877 [FIRRTL] Dedup: dedup private modules into public ones
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  test/Dialect/FIRRTL/dedup-errors.mlir
  test/Dialect/FIRRTL/dedup.mlir
Labels: FIRRTL

#7837 [firtool] Run LowerFormalToHW pass when emitting SV
  lib/Firtool/Firtool.cpp
  test/Dialect/FIRRTL/SFCTests/directories.fir
  test/firtool/formal.mlir
Labels: FIRRTL, verif

#7906 [DC] Add CAPI bindings for DC
  include/circt-c/Dialect/DC.h
  lib/Bindings/Python/CIRCTModule.cpp
  lib/Bindings/Python/CMakeLists.txt
  lib/CAPI/Dialect/CMakeLists.txt
  lib/CAPI/Dialect/DC.cpp
Labels: DC

#7858 [HandshakeToDC] Getting some working tests
  include/circt/Conversion/HandshakeToDC.h
  include/circt/Conversion/Passes.td
  integration_test/Dialect/Handshake/buffer_init_none/buffer_init_none.mlir
  integration_test/Dialect/Handshake/buffer_initial_values/buffer_initial_values.mlir
  integration_test/Dialect/Handshake/max/max.mlir
  integration_test/Dialect/Handshake/sync_backedge/sync_backedge.mlir
  integration_test/Dialect/Handshake/sync_op/sync_op.mlir
  integration_test/Dialect/Handshake/tuple_input/tuple_input.mlir
  integration_test/Dialect/Handshake/tuple_packing/tuple_packing.mlir
  lib/Conversion/HandshakeToDC/HandshakeToDC.cpp
  lib/Dialect/Kanagawa/Transforms/KanagawaConvertHandshakeToDC.cpp
  test/Conversion/HandshakeToDC/basic.mlir
  tools/hlstool/hlstool.cpp
Labels: HandshakeToDC

#7849 [PyCDE][Handshake] Add bindings for Handshake functions
  frontends/PyCDE/integration_test/esi_test.py
  frontends/PyCDE/integration_test/test_software/esi_test.py
  frontends/PyCDE/src/CMakeLists.txt
  frontends/PyCDE/src/pycde/handshake.py
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/src/pycde/system.py
  frontends/PyCDE/test/test_handshake.py
Labels: Handshake, PyCDE

#7915 [HW] ExportHier: do not include bound in modules
  lib/Dialect/SV/Transforms/HWExportModuleHierarchy.cpp
  test/Dialect/SV/hw-export-module-hierarchy.mlir
Labels: HW

#7784 [ImportVerilog] add stream concat operation
  lib/Conversion/ImportVerilog/Expressions.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/errors.sv
Labels: Moore

#7913 [FIRRTL] FoldUnusedBits: Cast compressed data back to signed integer
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  test/Dialect/FIRRTL/simplify-mems.mlir
Labels: FIRRTL

#7914 [FIRRTL] FoldUnusedBits: minor cleanup
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
Labels: FIRRTL
