Repository llvm/circt, pull requests merged in 2024-07, with the labels that each got.

#7216 [Moore] Add LowerConcatRef pass to handle concat_ref.
  include/circt/Dialect/Moore/MoorePasses.h
  include/circt/Dialect/Moore/MoorePasses.td
  lib/Dialect/Moore/Transforms/CMakeLists.txt
  lib/Dialect/Moore/Transforms/LowerConcatRef.cpp
  lib/Dialect/Moore/Transforms/SimplifyProcedures.cpp
  test/Dialect/Moore/lower-concatref.mlir
  test/Dialect/Moore/simplify-procedures.mlir
  tools/circt-verilog/CMakeLists.txt
  tools/circt-verilog/circt-verilog.cpp
Labels: Moore

#7241 [ESI Runtime][NFC] Incorporate RPC server into ESICppRuntime
  integration_test/CMakeLists.txt
  integration_test/lit.site.cfg.py.in
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim.proto
  lib/Dialect/ESI/runtime/cosim/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim/MtiPliStub/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim/cosim_dpi_server/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim_dpi_server/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim_dpi_server/Cosim_DpiPkg.sv
  lib/Dialect/ESI/runtime/cosim_dpi_server/Cosim_Endpoint.sv
  lib/Dialect/ESI/runtime/cosim_dpi_server/Cosim_MMIO.sv
  lib/Dialect/ESI/runtime/cosim_dpi_server/Cosim_Manifest.sv
  lib/Dialect/ESI/runtime/cosim_dpi_server/DpiEntryPoints.cpp
  lib/Dialect/ESI/runtime/cosim_dpi_server/DummySvDpi.cpp
  lib/Dialect/ESI/runtime/cosim_dpi_server/dpi.h
  lib/Dialect/ESI/runtime/cosim_dpi_server/driver.cpp
  lib/Dialect/ESI/runtime/cosim_dpi_server/driver.sv
  lib/Dialect/ESI/runtime/cosim_dpi_server/esi-cosim.py
  lib/Dialect/ESI/runtime/cosim_dpi_server/svdpi.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/RpcServer.h
  lib/Dialect/ESI/runtime/cpp/lib/backends/RpcServer.cpp
Labels: ESI

#7256 [ESI Runtime] Avoid using CIRCT_* cmake variables
  lib/Dialect/ESI/runtime/cosim_dpi_server/CMakeLists.txt
Labels: ESI

#7253 [MooreToCore] Fix parse error for parameter
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Labels: Moore

#7258 [Moore] To make SVModule having a graph region.
  include/circt/Dialect/Moore/MooreOps.h
  include/circt/Dialect/Moore/MooreOps.td
  test/Dialect/Moore/basic.mlir
Labels: Moore

#7260 [ESI Runtime] Load backends as plugins
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim_dpi_server/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Cosim.h
  lib/Dialect/ESI/runtime/cpp/lib/Accelerator.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/esiCppAccel.cpp
Labels: ESI

#7277 [PyCDE] Restrict slicing index widths to clog2(len)
  frontends/PyCDE/src/pycde/signals.py
  frontends/PyCDE/test/test_muxing.py
Labels: PyCDE

#7251 [Moore] Add AssignedVarOp and canonicalization for VariableOp.
  include/circt/Dialect/Moore/MooreOps.td
  lib/Dialect/Moore/MooreOps.cpp
  test/Dialect/Moore/canonicalizers.mlir
  tools/circt-verilog/circt-verilog.cpp
Labels: Moore

#7282 [ESI] Add read-side MMIO back
  frontends/PyCDE/integration_test/test_software/esi_test.py
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/bsp/cosim.py
  frontends/PyCDE/src/pycde/bsp/xrt.py
  frontends/PyCDE/src/pycde/esi.py
  integration_test/Bindings/Python/dialects/esi.py
  lib/Dialect/ESI/ESIServices.cpp
  lib/Dialect/ESI/runtime/cosim_dpi_server/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim_dpi_server/Cosim_MMIO.sv
  lib/Dialect/ESI/runtime/cpp/include/esi/Context.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Ports.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Services.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Cosim.h
  lib/Dialect/ESI/runtime/cpp/lib/Accelerator.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Services.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
Labels: ESI

#7283 [ESI] Make MMIO data 64-bit
  frontends/PyCDE/integration_test/esitester.py
  frontends/PyCDE/integration_test/test_software/esi_test.py
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/bsp/xrt.py
  frontends/PyCDE/src/pycde/esi.py
  frontends/PyCDE/test/test_esi.py
  frontends/PyCDE/test/test_xrt.py
  lib/Dialect/ESI/ESIStdServices.cpp
  lib/Dialect/ESI/Passes/ESILowerToHW.cpp
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Services.h
  lib/Dialect/ESI/runtime/cpp/lib/Services.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Xrt.cpp
  test/Dialect/ESI/manifest.mlir
  test/Dialect/ESI/services.mlir
Labels: ESI

#7278 [Moore] SymbolVisibility attribute support for SVModuleOp
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Structure.cpp
  lib/Dialect/Moore/MooreOps.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Dialect/Moore/basic.mlir
Labels: Moore

#7287 [ESI] Add verify connections pass
  include/circt/Dialect/ESI/ESIPasses.h
  include/circt/Dialect/ESI/ESIPasses.td
  lib/Dialect/ESI/CMakeLists.txt
  lib/Dialect/ESI/Passes/ESIVerifyConnections.cpp
  test/Dialect/ESI/errors.mlir
Labels: ESI

#7280 [ImportVerilog] Distinguish the index up or down on the range selection.
  lib/Conversion/ImportVerilog/Expressions.cpp
  test/Conversion/ImportVerilog/basic.sv
Labels: Moore

#7295 [ImportVerilog] Fix the segmentation fault caused by the case statement.
  lib/Conversion/ImportVerilog/Statements.cpp
  test/Conversion/ImportVerilog/errors.sv
Labels: Moore

#7299 [PyCDE][ESI] Manifest: add record about client
  frontends/PyCDE/src/pycde/esi.py
  frontends/PyCDE/test/test_esi_servicegens.py
  include/circt-c/Dialect/ESI.h
  integration_test/Bindings/Python/dialects/esi.py
  lib/Bindings/Python/ESIModule.cpp
  lib/CAPI/Dialect/ESI.cpp
Labels: ESI, PyCDE

#7263 [Verif] Add `verif.bmc` operation
  include/circt/Dialect/Verif/VerifDialect.td
  include/circt/Dialect/Verif/VerifOps.h
  include/circt/Dialect/Verif/VerifOps.td
  lib/Dialect/Verif/CMakeLists.txt
  lib/Dialect/Verif/VerifOps.cpp
  test/Dialect/Verif/basic.mlir
  test/Dialect/Verif/errors.mlir
Labels: verif

#7306 [ESI] MMIO read service implementation in PyCDE
  frontends/PyCDE/integration_test/esi_test.py
  frontends/PyCDE/integration_test/test_software/esi_test.py
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/esi.py
  frontends/PyCDE/src/pycde/support.py
  frontends/PyCDE/src/pycde/types.py
  frontends/PyCDE/test/test_esi.py
  frontends/PyCDE/test/test_xrt.py
  lib/Dialect/ESI/ESIStdServices.cpp
  test/Dialect/ESI/services.mlir
Labels: ESI

#7310 [ESI][PyCDE] ChannelSignal: add `buffer` method
  frontends/PyCDE/integration_test/esi_test.py
  frontends/PyCDE/src/CMakeLists.txt
  frontends/PyCDE/src/pycde/bsp/xrt.py
  frontends/PyCDE/src/pycde/esi.py
  frontends/PyCDE/src/pycde/signals.py
  frontends/PyCDE/src/pycde/system.py
  frontends/PyCDE/test/test_esi.py
  lib/Dialect/ESI/CMakeLists.txt
Labels: ESI, PyCDE

#7315 [ESI] Remove last references to capnp
  .github/workflows/pycdePublish.yml
  docs/Dialects/ESI/_index.md
  docs/Dialects/ESI/cosim.md
  docs/GettingStarted.md
  docs/PyCDE/compiling.md
  frontends/PyCDE/auditwheel.sh
  frontends/PyCDE/integration_test/lit.site.cfg.py.in
  frontends/PyCDE/pyproject.toml
  frontends/PyCDE/setup.py
  frontends/PyCDE/src/CMakeLists.txt
  frontends/PyCDE/test/lit.site.cfg.py.in
  lib/Dialect/ESI/runtime/cosim_dpi_server/Cosim_DpiPkg.sv
  lib/Dialect/ESI/runtime/cosim_dpi_server/DpiEntryPoints.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  test/lit.cfg.py
  test/lit.site.cfg.py.in
Labels: ESI

#7297 [MooreToCore] Lower var, read, and assign into LLHD.
  include/circt/Dialect/LLHD/IR/SignalOps.td
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
  test/Dialect/LLHD/IR/signal-errors.mlir
Labels: Moore

#7330 [PyCDE] Simple transforms on channels
  frontends/PyCDE/src/pycde/signals.py
  frontends/PyCDE/test/test_esi.py
Labels: PyCDE

#7331 [PyCDE] Bundles: coerce method
  frontends/PyCDE/src/pycde/signals.py
  frontends/PyCDE/src/pycde/types.py
  frontends/PyCDE/test/test_esi.py
  frontends/PyCDE/test/test_esi_errors.py
Labels: PyCDE

#7336 [ImportVerilog] Fix unbased unsized literals of packed aggregate type
  lib/Conversion/ImportVerilog/Expressions.cpp
  test/Conversion/ImportVerilog/basic.sv
Labels: bug, Moore

#7145 [Verif] Add formal test intent ops
  include/circt/Dialect/Verif/VerifDialect.td
  include/circt/Dialect/Verif/VerifOps.h
  include/circt/Dialect/Verif/VerifOps.td
  test/Dialect/Verif/basic.mlir
Labels: verif

#7245 [ImportVerilog]Dedup module Op
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Structure.cpp
  test/Conversion/ImportVerilog/basic.sv
Labels: Moore

#7334 [ImportVerilog] Accept empty packages
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Structure.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/errors.sv
Labels: Moore

#7158 [ImportVerilog] [SROA] [Mem2Reg][Canonicalizers]Support Passes for Nested Type
  include/circt/Dialect/Moore/MooreOps.td
  include/circt/Dialect/Moore/MooreTypes.h
  include/circt/Dialect/Moore/MooreTypes.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/Structure.cpp
  lib/Dialect/Moore/MooreOps.cpp
  lib/Dialect/Moore/MooreTypes.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Dialect/Moore/canonicalizers.mlir
  test/Dialect/Moore/sroa.mlir
  tools/circt-opt/circt-opt.cpp
  tools/circt-verilog/circt-verilog.cpp
Labels: Moore

#7338 [ESI Runtime] Windows: python support and backend plugin loading
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/lib/Accelerator.cpp
Labels: ESI

#7337 [ImportVerilog] Handle $signed/$unsigned system tasks
  lib/Conversion/ImportVerilog/Expressions.cpp
  test/Conversion/ImportVerilog/basic.sv
Labels: Moore

#7206 [FIRRTL][FIRParser] Tokenize Commas
  lib/Dialect/FIRRTL/Export/FIREmitter.cpp
  lib/Dialect/FIRRTL/Import/FIRLexer.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Import/FIRTokenKinds.def
  test/Dialect/FIRRTL/SFCTests/dedup.fir
  test/Dialect/FIRRTL/emit-basic.mlir
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/parse-errors.fir
  test/firtool/annotation-openaggs-error.fir
  test/firtool/annotation-openaggs.fir
  test/firtool/import-ref.fir
  test/firtool/lower-layers2.fir
  test/firtool/phase-ordering.fir
Labels: FIRRTL

#7339 [ImportVerilog] Allow enum variants in expressions
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/ImportVerilog.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Structure.cpp
  test/Conversion/ImportVerilog/basic.sv
Labels: Moore

#7344 [MooreToCore] Support NegOp lowering
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Labels: Moore

#7352 [ESI Runtime] If zlib not found, use FetchContent
  lib/Dialect/ESI/runtime/CMakeLists.txt
Labels: ESI

#7351 [LLHD] Remove llhd-sim
  CMakeLists.txt
  CODEOWNERS
  docs/dialects.dot
  docs/includes/img/dialects.png
  docs/includes/img/dialects.svg
  include/circt/Conversion/LLHDToLLVM.h
  include/circt/Conversion/Passes.h
  include/circt/Conversion/Passes.td
  include/circt/Dialect/LLHD/Simulator/Engine.h
  include/circt/Dialect/LLHD/Simulator/State.h
  include/circt/Dialect/LLHD/Simulator/Trace.h
  lib/CAPI/Conversion/CMakeLists.txt
  lib/Conversion/CMakeLists.txt
  lib/Conversion/LLHDToLLVM/CMakeLists.txt
  lib/Conversion/LLHDToLLVM/LLHDToLLVM.cpp
  lib/Dialect/LLHD/CMakeLists.txt
  lib/Dialect/LLHD/Simulator/CMakeLists.txt
  lib/Dialect/LLHD/Simulator/Engine.cpp
  lib/Dialect/LLHD/Simulator/State.cpp
  lib/Dialect/LLHD/Simulator/Trace.cpp
  lib/Dialect/LLHD/Simulator/signals-runtime-wrappers.cpp
  lib/Dialect/LLHD/Simulator/signals-runtime-wrappers.h
  test/CMakeLists.txt
  test/Conversion/LLHDToLLVM/convert_entity.mlir
  test/Conversion/LLHDToLLVM/convert_extract.mlir
  test/Conversion/LLHDToLLVM/convert_memory.mlir
  test/Conversion/LLHDToLLVM/convert_process_persistence.mlir
  test/Conversion/LLHDToLLVM/convert_signals.mlir
  test/Conversion/LLHDToLLVM/convert_simple.mlir
  test/Conversion/LLHDToLLVM/convert_wait_halt.mlir
  test/Conversion/LLHDToLLVM/signal-init-error.mlir
  test/Conversion/LLHDToLLVM/signal-init.mlir
  test/lit.cfg.py
  test/lit.site.cfg.py.in
  test/llhd-sim/commandline.mlir
  tools/CMakeLists.txt
  tools/circt-opt/CMakeLists.txt
  tools/llhd-sim/CMakeLists.txt
  tools/llhd-sim/llhd-sim.cpp
Labels: LLHD

#7353 [LLHD] Use hw.inout instead of llhd.sig
  include/circt/Conversion/HWToLLHD.h
  include/circt/Conversion/Passes.h
  include/circt/Conversion/Passes.td
  include/circt/Dialect/HW/HWTypes.td
  include/circt/Dialect/LLHD/IR/ExtractOps.td
  include/circt/Dialect/LLHD/IR/LLHD.td
  include/circt/Dialect/LLHD/IR/LLHDTypesImpl.td
  include/circt/Dialect/LLHD/IR/MemoryOps.td
  include/circt/Dialect/LLHD/IR/SignalOps.td
  include/circt/Dialect/LLHD/IR/StructureOps.td
  include/circt/Dialect/LLHD/Transforms/Passes.td
  lib/CAPI/Conversion/CMakeLists.txt
  lib/CAPI/Dialect/LLHD.cpp
  lib/Conversion/CMakeLists.txt
  lib/Conversion/HWToLLHD/CMakeLists.txt
  lib/Conversion/HWToLLHD/HWToLLHD.cpp
  lib/Conversion/MooreToCore/MooreToCore.cpp
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  lib/Dialect/LLHD/IR/LLHDTypes.cpp
  lib/Dialect/LLHD/Transforms/MemoryToBlockArgumentPass.cpp
  lib/Dialect/LLHD/Transforms/ProcessLoweringPass.cpp
  test/Conversion/HWToLLHD/errors.mlir
  test/Conversion/HWToLLHD/structure.mlir
  test/Conversion/MooreToCore/basic.mlir
  test/Dialect/LLHD/Canonicalization/constant.mlir
  test/Dialect/LLHD/Canonicalization/extract.mlir
  test/Dialect/LLHD/Canonicalization/probeCSE.mlir
  test/Dialect/LLHD/Canonicalization/signalOps.mlir
  test/Dialect/LLHD/IR/connect-errors.mlir
  test/Dialect/LLHD/IR/connect.mlir
  test/Dialect/LLHD/IR/entity.mlir
  test/Dialect/LLHD/IR/extract-errors.mlir
  test/Dialect/LLHD/IR/extract.mlir
  test/Dialect/LLHD/IR/inst-errors.mlir
  test/Dialect/LLHD/IR/inst.mlir
  test/Dialect/LLHD/IR/proc.mlir
  test/Dialect/LLHD/IR/reg.mlir
  test/Dialect/LLHD/IR/signal-errors.mlir
  test/Dialect/LLHD/IR/signal.mlir
  test/Dialect/LLHD/IR/wait.mlir
  test/Dialect/LLHD/Simulator/sim_bit_precision_drives.mlir
  test/Dialect/LLHD/Simulator/sim_comb_concat.mlir
  test/Dialect/LLHD/Simulator/sim_formats.mlir
  test/Dialect/LLHD/Simulator/sim_hw_array_get_concat.mlir
  test/Dialect/LLHD/Simulator/sim_hw_bitcast.mlir
  test/Dialect/LLHD/Simulator/sim_hw_struct_extract_inject.mlir
  test/Dialect/LLHD/Simulator/sim_process.mlir
  test/Dialect/LLHD/Simulator/sim_reg.mlir
  test/Dialect/LLHD/Simulator/sim_shifts.mlir
  test/Dialect/LLHD/Simulator/sim_simple.mlir
  test/Dialect/LLHD/Simulator/sim_wait.mlir
  test/Dialect/LLHD/Transforms/earlyCodeMotion.mlir
  test/Dialect/LLHD/Transforms/memoryToBlockArgument.mlir
  test/Dialect/LLHD/Transforms/processLowering.mlir
  test/Dialect/LLHD/Transforms/processLoweringErrors.mlir
  test/Dialect/LLHD/Transforms/totalFunctionInlining.mlir
  tools/circt-opt/CMakeLists.txt
Labels: LLHD

#6958 [LLHD] Replace entity with module
  include/circt/Dialect/LLHD/IR/LLHDOps.h
  include/circt/Dialect/LLHD/IR/SignalOps.td
  include/circt/Dialect/LLHD/IR/StructureOps.td
  include/circt/Dialect/LLHD/Transforms/Passes.td
  lib/Dialect/LLHD/IR/LLHDDialect.cpp
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  lib/Dialect/LLHD/Transforms/CMakeLists.txt
  lib/Dialect/LLHD/Transforms/FunctionEliminationPass.cpp
  lib/Dialect/LLHD/Transforms/ProcessLoweringPass.cpp
  test/Dialect/LLHD/Canonicalization/probeCSE.mlir
  test/Dialect/LLHD/Canonicalization/signalOps.mlir
  test/Dialect/LLHD/IR/connect-errors.mlir
  test/Dialect/LLHD/IR/connect.mlir
  test/Dialect/LLHD/IR/entity.mlir
  test/Dialect/LLHD/IR/inst-errors.mlir
  test/Dialect/LLHD/IR/inst.mlir
  test/Dialect/LLHD/IR/reg.mlir
  test/Dialect/LLHD/IR/signal-errors.mlir
  test/Dialect/LLHD/IR/signal.mlir
  test/Dialect/LLHD/Simulator/sim_arbitrary_signal_size.mlir
  test/Dialect/LLHD/Simulator/sim_bit_precision_drives.mlir
  test/Dialect/LLHD/Simulator/sim_comb_concat.mlir
  test/Dialect/LLHD/Simulator/sim_formats.mlir
  test/Dialect/LLHD/Simulator/sim_hw_array_get_concat.mlir
  test/Dialect/LLHD/Simulator/sim_hw_bitcast.mlir
  test/Dialect/LLHD/Simulator/sim_hw_struct_extract_inject.mlir
  test/Dialect/LLHD/Simulator/sim_process.mlir
  test/Dialect/LLHD/Simulator/sim_reg.mlir
  test/Dialect/LLHD/Simulator/sim_shifts.mlir
  test/Dialect/LLHD/Simulator/sim_simple.mlir
  test/Dialect/LLHD/Simulator/sim_wait.mlir
  test/Dialect/LLHD/Transforms/processLowering.mlir
  test/Dialect/LLHD/Transforms/totalFunctionInlining.mlir
Labels: LLHD

#7357 [LLHD] Refactor llhd.proc and remove llhd.inst
  include/circt/Dialect/LLHD/IR/SignalOps.td
  include/circt/Dialect/LLHD/IR/StructureOps.td
  include/circt/Dialect/LLHD/Transforms/Passes.h
  include/circt/Dialect/LLHD/Transforms/Passes.td
  lib/Dialect/LLHD/IR/LLHDDialect.cpp
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  lib/Dialect/LLHD/Transforms/EarlyCodeMotionPass.cpp
  lib/Dialect/LLHD/Transforms/FunctionEliminationPass.cpp
  lib/Dialect/LLHD/Transforms/MemoryToBlockArgumentPass.cpp
  lib/Dialect/LLHD/Transforms/ProcessLoweringPass.cpp
  lib/Dialect/LLHD/Transforms/TemporalRegions.cpp
  test/Dialect/LLHD/Canonicalization/probeCSE.mlir
  test/Dialect/LLHD/IR/inst-errors.mlir
  test/Dialect/LLHD/IR/inst.mlir
  test/Dialect/LLHD/IR/proc.mlir
  test/Dialect/LLHD/IR/signal-errors.mlir
  test/Dialect/LLHD/IR/wait.mlir
  test/Dialect/LLHD/Simulator/sim_formats.mlir
  test/Dialect/LLHD/Simulator/sim_process.mlir
  test/Dialect/LLHD/Simulator/sim_wait.mlir
  test/Dialect/LLHD/Transforms/earlyCodeMotion.mlir
  test/Dialect/LLHD/Transforms/memoryToBlockArgument.mlir
  test/Dialect/LLHD/Transforms/processLowering.mlir
  test/Dialect/LLHD/Transforms/processLoweringErrors.mlir
  test/Dialect/LLHD/Transforms/totalFunctionInlining.mlir
Labels: LLHD

#7356 [Handshake] Fix library dependencies
  include/circt/Conversion/HandshakeToHW.h
  include/circt/Dialect/Handshake/Handshake.td
  include/circt/Dialect/Handshake/HandshakePasses.h
  include/circt/Dialect/Handshake/HandshakeUtils.h
  lib/Conversion/CFToHandshake/CFToHandshake.cpp
  lib/Conversion/CFToHandshake/CMakeLists.txt
  lib/Conversion/HandshakeToDC/CMakeLists.txt
  lib/Conversion/HandshakeToHW/CMakeLists.txt
  lib/Conversion/HandshakeToHW/HandshakeToHW.cpp
  lib/Dialect/Handshake/CMakeLists.txt
  lib/Dialect/Handshake/HandshakeDialect.cpp
  lib/Dialect/Handshake/HandshakeUtils.cpp
  lib/Dialect/Handshake/Transforms/Analysis.cpp
  lib/Dialect/Handshake/Transforms/Buffers.cpp
  lib/Dialect/Handshake/Transforms/CMakeLists.txt
  lib/Dialect/Handshake/Transforms/LockFunctions.cpp
  lib/Dialect/Handshake/Transforms/LowerExtmemToHW.cpp
  lib/Dialect/Handshake/Transforms/Materialization.cpp
Labels: Handshake, HandshakeToHW

#7358 [FIRRTL] LowerToHW: guard against folded operations
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
Labels: FIRRTL

#7359 [firtool] Make layer specialization take a list of layers
  test/firtool/specialize-layers-1.fir
  test/firtool/specialize-layers-2.fir
  tools/firtool/firtool.cpp
Labels: FIRRTL

#7363 [ESI][Runtime] Publish Windows wheels
  .github/workflows/esiRuntimePublish.yml
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/setup.py
Labels: ESI

#7349 [ImportVerilog] Add basic function support
  lib/Conversion/ImportVerilog/CMakeLists.txt
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/ImportVerilog.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Statements.cpp
  lib/Conversion/ImportVerilog/Structure.cpp
  test/Conversion/ImportVerilog/basic.sv
Labels: Moore, ImportVerilog

#7322 [FIRRTL] Add lowering support for inline layers
  lib/Dialect/FIRRTL/Transforms/LowerLayers.cpp
  test/Dialect/FIRRTL/lower-layers.mlir
Labels: FIRRTL

#7367 [ESI runtime] Host memory service
  integration_test/Dialect/ESI/runtime/loopback.mlir.py
  lib/Dialect/ESI/runtime/cpp/include/esi/Services.h
  lib/Dialect/ESI/runtime/cpp/lib/Services.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/accelerator.py
  lib/Dialect/ESI/runtime/python/esiaccel/esiCppAccel.cpp
Labels: ESI

#7354 [ESI] Separate data delay from signaling standard
  frontends/PyCDE/src/pycde/signals.py
  frontends/PyCDE/src/pycde/types.py
  frontends/PyCDE/test/test_esi.py
  include/circt-c/Dialect/ESI.h
  include/circt/Dialect/ESI/ESIChannels.td
  lib/Bindings/Python/ESIModule.cpp
  lib/Bindings/Python/dialects/esi.py
  lib/CAPI/Dialect/ESI.cpp
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/Passes/ESILowerPorts.cpp
  test/Dialect/ESI/connectivity.mlir
  test/Dialect/ESI/lowering.mlir
Labels: ESI

#7340 [Moore] Distinguish the dynamic and constant extract.
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/Structure.cpp
  lib/Conversion/MooreToCore/MooreToCore.cpp
  lib/Dialect/Moore/Transforms/LowerConcatRef.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/MooreToCore/basic.mlir
  test/Dialect/Moore/basic.mlir
  test/Dialect/Moore/lower-concatref.mlir
Labels: Moore, ImportVerilog

#7381 [LLHD] Add TemporalCodeMotionPass
  include/circt/Dialect/LLHD/Transforms/Passes.h
  include/circt/Dialect/LLHD/Transforms/Passes.td
  lib/Dialect/LLHD/Transforms/CMakeLists.txt
  lib/Dialect/LLHD/Transforms/TemporalCodeMotionPass.cpp
  test/Dialect/LLHD/Transforms/temporal-code-motion.mlir
Labels: LLHD

#7391 [ImportVerilog] Support large integer constants
  lib/Conversion/ImportVerilog/Expressions.cpp
  test/Conversion/ImportVerilog/basic.sv
Labels: ImportVerilog

#7393 [ImportVerilog] Support for loop variables
  lib/Conversion/ImportVerilog/Statements.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/errors.sv
Labels: Moore

#7395 [ImportVerilog] Support the power operator
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  test/Conversion/ImportVerilog/basic.sv
Labels: Moore

#7396 [MooreToCore][NFC] Fix the visibility of hw.module.
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Labels: Moore

#7397 [FIRRTL] Touchup {parse,emit}-basic.fir for `--parse-only`.
  test/Dialect/FIRRTL/emit-basic.mlir
  test/Dialect/FIRRTL/parse-basic.fir
Labels: FIRRTL

#7400 [ESI Runtime] Distribute headers along with wheel
  .github/workflows/esiRuntimePublish.yml
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/cmake/esiaccel.cmake
  lib/Dialect/ESI/runtime/cpp/cmake/esiaccelConfig.cmake
  lib/Dialect/ESI/runtime/python/esiaccel/utils.py
Labels: ESI

#7325 [Verif] Introduce Formal Contracts
  include/circt/Dialect/Verif/VerifOps.h
  include/circt/Dialect/Verif/VerifOps.td
  lib/Dialect/Verif/VerifOps.cpp
  test/Dialect/Verif/basic.mlir
Labels: verif

#7320 [Scheduling] Replace macro use in problem definitions
  include/circt/Dialect/SSP/Utilities.h
  include/circt/Scheduling/Problems.h
  lib/Analysis/SchedulingAnalysis.cpp
  lib/Conversion/AffineToLoopSchedule/AffineToLoopSchedule.cpp
  lib/Dialect/Pipeline/Transforms/ScheduleLinearPipeline.cpp
Labels: Scheduling

#7403 [ImportVerilog] Support for String Types, String Literals
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/Types.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/types.sv
Labels: ImportVerilog

#7407 [ESI] MMIO: add read/write port to service
  frontends/PyCDE/integration_test/esi_test.py
  frontends/PyCDE/integration_test/test_software/esi_test.py
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/bsp/cosim.py
  frontends/PyCDE/src/pycde/esi.py
  lib/Dialect/ESI/ESIStdServices.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  test/Dialect/ESI/services.mlir
Labels: ESI

#6256 Support `scf.if` Op Lowering to Calyx
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  test/Conversion/SCFToCalyx/convert_controlflow.mlir
Labels: Calyx
