Repository llvm/circt, pull requests merged in 2024-10, with the labels that each got.

#7653 [Arc] Fix folding of initialized StateOp
  lib/Dialect/Arc/ArcFolds.cpp
  test/Dialect/Arc/canonicalizers.mlir
Labels: bug, Arc

#7652 [MooreToCore] Lower moore.net to llhd.sig
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Labels: Moore

#7657 [FIRRTL] Add integer shift left property op
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/canonicalization.mlir
  test/Dialect/FIRRTL/round-trip.mlir
Labels: FIRRTL

#7680 [FIRRTL] InferResets: properly lower FART'd registers
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  test/Dialect/FIRRTL/infer-resets.mlir
Labels: FIRRTL

#7691 [Verif] Simplify the FormalOp
  include/circt/Dialect/Verif/VerifOps.td
  test/Dialect/Verif/basic.mlir
  test/circt-test/basic.mlir
Labels: verif

#7693 [Sim][NFC] Include InferTypeOpInterface in SimOps.td
  include/circt/Dialect/Sim/SimOps.h
  include/circt/Dialect/Sim/SimOps.td
  lib/Dialect/Sim/Transforms/ProceduralizeSim.cpp
Labels: Simulator

#7694 [MooreToCore] Add support for format strings and display task
  include/circt/Conversion/Passes.td
  lib/Conversion/MooreToCore/CMakeLists.txt
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Labels: Moore

#7697 [FIRRTL] InferWidths: fix invalid frame reference
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Labels: bug, FIRRTL

#7699 [ArcToLLVM] Add support for index dialect
  lib/Conversion/ArcToLLVM/CMakeLists.txt
  lib/Conversion/ArcToLLVM/LowerArcToLLVM.cpp
  tools/arcilator/CMakeLists.txt
  tools/arcilator/arcilator.cpp
Labels: Arc

#7700 [Arc] Add arc.final op
  include/circt/Dialect/Arc/ArcOps.td
  include/circt/Dialect/Arc/ModelInfo.h
  integration_test/CMakeLists.txt
  integration_test/arcilator/JIT/initial.mlir
  integration_test/arcilator/JIT/lifecycle.mlir
  lib/Conversion/ArcToLLVM/LowerArcToLLVM.cpp
  lib/Dialect/Arc/ArcOps.cpp
  lib/Dialect/Arc/Export/CMakeLists.txt
  lib/Dialect/Arc/Export/ModelInfoExport.cpp
  lib/Dialect/Arc/ModelInfo.cpp
  lib/Dialect/Arc/Transforms/LowerClocksToFuncs.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  test/Dialect/Arc/Export/serialize-state-info.mlir
  test/Dialect/Arc/basic-errors.mlir
  test/Dialect/Arc/lower-clocks-to-funcs-errors.mlir
  test/Dialect/Arc/lower-clocks-to-funcs.mlir
Labels: Arc

#7706 [FIRRTL][ProbesToSignals] RWProbe support
  lib/Dialect/FIRRTL/Transforms/ProbesToSignals.cpp
  test/Dialect/FIRRTL/probes-to-signals-errors.mlir
  test/Dialect/FIRRTL/probes-to-signals.mlir
Labels: enhancement, FIRRTL

#7702 [Arc] Add dominance-aware pass to sink ops and merge scf.if ops
  include/circt/Dialect/Arc/ArcPasses.h
  include/circt/Dialect/Arc/ArcPasses.td
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/GroupResetsAndEnables.cpp
  lib/Dialect/Arc/Transforms/MergeIfs.cpp
  test/Dialect/Arc/group-resets-and-enables.mlir
  test/Dialect/Arc/merge-ifs.mlir
  tools/arcilator/arcilator.cpp
Labels: Arc

#7715 [ESI] Promote and generalize 'channel assignments'
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/esi.py
  include/circt/Dialect/ESI/ESIManifest.td
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/ESIServices.cpp
  lib/Dialect/ESI/runtime/cpp/include/esi/Common.h
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  test/Dialect/ESI/manifest.mlir
  test/Dialect/ESI/services.mlir
Labels: ESI

#7727 [HWToSMT] Proper error message for 0-bit constants
  lib/Conversion/HWToSMT/HWToSMT.cpp
  test/Conversion/HWToSMT/hw-to-smt-errors.mlir
Labels: SMT

#7723 [Verif] Add contract examples to dialect doc
  docs/Dialects/Verif.md
Labels: verif

#7747 [FIRRTL] Remove validation from type inference code
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  include/circt/Dialect/FIRRTL/FIRRTLOps.h
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
Labels: FIRRTL

#7703 [Arc] Improve LowerState to never produce read-after-write conflicts
  include/circt/Dialect/Arc/ArcPasses.h
  include/circt/Dialect/Arc/ArcPasses.td
  integration_test/arcilator/JIT/dpi.mlir
  integration_test/arcilator/JIT/initial-shift-reg.mlir
  integration_test/arcilator/JIT/reg.mlir
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  lib/Dialect/Arc/ArcTypes.cpp
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/LegalizeStateUpdate.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  lib/Dialect/Arc/Transforms/LowerStateRewrite.cpp
  test/Dialect/Arc/legalize-state-update-error.mlir
  test/Dialect/Arc/legalize-state-update.mlir
  test/Dialect/Arc/lower-state-errors.mlir
  test/Dialect/Arc/lower-state.mlir
  test/arcilator/arcilator.mlir
  tools/arcilator/arcilator.cpp
Labels: Arc

#7745 [Verif] Adjust contract ops to match documentation
  include/circt/Dialect/Verif/VerifOps.td
  lib/Dialect/Verif/VerifOps.cpp
  test/Dialect/Verif/basic.mlir
Labels: verif

#7754 [Verif][NFC] Use auto-generated constructors for all passes
  include/circt/Dialect/Verif/Passes.td
  include/circt/Dialect/Verif/VerifPasses.h
  lib/Dialect/Verif/Transforms/LowerFormalToHW.cpp
  lib/Dialect/Verif/Transforms/PrepareForFormal.cpp
  lib/Dialect/Verif/Transforms/VerifyClockedAssertLike.cpp
Labels: verif

#7756 [circt-test] Add simple SymbiYosys test runner
  integration_test/CMakeLists.txt
  integration_test/circt-test/basic.mlir
  integration_test/lit.cfg.py
  tools/circt-test/CMakeLists.txt
  tools/circt-test/circt-test-runner-sby.py
  tools/circt-test/circt-test.cpp
Labels: verif

#7757 [HW] Add port name accessors to HWInstanceLike
  include/circt/Dialect/HW/HWOpInterfaces.td
  include/circt/Dialect/HW/HWStructure.td
  lib/Conversion/ExportVerilog/PrepareForEmission.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  lib/Dialect/SV/Transforms/SVExtractTestCode.cpp
  lib/Tools/circt-bmc/ExternalizeRegisters.cpp
Labels: HW

#7089 Calyx Binary Floating Point AddF Operator
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  lib/Dialect/Calyx/Transforms/CalyxLoweringUtils.cpp
  test/Conversion/SCFToCalyx/convert_simple.mlir
  test/Conversion/SCFToCalyx/errors.mlir
  test/Dialect/Calyx/emit.mlir
Labels: Calyx

#7669 [SCFToCalyx] Build control for nested if operation
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  test/Conversion/SCFToCalyx/convert_controlflow.mlir
Labels: Calyx
