Repository llvm/circt, pull requests merged in 2025-01, with the labels that each got.

#8023 [Comb] Don't try to canonicalize muxes indefinitely
  lib/Dialect/Comb/CombFolds.cpp
  test/Dialect/Comb/canonicalization.mlir
Labels: Comb

#8029 [PyCDE][Python] Fixing leaks reported by nanobind
  frontends/PyCDE/src/pycde/esi.py
  frontends/PyCDE/test/test_compreg.py
  frontends/PyCDE/test/test_xrt.py
  lib/Bindings/Python/ESIModule.cpp
  lib/Bindings/Python/MSFTModule.cpp
Labels: Python, PyCDE

#8025 [ESI/PyCDE] Updating XRT BSP to use ChannelMMIO
  frontends/PyCDE/integration_test/test_software/xrt_cosim.py
  frontends/PyCDE/src/CMakeLists.txt
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/bsp/xrt.py
  frontends/PyCDE/src/pycde/bsp/xrt_api.py
  frontends/PyCDE/src/pycde/esi.py
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/test/test_xrt.py
Labels: ESI, PyCDE

#7924 [RTGTest] Add some registers
  include/circt/Dialect/RTGTest/IR/CMakeLists.txt
  include/circt/Dialect/RTGTest/IR/RTGTest.td
  include/circt/Dialect/RTGTest/IR/RTGTestAttributes.td
  include/circt/Dialect/RTGTest/IR/RTGTestDialect.h
  include/circt/Dialect/RTGTest/IR/RTGTestOps.h
  include/circt/Dialect/RTGTest/IR/RTGTestOps.td
  include/circt/Dialect/RTGTest/IR/RTGTestTypes.td
  integration_test/Bindings/Python/dialects/rtg.py
  lib/Dialect/RTGTest/IR/CMakeLists.txt
  lib/Dialect/RTGTest/IR/RTGTestDialect.cpp
  lib/Dialect/RTGTest/IR/RTGTestOps.cpp
  test/Dialect/RTGTest/IR/basic.mlir
  unittests/Dialect/CMakeLists.txt
  unittests/Dialect/RTGTest/CMakeLists.txt
  unittests/Dialect/RTGTest/RegisterTest.cpp
Labels: RTG

#8037 Use MLIR python detection environment
  CMakeLists.txt
Labels: Python

#8044 [PyCDE] Improving support for Any type
  frontends/PyCDE/src/pycde/signals.py
  frontends/PyCDE/src/pycde/types.py
  include/circt-c/Dialect/ESI.h
  include/circt/Dialect/ESI/ESIOps.h
  lib/Bindings/Python/ESIModule.cpp
  lib/CAPI/Dialect/ESI.cpp
Labels: PyCDE

#8045 [PyCDE/ESI] Add ESI hostmem service write API
  frontends/PyCDE/src/pycde/esi.py
  frontends/PyCDE/test/test_esi.py
  lib/Bindings/Python/support.py
Labels: ESI, PyCDE

#8059 [ESI] Add hostmem write support to cosim
  frontends/PyCDE/integration_test/esitester.py
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/bsp/cosim.py
  frontends/PyCDE/src/pycde/esi.py
  frontends/PyCDE/src/pycde/signals.py
  frontends/PyCDE/src/pycde/types.py
  frontends/PyCDE/test/test_esi.py
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esitester.cpp
Labels: ESI, PyCDE

#7969 [RTG][Elaboration] Support sequences
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/Dialect/RTG/Transform/elaboration.mlir
Labels: RTG

#7978 [RTG][Elaboration] Add support for 'index.add' and 'index.cmp'
  include/circt/Dialect/RTG/Transforms/RTGPasses.td
  lib/Dialect/RTG/Transforms/CMakeLists.txt
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/Dialect/RTG/Transform/elaboration.mlir
Labels: RTG

#8079 [SCFToCalyx] Lower `scf.if` op when it yields nothing
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  test/Conversion/SCFToCalyx/convert_controlflow.mlir
Labels: Calyx

#7979 [RTG] Add InstructionOpInterface
  include/circt/Dialect/RTG/IR/RTGISAAssemblyInterfaces.td
Labels: RTG

#8034 [RTG] Add context resource attribute interface
  include/circt-c/Dialect/RTGTest.h
  include/circt/Dialect/RTG/IR/CMakeLists.txt
  include/circt/Dialect/RTG/IR/RTGAttrInterfaces.h
  include/circt/Dialect/RTG/IR/RTGInterfaces.td
  include/circt/Dialect/RTG/IR/RTGOps.h
  include/circt/Dialect/RTGTest/IR/CMakeLists.txt
  include/circt/Dialect/RTGTest/IR/RTGTest.td
  include/circt/Dialect/RTGTest/IR/RTGTestAttributes.h
  include/circt/Dialect/RTGTest/IR/RTGTestAttributes.td
  include/circt/Dialect/RTGTest/IR/RTGTestDialect.td
  include/circt/Dialect/RTGTest/IR/RTGTestOps.h
  include/circt/Dialect/RTGTest/IR/RTGTestOps.td
  integration_test/Bindings/Python/dialects/rtg.py
  lib/Bindings/Python/RTGTestModule.cpp
  lib/CAPI/Dialect/RTGTest.cpp
  lib/Dialect/RTG/IR/CMakeLists.txt
  lib/Dialect/RTG/IR/RTGAttrInterfaces.cpp
  lib/Dialect/RTGTest/IR/CMakeLists.txt
  lib/Dialect/RTGTest/IR/RTGTestAttributes.cpp
  lib/Dialect/RTGTest/IR/RTGTestDialect.cpp
  lib/Dialect/RTGTest/IR/RTGTestOps.cpp
  test/CAPI/rtgtest.c
  test/Dialect/RTGTest/IR/basic.mlir
Labels: RTG

#7986 [RTG][Elaboration] Add support for 'scf.if' and 'scf.for'
  lib/Dialect/RTG/Transforms/CMakeLists.txt
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/Dialect/RTG/Transform/elaboration.mlir
Labels: RTG

#8098 [SCFToCalyx] Wrap blocks with scf::ExecuteRegion when creating the new scf::Parallel
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  test/Conversion/SCFToCalyx/convert_simple.mlir
Labels: Calyx

#7998 [RTG][Elaboration] Move ConstantLike check after TypeSwitch for better performance
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
Labels: RTG

#8095 [ESI] BSP: variable sized reads and gearboxing read responses
  frontends/PyCDE/integration_test/esitester.py
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/bsp/cosim.py
  frontends/PyCDE/src/pycde/constructs.py
  frontends/PyCDE/src/pycde/esi.py
  frontends/PyCDE/src/pycde/signals.py
  frontends/PyCDE/test/test_esi.py
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esitester.cpp
Labels: ESI

#8102 [ESI] BSP: implement hostmem read path arbiter
  frontends/PyCDE/integration_test/esitester.py
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/esi.py
  lib/Dialect/ESI/runtime/cpp/tools/esitester.cpp
Labels: ESI

#8113 [FIRRTL][Inliner] Don't remove modules with symbol uses
  lib/Dialect/FIRRTL/Transforms/ModuleInliner.cpp
  test/Dialect/FIRRTL/inliner.mlir
Labels: bug, FIRRTL

#8114 [FIRRTL][IMDCE] Don't remove modules with symbol uses
  lib/Dialect/FIRRTL/Transforms/IMDeadCodeElim.cpp
  test/Dialect/FIRRTL/imdce.mlir
Labels: bug, FIRRTL

#8112 [FIRRTL] Move GC after AssignOutputDirs.
  lib/Firtool/Firtool.cpp
Labels: FIRRTL

#8120 [FIRRTL] GrandCentral: set iface output_file based on parent.
  lib/Dialect/FIRRTL/Transforms/GrandCentral.cpp
  test/Dialect/FIRRTL/grand-central-view.mlir
Labels: FIRRTL

#8052 [RTGTest] Improved register representation
  include/circt-c/Dialect/RTGTest.h
  include/circt/Dialect/RTG/IR/CMakeLists.txt
  include/circt/Dialect/RTG/IR/RTGISAAssemblyAttrInterfaces.h
  include/circt/Dialect/RTG/IR/RTGISAAssemblyInterfaces.td
  include/circt/Dialect/RTG/IR/RTGISAAssemblyTypeInterfaces.h
  include/circt/Dialect/RTG/IR/RTGOps.h
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  include/circt/Dialect/RTGTest/IR/RTGTest.td
  include/circt/Dialect/RTGTest/IR/RTGTestAttributes.h
  include/circt/Dialect/RTGTest/IR/RTGTestAttributes.td
  include/circt/Dialect/RTGTest/IR/RTGTestOps.td
  include/circt/Dialect/RTGTest/IR/RTGTestTypes.h
  include/circt/Dialect/RTGTest/IR/RTGTestTypes.td
  integration_test/Bindings/Python/dialects/rtg.py
  lib/Bindings/Python/RTGTestModule.cpp
  lib/CAPI/Dialect/RTGTest.cpp
  lib/Dialect/RTG/IR/CMakeLists.txt
  lib/Dialect/RTG/IR/RTGISAAssemblyAttrInterfaces.cpp
  lib/Dialect/RTG/IR/RTGISAAssemblyTypeInterfaces.cpp
  lib/Dialect/RTG/IR/RTGOps.cpp
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  lib/Dialect/RTGTest/IR/RTGTestOps.cpp
  test/CAPI/rtgtest.c
  test/Dialect/RTGTest/IR/basic.mlir
  unittests/Dialect/CMakeLists.txt
  unittests/Dialect/RTGTest/CMakeLists.txt
  unittests/Dialect/RTGTest/RegisterTest.cpp
Labels: RTG

#8122 [ESI][Runtime] XRT support for host memory access
  lib/Dialect/ESI/runtime/cpp/include/esi/Services.h
  lib/Dialect/ESI/runtime/cpp/lib/Services.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Xrt.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esitester.cpp
Labels: ESI

#8123 [ESI][XRT] Hostmem service: read side for XRT platform
  frontends/PyCDE/integration_test/esitester.py
  frontends/PyCDE/src/CMakeLists.txt
  frontends/PyCDE/src/pycde/bsp/Makefile.xrt.mk
  frontends/PyCDE/src/pycde/bsp/xrt.py
  frontends/PyCDE/src/pycde/bsp/xrt_package.tcl
  frontends/PyCDE/src/pycde/bsp/xrt_vitis.cfg
Labels: ESI

#8115 [FIRRTL][IMCP] Overdefine ports of modules with unknown symbol uses
  include/circt/Support/InstanceGraph.h
  lib/Dialect/FIRRTL/Transforms/IMConstProp.cpp
  lib/Support/InstanceGraph.cpp
  test/Dialect/FIRRTL/imconstprop.mlir
Labels: bug, FIRRTL

#8136 [ESI][BSP] Gearboxing the hostmem write path
  frontends/PyCDE/integration_test/esitester.py
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/signals.py
  lib/Dialect/ESI/runtime/cosim_dpi_server/esi-cosim.py
  lib/Dialect/ESI/runtime/cpp/tools/esitester.cpp
Labels: ESI

#8137 [ESI][BSP] Multiplexing hostmem write clients
  frontends/PyCDE/integration_test/esitester.py
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/esi.py
  lib/Dialect/ESI/runtime/cpp/tools/esitester.cpp
Labels: ESI

#8138 [ESI][BSP] Adding byte enables to cosim hostmem
  frontends/PyCDE/src/pycde/bsp/common.py
  lib/Dialect/ESI/runtime/cpp/include/esi/Common.h
  lib/Dialect/ESI/runtime/cpp/lib/Common.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esitester.cpp
Labels: ESI

#8143 [ExportVerilog] Treat verif.contract as no-op
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  test/Conversion/ExportVerilog/verif.mlir
Labels: ExportVerilog

#8152 [ESI][XRT BSP] Host memory writes
  frontends/PyCDE/src/pycde/bsp/xrt.py
  lib/Dialect/ESI/runtime/cpp/tools/esitester.cpp
Labels: ESI

#8155 [Verif] Add ContractOp to Visitor
  include/circt/Dialect/Verif/VerifVisitors.h
  lib/Conversion/HWToBTOR2/HWToBTOR2.cpp
Labels: verif

#8144 [Verif] Add StripContracts pass
  include/circt/Dialect/Verif/Passes.td
  lib/Dialect/Verif/Transforms/CMakeLists.txt
  lib/Dialect/Verif/Transforms/StripContracts.cpp
  lib/Firtool/Firtool.cpp
  test/Dialect/Verif/strip-contracts.mlir
Labels: verif

#8053 [RTGTest] Add representation for immediates
  include/circt-c/Dialect/RTGTest.h
  include/circt/Dialect/RTGTest/IR/RTGTestAttributes.td
  include/circt/Dialect/RTGTest/IR/RTGTestOps.td
  include/circt/Dialect/RTGTest/IR/RTGTestTypes.td
  integration_test/Bindings/Python/dialects/rtg.py
  lib/Bindings/Python/RTGTestModule.cpp
  lib/CAPI/Dialect/RTGTest.cpp
  lib/Dialect/RTGTest/IR/RTGTestOps.cpp
  test/CAPI/rtgtest.c
  test/Dialect/RTGTest/IR/basic.mlir
Labels: RTG

#8056 [RTGTest] Add a few instructions
  include/circt/Dialect/RTGTest/IR/RTGTestOps.td
  test/Dialect/RTGTest/IR/basic.mlir
Labels: RTG

#8057 [RTG] Add ISA assembly emission pass
  include/circt/Dialect/RTG/Transforms/RTGPasses.td
  include/circt/Dialect/RTGTest/IR/RTGTestOps.td
  lib/Dialect/RTG/Transforms/CMakeLists.txt
  lib/Dialect/RTG/Transforms/EmitRTGISAAssemblyPass.cpp
  test/Dialect/RTG/Transform/emit-rtg-isa-assembly-split-invalid.mlir
  test/Dialect/RTG/Transform/emit-rtg-isa-assembly-split.mlir
  test/Dialect/RTG/Transform/emit-rtg-isa-assembly.mlir
  test/Dialect/RTG/Transform/unsupported-instr.txt
Labels: RTG

#8058 [RTG] Add simple linear scan register allocation pass
  include/circt/Dialect/RTG/Transforms/RTGPasses.td
  lib/Dialect/RTG/Transforms/CMakeLists.txt
  lib/Dialect/RTG/Transforms/LinearScanRegisterAllocationPass.cpp
  test/Dialect/RTG/Transform/linear-scan-register-allocation.mlir
Labels: RTG

#8100 [RTG] More convenient InstructionOpInterface methods
  include/circt/Dialect/RTG/IR/RTGISAAssemblyInterfaces.td
  include/circt/Dialect/RTG/IR/RTGISAAssemblyOpInterfaces.h
  include/circt/Dialect/RTGTest/IR/RTGTestOps.td
Labels: RTG

#8101 [RTG][Elaboration] Support fixed and virtual registers
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/Dialect/RTG/Transform/elaboration.mlir
Labels: RTG

#8105 [RTGTest] Add branch instructions
  include/circt-c/Dialect/RTGTest.h
  include/circt/Dialect/RTGTest/IR/RTGTestAttributes.td
  include/circt/Dialect/RTGTest/IR/RTGTestOps.td
  include/circt/Dialect/RTGTest/IR/RTGTestTypes.td
  integration_test/Bindings/Python/dialects/rtg.py
  lib/Bindings/Python/RTGTestModule.cpp
  lib/CAPI/Dialect/RTGTest.cpp
  test/CAPI/rtgtest.c
  test/Dialect/RTGTest/IR/basic.mlir
Labels: RTG

#8106 [RTG][EmitISA] Support labels
  lib/Dialect/RTG/Transforms/EmitRTGISAAssemblyPass.cpp
  test/Dialect/RTG/Transform/emit-rtg-isa-assembly-errors.mlir
  test/Dialect/RTG/Transform/emit-rtg-isa-assembly-labels.mlir
  test/Dialect/RTG/Transform/emit-rtg-isa-assembly.mlir
  test/Dialect/RTG/Transform/unsupported-instr.txt
Labels: RTG

#8107 [RTG][Elaboration] Support labels
  include/circt/Support/Namespace.h
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/Dialect/RTG/Transform/elaboration.mlir
Labels: RTG

#8117 [RTGTest] Add some arithmetic instructions
  include/circt/Dialect/RTGTest/IR/RTGTestOps.td
  test/Dialect/RTG/Transform/emit-rtg-isa-assembly.mlir
  test/Dialect/RTG/Transform/unsupported-instr.txt
  test/Dialect/RTGTest/IR/basic.mlir
Labels: RTG

#8118 [RTGTest] Add store instructions
  include/circt/Dialect/RTGTest/IR/RTGTestOps.td
  test/Dialect/RTG/Transform/emit-rtg-isa-assembly.mlir
  test/Dialect/RTG/Transform/unsupported-instr.txt
  test/Dialect/RTGTest/IR/basic.mlir
Labels: RTG
