Repository llvm/circt, pull requests merged in 2025-06, with the labels that each got.

#8513 [LLHD] Fix deseq poisoning comb ops that don't depend on triggers
  lib/Dialect/LLHD/Transforms/Deseq.cpp
  test/Dialect/LLHD/Transforms/deseq.mlir
Labels: bug, LLHD

#8526 [ESI] Add 'server-only' mode to esi-cosim.py
  lib/Dialect/ESI/runtime/cosim_dpi_server/esi-cosim.py
Labels: ESI

#8389 [RTG][Elaboration] Treat randomized sequences as regular identity values
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/Dialect/RTG/Transform/elaboration.mlir
Labels: RTG

#8534 [LLHD] Add pass to combine drives to aggregate signals
  include/circt/Dialect/LLHD/Transforms/LLHDPasses.td
  lib/Dialect/LLHD/Transforms/CMakeLists.txt
  lib/Dialect/LLHD/Transforms/CombineDrives.cpp
  test/Dialect/LLHD/Transforms/combine-drives.mlir
Labels: LLHD

#8540 [CombToSMT] Fix conversion target
  lib/Conversion/CombToSMT/CombToSMT.cpp
Labels: SMT

#8391 [RTG][Elaboration] Improve how tests are matched with targets
  frontends/PyRTG/src/pyrtg/tests.py
  frontends/PyRTG/test/basic.mlir
  frontends/PyRTG/test/basic.py
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/Transforms/RTGPasses.td
  integration_test/Bindings/Python/dialects/rtg.py
  integration_test/Bindings/Python/rtg_pipeline.py
  lib/Dialect/RTG/IR/RTGOps.cpp
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/CAPI/rtg-pipelines.c
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/IR/errors.mlir
  test/Dialect/RTG/Transform/elaboration.mlir
Labels: RTG

#8395 [RTG] Add MemoryAllocation pass
  include/circt/Dialect/RTG/IR/RTGTypes.td
  include/circt/Dialect/RTG/Transforms/RTGPasses.td
  include/circt/Dialect/RTGTest/IR/RTGTestOps.td
  lib/Dialect/RTG/Transforms/CMakeLists.txt
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  lib/Dialect/RTG/Transforms/MemoryAllocationPass.cpp
  test/Dialect/RTG/Transform/elaboration.mlir
  test/Dialect/RTG/Transform/emit-rtg-isa-assembly-labels.mlir
  test/Dialect/RTG/Transform/emit-rtg-isa-assembly.mlir
  test/Dialect/RTG/Transform/memory-allocation.mlir
Labels: RTG

#8397 [RTG] Add MemoryAllocation pass to pipeline
  frontends/PyRTG/src/rtgtool/rtgtool.py
  frontends/PyRTG/test/test_memories.py
  include/circt-c/RtgTool.h
  include/circt/Tools/rtgtool/RtgToolOptions.h
  lib/Bindings/Python/RTGToolModule.cpp
  lib/CAPI/RtgTool/RtgTool.cpp
  lib/Tools/rtgtool/RtgToolOptions.cpp
Labels: RTG

#8399 [PyRTG] Refactor targets/configs
  frontends/PyRTG/src/CMakeLists.txt
  frontends/PyRTG/src/pyrtg/__init__.py
  frontends/PyRTG/src/pyrtg/arrays.py
  frontends/PyRTG/src/pyrtg/bags.py
  frontends/PyRTG/src/pyrtg/configs.py
  frontends/PyRTG/src/pyrtg/contexts.py
  frontends/PyRTG/src/pyrtg/control_flow.py
  frontends/PyRTG/src/pyrtg/core.py
  frontends/PyRTG/src/pyrtg/integers.py
  frontends/PyRTG/src/pyrtg/labels.py
  frontends/PyRTG/src/pyrtg/memories.py
  frontends/PyRTG/src/pyrtg/resources.py
  frontends/PyRTG/src/pyrtg/sequences.py
  frontends/PyRTG/src/pyrtg/sets.py
  frontends/PyRTG/src/pyrtg/support.py
  frontends/PyRTG/src/pyrtg/target.py
  frontends/PyRTG/src/pyrtg/tests.py
  frontends/PyRTG/src/pyrtg/tuples.py
  frontends/PyRTG/src/rtgtool/rtgtool.py
  frontends/PyRTG/test/basic.py
  frontends/PyRTG/test/test_contexts.py
  frontends/PyRTG/test/test_control_flow.py
  frontends/PyRTG/test/test_memories.py
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  lib/Dialect/RTG/Transforms/InlineSequencesPass.cpp
  test/Dialect/RTG/Transform/inline-sequences.mlir
Labels: RTG

#8546 [FIRRTL] Dedup: MustDedup support merging of pub+priv modules
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  test/Dialect/FIRRTL/dedup-errors.mlir
Labels: FIRRTL

#8577 [FIRRTL] Add canonicalization test to ensure dead ref ops are eliminated
  test/Dialect/FIRRTL/canonicalization.mlir
Labels: FIRRTL

#8579 [circt-verilog] Add updated LLHD passes to the pipeline
  test/circt-verilog/registers.sv
  tools/circt-verilog/circt-verilog.cpp
Labels: ImportVerilog

#8584 [Arc] don't sink ops with nested writes in MergeIfs
  lib/Dialect/Arc/Transforms/MergeIfs.cpp
  test/Dialect/Arc/merge-ifs.mlir
Labels: Arc

#8599 [Kanagawa] Replace CSE with specialized pass
  include/circt/Dialect/Kanagawa/KanagawaPasses.h
  include/circt/Dialect/Kanagawa/KanagawaPasses.td
  lib/Dialect/Kanagawa/Transforms/CMakeLists.txt
  lib/Dialect/Kanagawa/Transforms/KanagawaCleanSelfdrivers.cpp
  lib/Dialect/Kanagawa/Transforms/KanagawaEliminateRedundantOps.cpp
  lib/Dialect/Kanagawa/Transforms/KanagawaPassPipelines.cpp
  test/Dialect/Kanagawa/Transforms/eliminate_redundant_ops.mlir
  tools/kanagawatool/CMakeLists.txt
  tools/kanagawatool/kanagawatool.cpp
Labels: Kanagawa

#8600 [LLHD] Add pass to lower acyclic control flow to mux ops
  include/circt/Dialect/LLHD/Transforms/LLHDPasses.td
  lib/Dialect/LLHD/Transforms/CMakeLists.txt
  lib/Dialect/LLHD/Transforms/RemoveControlFlow.cpp
  test/Dialect/LLHD/Transforms/remove-control-flow.mlir
  tools/circt-verilog/circt-verilog.cpp
Labels: LLHD

#8607 [Comb] Enable cross-block folds on and/or/xor
  lib/Dialect/Comb/CombFolds.cpp
  test/Dialect/Calyx/remove-comb-groups.mlir
  test/Dialect/Seq/hw-memsim.mlir
Labels: Comb

#8609 [Comb] Enable cross-block folds on replicate/parity/shl/shr/mux/icmp
  lib/Dialect/Comb/CombFolds.cpp
Labels: Comb

#8612 [Pipeline] Python dialect and pass registration
  frontends/PyCDE/src/pycde/system.py
  include/circt-c/Dialect/Pipeline.h
  integration_test/Bindings/Python/dialects/pipeline.py
  lib/Bindings/Python/CIRCTModule.cpp
  lib/Bindings/Python/CMakeLists.txt
  lib/CAPI/Dialect/CMakeLists.txt
  lib/CAPI/Dialect/Pipeline.cpp
Labels: Python, PyCDE

#8616 [PyCDE] Support for importing Kanagawa
  frontends/PyCDE/src/pycde/common.py
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/src/pycde/system.py
  frontends/PyCDE/test/test_kanagawa.py
Labels: PyCDE

#8617 [PyCDE] Support custom op conversion on import
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/src/pycde/system.py
Labels: PyCDE
