Repository llvm/circt, pull requests merged in 2025-08, with the labels that each got.

#8815 [ESI][Runtime] Windows wheel: use flat directory structure
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim_dpi_server/CMakeLists.txt
  lib/Dialect/ESI/runtime/python/esiaccel/utils.py
Labels: ESI

#8814 [ESI][Runtime] Fixing MMIO to account for relative paths
  lib/Dialect/ESI/runtime/cpp/include/esi/Common.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Services.h
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Services.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Xrt.cpp
Labels: ESI

#8819 [ESI][Runtime] Fix Linux backend loading
  lib/Dialect/ESI/runtime/cpp/lib/Accelerator.cpp
Labels: ESI

#8824 [ImportVerilog] Add time literals
  include/circt/Dialect/Moore/MooreOps.td
  include/circt/Dialect/Moore/MooreTypes.h
  include/circt/Dialect/Moore/MooreTypes.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Structure.cpp
  lib/Conversion/ImportVerilog/Types.cpp
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/default-timeunit.sv
  test/Conversion/ImportVerilog/errors.sv
  test/Conversion/ImportVerilog/types.sv
  test/Conversion/MooreToCore/basic.mlir
Labels: Moore, ImportVerilog

#8821 [LLHD] Propogate signal definitions only to dominated blocks in Mem2Reg
  lib/Dialect/LLHD/Transforms/Mem2Reg.cpp
  test/Dialect/LLHD/Transforms/mem2reg.mlir
Labels: LLHD

#8835 [ImportVerilog] Bump slang to version 9
  CMakeLists.txt
  cmake/modules/SlangCompilerOptions.cmake
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/HierarchicalNames.cpp
  test/Tools/circt-verilog-lsp-server/diagnostic.test
  test/circt-verilog/commandline.sv
Labels: ImportVerilog

#8840 [ImportVerilog] Fix file locations for auto-discovered files
  lib/Conversion/ImportVerilog/ImportVerilog.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  test/circt-verilog/include/library_module.sv
  test/circt-verilog/library-locations.sv
  test/circt-verilog/preprocess-errors.sv
Labels: ImportVerilog

#8854 [LLHD] Add struct extract support to mem2reg
  lib/Dialect/LLHD/Transforms/Mem2Reg.cpp
  test/Dialect/LLHD/Transforms/mem2reg.mlir
Labels: LLHD

#8859 [LLHD] Properly handle local signals during mem2reg
  lib/Dialect/LLHD/Transforms/Mem2Reg.cpp
  test/Dialect/LLHD/Transforms/mem2reg.mlir
Labels: LLHD

#8861 [HW] Canonicalize array inject to create; allow struct inject loops
  lib/Dialect/HW/HWOps.cpp
  test/Dialect/HW/canonicalization.mlir
Labels: HW

#8872 [Arc] Consider array/struct field alignment when computing state size
  lib/Dialect/Arc/ArcTypes.cpp
  test/Dialect/Arc/allocate-state.mlir
Labels: Arc

#8876 [Arc][MergeIfs] Improve performance
  lib/Dialect/Arc/Transforms/MergeIfs.cpp
Labels: Arc

#8878 [LowerArcToLLVM] Disable pattern rollback in dialect conversion
  lib/Conversion/ArcToLLVM/LowerArcToLLVM.cpp
  lib/Conversion/CombToArith/CombToArith.cpp
  lib/Conversion/HWToLLVM/HWToLLVM.cpp
  test/Conversion/HWToLLVM/convert_aggregates.mlir
Labels: Arc

#8883 [Moore] Add more precise conversion ops
  include/circt/Dialect/Moore/MooreOps.td
  include/circt/Dialect/Moore/MooreTypes.h
  include/circt/Dialect/Moore/MooreTypes.td
  lib/Conversion/ImportVerilog/AssertionExpr.cpp
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/Statements.cpp
  lib/Conversion/ImportVerilog/Structure.cpp
  lib/Conversion/MooreToCore/MooreToCore.cpp
  lib/Dialect/Moore/MooreOps.cpp
  lib/Dialect/Moore/MooreTypes.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/MooreToCore/basic.mlir
  test/Dialect/Moore/basic.mlir
  test/Dialect/Moore/canonicalizers.mlir
Labels: Moore, ImportVerilog
