Repository llvm/circt, pull requests merged in 2025-04, with the labels that each got.

#8314 [RTG] Add immediate type and attribute
  frontends/PyRTG/test/basic.py
  include/circt-c/Dialect/RTG.h
  include/circt/Dialect/RTG/IR/RTGAttributes.h
  include/circt/Dialect/RTG/IR/RTGAttributes.td
  include/circt/Dialect/RTG/IR/RTGDialect.td
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGTypes.td
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  integration_test/Bindings/Python/dialects/rtg.py
  lib/Bindings/Python/RTGModule.cpp
  lib/CAPI/Dialect/RTG.cpp
  lib/Dialect/RTG/IR/RTGAttributes.cpp
  lib/Dialect/RTG/IR/RTGDialect.cpp
  lib/Dialect/RTG/IR/RTGOps.cpp
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/CAPI/rtg.c
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/IR/errors.mlir
  test/Dialect/RTG/Transform/elaboration.mlir
  test/Dialect/RTG/Transform/emit-rtg-isa-assembly-errors.mlir
  test/Dialect/RTG/Transform/emit-rtg-isa-assembly-labels.mlir
  test/Dialect/RTGTest/IR/basic.mlir
  unittests/Dialect/CMakeLists.txt
  unittests/Dialect/RTG/CMakeLists.txt
  unittests/Dialect/RTG/MaterializerTest.cpp
Labels: RTG

#8316 [PyRTG] Switch to new immediates
  frontends/PyRTG/src/pyrtg/__init__.py
  frontends/PyRTG/src/pyrtg/resources.py
  frontends/PyRTG/src/pyrtg/support.py
  frontends/PyRTG/test/basic.py
  lib/Bindings/Python/support.py
Labels: RTG

#8318 [RTG] Add int_to_immediate op
  frontends/PyRTG/src/pyrtg/resources.py
  frontends/PyRTG/test/basic.py
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/Transform/elaboration.mlir
Labels: RTG

#8372 [LLHD] Make probes side-effect-free in graph regions
  include/circt/Dialect/LLHD/IR/LLHDSignalOps.td
  lib/Dialect/LLHD/IR/LLHDOps.cpp
Labels: LLHD

#8302 [LLHD] Hoist drives out of processes
  include/circt/Dialect/LLHD/IR/LLHDStructureOps.td
  include/circt/Dialect/LLHD/IR/LLHDTypes.h
  lib/Dialect/LLHD/Transforms/HoistSignals.cpp
  test/Dialect/LLHD/Transforms/hoist-signals.mlir
Labels: LLHD

#8331 [FIRRTL] Add doNotPrint flag to InstanceOp
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  lib/Analysis/FIRRTLInstanceInfo.cpp
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Transforms/ExtractInstances.cpp
  lib/Dialect/FIRRTL/Transforms/InjectDUTHierarchy.cpp
  lib/Dialect/FIRRTL/Transforms/LowerLayers.cpp
  lib/Dialect/FIRRTL/Transforms/LowerMemory.cpp
  lib/Dialect/FIRRTL/Transforms/LowerSignatures.cpp
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  lib/Dialect/FIRRTL/Transforms/SpecializeOption.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
Labels: FIRRTL

#8383 [LowerToHW] Lower all op bodies in parallel
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
Labels: FIRRTL

#8387 [LLHD] Update LowerProcesses pass to work with process results
  include/circt/Dialect/LLHD/Transforms/LLHDPasses.td
  lib/Dialect/LLHD/Transforms/CMakeLists.txt
  lib/Dialect/LLHD/Transforms/LowerProcesses.cpp
  test/Dialect/LLHD/Transforms/lower-processes.mlir
Labels: LLHD

#8359 [RTG] Add array type
  include/circt-c/Dialect/RTG.h
  include/circt/Dialect/RTG/IR/RTGTypes.td
  integration_test/Bindings/Python/dialects/rtg.py
  lib/Bindings/Python/RTGModule.cpp
  lib/CAPI/Dialect/RTG.cpp
  test/CAPI/rtg.c
  test/Dialect/RTG/IR/basic.mlir
Labels: RTG

#8360 [RTG] Add array create and extract operations
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGTypes.td
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  lib/Dialect/RTG/IR/RTGOps.cpp
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/IR/errors.mlir
  test/Dialect/RTG/Transform/elaboration.mlir
Labels: RTG

#8361 [PyRTG] Add arrays
  frontends/PyRTG/src/CMakeLists.txt
  frontends/PyRTG/src/pyrtg/__init__.py
  frontends/PyRTG/src/pyrtg/arrays.py
  frontends/PyRTG/src/pyrtg/support.py
  frontends/PyRTG/test/basic.py
  lib/Bindings/Python/support.py
Labels: RTG

#8362 [PyRTG] Add booleans and integer comparison
  frontends/PyRTG/src/pyrtg/__init__.py
  frontends/PyRTG/src/pyrtg/integers.py
  frontends/PyRTG/src/pyrtg/support.py
  frontends/PyRTG/test/basic.py
Labels: RTG

#8369 [PyRTG] Add method to get random integer
  frontends/PyRTG/src/pyrtg/integers.py
  frontends/PyRTG/test/basic.py
Labels: RTG

#8403 [LLHD] Update Deseq pass to work with process results
  include/circt/Dialect/LLHD/Transforms/LLHDPasses.td
  lib/Dialect/LLHD/Transforms/CMakeLists.txt
  lib/Dialect/LLHD/Transforms/DNF.cpp
  lib/Dialect/LLHD/Transforms/DNF.h
  lib/Dialect/LLHD/Transforms/Deseq.cpp
  test/Dialect/LLHD/Transforms/deseq.mlir
  unittests/Dialect/CMakeLists.txt
  unittests/Dialect/LLHD/CMakeLists.txt
  unittests/Dialect/LLHD/DNFTest.cpp
Labels: LLHD

#8423 [FIRRTL] Dedup: dedup wires when only one has a symbol
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  test/Dialect/FIRRTL/dedup.mlir
Labels: FIRRTL

#8422 [Verif] Add pass to lower symbolic values
  include/circt/Dialect/Verif/Passes.td
  include/circt/Dialect/Verif/VerifPasses.h
  include/circt/Firtool/Firtool.h
  lib/Dialect/Verif/Transforms/CMakeLists.txt
  lib/Dialect/Verif/Transforms/LowerSymbolicValues.cpp
  lib/Firtool/Firtool.cpp
  test/Dialect/Verif/lower-symbolic-values-errors.mlir
  test/Dialect/Verif/lower-symbolic-values.mlir
  tools/circt-test/circt-test.cpp
Labels: verif

#8363 [RTG] Add array inject and size operations
  frontends/PyRTG/src/pyrtg/arrays.py
  frontends/PyRTG/test/basic.py
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/Transform/elaboration.mlir
Labels: RTG

#8365 [PyRTG] Add control flow constructs
  frontends/PyRTG/src/CMakeLists.txt
  frontends/PyRTG/src/pyrtg/__init__.py
  frontends/PyRTG/src/pyrtg/control_flow.py
  frontends/PyRTG/src/pyrtg/scf.py
  frontends/PyRTG/src/rtgtool/rtgtool.py
  frontends/PyRTG/test/test_control_flow.py
  lib/Bindings/Python/CIRCTModule.cpp
  lib/Bindings/Python/CMakeLists.txt
Labels: RTG

#8366 [RTG][Elaboration] Arith support
  lib/Dialect/RTG/Transforms/CMakeLists.txt
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/Dialect/RTG/Transform/elaboration.mlir
Labels: RTG

#8370 [RTG] Add tuple operations
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  lib/Dialect/RTG/IR/RTGOps.cpp
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/IR/errors.mlir
  test/Dialect/RTG/Transform/elaboration.mlir
Labels: RTG

#8371 [PyRTG] Add tuples
  frontends/PyRTG/src/CMakeLists.txt
  frontends/PyRTG/src/pyrtg/__init__.py
  frontends/PyRTG/src/pyrtg/support.py
  frontends/PyRTG/src/pyrtg/tuples.py
  frontends/PyRTG/test/basic.py
  lib/Bindings/Python/support.py
Labels: RTG

#8374 [RTG][Elaboration] Support folders of pure operations
  include/circt/Dialect/RTGTest/IR/RTGTestOps.td
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  lib/Dialect/RTGTest/IR/RTGTestOps.cpp
  test/Dialect/RTG/Transform/elaboration.mlir
  test/Dialect/RTGTest/IR/basic.mlir
Labels: RTG

#8377 [RTG] Add bag_convert_to_set operation
  frontends/PyRTG/src/pyrtg/bags.py
  frontends/PyRTG/test/basic.py
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/Transform/elaboration.mlir
Labels: RTG

#8456 firtool: fix documentation for default layer specialization
  tools/firtool/firtool.cpp
Labels: FIRRTL
