Repository llvm/circt, pull requests merged in 2025-03, with the labels that each got.

#8284 [LLHD] Add pass to hoist probes out of processes
  include/circt/Dialect/LLHD/Transforms/LLHDPasses.td
  lib/Dialect/LLHD/Transforms/CMakeLists.txt
  lib/Dialect/LLHD/Transforms/HoistSignals.cpp
  test/Dialect/LLHD/Transforms/hoist-signals.mlir
Labels: LLHD

#8287 [ESI Runtime] Color output formatting
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/include/esi/Context.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Logging.h
  lib/Dialect/ESI/runtime/cpp/lib/Logging.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esiquery.cpp
Labels: ESI

#8290 [SCFToCalyx] Arith FPToSI lowering and its emit
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  lib/Dialect/Calyx/Transforms/CalyxLoweringUtils.cpp
  test/Conversion/SCFToCalyx/convert_simple.mlir
  test/Dialect/Calyx/emit.mlir
Labels: Calyx

#8293 [SCFToCalyx] Support Arith sitofp lowering and its emit
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  lib/Dialect/Calyx/Transforms/CalyxLoweringUtils.cpp
  test/Conversion/SCFToCalyx/convert_simple.mlir
  test/Dialect/Calyx/emit.mlir
Labels: Calyx

#8294 [SCFToCalyx] Lower Arith Bitcast
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  test/Conversion/SCFToCalyx/convert_simple.mlir
Labels: Calyx

#8297 [ESI] Add RemoveSnoopOp conversion pattern
  lib/Dialect/ESI/Passes/ESILowerToHW.cpp
  test/Dialect/ESI/lowering.mlir
Labels: ESI

#8305 [ESI] Simple FromHost DMA engine
  frontends/PyCDE/integration_test/esitester.py
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/bsp/cosim.py
  frontends/PyCDE/src/pycde/bsp/dma.py
  frontends/PyCDE/src/pycde/bsp/xrt.py
  frontends/PyCDE/src/pycde/esi.py
  frontends/PyCDE/src/pycde/signals.py
  lib/Dialect/ESI/runtime/cpp/include/esi/CLI.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Engines.h
  lib/Dialect/ESI/runtime/cpp/lib/Engines.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esitester.cpp
Labels: ESI

#8301 [sim] Add emission for plusargs for UPF simulations
  lib/Conversion/SimToSV/SimToSV.cpp
  test/Conversion/SimToSV/plusargs.mlir
  test/firtool/plusargs.fir
Labels: Simulator

#8308 [FIRRTL][AdvancedLayerSink] Add the ability to sink ops by cloning
  lib/Dialect/FIRRTL/Transforms/AdvancedLayerSink.cpp
  test/Dialect/FIRRTL/advanced-layer-sink.mlir
Labels: enhancement, FIRRTL

#8329 [SV] Add preprocessor include op
  include/circt/Dialect/SV/SVStatements.td
  include/circt/Dialect/SV/SVVisitors.h
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  test/Conversion/ExportVerilog/verilog-basic.mlir
Labels: SV

#8311 [FIRRTL] Add simulation op and parser support
  include/circt/Dialect/FIRRTL/FIRParser.h
  include/circt/Dialect/FIRRTL/FIRRTLStructure.td
  lib/Dialect/FIRRTL/Export/FIREmitter.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Import/FIRTokenKinds.def
  test/CAPI/firrtl.c
  test/Dialect/FIRRTL/emit-basic.mlir
  test/Dialect/FIRRTL/errors.mlir
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/parse-errors.fir
  test/Dialect/FIRRTL/round-trip.mlir
  test/firtool/classes-dedupe.fir
  test/firtool/instchoice.fir
Labels: FIRRTL

#8349 [FIRRTL] Fold regreset to its reset value iff the type matches
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  test/Dialect/FIRRTL/canonicalization.mlir
Labels: FIRRTL

#8317 [RTGTest] Fix CMake flag propagation for downstream
  lib/Bindings/Python/CMakeLists.txt
Labels: RTG
