Repository llvm/circt, pull requests merged in 2025-09, with the labels that each got.

#8922 [FIRRTL] Use the defname for deciding bindfile names of extmodules
  lib/Dialect/FIRRTL/Transforms/LowerLayers.cpp
  test/firtool/lower-layers.fir
Labels: FIRRTL

#8938 [Reduce] Use stable sort, prune unused symbols, tweak FIRRTL reductions
  include/circt/Dialect/FIRRTL/LayerSet.h
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/FIRRTLReductions.cpp
  lib/Reduce/GenericReductions.cpp
  tools/circt-reduce/circt-reduce.cpp
Labels: FIRRTL, Reducer

#8949 [Arc] Add ExecuteOp
  include/circt/Dialect/Arc/ArcOps.td
  lib/Dialect/Arc/ArcOps.cpp
  lib/Dialect/Arc/Transforms/LowerArcsToFuncs.cpp
  test/Dialect/Arc/basic-errors.mlir
  test/Dialect/Arc/basic.mlir
  test/Dialect/Arc/lower-arcs-to-funcs.mlir
Labels: Arc

#8968 [Moore] Add builtin for $urandom
  include/circt/Dialect/Moore/MooreOps.td
  include/circt/Dialect/Moore/MooreTypes.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  test/Conversion/ImportVerilog/builtins.sv
Labels: Moore, ImportVerilog

#8972 [Verif] handle self-referencing operations
  lib/Dialect/Verif/Transforms/LowerContracts.cpp
  test/Dialect/Verif/lower-contracts.mlir
Labels: verif

#8969 [FIRRTL] Add reduction that moves MustDedup onto children
  include/circt/Dialect/FIRRTL/FIRRTLAnnotationHelper.h
  lib/Dialect/FIRRTL/FIRRTLReductions.cpp
  test/circt-reduce/must-dedup-children.mlir
Labels: Reducer

#8982 [Moore] Add support for $random system task
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  test/Conversion/ImportVerilog/builtins.sv
Labels: Moore, ImportVerilog

#8983 [ESI] Add skid buffer to Cosim_Endpoint_ToHost
  lib/Dialect/ESI/runtime/cosim_dpi_server/Cosim_Endpoint.sv
Labels: ESI

#8975 [FIRRTL] Handle ClassTypes properly in Dedup
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  test/Dialect/FIRRTL/dedup.mlir
Labels: FIRRTL

#9000 [Arc] Add MergeTaps pass
  include/circt/Dialect/Arc/ArcOps.td
  include/circt/Dialect/Arc/ArcPasses.h
  include/circt/Dialect/Arc/ArcPasses.td
  lib/Dialect/Arc/ModelInfo.cpp
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/LowerState.cpp
  lib/Dialect/Arc/Transforms/MergeTaps.cpp
  test/Conversion/ConvertToArcs/convert-to-arcs.mlir
  test/Dialect/Arc/add-taps.mlir
  test/Dialect/Arc/lower-state.mlir
  test/Dialect/Arc/merge-taps.mlir
  tools/arcilator/arcilator.cpp
Labels: Arc

#9014 Add a diagnostic for unsupported system calls with more than 1 argument
  lib/Conversion/ImportVerilog/Expressions.cpp
Labels: bug, ImportVerilog

#9042 [ESI][Cosim] Enable SAVE_WAVE functionality in SV driver
  lib/Dialect/ESI/runtime/cosim_dpi_server/Cosim_Endpoint.sv
  lib/Dialect/ESI/runtime/cosim_dpi_server/driver.sv
Labels: ESI
