Repository llvm/circt, pull requests merged in 2025-02, with the labels that each got.

#8168 [FIRRTL] LowerXMR: process all modules
  lib/Dialect/FIRRTL/Transforms/LowerXMR.cpp
  test/Dialect/FIRRTL/lowerXMR.mlir
Labels: FIRRTL

#8171 [LLHD] Move maxPrimitives check before initializing the 'dontCare' table
  lib/Dialect/LLHD/Transforms/DesequentializationPass.cpp
Labels: LLHD

#8139 [RTG] Populate pipeline with new passes
  include/circt-c/RtgTool.h
  include/circt/Tools/rtgtool/RtgToolOptions.h
  integration_test/Bindings/Python/rtg_pipeline.py
  lib/Bindings/Python/RTGToolModule.cpp
  lib/CAPI/RtgTool/RtgTool.cpp
  lib/Tools/rtgtool/CMakeLists.txt
  lib/Tools/rtgtool/RtgToolOptions.cpp
Labels: RTG

#8142 [RTGTest] Add the last remaining ops for RV32I
  include/circt-c/Dialect/RTGTest.h
  include/circt/Dialect/RTGTest/IR/RTGTestAttributes.td
  include/circt/Dialect/RTGTest/IR/RTGTestOps.td
  include/circt/Dialect/RTGTest/IR/RTGTestTypes.td
  integration_test/Bindings/Python/dialects/rtg.py
  lib/Bindings/Python/RTGTestModule.cpp
  lib/CAPI/Dialect/RTGTest.cpp
  test/CAPI/rtgtest.c
  test/Dialect/RTG/Transform/emit-rtg-isa-assembly-labels.mlir
  test/Dialect/RTG/Transform/emit-rtg-isa-assembly.mlir
  test/Dialect/RTG/Transform/unsupported-instr.txt
  test/Dialect/RTGTest/IR/basic.mlir
Labels: RTG

#8181 [HW] Add array_concat of one element folder
  lib/Dialect/HW/HWOps.cpp
  test/Dialect/HW/canonicalization.mlir
Labels: HW

#8184 [MooreToCore] Branch to resume block instead of wait block
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Labels: Moore

#8167 [ESI Runtime] Pluggable channel engines
  include/circt/Dialect/ESI/ESIInterfaces.td
  include/circt/Dialect/ESI/ESIManifest.td
  integration_test/Dialect/ESI/runtime/loopback.mlir
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/ESIServices.cpp
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Engines.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Ports.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Services.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Types.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Cosim.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Trace.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Xrt.h
  lib/Dialect/ESI/runtime/cpp/lib/Accelerator.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Engines.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Ports.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Services.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Xrt.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esitester.cpp
  test/Dialect/ESI/manifest.mlir
  test/Dialect/ESI/services.mlir
Labels: ESI

#8036 [LLHD] Removing llhd-sim tests
  test/Dialect/LLHD/Simulator/sim_arbitrary_signal_size.mlir
  test/Dialect/LLHD/Simulator/sim_bit_precision_drives.mlir
  test/Dialect/LLHD/Simulator/sim_comb_concat.mlir
  test/Dialect/LLHD/Simulator/sim_formats.mlir
  test/Dialect/LLHD/Simulator/sim_hw_array_get_concat.mlir
  test/Dialect/LLHD/Simulator/sim_hw_bitcast.mlir
  test/Dialect/LLHD/Simulator/sim_hw_struct_extract_inject.mlir
  test/Dialect/LLHD/Simulator/sim_process.mlir
  test/Dialect/LLHD/Simulator/sim_reg.mlir
  test/Dialect/LLHD/Simulator/sim_shifts.mlir
  test/Dialect/LLHD/Simulator/sim_simple.mlir
  test/Dialect/LLHD/Simulator/sim_wait.mlir
Labels: LLHD

#8146 [RTG] Custom parser/printer for sequence op and type for sequence families
  include/circt-c/Dialect/RTG.h
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGTypes.td
  integration_test/Bindings/Python/dialects/rtg.py
  lib/Bindings/Python/RTGModule.cpp
  lib/CAPI/Dialect/RTG.cpp
  lib/Dialect/RTG/IR/RTGOps.cpp
  test/CAPI/rtg-pipelines.c
  test/CAPI/rtg.c
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/IR/cse.mlir
  test/Dialect/RTG/IR/errors.mlir
  test/Dialect/RTG/Transform/elaboration.mlir
Labels: RTG

#8147 [RTG] Separate operation for sequence randomization and randomized sequence type
  include/circt-c/Dialect/RTG.h
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGTypes.td
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  integration_test/Bindings/Python/dialects/rtg.py
  lib/Bindings/Python/RTGModule.cpp
  lib/CAPI/Dialect/RTG.cpp
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/CAPI/rtg.c
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/IR/errors.mlir
  test/Dialect/RTG/Transform/elaboration.mlir
Labels: RTG

#8148 [RTG] Support partial sequence substitutions
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  integration_test/Bindings/Python/dialects/rtg.py
  lib/Dialect/RTG/IR/RTGOps.cpp
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/CAPI/rtg-pipelines.c
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/IR/errors.mlir
  test/Dialect/RTG/Transform/elaboration.mlir
Labels: RTG

#8149 [RTG] Add operation to get a random number within a range
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/Transform/elaboration.mlir
Labels: RTG

#8172 [FIRRTL] FART: allow modules to be in multiple domains at once
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  test/Dialect/FIRRTL/infer-resets-errors.mlir
  test/Dialect/FIRRTL/infer-resets.mlir
Labels: FIRRTL

#8186 [ESI][BSP] Service implementation via selectable engine
  frontends/PyCDE/src/pycde/bsp/__init__.py
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/bsp/cosim.py
  frontends/PyCDE/src/pycde/bsp/xrt.py
  frontends/PyCDE/src/pycde/types.py
Labels: ESI

#8191 [FIRRTL] Disallow reading from property ports
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/errors.mlir
Labels: FIRRTL

#8154 [FIRRTL] Add require and ensure intrinsics
  docs/Dialects/FIRRTL/FIRRTLIntrinsics.md
  include/circt/Dialect/FIRRTL/FIRRTLStatements.td
  include/circt/Dialect/FIRRTL/FIRRTLVisitors.h
  include/circt/Dialect/Verif/VerifOps.td
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/FIRRTL/FIRRTLIntrinsics.cpp
  test/Conversion/FIRRTLToHW/intrinsics.mlir
  test/Dialect/FIRRTL/lower-intrinsics.mlir
  test/Dialect/Verif/basic.mlir
Labels: FIRRTL, verif

#8196 [LLHD][TCM] Ignore processes with CFG loops within a TR
  lib/Dialect/LLHD/Transforms/TemporalCodeMotionPass.cpp
  lib/Dialect/LLHD/Transforms/TemporalRegions.cpp
  test/Dialect/LLHD/Transforms/temporal-code-motion.mlir
Labels: LLHD

#8156 [FIRRTL] Add contract declaration
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  include/circt/Dialect/FIRRTL/FIRRTLVisitors.h
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Import/FIRTokenKinds.def
  test/Dialect/FIRRTL/errors.mlir
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/parse-errors.fir
  test/Dialect/FIRRTL/round-trip.mlir
Labels: FIRRTL

#8157 [FIRRTL] Fix hasDontTouch crash on non-module block args
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/imdce.mlir
Labels: bug, FIRRTL

#8158 [FIRRTL][IMDCE] Support operations with blocks
  lib/Dialect/FIRRTL/Transforms/IMDeadCodeElim.cpp
  test/Dialect/FIRRTL/imdce.mlir
Labels: bug, FIRRTL

#8192 [ImportVerilog]Support real math functions.
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  test/Conversion/ImportVerilog/builtins.sv
Labels: Moore

#8204 [ESI][BSP] Emit engine records
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/esi.py
  lib/Dialect/ESI/runtime/cpp/lib/Services.cpp
Labels: ESI

#8205 [ESI][Runtime] Throw unknown engine error lazily
  lib/Dialect/ESI/runtime/cpp/include/esi/Ports.h
  lib/Dialect/ESI/runtime/cpp/lib/Engines.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esitester.cpp
Labels: ESI

#8202 [HW] Resolve ambiguous array_slice documentation
  include/circt/Dialect/HW/HWAggregates.td
Labels: HW

#8206 [ESI][BSP] Bunch of small fixes and changes
  frontends/PyCDE/integration_test/test_software/esi_test.py
  frontends/PyCDE/src/pycde/bsp/Makefile.xrt.mk
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/constructs.py
  frontends/PyCDE/test/test_xrt.py
  lib/Dialect/ESI/runtime/cpp/include/esi/Common.h
  lib/Dialect/ESI/runtime/cpp/lib/Common.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Engines.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Ports.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
Labels: ESI

#8159 [FIRRTL][LowerToHW] Lower contract ops
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  test/Conversion/FIRRTLToHW/intrinsics.mlir
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
Labels: FIRRTL

#8210 [MooreToCore]Fix a crash caused by block args as observed values for llhd.wait.
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Labels: Moore

#8208 [Verif] Mark SymbolicValueOp result as MemAlloc
  include/circt/Dialect/Verif/VerifOps.td
  test/Dialect/Verif/canonicalization.mlir
  test/Dialect/Verif/cse.mlir
  test/Dialect/Verif/lower-contracts.mlir
Labels: verif

#8220 [Moore] Mark wait_event with side-effect even if it is empty
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Labels: Moore

#8221 [LLHD] Add canonicalizer for ProcessOp
  include/circt/Dialect/LLHD/IR/LLHDStructureOps.td
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  test/Dialect/LLHD/Canonicalization/processes.mlir
Labels: LLHD

#8187 [RTG] Add the PyRTG frontend
  frontends/CMakeLists.txt
  frontends/PyRTG/.gitignore
  frontends/PyRTG/CMakeLists.txt
  frontends/PyRTG/pyproject.toml
  frontends/PyRTG/src/CMakeLists.txt
  frontends/PyRTG/src/pyrtg/__init__.py
  frontends/PyRTG/src/pyrtg/tests.py
  frontends/PyRTG/src/rtgtool/rtgtool.py
  frontends/PyRTG/test/CMakeLists.txt
  frontends/PyRTG/test/basic.mlir
  frontends/PyRTG/test/basic.py
  frontends/PyRTG/test/lit.cfg.py
  frontends/PyRTG/test/lit.site.cfg.py.in
  lib/Dialect/RTG/Transforms/EmitRTGISAAssemblyPass.cpp
Labels: RTG

#8241 [LLHD] Don't implement BranchOpInterface for WaitOp
  include/circt/Dialect/LLHD/IR/LLHDStructureOps.td
  lib/Dialect/LLHD/IR/LLHDOps.cpp
Labels: LLHD

#8248 [Calyx] Unroll Affine ParallelOp to multiple SCF ExecuteRegionOps
  include/circt/Dialect/Calyx/CalyxPasses.h
  include/circt/Dialect/Calyx/CalyxPasses.td
  lib/Dialect/Calyx/Transforms/AffineParallelUnroll.cpp
  lib/Dialect/Calyx/Transforms/CMakeLists.txt
  test/Dialect/Calyx/affine-parallel-unroll.mlir
Labels: Calyx

#8233 [Arcilator] Allow running verif.simulation ops
  include/circt/Dialect/Arc/ArcPasses.td
  include/circt/Dialect/Verif/VerifOps.td
  integration_test/arcilator/JIT/verif-simulation.mlir
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/LowerVerifSimulations.cpp
  test/Dialect/Arc/lower-verif-simulations-error.mlir
  test/Dialect/Arc/lower-verif-simulations.mlir
  tools/arcilator/arcilator.cpp
Labels: Arc, verif

#8188 [RTG] Custom assembly format for 'rtg.test' operation
  frontends/PyRTG/test/basic.mlir
  include/circt/Dialect/RTG/IR/RTGOps.td
  integration_test/Bindings/Python/dialects/rtg.py
  lib/Dialect/RTG/IR/CMakeLists.txt
  lib/Dialect/RTG/IR/RTGOps.cpp
  test/CAPI/rtg-pipelines.c
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/IR/errors.mlir
  test/Dialect/RTG/Transform/elaboration.mlir
  test/Dialect/RTG/Transform/emit-rtg-isa-assembly-errors.mlir
  test/Dialect/RTG/Transform/emit-rtg-isa-assembly-labels.mlir
  test/Dialect/RTG/Transform/emit-rtg-isa-assembly-split-invalid.mlir
  test/Dialect/RTG/Transform/emit-rtg-isa-assembly-split.mlir
  test/Dialect/RTG/Transform/emit-rtg-isa-assembly.mlir
  test/Dialect/RTG/Transform/linear-scan-register-allocation.mlir
  test/Dialect/RTGTest/IR/basic.mlir
Labels: RTG

#8189 [RTG] Add interleave_sequences op
  include/circt/Dialect/RTG/IR/RTGOps.td
  lib/Dialect/RTG/IR/RTGOps.cpp
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/IR/canonicalization.mlir
  test/Dialect/RTG/IR/errors.mlir
Labels: RTG

#8194 [RTG][Elaboration] Use malloc instead of IR for virtual registers and labels
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
Labels: RTG

#8198 [RTG][Elaboration] Support interleave_sequences, factor our sequence inlining and label resolution
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  include/circt/Dialect/RTG/Transforms/RTGPasses.td
  lib/Dialect/RTG/Transforms/CMakeLists.txt
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  lib/Dialect/RTG/Transforms/InlineSequencesPass.cpp
  lib/Dialect/RTG/Transforms/LowerUniqueLabelsPass.cpp
  lib/Tools/rtgtool/RtgToolOptions.cpp
  test/Dialect/RTG/Transform/elaboration.mlir
  test/Dialect/RTG/Transform/inline-sequences.mlir
  test/Dialect/RTG/Transform/lower-unique-labels.mlir
Labels: RTG

#8199 [RTG][InlineSequences] Support interleave_sequences
  lib/Dialect/RTG/Transforms/InlineSequencesPass.cpp
  test/Dialect/RTG/Transform/inline-sequences.mlir
Labels: RTG

#8229 [PyRTG] Support sets
  frontends/PyRTG/src/CMakeLists.txt
  frontends/PyRTG/src/pyrtg/__init__.py
  frontends/PyRTG/src/pyrtg/sets.py
  frontends/PyRTG/src/pyrtg/support.py
  frontends/PyRTG/test/basic.py
Labels: RTG

#8236 [PyRTG] Support bags
  frontends/PyRTG/src/CMakeLists.txt
  frontends/PyRTG/src/pyrtg/__init__.py
  frontends/PyRTG/src/pyrtg/bags.py
  frontends/PyRTG/src/pyrtg/sets.py
  frontends/PyRTG/src/pyrtg/support.py
  frontends/PyRTG/test/basic.py
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/Dialect/RTG/Transform/elaboration.mlir
Labels: RTG

#8238 [PyRTG] Support sequences
  frontends/PyRTG/src/CMakeLists.txt
  frontends/PyRTG/src/pyrtg/__init__.py
  frontends/PyRTG/src/pyrtg/bags.py
  frontends/PyRTG/src/pyrtg/core.py
  frontends/PyRTG/src/pyrtg/integers.py
  frontends/PyRTG/src/pyrtg/labels.py
  frontends/PyRTG/src/pyrtg/sequences.py
  frontends/PyRTG/src/pyrtg/sets.py
  frontends/PyRTG/src/pyrtg/support.py
  frontends/PyRTG/src/pyrtg/tests.py
  frontends/PyRTG/src/rtgtool/rtgtool.py
  frontends/PyRTG/test/basic.py
Labels: RTG

#8239 [PyRTG] Support targets and test arguments
  frontends/PyRTG/src/CMakeLists.txt
  frontends/PyRTG/src/pyrtg/__init__.py
  frontends/PyRTG/src/pyrtg/target.py
  frontends/PyRTG/src/pyrtg/tests.py
  frontends/PyRTG/test/basic.py
Labels: RTG

#8247 [PyRTG] Add immediates and registers
  frontends/PyRTG/src/CMakeLists.txt
  frontends/PyRTG/src/pyrtg/__init__.py
  frontends/PyRTG/src/pyrtg/resources.py
  frontends/PyRTG/src/pyrtg/rtgtest.py
  frontends/PyRTG/src/pyrtg/support.py
  frontends/PyRTG/test/basic.py
  lib/Bindings/Python/support.py
  lib/Dialect/RTGTest/IR/RTGTestDialect.cpp
  unittests/Dialect/RTGTest/MaterializerTest.cpp
Labels: RTG

#8253 [Verif] Change simulation exit code to success boolean
  include/circt/Dialect/Verif/VerifOps.td
  integration_test/arcilator/JIT/verif-simulation.mlir
  lib/Dialect/Arc/Transforms/LowerVerifSimulations.cpp
  lib/Dialect/Verif/VerifOps.cpp
  test/Dialect/Arc/lower-verif-simulations.mlir
  test/Dialect/Verif/basic.mlir
  test/Dialect/Verif/errors.mlir
Labels: verif

#8261 [LLHD][Sig2Reg] Support integer signal aliasing
  include/circt/Dialect/LLHD/Transforms/LLHDPasses.td
  lib/Dialect/LLHD/Transforms/Sig2RegPass.cpp
  test/Dialect/LLHD/Transforms/sig2reg.mlir
Labels: LLHD

#8265 [FlattenMemRef] Flatten MemRef ReshapeOp when its source memory reference is flattened in other passes
  lib/Transforms/FlattenMemRefs.cpp
  test/Transforms/flatten_memref.mlir
Labels: enhancement

#8244 [LLHD] Add dedicated Mem2Reg pass
  include/circt/Dialect/LLHD/Transforms/LLHDPasses.td
  lib/Dialect/LLHD/Transforms/CMakeLists.txt
  lib/Dialect/LLHD/Transforms/Mem2Reg.cpp
  test/Dialect/LLHD/Transforms/mem2reg.mlir
Labels: LLHD

#8273 [ESI][XRT] Implement "Indirect MMIO"
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/bsp/xrt.py
  frontends/PyCDE/src/pycde/bsp/xrt_package.tcl
  lib/Dialect/ESI/runtime/cpp/lib/backends/Xrt.cpp
Labels: ESI

#8271 [ImportVerilog] Add option to lower always @* as always_comb
  include/circt/Conversion/ImportVerilog.h
  lib/Conversion/ImportVerilog/Structure.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/procedures.sv
  tools/circt-verilog/circt-verilog.cpp
Labels: ImportVerilog

#8278 [LLHD] Support conditional drives in mem2reg
  lib/Dialect/LLHD/Transforms/Mem2Reg.cpp
  test/Dialect/LLHD/Transforms/mem2reg.mlir
Labels: LLHD

#8207 [ESI][BSP] Simple ToHost DMA engine
  frontends/PyCDE/integration_test/esitester.py
  frontends/PyCDE/src/CMakeLists.txt
  frontends/PyCDE/src/pycde/bsp/cosim.py
  frontends/PyCDE/src/pycde/bsp/dma.py
  frontends/PyCDE/src/pycde/bsp/xrt.py
  lib/Dialect/ESI/runtime/cpp/include/esi/Engines.h
  lib/Dialect/ESI/runtime/cpp/lib/Engines.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esitester.cpp
Labels: ESI

#8279 [LLHD] Support drives with delta delay in mem2reg
  lib/Dialect/LLHD/Transforms/Mem2Reg.cpp
  test/Dialect/LLHD/Transforms/mem2reg.mlir
Labels: LLHD

#8272 [sim] Add emission for plusargs for UPF simulations
  lib/Conversion/SimToSV/SimToSV.cpp
  test/Conversion/SimToSV/plusargs.mlir
  test/firtool/plusargs.fir
Labels: Simulator
