Repository llvm/circt, pull requests merged in 2025-05, with the labels that each got.

#8464 Place black boxes with the design, if instantiated there
  lib/Dialect/FIRRTL/Transforms/BlackBoxReader.cpp
  test/firtool/blackbox-directories.fir
Labels: FIRRTL

#8458 [FIRRTL] Emit a bindfile for each public module
  include/circt/Dialect/Emit/EmitOps.td
  include/circt/Dialect/FIRRTL/Passes.td
  include/circt/Dialect/SV/SVStatements.td
  lib/Dialect/FIRRTL/Transforms/LowerLayers.cpp
  test/Dialect/FIRRTL/lower-layers.mlir
  test/firtool/layers.fir
  test/firtool/lower-layers.fir
Labels: FIRRTL

#8396 [RTG] Add comment op
  frontends/PyRTG/src/pyrtg/__init__.py
  frontends/PyRTG/src/pyrtg/tests.py
  frontends/PyRTG/test/basic.py
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  lib/Dialect/RTG/Transforms/EmitRTGISAAssemblyPass.cpp
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/Transform/elaboration.mlir
  test/Dialect/RTG/Transform/emit-rtg-isa-assembly.mlir
Labels: RTG

#8477 [Seq] Remove redundant enable mux in front of compreg.ce
  include/circt/Dialect/Seq/SeqOps.td
  lib/Dialect/Seq/CMakeLists.txt
  lib/Dialect/Seq/SeqOps.cpp
  test/Dialect/Seq/canonicalization.mlir
Labels: Seq

#8356 [RTG] Add MemoryBlock type and decl op
  include/circt-c/Dialect/RTG.h
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGTypes.td
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  integration_test/Bindings/Python/dialects/rtg.py
  lib/Bindings/Python/RTGModule.cpp
  lib/CAPI/Dialect/RTG.cpp
  lib/Dialect/RTG/IR/RTGOps.cpp
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/CAPI/rtg.c
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/IR/errors.mlir
  test/Dialect/RTG/Transform/elaboration.mlir
Labels: RTG

#8481 [ESI] Telemetry v0
  frontends/PyCDE/integration_test/esitester.py
  frontends/PyCDE/src/pycde/esi.py
  include/circt/Dialect/ESI/ESIStdServices.td
  lib/Dialect/ESI/ESIStdServices.cpp
  lib/Dialect/ESI/runtime/cpp/include/esi/Services.h
  lib/Dialect/ESI/runtime/cpp/lib/Services.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esiquery.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esitester.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/esiCppAccel.cpp
  test/Dialect/ESI/services.mlir
Labels: ESI

#8482 [ESI] Move to somewhat more standard asm format
  frontends/PyCDE/test/test_esi.py
  frontends/PyCDE/test/test_esi_advanced.py
  include/circt/Dialect/ESI/ESIChannels.td
  lib/Dialect/ESI/ESIOps.cpp
  test/Conversion/DCToHW/basic.mlir
  test/Dialect/ESI/connectivity.mlir
  test/Dialect/ESI/lowering.mlir
Labels: ESI

#8368 [RTG] Add memory type and operations
  frontends/PyRTG/src/CMakeLists.txt
  frontends/PyRTG/src/pyrtg/__init__.py
  frontends/PyRTG/src/pyrtg/memories.py
  frontends/PyRTG/src/pyrtg/support.py
  frontends/PyRTG/test/basic.py
  include/circt-c/Dialect/RTG.h
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGTypes.td
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  integration_test/Bindings/Python/dialects/rtg.py
  lib/Bindings/Python/RTGModule.cpp
  lib/Bindings/Python/support.py
  lib/CAPI/Dialect/RTG.cpp
  lib/Dialect/RTG/IR/RTGOps.cpp
  test/CAPI/rtg.c
  test/Dialect/RTG/IR/basic.mlir
Labels: RTG

#8373 [RTG] Add any_context attribute
  frontends/PyRTG/src/pyrtg/contexts.py
  frontends/PyRTG/test/test_contexts.py
  include/circt-c/Dialect/RTG.h
  include/circt/Dialect/RTG/IR/RTGAttributes.td
  integration_test/Bindings/Python/dialects/rtg.py
  lib/Bindings/Python/RTGModule.cpp
  lib/CAPI/Dialect/RTG.cpp
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/CAPI/rtg.c
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/Transform/elaboration.mlir
Labels: RTG

#8478 SimToSV: Keep plusargs non-synth === under !SYNTHESIS block
  lib/Conversion/SimToSV/SimToSV.cpp
  test/Conversion/SimToSV/plusargs.mlir
  test/firtool/plusargs.fir
Labels: SV

#8486 [ESI] Support for FIFO<-->ValidReady conversion in BufferOp
  lib/Dialect/ESI/ESIServices.cpp
  lib/Dialect/ESI/Passes/ESILowerPhysical.cpp
  test/Dialect/ESI/lowering.mlir
Labels: ESI

#8502 [HW] Merge basic round-trip tests; NFC
  test/Dialect/HW/basic.mlir
  test/Dialect/HW/bitwise.mlir
  test/Dialect/HW/round-trip.mlir
Labels: HW

#8504 [HW] Add array element injection op
  include/circt/Dialect/HW/CMakeLists.txt
  include/circt/Dialect/HW/HWAggregates.td
  include/circt/Dialect/HW/HWCanonicalization.td
  lib/Dialect/HW/CMakeLists.txt
  lib/Dialect/HW/HWOps.cpp
  test/Dialect/HW/basic.mlir
  test/Dialect/HW/canonicalization.mlir
  test/Dialect/HW/errors.mlir
Labels: HW

#8509 [LLHD] Add support for `llhd.sig.array_get` projections to Mem2Reg
  lib/Dialect/LLHD/Transforms/Mem2Reg.cpp
  test/Dialect/LLHD/Transforms/mem2reg.mlir
Labels: LLHD

#8515 [FIRRTL][IMCP] Mark DPI calls as overdefined
  lib/Dialect/FIRRTL/Transforms/IMConstProp.cpp
  test/Dialect/FIRRTL/imconstprop.mlir
Labels: bug, FIRRTL
