Repository llvm/circt, pull requests merged in 2025-07, with the labels that each got.

#8632 [RTG] Add CAPI and python bindings to register passes
  include/circt-c/Dialect/RTG.h
  lib/Bindings/Python/CIRCTModule.cpp
  lib/CAPI/Dialect/CMakeLists.txt
  lib/CAPI/Dialect/RTG.cpp
Labels: RTG

#8629 [LLHD] Remove drive-only signals in Sig2Reg pass
  lib/Dialect/LLHD/Transforms/Sig2RegPass.cpp
  test/Dialect/LLHD/Transforms/sig2reg.mlir
Labels: LLHD

#8649 [circt-verilog] Add MapArithToComb pass to pipeline
  tools/circt-verilog/CMakeLists.txt
  tools/circt-verilog/circt-verilog.cpp
Labels: ImportVerilog

#8645 [ExportVerilog] Add support for hw.array_inject
  include/circt/Dialect/HW/HWVisitors.h
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Conversion/ExportVerilog/PrepareForEmission.cpp
  test/Conversion/ExportVerilog/disallow-local-vars.mlir
  test/Conversion/ExportVerilog/hw-dialect.mlir
Labels: ExportVerilog

#8648 [RTG] Add EmbedValidationValuesPass
  include/circt/Dialect/RTG/IR/RTGInterfaces.td
  include/circt/Dialect/RTG/IR/RTGTypeInterfaces.h
  include/circt/Dialect/RTG/Transforms/RTGPasses.td
  lib/Dialect/RTG/Transforms/CMakeLists.txt
  lib/Dialect/RTG/Transforms/EmbedValidationValuesPass.cpp
  lib/Dialect/RTGTest/IR/RTGTestTypes.cpp
  test/Dialect/RTG/Transform/embed-validation-values.mlir
  test/Dialect/RTG/Transform/validation-values-0.txt
  test/Dialect/RTG/Transform/validation-values-1.txt
  test/Dialect/RTG/Transform/validation-values-2.txt
Labels: RTG

#8635 [PyCDE] Improve location information
  frontends/PyCDE/src/pycde/bsp/cosim.py
  frontends/PyCDE/src/pycde/esi.py
  frontends/PyCDE/src/pycde/signals.py
  frontends/PyCDE/src/pycde/support.py
Labels: PyCDE

#8658 [ESI] Make RAM delarations' addresses unsigned
  frontends/PyCDE/integration_test/test_software/esi_ram.py
  frontends/PyCDE/src/pycde/esi.py
  frontends/PyCDE/test/test_esi.py
  integration_test/Dialect/ESI/runtime/loopback.mlir
  lib/Dialect/ESI/ESIServices.cpp
  lib/Dialect/ESI/ESIStdServices.cpp
  test/Dialect/ESI/services.mlir
  test/Dialect/Handshake/lower-extmem-esi.mlir
Labels: ESI

#8660 [PyCDE] Add bundle transform and rework coerce
  frontends/PyCDE/src/pycde/signals.py
  frontends/PyCDE/src/pycde/types.py
  frontends/PyCDE/test/test_esi.py
  frontends/PyCDE/test/test_esi_errors.py
  lib/Dialect/ESI/ESIOps.cpp
Labels: PyCDE

#8620 [LLHD] Add loop unrolling pass
  include/circt/Dialect/LLHD/Transforms/LLHDPasses.td
  lib/Dialect/LLHD/Transforms/CMakeLists.txt
  lib/Dialect/LLHD/Transforms/UnrollLoops.cpp
  test/Dialect/LLHD/Transforms/unroll-loops.mlir
  tools/circt-verilog/circt-verilog.cpp
Labels: LLHD

#8662 [LLHD] Make Deseq pass emit seq.firreg instead of seq.compreg
  include/circt/Dialect/Seq/SeqOps.td
  lib/Dialect/LLHD/Transforms/Deseq.cpp
  test/Dialect/LLHD/Transforms/deseq.mlir
  test/circt-verilog/registers.sv
Labels: LLHD, Seq

#8666 [RTG] Add LowerValidateToLabels pass
  include/circt/Dialect/RTG/Transforms/RTGPasses.td
  lib/Dialect/RTG/Transforms/CMakeLists.txt
  lib/Dialect/RTG/Transforms/LowerValidateToLabelsPass.cpp
  test/Dialect/RTG/Transform/lower-validate-to-labels.mlir
Labels: RTG

#8680 [ImportVerilog] Incorporate block names to variable/instance names
  lib/Conversion/ImportVerilog/Structure.cpp
  test/Conversion/ImportVerilog/basic.sv
Labels: ImportVerilog

#8605 [FIRRTL] Lower registers under ifdefs
  include/circt/Dialect/FIRRTL/FIRRTLUtils.h
  include/circt/Support/Utils.h
  lib/Conversion/SeqToSV/FirRegLowering.cpp
  lib/Conversion/SeqToSV/FirRegLowering.h
  lib/Conversion/SeqToSV/SeqToSV.cpp
  lib/Dialect/FIRRTL/Transforms/ModuleInliner.cpp
  lib/Dialect/FIRRTL/Transforms/ResolveTraces.cpp
  lib/Dialect/FIRRTL/Transforms/SpecializeLayers.cpp
  test/Dialect/Seq/firreg.mlir
  test/firtool/reg-under-inline-layer.fir
Labels: FIRRTL

#8687 [HW] MaterializeConstant: check for null block
  lib/Dialect/HW/HWDialect.cpp
  unittests/Dialect/HW/CMakeLists.txt
  unittests/Dialect/HW/MaterializerTest.cpp
Labels: HW

#8623 [FIRRTL] Add "knownlayers" specifications to ExtModules
  include/circt/Dialect/FIRRTL/FIRRTLStructure.td
  lib/Dialect/FIRRTL/Export/FIREmitter.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/FIRRTLReductions.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Import/FIRTokenKinds.def
  lib/Dialect/FIRRTL/Transforms/LowerLayers.cpp
  lib/Dialect/FIRRTL/Transforms/SpecializeLayers.cpp
  test/Dialect/FIRRTL/emit-basic.mlir
  test/Dialect/FIRRTL/errors.mlir
  test/Dialect/FIRRTL/layers-errors.mlir
  test/Dialect/FIRRTL/lower-layers.mlir
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/parse-errors.fir
  test/Dialect/FIRRTL/specialize-layers.mlir
Labels: FIRRTL

#8696 [Comb] Fix excessive const shifts causing crashes and invalid IR
  lib/Dialect/Comb/CombFolds.cpp
  test/Dialect/Comb/canonicalization.mlir
Labels: bug, Comb

#8710 [RTG] Redefine RandomNumberInRangeOp upper bound to be inclusive
  frontends/PyRTG/src/pyrtg/immediates.py
  frontends/PyRTG/src/pyrtg/integers.py
  include/circt/Dialect/RTG/IR/RTGOps.td
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/Transform/elaboration.mlir
Labels: RTG

#8712 [RTG] Enable conditional value forwarding for ValidateOp
  include/circt/Dialect/RTG/IR/RTGOps.td
  lib/Dialect/RTG/IR/RTGOps.cpp
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  lib/Dialect/RTG/Transforms/EmbedValidationValuesPass.cpp
  lib/Dialect/RTG/Transforms/LowerValidateToLabelsPass.cpp
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/Transform/elaboration.mlir
  test/Dialect/RTG/Transform/embed-validation-values.mlir
  test/Dialect/RTG/Transform/lower-validate-to-labels.mlir
Labels: RTG

#8714 [FIRRTL] Remove circuit from macro used by inline layers
  lib/Dialect/FIRRTL/Transforms/LowerLayers.cpp
  test/Dialect/FIRRTL/lower-layers.mlir
  test/firtool/reg-under-inline-layer.fir
Labels: FIRRTL

#8722 [FIRRTL] SFCCompat: properly lower invalidated enums
  lib/Dialect/FIRRTL/Transforms/SFCCompat.cpp
  test/Dialect/FIRRTL/sfc-compat.mlir
Labels: FIRRTL

#8727 [FIRRTL] TagExtract: make type inference parser friendly
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
Labels: FIRRTL

#8730 [ESI] Fix wrap op canonicalizers
  lib/Dialect/ESI/ESIDialect.cpp
  lib/Dialect/ESI/ESIFolds.cpp
  test/Dialect/ESI/canonicalizers.mlir
Labels: ESI

#8731 [FIRRTL] LowerSigs: Add enum support
  lib/Dialect/FIRRTL/Transforms/LowerSignatures.cpp
  test/Dialect/FIRRTL/lower-types.mlir
Labels: FIRRTL

#8734 [RTG] Add a pass to print a list of tests
  include/circt/Dialect/RTG/Transforms/RTGPasses.td
  include/circt/Support/Path.h
  lib/Dialect/RTG/Transforms/CMakeLists.txt
  lib/Dialect/RTG/Transforms/EmitRTGISAAssemblyPass.cpp
  lib/Dialect/RTG/Transforms/PrintTestNamesPass.cpp
  lib/Support/CMakeLists.txt
  lib/Support/Path.cpp
  test/Dialect/RTG/Transform/print-test-names.mlir
Labels: RTG

#8713 [Verif] Add RefinementCheckingOp
  include/circt/Dialect/Verif/VerifOps.td
  lib/Dialect/Verif/VerifOps.cpp
  lib/Tools/circt-lec/ConstructLEC.cpp
  test/Dialect/Verif/basic.mlir
  test/Dialect/Verif/errors.mlir
Labels: verif

#8740 [FIRRTL] Do not allow uninferred widths or rests in enums
  lib/Dialect/FIRRTL/FIRRTLTypes.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/errors.mlir
  test/Dialect/FIRRTL/infer-widths-errors.mlir
  test/Dialect/FIRRTL/infer-widths.mlir
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/parse-errors.fir
Labels: FIRRTL

#8735 [RTG] Add immediate concat and slice operations
  frontends/PyRTG/src/pyrtg/immediates.py
  frontends/PyRTG/test/basic.py
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  lib/Dialect/RTG/IR/RTGOps.cpp
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/IR/errors.mlir
  test/Dialect/RTG/Transform/elaboration.mlir
Labels: RTG

#8744 [RTG] Support immediate slice/concat after validate
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/Dialect/RTG/Transform/elaboration.mlir
Labels: RTG

#8766 [FIRRTL] Fix TagExtractOp's type inference
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/parse-basic.fir
Labels: FIRRTL

#8772 [FIRRTL] FRT: support creating 0-valued enums
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  test/Dialect/FIRRTL/infer-resets.mlir
Labels: FIRRTL

#8791 [RTG] Don't hardcode the root op of passes where not necessary
  include/circt/Dialect/RTG/Transforms/RTGPasses.td
  lib/Dialect/RTG/Transforms/LinearScanRegisterAllocationPass.cpp
  lib/Dialect/RTG/Transforms/LowerUniqueLabelsPass.cpp
  lib/Dialect/RTG/Transforms/UniqueValidateOpsPass.cpp
  test/Dialect/RTG/Transform/linear-scan-register-allocation.mlir
Labels: RTG

#8798 [RTG] Simplify EmitISAEmission pass
  frontends/PyRTG/src/rtgtool/rtgtool.py
  frontends/PyRTG/test/basic.mlir
  frontends/PyRTG/test/basic.py
  frontends/PyRTG/test/test_memories.py
  include/circt/Dialect/RTG/Transforms/RTGPasses.td
  lib/Dialect/RTG/Transforms/EmitRTGISAAssemblyPass.cpp
  lib/Dialect/RTG/Transforms/RTGPassPipelines.cpp
  test/Dialect/RTG/Transform/emit-rtg-isa-assembly-errors.mlir
  test/Dialect/RTG/Transform/emit-rtg-isa-assembly-labels.mlir
  test/Dialect/RTG/Transform/emit-rtg-isa-assembly-split-invalid.mlir
  test/Dialect/RTG/Transform/emit-rtg-isa-assembly-split.mlir
  test/Dialect/RTG/Transform/emit-rtg-isa-assembly.mlir
Labels: RTG

#8800 [FIRRTL] Add layer colour verifiers to force and release ops
  include/circt/Dialect/FIRRTL/FIRRTLStatements.td
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Transforms/LowerLayers.cpp
  test/Dialect/FIRRTL/layers-errors.mlir
  test/Dialect/FIRRTL/lower-layers.mlir
Labels: FIRRTL

#8805 [ESI][Runtime] Fix backend DLL loading
  lib/Dialect/ESI/runtime/cpp/lib/Accelerator.cpp
Labels: ESI
