Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

slow progress
  include/circt/Conversion/Passes.td
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

save
  include/circt/Conversion/ExportRTLIL.h
Owners: none

save
  include/circt/Dialect/Seq/SeqVisitor.h
Owners: none

save
  include/circt/Conversion/ExportRTLIL.h
  lib/Conversion/ExportYosys/ExportRTLIL.cpp
  lib/Conversion/ExportYosys/ImportRTLIL.cpp
  lib/Conversion/ExportYosys/RTLILConverterInternal.h
  lib/Conversion/ExportYosys/YosysOptimizer.cpp
  tools/circt-translate/circt-translate.cpp
Owners: none

[circt-verilog] Fix lint only mode, refactor pass population
  lib/Conversion/ImportVerilog/ImportVerilog.cpp
  tools/circt-verilog/circt-verilog.cpp
Owners: none

[Arc] Fix crash in the arc canonicalizer produced by the KeepOneVecOp optimization
  lib/Dialect/Arc/Transforms/ArcCanonicalizer.cpp
  test/Dialect/Arc/arc-canonicalizer.mlir
Owners: @fabianschuiki, @maerhart

[Arc] Fix crash in the arc canonicalizer produced by the KeepOneVecOp optimization (#7429)
  lib/Dialect/Arc/Transforms/ArcCanonicalizer.cpp
  test/Dialect/Arc/arc-canonicalizer.mlir
Owners: @fabianschuiki, @maerhart

[Arc] Make the canonicalizer shuffle the input vector elements before merging
  lib/Dialect/Arc/Transforms/ArcCanonicalizer.cpp
  test/Dialect/Arc/arc-canonicalizer.mlir
Owners: @fabianschuiki, @maerhart

[OM] Add IntegerAttr -> Python int conversion
  lib/Bindings/Python/OMModule.cpp
Owners: none

save
  lib/Conversion/ExportYosys/CMakeLists.txt
  lib/Conversion/ExportYosys/ExportRTLIL.cpp
  lib/Conversion/ExportYosys/ImportRTLIL.cpp
Owners: none

save
  lib/Conversion/ExportYosys/ExportRTLIL.cpp
  lib/Conversion/ExportYosys/ImportRTLIL.cpp
Owners: none

save
  include/circt/Conversion/Passes.td
Owners: none

save
  CMakeLists.txt
  integration_test/lit.cfg.py
  integration_test/lit.site.cfg.py.in
  lib/Conversion/ExportYosys/ImportRTLIL.cpp
  lib/Conversion/ExportYosys/README.md
  tools/circt-translate/circt-translate.cpp
Owners: none

save
  lib/Conversion/ExportYosys/ImportRTLIL.cpp
  lib/Conversion/ExportYosys/YosysOptimizer.cpp
  tools/circt-lec/circt-lec.cpp
Owners: none

[Arc] Make the canonicalizer shuffle the input vector elements before merging (#7394)
  lib/Dialect/Arc/Transforms/ArcCanonicalizer.cpp
  test/Dialect/Arc/arc-canonicalizer.mlir
Owners: @fabianschuiki, @maerhart

renamed and replaced shouldReplicateSequentialMemories to shouldReplaceSequentialMemories per issue #7384
  include/circt/Firtool/Firtool.h
  lib/Firtool/Firtool.cpp
Owners: none

[ImportVerilog] Add rvalue assignment pattern support
  include/circt/Dialect/Moore/MooreOps.td
  include/circt/Dialect/Moore/MooreTypes.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Dialect/Moore/MooreOps.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Dialect/Moore/basic.mlir
Owners: none

[ImportVerilog] Add rvalue assignment pattern support (#7428)
  include/circt/Dialect/Moore/MooreOps.td
  include/circt/Dialect/Moore/MooreTypes.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Dialect/Moore/MooreOps.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Dialect/Moore/basic.mlir
Owners: none

[OM] Add IntegerAttr -> Python int conversion (#7430)
  lib/Bindings/Python/OMModule.cpp
Owners: none

[ImportVerilog] Fix value domain mismatch for logic/ternary ops
  lib/Conversion/ImportVerilog/Expressions.cpp
  test/Conversion/ImportVerilog/basic.sv
Owners: none

[CMake] Fix install failure with CMAKE_SLANG_FRONTEND_ENABLED enabled
  CMakeLists.txt
Owners: none

[FIRRTL][LowerDPI] Lower FIRRTL vector to an open array type (#7305)
  docs/Dialects/FIRRTL/FIRRTLIntrinsics.md
  lib/Dialect/FIRRTL/Transforms/LowerDPI.cpp
  test/Dialect/FIRRTL/lower-intrinsics.mlir
  test/firtool/dpi.fir
Owners: @darthscsi, @seldridge

Lower DPI func to func.func
  include/circt/Dialect/Arc/ArcPasses.h
  include/circt/Dialect/Arc/ArcPasses.td
  include/circt/Dialect/Sim/SimPasses.td
  integration_test/arcilator/JIT/dpi.mlir
  lib/Conversion/ConvertToArcs/CMakeLists.txt
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  lib/Dialect/Arc/ArcOps.cpp
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/LowerState.cpp
  lib/Dialect/Sim/SimOps.cpp
  lib/Dialect/Sim/Transforms/CMakeLists.txt
  lib/Dialect/Sim/Transforms/LowerDPIFunc.cpp
  test/Dialect/Arc/basic-errors.mlir
  test/Dialect/Arc/lower-dpi.mlir
  test/Dialect/Arc/lower-state.mlir
  test/Dialect/Sim/lower-dpi.mlir
  tools/arcilator/CMakeLists.txt
  tools/arcilator/arcilator.cpp
Owners: @fabianschuiki, @maerhart

Add Func dependency
  lib/Dialect/Sim/CMakeLists.txt
Owners: none

[Python][OM] Handle BoolAttr's before IntegerAttr's.
  lib/Bindings/Python/OMModule.cpp
Owners: none

[PYthon][OM] Add test for object model IR with bool constants.
  integration_test/Bindings/Python/dialects/om.py
Owners: none

[Support] Add FVInt, a four-valued arbitrary precision integer (#7422)
  include/circt/Support/FVInt.h
  lib/Support/CMakeLists.txt
  lib/Support/FVInt.cpp
  unittests/Support/CMakeLists.txt
  unittests/Support/FVIntTest.cpp
Owners: none

[ImportVerilog] Switch from SCF to CF dialect for control flow
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/ImportVerilog.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Statements.cpp
  lib/Conversion/ImportVerilog/Structure.cpp
  lib/Dialect/Moore/Transforms/SimplifyProcedures.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Dialect/Moore/basic.mlir
  test/Dialect/Moore/lower-concatref.mlir
  test/Dialect/Moore/mem2reg.mlir
  test/Dialect/Moore/simplify-procedures.mlir
Owners: none

[Python][OM] Handle BoolAttr's before IntegerAttr's. (#7438)
  integration_test/Bindings/Python/dialects/om.py
  lib/Bindings/Python/OMModule.cpp
Owners: none

[FIRRTL] Verify main module is a module, and is public.
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/annotations-errors.mlir
  test/Dialect/FIRRTL/errors.mlir
  test/Dialect/FIRRTL/lower-classes.mlir
  test/Dialect/FIRRTL/lower-intmodules.mlir
  test/Dialect/FIRRTL/lower-intrinsics-errors.mlir
Owners: @darthscsi, @seldridge

[Arc] Add Initial Cost Model
  include/circt/Dialect/Arc/ArcCostModel.h
  lib/Dialect/Arc/ArcCostModel.cpp
  lib/Dialect/Arc/CMakeLists.txt
Owners: @fabianschuiki, @maerhart

[Arc] Add the DummyAnalysisTester pass
  include/circt/Dialect/Arc/ArcPasses.h
  include/circt/Dialect/Arc/ArcPasses.td
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/DummyAnalysisTester.cpp
Owners: @fabianschuiki, @maerhart

[Arc] Fix clang-format failure
  include/circt/Dialect/Arc/ArcCostModel.h
  lib/Dialect/Arc/Transforms/DummyAnalysisTester.cpp
Owners: @fabianschuiki, @maerhart

Update FirMemLowering.cpp
  lib/Conversion/SeqToSV/FirMemLowering.cpp
Owners: none

Update FirMemLowering.cpp
  lib/Conversion/SeqToSV/FirMemLowering.cpp
Owners: none

Apply clang-format fixes
  lib/Firtool/Firtool.cpp
Owners: none

tent
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

Update FirMemLowering.h
  lib/Conversion/SeqToSV/FirMemLowering.h
Owners: none

Add arcilator JIT runtime library.
  tools/arcilator/CMakeLists.txt
  tools/arcilator/arcilator-runtime.h
  tools/arcilator/arcilator.cpp
  tools/arcilator/jit-env/CMakeLists.txt
  tools/arcilator/jit-env/arcilator-jit-env.cpp
  tools/arcilator/jit-env/arcilator-jit-env.h
Owners: @fabianschuiki, @maerhart

Add test
  integration_test/arcilator/JIT/runtime-environment.mlir
Owners: none

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive
