Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive

[FIRRTL] InferResets: properly lower FART'd registers
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  test/Dialect/FIRRTL/infer-resets.mlir
Owners: @darthscsi, @seldridge

[MooreToCore] Support assert, assume, cover ops
  include/circt/Conversion/Passes.td
  lib/Conversion/MooreToCore/CMakeLists.txt
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

fixed bug in outputs
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

fixed bug in action
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

[OM] Update FreezePaths to handle object fields with paths.
  lib/Dialect/OM/Transforms/FreezePaths.cpp
  test/Dialect/OM/freeze-paths.mlir
Owners: none

[OM] Update FreezePaths to handle object fields with paths. (#7683)
  lib/Dialect/OM/Transforms/FreezePaths.cpp
  test/Dialect/OM/freeze-paths.mlir
Owners: none

[JSON] Leave json::OStream in valid state on failure
  lib/Support/JSON.cpp
Owners: none

Do not differentiate between the different scheduling regions in SV
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[JSON] Leave json::OStream in valid state on failure (#7684)
  lib/Support/JSON.cpp
Owners: none

Add non-empty label
  test/Conversion/MooreToCore/basic.mlir
Owners: none

input condition works
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

transitions work
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

default neg-all guard
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

mutex workjs
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

[Verif] Minor verif.formal tweaks
  include/circt/Dialect/Verif/VerifOps.td
Owners: none

Add unit test discovery and execution tool
  test/CMakeLists.txt
  test/circt-test/basic.mlir
  test/circt-test/commandline.mlir
  test/lit.cfg.py
  tools/CMakeLists.txt
  tools/circt-test/CMakeLists.txt
  tools/circt-test/circt-test.cpp
Owners: none

WIP: Add seq.initial support
  include/circt/Dialect/Arc/ArcOps.td
  lib/Dialect/Arc/Transforms/LowerState.cpp
  test/Dialect/Arc/lower-state.mlir
Owners: @fabianschuiki, @maerhart

WIP: Add Post-LowerState optimization pass
  include/circt/Dialect/Arc/ArcOps.td
  include/circt/Dialect/Arc/ArcPasses.td
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/MergeIfs.cpp
  tools/arcilator/arcilator.cpp
Owners: @fabianschuiki, @maerhart

WIP: State lowering rewrite
  include/circt/Dialect/Arc/ArcOps.td
  lib/Dialect/Arc/Transforms/LowerState.cpp
  test/Dialect/Arc/basic.mlir
  tools/arcilator/arcilator.cpp
Owners: @fabianschuiki, @maerhart

WIP: Handle memories properly
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  lib/Dialect/Arc/ArcTypes.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
Owners: @fabianschuiki, @maerhart

WIP: Add instance support
  lib/Dialect/Arc/Transforms/LowerState.cpp
Owners: @fabianschuiki, @maerhart

Add unit test discovery and execution tool (#7685)
  test/CMakeLists.txt
  test/circt-test/basic.mlir
  test/circt-test/commandline.mlir
  test/lit.cfg.py
  tools/CMakeLists.txt
  tools/circt-test/CMakeLists.txt
  tools/circt-test/circt-test.cpp
Owners: none

Add test for om.class.fields containingModule
  test/Dialect/FIRRTL/lower-classes.mlir
Owners: @darthscsi, @seldridge

Test appending _in to ports input
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  test/Dialect/FIRRTL/lower-classes.mlir
Owners: @darthscsi, @seldridge

Fixup freeze paths test
  test/Dialect/OM/freeze-paths.mlir
Owners: none

[FIRRTL] InferWidths: clean up early returns, nfc
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: remove InternedSlot helper, nfc
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: remove RootExpr
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: reuse workstack while solving
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: simplify use of zip, nfci
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: simplify allWidthsKnownCheck
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: clang-tidy fixes, nfc
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: remove unused headers, nfci
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

stat collection
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: remove dead MatchingConnect handler
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

Revert "Test appending _in to ports input"
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  test/Dialect/FIRRTL/lower-classes.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Print port names attributes if a port has an empty name
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/lower-layers.mlir
  test/Dialect/FIRRTL/round-trip.mlir
Owners: @darthscsi, @seldridge

support if op when its condition check is not combinational
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  test/Conversion/SCFToCalyx/convert_controlflow.mlir
Owners: @mikeurbach, @mortbopet

[FIRRTL] InferWidths: pack base Expr struct fields
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: add value accessor for KnownExpr
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge
