Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

[FIRRTL] Add a new FIRRTL annotation to specify type lowering behavior of module body
  docs/Dialects/FIRRTL/FIRRTLAnnotations.md
  include/circt/Dialect/FIRRTL/AnnotationDetails.h
  lib/Dialect/FIRRTL/Transforms/LowerAnnotations.cpp
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  test/Dialect/FIRRTL/annotations.mlir
  test/Dialect/FIRRTL/lower-types.mlir
Owners: @darthscsi, @seldridge

[Seq] FIFO: permit any type and add read latency (#7810)
  include/circt/Dialect/Seq/SeqOps.td
  lib/Dialect/Seq/Transforms/LowerSeqFIFO.cpp
  test/Dialect/Seq/lower-fifo.mlir
Owners: none

[PyCDE] Binding for FIFOs (#7806)
  frontends/PyCDE/src/CMakeLists.txt
  frontends/PyCDE/src/pycde/seq.py
  frontends/PyCDE/test/test_seq.py
Owners: none

[hlstool] Add option to use the DC lowering flow
  tools/hlstool/CMakeLists.txt
  tools/hlstool/hlstool.cpp
Owners: none

WIP - try to do a wholesale clone and cleanup.
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
Owners: @darthscsi, @seldridge

[Handshake] Adding func instance op for integration
  include/circt/Dialect/Handshake/HandshakeOps.h
  include/circt/Dialect/Handshake/HandshakeOps.td
  lib/Conversion/HandshakeToHW/HandshakeToHW.cpp
  lib/Dialect/Handshake/HandshakeOps.cpp
  test/Conversion/HandshakeToHW/test_instance.mlir
  test/Dialect/Handshake/call.mlir
Owners: @Dinistro, @mortbopet

Specify behaivor when there is a conflict
  docs/Dialects/FIRRTL/FIRRTLAnnotations.md
Owners: @darthscsi, @seldridge

[FIRRTL] Refactor class lowering to avoid unnecessary cloning
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] GCT Cleanup, NFC
  lib/Dialect/FIRRTL/Transforms/GrandCentral.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] Accept list of parameters for `formal` construct (#7813)
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  lib/Dialect/FIRRTL/Export/FIREmitter.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/emit-basic.mlir
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/round-trip.mlir
Owners: @darthscsi, @seldridge

[LowerClasses] Stop cloning operations one at a time, NFCI.
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
Owners: @darthscsi, @seldridge

[Handshake] Adding func instance op for integration (#7812)
  include/circt/Dialect/Handshake/HandshakeOps.h
  include/circt/Dialect/Handshake/HandshakeOps.td
  lib/Conversion/HandshakeToHW/HandshakeToHW.cpp
  lib/Dialect/Handshake/HandshakeOps.cpp
  test/Conversion/HandshakeToHW/test_instance.mlir
  test/Dialect/Handshake/call.mlir
Owners: @Dinistro, @mortbopet

[MemoryBanking] Fix bad includes in MemoryBanking
  lib/Transforms/MemoryBanking.cpp
Owners: none

Dedup: hash modules back->front
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
Owners: @darthscsi, @seldridge

Dedup: hash modules back->front (#7820)
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] Refactor class lowering to avoid unnecessary cloning (#7823)
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] LowerClasses: drop the IR mapping
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] Update, fix parser versions
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/parse-errors.fir
Owners: @darthscsi, @seldridge

[hlstool] Add option to use the DC lowering flow (#7819)
  tools/hlstool/CMakeLists.txt
  tools/hlstool/hlstool.cpp
Owners: none

[HandshakeToDC] Add clock and reset ports
  lib/Conversion/HandshakeToDC/HandshakeToDC.cpp
  test/Conversion/HandshakeToDC/basic.mlir
Owners: @Dinistro, @mortbopet

fixup! [FIRRTL] Update, fix parser versions
  include/circt/Dialect/FIRRTL/FIRParser.h
  test/CAPI/firrtl.c
  test/Dialect/FIRRTL/emit-basic.mlir
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/parse-errors.fir
  test/firtool/classes-dedupe.fir
  test/firtool/instchoice.fir
Owners: @darthscsi, @seldridge

[FIRRTL] Update, fix parser versions (#7827)
  include/circt/Dialect/FIRRTL/FIRParser.h
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/CAPI/firrtl.c
  test/Dialect/FIRRTL/emit-basic.mlir
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/parse-errors.fir
  test/firtool/classes-dedupe.fir
  test/firtool/instchoice.fir
Owners: @darthscsi, @seldridge

early return failure if build control flow result failed
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Owners: @mikeurbach, @mortbopet

better messages and code style change
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Owners: @mikeurbach, @mortbopet

replace recursion with while loop
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Owners: @mikeurbach, @mortbopet

lower scf parallel to calyx
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  test/Conversion/SCFToCalyx/convert_simple.mlir
Owners: @mikeurbach, @mortbopet

error test for not supporting reduce op
  test/Conversion/SCFToCalyx/errors.mlir
Owners: @mikeurbach, @mortbopet

[ImportVerilog]: Create variables for function arguments
  lib/Conversion/ImportVerilog/Structure.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/builtins.sv
Owners: none

Update basic.sv
  test/Conversion/ImportVerilog/basic.sv
Owners: none

Add dialect rationale document
  docs/Dialects/RTG.md
Owners: none

Add an example to the rationale document
  docs/Dialects/RTG.md
Owners: none

some fixes
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  test/Conversion/SCFToCalyx/errors.mlir
Owners: @mikeurbach, @mortbopet

[FIRRTL] LowerClasses: drop the IR mapping (#7824)
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
Owners: @darthscsi, @seldridge

typo
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Owners: @mikeurbach, @mortbopet

[Calyx] Lower SCF parallel op to Calyx (#7830)
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  test/Conversion/SCFToCalyx/convert_simple.mlir
  test/Conversion/SCFToCalyx/errors.mlir
Owners: @mikeurbach, @mortbopet

[FIRRTL] LowerTypes: Manually compact newArgs vector
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
Owners: @darthscsi, @seldridge

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive
