Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

[circt-synth] Add circt-synth driver
  test/CMakeLists.txt
  test/circt-synth/basic.mlir
  test/circt-synth/commandline.mlir
  test/lit.cfg.py
  tools/CMakeLists.txt
  tools/circt-synth/CMakeLists.txt
  tools/circt-synth/circt-synth.cpp
Owners: none

[circt-synth] Add circt-synth driver
  test/CMakeLists.txt
  test/circt-synth/basic.mlir
  test/circt-synth/commandline.mlir
  test/lit.cfg.py
  tools/CMakeLists.txt
  tools/circt-synth/CMakeLists.txt
  tools/circt-synth/circt-synth.cpp
Owners: none

[AIG] Add AIG dialect
  docs/Dialects/AIG.md
  include/circt/Dialect/AIG/AIG.td
  include/circt/Dialect/AIG/AIGDialect.h
  include/circt/Dialect/AIG/AIGOps.h
  include/circt/Dialect/AIG/AIGOps.td
  include/circt/Dialect/AIG/AIGPasses.h
  include/circt/Dialect/AIG/AIGPasses.td
  include/circt/Dialect/AIG/CMakeLists.txt
  include/circt/Dialect/CMakeLists.txt
  include/circt/InitAllDialects.h
  include/circt/InitAllPasses.h
  lib/Dialect/AIG/AIGDialect.cpp
  lib/Dialect/AIG/CMakeLists.txt
  lib/Dialect/CMakeLists.txt
  test/circt-opt/commandline.mlir
Owners: none

[AIG] Add AndInverterOp
  include/circt/Dialect/AIG/AIGOps.td
  lib/Dialect/AIG/AIGOps.cpp
  lib/Dialect/AIG/CMakeLists.txt
  test/Dialect/AIG/canonicalizer.mlir
  test/Dialect/AIG/round-trip.mlir
Owners: none

remove unused interface
  include/circt/Dialect/AIG/AIGOps.td
Owners: none

[AIG] Add AndInverterOp (#7738)
  include/circt/Dialect/AIG/AIGOps.td
  lib/Dialect/AIG/AIGOps.cpp
  lib/Dialect/AIG/CMakeLists.txt
  test/Dialect/AIG/canonicalizer.mlir
  test/Dialect/AIG/round-trip.mlir
Owners: none

[AIG] Add LowerVariadic pass
  include/circt/Dialect/AIG/AIGPasses.td
  lib/Dialect/AIG/CMakeLists.txt
  lib/Dialect/AIG/Transforms/CMakeLists.txt
  lib/Dialect/AIG/Transforms/LowerVariadic.cpp
  test/Dialect/AIG/lower-variadic.mlir
Owners: none

[AIG] Add LowerWordToBits pass
  include/circt/Dialect/AIG/AIGPasses.td
  lib/Dialect/AIG/CMakeLists.txt
  lib/Dialect/AIG/Transforms/CMakeLists.txt
  lib/Dialect/AIG/Transforms/LowerWordToBits.cpp
  test/Dialect/AIG/lower-word-to-bits.mlir
Owners: none

[AIG] Add LowerWordToBits pass
  include/circt/Dialect/AIG/AIGPasses.td
  lib/Dialect/AIG/CMakeLists.txt
  lib/Dialect/AIG/Transforms/CMakeLists.txt
  lib/Dialect/AIG/Transforms/LowerWordToBits.cpp
  test/Dialect/AIG/lower-word-to-bits.mlir
Owners: none

[AIG] Add LowerVariadic pass
  include/circt/Dialect/AIG/AIGPasses.td
  lib/Dialect/AIG/CMakeLists.txt
  lib/Dialect/AIG/Transforms/CMakeLists.txt
  lib/Dialect/AIG/Transforms/LowerVariadic.cpp
  test/Dialect/AIG/lower-variadic.mlir
Owners: none

[CombToAIG] Add CombToAIG conversion pass
  include/circt/Conversion/CombToAIG.h
  include/circt/Conversion/Passes.h
  include/circt/Conversion/Passes.td
  lib/CAPI/Conversion/CMakeLists.txt
  lib/Conversion/CMakeLists.txt
  lib/Conversion/CombToAIG/CMakeLists.txt
  lib/Conversion/CombToAIG/CombToAIG.cpp
  test/Conversion/CombToAIG/comb-to-aig.mlir
Owners: none

[CombToAIG] Add CombToAIG conversion pass (#7740)
  include/circt/Conversion/CombToAIG.h
  include/circt/Conversion/Passes.h
  include/circt/Conversion/Passes.td
  lib/CAPI/Conversion/CMakeLists.txt
  lib/Conversion/CMakeLists.txt
  lib/Conversion/CombToAIG/CMakeLists.txt
  lib/Conversion/CombToAIG/CombToAIG.cpp
  test/Conversion/CombToAIG/comb-to-aig.mlir
Owners: none

Bug fix: firtool crashes with SRAMInterface of empty ports
  lib/Dialect/FIRRTL/Transforms/LowerAnnotations.cpp
  lib/Dialect/FIRRTL/Transforms/MaterializeDebugInfo.cpp
Owners: @darthscsi, @seldridge

[circt-synth] Populate pipelines until AIG lowering
  test/circt-synth/basic.mlir
  tools/circt-synth/CMakeLists.txt
  tools/circt-synth/circt-synth.cpp
Owners: none

Update CMakeLists.txt
  tools/circt-synth/CMakeLists.txt
Owners: none

[circt-synth] Populate pipelines until AIG lowering (#7741)
  test/circt-synth/basic.mlir
  tools/circt-synth/CMakeLists.txt
  tools/circt-synth/circt-synth.cpp
Owners: none

save
  include/circt/Conversion/AIGToComb.h
  include/circt/Conversion/Passes.h
  include/circt/Conversion/Passes.td
  integration_test/CMakeLists.txt
  integration_test/circt-synth/comb.mlir
  integration_test/lit.cfg.py
  lib/CAPI/Conversion/CMakeLists.txt
  lib/Conversion/AIGToComb/AIGToComb.cpp
  lib/Conversion/AIGToComb/CMakeLists.txt
  lib/Conversion/CMakeLists.txt
  lib/Conversion/CombToAIG/CombToAIG.cpp
  lib/Dialect/AIG/AIGOps.cpp
  lib/Dialect/AIG/CMakeLists.txt
  lib/Dialect/AIG/Transforms/LowerVariadic.cpp
  lib/Dialect/AIG/Transforms/LowerWordToBits.cpp
  test/Conversion/CombToAIG/comb-to-aig-arith.mlir
  test/Conversion/CombToAIG/comb-to-aig.mlir
  tools/circt-lec/circt-lec.cpp
  tools/circt-synth/CMakeLists.txt
  tools/circt-synth/circt-synth.cpp
Owners: none

[AIGToComb] [circt-synth] Add a AIG to Comb conversion pass
  include/circt/Conversion/AIGToComb.h
  include/circt/Conversion/Passes.h
  include/circt/Conversion/Passes.td
  lib/CAPI/Conversion/CMakeLists.txt
  lib/Conversion/AIGToComb/AIGToComb.cpp
  lib/Conversion/AIGToComb/CMakeLists.txt
  lib/Conversion/CMakeLists.txt
  test/Conversion/AIGToComb/aig-to-comb.mlir
  test/circt-synth/basic.mlir
  tools/circt-synth/CMakeLists.txt
  tools/circt-synth/circt-synth.cpp
Owners: none

[AIG] Add CutOp
  include/circt/Dialect/AIG/AIGOps.td
  lib/Dialect/AIG/AIGOps.cpp
  test/Dialect/AIG/errors.mlir
  test/Dialect/AIG/round-trip.mlir
Owners: none

[AIG] Add CutOp (#7743)
  include/circt/Dialect/AIG/AIGOps.td
  lib/Dialect/AIG/AIGOps.cpp
  test/Dialect/AIG/errors.mlir
  test/Dialect/AIG/round-trip.mlir
Owners: none

[circt-lec] Register Verif dialects
  integration_test/circt-lec/comb.mlir
  tools/circt-lec/CMakeLists.txt
  tools/circt-lec/circt-lec.cpp
Owners: none

[circt-lec] Register Verif dialects (#7744)
  integration_test/circt-lec/comb.mlir
  tools/circt-lec/CMakeLists.txt
  tools/circt-lec/circt-lec.cpp
Owners: none

Address review comments
  include/circt/Dialect/Verif/VerifOps.td
  lib/Tools/circt-bmc/LowerToBMC.cpp
  test/Tools/circt-bmc/lower-to-bmc-errors.mlir
Owners: none

Python-based RTG driver tool
  include/circt-c/Dialect/RTGTest.h
  include/circt-c/RTGPipeline.h
  integration_test/CMakeLists.txt
  integration_test/lit.cfg.py
  integration_test/rtgtool/basic.mlir
  integration_test/rtgtool/unsupported-instructions.mlir
  lib/Bindings/Python/CIRCTModule.cpp
  lib/Bindings/Python/CMakeLists.txt
  lib/CAPI/CMakeLists.txt
  lib/CAPI/Dialect/CMakeLists.txt
  lib/CAPI/Dialect/RTGTest.cpp
  lib/CAPI/RTGPipeline/CMakeLists.txt
  lib/CAPI/RTGPipeline/RTGPipeline.cpp
  test/CMakeLists.txt
  test/lit.cfg.py
  tools/rtgtool/CMakeLists.txt
  tools/rtgtool/Evaluator.cpp
  tools/rtgtool/Evaluator.h
  tools/rtgtool/rtgentry.py
  tools/rtgtool/rtgtool.cpp
  tools/rtgtool/rtgtool.py
Owners: none

[docs] add initial_values to BMC op docs
  include/circt/Dialect/Verif/VerifOps.td
Owners: none

[circt-bmc] Add initial_values attribute to BMC op (#7729)
  include/circt/Dialect/Verif/VerifOps.td
  lib/Dialect/Verif/VerifOps.cpp
  lib/Tools/circt-bmc/LowerToBMC.cpp
  test/Conversion/VerifToSMT/verif-to-smt-errors.mlir
  test/Conversion/VerifToSMT/verif-to-smt.mlir
  test/Dialect/Verif/basic.mlir
  test/Dialect/Verif/errors.mlir
  test/Tools/circt-bmc/lower-to-bmc-errors.mlir
  test/Tools/circt-bmc/lower-to-bmc.mlir
Owners: none

Don't assign an RNG seed if hasSeed is false
  lib/CAPI/RTGPipeline/RTGPipeline.cpp
Owners: none

More python lib
  lib/Bindings/Python/dialects/rtg.py
Owners: none

EmitRTGAssembly cleanup, don't print everything twice
  lib/Target/EmitRTGAssembly/EmitRTGAssembly.cpp
Owners: none

quick hack for riscv elf
  lib/Target/EmitRTGAssembly/EmitRTGAssembly.cpp
Owners: none

[Verif] Add contract examples to dialect doc
  docs/Dialects/Verif.md
Owners: none

[Verif] Add contract examples to dialect doc (#7723)
  docs/Dialects/Verif.md
Owners: none

[OM] Whitespace cleanup in TD
  include/circt/Dialect/OM/OMOps.td
Owners: none

[OM] Add ClassOp region verifier
  include/circt/Dialect/OM/OMOps.td
  lib/Dialect/OM/OMOps.cpp
  test/Dialect/OM/errors.mlir
Owners: none

[FIRRTL] Remove validation from type inference code
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  include/circt/Dialect/FIRRTL/FIRRTLOps.h
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
Owners: @darthscsi, @seldridge

[arcilator] Add clock divider integration test
  integration_test/arcilator/JIT/clock-divider.mlir
Owners: none

[Arc] Remove obsolete arc.clock_tree and arc.passthrough ops
  include/circt/Dialect/Arc/ArcOps.td
  lib/Dialect/Arc/Transforms/LowerClocksToFuncs.cpp
  test/Dialect/Arc/allocate-state.mlir
  test/Dialect/Arc/lower-clocks-to-funcs-errors.mlir
  test/Dialect/Arc/lower-clocks-to-funcs.mlir
Owners: @fabianschuiki, @maerhart

[Arc] Improve LowerState to never produce read-after-write conflicts
  include/circt/Dialect/Arc/ArcPasses.h
  include/circt/Dialect/Arc/ArcPasses.td
  integration_test/arcilator/JIT/dpi.mlir
  integration_test/arcilator/JIT/initial-shift-reg.mlir
  integration_test/arcilator/JIT/reg.mlir
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  lib/Dialect/Arc/ArcTypes.cpp
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/LegalizeStateUpdate.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  lib/Dialect/Arc/Transforms/LowerStateRewrite.cpp
  test/Dialect/Arc/legalize-state-update-error.mlir
  test/Dialect/Arc/legalize-state-update.mlir
  test/Dialect/Arc/lower-state-errors.mlir
  test/Dialect/Arc/lower-state.mlir
  test/arcilator/arcilator.mlir
  tools/arcilator/arcilator.cpp
Owners: @fabianschuiki, @maerhart

[FIRRTL] Remove validation from type inference code
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  include/circt/Dialect/FIRRTL/FIRRTLOps.h
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
Owners: @darthscsi, @seldridge

[Verif] Adjust contract ops to match documentation
  include/circt/Dialect/Verif/VerifOps.td
  lib/Dialect/Verif/VerifOps.cpp
  test/Dialect/Verif/basic.mlir
Owners: none

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive
