Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive

[ImportVerilog] Refactor constant materialization; NFC
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
Owners: none

[ImportVerilog] Add debug info switch
  include/circt/Conversion/ImportVerilog.h
  lib/Conversion/ImportVerilog/ImportVerilog.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  tools/circt-verilog/circt-verilog.cpp
Owners: none

[MooreToCore] Pass through debug dialect ops
  lib/Conversion/MooreToCore/CMakeLists.txt
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[MooreToCore] Alternative conditional lowering and type conversion fixes
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[FIRRTL] Use InstanceInfo in LowerMemory
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/LowerMemory.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] Switch to IPO instead of RPO
  lib/Analysis/FIRRTLInstanceInfo.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] Use walk, InstanceInfo in AddSeqMemPorts
  lib/Dialect/FIRRTL/Transforms/AddSeqMemPorts.cpp
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  test/Dialect/FIRRTL/add-seqmem-ports-errors.mlir
  test/Dialect/FIRRTL/add-seqmem-ports.mlir
Owners: @darthscsi, @seldridge

Address comments
  include/circt/Dialect/SV/SVStatements.td
  test/Conversion/ExportVerilog/sv-dialect.mlir
Owners: @darthscsi

rename file
  lib/Dialect/DC/Transforms/Analysis.cpp
Owners: @mortbopet

fixed cmake
  lib/Dialect/DC/Transforms/CMakeLists.txt
Owners: @mortbopet

[SV] Add MacroRefOp to represet macro statement (#7607)
  include/circt/Dialect/SV/SVExpressions.td
  include/circt/Dialect/SV/SVStatements.td
  include/circt/Dialect/SV/SVVisitors.h
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Dialect/SV/SVOps.cpp
  test/Conversion/ExportVerilog/pretty.mlir
  test/Conversion/ExportVerilog/sv-dialect.mlir
  test/Conversion/ExportVerilog/verilog-basic.mlir
  test/Conversion/FIRRTLToHW/emit-chisel-asserts-as-sva.mlir
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
  test/Dialect/SV/basic.mlir
  test/Dialect/SV/cse.mlir
  test/Dialect/Seq/firreg.mlir
  test/Dialect/Seq/hw-memsim.mlir
  test/firtool/print.fir
  test/firtool/stop.fir
Owners: @darthscsi, @seldridge

[MooreToCore] Alternative conditional lowering and type conversion fixes (#7625)
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

anonymous namespace for DotNode
  lib/Dialect/DC/Transforms/DCPrintDot.cpp
Owners: @mortbopet

updated output
  lib/Dialect/DC/Transforms/DCPrintDot.cpp
Owners: @mortbopet

clanged
  lib/Dialect/DC/Transforms/DCPrintDot.cpp
Owners: @mortbopet

Fix duplicated CMake dep & tool file fixes
  tools/circt-bmc/CMakeLists.txt
  tools/circt-bmc/circt-bmc.cpp
Owners: none

Correct second object file misnomer
  tools/circt-bmc/circt-bmc.cpp
Owners: none

[MooreToCore] Return early on non-convertable type
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/errors.mlir
Owners: none

enum and stringify
  lib/Dialect/DC/Transforms/DCPrintDot.cpp
Owners: @mortbopet

clanged
  lib/Dialect/DC/Transforms/DCPrintDot.cpp
Owners: @mortbopet

Add seq error test
  integration_test/circt-bmc/seq-errors.mlir
Owners: none

Address comments
  include/circt/Dialect/LLHD/Transforms/Passes.td
  lib/Dialect/LLHD/Transforms/DesequentializationPass.cpp
  test/Conversion/MooreToCore/errors.mlir
  test/Dialect/LLHD/Transforms/desequentialization.mlir
Owners: @fabianschuiki, @maerhart

[circt-bmc] Add `circt-bmc` tool (#7621)
  integration_test/CMakeLists.txt
  integration_test/circt-bmc/comb-errors.mlir
  integration_test/circt-bmc/comb.mlir
  integration_test/circt-bmc/seq-errors.mlir
  integration_test/circt-bmc/seq.mlir
  integration_test/lit.cfg.py
  tools/CMakeLists.txt
  tools/circt-bmc/CMakeLists.txt
  tools/circt-bmc/circt-bmc.cpp
Owners: none

[MooreToCore] Return early on non-convertable type (#7631)
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/errors.mlir
Owners: none

Cleanup
  include/circt/Dialect/RTG/CMakeLists.txt
  include/circt/Dialect/RTG/IR/CMakeLists.txt
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/Transforms/CMakeLists.txt
  include/circt/Dialect/RTG/Transforms/RTGPasses.h
  include/circt/Dialect/RTG/Transforms/RTGPasses.td
  lib/Dialect/RTG/CMakeLists.txt
  lib/Dialect/RTG/ExportElf.cpp
  lib/Dialect/RTG/Transforms/CMakeLists.txt
  lib/Dialect/RTG/Transforms/ExportElf.cpp
  lib/Target/EmitAssembly/EmitAssembly.cpp
Owners: none

[LLHD] Add DesequentializationPass (#7616)
  include/circt/Dialect/LLHD/Transforms/Passes.h
  include/circt/Dialect/LLHD/Transforms/Passes.td
  include/circt/Dialect/Seq/SeqOps.td
  include/circt/InitAllPasses.h
  include/circt/Support/FVInt.h
  lib/Dialect/LLHD/Transforms/CMakeLists.txt
  lib/Dialect/LLHD/Transforms/DesequentializationPass.cpp
  lib/Dialect/LLHD/Transforms/PassRegistration.cpp
  lib/Dialect/LLHD/Transforms/TemporalRegions.cpp
  lib/Dialect/LLHD/Transforms/TemporalRegions.h
  lib/Support/FVInt.cpp
  test/Dialect/LLHD/Transforms/desequentialization.mlir
Owners: @fabianschuiki, @maerhart

[LLHD] Add Sig2Reg pass for graph regions
  include/circt/Dialect/LLHD/Transforms/Passes.h
  include/circt/Dialect/LLHD/Transforms/Passes.td
  lib/Dialect/LLHD/Transforms/CMakeLists.txt
  lib/Dialect/LLHD/Transforms/Sig2RegPass.cpp
  test/Dialect/LLHD/Transforms/sig2reg.mlir
Owners: @fabianschuiki, @maerhart

[LLHD] Add Sig2Reg pass for graph regions (#7623)
  include/circt/Dialect/LLHD/Transforms/Passes.h
  include/circt/Dialect/LLHD/Transforms/Passes.td
  lib/Dialect/LLHD/Transforms/CMakeLists.txt
  lib/Dialect/LLHD/Transforms/Sig2RegPass.cpp
  test/Dialect/LLHD/Transforms/sig2reg.mlir
Owners: @fabianschuiki, @maerhart

save
  test/circt-synth/a.sv
  test/circt-synth/add.mlir
Owners: none

save
  test/circt-synth/add_synth.sv
  test/circt-synth/add_xilinx.sv
Owners: none

save
  test/circt-synth/add_synth.sv
Owners: none

[Moore] Drop named_constant op in favor of dbg.variable
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/CMakeLists.txt
  lib/Conversion/ImportVerilog/ImportVerilog.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Structure.cpp
  lib/Conversion/MooreToCore/MooreToCore.cpp
  lib/Dialect/Moore/MooreOps.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/MooreToCore/basic.mlir
Owners: none

Start dealing with context
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGTypes.td
  test/Dialect/RTG/IR/basic.mlir
Owners: none

[Moore] Drop named_constant op in favor of dbg.variable (#7624)
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/CMakeLists.txt
  lib/Conversion/ImportVerilog/ImportVerilog.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Structure.cpp
  lib/Conversion/MooreToCore/MooreToCore.cpp
  lib/Dialect/Moore/MooreOps.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[ImportVerilog] Add support for elaboration system tasks
  lib/Conversion/ImportVerilog/Structure.cpp
  test/Conversion/ImportVerilog/errors.sv
Owners: none

[LLHD] Silence unused variable warning, NFC
  lib/Dialect/LLHD/Transforms/DesequentializationPass.cpp
Owners: @fabianschuiki, @maerhart

[ImportVerilog] Add support for elaboration system tasks (#7632)
  lib/Conversion/ImportVerilog/Structure.cpp
  test/Conversion/ImportVerilog/errors.sv
Owners: none

[RTG] Elaboration pass
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/Transforms/RTGPasses.h
  include/circt/Dialect/RTG/Transforms/RTGPasses.td
  include/circt/InitAllPasses.h
  lib/Dialect/RTG/Transforms/CMakeLists.txt
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/Dialect/RTG/Transform/elaboration.mlir
Owners: none

[FIRRTL] Add verifier of single MarkDUTAnnotation
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/errors.mlir
Owners: @darthscsi, @seldridge

[ImportVerilog] Add support for $stop/$finish/$exit
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Statements.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Dialect/Moore/basic.mlir
Owners: none
