Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

Tweak export macros
  tools/arcilator/arcilator-runtime.h
Owners: @fabianschuiki, @maerhart

[arcilator] Add an option to load shared lib into JIT engine (#7453)
  integration_test/arcilator/JIT/dpi.mlir
  integration_test/lit.cfg.py
  tools/arcilator/arcilator.cpp
Owners: @fabianschuiki, @maerhart

Add attribute to ARCJITENV_API for consistency.
  tools/arcilator/jit-env/arcilator-jit-env.h
Owners: @fabianschuiki, @maerhart

add calyx canonicalization.
  lib/Dialect/Calyx/CalyxOps.cpp
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999

[ESI] Add option to build runtime as a static library
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/lib/Accelerator.cpp
Owners: @teqdruid

[arcilator] Add JIT runtime environment library and stdio hooks (#7445)
  integration_test/arcilator/JIT/runtime-environment.mlir
  tools/arcilator/CMakeLists.txt
  tools/arcilator/arcilator-runtime.h
  tools/arcilator/arcilator.cpp
  tools/arcilator/jit-env/CMakeLists.txt
  tools/arcilator/jit-env/arcilator-jit-env.cpp
  tools/arcilator/jit-env/arcilator-jit-env.h
Owners: @fabianschuiki, @maerhart

[NFC] Remove trailing whitespace
  include/circt/Dialect/Arc/ArcOps.td
Owners: @fabianschuiki, @maerhart

Address comments; add a test
  test/Tools/circt-lec/Inputs/a.mlir
  test/Tools/circt-lec/Inputs/b.mlir
  test/Tools/circt-lec/merge-inputs.mlir
  tools/circt-lec/circt-lec.cpp
Owners: none

Add an error test
  test/Tools/circt-lec/merge-inputs-error.mlir
Owners: none

Update merge-inputs-error.mlir
  test/Tools/circt-lec/merge-inputs-error.mlir
Owners: none

[circt-lec] Accept two MLIR inputs (#7450)
  test/CMakeLists.txt
  test/Tools/circt-lec/merge-inputs-error.mlir
  test/Tools/circt-lec/merge-inputs.mlir
  test/lit.cfg.py
  tools/circt-lec/circt-lec.cpp
Owners: none

[SimToSV] Add include guards to DPI import
  lib/Conversion/SimToSV/SimToSV.cpp
  test/Conversion/SimToSV/dpi.mlir
  test/firtool/dpi.fir
Owners: none

[FIRRTL] Cache symbol table in LowerLayers (#7436)
  lib/Dialect/FIRRTL/Transforms/LowerLayers.cpp
Owners: @darthscsi, @seldridge

Update SimOps.cpp
  lib/Dialect/Sim/SimOps.cpp
Owners: none

fix om-linker
  tools/om-linker/om-linker.cpp
Owners: none

Init extern logic
  include/circt/Dialect/OM/OMOps.td
  lib/Dialect/OM/OMOps.cpp
  test/Dialect/OM/round-trip.mlir
Owners: none

Refactor build field attrs code
  lib/Dialect/OM/OMOps.cpp
Owners: none

WIP unify parsing logic
  lib/Dialect/OM/OMOps.cpp
Owners: none

need to separate ints and bools and have 2 vectorsof variables instead of one?
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

added method declarations
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  include/circt/Dialect/FIRRTL/FIRRTLStructure.td
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/parse-basic.fir
Owners: @darthscsi, @seldridge

removed defered parsing for formal body
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] Whitespace cleanup, NFC
  lib/Support/FieldRef.cpp
Owners: none

[FVInt] Add resizing utilities, allow hashing
  include/circt/Support/FVInt.h
  lib/Support/FVInt.cpp
Owners: none

[FVInt] Fix printing when bit width is less than one full digit
  lib/Support/FVInt.cpp
  unittests/Support/FVIntTest.cpp
Owners: none

[Moore] Add FVIntegerAttr
  include/circt/Dialect/Moore/CMakeLists.txt
  include/circt/Dialect/Moore/Moore.td
  include/circt/Dialect/Moore/MooreAttributes.h
  include/circt/Dialect/Moore/MooreAttributes.td
  include/circt/Dialect/Moore/MooreDialect.td
  include/circt/Support/FVInt.h
  lib/Dialect/Moore/CMakeLists.txt
  lib/Dialect/Moore/MooreAttributes.cpp
  lib/Dialect/Moore/MooreDialect.cpp
  lib/Support/FVInt.cpp
  test/Dialect/Moore/attrs-error.mlir
  test/Dialect/Moore/attrs.mlir
Owners: none

review comments
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/lib/Accelerator.cpp
Owners: @teqdruid

[ExportVerilog] Add a lowering option to fix up empty modules (#7454)
  docs/VerilogGeneration.md
  include/circt/Support/LoweringOptions.h
  lib/Conversion/ExportVerilog/PrepareForEmission.cpp
  lib/Support/LoweringOptions.cpp
  test/Conversion/ExportVerilog/fixup-empty-modules.mlir
Owners: none

[SimToSV] Add include guards to DPI import (#7459)
  lib/Conversion/SimToSV/SimToSV.cpp
  test/Conversion/SimToSV/dpi.mlir
  test/firtool/dpi.fir
Owners: none

Added more checks to calyx.component, fix some details.
  lib/Dialect/Calyx/CalyxOps.cpp
  test/Conversion/CalyxToFSM/materialize-errors.mlir
  test/Dialect/Calyx/clk-insertion.mlir
  test/Dialect/Calyx/errors.mlir
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet

update CmakeLists.txt.
  lib/Dialect/Calyx/CMakeLists.txt
  lib/Dialect/Calyx/CalyxOps.cpp
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999

[ESI] Add option to build runtime as a static library (#7455)
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/lib/Accelerator.cpp
Owners: @teqdruid

[ESI][Runtime] Poll method and optional service thread polling
  integration_test/Dialect/ESI/runtime/loopback.mlir.py
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Design.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Manifest.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Ports.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Trace.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Xrt.h
  lib/Dialect/ESI/runtime/cpp/lib/Accelerator.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Design.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Ports.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Xrt.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esiquery.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esitester.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/esiCppAccel.cpp
Owners: @teqdruid

feedback
  lib/Dialect/ESI/runtime/cpp/include/esi/Ports.h
Owners: @teqdruid

[ESI][Runtime] Poll method and optional service thread polling (#7460)
  integration_test/Dialect/ESI/runtime/loopback.mlir.py
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Design.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Manifest.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Ports.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Trace.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Xrt.h
  lib/Dialect/ESI/runtime/cpp/lib/Accelerator.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Design.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Ports.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Xrt.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esiquery.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esitester.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/esiCppAccel.cpp
Owners: @teqdruid

split SimplexSchedulers into .h and .cpp
  include/circt/Scheduling/SimplexSchedulers.h
  lib/Scheduling/SimplexSchedulers.cpp
Owners: none

[ESI][Runtime] Minor cleanups
  integration_test/Dialect/ESI/runtime/callback.mlir
  lib/Dialect/ESI/runtime/cpp/include/esi/Common.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Utils.h
  lib/Dialect/ESI/runtime/cpp/lib/Services.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/esiCppAccel.cpp
Owners: @teqdruid

[Moore] Add FVIntegerAttr (#7461)
  include/circt/Dialect/Moore/CMakeLists.txt
  include/circt/Dialect/Moore/Moore.td
  include/circt/Dialect/Moore/MooreAttributes.h
  include/circt/Dialect/Moore/MooreAttributes.td
  include/circt/Dialect/Moore/MooreDialect.td
  include/circt/Support/FVInt.h
  lib/Dialect/Moore/CMakeLists.txt
  lib/Dialect/Moore/MooreAttributes.cpp
  lib/Dialect/Moore/MooreDialect.cpp
  lib/Support/FVInt.cpp
  test/Dialect/Moore/attrs-error.mlir
  test/Dialect/Moore/attrs.mlir
Owners: none

[FIRRTL][Dedup] Reduce size of integer data hashed.
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
Owners: @darthscsi, @seldridge

[Moore] Support four-valued integers in ConstantOp
  include/circt/Dialect/Moore/MooreAttributes.td
  include/circt/Dialect/Moore/MooreOps.h
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/MooreToCore/MooreToCore.cpp
  lib/Dialect/Moore/MooreOps.cpp
  lib/Support/FVInt.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/errors.sv
  test/Conversion/MooreToCore/basic.mlir
  test/Dialect/Moore/attrs-error.mlir
  test/Dialect/Moore/attrs.mlir
  test/Dialect/Moore/basic.mlir
  test/Dialect/Moore/errors.mlir
Owners: none

[Support] Sort CMakeLists lines, NFC
  lib/Support/CMakeLists.txt
Owners: none

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive
