Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive

delete the component ports for memory ports and replace with an actual memoryOp inside the component
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Owners: @mikeurbach, @mortbopet

made code style changes after review
  include/circt/Dialect/Calyx/CalyxLoweringUtils.h
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/Transforms/CalyxLoweringUtils.cpp
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet

can pass non memref arguments from new toplevel to original toplevel and pass scf to calyx convert memory tests
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  test/Conversion/SCFToCalyx/convert_memory.mlir
Owners: @mikeurbach, @mortbopet

expose memory interface's name
  include/circt/Dialect/Calyx/CalyxLoweringUtils.h
  lib/Dialect/Calyx/Transforms/CalyxLoweringUtils.cpp
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999

update memory test check; add round trip test for creating new top level function
  test/Conversion/SCFToCalyx/convert_memory.mlir
  test/Dialect/Calyx/round-trip.mlir
Owners: @mikeurbach, @mortbopet, @rachitnigam, @cgyurgyik, @andrewb1999

[LTL] Canonicalize ltl.and to comb.and for i1 properties (#7759)
  include/circt/Dialect/LTL/LTLOps.td
  lib/Dialect/LTL/LTLFolds.cpp
  lib/Dialect/LTL/LTLOps.cpp
  test/Conversion/ExportVerilog/verif.mlir
  test/Dialect/LTL/basic.mlir
  test/Dialect/LTL/canonicalization.mlir
Owners: none

ugly hack
  lib/Target/EmitRTGAssembly/EmitRTGAssembly.cpp
Owners: none

Use getDiscardableAttr to access discardable attributes
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/SV/Transforms/SVExtractTestCode.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] Fix folding of when conditions into LTL properties (#7760)
  lib/Dialect/FIRRTL/Transforms/ExpandWhens.cpp
  test/Dialect/FIRRTL/expand-whens.mlir
  test/firtool/verif-under-when.fir
Owners: @darthscsi, @seldridge

better default printing
  include/circt/Dialect/RTG/IR/RTGInterfaces.td
Owners: none

calyx seqmem support floating point
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
  test/Conversion/SCFToCalyx/convert_memory.mlir
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet

[circt-test] Add simple runner interface for choosing modes and depth
  integration_test/circt-test/basic.mlir
  tools/circt-test/circt-test-runner-sby.py
  tools/circt-test/circt-test.cpp
Owners: none

[FIRRTL] Make `sym_name` an inherent attr for symbol ops
  include/circt/Dialect/FIRRTL/FIRRTLStructure.td
  test/Dialect/FIRRTL/annotations-generic.mlir
Owners: @darthscsi, @seldridge

address some style and format issues based on review
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
  test/Dialect/Calyx/errors.mlir
Owners: @mikeurbach, @mortbopet, @rachitnigam, @cgyurgyik, @andrewb1999

[FIRRTL] Make `sym_name` an inherent attr for symbol ops
  include/circt/Dialect/FIRRTL/FIRRTLStructure.td
  test/Dialect/FIRRTL/annotations-generic.mlir
Owners: @darthscsi, @seldridge

[HW] InnerSymbolTable: only check top-level ops for portlists
  lib/Dialect/HW/InnerSymbolTable.cpp
Owners: @darthscsi

[SV] Use SymbolOpUserInterface to speed up verifiers
  include/circt/Dialect/SV/SVTypeDecl.td
  lib/Dialect/SV/SVOps.cpp
Owners: @darthscsi

[SV] Use SymbolOpUserInterface to speed up verifiers
  include/circt/Dialect/SV/SVTypeDecl.td
  lib/Dialect/SV/SVOps.cpp
Owners: @darthscsi

initial condition
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

[HW] InnerSymbolTable: only check top-level ops for portlists
  lib/Dialect/HW/InnerSymbolTable.cpp
Owners: @darthscsi

almost done, missing outputs
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

outputs
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

Python format
  tools/circt-test/circt-test-runner-sby.py
Owners: none

clang format
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Owners: @mikeurbach, @mortbopet

type information subsumes type width
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet

buig fix
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

converting bitvecs to bools and viceversa
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

Start working on calyxlib
  include/circt/Dialect/CMakeLists.txt
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  include/circt/Dialect/CalyxLib/CMakeLists.txt
  include/circt/Dialect/CalyxLib/CalyxLib.td
  include/circt/Dialect/CalyxLib/CalyxLibAttributes.h
  include/circt/Dialect/CalyxLib/CalyxLibAttributes.td
  include/circt/Dialect/CalyxLib/CalyxLibDialect.h
  include/circt/Dialect/CalyxLib/CalyxLibOps.h
  include/circt/Dialect/CalyxLib/CalyxLibOps.td
  include/circt/InitAllDialects.h
  lib/Dialect/CMakeLists.txt
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/CalyxLib/CMakeLists.txt
  lib/Dialect/CalyxLib/CalyxLibAttributes.cpp
  lib/Dialect/CalyxLib/CalyxLibDialect.cpp
  lib/Dialect/CalyxLib/CalyxLibOps.cpp
  test/Dialect/CalyxLib/round-trip.mlir
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999

Resource sets
  include/circt/Dialect/RTG/IR/RTGOps.h
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGTypes.td
  lib/Bindings/Python/dialects/rtg.py
Owners: none

everything is a bitvector if you try hard enough
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

[Calyx] Passing memories by reference (#7164)
  include/circt/Dialect/Calyx/CalyxControl.td
  include/circt/Dialect/Calyx/CalyxLoweringUtils.h
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  lib/Dialect/Calyx/Transforms/CalyxLoweringUtils.cpp
  test/Conversion/SCFToCalyx/convert_func.mlir
  test/Conversion/SCFToCalyx/convert_memory.mlir
  test/Dialect/Calyx/emit-invoke-with-ref.mlir
  test/Dialect/Calyx/emit-invoke.mlir
  test/Dialect/Calyx/errors.mlir
  test/Dialect/Calyx/round-trip.mlir
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet

[MooreToCore] Update test run command to use file argument format
  test/Conversion/MooreToCore/errors.mlir
Owners: none

More progress
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGTypes.td
  lib/Dialect/RTG/IR/RTGOps.cpp
Owners: none

Move to OpLib
  include/circt/Dialect/CMakeLists.txt
  include/circt/Dialect/CalyxLib/CMakeLists.txt
  include/circt/Dialect/CalyxLib/CalyxLib.td
  include/circt/Dialect/CalyxLib/CalyxLibOps.td
  include/circt/Dialect/OpLib/CMakeLists.txt
  include/circt/Dialect/OpLib/OpLib.td
  include/circt/Dialect/OpLib/OpLibAttributes.h
  include/circt/Dialect/OpLib/OpLibAttributes.td
  include/circt/Dialect/OpLib/OpLibDialect.h
  include/circt/Dialect/OpLib/OpLibOps.h
  include/circt/Dialect/OpLib/OpLibOps.td
  include/circt/InitAllDialects.h
  lib/Dialect/CMakeLists.txt
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/CalyxLib/CMakeLists.txt
  lib/Dialect/OpLib/CMakeLists.txt
  lib/Dialect/OpLib/OpLibAttributes.cpp
  lib/Dialect/OpLib/OpLibDialect.cpp
  lib/Dialect/OpLib/OpLibOps.cpp
  test/Dialect/CalyxLib/round-trip.mlir
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999

Update sym names
  test/Dialect/CalyxLib/round-trip.mlir
Owners: none

Formatting
  include/circt/Dialect/OpLib/OpLibAttributes.h
  include/circt/InitAllDialects.h
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/OpLib/OpLibAttributes.cpp
  lib/Dialect/OpLib/OpLibOps.cpp
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999

Drop dump & clang-format
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

[FIRRTL] Cleanup CreateSiFiveMetadata, NFC
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
Owners: @darthscsi, @seldridge

Fix roundtrip
  include/circt/Dialect/OpLib/OpLib.td
  test/Dialect/OpLib/round-trip.mlir
Owners: none

[FIRRTL][docs] Add Design/Verification Rationale
  docs/Dialects/FIRRTL/RationaleFIRRTL.md
Owners: @darthscsi, @seldridge
