Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

rename pass to reduce confusion. add a rendered context
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/InitAllTranslations.h
  include/circt/Target/EmitAssembly.h
  include/circt/Target/EmitRTGAssembly.h
  lib/Dialect/RTG/IR/RTGOps.cpp
  lib/Target/CMakeLists.txt
  lib/Target/EmitRTGAssembly/CMakeLists.txt
  lib/Target/EmitRTGAssembly/EmitRTGAssembly.cpp
  test/Target/EmitRTGAssembly/rtgtest.mlir
Owners: none

rolling back model
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
  lib/Target/ExportSMTLIB/ExportSMTLIB.cpp
  smt-top.mlir
  smt-top.smt
Owners: @maerhart

add visitor
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  lib/Dialect/DC/Transforms/DCPrintDot.cpp
  lib/Target/EmitRTGAssembly/EmitRTGAssembly.cpp
Owners: @mortbopet

[MooreToCore] Lower moore.net to llhd.sig
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[Arc] Fix folding of initialized StateOp
  lib/Dialect/Arc/ArcFolds.cpp
  test/Dialect/Arc/canonicalizers.mlir
Owners: @fabianschuiki, @maerhart

Add emission pass
  include/circt/Transforms/Passes.h
  include/circt/Transforms/Passes.td
  lib/Transforms/CMakeLists.txt
  lib/Transforms/EmitOpCount.cpp
Owners: none

Switch to less wordy readable format
  lib/Transforms/EmitOpCount.cpp
Owners: none

Only fold compile-time constant initializers.
  lib/Dialect/Arc/ArcFolds.cpp
  test/Dialect/Arc/canonicalizers.mlir
Owners: @fabianschuiki, @maerhart

Minor renamings
  include/circt/Transforms/Passes.h
  include/circt/Transforms/Passes.td
  lib/Transforms/CMakeLists.txt
  lib/Transforms/PrintOpCount.cpp
Owners: none

[Arc] Fix folding of initialized StateOp (#7653)
  lib/Dialect/Arc/ArcFolds.cpp
  test/Dialect/Arc/canonicalizers.mlir
Owners: @fabianschuiki, @maerhart

Add tests and deprecate test pass
  lib/Analysis/CMakeLists.txt
  lib/Analysis/TestPasses.cpp
  lib/Transforms/PrintOpCount.cpp
  test/Analysis/op-count-analysis.mlir
  test/Transforms/print-op-count.mlir
Owners: none

Add alternative constructor & nits
  include/circt/Transforms/Passes.td
  lib/Transforms/PrintOpCount.cpp
Owners: none

Switch to LLVM JSON exporter
  lib/Transforms/PrintOpCount.cpp
Owners: none

clang-format
  lib/Transforms/PrintOpCount.cpp
Owners: none

[Transforms][OpCountAnalysis] Add PrintOpCountPass (#7654)
  include/circt/Transforms/Passes.h
  include/circt/Transforms/Passes.td
  lib/Analysis/CMakeLists.txt
  lib/Analysis/TestPasses.cpp
  lib/Transforms/CMakeLists.txt
  lib/Transforms/PrintOpCount.cpp
  test/Analysis/op-count-analysis.mlir
  test/Transforms/print-op-count.mlir
Owners: none

Move the main logic to a later post-processing step.
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  test/Dialect/FIRRTL/lower-classes.mlir
Owners: @darthscsi, @seldridge

fixed model
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
  smt-top.mlir
  smt-top.smt
Owners: none

[MooreToCore] Lower moore.net to llhd.sig (#7652)
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[FIRRTL] Re-implement old EmitOMIR ports logic in LowerClasses. (#7651)
  include/circt/Dialect/FIRRTL/FIRRTLAnnotationHelper.h
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  test/Dialect/FIRRTL/lower-classes.mlir
Owners: @darthscsi, @seldridge

ResourceOpInterface
  include/circt/Dialect/RTG/IR/RTGInterfaces.td
  include/circt/Dialect/RTGTest/IR/RTGTestOps.h
  include/circt/Dialect/RTGTest/IR/RTGTestOps.td
  lib/Dialect/RTGTest/IR/RTGTestOps.cpp
  lib/Target/EmitRTGAssembly/EmitRTGAssembly.cpp
  test/Dialect/RTGTest/IR/basic.mlir
  test/Target/EmitRTGAssembly/rtgtest.mlir
Owners: none

WIP: Arc partitioning just before state lowering
  include/circt/Dialect/Arc/ArcPasses.h
  include/circt/Dialect/Arc/ArcPasses.td
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/Partition.cpp
Owners: @fabianschuiki, @maerhart

save
  integration_test/YosysIntegration/synth.mlir
  lib/Conversion/ExportYosys/ImportRTLIL.cpp
Owners: none

[arcilator] Register Verif dialect
  tools/arcilator/CMakeLists.txt
  tools/arcilator/arcilator.cpp
Owners: @fabianschuiki, @maerhart

fixed guards negation
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
  smt-top.mlir
Owners: none

[Seq][Arc] Allow seq.initial to take immutable operands. Add a cast operation
  include/circt/Dialect/Seq/SeqOps.h
  include/circt/Dialect/Seq/SeqOps.td
  integration_test/Bindings/Python/dialects/seq.py
  integration_test/arcilator/JIT/reg.mlir
  lib/Bindings/Python/dialects/seq.py
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  lib/Conversion/SeqToSV/SeqToSV.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  lib/Dialect/Seq/SeqOps.cpp
  test/Conversion/ConvertToArcs/convert-to-arcs.mlir
  test/Conversion/HWToBTOR2/init.mlir
  test/Conversion/LTLToCore/assertproperty.mlir
  test/Conversion/PipelineToHW/test_poweron.mlir
  test/Conversion/SeqToSV/error.mlir
  test/Dialect/Arc/lower-state-errors.mlir
  test/Dialect/Arc/lower-state.mlir
  test/Dialect/Seq/compreg.mlir
  test/Dialect/Seq/errors.mlir
  test/Dialect/Seq/round-trip.mlir
  test/Dialect/Seq/shiftreg.mlir
  test/Tools/circt-bmc/externalize-registers-errors.mlir
Owners: @fabianschuiki, @maerhart

[Seq] Add get_initial_value
  include/circt/Dialect/Seq/SeqOps.td
  lib/Conversion/SeqToSV/SeqToSV.cpp
  test/Dialect/Seq/compreg.mlir
Owners: none

fixed model
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

fixed model2
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

[Seq][Arc] Allow seq.initial to take immutable operands. Add a cast operation (#7656)
  include/circt/Dialect/Seq/SeqOps.h
  include/circt/Dialect/Seq/SeqOps.td
  integration_test/Bindings/Python/dialects/seq.py
  integration_test/arcilator/JIT/reg.mlir
  lib/Bindings/Python/dialects/seq.py
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  lib/Conversion/SeqToSV/SeqToSV.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  lib/Dialect/Seq/SeqOps.cpp
  test/Conversion/ConvertToArcs/convert-to-arcs.mlir
  test/Conversion/HWToBTOR2/init.mlir
  test/Conversion/LTLToCore/assertproperty.mlir
  test/Conversion/PipelineToHW/test_poweron.mlir
  test/Conversion/SeqToSV/error.mlir
  test/Dialect/Arc/lower-state-errors.mlir
  test/Dialect/Arc/lower-state.mlir
  test/Dialect/Seq/compreg.mlir
  test/Dialect/Seq/errors.mlir
  test/Dialect/Seq/round-trip.mlir
  test/Dialect/Seq/shiftreg.mlir
  test/Tools/circt-bmc/externalize-registers-errors.mlir
Owners: @fabianschuiki, @maerhart

[FIRRTL] Add integer shift left property op
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/canonicalization.mlir
  test/Dialect/FIRRTL/round-trip.mlir
Owners: @darthscsi, @seldridge

[OM] Add integer shift left op
  include/circt/Dialect/OM/OMOps.td
  lib/Dialect/OM/OMOps.cpp
  test/Dialect/OM/round-trip.mlir
  unittests/Dialect/OM/Evaluator/EvaluatorTests.cpp
Owners: none

[FIRRTL] Add integer shift left property op (#7657)
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/canonicalization.mlir
  test/Dialect/FIRRTL/round-trip.mlir
Owners: @darthscsi, @seldridge

[arcilator] Register Verif dialect
  tools/arcilator/CMakeLists.txt
  tools/arcilator/arcilator.cpp
Owners: @fabianschuiki, @maerhart

[FIRRTL] Add integer shift left parser support
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Import/FIRTokenKinds.def
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/parse-errors.fir
Owners: @darthscsi, @seldridge

Avoid name collision
  lib/Dialect/OM/Evaluator/Evaluator.cpp
Owners: none

Fix containing modules logic
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  test/Dialect/FIRRTL/lower-classes.mlir
Owners: @darthscsi, @seldridge

Clang format
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
Owners: @darthscsi, @seldridge

Fix FusedLoc bug
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  lib/Dialect/OM/Evaluator/Evaluator.cpp
Owners: @darthscsi, @seldridge

clang format
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  lib/Dialect/OM/Evaluator/Evaluator.cpp
Owners: @darthscsi, @seldridge

[OM] Add integer shift left op (#7658)
  include/circt/Dialect/OM/OMOps.td
  lib/Dialect/OM/OMOps.cpp
  test/Dialect/OM/round-trip.mlir
  unittests/Dialect/OM/Evaluator/EvaluatorTests.cpp
Owners: none

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive
