Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

[ESI] Manifest: change the schema to be more rational (#7561)
  include/circt/Dialect/ESI/ESIManifest.td
  integration_test/Dialect/ESI/runtime/callback.mlir
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/Passes/ESIBuildManifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  test/Dialect/ESI/manifest.mlir
Owners: @teqdruid

Morten's feedback
  lib/Dialect/ESI/runtime/cpp/include/esi/Logging.h
  lib/Dialect/ESI/runtime/cpp/lib/Logging.cpp
Owners: @teqdruid

[ESI][Runtime] Logging API (#7569)
  frontends/PyCDE/integration_test/esitester.py
  frontends/PyCDE/integration_test/test_software/esi_test.py
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Common.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Context.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Logging.h
  lib/Dialect/ESI/runtime/cpp/lib/Accelerator.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Common.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Logging.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esitester.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/esiCppAccel.cpp
Owners: @teqdruid

[ESI][Runtime] Fixing Windows build and logging bug
  lib/Dialect/ESI/runtime/cpp/include/esi/Logging.h
  lib/Dialect/ESI/runtime/cpp/lib/Logging.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Services.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
Owners: @teqdruid

Remove unnecessary code snippet
  lib/Dialect/Moore/MooreOps.cpp
Owners: none

[MooreToCore] Support to lower unpackedStructType (#7565)
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[Moore][NFC] Fix warning when building Moore components (#7566)
  lib/Dialect/Moore/MooreOps.cpp
Owners: none

[ImportVerilog] Skip defparams which have been handled by slang.
  lib/Conversion/ImportVerilog/Structure.cpp
  test/Conversion/ImportVerilog/errors.sv
Owners: none

[ImportVerilog] Skip defparams which have been handled by slang. (#7582)
  lib/Conversion/ImportVerilog/Structure.cpp
  test/Conversion/ImportVerilog/errors.sv
Owners: none

[HW] Fix crash when error encountered parsing hw.array. (#7578)
  lib/Dialect/HW/HWTypes.cpp
  test/Dialect/HW/errors.mlir
Owners: @darthscsi

[NFC][Seq] Use pattern match for SSA value
  test/Dialect/Seq/compreg.mlir
Owners: none

Make sure type conversion materialization callbacks return values of the correct type
  lib/Conversion/DCToHW/DCToHW.cpp
  lib/Conversion/HWArithToHW/HWArithToHW.cpp
  lib/Conversion/HandshakeToDC/HandshakeToDC.cpp
  lib/Conversion/HandshakeToHW/HandshakeToHW.cpp
  lib/Conversion/LTLToCore/LTLToCore.cpp
  lib/Conversion/MooreToCore/MooreToCore.cpp
  lib/Conversion/SeqToSV/SeqToSV.cpp
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
Owners: @Dinistro, @mortbopet, @darthscsi, @seldridge

skeleton of state-based model
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
  smt-top.mlir
Owners: none

[FIRRTL][FIRParser] Defer inner symbols to post-processing, fix race.
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
Owners: @darthscsi, @seldridge

[HW][HWTypes] Fix use of OptionalParseResult.
  lib/Dialect/HW/HWTypes.cpp
  test/Dialect/HW/errors.mlir
Owners: @darthscsi

[HW][HWTypes] Fix use of OptionalParseResult. (#7575)
  lib/Dialect/HW/HWTypes.cpp
  test/Dialect/HW/errors.mlir
Owners: @darthscsi

[FIRRTL][Folds] Fix mux fold if result type doesn't match operands.
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  test/Dialect/FIRRTL/canonicalization.mlir
Owners: @darthscsi, @seldridge

[FIRRTL][Lexer] Don't crash on trailing slash in inline anno.
  lib/Dialect/FIRRTL/Import/FIRLexer.cpp
  test/Dialect/FIRRTL/annotations-errors-lex-unterminated.fir
Owners: @darthscsi, @seldridge

-> assert
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
Owners: @darthscsi, @seldridge

[FIRRTL][Folds] Fix mux fold if result type doesn't match operands. (#7585)
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  test/Dialect/FIRRTL/canonicalization.mlir
Owners: @darthscsi, @seldridge

[FIRRTL][Lexer] Don't crash on trailing slash in inline anno. (#7579)
  lib/Dialect/FIRRTL/Import/FIRLexer.cpp
  test/Dialect/FIRRTL/annotations-errors-lex-unterminated.fir
Owners: @darthscsi, @seldridge

[FIRRTL][FIRParser] Defer inner symbols to post-processing, fix race. (#7584)
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
Owners: @darthscsi, @seldridge

everything went bananas
  integration_test/Dialect/FSM/simple/top.mlir
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
  smt-top.mlir
  smt-top.smt
Owners: @mortbopet

[HW] Add reduction patterns to trim port list of top-level module
  lib/Dialect/HW/HWReductions.cpp
  test/Dialect/Arc/Reduction/pattern-registration.mlir
  test/Dialect/FIRRTL/Reduction/pattern-registration.mlir
  test/Dialect/HW/Reduction/hw-module-input-pruner.mlir
  test/Dialect/HW/Reduction/hw-module-output-pruner.mlir
  test/Dialect/HW/Reduction/pattern-registration.mlir
Owners: @darthscsi, @fabianschuiki, @maerhart, @seldridge

[FIRRTL] Add back unambiguous path requirement.
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  lib/Dialect/FIRRTL/Transforms/ResolvePaths.cpp
  test/Dialect/FIRRTL/resolve-paths-errors.mlir
  test/Dialect/FIRRTL/resolve-paths.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Add back unambiguous path requirement. (#7588)
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  lib/Dialect/FIRRTL/Transforms/ResolvePaths.cpp
  test/Dialect/FIRRTL/resolve-paths-errors.mlir
  test/Dialect/FIRRTL/resolve-paths.mlir
Owners: @darthscsi, @seldridge

[FIRRTL][FIRParser] Check force source more. (#7574)
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/parse-errors.fir
Owners: @darthscsi, @seldridge

Fix comments
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
Owners: @darthscsi, @seldridge

Make sure type conversion materialization callbacks return values of the correct type (#7583)
  lib/Conversion/DCToHW/DCToHW.cpp
  lib/Conversion/HWArithToHW/HWArithToHW.cpp
  lib/Conversion/HandshakeToDC/HandshakeToDC.cpp
  lib/Conversion/HandshakeToHW/HandshakeToHW.cpp
  lib/Conversion/LTLToCore/LTLToCore.cpp
  lib/Conversion/MooreToCore/MooreToCore.cpp
  lib/Conversion/SeqToSV/SeqToSV.cpp
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
Owners: @Dinistro, @mortbopet, @darthscsi, @seldridge

Bump LLVM
  integration_test/Bindings/Python/dialects/seq.py
Owners: none

[FIRRTL] LowerToHW: guard against folded operations (#7358)
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] LowerToHW: guard against folded operations (#7358) (#7590)
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
Owners: @darthscsi, @seldridge

Bump LLVM (#7572)
  integration_test/Bindings/Python/dialects/seq.py
Owners: none

[CI] Drop macos-11 runners, use macos-12 in uploadReleaseArtifacts (#7319)
  .github/workflows/unifiedBuildTestAndInstall.yml
  .github/workflows/uploadReleaseArtifacts.yml
Owners: @teqdruid

[ESI][Runtime] Add MMIO service to trace backend
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
Owners: @teqdruid

vats and vnats functions
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
  smt-top.mlir
  smt-top.smt
Owners: none

[python] Add `walk_with_filter` to walk subset of IR
  integration_test/Bindings/Python/support/walk.py
  lib/Bindings/Python/CIRCTModule.cpp
  lib/Bindings/Python/CIRCTModules.h
  lib/Bindings/Python/CMakeLists.txt
  lib/Bindings/Python/ESIModule.cpp
  lib/Bindings/Python/HWModule.cpp
  lib/Bindings/Python/MSFTModule.cpp
  lib/Bindings/Python/OMModule.cpp
  lib/Bindings/Python/SVModule.cpp
  lib/Bindings/Python/SeqModule.cpp
  lib/Bindings/Python/SupportModule.cpp
  lib/Bindings/Python/support.py
Owners: none

[python] Add `walk_with_filter` to walk subset of IR (#7591)
  integration_test/Bindings/Python/support/walk.py
  lib/Bindings/Python/CIRCTModule.cpp
  lib/Bindings/Python/CIRCTModules.h
  lib/Bindings/Python/CMakeLists.txt
  lib/Bindings/Python/ESIModule.cpp
  lib/Bindings/Python/HWModule.cpp
  lib/Bindings/Python/MSFTModule.cpp
  lib/Bindings/Python/OMModule.cpp
  lib/Bindings/Python/SVModule.cpp
  lib/Bindings/Python/SeqModule.cpp
  lib/Bindings/Python/SupportModule.cpp
  lib/Bindings/Python/support.py
Owners: none

[FIRRTL][GrandCentral] Check fromAttr return, fix crash.
  lib/Dialect/FIRRTL/Transforms/GrandCentral.cpp
Owners: @darthscsi, @seldridge

[FIRRTL][GrandCentral] defensively check before indexing into vector.
  lib/Dialect/FIRRTL/Transforms/GrandCentral.cpp
Owners: @darthscsi, @seldridge

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive
