Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive

do some context mergine
  include/circt/Dialect/RTG/IR/RTGOps.h
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/Transforms/RTGPasses.h
  include/circt/Dialect/RTG/Transforms/RTGPasses.td
  lib/Dialect/RTG/IR/RTGOps.cpp
  lib/Dialect/RTG/Transforms/CMakeLists.txt
  lib/Dialect/RTG/Transforms/ContextPass.cpp
  lib/Dialect/RTG/Transforms/ExportElf.cpp
  test/Target/EmitRTGAssembly/rtgtest.mlir
Owners: none

[Verif] Add contract examples to dialect doc
  docs/Dialects/Verif.md
Owners: none

WIP
  include/circt/Dialect/Verif/VerifOps.td
  test/Dialect/Verif/basic.mlir
Owners: none

[FIRRTL] Use InstanceInfo in CreateSiFiveMetadata (#7720)
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
Owners: @darthscsi, @seldridge

[FIRRTL][LayerSink] Fix: initialize an unitialized bool member
  lib/Dialect/FIRRTL/Transforms/AdvancedLayerSink.cpp
Owners: @darthscsi, @seldridge

save
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/FIRRTL/FIRRTLDialect.cpp
  lib/Dialect/FIRRTL/Transforms/LowerAnnotations.cpp
  lib/Dialect/FIRRTL/Transforms/LowerSignatures.cpp
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
Owners: @darthscsi, @seldridge

save
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
Owners: @darthscsi, @seldridge

[FIRRTL][LayerSink] Fix: initialize an unitialized bool member (#7724)
  lib/Dialect/FIRRTL/Transforms/AdvancedLayerSink.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] Cleanup emit-metadata.mlir test, NFC
  test/Dialect/FIRRTL/emit-metadata.mlir
Owners: @darthscsi, @seldridge

[Arc] Initial implementation of partition pass
  include/circt/Dialect/Arc/ArcOps.td
  include/circt/Dialect/Arc/ArcPasses.h
  include/circt/Dialect/Arc/ArcPasses.td
  lib/Dialect/Arc/ArcOps.cpp
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/LegalizeStateUpdate.cpp
  lib/Dialect/Arc/Transforms/LowerClocksToFuncs.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  lib/Dialect/Arc/Transforms/Partition.cpp
  tools/arcilator/arcilator.cpp
Owners: @fabianschuiki, @maerhart

[FIRRTL] Add "inDesign" to InstanceInfo Analysis
  include/circt/Analysis/FIRRTLInstanceInfo.h
  lib/Analysis/FIRRTLInstanceInfo.cpp
  lib/Analysis/TestPasses.cpp
  test/Analysis/firrtl-test-instance-info.mlir
Owners: @darthscsi, @seldridge

clang-format, NFC
  lib/Analysis/TestPasses.cpp
Owners: none

[HWToSMT] Proper error message for 0-bit constants
  lib/Conversion/HWToSMT/HWToSMT.cpp
  test/Conversion/HWToSMT/hw-to-smt-errors.mlir
Owners: none

[HWToSMT] Proper error message for 0-bit constants (#7727)
  lib/Conversion/HWToSMT/HWToSMT.cpp
  test/Conversion/HWToSMT/hw-to-smt-errors.mlir
Owners: none

[circt-bmc] Add simple initial value support to ExternalizeRegisters
  lib/Tools/circt-bmc/ExternalizeRegisters.cpp
  test/Tools/circt-bmc/externalize-registers-errors.mlir
  test/Tools/circt-bmc/externalize-registers.mlir
Owners: none

Add unit attr comment
  lib/Tools/circt-bmc/ExternalizeRegisters.cpp
Owners: none

Check initial value is defined by a seq.initial
  lib/Tools/circt-bmc/ExternalizeRegisters.cpp
  test/Tools/circt-bmc/externalize-registers-errors.mlir
Owners: none

Apply review comments
  lib/Tools/circt-bmc/ExternalizeRegisters.cpp
Owners: none

[circt-bmc] Add simple initial value support to ExternalizeRegisters (#7728)
  lib/Tools/circt-bmc/ExternalizeRegisters.cpp
  test/Tools/circt-bmc/externalize-registers-errors.mlir
  test/Tools/circt-bmc/externalize-registers.mlir
Owners: none

[Verif] Add contract examples to dialect doc
  docs/Dialects/Verif.md
Owners: none

[circt-bmc] Add initial_values attribute to bmc op
  include/circt/Dialect/Verif/VerifOps.td
  lib/Dialect/Verif/VerifOps.cpp
  lib/Tools/circt-bmc/LowerToBMC.cpp
  test/Conversion/VerifToSMT/verif-to-smt-errors.mlir
  test/Conversion/VerifToSMT/verif-to-smt.mlir
  test/Dialect/Verif/basic.mlir
  test/Dialect/Verif/errors.mlir
  test/Tools/circt-bmc/lower-to-bmc-errors.mlir
  test/Tools/circt-bmc/lower-to-bmc.mlir
Owners: none

[FIRRTL] Add "effective" design to Instance Info
  include/circt/Analysis/FIRRTLInstanceInfo.h
  lib/Analysis/FIRRTLInstanceInfo.cpp
  lib/Analysis/TestPasses.cpp
  test/Analysis/firrtl-test-instance-info.mlir
Owners: @darthscsi, @seldridge

Checkpoint
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/src/pycde/system.py
  include/circt-c/Dialect/Ibis.h
  include/circt-c/Dialect/Pipeline.h
  lib/Bindings/Python/CIRCTModule.cpp
  lib/Bindings/Python/CMakeLists.txt
  lib/CAPI/Dialect/CMakeLists.txt
  lib/CAPI/Dialect/Ibis.cpp
  lib/CAPI/Dialect/Pipeline.cpp
Owners: none

Attempt to invoke a python interpreter from C++
  lib/Bindings/Python/dialects/rtg.py
  tools/rtgtool/CMakeLists.txt
  tools/rtgtool/Evaluator.cpp
  tools/rtgtool/Evaluator.h
  tools/rtgtool/rtgentry.py
  tools/rtgtool/rtgtool.cpp
Owners: none

Address comments
  include/circt/Conversion/CombToAIG.h
  include/circt/Dialect/AIG/AIG.td
  include/circt/Dialect/AIG/AIGDialect.h
  include/circt/Dialect/AIG/AIGOps.h
  include/circt/Dialect/AIG/AIGOps.td
  include/circt/Dialect/AIG/AIGPasses.h
  include/circt/Dialect/AIG/AIGPasses.td
  lib/Conversion/CombToAIG/CombToAIG.cpp
  lib/Dialect/AIG/AIGDialect.cpp
  lib/Dialect/AIG/AIGOps.cpp
  lib/Dialect/AIG/CMakeLists.txt
  lib/Dialect/AIG/Transforms/GreedyCutDecomp.cpp
  lib/Dialect/AIG/Transforms/LowerCutToLUT.cpp
  lib/Dialect/AIG/Transforms/LowerVariadic.cpp
  lib/Dialect/AIG/Transforms/LowerWordToBits.cpp
  test/Conversion/CombToAIG/comb-to-aig.mlir
  test/Dialect/AIG/canonicalizer.mlir
  test/Dialect/AIG/greedy-decomp.mlir
  test/Dialect/AIG/lower-cut-to-lut.mlir
  test/Dialect/AIG/lower-variadic.mlir
  test/Dialect/AIG/lower-word-to-bits.mlir
  test/Dialect/AIG/round-trip.mlir
  test/circt-synth/basic.mlir
  test/circt-synth/lut-size.mlir
  tools/circt-synth/circt-synth.cpp
Owners: none

[FIRRTL] Make FNameableOpInterface friendly with properties
  include/circt/Dialect/FIRRTL/FIRRTLOpInterfaces.td
  lib/Dialect/FIRRTL/Transforms/DropName.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] Remove "reg with" usage in tests, NFC
  test/Dialect/FIRRTL/SFCTests/async-reset-verilog.fir
  test/Dialect/FIRRTL/SFCTests/async-reset.fir
  test/Dialect/FIRRTL/SFCTests/invalid-interpretations.fir
  test/Dialect/FIRRTL/SFCTests/invalid-reg-pass.fir
  test/Dialect/FIRRTL/SFCTests/remove-reset.fir
  test/Dialect/FIRRTL/SFCTests/width-spec-errors.fir
  test/Dialect/FIRRTL/parse-basic.fir
Owners: @darthscsi, @seldridge

[FIRRTL] Reject "reg with" if >=3.0.0
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/parse-errors.fir
Owners: @darthscsi, @seldridge

[FIRRTL] Update integration tests for FIRRTL 4
  integration_test/EmitVerilog/exampleCodeGen.fir
Owners: none

[FIRRTL] Avoid "is invalid" in tests, NFC
  test/Dialect/FIRRTL/SFCTests/directories.fir
  test/Dialect/FIRRTL/parse-basic.fir
Owners: @darthscsi, @seldridge

[FIRRTL] Reject "is invalid" if FIRRTL >=3
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/parse-errors.fir
Owners: @darthscsi, @seldridge

[FIRRTL] Remove test usage of '<=' connect, NFC
  integration_test/Dialect/FIRRTL/SFCTests/GrandCentralInterfaces/Wire.fir
  integration_test/EmitVerilog/verilog_equiv.fir
  test/Dialect/FIRRTL/SFCTests/async-reset-verilog.fir
  test/Dialect/FIRRTL/parse-basic.fir
  test/firtool/annotation-error.fir
  test/firtool/memoryMetadataRenameFail.fir
Owners: @darthscsi, @seldridge

[FIRRTL] Reject '<=' connections in FIRRTL >=3
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/parse-errors.fir
Owners: @darthscsi, @seldridge

[FIRRTL] Make FModuleLike op interface friendly with properties
  include/circt/Dialect/FIRRTL/FIRRTLOpInterfaces.td
  include/circt/Dialect/FIRRTL/FIRRTLStructure.td
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/FIRRTLUtils.cpp
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  lib/Dialect/FIRRTL/Transforms/DropConst.cpp
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
  lib/Dialect/FIRRTL/Transforms/InnerSymbolDCE.cpp
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  lib/Dialect/FIRRTL/Transforms/LowerLayers.cpp
  lib/Dialect/FIRRTL/Transforms/LowerSignatures.cpp
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  lib/Dialect/FIRRTL/Transforms/ProbesToSignals.cpp
  lib/Dialect/FIRRTL/Transforms/SpecializeLayers.cpp
  test/Dialect/FIRRTL/errors.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Support "invalidate <mem, instance>"
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/SFCTests/directories.fir
  test/Dialect/FIRRTL/parse-basic.fir
Owners: @darthscsi, @seldridge

[FIRRTL] Make FModuleLike op interface friendly with properties
  include/circt/Dialect/FIRRTL/FIRRTLOpInterfaces.td
  include/circt/Dialect/FIRRTL/FIRRTLStructure.td
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/FIRRTLUtils.cpp
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  lib/Dialect/FIRRTL/Transforms/DropConst.cpp
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
  lib/Dialect/FIRRTL/Transforms/InnerSymbolDCE.cpp
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  lib/Dialect/FIRRTL/Transforms/LowerLayers.cpp
  lib/Dialect/FIRRTL/Transforms/LowerSignatures.cpp
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  lib/Dialect/FIRRTL/Transforms/ProbesToSignals.cpp
  lib/Dialect/FIRRTL/Transforms/SpecializeLayers.cpp
  test/Dialect/FIRRTL/errors.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Make FNameableOpInterface friendly with properties
  include/circt/Dialect/FIRRTL/FIRRTLOpInterfaces.td
  lib/Dialect/FIRRTL/Transforms/DropName.cpp
Owners: @darthscsi, @seldridge

Use properties for attributes for many dialects
  include/circt/Dialect/Arc/ArcDialect.td
  include/circt/Dialect/Calyx/Calyx.td
  include/circt/Dialect/Comb/Comb.td
  include/circt/Dialect/DC/DCDialect.td
  include/circt/Dialect/FIRRTL/CHIRRTLDialect.td
  include/circt/Dialect/FSM/FSM.td
  include/circt/Dialect/HW/HWDialect.td
  include/circt/Dialect/HWArith/HWArithDialect.td
  include/circt/Dialect/Handshake/Handshake.td
  include/circt/Dialect/Ibis/IbisDialect.td
  include/circt/Dialect/Ibis/IbisOps.td
  include/circt/Dialect/LLHD/IR/LLHDDialect.td
  include/circt/Dialect/LTL/LTLDialect.td
  include/circt/Dialect/LoopSchedule/LoopSchedule.td
  include/circt/Dialect/OM/OMDialect.td
  include/circt/Dialect/Pipeline/PipelineDialect.td
  include/circt/Dialect/SSP/SSP.td
  include/circt/Dialect/SSP/SSPOps.h
  include/circt/Dialect/SV/SVDialect.td
  include/circt/Dialect/Seq/SeqDialect.td
  include/circt/Dialect/SystemC/SystemCDialect.td
  include/circt/Dialect/Verif/VerifDialect.td
  lib/Dialect/HW/HWOps.cpp
  lib/Dialect/Ibis/IbisOps.cpp
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  lib/Dialect/OM/OMOps.cpp
  lib/Dialect/SV/SVOps.cpp
Owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @darthscsi, @mortbopet, @seldridge, @teqdruid, @Dinistro, @blakep-msft

[AIG] Add AIG dialect
  docs/Dialects/AIG.md
  include/circt/Dialect/AIG/AIG.td
  include/circt/Dialect/AIG/AIGDialect.h
  include/circt/Dialect/AIG/AIGOps.h
  include/circt/Dialect/AIG/AIGOps.td
  include/circt/Dialect/AIG/AIGPasses.h
  include/circt/Dialect/AIG/AIGPasses.td
  include/circt/Dialect/AIG/CMakeLists.txt
  include/circt/Dialect/CMakeLists.txt
  include/circt/InitAllDialects.h
  include/circt/InitAllPasses.h
  lib/Dialect/AIG/AIGDialect.cpp
  lib/Dialect/AIG/CMakeLists.txt
  lib/Dialect/CMakeLists.txt
  test/circt-opt/commandline.mlir
Owners: none

Use properties for attributes for many dialects
  include/circt/Dialect/Arc/ArcDialect.td
  include/circt/Dialect/Calyx/Calyx.td
  include/circt/Dialect/Comb/Comb.td
  include/circt/Dialect/DC/DCDialect.td
  include/circt/Dialect/FIRRTL/CHIRRTLDialect.td
  include/circt/Dialect/FSM/FSM.td
  include/circt/Dialect/HW/HWDialect.td
  include/circt/Dialect/HWArith/HWArithDialect.td
  include/circt/Dialect/Handshake/Handshake.td
  include/circt/Dialect/Ibis/IbisDialect.td
  include/circt/Dialect/Ibis/IbisOps.td
  include/circt/Dialect/LLHD/IR/LLHDDialect.td
  include/circt/Dialect/LTL/LTLDialect.td
  include/circt/Dialect/LoopSchedule/LoopSchedule.td
  include/circt/Dialect/OM/OMDialect.td
  include/circt/Dialect/Pipeline/PipelineDialect.td
  include/circt/Dialect/SSP/SSP.td
  include/circt/Dialect/SSP/SSPOps.h
  include/circt/Dialect/SV/SVDialect.td
  include/circt/Dialect/Seq/SeqDialect.td
  include/circt/Dialect/SystemC/SystemCDialect.td
  include/circt/Dialect/Verif/VerifDialect.td
  lib/Dialect/HW/HWOps.cpp
  lib/Dialect/Ibis/IbisOps.cpp
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  lib/Dialect/OM/OMOps.cpp
  lib/Dialect/SV/SVOps.cpp
Owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @darthscsi, @mortbopet, @seldridge, @teqdruid, @Dinistro, @blakep-msft
