Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive

[FIRRTL][LowerLayers] Plumb support for errors.
  lib/Dialect/FIRRTL/Transforms/LowerLayers.cpp
Owners: @darthscsi, @seldridge

[Moore] Support four-valued integers in ConstantOp (#7463)
  include/circt/Dialect/Moore/MooreAttributes.td
  include/circt/Dialect/Moore/MooreOps.h
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/MooreToCore/MooreToCore.cpp
  lib/Dialect/Moore/MooreOps.cpp
  lib/Support/FVInt.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/errors.sv
  test/Conversion/MooreToCore/basic.mlir
  test/Dialect/Moore/attrs-error.mlir
  test/Dialect/Moore/attrs.mlir
  test/Dialect/Moore/basic.mlir
  test/Dialect/Moore/errors.mlir
Owners: none

[FIRRTL][Dedup] Reduce size of integer data hashed. (#7469)
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
Owners: @darthscsi, @seldridge

[FIRRTL][LowerLayers] Plumb support for errors. (#7470)
  lib/Dialect/FIRRTL/Transforms/LowerLayers.cpp
Owners: @darthscsi, @seldridge

Revert "[FIRRTL][Dedup] Reduce size of integer data hashed. (#7469)"
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
Owners: @darthscsi, @seldridge

[Support] Add circt::isAncestorOfValueOwner util
  include/circt/Support/Utils.h
Owners: none

[FIRRTL] isAncestorOfValueOwner in LowerLayers
  lib/Dialect/FIRRTL/Transforms/LowerLayers.cpp
Owners: @darthscsi, @seldridge

updated symbol checking to only hapen in verifier
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/errors.mlir
  test/Dialect/FIRRTL/parse-basic.fir
Owners: @darthscsi, @seldridge

[MooreToCore] Fix conversion and dyn_extract operation lowering
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[MooreToCore] Fix conversion and dyn_extract operation lowering (#7473)
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[MooreToCore] Struct extract lowering support
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[Moore] Add more AssignedVariableOp canonicalizations
  include/circt/Dialect/Moore/MooreOps.td
  lib/Dialect/Moore/MooreOps.cpp
  test/Dialect/Moore/canonicalizers.mlir
Owners: none

[MooreToCore] Struct extract lowering support (#7475)
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[Moore] Add constant materialization, fold constant conversions
  include/circt/Dialect/Moore/MooreDialect.td
  include/circt/Dialect/Moore/MooreOps.td
  lib/Dialect/Moore/MooreDialect.cpp
  lib/Dialect/Moore/MooreOps.cpp
  test/Conversion/MooreToCore/basic.mlir
  test/Dialect/Moore/canonicalizers.mlir
Owners: none

[MooreToCore] Fix variable op lowering of aggregate types
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[FIRRTL][InferResets] Generalize FART to support sync reset
  docs/Dialects/FIRRTL/FIRRTLAnnotations.md
  include/circt/Dialect/FIRRTL/AnnotationDetails.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  lib/Dialect/FIRRTL/Transforms/LowerAnnotations.cpp
  lib/Dialect/FIRRTL/Transforms/SFCCompat.cpp
  test/Dialect/FIRRTL/annotations.mlir
  test/Dialect/FIRRTL/infer-resets-errors.mlir
  test/Dialect/FIRRTL/infer-resets.mlir
  test/firtool/async-reset-anno.fir
  test/firtool/async-reset.fir
Owners: @darthscsi, @seldridge

[FIRRTL][InferResets] Generalize FART to support sync reset (#7476)
  docs/Dialects/FIRRTL/FIRRTLAnnotations.md
  include/circt/Dialect/FIRRTL/AnnotationDetails.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  lib/Dialect/FIRRTL/Transforms/LowerAnnotations.cpp
  lib/Dialect/FIRRTL/Transforms/SFCCompat.cpp
  test/Dialect/FIRRTL/annotations.mlir
  test/Dialect/FIRRTL/infer-resets-errors.mlir
  test/Dialect/FIRRTL/infer-resets.mlir
  test/firtool/async-reset-anno.fir
  test/firtool/async-reset.fir
Owners: @darthscsi, @seldridge

starting to understand
  include/circt/Dialect/SMT/SMTIntOps.td
  include/circt/Dialect/SMT/SMTOps.td
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: @maerhart

[MooreToCore] Fix variable op lowering of aggregate types (#7481)
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

Update lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999

Update lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999

use clang-format and add calyx.par test.
  lib/Dialect/Calyx/CalyxOps.cpp
  test/Dialect/Calyx/errors.mlir
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999

[MooreToCore] Fix variable op lowering of aggregate types (#7481)
  include/circt/Conversion/Passes.td
  lib/Conversion/MooreToCore/CMakeLists.txt
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[MooreToCore] Fix variable op lowering of aggregate types (#7481) (#7362)
  include/circt/Conversion/Passes.td
  lib/Conversion/MooreToCore/CMakeLists.txt
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[FIRRTL] Canonicalize multibit_mux with narrow index (#7373)
  lib/Dialect/FIRRTL/FIRRTLFolds.cpp
  test/Dialect/FIRRTL/canonicalization.mlir
Owners: @darthscsi, @seldridge

[ExportVerilog] Fix broken test: prepare-for-emission
  test/Conversion/ExportVerilog/prepare-for-emission.mlir
Owners: none

[FIRRTL] Fix sub-* op in layer block verifier
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/errors.mlir
  test/Dialect/FIRRTL/layers.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Don't capture non-passives in LowerLayers
  lib/Dialect/FIRRTL/Transforms/LowerLayers.cpp
  test/Dialect/FIRRTL/lower-layers.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Add list concatenation parser support.
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Import/FIRTokenKinds.def
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/parse-errors.fir
Owners: @darthscsi, @seldridge

[FIRRTL] Add list concatenation conversion to LowerClasses.
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  test/Dialect/FIRRTL/lower-classes.mlir
Owners: @darthscsi, @seldridge

[OM] Support list concatenation in the Evaluator.
  include/circt/Dialect/OM/Evaluator/Evaluator.h
  lib/Dialect/OM/Evaluator/Evaluator.cpp
  unittests/Dialect/OM/Evaluator/EvaluatorTests.cpp
Owners: none

[OM] Add AnyType C API and Python bindings.
  include/circt-c/Dialect/OM.h
  integration_test/Bindings/Python/dialects/om.py
  lib/Bindings/Python/OMModule.cpp
  lib/Bindings/Python/dialects/om.py
  lib/CAPI/Dialect/OM.cpp
Owners: none

[OM] Add ListType C API and Python bindings.
  include/circt-c/Dialect/OM.h
  integration_test/Bindings/Python/dialects/om.py
  lib/Bindings/Python/OMModule.cpp
  lib/Bindings/Python/dialects/om.py
  lib/CAPI/Dialect/OM.cpp
Owners: none

[FIRRTL] Add list concatenation operation.
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  test/Dialect/FIRRTL/round-trip.mlir
Owners: @darthscsi, @seldridge

[OM] Add list concatenation operation.
  include/circt/Dialect/OM/OMOps.td
  test/Dialect/OM/round-trip.mlir
Owners: none

[ESI][Manifest] Embed constants in manifest
  include/circt/Dialect/ESI/ESIInterfaces.td
  include/circt/Dialect/ESI/ESIManifest.td
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/Passes/ESIBuildManifest.cpp
  lib/Dialect/ESI/runtime/cpp/include/esi/Common.h
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  test/Dialect/ESI/manifest.mlir
Owners: @teqdruid

[ESI][Manifest] Embed constants in manifest
  include/circt/Dialect/ESI/ESIInterfaces.td
  include/circt/Dialect/ESI/ESIManifest.td
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/Passes/ESIBuildManifest.cpp
  lib/Dialect/ESI/runtime/cpp/include/esi/Common.h
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  test/Dialect/ESI/manifest.mlir
Owners: @teqdruid

constrained formalOp to only accept FModuleOps
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
Owners: @darthscsi, @seldridge

[OM] Add AnyType C API and Python bindings. (#7488)
  include/circt-c/Dialect/OM.h
  integration_test/Bindings/Python/dialects/om.py
  lib/Bindings/Python/OMModule.cpp
  lib/Bindings/Python/dialects/om.py
  lib/CAPI/Dialect/OM.cpp
Owners: none

Fix MooreToCore conversion
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none
