Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive

[FIRRTL] Cleanup variable names in LayerMerge, NFC
  lib/Dialect/FIRRTL/Transforms/LayerMerge.cpp
Owners: @darthscsi, @seldridge

[ESI] Make AcceleratorConnection::disconnect virtual
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
Owners: @teqdruid

parsing of guard and action regio9n seems correct
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

[FreezePaths] Add an optional argument, to get the operation name
  include/circt/Dialect/OM/OMPasses.h
  lib/Dialect/OM/Transforms/FreezePaths.cpp
Owners: none

Address review comments
  include/circt/Dialect/OM/OMPasses.h
  lib/Dialect/OM/Transforms/FreezePaths.cpp
Owners: none

[ESI] Add optional non-blocking write API to `WriteChannelPort`
  lib/Dialect/ESI/runtime/cpp/include/esi/Ports.h
Owners: @teqdruid

[ESI] Make AcceleratorConnection::disconnect virtual (#7554)
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
Owners: @teqdruid

implication added
  func.mlir
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

[FreezePaths] Add an optional argument, to get the operation name (#7549)
  include/circt/Dialect/OM/OMPasses.h
  lib/Dialect/OM/Transforms/FreezePaths.cpp
Owners: none

more progress
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

[FIRRTL] Verify enable/disable layer lists of circuit.
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/errors.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Verify enabled layers of module, extmodule.
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/errors.mlir
  test/Dialect/FIRRTL/specialize-layers.mlir
Owners: @darthscsi, @seldridge

[Seq] Add initial value to compreg
  docs/Dialects/Seq/RationaleSeq.md
  include/circt-c/Dialect/Seq.h
  include/circt/Dialect/Seq/SeqOps.h
  include/circt/Dialect/Seq/SeqOps.td
  include/circt/Dialect/Seq/SeqTypes.td
  integration_test/Bindings/Python/dialects/seq.py
  lib/Bindings/Python/SeqModule.cpp
  lib/Bindings/Python/dialects/seq.py
  lib/CAPI/Dialect/Seq.cpp
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  lib/Conversion/HWToBTOR2/HWToBTOR2.cpp
  lib/Conversion/LTLToCore/LTLToCore.cpp
  lib/Conversion/PipelineToHW/PipelineToHW.cpp
  lib/Conversion/SeqToSV/SeqToSV.cpp
  lib/Dialect/Arc/Transforms/StripSV.cpp
  lib/Dialect/Seq/SeqOps.cpp
  lib/Dialect/Seq/Transforms/LowerSeqShiftReg.cpp
  lib/Tools/circt-bmc/ExternalizeRegisters.cpp
  test/Conversion/ConvertToArcs/convert-to-arcs.mlir
  test/Conversion/HWToBTOR2/init.mlir
  test/Conversion/LTLToCore/assertproperty.mlir
  test/Conversion/PipelineToHW/test_poweron.mlir
  test/Dialect/Seq/compreg.mlir
  test/Dialect/Seq/errors.mlir
  test/Dialect/Seq/round-trip.mlir
  test/Dialect/Seq/shiftreg.mlir
  test/Tools/circt-bmc/externalize-registers-errors.mlir
Owners: @fabianschuiki, @maerhart

guards
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

[Comb][Canonicalize] sub -> add canonicalization: propagate dialect attributes
  lib/Dialect/Comb/CombFolds.cpp
Owners: @darthscsi

[ExportVerilog] Drop external module emission
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  test/Conversion/ExportVerilog/hw-dialect.mlir
  test/Conversion/ExportVerilog/sv-dialect.mlir
  test/Conversion/ExportVerilog/verilog-locations.mlir
  test/firtool/memoryLowering.fir
  test/firtool/memoryMetadata.fir
  test/firtool/split-verilog.mlir
Owners: none

fixup! [ExportVerilog] Drop external module emission
  integration_test/Bindings/Python/dialects/rtl.py
Owners: none

[ExportVerilog] Drop external module emission (#7558)
  integration_test/Bindings/Python/dialects/rtl.py
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  test/Conversion/ExportVerilog/hw-dialect.mlir
  test/Conversion/ExportVerilog/sv-dialect.mlir
  test/Conversion/ExportVerilog/verilog-locations.mlir
  test/firtool/memoryLowering.fir
  test/firtool/memoryMetadata.fir
  test/firtool/split-verilog.mlir
Owners: none

guards functioning
  func.mlir
  func.smt
  integration_test/Dialect/FSM/variable/top.mlir
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: @mortbopet

Fix constraint
  include/circt/Dialect/Arc/ArcOps.td
Owners: @fabianschuiki, @maerhart

Implemented randomized mem init.
  include/circt/Dialect/Arc/ArcOps.td
  include/circt/Dialect/Arc/ArcPasses.td
  lib/Conversion/ArcToLLVM/LowerArcToLLVM.cpp
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  lib/Dialect/Arc/ArcOps.cpp
  lib/Dialect/Arc/Transforms/LowerMemoryInitializers.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  tools/arcilator/arcilator-runtime.h
Owners: @fabianschuiki, @maerhart

Implemented fill memory initializer
  include/circt/Dialect/Arc/ArcOps.td
  include/circt/Dialect/Arc/ArcPasses.td
  include/circt/Dialect/Arc/ArcTypes.td
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  lib/Dialect/Arc/ArcOps.cpp
  lib/Dialect/Arc/ArcTypes.cpp
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/LowerMemoryInitializers.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  tools/arcilator/arcilator.cpp
Owners: @fabianschuiki, @maerhart

Add integration test
  integration_test/arcilator/JIT/initial-ram.mlir
Owners: none

[firrtl] Add CheckLayers diagnostics pass
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/CheckLayers.cpp
  test/Dialect/FIRRTL/check-layers-errors.mlir
  test/Dialect/FIRRTL/check-layers.mlir
Owners: @darthscsi, @seldridge

[firtool] Run the CheckLayers pass
  lib/Firtool/Firtool.cpp
Owners: none

switching branch
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

Review
  lib/Dialect/ESI/runtime/cpp/include/esi/Ports.h
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
Owners: @teqdruid

[FIRRTL] Use new layer ABI
  lib/Dialect/FIRRTL/Transforms/LowerLayers.cpp
  test/Dialect/FIRRTL/lower-layers.mlir
  test/firtool/layers-rwprobe.fir
  test/firtool/layers.fir
  test/firtool/lower-layers-directories.fir
  test/firtool/lower-layers.fir
  test/firtool/specialize-layers.fir
Owners: @darthscsi, @seldridge

fixup! [FIRRTL] Use new layer ABI
  lib/Dialect/FIRRTL/Transforms/LowerLayers.cpp
  test/Dialect/FIRRTL/lower-layers.mlir
  test/firtool/layers-rwprobe.fir
  test/firtool/layers.fir
  test/firtool/lower-layers-directories.fir
  test/firtool/lower-layers.fir
  test/firtool/specialize-layers.fir
Owners: @darthscsi, @seldridge

[Seq] Add initial value to compreg (#7553)
  docs/Dialects/Seq/RationaleSeq.md
  include/circt-c/Dialect/Seq.h
  include/circt/Dialect/Seq/SeqOps.h
  include/circt/Dialect/Seq/SeqOps.td
  include/circt/Dialect/Seq/SeqTypes.td
  integration_test/Bindings/Python/dialects/seq.py
  lib/Bindings/Python/SeqModule.cpp
  lib/Bindings/Python/dialects/seq.py
  lib/CAPI/Dialect/Seq.cpp
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  lib/Conversion/HWToBTOR2/HWToBTOR2.cpp
  lib/Conversion/LTLToCore/LTLToCore.cpp
  lib/Conversion/PipelineToHW/PipelineToHW.cpp
  lib/Conversion/SeqToSV/SeqToSV.cpp
  lib/Dialect/Arc/Transforms/StripSV.cpp
  lib/Dialect/Seq/SeqOps.cpp
  lib/Dialect/Seq/Transforms/LowerSeqShiftReg.cpp
  lib/Tools/circt-bmc/ExternalizeRegisters.cpp
  test/Conversion/ConvertToArcs/convert-to-arcs.mlir
  test/Conversion/HWToBTOR2/init.mlir
  test/Conversion/LTLToCore/assertproperty.mlir
  test/Conversion/PipelineToHW/test_poweron.mlir
  test/Dialect/Seq/compreg.mlir
  test/Dialect/Seq/errors.mlir
  test/Dialect/Seq/round-trip.mlir
  test/Dialect/Seq/shiftreg.mlir
  test/Tools/circt-bmc/externalize-registers-errors.mlir
Owners: @fabianschuiki, @maerhart

Revert "Comment out emitc ops that now require lvalue types."
  test/Target/ExportSystemC/basic.mlir
Owners: none

add pybindings and test
  frontends/PyCDE/integration_test/test_software/esi_test.py
  lib/Dialect/ESI/runtime/python/esiaccel/esiCppAccel.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/types.py
Owners: @teqdruid

CI
  frontends/PyCDE/integration_test/test_software/esi_test.py
  lib/Dialect/ESI/runtime/cpp/lib/backends/RpcServer.cpp
Owners: @teqdruid

[ESI] Add optional non-blocking write API to `WriteChannelPort` (#7555)
  frontends/PyCDE/integration_test/test_software/esi_test.py
  lib/Dialect/ESI/runtime/cpp/include/esi/Ports.h
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/RpcServer.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/esiCppAccel.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/types.py
Owners: @teqdruid

Fix tests
  integration_test/Target/ExportSystemC/basic.mlir
  lib/Target/ExportSystemC/Patterns/EmitCEmissionPatterns.cpp
  test/Target/ExportSystemC/basic.mlir
Owners: none

add cycle time as field of ChainingProblem class
  include/circt/Scheduling/Algorithms.h
  include/circt/Scheduling/Problems.h
Owners: none

add Scheduler interface
  include/circt/Scheduling/Schedulers.h
Owners: none

adapt existing schedulers to the Scheduler interface
  include/circt/Scheduling/ASAPScheduler.h
  include/circt/Scheduling/CPSATSchedulers.h
  include/circt/Scheduling/LPSchedulers.h
  include/circt/Scheduling/SimplexSchedulers.h
  lib/Scheduling/ASAPScheduler.cpp
  lib/Scheduling/CPSATSchedulers.cpp
  lib/Scheduling/LPSchedulers.cpp
  lib/Scheduling/SimplexSchedulers.cpp
Owners: none

remove cycle-time from functions arguments
  lib/Dialect/SSP/Transforms/Schedule.cpp
Owners: none

Add missing link target
  lib/Tools/circt-bmc/CMakeLists.txt
Owners: none
