Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

[MooreToCore] Add support for string_constant (#7628)
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
  test/Conversion/MooreToCore/errors.mlir
  test/Dialect/Moore/basic.mlir
Owners: none

fixed bool-bitvec
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

liveness and safety passes separate
  20states-liveness.mlir
  20states-liveness.smt
  20states-safety.mlir
  20states-safety.smt
  bv-err-10states-smt.mlir
  bv-err-10states.smt
  bv-lin-10states-smt.mlir
  bv-lin-10states.smt
  fsm-4-bitvec-bool-smt.mlir
  fsm1.mlir
  fsm4-bitvec-bool.smt
  fsm4-simp-smt.mlir
  fsm4-simp.smt
  fsm4-smt.smt
  fsm4-tmp.mlir
  fsm4.mlir
  fsm4.smt
  include/circt/Conversion/FSMToSMTLiveness.h
  include/circt/Conversion/FSMToSMTSafety.h
  include/circt/Conversion/Passes.h
  include/circt/Conversion/Passes.td
  lib/CAPI/Conversion/CMakeLists.txt
  lib/CAPI/Dialect/CMakeLists.txt
  lib/CAPI/Dialect/FSM.cpp
  lib/Conversion/CMakeLists.txt
  lib/Conversion/FSMToSMTLiveness/CMakeLists.txt
  lib/Conversion/FSMToSMTLiveness/FSMToSMTLiveness.cpp
  lib/Conversion/FSMToSMTSafety/CMakeLists.txt
  lib/Conversion/FSMToSMTSafety/FSMToSMTSafety.cpp
  linear-fsm.mlir
  linear.mlir
  opentitan-smt.mlir
  opentitan.mlir
  test.dot
  test.svg
Owners: none

add new passes
  lib/CAPI/Dialect/FSM.cpp
Owners: none

fix liveness smt pred
  20states-liveness.mlir
  lib/Conversion/FSMToSMTLiveness/FSMToSMTLiveness.cpp
Owners: none

[circt-test] Add simple runner interface for choosing modes and depth (#7763)
  integration_test/circt-test/basic.mlir
  tools/circt-test/circt-test-runner-sby.py
  tools/circt-test/circt-test.cpp
Owners: none

Bump LLVM to 8193832fb988e3df1e8e726634783805dca8d9b6. (#7749)
  lib/Conversion/DCToHW/DCToHW.cpp
  lib/Conversion/HWArithToHW/HWArithToHW.cpp
  lib/Conversion/HWToSMT/HWToSMT.cpp
  lib/Conversion/HandshakeToDC/HandshakeToDC.cpp
  lib/Conversion/HandshakeToHW/HandshakeToHW.cpp
  lib/Conversion/LTLToCore/LTLToCore.cpp
  lib/Conversion/MooreToCore/MooreToCore.cpp
  lib/Conversion/SeqToSV/SeqToSV.cpp
  lib/Dialect/ESI/Passes/ESILowerTypes.cpp
Owners: @Dinistro, @mortbopet, @teqdruid

[ESI][Services] Type comparisons should account for 'any'
  include/circt/Dialect/ESI/ESIOps.h
  lib/Dialect/ESI/ESIOps.cpp
  test/Dialect/ESI/errors.mlir
  test/Dialect/ESI/services.mlir
  unittests/Dialect/CMakeLists.txt
  unittests/Dialect/ESI/CMakeLists.txt
  unittests/Dialect/ESI/OpTest.cpp
Owners: @teqdruid

calyx constant op value only specified via attributes (experimental)
  include/circt/Dialect/Calyx/CalyxPrimitives.td
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999

some changes
  include/circt/Dialect/Calyx/CalyxPrimitives.td
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999

[ESI][Services] Standard host memory service
  include/circt/Dialect/ESI/ESIStdServices.td
  lib/Dialect/ESI/ESIStdServices.cpp
  test/Dialect/ESI/services.mlir
Owners: @teqdruid

Complete sets, test, target with elab, CAPI, and bindings
  include/circt-c/Dialect/RTG.h
  include/circt/Dialect/RTG/IR/RTGInterfaces.td
  include/circt/Dialect/RTG/IR/RTGOps.h
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGTypes.td
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  lib/Bindings/Python/RTGModule.cpp
  lib/Bindings/Python/dialects/rtg.py
  lib/CAPI/Dialect/RTG.cpp
  lib/Dialect/RTG/IR/CMakeLists.txt
  lib/Dialect/RTG/IR/RTGOps.cpp
  lib/Dialect/RTG/IR/RTGTypes.cpp
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  lib/Target/EmitRTGAssembly/EmitRTGAssembly.cpp
  tools/rtgtool/rtgtool.py
Owners: none

[Calyx] Constant op's actual value is wrapped in the attribute, while the type is always unsigned integer.
  include/circt/Dialect/Calyx/CalyxHelpers.h
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Transforms/CalyxHelpers.cpp
  lib/Dialect/Calyx/Transforms/CalyxLoweringUtils.cpp
  test/Conversion/SCFToCalyx/convert_simple.mlir
  test/Dialect/Calyx/emit.mlir
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet

[FIRRTL] ReplSeqMems: use the original mem name for the instance name
  lib/Dialect/FIRRTL/Transforms/LowerMemory.cpp
  test/Dialect/FIRRTL/lower-memory.mlir
Owners: @darthscsi, @seldridge

[MooreToCore] Add support for string_constant (#7628)
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
  test/Conversion/MooreToCore/errors.mlir
  test/Dialect/Moore/basic.mlir
Owners: none

[MooreToCore] Update test run command to use file argument format
  test/Conversion/MooreToCore/errors.mlir
Owners: none

Cleanup and more basic tests
  include/circt/Dialect/RTG/IR/RTGOps.td
  test/Dialect/RTG/IR/basic.mlir
Owners: none

Improve label convenience builder
  lib/Bindings/Python/dialects/rtg.py
Owners: none

fixed input for safety on actions
  lib/Conversion/FSMToSMTSafety/FSMToSMTSafety.cpp
Owners: none

[HW] Make module's doNotPrint a UnitAttr
  include/circt/Dialect/HW/HWOpInterfaces.td
  include/circt/Dialect/HW/HWStructure.td
  include/circt/Dialect/SV/SVTypeDecl.td
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Conversion/MooreToCore/MooreToCore.cpp
  lib/Dialect/HW/HWOps.cpp
  lib/Dialect/HW/Transforms/FlattenIO.cpp
  lib/Dialect/SV/SVOps.cpp
  lib/Dialect/SV/Transforms/SVExtractTestCode.cpp
  lib/Dialect/Seq/Transforms/HWMemSimImpl.cpp
  lib/Tools/circt-bmc/ExternalizeRegisters.cpp
  test/Conversion/ExportVerilog/hw-dialect.mlir
  test/Conversion/ExportVerilog/sv-dialect.mlir
  test/Conversion/ExportVerilog/verilog-basic.mlir
  test/Dialect/SV/basic.mlir
  test/Dialect/SV/hw-extract-test-code.mlir
Owners: @darthscsi, @seldridge

Register work
  include/circt/Dialect/RTG/IR/RTGInterfaces.td
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/Transforms/RTGPasses.h
  include/circt/Dialect/RTG/Transforms/RTGPasses.td
  include/circt/Dialect/RTGTest/IR/CMakeLists.txt
  include/circt/Dialect/RTGTest/IR/RTGTest.td
  include/circt/Dialect/RTGTest/IR/RTGTestDialect.h
  include/circt/Dialect/RTGTest/IR/RTGTestOps.td
  include/circt/Dialect/RTGTest/IR/RTGTestRegisters.td
  include/circt/Dialect/RTGTest/IR/RTGTestTypes.td
  lib/CAPI/Dialect/RTGTest.cpp
  lib/Dialect/RTG/IR/CMakeLists.txt
  lib/Dialect/RTG/Transforms/CMakeLists.txt
  lib/Dialect/RTG/Transforms/SimpleRegAlloc.cpp
  lib/Dialect/RTGTest/IR/CMakeLists.txt
  lib/Dialect/RTGTest/IR/RTGTestOps.cpp
  lib/Dialect/RTGTest/IR/RTGTestTypes.cpp
  lib/Target/EmitRTGAssembly/EmitRTGAssembly.cpp
  test/Dialect/RTG/Transform/regalloc.mlir
  test/Dialect/RTGTest/IR/basic.mlir
  test/Target/EmitRTGAssembly/rtgtest.mlir
Owners: none

[FIRRTL] ReplSeqMems: use the original mem name for the instance name (#7776)
  lib/Dialect/FIRRTL/Transforms/LowerMemory.cpp
  test/Dialect/FIRRTL/lower-memory.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Add new ModulePrefixAnnotation
  include/circt/Dialect/FIRRTL/AnnotationDetails.h
  include/circt/Dialect/FIRRTL/CHIRRTLOps.td
  lib/Dialect/FIRRTL/CHIRRTLDialect.cpp
  lib/Dialect/FIRRTL/Transforms/LowerAnnotations.cpp
  lib/Dialect/FIRRTL/Transforms/LowerCHIRRTL.cpp
  lib/Dialect/FIRRTL/Transforms/LowerMemory.cpp
Owners: @darthscsi, @seldridge

add tests
  test/Dialect/FIRRTL/annotations.mlir
  test/Dialect/FIRRTL/lower-chirrtl.mlir
  test/Dialect/FIRRTL/lower-memory.mlir
Owners: @darthscsi, @seldridge

reg interface tweaks
  include/circt/Dialect/RTG/IR/RTGInterfaces.td
  lib/Dialect/RTGTest/IR/RTGTestOps.cpp
  lib/Target/EmitRTGAssembly/EmitRTGAssembly.cpp
Owners: none

fix build
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
Owners: none

update with new instance name
  lib/Dialect/FIRRTL/Transforms/LowerMemory.cpp
  test/Dialect/FIRRTL/lower-memory.mlir
Owners: @darthscsi, @seldridge

inline prefix attr
  lib/Dialect/FIRRTL/Transforms/LowerCHIRRTL.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] Add new ModulePrefixAnnotation (#7772)
  include/circt/Dialect/FIRRTL/AnnotationDetails.h
  include/circt/Dialect/FIRRTL/CHIRRTLOps.td
  lib/Dialect/FIRRTL/CHIRRTLDialect.cpp
  lib/Dialect/FIRRTL/Transforms/LowerAnnotations.cpp
  lib/Dialect/FIRRTL/Transforms/LowerCHIRRTL.cpp
  lib/Dialect/FIRRTL/Transforms/LowerMemory.cpp
  test/Dialect/FIRRTL/annotations.mlir
  test/Dialect/FIRRTL/lower-chirrtl.mlir
  test/Dialect/FIRRTL/lower-memory.mlir
Owners: @darthscsi, @seldridge

[HW] Make module's doNotPrint a UnitAttr (#7777)
  include/circt/Dialect/HW/HWOpInterfaces.td
  include/circt/Dialect/HW/HWStructure.td
  include/circt/Dialect/SV/SVTypeDecl.td
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Conversion/FIRRTLToHW/LowerToHW.cpp
  lib/Conversion/MooreToCore/MooreToCore.cpp
  lib/Dialect/HW/HWOps.cpp
  lib/Dialect/HW/Transforms/FlattenIO.cpp
  lib/Dialect/SV/SVOps.cpp
  lib/Dialect/SV/Transforms/SVExtractTestCode.cpp
  lib/Dialect/Seq/Transforms/HWMemSimImpl.cpp
  lib/Tools/circt-bmc/ExternalizeRegisters.cpp
  test/Conversion/ExportVerilog/hw-dialect.mlir
  test/Conversion/ExportVerilog/sv-dialect.mlir
  test/Conversion/ExportVerilog/verilog-basic.mlir
  test/Dialect/SV/basic.mlir
  test/Dialect/SV/hw-extract-test-code.mlir
Owners: @darthscsi, @seldridge

[FreezePaths] Add support for HWInstanceLike, instead of only HWInstanceOp
  lib/Dialect/OM/Transforms/FreezePaths.cpp
Owners: none

[FreezePaths] Add support for HWInstanceLike, in addition to HWInstanceOp (#7778)
  lib/Dialect/OM/Transforms/FreezePaths.cpp
Owners: none

[FIRRTL] Create DUT Metadata if it exists
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
  test/Dialect/FIRRTL/emit-metadata.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Remove duplicate metadata test, NFC
  test/Dialect/FIRRTL/emit-metadata.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Rename output file in metadata test, NFC
  test/Dialect/FIRRTL/emit-metadata.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Return an empty ArrayRef<Attr>, not an array of 1 attr
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] use properties in builders and parsers
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] Return an empty ArrayRef<Attr>, not an array of 1 attr (#7779)
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] use properties in builders and parsers (#7766)
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
Owners: @darthscsi, @seldridge

[FIRRTL][docs] Whitespace cleanup, NFC
  docs/Dialects/FIRRTL/FIRRTLAnnotations.md
Owners: @darthscsi, @seldridge

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive
