Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @dtzSiFive, @seldridge, @Dinistro, @RamirezLucas, @blakep-msft

[FIRRTL][SFCCompat] Always walk and remove all fullasync annos.
  lib/Dialect/FIRRTL/Transforms/SFCCompat.cpp
Owners: @darthscsi, @dtzSiFive, @seldridge

[NFC][clang-tidy] Disallow global 'using' directives in headers (#6998)
  .clang-tidy
Owners: none

Added FlattenModulesPass to the btor2 emission pipeline
  lib/Firtool/Firtool.cpp
Owners: none

added pass registration
  lib/Firtool/Firtool.cpp
  tools/firtool/firtool.cpp
Owners: @dtzSiFive

temporary needed to sewitch branch and commit
  lib/Target/ExportSMTLIB/ExportSMTLIB.cpp
  test.mlir
  test/Target/ExportSMTLIB/attributes.mlir
Owners: @maerhart

[FIRRTL][SFCCompat] Fix tests and handling of fullasyncreset on non-port. (#6984)
  lib/Dialect/FIRRTL/Transforms/SFCCompat.cpp
  test/firtool/async-reset-anno.fir
  test/firtool/async-reset.fir
Owners: @darthscsi, @dtzSiFive, @seldridge

[Moore] Remove name and location from struct type
  include/circt/Dialect/Moore/MooreTypes.h
  lib/Conversion/ImportVerilog/Types.cpp
  lib/Dialect/Moore/MooreTypes.cpp
  test/Conversion/ImportVerilog/types.sv
  test/Dialect/Moore/types.mlir
  unittests/Dialect/Moore/TypesTest.cpp
Owners: none

cleaned up pass registration
  tools/firtool/firtool.cpp
Owners: @dtzSiFive

[pycde] Disallow structs with zero fields
  frontends/PyCDE/src/pycde/ibis.py
  frontends/PyCDE/src/pycde/types.py
  frontends/PyCDE/test/test_errors.py
Owners: none

[pycde] Disallow structs with zero fields (#7000)
  frontends/PyCDE/src/pycde/ibis.py
  frontends/PyCDE/src/pycde/types.py
  frontends/PyCDE/test/test_errors.py
Owners: none

[Moore] Remove formatting of types as SV string
  include/circt/Dialect/Moore/MooreTypes.h
  lib/Dialect/Moore/MooreTypes.cpp
  unittests/Dialect/Moore/TypesTest.cpp
Owners: none

[ImportVerilog] Fix unknown name caused by local variables.
  lib/Conversion/ImportVerilog/Statements.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/errors.sv
  test/Dialect/Moore/basic.mlir
Owners: none

[ImportVerilog] Fix unknown name caused by local variables. (#6995)
  lib/Conversion/ImportVerilog/Statements.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/errors.sv
  test/Dialect/Moore/basic.mlir
Owners: none

[firtool] Add FlattenModulesPass to the btor2 emission pipeline (#6999)
  lib/Firtool/Firtool.cpp
  tools/firtool/firtool.cpp
Owners: @dtzSiFive

[FIRRTL] AnnoTarget: use LLVM style casts
  include/circt/Dialect/FIRRTL/FIRRTLAnnotationHelper.h
  include/circt/Dialect/FIRRTL/FIRRTLAnnotations.h
  lib/Dialect/FIRRTL/FIRRTLAnnotationHelper.cpp
  lib/Dialect/FIRRTL/Transforms/LegacyWiring.cpp
  lib/Dialect/FIRRTL/Transforms/LowerAnnotations.cpp
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  lib/Dialect/FIRRTL/Transforms/ResolveTraces.cpp
Owners: @darthscsi, @dtzSiFive, @seldridge

[SV] Add sv.func, sv.func.call{.procedural}, sv.func.dpi.import
  include/circt/Conversion/ExportVerilog.h
  include/circt/Conversion/Passes.td
  include/circt/Dialect/HW/ModuleImplementation.h
  include/circt/Dialect/SV/SVDialect.td
  include/circt/Dialect/SV/SVStatements.td
  include/circt/Dialect/SV/SVVisitors.h
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Conversion/ExportVerilog/ExportVerilogInternals.h
  lib/Conversion/ExportVerilog/LegalizeNames.cpp
  lib/Conversion/ExportVerilog/PrepareForEmission.cpp
  lib/Conversion/ExportVerilog/PruneZeroValuedLogic.cpp
  lib/Conversion/PassDetail.h
  lib/Conversion/VerifToSV/VerifToSV.cpp
  lib/Dialect/HW/HWOps.cpp
  lib/Dialect/HW/ModuleImplementation.cpp
  lib/Dialect/SV/SVOps.cpp
  test/Conversion/ExportVerilog/prepare-for-emission.mlir
  test/Conversion/ExportVerilog/sv-dialect.mlir
  test/Dialect/HW/locations.mlir
  test/Dialect/SV/basic.mlir
  test/Dialect/SV/errors.mlir
Owners: @darthscsi, @dtzSiFive

[SV] Add sv.func, sv.return and sv.call operations
  include/circt/Conversion/ExportVerilog.h
  include/circt/Dialect/HW/ModuleImplementation.h
  include/circt/Dialect/SV/SVDialect.td
  include/circt/Dialect/SV/SVStatements.td
  include/circt/Dialect/SV/SVVisitors.h
  lib/Dialect/HW/ModuleImplementation.cpp
  lib/Dialect/SV/SVOps.cpp
  test/Dialect/HW/locations.mlir
  test/Dialect/SV/basic.mlir
  test/Dialect/SV/errors.mlir
Owners: @darthscsi

clang-format
  include/circt/Dialect/SV/SVVisitors.h
Owners: @darthscsi

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @dtzSiFive @seldridge
*/firtool @dtzSiFive
libs/Firtool @dtzSiFive

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart
tools/llhd-sim @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet @RamirezLucas

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft

## Conversions

lib/Conversion/ExportVerilog @dtzSiFive


## Infra

# CI
.github @teqdruid @dtzSiFive

# PrettyPrinter
**/Support/Pretty* @dtzSiFive
