Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive

[Arc] Add test for explicit sub-storages during state allocation
  test/Dialect/Arc/allocate-state.mlir
Owners: @fabianschuiki, @maerhart

Flatten memref GetGlobal and Global operations (#7093)
  lib/Transforms/FlattenMemRefs.cpp
  test/Transforms/flatten_memref.mlir
Owners: none

[circt-test] Add test discovery classes and `-l` option (#7755)
  test/circt-test/basic.mlir
  tools/circt-test/circt-test.cpp
Owners: none

[circt-test] Add simple SymbiYosys test runner
  integration_test/CMakeLists.txt
  integration_test/circt-test/basic.mlir
  integration_test/lit.cfg.py
  tools/circt-test/CMakeLists.txt
  tools/circt-test/circt-test-runner-sby.py
  tools/circt-test/circt-test.cpp
Owners: none

[circt-test] Add simple SymbiYosys test runner (#7756)
  integration_test/CMakeLists.txt
  integration_test/circt-test/basic.mlir
  integration_test/lit.cfg.py
  tools/circt-test/CMakeLists.txt
  tools/circt-test/circt-test-runner-sby.py
  tools/circt-test/circt-test.cpp
Owners: none

Revert "Flatten memref GetGlobal and Global operations (#7093)"
  lib/Transforms/FlattenMemRefs.cpp
  test/Transforms/flatten_memref.mlir
Owners: none

add a test for global op and getglobal op
  test/Transforms/flatten_memref.mlir
Owners: none

flatten memref GetGlobal and Global operations
  lib/Transforms/FlattenMemRefs.cpp
Owners: none

resolve global/getGlobalOp potential naming conflict after flattening
  lib/Transforms/FlattenMemRefs.cpp
  test/Transforms/flatten_memref.mlir
Owners: none

refactor some code
  lib/Transforms/FlattenMemRefs.cpp
Owners: none

Address comments
  include/circt/Dialect/HW/HWOpInterfaces.td
Owners: @darthscsi

clang format
  tools/circt-test/circt-test.cpp
Owners: none

Add missing works test
  integration_test/circt-test/basic.mlir
Owners: none

Remove failure check for now
  integration_test/circt-test/basic.mlir
Owners: none

Fix comments
  integration_test/circt-test/basic.mlir
Owners: none

Fix comments
  integration_test/circt-test/basic.mlir
Owners: none

[HW] Add port name accessors to HWInstanceLike (#7757)
  include/circt/Dialect/HW/HWOpInterfaces.td
  include/circt/Dialect/HW/HWStructure.td
  lib/Conversion/ExportVerilog/PrepareForEmission.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  lib/Dialect/SV/Transforms/SVExtractTestCode.cpp
  lib/Tools/circt-bmc/ExternalizeRegisters.cpp
Owners: @darthscsi, @fabianschuiki, @maerhart

fix the test
  test/Transforms/flatten_memref.mlir
Owners: none

Flatten memref Global and its corresponding GetGlobal operations (#7758)
  lib/Transforms/FlattenMemRefs.cpp
  test/Transforms/flatten_memref.mlir
Owners: none

binary floating point add operator
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  lib/Dialect/Calyx/Transforms/CalyxLoweringUtils.cpp
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet

changes based on review; add conversion and emitter tests
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Conversion/SCFToCalyx/convert_simple.mlir
  test/Conversion/SCFToCalyx/errors.mlir
  test/Dialect/Calyx/emit.mlir
Owners: @mikeurbach, @mortbopet, @rachitnigam, @cgyurgyik, @andrewb1999

minor changes based on review
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Dialect/Calyx/emit.mlir
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet

Calyx Binary Floating Point AddF Operator (#7089)
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  lib/Dialect/Calyx/Transforms/CalyxLoweringUtils.cpp
  test/Conversion/SCFToCalyx/convert_simple.mlir
  test/Conversion/SCFToCalyx/errors.mlir
  test/Dialect/Calyx/emit.mlir
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet

nested if control
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  test/Conversion/SCFToCalyx/convert_controlflow.mlir
Owners: @mikeurbach, @mortbopet

[Calyx] BuildControl for nested SCF::If ops (#7669)
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  test/Conversion/SCFToCalyx/convert_controlflow.mlir
Owners: @mikeurbach, @mortbopet

[FIRRTL] Fix folding of when conditions into LTL properties
  lib/Dialect/FIRRTL/Transforms/ExpandWhens.cpp
  test/Dialect/FIRRTL/expand-whens.mlir
  test/firtool/verif-under-when.fir
Owners: @darthscsi, @seldridge

[LTL] Canonicalize ltl.and to comb.and for i1 properties
  include/circt/Dialect/LTL/LTLOps.td
  lib/Dialect/LTL/LTLFolds.cpp
  lib/Dialect/LTL/LTLOps.cpp
  test/Conversion/ExportVerilog/verif.mlir
  test/Dialect/LTL/basic.mlir
  test/Dialect/LTL/canonicalization.mlir
Owners: none

[Verif] Add ignore attribute to formal (#7719)
  integration_test/circt-test/basic.mlir
  test/circt-test/basic.mlir
  tools/circt-test/circt-test.cpp
Owners: none

can parse and emit InvokeOp when having reference cells
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999

copy old top-level's getglobal to new top-level
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Owners: @mikeurbach, @mortbopet

calyx invokeOp can pass memory by reference
  include/circt/Dialect/Calyx/CalyxControl.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet

use ArrayAttr to store reference mapping so it's more neat; change the order of insertion point so that the number of the reference and the external memory align in the invoke
  include/circt/Dialect/Calyx/CalyxControl.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Conversion/SCFToCalyx/convert_memory.mlir
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet

create and label a new top-level function based on needs
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Owners: @mikeurbach, @mortbopet

marking the correct top-level componentOp
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Owners: @mikeurbach, @mortbopet

pass emit invoke test; and add a new test when invoking component instance with both memref and non-memref arguments
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Dialect/Calyx/emit-invoke-with-ref.mlir
  test/Dialect/Calyx/emit-invoke.mlir
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999

pass existing scf to calyx convert func tests
  test/Conversion/SCFToCalyx/convert_func.mlir
Owners: @mikeurbach, @mortbopet

update the error when invokeOp has no ports connection nor does it pass memory by reference
  test/Dialect/Calyx/errors.mlir
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999

can emit reference seq memory
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999

always name the newly created top level function as 'main' because calyx yxi requires to do so
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Owners: @mikeurbach, @mortbopet

add more comments for function description; use llvm join for string concat
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Owners: @mikeurbach, @mortbopet
