Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive

[Docs][FIRRTL] Build and include docs for intrinsic ops
  docs/Dialects/FIRRTL/_index.md
  include/circt/Dialect/FIRRTL/CMakeLists.txt
  include/circt/Dialect/FIRRTL/FIRRTLIntrinsics.td
Owners: @darthscsi, @seldridge

fixup! Add arcilator JIT runtime library.
  tools/arcilator/arcilator-runtime.h
Owners: @fabianschuiki, @maerhart

WIP fields as region
  include/circt/Dialect/OM/OMOpInterfaces.td
  include/circt/Dialect/OM/OMOps.td
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  lib/Dialect/OM/OMOps.cpp
  test/Dialect/OM/round-trip.mlir
Owners: @darthscsi, @seldridge

CMake Tweaks
  tools/arcilator/jit-env/CMakeLists.txt
Owners: @fabianschuiki, @maerhart

[ImportVerilog] Switch from SCF to CF dialect for control flow (#7432)
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/ImportVerilog.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Statements.cpp
  lib/Conversion/ImportVerilog/Structure.cpp
  lib/Dialect/Moore/Transforms/SimplifyProcedures.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Dialect/Moore/basic.mlir
  test/Dialect/Moore/lower-concatref.mlir
  test/Dialect/Moore/mem2reg.mlir
  test/Dialect/Moore/simplify-procedures.mlir
Owners: none

fixup! Add arcilator JIT runtime library.
  tools/arcilator/arcilator-runtime.h
Owners: @fabianschuiki, @maerhart

[Docs][FIRRTL] Build and include docs for intrinsic ops
  docs/Dialects/FIRRTL/_index.md
  include/circt/Dialect/FIRRTL/CMakeLists.txt
  include/circt/Dialect/FIRRTL/FIRRTLIntrinsics.td
Owners: @darthscsi, @seldridge

[CMake] Add the excluded installation rule for unordered_dense library
  CMakeLists.txt
Owners: none

[CMake] Fix install failure with CMAKE_SLANG_FRONTEND_ENABLED enabled (#7437)
  CMakeLists.txt
Owners: none

Add lock
  include/circt/Support/Namespace.h
Owners: none

Tweak init/deinit.
  tools/arcilator/arcilator.cpp
  tools/arcilator/jit-env/arcilator-jit-env.cpp
  tools/arcilator/jit-env/arcilator-jit-env.h
Owners: @fabianschuiki, @maerhart

Added header comments.
  tools/arcilator/jit-env/arcilator-jit-env.cpp
  tools/arcilator/jit-env/arcilator-jit-env.h
Owners: @fabianschuiki, @maerhart

Remove unused clock from test.
  integration_test/arcilator/JIT/runtime-environment.mlir
Owners: none

[Support] Allow erasing names in Namespace (#7424)
  include/circt/Support/Namespace.h
Owners: none

[Ibis] Don't include design name in namespace in IbisContainersToHW
  lib/Dialect/Ibis/Transforms/IbisContainersToHW.cpp
  test/Dialect/Ibis/Transforms/containers_to_hw.mlir
Owners: @teqdruid, @mortbopet, @blakep-msft

[FIRRTL] Verify main module is a module, and is public. (#7439)
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/annotations-errors.mlir
  test/Dialect/FIRRTL/errors.mlir
  test/Dialect/FIRRTL/lower-classes.mlir
  test/Dialect/FIRRTL/lower-intmodules.mlir
  test/Dialect/FIRRTL/lower-intrinsics-errors.mlir
Owners: @darthscsi, @seldridge

[Ibis] Don't include design name in namespace in IbisContainersToHW (#7425)
  lib/Dialect/Ibis/Transforms/IbisContainersToHW.cpp
  test/Dialect/Ibis/Transforms/containers_to_hw.mlir
Owners: @teqdruid, @mortbopet, @blakep-msft

[FIRRTL] Add test for rwprobe within layer.
  test/Dialect/FIRRTL/layers.mlir
Owners: @darthscsi, @seldridge

Address comments
  integration_test/arcilator/JIT/dpi.mlir
  lib/Dialect/Sim/SimOps.cpp
  lib/Dialect/Sim/Transforms/CMakeLists.txt
  lib/Dialect/Sim/Transforms/LowerDPIFunc.cpp
  test/Dialect/Sim/lower-dpi.mlir
Owners: none

Add test for sim.dpi.call
  lib/Dialect/Sim/SimOps.cpp
  test/Dialect/Sim/round-trip.mlir
  test/Dialect/Sim/sim-errors.mlir
Owners: none

[FIRRTL] Tweak printing of layers to avoid extra space.
  include/circt/Dialect/FIRRTL/FIRRTLStructure.td
Owners: @darthscsi, @seldridge

add more test
  test/Dialect/Sim/lower-dpi.mlir
Owners: none

[FIRRTL] Verify RWProbeOp target has layer requirements. (#7372)
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/errors.mlir
  test/Dialect/FIRRTL/layers.mlir
Owners: @darthscsi, @seldridge

[SMT] Add convenience builder
  include/circt/Dialect/SMT/SMTIntOps.td
Owners: @maerhart

Update FirMemLowering.h
  lib/Conversion/SeqToSV/FirMemLowering.h
Owners: none

Tweak test
  test/Dialect/Sim/round-trip.mlir
Owners: none

[FIRRTL] Tweak printing of layers to avoid extra space. (#7449)
  include/circt/Dialect/FIRRTL/FIRRTLStructure.td
Owners: @darthscsi, @seldridge

[circt-lec] Accept two MLIR inputs
  test/CMakeLists.txt
  test/Tools/circt-lec/Inputs/a.mlir
  test/Tools/circt-lec/Inputs/b.mlir
  test/Tools/circt-lec/merge-inputs.mlir
  test/lit.cfg.py
  tools/circt-lec/circt-lec.cpp
Owners: none

Updating FormalOp
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  include/circt/Dialect/FIRRTL/FIRRTLStructure.td
  include/circt/Dialect/FIRRTL/FIRRTLVisitors.h
  lib/Dialect/FIRRTL/Export/FIREmitter.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/parse-basic.fir
Owners: @darthscsi, @seldridge

Update Dedup.cpp
  lib/Dialect/Arc/Transforms/Dedup.cpp
Owners: @fabianschuiki, @maerhart

Use operand style
  include/circt/Dialect/OM/OMOpInterfaces.h
  include/circt/Dialect/OM/OMOps.td
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  lib/Dialect/OM/OMOps.cpp
  test/Dialect/OM/round-trip.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Cache symbol table in LowerLayers
  lib/Dialect/FIRRTL/Transforms/LowerLayers.cpp
Owners: @darthscsi, @seldridge

Update Dedup.cpp
  lib/Dialect/Arc/Transforms/Dedup.cpp
Owners: @fabianschuiki, @maerhart

[FIRRTL] Replaced 'replicate' to correctly named 'replace' flags (#7442)
  include/circt/Firtool/Firtool.h
  lib/Firtool/Firtool.cpp
Owners: none

Update circt-verilog.cpp
  tools/circt-verilog/circt-verilog.cpp
Owners: none

[Arc][Sim] Lower Sim DPI func to func.func and support dpi call in Arc (#7386)
  include/circt/Dialect/Sim/SimPasses.td
  integration_test/arcilator/JIT/dpi.mlir
  lib/Conversion/ConvertToArcs/CMakeLists.txt
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/LowerState.cpp
  lib/Dialect/Sim/CMakeLists.txt
  lib/Dialect/Sim/SimOps.cpp
  lib/Dialect/Sim/Transforms/CMakeLists.txt
  lib/Dialect/Sim/Transforms/LowerDPIFunc.cpp
  test/Dialect/Arc/lower-state.mlir
  test/Dialect/Sim/lower-dpi.mlir
  test/Dialect/Sim/round-trip.mlir
  test/Dialect/Sim/sim-errors.mlir
  tools/arcilator/CMakeLists.txt
  tools/arcilator/arcilator.cpp
Owners: @fabianschuiki, @maerhart

state conversion works as expected
  include/circt/Conversion/FSMToSMT.h
  integration_test/Dialect/FSM/simple/top.mlir
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: @mortbopet

[Sim] Replace sim.func.dpi.call with sim.func.call and improve a verifier
  include/circt/Dialect/Sim/SimOps.td
  integration_test/arcilator/JIT/dpi.mlir
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  lib/Conversion/SimToSV/SimToSV.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  lib/Dialect/FIRRTL/Transforms/LowerDPI.cpp
  lib/Dialect/Sim/SimOps.cpp
  lib/Dialect/Sim/Transforms/LowerDPIFunc.cpp
  test/Conversion/SimToSV/dpi.mlir
  test/Dialect/Arc/lower-state.mlir
  test/Dialect/FIRRTL/lower-dpi.mlir
  test/Dialect/Sim/lower-dpi.mlir
  test/Dialect/Sim/round-trip.mlir
  test/Dialect/Sim/sim-errors.mlir
Owners: @fabianschuiki, @maerhart, @darthscsi, @seldridge

[arcilator] Add an option to load shared lib into JIT engine
  integration_test/arcilator/JIT/dpi.mlir
  integration_test/lit.cfg.py
  tools/arcilator/arcilator.cpp
Owners: @fabianschuiki, @maerhart

[ExportVerilog] Add a lowering option to fix up empty modules
  docs/VerilogGeneration.md
  include/circt/Support/LoweringOptions.h
  lib/Conversion/ExportVerilog/PrepareForEmission.cpp
  lib/Support/LoweringOptions.cpp
  test/Conversion/ExportVerilog/fixup-empty-modules.mlir
Owners: none
