Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive

[FIRRTL] InferWidths: remove unused function argument
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: add value accessor for KnownExpr
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: Don't need to duplicate InvalidValues
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
  test/Dialect/FIRRTL/infer-widths.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: lazily create KnownExprs
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: Don't need vars to unify types
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: stop double checking for uninferred widths
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[ExtractInstances] Add the extract instances metadata to OM Classes (#7667)
  include/circt/Dialect/FIRRTL/FIRRTLStructure.td
  include/circt/Dialect/FIRRTL/FIRRTLUtils.h
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/FIRRTLUtils.cpp
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
  lib/Dialect/FIRRTL/Transforms/ExtractInstances.cpp
  test/Dialect/FIRRTL/extract-instances-inject-dut-hier.mlir
  test/Dialect/FIRRTL/extract-instances.mlir
Owners: @darthscsi, @seldridge

Fix ordering issue with fieldNames
  include/circt/Dialect/OM/OMOps.td
  lib/Dialect/OM/OMOps.cpp
  test/Dialect/FIRRTL/lower-classes.mlir
  unittests/Dialect/OM/Evaluator/EvaluatorTests.cpp
Owners: @darthscsi, @seldridge

Clang format
  unittests/Dialect/OM/Evaluator/EvaluatorTests.cpp
Owners: none

Remove redundant CMakeLists.txt entry
  lib/Dialect/Verif/Transforms/CMakeLists.txt
Owners: none

checkpoint
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  lib/Target/EmitRTGAssembly/EmitRTGAssembly.cpp
Owners: none

[FIRRTL] InferWidths: Don't need vars to unify types
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: add value accessor for KnownExpr
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: clean up early returns, nfc
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: remove dead MatchingConnect handler
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: simplify allWidthsKnownCheck
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: lazily create KnownExprs
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: Don't need to duplicate InvalidValues
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
  test/Dialect/FIRRTL/infer-widths.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: don't store all exprs in a vector
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: remove unused function argument
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: remove InternedSlot helper, nfc
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: simplify use of zip, nfci
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: reuse workstack while solving
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: remove RootExpr
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: clang-tidy fixes, nfc
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: stop double checking for uninferred widths
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: pack base Expr struct fields
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: remove unused headers, nfci
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: fix invalid frame reference
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: fix invalid frame reference
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

simpler mutex form
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

[Arc][NFC] Tweak arc op docs and add missing test
  include/circt/Dialect/Arc/ArcOps.td
  test/Dialect/Arc/basic.mlir
Owners: @fabianschuiki, @maerhart

[ArcToLLVM] Add support for index dialect
  lib/Conversion/ArcToLLVM/CMakeLists.txt
  lib/Conversion/ArcToLLVM/LowerArcToLLVM.cpp
  tools/arcilator/CMakeLists.txt
  tools/arcilator/arcilator.cpp
Owners: @fabianschuiki, @maerhart

[ArcToLLVM] Add support for index dialect (#7699)
  lib/Conversion/ArcToLLVM/CMakeLists.txt
  lib/Conversion/ArcToLLVM/LowerArcToLLVM.cpp
  tools/arcilator/CMakeLists.txt
  tools/arcilator/arcilator.cpp
Owners: @fabianschuiki, @maerhart

[Arc] Make arc.model have an SSACFG region
  include/circt/Dialect/Arc/ArcOps.td
  test/Dialect/Arc/group-resets-and-enables.mlir
  test/Dialect/Arc/legalize-state-update-error.mlir
  test/Dialect/Arc/legalize-state-update.mlir
Owners: @fabianschuiki, @maerhart

[Arc] Add arc.final op
  include/circt/Dialect/Arc/ArcOps.td
  include/circt/Dialect/Arc/ModelInfo.h
  integration_test/CMakeLists.txt
  integration_test/arcilator/JIT/initial.mlir
  integration_test/arcilator/JIT/lifecycle.mlir
  lib/Conversion/ArcToLLVM/LowerArcToLLVM.cpp
  lib/Dialect/Arc/ArcOps.cpp
  lib/Dialect/Arc/Export/CMakeLists.txt
  lib/Dialect/Arc/Export/ModelInfoExport.cpp
  lib/Dialect/Arc/ModelInfo.cpp
  lib/Dialect/Arc/Transforms/LowerClocksToFuncs.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  test/Dialect/Arc/Export/serialize-state-info.mlir
  test/Dialect/Arc/basic-errors.mlir
  test/Dialect/Arc/lower-clocks-to-funcs-errors.mlir
  test/Dialect/Arc/lower-clocks-to-funcs.mlir
Owners: @fabianschuiki, @maerhart

[Arc] Add arc.final op (#7700)
  include/circt/Dialect/Arc/ArcOps.td
  include/circt/Dialect/Arc/ModelInfo.h
  integration_test/CMakeLists.txt
  integration_test/arcilator/JIT/initial.mlir
  integration_test/arcilator/JIT/lifecycle.mlir
  lib/Conversion/ArcToLLVM/LowerArcToLLVM.cpp
  lib/Dialect/Arc/ArcOps.cpp
  lib/Dialect/Arc/Export/CMakeLists.txt
  lib/Dialect/Arc/Export/ModelInfoExport.cpp
  lib/Dialect/Arc/ModelInfo.cpp
  lib/Dialect/Arc/Transforms/LowerClocksToFuncs.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  test/Dialect/Arc/Export/serialize-state-info.mlir
  test/Dialect/Arc/basic-errors.mlir
  test/Dialect/Arc/lower-clocks-to-funcs-errors.mlir
  test/Dialect/Arc/lower-clocks-to-funcs.mlir
Owners: @fabianschuiki, @maerhart

[Arc] Make arc.model have an SSACFG region (#7701)
  include/circt/Dialect/Arc/ArcOps.td
  test/Dialect/Arc/group-resets-and-enables.mlir
  test/Dialect/Arc/legalize-state-update-error.mlir
  test/Dialect/Arc/legalize-state-update.mlir
Owners: @fabianschuiki, @maerhart

Remove redundant CMakeLists.txt entry (#7696)
  lib/Dialect/Verif/Transforms/CMakeLists.txt
Owners: none

[FIRRTL][ProbesToSignals] RWProbe support
  lib/Dialect/FIRRTL/Transforms/ProbesToSignals.cpp
  test/Dialect/FIRRTL/probes-to-signals-errors.mlir
  test/Dialect/FIRRTL/probes-to-signals.mlir
Owners: @darthscsi, @seldridge
