Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive

Add passthrough API
  include/circt/Dialect/OM/OMOpInterfaces.td
  lib/Dialect/OM/OMOps.cpp
  lib/Dialect/OM/Transforms/LinkModules.cpp
  lib/Dialect/OM/Transforms/VerifyObjectFields.cpp
Owners: none

Fix description
  include/circt/Dialect/OM/OMOpInterfaces.td
Owners: none

Add comments
  include/circt/Dialect/OM/OMOpInterfaces.td
  include/circt/Dialect/OM/OMOps.td
Owners: none

followinew model
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

[ESI][Runtime] Generate C++ header files for constants (#7517)
  integration_test/Dialect/ESI/runtime/callback.mlir
  integration_test/Dialect/ESI/runtime/loopback.mlir
  integration_test/Dialect/ESI/runtime/loopback.mlir.cpp
  integration_test/lit.cfg.py
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Trace.h
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
  lib/Dialect/ESI/runtime/pyproject.toml
  lib/Dialect/ESI/runtime/python/esiaccel/codegen.py
  lib/Dialect/ESI/runtime/python/esiaccel/esiCppAccel.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/types.py
  lib/Dialect/ESI/runtime/python/esiaccel/utils.py
Owners: @teqdruid

[CombFolds] Don't canonicalize extract(shl(1, x)) if shift is multiply used (#7527)
  lib/Dialect/Comb/CombFolds.cpp
  test/Dialect/Comb/canonicalization.mlir
Owners: @darthscsi

save
  include/circt/Dialect/Seq/SeqOps.h
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  lib/Conversion/HWToBTOR2/HWToBTOR2.cpp
  lib/Conversion/PipelineToHW/PipelineToHW.cpp
  lib/Conversion/SeqToSV/SeqToSV.cpp
  lib/Dialect/Seq/SeqOps.cpp
  lib/Dialect/Seq/Transforms/LowerSeqShiftReg.cpp
  test/Conversion/ConvertToArcs/convert-to-arcs.mlir
  test/Conversion/HWToBTOR2/init.mlir
  test/Conversion/LTLToCore/assertproperty.mlir
  test/Conversion/PipelineToHW/test_poweron.mlir
  test/Dialect/Seq/compreg.mlir
  test/Dialect/Seq/shiftreg.mlir
  test/Tools/circt-bmc/externalize-registers-errors.mlir
Owners: none

save
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
Owners: none

save
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  lib/Conversion/SeqToSV/SeqToSV.cpp
  test/Conversion/ConvertToArcs/convert-to-arcs.mlir
Owners: none

[CheckCombLoops] Report all the operations that participate in the cycle, when reporting a cycle
  lib/Dialect/FIRRTL/Transforms/CheckCombLoops.cpp
  test/Dialect/FIRRTL/check-comb-loops.mlir
Owners: @darthscsi, @seldridge

Fix enum created twice for top variable. Add mlir tests for enum
  lib/Dialect/FIRRTL/Transforms/MaterializeDebugInfo.cpp
  test/Dialect/Debug/basic.mlir
  test/Dialect/FIRRTL/materialize-debug-info.mlir
  test/Target/DebugInfo/emit-hgldd.mlir
Owners: @darthscsi, @seldridge

updated llvm
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

[MooreToCore] Ignore ConstantLike values in wait op
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[MooreToCore] Ignore ConstantLike values in wait op (#7540)
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[FIRRTL] Add debug prints to AssignOutputDirs, NFC
  lib/Dialect/FIRRTL/Transforms/AssignOutputDirs.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] Debug header/footer in BBoxReader, NFC
  lib/Dialect/FIRRTL/Transforms/BlackBoxReader.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] Add layers output file to file list
  lib/Dialect/FIRRTL/Transforms/LowerLayers.cpp
Owners: @darthscsi, @seldridge

save
  lib/Conversion/SeqToSV/SeqToSV.cpp
  test/Dialect/Seq/compreg.mlir
Owners: none

save
  include/circt/Dialect/HW/HWTypes.td
  include/circt/Dialect/Seq/SeqOps.h
  include/circt/Dialect/Seq/SeqTypes.td
  lib/Conversion/SeqToSV/FirRegLowering.h
  lib/Conversion/SeqToSV/SeqToSV.cpp
  lib/Dialect/Seq/SeqOps.cpp
  test/Conversion/ConvertToArcs/convert-to-arcs.mlir
  test/Conversion/HWToBTOR2/init.mlir
  test/Conversion/LTLToCore/assertproperty.mlir
  test/Conversion/PipelineToHW/test_poweron.mlir
  test/Dialect/Seq/compreg.mlir
  test/Dialect/Seq/round-trip.mlir
  test/Dialect/Seq/shiftreg.mlir
  test/Tools/circt-bmc/externalize-registers-errors.mlir
Owners: @darthscsi

progress
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

[FIRRTL][LowerLayers] Update rwprobe operations if possible. (#7369)
  lib/Dialect/FIRRTL/Transforms/LowerLayers.cpp
  test/Dialect/FIRRTL/lower-layers-errors.mlir
  test/Dialect/FIRRTL/lower-layers.mlir
  test/firtool/layers-rwprobe.fir
Owners: @darthscsi, @seldridge

Address review comments
  include/circt/Dialect/HW/HWStructure.td
  include/circt/Dialect/Seq/SeqPasses.td
  lib/Dialect/Seq/Transforms/SinkClockGates.cpp
Owners: @darthscsi

[Seq] Add a new pass to sink the clock_gate ops
  include/circt/Dialect/Seq/SeqPasses.h
  include/circt/Dialect/Seq/SeqPasses.td
  lib/Dialect/Seq/Transforms/CMakeLists.txt
  lib/Dialect/Seq/Transforms/SinkClockGates.cpp
Owners: none

Handle multiple instances of a module
  lib/Dialect/Seq/Transforms/SinkClockGates.cpp
  test/Dialect/Seq/clock-gate-sink.mlir
Owners: none

[HW] Add an API to append ports to HWModuleOp
  include/circt/Dialect/HW/HWStructure.td
  lib/Dialect/HW/HWOps.cpp
Owners: @darthscsi

Address review comments
  lib/Dialect/Seq/Transforms/SinkClockGates.cpp
Owners: none

fixed build :)))
  include/circt/Dialect/SMT/SMTIntOps.td
Owners: @maerhart

Revert some codes.
  include/circt/Dialect/Moore/MooreOps.td
  lib/Dialect/Moore/MooreOps.cpp
  test/Dialect/Moore/canonicalizers.mlir
Owners: none

Lower strcutextractref to structinject
  include/circt/Dialect/Moore/MooreOps.td
  lib/Dialect/Moore/MooreOps.cpp
  test/Dialect/Moore/canonicalizers.mlir
Owners: none

new structure
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

Update appendPorts interface, to combine input and output ports
  include/circt/Dialect/HW/HWStructure.td
  lib/Dialect/HW/HWOps.cpp
  lib/Dialect/Seq/Transforms/SinkClockGates.cpp
Owners: @darthscsi

[firrtl] Add CheckLayers diagnostics pass
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/CheckLayers.cpp
  test/Dialect/FIRRTL/check-layers-errors.mlir
  test/Dialect/FIRRTL/check-layers.mlir
Owners: @darthscsi, @seldridge

[firtool] Run the CheckLayers pass
  lib/Firtool/Firtool.cpp
Owners: none

[FIRRTL] Set output directories on extmodules
  lib/Dialect/FIRRTL/Transforms/AssignOutputDirs.cpp
  test/Dialect/FIRRTL/assign-output-dirs.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Set output dirs on annotated blackboxes
  lib/Firtool/Firtool.cpp
Owners: none

[FIRRTL] Add makeCommonPrefix utility
  include/circt/Dialect/FIRRTL/FIRRTLUtils.h
  lib/Dialect/FIRRTL/FIRRTLUtils.cpp
  lib/Dialect/FIRRTL/Transforms/AssignOutputDirs.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] Compute LCA of BlackBoxDir output files
  lib/Dialect/FIRRTL/Transforms/BlackBoxReader.cpp
  test/firtool/blackbox-directories.fir
Owners: @darthscsi, @seldridge

[FIRRTL] Remove priority in BlackBoxReader, NFC
  lib/Dialect/FIRRTL/Transforms/BlackBoxReader.cpp
Owners: @darthscsi, @seldridge

Comment out emitc ops that now require lvalue types.
  test/Target/ExportSystemC/basic.mlir
Owners: none

[FIRRTL] Improve Layer Merge Performance
  lib/Dialect/FIRRTL/Transforms/LayerMerge.cpp
Owners: @darthscsi, @seldridge
