Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive

Test tidy
  integration_test/arcilator/JIT/initial-shift-reg.mlir
  integration_test/arcilator/JIT/initial.mlir
Owners: none

Allow arbitrary initializer function names.
  lib/Dialect/Arc/ModelInfo.cpp
  tools/arcilator/arcilator-header-cpp.py
Owners: @fabianschuiki, @maerhart

Tweak LowerClocksToFuncs
  integration_test/arcilator/JIT/initial.mlir
  lib/Dialect/Arc/Transforms/LowerClocksToFuncs.cpp
  test/Dialect/Arc/lower-clocks-to-funcs-errors.mlir
Owners: @fabianschuiki, @maerhart

Python format. AGAIN.
  tools/arcilator/arcilator-header-cpp.py
Owners: @fabianschuiki, @maerhart

Typo
  lib/Dialect/Arc/Transforms/LowerClocksToFuncs.cpp
  test/Dialect/Arc/lower-clocks-to-funcs-errors.mlir
Owners: @fabianschuiki, @maerhart

Streamline declaration of ClockTreeLikeOps
  include/circt/Dialect/Arc/ArcOps.td
Owners: @fabianschuiki, @maerhart

Count Initial and PassThrough ops in LowerClocksToFuncs.
  lib/Dialect/Arc/Transforms/LowerClocksToFuncs.cpp
  test/Dialect/Arc/lower-clocks-to-funcs-errors.mlir
Owners: @fabianschuiki, @maerhart

LowerLayers: fix how we emit layer bindfile headers
  lib/Dialect/FIRRTL/Transforms/LowerLayers.cpp
  test/Dialect/FIRRTL/lower-layers.mlir
Owners: @darthscsi, @seldridge

[ESI][Runtime] Generate C++ header files for constants
  integration_test/Dialect/ESI/runtime/callback.mlir
  integration_test/Dialect/ESI/runtime/loopback.mlir
  integration_test/Dialect/ESI/runtime/loopback.mlir.cpp
  integration_test/lit.cfg.py
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Trace.h
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
  lib/Dialect/ESI/runtime/pyproject.toml
  lib/Dialect/ESI/runtime/python/esiaccel/cppgen.py
Owners: @teqdruid

update python test
  integration_test/Bindings/Python/dialects/om.py
Owners: none

remove file
  clang-format-diff.py
Owners: none

Update tests
  include/circt/Dialect/OM/OMOpInterfaces.td
  include/circt/Dialect/OM/OMOps.td
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  lib/Dialect/OM/OMOps.cpp
  test/Dialect/FIRRTL/SFCTests/directories.fir
  test/Dialect/FIRRTL/lower-classes.mlir
  test/Dialect/OM/round-trip.mlir
  unittests/Dialect/OM/Evaluator/EvaluatorTests.cpp
Owners: @darthscsi, @seldridge

Refactor conversion logic
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  test/Dialect/FIRRTL/SFCTests/directories.fir
Owners: @darthscsi, @seldridge

clang format
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
Owners: @darthscsi, @seldridge

Remove old API
  include/circt/Dialect/OM/OMOpInterfaces.h
  include/circt/Dialect/OM/OMOps.td
Owners: none

LowerLayers: fix how we emit layer bindfile headers (#7516)
  lib/Dialect/FIRRTL/Transforms/LowerLayers.cpp
  test/Dialect/FIRRTL/lower-layers.mlir
Owners: @darthscsi, @seldridge

Update python test
  integration_test/Bindings/Python/dialects/om.py
Owners: none

Add note
  integration_test/Bindings/Python/dialects/om.py
Owners: none

[FIRRTL] Add Inline Formal Test ops (#7374)
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  lib/Dialect/FIRRTL/Export/FIREmitter.cpp
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Import/FIRTokenKinds.def
  test/Dialect/FIRRTL/parse-basic.fir
Owners: @darthscsi, @seldridge

[ESI] Disable zlib examples
  lib/Dialect/ESI/runtime/CMakeLists.txt
Owners: @teqdruid

[Arc] Add InitialOp and lowering support for FirReg preset values. (#7480)
  include/circt/Conversion/Passes.td
  include/circt/Dialect/Arc/ArcOps.td
  include/circt/Dialect/Arc/ModelInfo.h
  integration_test/arcilator/JIT/initial-shift-reg.mlir
  integration_test/arcilator/JIT/initial.mlir
  lib/Conversion/ArcToLLVM/LowerArcToLLVM.cpp
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  lib/Dialect/Arc/ArcOps.cpp
  lib/Dialect/Arc/CMakeLists.txt
  lib/Dialect/Arc/ModelInfo.cpp
  lib/Dialect/Arc/Transforms/LegalizeStateUpdate.cpp
  lib/Dialect/Arc/Transforms/LowerClocksToFuncs.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  lib/Dialect/Arc/Transforms/StripSV.cpp
  test/Conversion/ConvertToArcs/convert-to-arcs.mlir
  test/Dialect/Arc/basic-errors.mlir
  test/Dialect/Arc/lower-clocks-to-funcs-errors.mlir
  test/Dialect/Arc/lower-clocks-to-funcs.mlir
  test/Dialect/Arc/lower-state-errors.mlir
  test/Dialect/Arc/lower-state.mlir
  tools/arcilator/arcilator-header-cpp.py
Owners: @fabianschuiki, @maerhart

[FIRRTL][LowerLayers] Update rwprobe operations if possible.
  lib/Dialect/FIRRTL/Transforms/LowerLayers.cpp
  test/Dialect/FIRRTL/lower-layers-errors.mlir
  test/Dialect/FIRRTL/lower-layers.mlir
  test/firtool/layers-rwprobe.fir
Owners: @darthscsi, @seldridge

[LowerIntmodules] Fix EICG_wrapper intrinsic lowering, swap en/test_en.
  lib/Dialect/FIRRTL/Transforms/LowerIntmodules.cpp
  test/Dialect/FIRRTL/lower-intmodules-eicg.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Remove module self-instantiation verifier
  lib/Dialect/FIRRTL/FIRRTLInstanceImplementation.cpp
  test/Dialect/FIRRTL/errors.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Add CheckRecursiveInstantiation diagnostic pass
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/CheckRecursiveInstantiation.cpp
  test/Dialect/FIRRTL/check-recursive-instantiation-errors.mlir
  test/Dialect/FIRRTL/check-recursive-instantiation.mlir
Owners: @darthscsi, @seldridge

[firtool] run CheckRecursiveInstantiation pass
  lib/Firtool/Firtool.cpp
Owners: none

[LowerIntmodules] Fix EICG_wrapper intrinsic lowering, swap en/test_en. (#7519)
  lib/Dialect/FIRRTL/Transforms/LowerIntmodules.cpp
  test/Dialect/FIRRTL/lower-intmodules-eicg.mlir
Owners: @darthscsi, @seldridge

[firtool] Change layer specialization CLI interface
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/firtool/specialize-layers-2.fir
  test/firtool/specialize-layers-cli.fir
  test/firtool/specialize-layers.fir
Owners: @darthscsi, @seldridge

[firtool] Change layer specialization CLI interface (#7520)
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/firtool/specialize-layers-2.fir
  test/firtool/specialize-layers-cli.fir
  test/firtool/specialize-layers.fir
Owners: @darthscsi, @seldridge

[firtool] run CheckRecursiveInstantiation pass
  lib/Firtool/Firtool.cpp
Owners: none

[FIRRTL] Add CheckRecursiveInstantiation diagnostic pass
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/CheckRecursiveInstantiation.cpp
  test/Dialect/FIRRTL/check-recursive-instantiation-errors.mlir
  test/Dialect/FIRRTL/check-recursive-instantiation.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Remove module self-instantiation verifier
  lib/Dialect/FIRRTL/FIRRTLInstanceImplementation.cpp
  test/Dialect/FIRRTL/errors.mlir
Owners: @darthscsi, @seldridge

[NFC] Add circt copy of upstream's linkify.
  utils/linkify.sh
Owners: none

[NFC] Fix missing eof newline.
  include/circt/Dialect/Seq/SeqEnums.h
  test/Conversion/ExportVerilog/bugs.mlir
  test/Dialect/DC/materialize-forks-sinks.mlir
  test/Dialect/FIRRTL/annotations.mlir
  test/Dialect/FIRRTL/eliminate-wires.mlir
  test/Dialect/FIRRTL/infer-resets-errors.mlir
  test/Dialect/FIRRTL/passive-wire.mlir
  test/Dialect/Handshake/split-merge.mlir
Owners: @mortbopet, @darthscsi, @seldridge, @Dinistro

[NFC] Add circt copy of upstream's linkify. (#7521)
  utils/linkify.sh
Owners: none

[FIRRTL] Update LowerClasses to alter what PathInfo stores.
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  test/Dialect/FIRRTL/lower-classes.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Update LowerClasses to alter what PathInfo stores. (#7522)
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  test/Dialect/FIRRTL/lower-classes.mlir
Owners: @darthscsi, @seldridge

[LLHD] Align signals with other wire/variable ops
  include/circt/Dialect/LLHD/IR/LLHDSignalOps.td
  lib/Conversion/MooreToCore/MooreToCore.cpp
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  lib/Dialect/LLHD/Transforms/EarlyCodeMotionPass.cpp
  test/Conversion/MooreToCore/basic.mlir
  test/Dialect/LLHD/IR/basic.mlir
  test/Dialect/LLHD/Transforms/temporal-code-motion.mlir
Owners: @fabianschuiki, @maerhart

[LLHD] Align signals with other wire/variable ops (#7523)
  include/circt/Dialect/LLHD/IR/LLHDSignalOps.td
  lib/Conversion/MooreToCore/MooreToCore.cpp
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  lib/Dialect/LLHD/Transforms/EarlyCodeMotionPass.cpp
  test/Conversion/MooreToCore/basic.mlir
  test/Dialect/LLHD/IR/basic.mlir
  test/Dialect/LLHD/Transforms/temporal-code-motion.mlir
Owners: @fabianschuiki, @maerhart

[ExportVerilog] Don't inline unpacked array assignments
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  test/Conversion/ExportVerilog/sv-dialect.mlir
  test/Conversion/ExportVerilog/verilog-basic.mlir
  test/firtool/dpi.fir
Owners: none
