Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

[MooreToCore] Support ConditionalOp
  include/circt/Conversion/Passes.td
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/MooreToCore/CMakeLists.txt
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[HW][CAPI] Add a function to get an empty `InnerSymAttr`
  include/circt-c/Dialect/HW.h
  lib/CAPI/Dialect/HW.cpp
Owners: none

[MooreToCore] Support ConditionalOp (#7501)
  include/circt/Conversion/Passes.td
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/MooreToCore/CMakeLists.txt
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[MooreToCore] Support CaseZEq and CaseXZEq ops
  include/circt/Support/FVInt.h
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[MooreToCore] Support CaseZEq and CaseXZEq ops (#7503)
  include/circt/Support/FVInt.h
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[LLHD] Add `llhd.delay` operation
  include/circt/Dialect/LLHD/IR/SignalOps.td
  test/Dialect/LLHD/IR/basic.mlir
  test/Dialect/LLHD/IR/errors.mlir
Owners: @fabianschuiki, @maerhart

[LLHD] Add `llhd.delay` operation (#7505)
  include/circt/Dialect/LLHD/IR/SignalOps.td
  test/Dialect/LLHD/IR/basic.mlir
  test/Dialect/LLHD/IR/errors.mlir
Owners: @fabianschuiki, @maerhart

Explain IR acronym in README
  README.md
Owners: none

fix: remove redundant function declaration
  lib/Dialect/FIRRTL/Transforms/CheckUninferredResets.cpp
Owners: @darthscsi, @seldridge

refactor: nest CheckUninferredResets on FModuleLike
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Transforms/CheckUninferredResets.cpp
  lib/Firtool/Firtool.cpp
  test/Dialect/FIRRTL/infer-resets-errors.mlir
Owners: @darthscsi, @seldridge

test: add a test to verify legal uninferred reset
  test/Dialect/FIRRTL/legal-uninferred-resets.mlir
Owners: @darthscsi, @seldridge

[LLHD] Clean up regression tests a bit
  test/Dialect/LLHD/IR/basic.mlir
  test/Dialect/LLHD/IR/connect-errors.mlir
  test/Dialect/LLHD/IR/connect.mlir
  test/Dialect/LLHD/IR/errors.mlir
  test/Dialect/LLHD/IR/extract-errors.mlir
  test/Dialect/LLHD/IR/extract.mlir
  test/Dialect/LLHD/IR/memory-errors.mlir
  test/Dialect/LLHD/IR/memory.mlir
  test/Dialect/LLHD/IR/reg.mlir
  test/Dialect/LLHD/IR/signal-errors.mlir
  test/Dialect/LLHD/IR/signal.mlir
  test/Dialect/LLHD/IR/type-and-attribute-parsing.mlir
  test/Dialect/LLHD/IR/wait.mlir
Owners: @fabianschuiki, @maerhart

[LLHD] Clean up regression tests a bit (#7507)
  test/Dialect/LLHD/IR/basic.mlir
  test/Dialect/LLHD/IR/connect-errors.mlir
  test/Dialect/LLHD/IR/connect.mlir
  test/Dialect/LLHD/IR/errors.mlir
  test/Dialect/LLHD/IR/extract-errors.mlir
  test/Dialect/LLHD/IR/extract.mlir
  test/Dialect/LLHD/IR/memory-errors.mlir
  test/Dialect/LLHD/IR/memory.mlir
  test/Dialect/LLHD/IR/reg.mlir
  test/Dialect/LLHD/IR/signal-errors.mlir
  test/Dialect/LLHD/IR/signal.mlir
  test/Dialect/LLHD/IR/type-and-attribute-parsing.mlir
  test/Dialect/LLHD/IR/wait.mlir
Owners: @fabianschuiki, @maerhart

[LLHD] Remove RegOp
  include/circt/Dialect/LLHD/IR/SignalOps.td
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  test/Dialect/LLHD/IR/basic.mlir
Owners: @fabianschuiki, @maerhart

[LLHD] Remove RegOp (#7508)
  include/circt/Dialect/LLHD/IR/SignalOps.td
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  test/Dialect/LLHD/IR/basic.mlir
Owners: @fabianschuiki, @maerhart

[LLHD] Remove OutputOp
  include/circt/Dialect/LLHD/IR/SignalOps.td
  test/Dialect/LLHD/IR/basic.mlir
Owners: @fabianschuiki, @maerhart

[LLHD][NFC] Clean up some LLHD files
  include/circt/Dialect/LLHD/IR/CMakeLists.txt
  include/circt/Dialect/LLHD/IR/LLHD.td
  include/circt/Dialect/LLHD/IR/LLHDDialect.td
  include/circt/Dialect/LLHD/IR/LLHDExtractOps.td
  include/circt/Dialect/LLHD/IR/LLHDMemoryOps.td
  include/circt/Dialect/LLHD/IR/LLHDSignalOps.td
  include/circt/Dialect/LLHD/IR/LLHDStructureOps.td
  include/circt/Dialect/LLHD/IR/LLHDTypes.td
  include/circt/Dialect/LLHD/IR/LLHDValueOps.td
  include/circt/Dialect/LLHD/Transforms/Passes.td
  lib/Dialect/LLHD/IR/LLHDDialect.cpp
  lib/Dialect/LLHD/IR/LLHDOps.cpp
Owners: @fabianschuiki, @maerhart

[LLHD][NFC] Clean up some LLHD files (#7509)
  include/circt/Dialect/LLHD/IR/CMakeLists.txt
  include/circt/Dialect/LLHD/IR/LLHD.td
  include/circt/Dialect/LLHD/IR/LLHDDialect.td
  include/circt/Dialect/LLHD/IR/LLHDExtractOps.td
  include/circt/Dialect/LLHD/IR/LLHDMemoryOps.td
  include/circt/Dialect/LLHD/IR/LLHDSignalOps.td
  include/circt/Dialect/LLHD/IR/LLHDStructureOps.td
  include/circt/Dialect/LLHD/IR/LLHDTypes.td
  include/circt/Dialect/LLHD/IR/LLHDValueOps.td
  include/circt/Dialect/LLHD/Transforms/Passes.td
  lib/Dialect/LLHD/IR/LLHDDialect.cpp
  lib/Dialect/LLHD/IR/LLHDOps.cpp
Owners: @fabianschuiki, @maerhart

[Comb][Canonicalize] Best effort dialect attribute propagation
  lib/Dialect/Comb/CombFolds.cpp
  test/Dialect/Comb/canonicalization.mlir
Owners: @darthscsi

comb patch: fix op use after replace
  lib/Dialect/Comb/CombFolds.cpp
Owners: @darthscsi

Morten's feedback
  include/circt/Dialect/ESI/ESIManifest.td
  test/Dialect/ESI/manifest.mlir
Owners: @teqdruid

[ESI][Manifest] Embed constants in manifest (#7489)
  include/circt/Dialect/ESI/ESIInterfaces.td
  include/circt/Dialect/ESI/ESIManifest.td
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/Passes/ESIBuildManifest.cpp
  lib/Dialect/ESI/runtime/cpp/include/esi/Common.h
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  test/Dialect/ESI/manifest.mlir
Owners: @teqdruid

Create hierarchy only for DUT memories and fixup path creation
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
Owners: @darthscsi, @seldridge

[CreateSifiveMetadata] Update memory hierarchy paths to be pre-extraction
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
  test/Dialect/FIRRTL/SFCTests/directories.fir
  test/Dialect/FIRRTL/emit-metadata.mlir
Owners: @darthscsi, @seldridge

Fix lit tests
  test/Dialect/FIRRTL/emit-metadata.mlir
  test/firtool/prefixMemory.fir
Owners: @darthscsi, @seldridge

Fix typo
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
Owners: @darthscsi, @seldridge

[CreateSifiveMetadata] Update memory hierarchy paths to be pre-extrction (#7491)
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
  test/Dialect/FIRRTL/SFCTests/directories.fir
  test/Dialect/FIRRTL/emit-metadata.mlir
  test/firtool/prefixMemory.fir
Owners: @darthscsi, @seldridge

[ESI][Runtime] Parse and expose manifest constants (#7492)
  integration_test/Dialect/ESI/runtime/loopback.mlir
  integration_test/Dialect/ESI/runtime/loopback.mlir.py
  lib/Dialect/ESI/runtime/cpp/include/esi/Common.h
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/esiCppAccel.cpp
Owners: @teqdruid

[PyCDE] Fixing integration tests
  frontends/PyCDE/integration_test/test_software/esi_ram.py
  lib/Dialect/ESI/runtime/python/esiaccel/types.py
Owners: @teqdruid

[PyCDE] Support for adding module constants to manifests
  frontends/PyCDE/integration_test/esi_test.py
  frontends/PyCDE/integration_test/test_software/esi_test.py
  frontends/PyCDE/src/pycde/common.py
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/src/pycde/support.py
  frontends/PyCDE/test/test_esi.py
Owners: none

Add ListConcatOp to FIRRTLVisitors.
  include/circt/Dialect/FIRRTL/FIRRTLVisitors.h
Owners: @darthscsi, @seldridge

[OM] Add list concatenation operation. (#7487)
  include/circt/Dialect/OM/OMOps.td
  test/Dialect/OM/round-trip.mlir
Owners: none

[FIRRTL] Add list concatenation operation. (#7486)
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  include/circt/Dialect/FIRRTL/FIRRTLVisitors.h
  test/Dialect/FIRRTL/round-trip.mlir
Owners: @darthscsi, @seldridge

[Verif] Generalize Formal Contracts (#7495)
  include/circt/Dialect/Verif/VerifOps.td
  lib/Dialect/Verif/VerifOps.cpp
  test/Dialect/Verif/basic.mlir
Owners: none

[FIRRTL] Add list concatenation parser support. (#7512)
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Import/FIRTokenKinds.def
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/parse-errors.fir
Owners: @darthscsi, @seldridge

[FIRRTL] Add list concatenation conversion to LowerClasses. (#7513)
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  test/Dialect/FIRRTL/lower-classes.mlir
Owners: @darthscsi, @seldridge

Pluralize "Representations"
  README.md
Owners: none

[Moore] Fix mem2reg for variables with non-packed types
  include/circt/Dialect/Moore/MooreOps.td
  lib/Dialect/Moore/MooreOps.cpp
  test/Conversion/ImportVerilog/basic.sv
Owners: none

Explain IR acronym in README (#7506)
  README.md
Owners: none

Unify getFieldsOp API
  include/circt/Dialect/OM/OMOpInterfaces.td
  lib/Dialect/OM/OMOps.cpp
Owners: none

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive
