Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

[FIRRTL] Add integer shift left parser support (#7659)
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Import/FIRTokenKinds.def
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/parse-errors.fir
Owners: @darthscsi, @seldridge

[FIRRTL] Add integer shift left conversion to LowerClasses
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  test/Dialect/FIRRTL/lower-classes.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Add integer shift left conversion to LowerClasses (#7660)
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  test/Dialect/FIRRTL/lower-classes.mlir
Owners: @darthscsi, @seldridge

Fix compiler warnings
  lib/Dialect/DC/Transforms/DCPrintDot.cpp
  unittests/Dialect/OM/Evaluator/EvaluatorTests.cpp
Owners: @mortbopet

[HWToSMT] ArrayCreateOp and ArrayGetOp support
  integration_test/circt-lec/hw.mlir
  lib/Conversion/HWToSMT/HWToSMT.cpp
Owners: none

Add fields location API
  include/circt/Dialect/OM/OMOps.td
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  lib/Dialect/OM/Evaluator/Evaluator.cpp
  lib/Dialect/OM/OMOps.cpp
Owners: @darthscsi, @seldridge

Fix evaluator test
  unittests/Dialect/OM/Evaluator/EvaluatorTests.cpp
Owners: none

Clang format
  unittests/Dialect/OM/Evaluator/EvaluatorTests.cpp
Owners: none

checkpoint
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/common.py
  frontends/PyCDE/src/pycde/esi.py
  frontends/PyCDE/src/pycde/signals.py
  frontends/PyCDE/src/pycde/support.py
  include/circt/Dialect/ESI/ESIManifest.td
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/ESIServices.cpp
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Common.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Cosim.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Trace.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Xrt.h
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esiquery.cpp
Owners: @teqdruid

fixed bug with empty transitions reg
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

i lied NOW it's fixed
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

fixed bug with bool/ints
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

nested if control
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  test/Conversion/SCFToCalyx/convert_controlflow.mlir
Owners: @mikeurbach, @mortbopet

[FIRRTL][CAPI] Add documentation
  include/circt-c/Dialect/FIRRTL.h
  lib/CAPI/Dialect/FIRRTL.cpp
Owners: @darthscsi, @seldridge

scf index switch to if-else
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Owners: @mikeurbach, @mortbopet

memory banking
  include/circt/Conversion/Passes.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Owners: @mikeurbach, @mortbopet

[LLHD][HW] Implement SROA interfaces
  include/circt/Dialect/HW/HWTypes.h
  include/circt/Dialect/HW/HWTypesImpl.td
  include/circt/Dialect/LLHD/IR/LLHD.td
  include/circt/Dialect/LLHD/IR/LLHDExtractOps.td
  include/circt/Dialect/LLHD/IR/LLHDOps.h
  include/circt/Dialect/LLHD/IR/LLHDSignalOps.td
  lib/Dialect/HW/CMakeLists.txt
  lib/Dialect/HW/HWTypes.cpp
  lib/Dialect/LLHD/IR/CMakeLists.txt
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  test/Dialect/LLHD/Transforms/sroa.mlir
Owners: @darthscsi, @fabianschuiki, @maerhart

support for outputs
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

remove the need for json to specify the number of banks for each memory allocation
  include/circt/Conversion/Passes.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Owners: @mikeurbach, @mortbopet

fix type cast
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Owners: @mikeurbach, @mortbopet

change git src for slang
  CMakeLists.txt
Owners: none

change git src for slang (#1)
  CMakeLists.txt
Owners: none

Revert changes to the original layer sink pass
  lib/Dialect/FIRRTL/Transforms/LayerSink.cpp
Owners: @darthscsi, @seldridge

cleanup
  lib/Firtool/Firtool.cpp
Owners: none

Advanced LayerSink
  include/circt/Dialect/FIRRTL/Passes.td
  include/circt/Firtool/Firtool.h
  lib/Dialect/FIRRTL/Transforms/LayerSink.cpp
  lib/Firtool/Firtool.cpp
  test/Dialect/FIRRTL/layer-sink.mlir
  test/Dialect/FIRRTL/ref.mlir
Owners: @darthscsi, @seldridge

More changed for advanced layer sink
  include/circt/Dialect/FIRRTL/Passes.td
  include/circt/Firtool/Firtool.h
  lib/Firtool/Firtool.cpp
Owners: @darthscsi, @seldridge

More minor cleanup
  lib/Firtool/Firtool.cpp
  test/Dialect/FIRRTL/advanced-layer-sink.mlir
Owners: @darthscsi, @seldridge

More cleanup
  include/circt/Dialect/FIRRTL/Passes.h
  lib/Dialect/FIRRTL/Transforms/AdvancedLayerSink.cpp
  lib/Firtool/Firtool.cpp
Owners: @darthscsi, @seldridge

Move advanced layer sink to its own pass
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Transforms/AdvancedLayerSink.cpp
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
Owners: @darthscsi, @seldridge

Moved advanced-layer-sink tests to dedicated mlir file
  test/Dialect/FIRRTL/advanced-layer-sink.mlir
  test/Dialect/FIRRTL/layer-sink.mlir
Owners: @darthscsi, @seldridge

Remove phase1: already dropped phase2 so just do it
  lib/Dialect/FIRRTL/Transforms/AdvancedLayerSink.cpp
Owners: @darthscsi, @seldridge

Improve boolean check
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
Owners: @darthscsi, @seldridge

[LLHD][HW] Implement SROA interfaces (#7672)
  include/circt/Dialect/HW/HWTypes.h
  include/circt/Dialect/HW/HWTypesImpl.td
  include/circt/Dialect/LLHD/IR/LLHD.td
  include/circt/Dialect/LLHD/IR/LLHDExtractOps.td
  include/circt/Dialect/LLHD/IR/LLHDOps.h
  include/circt/Dialect/LLHD/IR/LLHDSignalOps.td
  lib/Dialect/HW/CMakeLists.txt
  lib/Dialect/HW/HWTypes.cpp
  lib/Dialect/LLHD/IR/CMakeLists.txt
  lib/Dialect/LLHD/IR/LLHDOps.cpp
  test/Dialect/LLHD/Transforms/sroa.mlir
Owners: @darthscsi, @fabianschuiki, @maerhart

Typo: add advanced layer sink pass, not og layer sink
  lib/Firtool/Firtool.cpp
Owners: none

Implement trigger ops.
  include/circt/Dialect/Sim/SimOps.h
  include/circt/Dialect/Sim/SimOps.td
  include/circt/Dialect/Sim/SimTypes.h
  include/circt/Dialect/Sim/SimTypes.td
  lib/Dialect/Sim/SimDialect.cpp
  lib/Dialect/Sim/SimOps.cpp
Owners: none

Add trigger tests
  include/circt/Dialect/Sim/SimOps.td
  test/Dialect/Sim/sim-errors.mlir
  test/Dialect/Sim/triggers.mlir
Owners: none

Don't CSE TriggerSequenceOps
  include/circt/Dialect/Sim/SimOps.td
  lib/Dialect/Sim/SimOps.cpp
  test/Dialect/Sim/triggers.mlir
Owners: none

EOF
  test/Dialect/Sim/triggers.mlir
Owners: none

[FIRRTL] InferResets: properly lower FART'd registers
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  test/Dialect/FIRRTL/infer-resets.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] InferResets: properly lower FART'd registers
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  test/Dialect/FIRRTL/infer-resets.mlir
Owners: @darthscsi, @seldridge

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive
