Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

[FIRRTL] Test whitespace cleanup, NFC
  test/Dialect/FIRRTL/extract-instances.mlir
Owners: @darthscsi, @seldridge

Move the verifier to InstanceGraphInstanceOpInterface
  include/circt/Dialect/HW/HWOpInterfaces.td
  include/circt/Support/InstanceGraphInterface.td
Owners: @darthscsi

[HW] Add a verifier for HWInstanceLike
  include/circt/Dialect/HW/HWOpInterfaces.td
Owners: @darthscsi

Update error message
  include/circt/Support/InstanceGraphInterface.td
Owners: none

memory banking transform
  include/circt/Transforms/Passes.h
  include/circt/Transforms/Passes.td
  lib/Transforms/CMakeLists.txt
  lib/Transforms/MemoryBanking.cpp
  test/Transforms/memory_banking.mlir
Owners: none

refactor the code and test cases; include invalid test case when the banking factor is zero
  include/circt/Transforms/Passes.h
  lib/Transforms/CMakeLists.txt
  lib/Transforms/MemoryBanking.cpp
  test/Transforms/memory_bank_invalid.mlir
  test/Transforms/memory_banking.mlir
Owners: none

fixup! [FIRRTL] Add layer support to ExtractInstances
  lib/Dialect/FIRRTL/Transforms/ExtractInstances.cpp
Owners: @darthscsi, @seldridge

fixup! [FIRRTL] Add layer support to ExtractInstances
  lib/Dialect/FIRRTL/Transforms/ExtractInstances.cpp
Owners: @darthscsi, @seldridge

playing with the CI test check
  test/Transforms/memory_banking.mlir
Owners: none

[FIRRTL] Add layer support to ExtractInstances (#7807)
  lib/Dialect/FIRRTL/Transforms/ExtractInstances.cpp
  test/Dialect/FIRRTL/extract-instances.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Move LowerLayers after ExtractInstances
  lib/Firtool/Firtool.cpp
Owners: none

[HW] Add a verifier for InstanceOpInterface(#7782)
  include/circt/Support/InstanceGraphInterface.td
Owners: none

[ESI] Implement basic hostmem reads lacking a bunch of functionality (#7803)
  frontends/PyCDE/integration_test/esitester.py
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/bsp/cosim.py
  frontends/PyCDE/src/pycde/constructs.py
  frontends/PyCDE/src/pycde/esi.py
  frontends/PyCDE/test/test_esi.py
  lib/Dialect/ESI/runtime/cpp/include/esi/Services.h
  lib/Dialect/ESI/runtime/cpp/lib/Services.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esitester.cpp
Owners: @teqdruid

address use after free
  lib/Transforms/MemoryBanking.cpp
Owners: none

[FIRRTL] Bump nextFIRVersion to 4.0.0 in the parser
  include/circt/Dialect/FIRRTL/FIRParser.h
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/parse-errors.fir
  test/firtool/classes-dedupe.fir
Owners: @darthscsi, @seldridge

[Seq] FIFO: permit any type and add read latency
  include/circt/Dialect/Seq/SeqOps.td
  lib/Dialect/Seq/Transforms/LowerSeqFIFO.cpp
  test/Dialect/Seq/lower-fifo.mlir
Owners: none

[FIRRTL] Bump nextFIRVersion to 4.0.0 in the parser (#7808)
  include/circt/Dialect/FIRRTL/FIRParser.h
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/parse-errors.fir
  test/firtool/classes-dedupe.fir
Owners: @darthscsi, @seldridge

[FIRRTL] Document how to deal with specification releases
  docs/Dialects/FIRRTL/RationaleFIRRTL.md
Owners: @darthscsi, @seldridge

[FIRRTL] Move LowerLayers after ExtractInstances (#7809)
  lib/Firtool/Firtool.cpp
Owners: none

[PyCDE] Binding for FIFOs
  frontends/PyCDE/src/CMakeLists.txt
  frontends/PyCDE/src/pycde/seq.py
  frontends/PyCDE/test/test_seq.py
Owners: none

[FIRRTL] Document how to deal with specification releases (#7811)
  docs/Dialects/FIRRTL/RationaleFIRRTL.md
Owners: @darthscsi, @seldridge

[DC] Add data-only pack/unpack operations
  lib/Conversion/HandshakeToDC/HandshakeToDC.cpp
  test/Conversion/HandshakeToDC/basic.mlir
Owners: @Dinistro, @mortbopet

return success only when we rewrote
  include/circt/Transforms/Passes.td
  lib/Transforms/MemoryBanking.cpp
Owners: none

reducing 'auto's and updating casts
  lib/Conversion/HandshakeToDC/HandshakeToDC.cpp
Owners: @Dinistro, @mortbopet

change back to funcOp
  include/circt/Transforms/Passes.td
  lib/Transforms/MemoryBanking.cpp
Owners: none

[HandshakeToDC] Add pack/unpack lowering patterns (#6941)
  lib/Conversion/HandshakeToDC/HandshakeToDC.cpp
  test/Conversion/HandshakeToDC/basic.mlir
Owners: @Dinistro, @mortbopet

[FIRRTL][NFC] Emitter clang formatting
  lib/Dialect/FIRRTL/Export/FIREmitter.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] Accept list of parameters for `formal` construct
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  lib/Dialect/FIRRTL/Export/FIREmitter.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/emit-basic.mlir
  test/Dialect/FIRRTL/parse-basic.fir
  test/Dialect/FIRRTL/round-trip.mlir
Owners: @darthscsi, @seldridge

[FIRRTL][NFC] Fix typo in InstanceOp summary
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
Owners: @darthscsi, @seldridge

remove getBankingFactor function argument in the constructor
  include/circt/Transforms/Passes.h
  lib/Transforms/MemoryBanking.cpp
Owners: none

[Transforms] Create memory banks for memories used inside affine parallel loops (#7804)
  include/circt/Transforms/Passes.h
  include/circt/Transforms/Passes.td
  lib/Transforms/CMakeLists.txt
  lib/Transforms/MemoryBanking.cpp
  test/Transforms/memory_bank_invalid.mlir
  test/Transforms/memory_banking.mlir
Owners: none

Fix Windows build
  lib/Transforms/MemoryBanking.cpp
Owners: none

[firtool] Run CSE on classes
  lib/Firtool/Firtool.cpp
Owners: none

[FIRRTL] Dedup: speed up handling of instances
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] Dedup: record less indices when hashing
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
Owners: @darthscsi, @seldridge

[firtool] Run CSE on classes (#7814)
  lib/Firtool/Firtool.cpp
Owners: none

[FIRRTL] Dedup: speed up handling of instances (#7815)
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] Dedup: record less indices when hashing (#7816)
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
Owners: @darthscsi, @seldridge

[ExportVerilog] Do not inline non-procedural continuous assignments to variables
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  test/Conversion/ExportVerilog/sv-dialect.mlir
Owners: none

[ExportVerilog] Do not inline non-procedural continuous assignments to variables (#7817)
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  test/Conversion/ExportVerilog/sv-dialect.mlir
Owners: none

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive
