Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive

comment and formatting
  lib/Dialect/ESI/ESIServices.cpp
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Cosim.h
Owners: @teqdruid

[ESI] Support service generators producing service requests
  lib/Dialect/ESI/ESIServices.cpp
Owners: @teqdruid

Clean up
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Common.h
  lib/Dialect/ESI/runtime/cpp/tools/esiquery.cpp
Owners: @teqdruid

[ESI] Promote and generalize 'channel assignments'
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/esi.py
  include/circt/Dialect/ESI/ESIManifest.td
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/ESIServices.cpp
  lib/Dialect/ESI/runtime/cpp/include/esi/Common.h
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  test/Dialect/ESI/manifest.mlir
  test/Dialect/ESI/services.mlir
Owners: @teqdruid

[ESI][Runtime] Add service context to bundle requests
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Cosim.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Trace.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Xrt.h
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Xrt.cpp
Owners: @teqdruid

[ESI][Runtime] Parse AppIDs into std::any
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
Owners: @teqdruid

[ESI] Promote and generalize 'channel assignments' (#7715)
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/esi.py
  include/circt/Dialect/ESI/ESIManifest.td
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/ESIServices.cpp
  lib/Dialect/ESI/runtime/cpp/include/esi/Common.h
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  test/Dialect/ESI/manifest.mlir
  test/Dialect/ESI/services.mlir
Owners: @teqdruid

[docs] Fix broken image links in docs (#7710)
  docs/FormalVerification.md
  docs/GettingStarted.md
Owners: none

[ESI][Runtime] Install Logging.h
  lib/Dialect/ESI/runtime/CMakeLists.txt
Owners: @teqdruid

Bug fix: chiselEnum field access resolved for memports
  lib/Dialect/FIRRTL/Transforms/LowerAnnotations.cpp
Owners: @darthscsi, @seldridge

last-minute bug
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

[HW][Seq] Allow typed attr to be an element of aggregate_constant and make seq.const_clock typed attr
  include/circt/Dialect/Seq/SeqAttributes.td
  lib/Conversion/SeqToSV/SeqToSV.cpp
  lib/Dialect/HW/HWOps.cpp
  lib/Dialect/Seq/SeqAttributes.cpp
  test/Dialect/HW/errors.mlir
  test/Dialect/HW/round-trip.mlir
  test/Dialect/Seq/clock-type.mlir
Owners: @darthscsi

[RTG] Add driver tool
  include/circt/Target/EmitRTGAssembly.h
  lib/Target/EmitRTGAssembly/EmitRTGAssembly.cpp
  test/CMakeLists.txt
  test/Tools/rtgtool/basic.mlir
  test/Tools/rtgtool/unsupported-instructions.mlir
  test/lit.cfg.py
  tools/CMakeLists.txt
  tools/rtgtool/CMakeLists.txt
  tools/rtgtool/rtgtool.cpp
Owners: none

Fix compiler warning
  lib/Target/EmitRTGAssembly/EmitRTGAssembly.cpp
Owners: none

Fix ElaborationPass randomness
  include/circt/Dialect/RTG/Transforms/RTGPasses.h
  include/circt/Dialect/RTG/Transforms/RTGPasses.td
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/Tools/rtgtool/basic.mlir
  tools/rtgtool/rtgtool.cpp
Owners: none

[rtgtool] Add dialect plugin support
  tools/rtgtool/CMakeLists.txt
  tools/rtgtool/rtgtool.cpp
Owners: none

Advanced LayerSink
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  include/circt/Firtool/Firtool.h
  lib/Dialect/FIRRTL/Transforms/AdvancedLayerSink.cpp
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Firtool/Firtool.cpp
  test/Dialect/FIRRTL/advanced-layer-sink.mlir
  test/Dialect/FIRRTL/ref.mlir
Owners: @darthscsi, @seldridge

[Verif] Add ignore attribute to formal
  test/circt-test/basic.mlir
  test/circt-test/include-ignored.mlir
  tools/circt-test/circt-test.cpp
Owners: none

[FIRRTL] Convert CheckLayers to use InstanceInfo
  lib/Dialect/FIRRTL/Transforms/CheckLayers.cpp
Owners: @darthscsi, @seldridge

fixup! [FIRRTL] Use upstream DFS in CheckLayers
  lib/Dialect/FIRRTL/Transforms/CheckLayers.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] Use upstream DFS in CheckLayers
  lib/Dialect/FIRRTL/Transforms/CheckLayers.cpp
Owners: @darthscsi, @seldridge

fixup! fixup! [FIRRTL] Use upstream DFS in CheckLayers
  lib/Dialect/FIRRTL/Transforms/CheckLayers.cpp
Owners: @darthscsi, @seldridge

Use hasAttrOfType<BoolAttr>
  tools/circt-test/circt-test.cpp
Owners: none

[FIRRTL] Convert CheckLayers to use InstanceInfo (#7635)
  lib/Dialect/FIRRTL/Transforms/CheckLayers.cpp
Owners: @darthscsi, @seldridge

[arcilator] Add clock divider integration test
  integration_test/arcilator/JIT/clock-divider.mlir
Owners: none

[Arc] Improve LowerState to never produce read-after-write conflicts
  include/circt/Dialect/Arc/ArcPasses.h
  include/circt/Dialect/Arc/ArcPasses.td
  integration_test/arcilator/JIT/dpi.mlir
  integration_test/arcilator/JIT/initial-shift-reg.mlir
  integration_test/arcilator/JIT/reg.mlir
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  lib/Dialect/Arc/ArcTypes.cpp
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/LegalizeStateUpdate.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  lib/Dialect/Arc/Transforms/LowerStateRewrite.cpp
  test/Dialect/Arc/legalize-state-update-error.mlir
  test/Dialect/Arc/legalize-state-update.mlir
  test/Dialect/Arc/lower-state-errors.mlir
  test/Dialect/Arc/lower-state.mlir
  test/arcilator/arcilator.mlir
  tools/arcilator/arcilator.cpp
Owners: @fabianschuiki, @maerhart

[Arc] Remove obsolete arc.clock_tree and arc.passthrough ops
  include/circt/Dialect/Arc/ArcOps.td
  lib/Dialect/Arc/Transforms/LowerClocksToFuncs.cpp
  test/Dialect/Arc/allocate-state.mlir
  test/Dialect/Arc/lower-clocks-to-funcs-errors.mlir
  test/Dialect/Arc/lower-clocks-to-funcs.mlir
Owners: @fabianschuiki, @maerhart

Advanced LayerSink
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  include/circt/Firtool/Firtool.h
  lib/Dialect/FIRRTL/Transforms/AdvancedLayerSink.cpp
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Firtool/Firtool.cpp
  test/Dialect/FIRRTL/advanced-layer-sink.mlir
  test/Dialect/FIRRTL/ref.mlir
Owners: @darthscsi, @seldridge

Fold into one test using check-prefix
  test/circt-test/basic.mlir
  test/circt-test/include-ignored.mlir
Owners: none

[OM] Rework ClassOp to use return style for class fields (#7537)
  include/circt/Dialect/OM/OMOpInterfaces.h
  include/circt/Dialect/OM/OMOpInterfaces.td
  include/circt/Dialect/OM/OMOps.h
  include/circt/Dialect/OM/OMOps.td
  integration_test/Bindings/Python/dialects/om.py
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  lib/Dialect/OM/Evaluator/Evaluator.cpp
  lib/Dialect/OM/OMOps.cpp
  lib/Dialect/OM/Transforms/FreezePaths.cpp
  lib/Dialect/OM/Transforms/LinkModules.cpp
  lib/Dialect/OM/Transforms/VerifyObjectFields.cpp
  test/CAPI/om.c
  test/Dialect/FIRRTL/SFCTests/directories.fir
  test/Dialect/FIRRTL/lower-classes.mlir
  test/Dialect/OM/errors.mlir
  test/Dialect/OM/freeze-paths-errors.mlir
  test/Dialect/OM/freeze-paths.mlir
  test/Dialect/OM/link-modules-error.mlir
  test/Dialect/OM/link-modules.mlir
  test/Dialect/OM/round-trip.mlir
  test/firtool/classes-dedupe.fir
  test/om-linker/Inputs/a.mlir
  test/om-linker/Inputs/b.mlir
  test/om-linker/link.mlir
  unittests/Dialect/OM/Evaluator/EvaluatorTests.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] Inline annotations for test, NFC
  test/firtool/memoryLowering.fir
  test/firtool/memoryLowering.fir.anno.json
Owners: none

[FIRRTL] Fix InstanceInfo top-is-DUT bug
  lib/Analysis/FIRRTLInstanceInfo.cpp
  test/Analysis/firrtl-test-instance-info.mlir
Owners: @darthscsi, @seldridge

[HW][Seq] Allow typed attr to be an element of aggregate_constant and make seq.const_clock typed attr (#7718)
  include/circt/Dialect/Seq/SeqAttributes.td
  lib/Conversion/SeqToSV/SeqToSV.cpp
  lib/Dialect/HW/HWOps.cpp
  lib/Dialect/Seq/SeqAttributes.cpp
  test/Dialect/HW/errors.mlir
  test/Dialect/HW/round-trip.mlir
  test/Dialect/Seq/clock-type.mlir
Owners: @darthscsi

[rtgtool] Support piping into the tool
  tools/rtgtool/rtgtool.cpp
Owners: none

[rtgtool] Fix dialect plugin loading
  tools/rtgtool/rtgtool.cpp
Owners: none

Advanced LayerSink (#7548)
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  include/circt/Firtool/Firtool.h
  lib/Dialect/FIRRTL/Transforms/AdvancedLayerSink.cpp
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Firtool/Firtool.cpp
  test/Dialect/FIRRTL/advanced-layer-sink.mlir
  test/Dialect/FIRRTL/ref.mlir
Owners: @darthscsi, @seldridge

Use getAttrOfType
  tools/circt-test/circt-test.cpp
Owners: none

[FIRRTL] Use InstanceInfo in CreateSiFiveMetadata
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
Owners: @darthscsi, @seldridge

[FIRRTL][AdvLayerSink][NFC] Rename 'module' for C++20.
  lib/Dialect/FIRRTL/Transforms/AdvancedLayerSink.cpp
Owners: @darthscsi, @seldridge

[FIRRTL][PrefixModules][NFC] Use else-if in dyn_cast chain.
  lib/Dialect/FIRRTL/Transforms/PrefixModules.cpp
Owners: @darthscsi, @seldridge
