Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

Refactor buildFieldAttrs logic
  lib/Dialect/OM/OMOps.cpp
Owners: none

Clang format
  lib/Dialect/OM/OMOps.cpp
Owners: none

[Moore] Improve WaitEventOp, lower to LLHD
  include/circt/Dialect/LLHD/IR/LLHDStructureOps.td
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Statements.cpp
  lib/Conversion/ImportVerilog/TimingControls.cpp
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/MooreToCore/basic.mlir
  test/Dialect/LLHD/IR/basic.mlir
  test/Dialect/Moore/basic.mlir
  tools/circt-verilog/circt-verilog.cpp
Owners: @fabianschuiki, @maerhart

Refactor parseFields code
  lib/Dialect/OM/OMOps.cpp
Owners: none

Reorganize code
  lib/Dialect/OM/OMOps.cpp
Owners: none

Simplify parse logic
  lib/Dialect/OM/OMOps.cpp
Owners: none

Merge print code
  lib/Dialect/OM/OMOps.cpp
Owners: none

Clang format
  lib/Dialect/OM/OMOps.cpp
Owners: none

[Moore] Improve WaitEventOp, lower to LLHD (#7518)
  include/circt/Dialect/LLHD/IR/LLHDStructureOps.td
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Statements.cpp
  lib/Conversion/ImportVerilog/TimingControls.cpp
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/MooreToCore/basic.mlir
  test/Dialect/LLHD/IR/basic.mlir
  test/Dialect/Moore/basic.mlir
  tools/circt-verilog/circt-verilog.cpp
Owners: @fabianschuiki, @maerhart

Add attribute/location support
  lib/Dialect/OM/OMOps.cpp
  test/Dialect/OM/round-trip.mlir
Owners: none

[firrtl] Fix bug in sibling layer specialization
  lib/Dialect/FIRRTL/Transforms/SpecializeLayers.cpp
  test/Dialect/FIRRTL/specialize-layers.mlir
Owners: @darthscsi, @seldridge

[firrtl] Test whitespace cleanup, NFC
  test/Dialect/FIRRTL/specialize-layers.mlir
Owners: @darthscsi, @seldridge

[CombFolds] Don't canonicalize extract(shl(1, x)) if shift is multiply used
  lib/Dialect/Comb/CombFolds.cpp
  test/Dialect/Comb/canonicalization.mlir
Owners: @darthscsi

[ExportVerilog] Don't inline unpacked array assignments (#4548)
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  test/Conversion/ExportVerilog/sv-dialect.mlir
  test/Conversion/ExportVerilog/verilog-basic.mlir
  test/firtool/dpi.fir
Owners: none

[Seq] Add initial value to compreg
  docs/Dialects/Seq/RationaleSeq.md
  include/circt/Dialect/HW/HWTypes.td
  include/circt/Dialect/HW/HWTypesImpl.td
  include/circt/Dialect/Seq/SeqOps.td
  include/circt/Dialect/Sim/SimOps.td
  lib/Conversion/LTLToCore/LTLToCore.cpp
  lib/Conversion/SeqToSV/FirRegLowering.h
  lib/Dialect/Arc/Transforms/InferMemories.cpp
  lib/Dialect/Seq/SeqOps.cpp
  lib/Dialect/Sim/SimOps.cpp
  test/Dialect/Seq/round-trip.mlir
Owners: @darthscsi, @fabianschuiki, @maerhart

[LLHD] Let WaitOp observe plain values instead of signals
  include/circt/Dialect/LLHD/IR/LLHDStructureOps.td
  lib/Conversion/MooreToCore/MooreToCore.cpp
  lib/Dialect/LLHD/Transforms/ProcessLoweringPass.cpp
  test/Conversion/MooreToCore/basic.mlir
  test/Dialect/LLHD/Canonicalization/probeCSE.mlir
  test/Dialect/LLHD/IR/basic.mlir
  test/Dialect/LLHD/Transforms/earlyCodeMotion.mlir
  test/Dialect/LLHD/Transforms/memoryToBlockArgument.mlir
  test/Dialect/LLHD/Transforms/processLowering.mlir
  test/Dialect/LLHD/Transforms/processLoweringErrors.mlir
  test/Dialect/LLHD/Transforms/temporal-code-motion.mlir
Owners: @fabianschuiki, @maerhart

save
  include/circt/Dialect/HW/HWTypes.td
  include/circt/Dialect/Seq/SeqOps.h
  include/circt/Dialect/Seq/SeqOps.td
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  lib/Conversion/HWToBTOR2/HWToBTOR2.cpp
  lib/Conversion/LTLToCore/LTLToCore.cpp
  lib/Conversion/MooreToCore/MooreToCore.cpp
  lib/Conversion/PipelineToHW/PipelineToHW.cpp
  lib/Conversion/SeqToSV/SeqToSV.cpp
  lib/Dialect/Arc/Transforms/InferMemories.cpp
  lib/Dialect/Seq/SeqOps.cpp
  lib/Tools/circt-bmc/ExternalizeRegisters.cpp
  test/Conversion/ConvertToArcs/convert-to-arcs.mlir
  test/Conversion/HWToBTOR2/init.mlir
  test/Conversion/LTLToCore/assertproperty.mlir
  test/Conversion/PipelineToHW/test_poweron.mlir
  test/Dialect/Seq/compreg.mlir
  test/Dialect/Seq/shiftreg.mlir
  test/Tools/circt-bmc/externalize-registers-errors.mlir
Owners: @darthscsi, @fabianschuiki, @maerhart

save
  include/circt/Dialect/Seq/SeqOps.h
  include/circt/Dialect/Seq/SeqOps.td
  lib/Conversion/LTLToCore/LTLToCore.cpp
  lib/Dialect/Seq/SeqOps.cpp
  test/Conversion/ConvertToArcs/convert-to-arcs.mlir
Owners: none

[Debug info] Bug fix: assign enum definition in the same region
  lib/Dialect/FIRRTL/Transforms/MaterializeDebugInfo.cpp
Owners: @darthscsi, @seldridge

Some Morten's feedback, some bugfix
  integration_test/Dialect/ESI/runtime/loopback.mlir
  integration_test/Dialect/ESI/runtime/loopback.mlir.cpp
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/pyproject.toml
  lib/Dialect/ESI/runtime/python/esiaccel/codegen.py
  lib/Dialect/ESI/runtime/python/esiaccel/esiCppAccel.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/types.py
  lib/Dialect/ESI/runtime/python/esiaccel/utils.py
Owners: @teqdruid

whitespace change
  integration_test/Dialect/ESI/runtime/loopback.mlir
  lib/Dialect/ESI/runtime/python/esiaccel/codegen.py
Owners: @teqdruid

[Comb] Let parent op decide if cross-block canonicalizations should be allowed
  include/circt/Dialect/Comb/Comb.td
  include/circt/Dialect/Comb/CombOps.h
  lib/Dialect/Comb/CombFolds.cpp
  test/Dialect/Calyx/remove-comb-groups.mlir
  test/Dialect/Comb/canonicalization.mlir
Owners: @darthscsi, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999

Use fieldIdxs logic
  include/circt/Dialect/OM/OMOpInterfaces.h
  include/circt/Dialect/OM/OMOpInterfaces.td
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  lib/Dialect/OM/OMOps.cpp
Owners: @darthscsi, @seldridge

Clang format
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  lib/Dialect/OM/OMOps.cpp
Owners: @darthscsi, @seldridge

[LLHD] Let WaitOp observe plain values instead of signals (#7528)
  include/circt/Dialect/LLHD/IR/LLHDStructureOps.td
  lib/Conversion/MooreToCore/MooreToCore.cpp
  lib/Dialect/LLHD/Transforms/ProcessLoweringPass.cpp
  test/Conversion/MooreToCore/basic.mlir
  test/Dialect/LLHD/Canonicalization/probeCSE.mlir
  test/Dialect/LLHD/IR/basic.mlir
  test/Dialect/LLHD/Transforms/earlyCodeMotion.mlir
  test/Dialect/LLHD/Transforms/memoryToBlockArgument.mlir
  test/Dialect/LLHD/Transforms/processLowering.mlir
  test/Dialect/LLHD/Transforms/processLoweringErrors.mlir
  test/Dialect/LLHD/Transforms/temporal-code-motion.mlir
Owners: @fabianschuiki, @maerhart

[FIRRTL][FIRParser] Cache property constants.
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
Owners: @darthscsi, @seldridge

[FIRRTL][FIRParser] Cache property constants. (#7530)
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
Owners: @darthscsi, @seldridge

Only use fieldTypes for extern op
  lib/Dialect/OM/OMOps.cpp
Owners: none

Add addFieldAttrs logic
  lib/Dialect/OM/OMOps.cpp
Owners: none

Refactor fieldNames logic to avoid casting
  include/circt/Dialect/OM/OMOpInterfaces.td
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  lib/Dialect/OM/Evaluator/Evaluator.cpp
  lib/Dialect/OM/Transforms/LinkModules.cpp
  unittests/Dialect/OM/Evaluator/EvaluatorTests.cpp
Owners: @darthscsi, @seldridge

Use explict has_value API
  lib/Dialect/OM/Transforms/VerifyObjectFields.cpp
Owners: none

[FIRRTL] Combine LowerLayers firtool tests, NFC
  test/firtool/lower-layers.fir
  test/firtool/lower-layers2.fir
Owners: none

[FIRRTL] Whitespace test cleanup, NFC
  test/firtool/lower-layers.fir
Owners: none

[FIRRTL] Fix comment placement in test, NFC
  test/firtool/lower-layers.fir
Owners: none

[firtool] Run canonicalization before LowerLayers
  lib/Firtool/Firtool.cpp
  test/firtool/lower-layers.fir
Owners: none

save
  lib/Conversion/ExportYosys/CMakeLists.txt
  lib/Conversion/ExportYosys/ImportRTLIL.cpp
  tools/circt-translate/circt-translate.cpp
Owners: none

[MooreToCore] Add always_comb and always_latch lowering support
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[FIRRTLUtils] Fix walkDrivers subfield id calculation
  lib/Dialect/FIRRTL/FIRRTLUtils.cpp
  test/Dialect/FIRRTL/sfc-compat.mlir
Owners: @darthscsi, @seldridge

[MooreToCore] Add always_comb and always_latch lowering support (#7532)
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

Formatting
  lib/Dialect/OM/OMOps.cpp
Owners: none

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive
