Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

Get location from fused loc instead of operand
  lib/Dialect/OM/Evaluator/Evaluator.cpp
Owners: none

[FIRRTL] Avoid InstanceGraphNode* in InstanceInfo
  include/circt/Analysis/FIRRTLInstanceInfo.h
  lib/Analysis/FIRRTLInstanceInfo.cpp
  lib/Analysis/TestPasses.cpp
  lib/Dialect/FIRRTL/Transforms/AddSeqMemPorts.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] Drop unused AddSeqMemPorts function
  lib/Dialect/FIRRTL/Transforms/AddSeqMemPorts.cpp
Owners: @darthscsi, @seldridge

Build out methods and add tests
  include/circt/Analysis/OpCountAnalysis.h
  lib/Analysis/CMakeLists.txt
  lib/Analysis/OpCountAnalysis.cpp
  lib/Analysis/TestPasses.cpp
  test/Analysis/op-count-analysis.mlir
Owners: none

Style nits
  lib/Analysis/OpCountAnalysis.cpp
  lib/Analysis/TestPasses.cpp
Owners: none

Link libs correction
  lib/Analysis/CMakeLists.txt
Owners: none

fixup! [FIRRTL] Avoid InstanceGraphNode* in InstanceInfo
  include/circt/Analysis/FIRRTLInstanceInfo.h
  lib/Analysis/FIRRTLInstanceInfo.cpp
Owners: @darthscsi, @seldridge

fixup! [FIRRTL] Avoid InstanceGraphNode* in InstanceInfo
  include/circt/Analysis/FIRRTLInstanceInfo.h
Owners: @darthscsi, @seldridge

[FIRRTL] Avoid InstanceGraphNode* in InstanceInfo (#7643)
  include/circt/Analysis/FIRRTLInstanceInfo.h
  lib/Analysis/FIRRTLInstanceInfo.cpp
  lib/Analysis/TestPasses.cpp
  lib/Dialect/FIRRTL/Transforms/AddSeqMemPorts.cpp
Owners: @darthscsi, @seldridge

fixup! [FIRRTL] Error mixed DUT mems in AddSeqMemPorts
  lib/Dialect/FIRRTL/Transforms/AddSeqMemPorts.cpp
Owners: @darthscsi, @seldridge

fixup! [FIRRTL] Error mixed DUT mems in AddSeqMemPorts
  lib/Dialect/FIRRTL/Transforms/AddSeqMemPorts.cpp
Owners: @darthscsi, @seldridge

[ImportVerilog] Add $display/$write/$info/$warning/$error/$fatal
  include/circt/Dialect/Moore/MooreOps.td
  include/circt/Dialect/Moore/MooreTypes.td
  lib/Conversion/ImportVerilog/CMakeLists.txt
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/FormatStrings.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Statements.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/errors.sv
  test/Dialect/Moore/basic.mlir
Owners: none

Cleanup, switch struct to class and comment public members
  include/circt/Analysis/OpCountAnalysis.h
  lib/Analysis/OpCountAnalysis.cpp
Owners: none

[ImportVerilog] Add $display/$write/$info/$warning/$error/$fatal (#7642)
  include/circt/Dialect/Moore/MooreOps.td
  include/circt/Dialect/Moore/MooreTypes.td
  lib/Conversion/ImportVerilog/CMakeLists.txt
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/FormatStrings.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Statements.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/errors.sv
  test/Dialect/Moore/basic.mlir
Owners: none

[ImportVerilog] Move tests for builtins to separate file; NFC
  lib/Conversion/ImportVerilog/ImportVerilog.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/builtins.sv
  test/Conversion/ImportVerilog/types.sv
Owners: none

[ImportVerilog] Add support for $clog2
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  test/Conversion/ImportVerilog/builtins.sv
  test/Dialect/Moore/basic.mlir
Owners: none

[ImportVerilog] Support assignment patterns with integer type
  lib/Conversion/ImportVerilog/Expressions.cpp
  test/Conversion/ImportVerilog/basic.sv
Owners: none

Move resources to a type interface
  include/circt/Dialect/RTG/IR/CMakeLists.txt
  include/circt/Dialect/RTG/IR/RTGInterfaces.td
  include/circt/Dialect/RTG/IR/RTGTypeInterfaces.h
  include/circt/Dialect/RTG/IR/RTGTypes.h
  include/circt/Dialect/RTG/IR/RTGTypes.td
  include/circt/Dialect/RTGTest/IR/RTGTestDialect.td
  include/circt/Dialect/RTGTest/IR/RTGTestTypes.h
  include/circt/Dialect/RTGTest/IR/RTGTestTypes.td
  lib/Dialect/RTGTest/IR/RTGTestDialect.cpp
  lib/Dialect/RTGTest/IR/RTGTestTypes.cpp
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/Transform/elaboration.mlir
  test/Dialect/RTGTest/IR/basic.mlir
Owners: none

set differences. Let's you do 'all others' for cpu placement
  include/circt/Dialect/RTG/IR/RTGOps.td
  test/Dialect/RTGTest/IR/basic.mlir
Owners: none

[arcilator] Add missing LLVM registerInlinerInterface
  tools/arcilator/arcilator.cpp
Owners: @fabianschuiki, @maerhart

[ImportVerilog] Insert missing conversions around instance ports
  lib/Conversion/ImportVerilog/Structure.cpp
  test/Conversion/ImportVerilog/basic.sv
Owners: none

[ImportVerilog] Add support for $clog2 (#7645)
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  test/Conversion/ImportVerilog/builtins.sv
  test/Dialect/Moore/basic.mlir
Owners: none

[FIRRTL] Error mixed DUT mems in AddSeqMemPorts (#7622)
  lib/Dialect/FIRRTL/Transforms/AddSeqMemPorts.cpp
  test/Dialect/FIRRTL/add-seqmem-ports-errors.mlir
Owners: @darthscsi, @seldridge

[ImportVerilog] Support assignment patterns with integer type (#7646)
  lib/Conversion/ImportVerilog/Expressions.cpp
  test/Conversion/ImportVerilog/basic.sv
Owners: none

[ImportVerilog] Insert missing conversions around instance ports (#7647)
  lib/Conversion/ImportVerilog/Structure.cpp
  test/Conversion/ImportVerilog/basic.sv
Owners: none

[ImportVerilog] Materialize constant calls directly
  lib/Conversion/ImportVerilog/Expressions.cpp
Owners: none

Fit to 80 cols
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGTypes.td
Owners: none

InstructionOpInterface: add default implementation
  include/circt/Dialect/RTG/IR/RTGInterfaces.td
  lib/Dialect/RTGTest/IR/RTGTestOps.cpp
Owners: none

[HW] Initial implementation of partition pass
  include/circt/Dialect/HW/HWPasses.h
  include/circt/Dialect/HW/Passes.td
  lib/Dialect/HW/Transforms/CMakeLists.txt
  lib/Dialect/HW/Transforms/Partition.cpp
  test/Dialect/HW/partition.mlir
Owners: @darthscsi

[FIRRTL][LowerLayers] Remove handling of some ref ops (#7640)
  lib/Dialect/FIRRTL/Transforms/LowerLayers.cpp
Owners: @darthscsi, @seldridge

[circt-bmc] Fix elif -> else to make it compile without execution engine
  tools/circt-bmc/circt-bmc.cpp
Owners: none

save
  lib/Conversion/ExportYosys/ImportRTLIL.cpp
  lib/Conversion/ExportYosys/YosysOptimizer.cpp
  tools/circt-lec/circt-lec.cpp
Owners: none

Resource sets
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGTypes.td
  lib/Dialect/RTG/IR/RTGTypes.cpp
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTGTest/IR/basic.mlir
Owners: none

[FIRRTL] Re-implement old EmitOMIR ports logic in LowerClasses.
  include/circt/Dialect/FIRRTL/FIRRTLAnnotationHelper.h
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  test/Dialect/FIRRTL/lower-classes.mlir
Owners: @darthscsi, @seldridge

save
  lib/Conversion/ExportYosys/ImportRTLIL.cpp
Owners: none

save
  lib/Conversion/ExportYosys/ImportRTLIL.cpp
Owners: none

Fix comment & use implicit default initialization
  include/circt/Analysis/OpCountAnalysis.h
  lib/Analysis/OpCountAnalysis.cpp
Owners: none

save
  integration_test/YosysIntegration/synth.mlir
  lib/Conversion/ExportYosys/ImportRTLIL.cpp
Owners: none

[Analysis] Add OpCount Analysis (#7644)
  include/circt/Analysis/OpCountAnalysis.h
  lib/Analysis/CMakeLists.txt
  lib/Analysis/OpCountAnalysis.cpp
  lib/Analysis/TestPasses.cpp
  test/Analysis/op-count-analysis.mlir
Owners: none

test
  integration_test/circt-lec/hw.mlir
Owners: none

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive
