Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

[ESI][Runtime] Fix wheel builds (#7795)
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/pyproject.toml
  lib/Dialect/ESI/runtime/setup.py
Owners: @teqdruid

[FIRRTL] Run canonicalizer again after IMCP
  lib/Firtool/Firtool.cpp
  test/firtool/canonicalize-away-assert-under-layer.fir
Owners: none

[FIRRTL] Only emit retime metadata for design
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
  test/Dialect/FIRRTL/emit-metadata.mlir
Owners: @darthscsi, @seldridge

fixup! [FIRRTL] Only emit retime metadata for design
  test/Dialect/FIRRTL/emit-metadata.mlir
Owners: @darthscsi, @seldridge

fixup! [FIRRTL] Only emit retime metadata for design
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
  test/Dialect/FIRRTL/emit-metadata.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Don't force non-local trackers in Dedup.
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  test/Dialect/FIRRTL/dedup.mlir
Owners: @darthscsi, @seldridge

Also dedupe local trackers so LowerClasses doesn't see duplicates.
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  test/Dialect/FIRRTL/dedup.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Cleanup SiTest BBox Metadata tests, NFC
  test/Dialect/FIRRTL/emit-metadata.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Only add SiTest metadata for design
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
  test/Dialect/FIRRTL/emit-metadata.mlir
Owners: @darthscsi, @seldridge

Sequences define symbols, fix tests
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  lib/Dialect/RTG/IR/RTGOps.cpp
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/IR/errors.mlir
  test/Dialect/RTG/Transform/elaboration.mlir
  test/Dialect/RTG/Transform/regalloc.mlir
  test/Dialect/RTGTest/IR/basic.mlir
  test/Target/EmitRTGAssembly/rtgtest-no-binary.mlir
  test/Target/EmitRTGAssembly/rtgtest.mlir
Owners: none

support for int inputs
  lib/Conversion/FSMToSMTLiveness/FSMToSMTLiveness.cpp
  lib/Conversion/FSMToSMTSafety/FSMToSMTSafety.cpp
Owners: none

Add bags
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGTypes.td
  lib/Dialect/RTG/IR/RTGOps.cpp
  test/Dialect/RTG/IR/basic.mlir
Owners: none

Avoid emitting EICG wrapper warning multiple times
  lib/Dialect/FIRRTL/Transforms/LowerIntmodules.cpp
Owners: @darthscsi, @seldridge

Update the variable name
  lib/Dialect/FIRRTL/Transforms/LowerIntmodules.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] Only emit retime metadata for design (#7798)
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
  test/Dialect/FIRRTL/emit-metadata.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Only add SiTest metadata for design (#7799)
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
  test/Dialect/FIRRTL/emit-metadata.mlir
Owners: @darthscsi, @seldridge

[firtool] mv LoweLayers after CreateSiFiveMetadata (#7794)
  lib/Firtool/Firtool.cpp
Owners: none

[FIRRTL] Emitting EICG wrapper warning only once (#7785)
  lib/Dialect/FIRRTL/Transforms/LowerIntmodules.cpp
Owners: @darthscsi, @seldridge

Add disableLocalAnnotations flag for backwards compatibility.
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  include/circt/Firtool/Firtool.h
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  lib/Firtool/Firtool.cpp
  test/Dialect/FIRRTL/dedup.mlir
Owners: @darthscsi, @seldridge

Use bag instead of select_random
  include/circt/Dialect/RTG/IR/ArithVisitors.h
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  lib/Dialect/RTG/IR/RTGOps.cpp
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/Transform/elaboration.mlir
  test/Dialect/RTG/Transform/regalloc.mlir
Owners: none

[FIRRTL] Don't force non-local trackers in Dedup. (#7709)
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  include/circt/Firtool/Firtool.h
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  lib/Firtool/Firtool.cpp
  test/Dialect/FIRRTL/dedup.mlir
Owners: @darthscsi, @seldridge

Let on_context take a sequence closure instead of having its own region
  include/circt/Dialect/RTG/IR/RTGOps.td
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  test/Dialect/RTG/IR/basic.mlir
Owners: none

[FIRParser] use faster builder for subfield ops
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
Owners: @darthscsi, @seldridge

[FIRParser] stop calculating return type for cached subaccesses
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
Owners: @darthscsi, @seldridge

[FIRParser] use faster builder for subfield ops
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
Owners: @darthscsi, @seldridge

[FIRParser] stop calculating return type for cached subaccesses
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] Use InstanceInfo in ExtractInstances
  lib/Dialect/FIRRTL/Transforms/ExtractInstances.cpp
Owners: @darthscsi, @seldridge

fixed bug in getCombVAlue
  lib/Conversion/FSMToSMTSafety/FSMToSMTSafety.cpp
Owners: none

[circt-verilog] Support MLIR and MLIRBC input files
  test/circt-verilog/basic.mlir
  tools/circt-verilog/CMakeLists.txt
  tools/circt-verilog/circt-verilog.cpp
Owners: none

[circt-verilog] Support MLIR and MLIRBC input files (#7787)
  test/circt-verilog/basic.mlir
  tools/circt-verilog/CMakeLists.txt
  tools/circt-verilog/circt-verilog.cpp
Owners: none

cleanup
  frontends/PyCDE/integration_test/esitester.py
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/bsp/cosim.py
  frontends/PyCDE/src/pycde/constructs.py
  frontends/PyCDE/src/pycde/esi.py
  frontends/PyCDE/test/test_esi.py
  lib/Dialect/ESI/runtime/cpp/include/esi/Services.h
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esitester.cpp
Owners: @teqdruid

[circt-verilog] Only run test when slang is available
  test/circt-verilog/basic.mlir
Owners: none

[ESI][PyCDE] Misc debug improvements
  frontends/PyCDE/src/pycde/module.py
  lib/Bindings/Python/support.py
  lib/Dialect/ESI/ESIServices.cpp
  lib/Dialect/ESI/runtime/cpp/include/esi/Services.h
Owners: @teqdruid

[FIRRTL] Run canonicalizer again after IMCP (#7796)
  lib/Firtool/Firtool.cpp
  test/firtool/canonicalize-away-assert-under-layer.fir
Owners: none

added modulo to safety prop, fixed output
  lib/Conversion/FSMToSMTSafety/FSMToSMTSafety.cpp
Owners: none

modulo for liveness
  lib/Conversion/FSMToSMTLiveness/FSMToSMTLiveness.cpp
Owners: none

fixed output for liveness
  lib/Conversion/FSMToSMTLiveness/FSMToSMTLiveness.cpp
Owners: none

Revert "[FIRRTL] Don't force non-local trackers in Dedup. (#7709)"
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  include/circt/Firtool/Firtool.h
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  lib/Firtool/Firtool.cpp
  test/Dialect/FIRRTL/dedup.mlir
Owners: @darthscsi, @seldridge

Revert "[FIRRTL] Don't force non-local trackers in Dedup. (#7709)" (#7805)
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  include/circt/Firtool/Firtool.h
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  lib/Firtool/Firtool.cpp
  test/Dialect/FIRRTL/dedup.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Add layer support to ExtractInstances
  lib/Dialect/FIRRTL/Transforms/ExtractInstances.cpp
  test/Dialect/FIRRTL/extract-instances.mlir
Owners: @darthscsi, @seldridge

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive
