Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @andrewb1999, @jiahanxie353, @darthscsi, @mortbopet, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

[LLHD] Fix handling of conditional drives
  include/circt/Dialect/LLHD/Transforms/LLHDPasses.td
  lib/Dialect/LLHD/Transforms/Mem2Reg.cpp
  test/Dialect/LLHD/Transforms/mem2reg.mlir
Owners: @fabianschuiki, @maerhart

[HW] Merge basic round-trip tests; NFC
  test/Dialect/HW/basic.mlir
  test/Dialect/HW/bitwise.mlir
  test/Dialect/HW/round-trip.mlir
Owners: @darthscsi

[ESI][Runtime] Fix path in distributed cmake file
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/cmake/esiaccelConfig.cmake.in
Owners: @teqdruid

[LLHD] Fix handling of conditional drives (#8498)
  include/circt/Dialect/LLHD/Transforms/LLHDPasses.td
  lib/Dialect/LLHD/Transforms/Mem2Reg.cpp
  test/Dialect/LLHD/Transforms/mem2reg.mlir
Owners: @fabianschuiki, @maerhart

[HW] Merge basic round-trip tests; NFC (#8502)
  test/Dialect/HW/basic.mlir
  test/Dialect/HW/bitwise.mlir
  test/Dialect/HW/round-trip.mlir
Owners: @darthscsi

[HW] Tweak ArrayGetOp, add missing error test; NFC
  include/circt/Dialect/HW/HWAggregates.td
  test/Dialect/HW/errors.mlir
Owners: @darthscsi

[HW] Rename MLIRHWAttrIncGen to CIRCTHWAttrIncGen; NFC
  include/circt/Dialect/HW/CMakeLists.txt
  lib/Dialect/HW/CMakeLists.txt
Owners: @darthscsi

[HW] Create HWOps.td for easier inclusion in TableGen files; NFC
  include/circt/Dialect/HW/HW.td
  include/circt/Dialect/HW/HWOps.td
Owners: @darthscsi

[HW] Add array element injection op
  include/circt/Dialect/HW/HWAggregates.td
  lib/Dialect/HW/CMakeLists.txt
  lib/Dialect/HW/HWCanonicalization.td
  lib/Dialect/HW/HWOps.cpp
  test/Dialect/HW/basic.mlir
  test/Dialect/HW/canonicalization.mlir
  test/Dialect/HW/errors.mlir
Owners: @darthscsi

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @andrewb1999 @jiahanxie353
**/Conversion/CalyxToFSM @rachitnigam @cgyurgyik @andrewb1999 @jiahanxie353
**/Conversion/CalyxToHW @rachitnigam @cgyurgyik @andrewb1999 @jiahanxie353
**/Conversion/SCFToCalyx @rachitnigam @cgyurgyik @andrewb1999 @jiahanxie353
**/Conversion/CalyxNative @rachitnigam @cgyurgyik @andrewb1999 @jiahanxie353
**/Conversion/LoopScheduleToCalyx @rachitnigam @cgyurgyik @andrewb1999 @jiahanxie353

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart

# SV
**/Dialect/SV @darthscsi

# Kanagawa
**/Dialect/Kanagawa @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive
