Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

[Arc][ArcCostModel]: Make th cost of arc.vectorize and arc.output zero
  lib/Dialect/Arc/ArcCostModel.cpp
Owners: @fabianschuiki, @maerhart

Fix double-free by leaving unrealized conversion cast operation cleanup to canonicalizer/dce
  lib/Conversion/SeqToSV/SeqToSV.cpp
Owners: none

[FIRRTL][CreateSiFiveMetadata] Diagnostic not assertion failure.
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
Owners: @darthscsi, @seldridge

[Verif][VerifyClockedAssertLike] Don't crash on blockarg operand.
  lib/Dialect/Verif/Transforms/VerifyClockedAssertLike.cpp
  test/Dialect/Verif/verify.mlir
Owners: none

[MooreToCore] Support to lower unpackedStructType
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[Moore][NFC] Fix warning when building Moore components
  lib/Dialect/Moore/MooreOps.cpp
Owners: none

[ESI][Runtime] Pretty printing of service ports
  integration_test/Dialect/ESI/runtime/loopback.mlir
  lib/Dialect/ESI/runtime/cpp/include/esi/Services.h
  lib/Dialect/ESI/runtime/cpp/tools/esiquery.cpp
Owners: @teqdruid

[ESI][Runtime] Pretty printing of service ports (#7567)
  integration_test/Dialect/ESI/runtime/loopback.mlir
  lib/Dialect/ESI/runtime/cpp/include/esi/Services.h
  lib/Dialect/ESI/runtime/cpp/tools/esiquery.cpp
Owners: @teqdruid

[ESI] Manifest: change the schema to be more rational
  include/circt/Dialect/ESI/ESIManifest.td
  integration_test/Dialect/ESI/runtime/callback.mlir
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/Passes/ESIBuildManifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  test/Dialect/ESI/manifest.mlir
Owners: @teqdruid

[ESI][Runtime] Address MMIO regions symbolically
  frontends/PyCDE/integration_test/test_software/esi_test.py
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/esi.py
  include/circt/Dialect/ESI/ESIStdServices.td
  lib/Dialect/ESI/runtime/cpp/include/esi/Design.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Services.h
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Services.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/accelerator.py
  lib/Dialect/ESI/runtime/python/esiaccel/esiCppAccel.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/types.py
Owners: @teqdruid

Bump LLVM to 10407be542aeb2b59477b167bbba3716538dc722. (#7550)
  integration_test/Target/ExportSystemC/basic.mlir
  lib/Conversion/SeqToSV/SeqToSV.cpp
  lib/Target/ExportSystemC/Patterns/EmitCEmissionPatterns.cpp
  lib/Tools/circt-bmc/CMakeLists.txt
  test/Target/ExportSystemC/basic.mlir
Owners: none

reformat code
  include/circt/Scheduling/Algorithms.h
  include/circt/Scheduling/LPSchedulers.h
  include/circt/Scheduling/Schedulers.h
  lib/Scheduling/ASAPScheduler.cpp
  lib/Scheduling/LPSchedulers.cpp
  lib/Scheduling/SimplexSchedulers.cpp
Owners: none

add missing scheduling interface function
  lib/Scheduling/CPSATSchedulers.cpp
  lib/Scheduling/LPSchedulers.cpp
Owners: none

remove unused CRPT for schedulers
  include/circt/Scheduling/ASAPScheduler.h
  include/circt/Scheduling/CPSATSchedulers.h
  include/circt/Scheduling/LPSchedulers.h
  include/circt/Scheduling/Schedulers.h
  include/circt/Scheduling/SimplexSchedulers.h
Owners: none

remove unused CRPT for schedulers
  include/circt/Scheduling/ASAPScheduler.h
  include/circt/Scheduling/CPSATSchedulers.h
  include/circt/Scheduling/LPSchedulers.h
  include/circt/Scheduling/Schedulers.h
  include/circt/Scheduling/SimplexSchedulers.h
Owners: none

Add Scheduler documentation
  docs/Scheduling.md
Owners: none

[NFC][Seq] Fully qualify Value
  include/circt/Dialect/Seq/SeqOpInterfaces.td
Owners: none

why are variables so complex
  include/circt/Conversion/Passes.td
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

lib/IT WORKS :))))
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

[ESI][Runtime] Address MMIO regions symbolically
  frontends/PyCDE/integration_test/test_software/esi_test.py
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/esi.py
  include/circt/Dialect/ESI/ESIStdServices.td
  lib/Dialect/ESI/runtime/cpp/include/esi/Design.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Services.h
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Services.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/accelerator.py
  lib/Dialect/ESI/runtime/python/esiaccel/esiCppAccel.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/types.py
Owners: @teqdruid

[ESI][Runtime] Address MMIO regions symbolically (#7568)
  frontends/PyCDE/integration_test/test_software/esi_test.py
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/esi.py
  include/circt/Dialect/ESI/ESIStdServices.td
  lib/Dialect/ESI/runtime/cpp/include/esi/Design.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Services.h
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Services.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/accelerator.py
  lib/Dialect/ESI/runtime/python/esiaccel/esiCppAccel.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/types.py
Owners: @teqdruid

[ESI][Runtime] Fix integration test
  integration_test/Dialect/ESI/runtime/loopback.mlir
Owners: @teqdruid

[ESI][Runtime] Logging API
  frontends/PyCDE/integration_test/esitester.py
  frontends/PyCDE/integration_test/test_software/esi_test.py
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Common.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Context.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Logging.h
  lib/Dialect/ESI/runtime/cpp/lib/Accelerator.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Common.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Logging.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esitester.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/esiCppAccel.cpp
Owners: @teqdruid

[ESI] Don't assume `using namespace std` in Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
Owners: @teqdruid

format
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
Owners: @teqdruid

lowering works
  include/circt/Conversion/Passes.td
  integration_test/Dialect/FSM/simple/top.mlir
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: @mortbopet

[ESI] Don't assume `using namespace std` in Manifest.cpp (#7571)
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
Owners: @teqdruid

simplify test case
  test/Dialect/FIRRTL/sfc-compat.mlir
Owners: @darthscsi, @seldridge

[MooreToCore] Separate conversion pattern for moore.output
  lib/Conversion/MooreToCore/MooreToCore.cpp
Owners: none

[FIRRTL][FIRParser] Check force source more.
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  test/Dialect/FIRRTL/parse-errors.fir
Owners: @darthscsi, @seldridge

[FIRRTLUtils] Fix walkDrivers subfield id calculation (#7536)
  lib/Dialect/FIRRTL/FIRRTLUtils.cpp
  test/Dialect/FIRRTL/sfc-compat.mlir
Owners: @darthscsi, @seldridge

[SV] Fix regop canonicalizer crashing.
  lib/Dialect/SV/SVOps.cpp
  test/Dialect/SV/canonicalization.mlir
Owners: @darthscsi

[FIRRTL][GrandCentral] Fix crashes on error re:tryGetAs.
  lib/Dialect/FIRRTL/Transforms/GrandCentral.cpp
Owners: @darthscsi, @seldridge

[FIRRTL][GrandCentral] Don't crash on missing keys, getAs.
  lib/Dialect/FIRRTL/Transforms/GrandCentral.cpp
Owners: @darthscsi, @seldridge

[SV] Fix regop canonicalizer crashing. (#7564)
  lib/Dialect/SV/SVOps.cpp
  test/Dialect/SV/canonicalization.mlir
Owners: @darthscsi

[MooreToCore] Separate conversion pattern for moore.output (#7573)
  lib/Conversion/MooreToCore/MooreToCore.cpp
Owners: none

[HW] Fix crash when error encountered parsing hw.array.
  lib/Dialect/HW/HWTypes.cpp
  test/Dialect/HW/errors.mlir
Owners: @darthscsi

[ESI] Manifest: change the schema to be more rational
  include/circt/Dialect/ESI/ESIManifest.td
  integration_test/Dialect/ESI/runtime/callback.mlir
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/Passes/ESIBuildManifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  test/Dialect/ESI/manifest.mlir
Owners: @teqdruid

[FIRRTL][GrandCentral] Fix crashes on error re:tryGetAs. (#7576)
  lib/Dialect/FIRRTL/Transforms/GrandCentral.cpp
Owners: @darthscsi, @seldridge

[FIRRTL][GrandCentral] Don't crash on missing keys, getAs. (#7577)
  lib/Dialect/FIRRTL/Transforms/GrandCentral.cpp
Owners: @darthscsi, @seldridge

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive
