Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive

[OM] Add ListType C API and Python bindings.
  include/circt-c/Dialect/OM.h
  integration_test/Bindings/Python/dialects/om.py
  lib/Bindings/Python/OMModule.cpp
  lib/Bindings/Python/dialects/om.py
  lib/CAPI/Dialect/OM.cpp
Owners: none

Fix FlattenIO pass
  lib/Dialect/HW/Transforms/FlattenIO.cpp
  test/Dialect/HW/flatten-io.mlir
Owners: @darthscsi

Fix VerifToSMT pass
  test/Conversion/VerifToSMT/verif-to-smt.mlir
Owners: none

Unify fields API to use attrs
  include/circt/Dialect/OM/OMOpInterfaces.td
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  lib/Dialect/OM/OMOps.cpp
  lib/Dialect/OM/Transforms/LinkModules.cpp
  lib/Dialect/OM/Transforms/VerifyObjectFields.cpp
Owners: @darthscsi, @seldridge

[ESI][Runtime] Parse and expose manifest constants
  integration_test/Dialect/ESI/runtime/loopback.mlir
  integration_test/Dialect/ESI/runtime/loopback.mlir.py
  lib/Dialect/ESI/runtime/cpp/include/esi/Common.h
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/esiCppAccel.cpp
Owners: @teqdruid

[OM] Add ListType C API and Python bindings. (#7490)
  include/circt-c/Dialect/OM.h
  integration_test/Bindings/Python/dialects/om.py
  lib/Bindings/Python/OMModule.cpp
  lib/Bindings/Python/dialects/om.py
  lib/CAPI/Dialect/OM.cpp
Owners: none

Update docs/Dialects/HWArith/RationaleHWArith.md
  docs/Dialects/HWArith/RationaleHWArith.md
Owners: none

Update include/circt/Dialect/HWArith/HWArithOps.td
  include/circt/Dialect/HWArith/HWArithOps.td
Owners: @mortbopet, @teqdruid

[HWArith] Make `hwarith.icmp` result an `i1` (#7413)
  docs/Dialects/HWArith/RationaleHWArith.md
  include/circt/Dialect/HWArith/HWArithOps.td
  test/Conversion/HWArithToHW/test_basic.mlir
  test/Dialect/HWArith/basic.mlir
Owners: @mortbopet, @teqdruid

Fix cast warning
  include/circt/Dialect/OM/OMOpInterfaces.td
  lib/Dialect/OM/OMOps.cpp
Owners: none

[Moore] Add more AssignedVariableOp canonicalizations
  include/circt/Dialect/Moore/MooreOps.td
  lib/Dialect/Moore/MooreOps.cpp
  test/Dialect/Moore/canonicalizers.mlir
Owners: none

[Moore] Add more AssignedVariableOp canonicalizations (#7477)
  include/circt/Dialect/Moore/MooreOps.td
  lib/Dialect/Moore/MooreOps.cpp
  test/Dialect/Moore/canonicalizers.mlir
Owners: none

[Moore] Add constant materialization, fold constant conversions
  include/circt/Dialect/Moore/MooreDialect.td
  include/circt/Dialect/Moore/MooreOps.td
  lib/Dialect/Moore/MooreDialect.cpp
  lib/Dialect/Moore/MooreOps.cpp
  test/Conversion/MooreToCore/basic.mlir
  test/Dialect/Moore/canonicalizers.mlir
Owners: none

[Moore] Add constant materialization, fold constant conversions (#7478)
  include/circt/Dialect/Moore/MooreDialect.td
  include/circt/Dialect/Moore/MooreOps.td
  lib/Dialect/Moore/MooreDialect.cpp
  lib/Dialect/Moore/MooreOps.cpp
  test/Conversion/MooreToCore/basic.mlir
  test/Dialect/Moore/canonicalizers.mlir
Owners: none

Generalized verif contracts
  include/circt/Dialect/Verif/VerifOps.td
  lib/Dialect/Verif/VerifOps.cpp
  test/Dialect/Verif/basic.mlir
Owners: none

updated contract op description
  include/circt/Dialect/Verif/VerifOps.td
Owners: none

Cleanup getFields API
  include/circt/Dialect/OM/OMOpInterfaces.td
  include/circt/Dialect/OM/OMOps.td
  lib/Dialect/OM/Evaluator/Evaluator.cpp
  lib/Dialect/OM/OMOps.cpp
Owners: none

Drop unused structtype, per reviewer feedback. Thanks!
  lib/Dialect/HW/Transforms/FlattenIO.cpp
Owners: @darthscsi

bump llvm to tip of main (#7440)
  lib/Conversion/MooreToCore/MooreToCore.cpp
  lib/Conversion/SeqToSV/FirMemLowering.cpp
  lib/Conversion/SeqToSV/FirMemLowering.h
  lib/Dialect/Arc/Transforms/Dedup.cpp
  lib/Dialect/HW/Transforms/FlattenIO.cpp
  lib/Dialect/Sim/SimOps.cpp
  test/Conversion/MooreToCore/basic.mlir
  test/Conversion/VerifToSMT/verif-to-smt.mlir
  test/Dialect/HW/flatten-io.mlir
  tools/circt-verilog/circt-verilog.cpp
  tools/om-linker/om-linker.cpp
Owners: @fabianschuiki, @maerhart, @darthscsi

[Moore] Power operator folders and canonicalizers
  include/circt/Dialect/Moore/MooreOps.td
  lib/Dialect/Moore/MooreOps.cpp
  test/Dialect/Moore/canonicalizers.mlir
Owners: none

[MooreToCore] Support StructExtractRefOp
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[FIRRTL] Don't capture non-passives in LowerLayers
  lib/Dialect/FIRRTL/Transforms/LowerLayers.cpp
  test/Dialect/FIRRTL/lower-layers-errors.mlir
  test/Dialect/FIRRTL/lower-layers.mlir
Owners: @darthscsi, @seldridge

fixup! [FIRRTL] Don't capture non-passives in LowerLayers
  lib/Dialect/FIRRTL/Transforms/LowerLayers.cpp
Owners: @darthscsi, @seldridge

[HW] Qualify types for safer use in other dialects.
  include/circt/Dialect/HW/HWTypes.td
Owners: @darthscsi

[ImportVerilog] Fix ternary with diff types, both become Value.
  lib/Conversion/ImportVerilog/Expressions.cpp
Owners: none

[HW] Whoops, don't qualify the pretty name. Caught by test!
  include/circt/Dialect/HW/HWTypes.td
Owners: @darthscsi

[Moore] Power operator folders and canonicalizers (#7494)
  include/circt/Dialect/Moore/MooreOps.td
  lib/Dialect/Moore/MooreOps.cpp
  test/Dialect/Moore/canonicalizers.mlir
Owners: none

[MooreToCore] Support StructExtractRefOp (#7497)
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

LLVM bump to include upstream verifier performance fix. (#7496)
  include/circt/Dialect/HW/HWTypes.td
  lib/Conversion/ImportVerilog/Expressions.cpp
Owners: @darthscsi

[Moore] Fix mem2reg implementation
  lib/Dialect/Moore/MooreOps.cpp
  lib/Dialect/Moore/Transforms/SimplifyProcedures.cpp
  test/Dialect/Moore/canonicalizers.mlir
  test/Dialect/Moore/mem2reg.mlir
  test/Dialect/Moore/simplify-procedures.mlir
  tools/circt-reduce/circt-reduce.cpp
Owners: none

[Moore] Fix mem2reg implementation (#7498)
  lib/Dialect/Moore/MooreOps.cpp
  lib/Dialect/Moore/Transforms/SimplifyProcedures.cpp
  test/Dialect/Moore/canonicalizers.mlir
  test/Dialect/Moore/mem2reg.mlir
  test/Dialect/Moore/simplify-procedures.mlir
  tools/circt-reduce/circt-reduce.cpp
Owners: none

Optimised code.
  lib/Dialect/Calyx/CalyxOps.cpp
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999

[MooreToCore] More extract op lowerings
  include/circt/Dialect/LLHD/IR/ExtractOps.td
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: @fabianschuiki, @maerhart

[MooreToCore] Support AssignedVariableOp
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[MooreToCore] More extract op lowerings (#7499)
  include/circt/Dialect/LLHD/IR/ExtractOps.td
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: @fabianschuiki, @maerhart

[calyx] fix calyx canonicalization. (#7456)
  lib/Dialect/Calyx/CMakeLists.txt
  lib/Dialect/Calyx/CalyxOps.cpp
  test/Conversion/CalyxToFSM/materialize-errors.mlir
  test/Dialect/Calyx/clk-insertion.mlir
  test/Dialect/Calyx/errors.mlir
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet

[MooreToCore] Support AssignedVariableOp (#7500)
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[firtool] fix: check uninferred resets after removing unused modules
  include/circt/Dialect/FIRRTL/Passes.h
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  lib/Dialect/FIRRTL/Transforms/CheckUninferredResets.cpp
  lib/Dialect/FIRRTL/Transforms/InferResets.cpp
  lib/Firtool/Firtool.cpp
  test/Dialect/FIRRTL/infer-resets-errors.mlir
  test/firtool/legal-uninferred-resets.fir
Owners: @darthscsi, @seldridge

[MooreToCore] Support four-valued VariableOp without init
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[MooreToCore] Support four-valued VariableOp without init (#7502)
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none
