Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

Clang-format
  lib/Dialect/LLHD/Transforms/DesequentializationPass.cpp
Owners: @fabianschuiki, @maerhart

fixup! [FIRRTL] Add InstanceInfo Analysis
  lib/Analysis/FIRRTLInstanceInfo.cpp
Owners: @darthscsi, @seldridge

Add a test dialect for testing RTG. The test dialect just exists to have a few instructions and register types
  include/circt/Dialect/CMakeLists.txt
  include/circt/Dialect/RTGTest/CMakeLists.txt
  include/circt/Dialect/RTGTest/IR/CMakeLists.txt
  include/circt/Dialect/RTGTest/IR/RTG.td
  include/circt/Dialect/RTGTest/IR/RTGOps.h
  include/circt/Dialect/RTGTest/IR/RTGOps.td
  include/circt/Dialect/RTGTest/IR/RTGTestDialect.h
  include/circt/Dialect/RTGTest/IR/RTGTestDialect.td
  include/circt/Dialect/RTGTest/IR/RTGTestTypes.h
  include/circt/Dialect/RTGTest/IR/RTGTestTypes.td
  include/circt/InitAllDialects.h
  lib/Dialect/CMakeLists.txt
  lib/Dialect/RTGTest/CMakeLists.txt
  lib/Dialect/RTGTest/IR/CMakeLists.txt
  lib/Dialect/RTGTest/IR/RTGTestDialect.cpp
  lib/Dialect/RTGTest/IR/RTGTestOps.cpp
  lib/Dialect/RTGTest/IR/RTGTestTypes.cpp
Owners: none

fixup! [FIRRTL] Add InstanceInfo Analysis
  include/circt/Analysis/FIRRTLInstanceInfo.h
  lib/Analysis/FIRRTLInstanceInfo.cpp
Owners: @darthscsi, @seldridge

[LLHD] Make process lowering best-effort and allow constants outside the region
  lib/Dialect/LLHD/Transforms/ProcessLoweringPass.cpp
  test/Dialect/LLHD/Transforms/processLowering.mlir
  test/Dialect/LLHD/Transforms/processLoweringErrors.mlir
Owners: @fabianschuiki, @maerhart

[FIRRTL] Add InstanceInfo Analysis (#7612)
  include/circt/Analysis/FIRRTLInstanceInfo.h
  lib/Analysis/CMakeLists.txt
  lib/Analysis/FIRRTLInstanceInfo.cpp
  lib/Analysis/TestPasses.cpp
  test/Analysis/firrtl-test-instance-info.mlir
Owners: @darthscsi, @seldridge

[LLHD][TCM] Simplify region directly (#7615)
  lib/Dialect/LLHD/Transforms/TemporalCodeMotionPass.cpp
  test/Dialect/LLHD/Transforms/temporal-code-motion.mlir
Owners: @fabianschuiki, @maerhart

fix up some dialects
  include/circt/Dialect/RTG/IR/CMakeLists.txt
  include/circt/Dialect/RTGTest/IR/CMakeLists.txt
  include/circt/Dialect/RTGTest/IR/RTGTest.td
  include/circt/Dialect/RTGTest/IR/RTGTestDialect.h
  include/circt/Dialect/RTGTest/IR/RTGTestOps.h
  include/circt/Dialect/RTGTest/IR/RTGTestOps.td
  include/circt/Dialect/RTGTest/IR/RTGTestTypes.td
  lib/Dialect/RTG/IR/CMakeLists.txt
  lib/Dialect/RTGTest/IR/CMakeLists.txt
Owners: none

clean up
  include/circt/Dialect/RTG/IR/RTGDialect.h
  include/circt/Dialect/RTGTest/IR/CMakeLists.txt
  include/circt/Dialect/RTGTest/IR/RTGTestDialect.h
  include/circt/Dialect/RTGTest/IR/RTGTestOps.td
  lib/Dialect/RTG/IR/RTGDialect.cpp
  lib/Dialect/RTGTest/IR/RTGTestDialect.cpp
Owners: none

[FIRRTL] Add features, cleanup InstanceInfo
  include/circt/Analysis/FIRRTLInstanceInfo.h
  lib/Analysis/FIRRTLInstanceInfo.cpp
  lib/Analysis/TestPasses.cpp
  test/Analysis/firrtl-test-instance-info.mlir
Owners: @darthscsi, @seldridge

need a dummy type to get the print/parser
  include/circt/Dialect/RTGTest/IR/RTGTestTypes.td
Owners: none

Revert "[FIRRTL] Add features, cleanup InstanceInfo"
  include/circt/Analysis/FIRRTLInstanceInfo.h
  lib/Analysis/FIRRTLInstanceInfo.cpp
  lib/Analysis/TestPasses.cpp
  test/Analysis/firrtl-test-instance-info.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Add features, cleanup InstanceInfo (again)
  include/circt/Analysis/FIRRTLInstanceInfo.h
  lib/Analysis/FIRRTLInstanceInfo.cpp
  lib/Analysis/TestPasses.cpp
  test/Analysis/firrtl-test-instance-info.mlir
Owners: @darthscsi, @seldridge

Don't lower initial processes
  lib/Dialect/LLHD/Transforms/ProcessLoweringPass.cpp
  test/Dialect/LLHD/Transforms/processLowering.mlir
Owners: @fabianschuiki, @maerhart

[LLHD] Make process lowering best-effort and allow constants from outside the region (#7617)
  lib/Dialect/LLHD/Transforms/ProcessLoweringPass.cpp
  test/Dialect/LLHD/Transforms/processLowering.mlir
  test/Dialect/LLHD/Transforms/processLoweringErrors.mlir
Owners: @fabianschuiki, @maerhart

[RTG] Add select_random operation
  include/circt/Dialect/RTG/IR/RTGOps.h
  include/circt/Dialect/RTG/IR/RTGOps.td
  test/Dialect/RTG/IR/basic.mlir
Owners: none

[RTG] Remove instruction type
  include/circt/Dialect/RTG/IR/RTGTypes.td
  test/Dialect/RTG/IR/basic.mlir
Owners: none

working pass
  include/circt/Dialect/DC/DCPasses.h
  include/circt/InitAllTranslations.h
  lib/Dialect/DC/CMakeLists.txt
  lib/Dialect/DC/Transforms/CMakeLists.txt
  lib/Dialect/Handshake/Transforms/Analysis.cpp
  lib/Target/CMakeLists.txt
Owners: @mortbopet, @Dinistro

[RTG] Add InstructionOpInterface
  include/circt/Dialect/RTG/IR/CMakeLists.txt
  include/circt/Dialect/RTG/IR/RTGInterfaces.td
  include/circt/Dialect/RTG/IR/RTGOps.h
  include/circt/Dialect/RTGTest/IR/RTGTestDialect.td
  include/circt/Dialect/RTGTest/IR/RTGTestOps.h
  include/circt/Dialect/RTGTest/IR/RTGTestOps.td
  lib/Dialect/RTG/IR/CMakeLists.txt
  lib/Dialect/RTGTest/IR/RTGTestOps.cpp
  test/Dialect/RTGTest/IR/basic.mlir
Owners: none

typo
  lib/Dialect/DC/CMakeLists.txt
Owners: @mortbopet

actual pass
  lib/Dialect/DC/Transforms/Analysis.cpp
Owners: @mortbopet

reset analysys handshake
  lib/Dialect/Handshake/Transforms/Analysis.cpp
Owners: @Dinistro, @mortbopet

[RTG] Add LabelOp
  include/circt/Dialect/RTG/IR/RTGOps.h
  include/circt/Dialect/RTG/IR/RTGOps.td
  lib/Dialect/RTG/IR/CMakeLists.txt
  test/Dialect/RTG/IR/basic.mlir
Owners: none

fixup! [FIRRTL] Add features, cleanup InstanceInfo (again)
  include/circt/Analysis/FIRRTLInstanceInfo.h
Owners: @darthscsi, @seldridge

clanged
  lib/Dialect/DC/Transforms/Analysis.cpp
Owners: @mortbopet

clanged passes
  include/circt/Dialect/DC/DCPasses.h
Owners: @mortbopet

[FIRRTL] Add features, cleanup InstanceInfo (again) (#7618)
  include/circt/Analysis/FIRRTLInstanceInfo.h
  lib/Analysis/FIRRTLInstanceInfo.cpp
  lib/Analysis/TestPasses.cpp
  test/Analysis/firrtl-test-instance-info.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Fix AddSeqMemPorts lint warning, NFC
  lib/Dialect/FIRRTL/Transforms/AddSeqMemPorts.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] Rename C++20 "module" AddSeqMemPorts, NFC
  lib/Dialect/FIRRTL/Transforms/AddSeqMemPorts.cpp
Owners: @darthscsi, @seldridge

Initial EmitAssembly translation pass
  include/circt/Dialect/RTG/IR/RTGInterfaces.td
  include/circt/InitAllTranslations.h
  include/circt/Target/EmitAssembly.h
  lib/Dialect/RTG/IR/RTGOps.cpp
  lib/Dialect/RTGTest/IR/RTGTestOps.cpp
  lib/Target/CMakeLists.txt
  lib/Target/EmitAssembly/CMakeLists.txt
  lib/Target/EmitAssembly/EmitAssembly.cpp
  test/Target/EmitAssembly/rtgtest.mlir
Owners: none

Add assertion check early pass exit
  lib/Conversion/VerifToSMT/VerifToSMT.cpp
  test/Conversion/VerifToSMT/verif-to-smt-errors.mlir
Owners: none

addressed comments
  include/circt/Dialect/DC/DCPasses.h
  lib/Dialect/DC/Transforms/Analysis.cpp
Owners: @mortbopet

Add `verif.bmc` VerifToSMT lowering (#7603)
  include/circt/Conversion/Passes.td
  include/circt/Conversion/VerifToSMT.h
  lib/Conversion/HWToSMT/CMakeLists.txt
  lib/Conversion/HWToSMT/HWToSMT.cpp
  lib/Conversion/VerifToSMT/CMakeLists.txt
  lib/Conversion/VerifToSMT/VerifToSMT.cpp
  test/Conversion/VerifToSMT/verif-to-smt-errors.mlir
  test/Conversion/VerifToSMT/verif-to-smt.mlir
Owners: none

Add circt-bmc tool
  integration_test/CMakeLists.txt
  integration_test/circt-bmc/comb-errors.mlir
  integration_test/circt-bmc/comb.mlir
  integration_test/circt-bmc/seq.mlir
  integration_test/lit.cfg.py
  tools/CMakeLists.txt
  tools/circt-bmc/CMakeLists.txt
  tools/circt-bmc/circt-bmc.cpp
Owners: none

Get a pass setup
  include/circt/Dialect/RTG/IR/CMakeLists.txt
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGPasses.h
  include/circt/Dialect/RTG/Passes.td
  lib/Dialect/RTG/CMakeLists.txt
  lib/Dialect/RTG/ExportElf.cpp
Owners: none

[FIRRTL][LowerMemory] Insert modules above users
  lib/Dialect/FIRRTL/Transforms/LowerMemory.cpp
  test/Dialect/FIRRTL/lower-memory.mlir
  test/firtool/prefixMemory.fir
Owners: @darthscsi, @seldridge

fixed comments pt 1
  lib/Dialect/DC/Transforms/Analysis.cpp
Owners: @mortbopet

eof newline
  lib/Dialect/DC/Transforms/Analysis.cpp
Owners: @mortbopet

[FIRRTL] Add "effective" functions to InstanceInfo
  include/circt/Analysis/FIRRTLInstanceInfo.h
  lib/Analysis/FIRRTLInstanceInfo.cpp
  lib/Analysis/TestPasses.cpp
  test/Analysis/firrtl-test-instance-info.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Simplify InstanceInfo function names
  include/circt/Analysis/FIRRTLInstanceInfo.h
  lib/Analysis/FIRRTLInstanceInfo.cpp
  lib/Analysis/TestPasses.cpp
  test/Analysis/firrtl-test-instance-info.mlir
Owners: @darthscsi, @seldridge

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive
