Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive

[SV] Add MacroRefOp to represet macro statement
  include/circt/Dialect/SV/SVExpressions.td
  include/circt/Dialect/SV/SVStatements.td
  include/circt/Dialect/SV/SVVisitors.h
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Dialect/SV/SVOps.cpp
  test/Conversion/ExportVerilog/pretty.mlir
  test/Conversion/ExportVerilog/sv-dialect.mlir
  test/Conversion/ExportVerilog/verilog-basic.mlir
  test/Conversion/FIRRTLToHW/emit-chisel-asserts-as-sva.mlir
  test/Conversion/FIRRTLToHW/lower-to-hw.mlir
  test/Dialect/SV/basic.mlir
  test/Dialect/SV/cse.mlir
  test/Dialect/Seq/firreg.mlir
  test/Dialect/Seq/hw-memsim.mlir
  test/firtool/print.fir
  test/firtool/stop.fir
Owners: @darthscsi, @seldridge

Add the RTG Dialect
  include/circt/Dialect/CMakeLists.txt
  include/circt/Dialect/RTG/CMakeLists.txt
  include/circt/Dialect/RTG/IR/CMakeLists.txt
  include/circt/Dialect/RTG/IR/RTG.td
  include/circt/Dialect/RTG/IR/RTGDialect.h
  include/circt/Dialect/RTG/IR/RTGOps.h
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/InitAllDialects.h
  lib/Dialect/CMakeLists.txt
  lib/Dialect/RTG/CMakeLists.txt
  lib/Dialect/RTG/IR/CMakeLists.txt
  lib/Dialect/RTG/IR/RTGDialect.cpp
  lib/Dialect/RTG/IR/RTGOps.cpp
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/IR/errors.mlir
  tools/circt-opt/CMakeLists.txt
Owners: none

[CMake] Consistently declare conversion libraries and simplify circt-opt link target list
  lib/Conversion/AffineToLoopSchedule/CMakeLists.txt
  lib/Conversion/CFToHandshake/CMakeLists.txt
  lib/Conversion/CalyxNative/CMakeLists.txt
  lib/Conversion/CalyxToFSM/CMakeLists.txt
  lib/Conversion/CalyxToHW/CMakeLists.txt
  lib/Conversion/DCToHW/CMakeLists.txt
  lib/Conversion/HandshakeToDC/CMakeLists.txt
  lib/Conversion/HandshakeToHW/CMakeLists.txt
  lib/Conversion/PipelineToHW/CMakeLists.txt
  tools/circt-opt/CMakeLists.txt
Owners: @rachitnigam, @mortbopet, @mikeurbach, @Dinistro

[RTG] Add snippet, instruction, and resource types
  include/circt/Dialect/RTG/IR/RTG.td
  include/circt/Dialect/RTG/IR/RTGDialect.td
  include/circt/Dialect/RTG/IR/RTGTypes.h
  include/circt/Dialect/RTG/IR/RTGTypes.td
  lib/Dialect/RTG/IR/CMakeLists.txt
  lib/Dialect/RTG/IR/RTGDialect.cpp
  lib/Dialect/RTG/IR/RTGTypes.cpp
  test/Dialect/RTG/IR/basic.mlir
Owners: none

address comments
  integration_test/arcilator/JIT/reg.mlir
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  test/Conversion/ConvertToArcs/convert-to-arcs.mlir
Owners: none

[Arc] Fully support initialization through seq.initial (#7605)
  integration_test/arcilator/JIT/reg.mlir
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  test/Conversion/ConvertToArcs/convert-to-arcs.mlir
  test/Dialect/Arc/lower-state.mlir
Owners: @fabianschuiki, @maerhart

[CMake] Consistently declare conversion libraries and simplify circt-opt link target list (#7610)
  lib/Conversion/AffineToLoopSchedule/CMakeLists.txt
  lib/Conversion/CFToHandshake/CMakeLists.txt
  lib/Conversion/CalyxNative/CMakeLists.txt
  lib/Conversion/CalyxToFSM/CMakeLists.txt
  lib/Conversion/CalyxToHW/CMakeLists.txt
  lib/Conversion/DCToHW/CMakeLists.txt
  lib/Conversion/HandshakeToDC/CMakeLists.txt
  lib/Conversion/HandshakeToHW/CMakeLists.txt
  lib/Conversion/PipelineToHW/CMakeLists.txt
  tools/circt-opt/CMakeLists.txt
Owners: @rachitnigam, @mortbopet, @mikeurbach, @Dinistro

[NFC][ESI] Move around services code
  include/circt/Dialect/MSFT/MSFTPasses.h
  lib/Dialect/ESI/ESIServices.cpp
  lib/Dialect/MSFT/Transforms/PassCommon.cpp
Owners: @teqdruid

[FIRRTL] Add InstanceInfo Analysis
  include/circt/Analysis/FIRRTLInstanceInfo.h
  lib/Analysis/CMakeLists.txt
  lib/Analysis/FIRRTLInstanceInfo.cpp
  lib/Analysis/TestPasses.cpp
  lib/Dialect/FIRRTL/CMakeLists.txt
Owners: @darthscsi, @seldridge

fixup! [FIRRTL] Add InstanceInfo Analysis
  test/Analysis/firrtl-test-instance-info.mlir
Owners: none

fixup! [FIRRTL] Add InstanceInfo Analysis
  lib/Analysis/FIRRTLInstanceInfo.cpp
Owners: @darthscsi, @seldridge

fixup! [FIRRTL] Add InstanceInfo Analysis
  lib/Analysis/CMakeLists.txt
Owners: none

[Moore] Add assert, assume, and conver ops.
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Statements.cpp
  test/Conversion/ImportVerilog/basic.sv
Owners: none

fixup! [FIRRTL] Add InstanceInfo Analysis
  lib/Analysis/CMakeLists.txt
  lib/Dialect/FIRRTL/CMakeLists.txt
Owners: @darthscsi, @seldridge

[Moore] Add assert, assume, and conver ops. (#7589)
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Statements.cpp
  test/Conversion/ImportVerilog/basic.sv
Owners: none

[FIRRTL] Allow local targets to be multiply-instantiated.
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  lib/Dialect/FIRRTL/Transforms/ResolvePaths.cpp
  test/Dialect/FIRRTL/lower-classes-errors.mlir
  test/Dialect/FIRRTL/lower-classes.mlir
  test/Dialect/FIRRTL/resolve-paths-errors.mlir
  test/Dialect/FIRRTL/resolve-paths.mlir
Owners: @darthscsi, @seldridge

[MooreToCore] Fix the stack error caused by the uarray reftype.
  lib/Conversion/MooreToCore/MooreToCore.cpp
Owners: none

Update lib/Dialect/FIRRTL/Transforms/ResolvePaths.cpp
  lib/Dialect/FIRRTL/Transforms/ResolvePaths.cpp
Owners: @darthscsi, @seldridge

Update comment about ambiguity.
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] Avoid module keyword in CheckLayers, NFC
  lib/Dialect/FIRRTL/Transforms/CheckLayers.cpp
Owners: @darthscsi, @seldridge

fixup! [FIRRTL] Add InstanceInfo Analysis
  lib/Analysis/FIRRTLInstanceInfo.cpp
Owners: @darthscsi, @seldridge

fixup! [FIRRTL] Add InstanceInfo Analysis
  include/circt/Analysis/FIRRTLInstanceInfo.h
Owners: @darthscsi, @seldridge

fixup! [FIRRTL] Add InstanceInfo Analysis
  include/circt/Analysis/FIRRTLInstanceInfo.h
  lib/Analysis/FIRRTLInstanceInfo.cpp
Owners: @darthscsi, @seldridge

fixup! [FIRRTL] Add InstanceInfo Analysis
  lib/Analysis/TestPasses.cpp
Owners: none

fixup! [FIRRTL] Add InstanceInfo Analysis
  test/Analysis/firrtl-test-instance-info.mlir
Owners: none

fixup! [FIRRTL] Add InstanceInfo Analysis
  test/Analysis/firrtl-test-instance-info.mlir
Owners: none

fixup! [FIRRTL] Add InstanceInfo Analysis
  lib/Analysis/FIRRTLInstanceInfo.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] Allow local targets to be multiply-instantiated. (#7613)
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  lib/Dialect/FIRRTL/Transforms/ResolvePaths.cpp
  test/Dialect/FIRRTL/lower-classes-errors.mlir
  test/Dialect/FIRRTL/lower-classes.mlir
  test/Dialect/FIRRTL/resolve-paths-errors.mlir
  test/Dialect/FIRRTL/resolve-paths.mlir
Owners: @darthscsi, @seldridge

fixup! [FIRRTL] Add InstanceInfo Analysis
  include/circt/Analysis/FIRRTLInstanceInfo.h
  lib/Analysis/FIRRTLInstanceInfo.cpp
  lib/Analysis/TestPasses.cpp
  test/Analysis/firrtl-test-instance-info.mlir
Owners: @darthscsi, @seldridge

fixup! [FIRRTL] Add InstanceInfo Analysis
  lib/Analysis/FIRRTLInstanceInfo.cpp
Owners: @darthscsi, @seldridge

fixup! [FIRRTL] Add InstanceInfo Analysis
  include/circt/Analysis/FIRRTLInstanceInfo.h
  lib/Analysis/FIRRTLInstanceInfo.cpp
  test/Analysis/firrtl-test-instance-info.mlir
Owners: @darthscsi, @seldridge

lower scf parallel to calyx using the tracebank algorithm
  include/circt/Conversion/Passes.td
  include/circt/Dialect/Calyx/CalyxLoweringUtils.h
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/Transforms/CalyxLoweringUtils.cpp
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet

Drop unnecessary zip & braces
  lib/Conversion/VerifToSMT/VerifToSMT.cpp
Owners: none

Instantiate SymbolTable in runOnOperation
  include/circt/Conversion/VerifToSMT.h
  lib/Conversion/VerifToSMT/VerifToSMT.cpp
Owners: none

Check assertion count outside pattern, update error message & add test
  include/circt/Conversion/VerifToSMT.h
  lib/Conversion/VerifToSMT/VerifToSMT.cpp
  test/Conversion/VerifToSMT/verif-to-smt-errors.mlir
Owners: none

[LLHD][TCM] Simplify region directly
  lib/Dialect/LLHD/Transforms/TemporalCodeMotionPass.cpp
  test/Dialect/LLHD/Transforms/temporal-code-motion.mlir
Owners: @fabianschuiki, @maerhart

attempting to refactor export to pass
  include/circt/Dialect/DC/DCPasses.h
  include/circt/Dialect/DC/DCPasses.td
  include/circt/Target/ExportDot.h
  lib/Target/ExportDot/CMakeLists.txt
  lib/Target/ExportDot/ExportDot.cpp
Owners: @mortbopet

fixup! [FIRRTL] Add InstanceInfo Analysis
  lib/Analysis/FIRRTLInstanceInfo.cpp
Owners: @darthscsi, @seldridge

[LLHD] Add DesequentializationPass
  include/circt/Dialect/LLHD/Transforms/Passes.h
  include/circt/Dialect/LLHD/Transforms/Passes.td
  include/circt/Dialect/Seq/SeqOps.td
  include/circt/InitAllPasses.h
  include/circt/Support/FVInt.h
  lib/Dialect/LLHD/Transforms/CMakeLists.txt
  lib/Dialect/LLHD/Transforms/DesequentializationPass.cpp
  lib/Dialect/LLHD/Transforms/PassRegistration.cpp
  lib/Dialect/LLHD/Transforms/TemporalRegions.cpp
  lib/Dialect/LLHD/Transforms/TemporalRegions.h
  lib/Support/FVInt.cpp
  test/Dialect/LLHD/Transforms/desequentialization.mlir
Owners: @fabianschuiki, @maerhart

fixup! [FIRRTL] Add InstanceInfo Analysis
  lib/Analysis/FIRRTLInstanceInfo.cpp
Owners: @darthscsi, @seldridge
