Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive

checkpoint
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/common.py
  frontends/PyCDE/src/pycde/esi.py
  frontends/PyCDE/src/pycde/signals.py
  frontends/PyCDE/src/pycde/support.py
  include/circt/Dialect/ESI/ESIManifest.td
  lib/Dialect/ESI/ESIOps.cpp
  lib/Dialect/ESI/ESIServices.cpp
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/include/esi/Accelerator.h
  lib/Dialect/ESI/runtime/cpp/include/esi/Common.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Cosim.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Trace.h
  lib/Dialect/ESI/runtime/cpp/include/esi/backends/Xrt.h
  lib/Dialect/ESI/runtime/cpp/lib/Manifest.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Trace.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esiquery.cpp
Owners: @teqdruid

more move to visitor
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  include/circt/Target/EmitRTGAssembly.h
  lib/Target/EmitRTGAssembly/EmitRTGAssembly.cpp
  test/Target/EmitRTGAssembly/rtgtest-errors.mlir
  test/Target/EmitRTGAssembly/rtgtest-no-binary.mlir
  test/Target/EmitRTGAssembly/rtgtest.mlir
Owners: none

[FIRRTL][ProbesToSignals] RWProbe support (#7706)
  lib/Dialect/FIRRTL/Transforms/ProbesToSignals.cpp
  test/Dialect/FIRRTL/probes-to-signals-errors.mlir
  test/Dialect/FIRRTL/probes-to-signals.mlir
Owners: @darthscsi, @seldridge

[Verif] Add PrepareVerifForExportVerilog pass
  include/circt/Dialect/Verif/Passes.td
  include/circt/Dialect/Verif/VerifPasses.h
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
  lib/Dialect/Verif/Transforms/CMakeLists.txt
  lib/Dialect/Verif/Transforms/PrepareVerifForExportVerilog.cpp
  test/Dialect/Verif/prepare-verif-for-export-verilog.mlir
Owners: @darthscsi, @seldridge

Use inlineBlockBefore
  lib/Dialect/Verif/Transforms/PrepareVerifForExportVerilog.cpp
Owners: none

Remove rebase artifact
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

add rational doc
  docs/Dialects/RTG/rational.md
Owners: none

Rename to LowerFormalToHW
  include/circt/Dialect/Verif/Passes.td
  include/circt/Dialect/Verif/VerifPasses.h
  lib/Dialect/Verif/Transforms/CMakeLists.txt
  lib/Dialect/Verif/Transforms/LowerFormalToHW.cpp
  test/Dialect/Verif/lower-formal-to-hw.mlir
Owners: none

format .td
  include/circt/Dialect/Verif/Passes.td
Owners: none

[Arc] Add dominance-aware pass to sink ops and merge scf.if ops
  include/circt/Dialect/Arc/ArcPasses.h
  include/circt/Dialect/Arc/ArcPasses.td
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/GroupResetsAndEnables.cpp
  lib/Dialect/Arc/Transforms/MergeIfs.cpp
  test/Dialect/Arc/group-resets-and-enables.mlir
  test/Dialect/Arc/merge-ifs.mlir
  tools/arcilator/arcilator.cpp
Owners: @fabianschuiki, @maerhart

Fix comment, use make_early_inc_range
  lib/Dialect/Verif/Transforms/LowerFormalToHW.cpp
Owners: none

Add comb support
  lib/Dialect/Verif/Transforms/LowerFormalToHW.cpp
  test/Dialect/Verif/lower-formal-to-hw.mlir
Owners: none

Add seq support
  lib/Dialect/Verif/Transforms/LowerFormalToHW.cpp
  test/Dialect/Verif/lower-formal-to-hw.mlir
Owners: none

[Arc] Add dominance-aware pass to sink ops and merge scf.if ops (#7702)
  include/circt/Dialect/Arc/ArcPasses.h
  include/circt/Dialect/Arc/ArcPasses.td
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/GroupResetsAndEnables.cpp
  lib/Dialect/Arc/Transforms/MergeIfs.cpp
  test/Dialect/Arc/group-resets-and-enables.mlir
  test/Dialect/Arc/merge-ifs.mlir
  tools/arcilator/arcilator.cpp
Owners: @fabianschuiki, @maerhart

Use greedy pattern rewriter
  lib/Dialect/Verif/Transforms/LowerFormalToHW.cpp
  test/Dialect/Verif/lower-formal-to-hw.mlir
Owners: none

Clang format
  lib/Dialect/Verif/Transforms/LowerFormalToHW.cpp
Owners: none

per-context emission
  docs/Dialects/RTG/rational.md
  lib/Target/EmitRTGAssembly/EmitRTGAssembly.cpp
  test/Target/EmitRTGAssembly/rtgtest.mlir
Owners: none

[Verif] Add LowerFormalToHW pass (#7707)
  include/circt/Dialect/Verif/Passes.td
  include/circt/Dialect/Verif/VerifPasses.h
  lib/Dialect/Verif/Transforms/CMakeLists.txt
  lib/Dialect/Verif/Transforms/LowerFormalToHW.cpp
  test/Dialect/Verif/lower-formal-to-hw.mlir
Owners: none

Update GettingStarted.md
  docs/GettingStarted.md
Owners: none

Update FormalVerification.md
  docs/FormalVerification.md
Owners: none

Make Python Binding submodule definitions accessible via public API
  include/circt/Bindings/Python/CIRCTModules.h
  lib/Bindings/Python/CIRCTModule.cpp
  lib/Bindings/Python/CMakeLists.txt
  lib/Bindings/Python/ESIModule.cpp
  lib/Bindings/Python/HWModule.cpp
  lib/Bindings/Python/MSFTModule.cpp
  lib/Bindings/Python/OMModule.cpp
  lib/Bindings/Python/RTGModule.cpp
  lib/Bindings/Python/SVModule.cpp
  lib/Bindings/Python/SeqModule.cpp
  lib/Bindings/Python/SupportModule.cpp
Owners: none

[CombFolds] Preserve two-state attribute in `narrowOperationWidth`
  lib/Dialect/Comb/CombFolds.cpp
  test/Dialect/Comb/canonicalization.mlir
Owners: @darthscsi

[NFC] Fix typo in Arc PrintCostModel summary
  include/circt/Dialect/Arc/ArcPasses.td
Owners: @fabianschuiki, @maerhart

Advanced LayerSink
  include/circt/Dialect/FIRRTL/Passes.td
  include/circt/Firtool/Firtool.h
  lib/Dialect/FIRRTL/Transforms/LayerSink.cpp
  lib/Firtool/Firtool.cpp
  test/Dialect/FIRRTL/layer-sink.mlir
  test/Dialect/FIRRTL/ref.mlir
Owners: @darthscsi, @seldridge

cleanup
  lib/Firtool/Firtool.cpp
Owners: none

Typo: add advanced layer sink pass, not og layer sink
  lib/Firtool/Firtool.cpp
Owners: none

Revert changes to the original layer sink pass
  lib/Dialect/FIRRTL/Transforms/LayerSink.cpp
Owners: @darthscsi, @seldridge

Remove phase1: already dropped phase2 so just do it
  lib/Dialect/FIRRTL/Transforms/AdvancedLayerSink.cpp
Owners: @darthscsi, @seldridge

More minor cleanup
  lib/Firtool/Firtool.cpp
  test/Dialect/FIRRTL/advanced-layer-sink.mlir
Owners: @darthscsi, @seldridge

More cleanup
  include/circt/Dialect/FIRRTL/Passes.h
  lib/Dialect/FIRRTL/Transforms/AdvancedLayerSink.cpp
  lib/Firtool/Firtool.cpp
Owners: @darthscsi, @seldridge

More changed for advanced layer sink
  include/circt/Dialect/FIRRTL/Passes.td
  include/circt/Firtool/Firtool.h
  lib/Firtool/Firtool.cpp
Owners: @darthscsi, @seldridge

Moved advanced-layer-sink tests to dedicated mlir file
  test/Dialect/FIRRTL/advanced-layer-sink.mlir
  test/Dialect/FIRRTL/layer-sink.mlir
Owners: @darthscsi, @seldridge

Move advanced layer sink to its own pass
  include/circt/Dialect/FIRRTL/Passes.td
  lib/Dialect/FIRRTL/Transforms/AdvancedLayerSink.cpp
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
Owners: @darthscsi, @seldridge

[CombFolds] Preserve two-state attribute in `narrowOperationWidth` (#7712)
  lib/Dialect/Comb/CombFolds.cpp
  test/Dialect/Comb/canonicalization.mlir
Owners: @darthscsi

[AIG] Add an AIG dialect
  docs/Dialects/AIG/AIG.md
  include/circt/Conversion/CombToAIG.h
  include/circt/Conversion/Passes.h
  include/circt/Conversion/Passes.td
  include/circt/Dialect/AIG/AIG.td
  include/circt/Dialect/AIG/AIGDialect.h
  include/circt/Dialect/AIG/AIGOps.h
  include/circt/Dialect/AIG/AIGOps.td
  include/circt/Dialect/AIG/AIGPasses.h
  include/circt/Dialect/AIG/AIGPasses.td
  include/circt/Dialect/AIG/CMakeLists.txt
  include/circt/Dialect/CMakeLists.txt
  include/circt/InitAllDialects.h
  include/circt/InitAllPasses.h
  lib/Conversion/CMakeLists.txt
  lib/Conversion/CombToAIG/CMakeLists.txt
  lib/Conversion/CombToAIG/CombToAIG.cpp
  lib/Dialect/AIG/AIGDialect.cpp
  lib/Dialect/AIG/AIGOps.cpp
  lib/Dialect/AIG/CMakeLists.txt
  lib/Dialect/AIG/Transforms/CMakeLists.txt
  lib/Dialect/AIG/Transforms/LowerCutToLUT.cpp
  lib/Dialect/CMakeLists.txt
  test/Conversion/CombToAIG/comb-to-aig.mlir
  test/Dialect/AIG/round-trip.mlir
  tools/CMakeLists.txt
  tools/circt-synth/CMakeLists.txt
  tools/circt-synth/README.md
  tools/circt-synth/circt-synth.cpp
Owners: none

[ESI][Runtime] Add `disconnect` port call to Python
  frontends/PyCDE/integration_test/test_software/esi_test.py
  lib/Dialect/ESI/runtime/python/esiaccel/esiCppAccel.cpp
  lib/Dialect/ESI/runtime/python/esiaccel/types.py
Owners: @teqdruid

[PyCDE] Add an ESI ChannelService convenience service decl
  frontends/PyCDE/integration_test/esi_test.py
  frontends/PyCDE/integration_test/test_software/esi_test.py
  frontends/PyCDE/src/pycde/esi.py
  frontends/PyCDE/src/pycde/signals.py
  frontends/PyCDE/test/test_esi_servicegens.py
Owners: none

[PyCDE] Better AppID strings and dictattr conversion
  frontends/PyCDE/src/pycde/common.py
  frontends/PyCDE/src/pycde/support.py
  frontends/PyCDE/test/test_esi.py
Owners: none

Make tests pass everything work
  frontends/PyCDE/src/pycde/esi.py
  lib/Dialect/ESI/ESIServices.cpp
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Xrt.cpp
  test/Dialect/ESI/manifest.mlir
  test/Dialect/ESI/services.mlir
Owners: @teqdruid

Removing formatting changes to pycde
  frontends/PyCDE/src/pycde/esi.py
  frontends/PyCDE/src/pycde/signals.py
Owners: none
