Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

[ImportVerilog] Add HierarchicalNames.cpp to support hierarchical names.
  lib/Conversion/ImportVerilog/CMakeLists.txt
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/HierarchicalNames.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Structure.cpp
  test/Conversion/ImportVerilog/hierarchical-names.sv
Owners: none

[FIRRTL] Add verifier of single MarkDUTAnnotation (#7633)
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/errors.mlir
Owners: @darthscsi, @seldridge

[ImportVerilog] Marked all hierarchical names as output ports with ref types.
  lib/Conversion/ImportVerilog/HierarchicalNames.cpp
  lib/Conversion/ImportVerilog/Structure.cpp
  test/Conversion/ImportVerilog/hierarchical-names.sv
Owners: none

more context stuff
  include/circt/Dialect/RTG/IR/RTG.td
  include/circt/Dialect/RTG/IR/RTGDialect.h
  include/circt/Dialect/RTG/IR/RTGDialect.td
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGTypes.td
  include/circt/Dialect/RTGTest/IR/RTGTestTypes.td
  lib/Dialect/RTG/IR/RTGDialect.cpp
  lib/Dialect/RTG/IR/RTGTypes.cpp
  test/Dialect/RTG/IR/basic.mlir
Owners: none

[FIRRTL][Inliner][NFC] Drop braces on single-statement for.
  lib/Dialect/FIRRTL/Transforms/ModuleInliner.cpp
Owners: @darthscsi, @seldridge

[FIRRTL][Inliner][NFC] rename module -> moduleOp.
  lib/Dialect/FIRRTL/Transforms/ModuleInliner.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] Inliner: Support for ops with regions.
  lib/Dialect/FIRRTL/Transforms/ModuleInliner.cpp
  test/Dialect/FIRRTL/inliner-errors.mlir
  test/Dialect/FIRRTL/inliner.mlir
Owners: @darthscsi, @seldridge

[FIRRTL][Inliner] rework inliningWalk a bit for easier reading.
  lib/Dialect/FIRRTL/Transforms/ModuleInliner.cpp
Owners: @darthscsi, @seldridge

fixed most comments
  lib/Dialect/DC/Transforms/DCPrintDot.cpp
Owners: @mortbopet

inliner.mlir: add a simpler test, trim and tidy a bit.
  test/Dialect/FIRRTL/inliner.mlir
Owners: @darthscsi, @seldridge

Add another simpler test.
  test/Dialect/FIRRTL/inliner.mlir
Owners: @darthscsi, @seldridge

enum and llvm issues fixed
  lib/Dialect/DC/Transforms/DCPrintDot.cpp
Owners: @mortbopet

clanged
  lib/Dialect/DC/Transforms/DCPrintDot.cpp
Owners: @mortbopet

[FIRRTL] Inliner: Support for ops with regions. (#7398)
  lib/Dialect/FIRRTL/Transforms/ModuleInliner.cpp
  test/Dialect/FIRRTL/inliner-errors.mlir
  test/Dialect/FIRRTL/inliner.mlir
Owners: @darthscsi, @seldridge

[firtool] Move LowerLayers later in pipeline.
  lib/Firtool/Firtool.cpp
Owners: none

[firtool] Move LowerLayers later in pipeline. (#7639)
  lib/Firtool/Firtool.cpp
Owners: none

[FIRRTL][LowerLayers] Remove handling of some ref ops
  lib/Dialect/FIRRTL/Transforms/LowerLayers.cpp
Owners: @darthscsi, @seldridge

addressed nits
  lib/Dialect/DC/Transforms/DCPrintDot.cpp
Owners: @mortbopet

clanged
  lib/Dialect/DC/Transforms/DCPrintDot.cpp
Owners: @mortbopet

fixup! [FIRRTL] Use walk, InstanceInfo in AddSeqMemPorts
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
Owners: @darthscsi, @seldridge

[RTG] Add basic python bindings
  include/circt-c/Dialect/RTG.h
  integration_test/Bindings/Python/dialects/rtg.py
  lib/Bindings/Python/CIRCTModule.cpp
  lib/Bindings/Python/CIRCTModules.h
  lib/Bindings/Python/CMakeLists.txt
  lib/Bindings/Python/RTGModule.cpp
  lib/Bindings/Python/dialects/RTGOps.td
  lib/Bindings/Python/dialects/rtg.py
  lib/CAPI/Dialect/CMakeLists.txt
  lib/CAPI/Dialect/RTG.cpp
Owners: none

fixup! [FIRRTL] Use walk, InstanceInfo in AddSeqMemPorts
  lib/Dialect/FIRRTL/Transforms/AddSeqMemPorts.cpp
Owners: @darthscsi, @seldridge

fixup! [FIRRTL] Use walk, InstanceInfo in AddSeqMemPorts
  lib/Dialect/FIRRTL/Transforms/AddSeqMemPorts.cpp
Owners: @darthscsi, @seldridge

fixup! [FIRRTL] Use walk, InstanceInfo in AddSeqMemPorts
  lib/Dialect/FIRRTL/Transforms/AddSeqMemPorts.cpp
  test/Dialect/FIRRTL/add-seqmem-ports.mlir
Owners: @darthscsi, @seldridge

Revert "fixup! [FIRRTL] Use walk, InstanceInfo in AddSeqMemPorts"
  lib/Dialect/FIRRTL/Transforms/AddSeqMemPorts.cpp
  test/Dialect/FIRRTL/add-seqmem-ports.mlir
Owners: @darthscsi, @seldridge

squash! [FIRRTL] Use walk, InstanceInfo in AddSeqMemPorts
  lib/Dialect/FIRRTL/Transforms/AddSeqMemPorts.cpp
  test/Dialect/FIRRTL/add-seqmem-ports.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Use walk, InstanceInfo in AddSeqMemPorts (#7599)
  lib/Dialect/FIRRTL/Transforms/AddSeqMemPorts.cpp
  lib/Dialect/FIRRTL/Transforms/CMakeLists.txt
  test/Dialect/FIRRTL/add-seqmem-ports-errors.mlir
  test/Dialect/FIRRTL/add-seqmem-ports.mlir
Owners: @darthscsi, @seldridge

[ImportVerilog] Add support for $stop/$finish/$exit (#7634)
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Statements.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Dialect/Moore/basic.mlir
Owners: none

fixed static
  lib/Dialect/DC/Transforms/DCPrintDot.cpp
Owners: @mortbopet

clanged
  lib/Dialect/DC/Transforms/DCPrintDot.cpp
Owners: @mortbopet

[DC] Adding `dc-print-dot` pass (#7619)
  include/circt/Dialect/DC/DCPasses.h
  include/circt/Dialect/DC/DCPasses.td
  lib/Dialect/DC/CMakeLists.txt
  lib/Dialect/DC/Transforms/CMakeLists.txt
  lib/Dialect/DC/Transforms/DCPrintDot.cpp
Owners: @mortbopet

Reabse Yosys
  CMakeLists.txt
  include/circt/Conversion/CMakeLists.txt
  include/circt/Conversion/ExportRTLIL.h
  include/circt/Conversion/Passes.h
  include/circt/Conversion/Passes.td
  include/circt/Dialect/Seq/SeqVisitor.h
  integration_test/lit.cfg.py
  integration_test/lit.site.cfg.py.in
  lib/Conversion/CMakeLists.txt
  lib/Conversion/ExportYosys/CMakeLists.txt
  lib/Conversion/ExportYosys/ExportRTLIL.cpp
  lib/Conversion/ExportYosys/ImportRTLIL.cpp
  lib/Conversion/ExportYosys/README.md
  lib/Conversion/ExportYosys/RTLILConverterInternal.h
  lib/Conversion/ExportYosys/YosysOptimizer.cpp
  lib/Dialect/HW/HWInstanceImplementation.cpp
  test/circt-synth/add.mlir
  test/circt-synth/add_synth.sv
  test/circt-synth/add_xilinx.sv
  tools/circt-lec/circt-lec.cpp
  tools/circt-opt/CMakeLists.txt
  tools/circt-translate/circt-translate.cpp
  tools/firtool/CMakeLists.txt
  tools/firtool/firtool.cpp
Owners: @darthscsi

Add analysis skeleton
  lib/Analysis/CMakeLists.txt
Owners: none

[FIRRTL] Error mixed DUT mems in AddSeqMemPorts
  lib/Dialect/FIRRTL/Transforms/AddSeqMemPorts.cpp
  test/Dialect/FIRRTL/add-seqmem-ports-errors.mlir
Owners: @darthscsi, @seldridge

Implement analysis methods
  include/circt/Analysis/OpCountAnalysis.h
  lib/Analysis/OpCountAnalysis.cpp
Owners: none

Update python bindings test
  integration_test/Bindings/Python/dialects/om.py
Owners: none

Fix interface method copy-paste typo
  include/circt/Dialect/OM/OMOpInterfaces.td
Owners: none

[OM] Rework ClassLike to use return style
  include/circt/Dialect/OM/OMOpInterfaces.h
  include/circt/Dialect/OM/OMOpInterfaces.td
  include/circt/Dialect/OM/OMOps.h
  include/circt/Dialect/OM/OMOps.td
  integration_test/Bindings/Python/dialects/om.py
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  lib/Dialect/OM/Evaluator/Evaluator.cpp
  lib/Dialect/OM/OMOps.cpp
  lib/Dialect/OM/Transforms/FreezePaths.cpp
  lib/Dialect/OM/Transforms/LinkModules.cpp
  lib/Dialect/OM/Transforms/VerifyObjectFields.cpp
  test/CAPI/om.c
  test/Dialect/FIRRTL/SFCTests/directories.fir
  test/Dialect/FIRRTL/lower-classes.mlir
  test/Dialect/OM/errors.mlir
  test/Dialect/OM/freeze-paths-errors.mlir
  test/Dialect/OM/freeze-paths.mlir
  test/Dialect/OM/link-modules-error.mlir
  test/Dialect/OM/link-modules.mlir
  test/Dialect/OM/round-trip.mlir
  test/firtool/classes-dedupe.fir
  test/om-linker/Inputs/a.mlir
  test/om-linker/Inputs/b.mlir
  test/om-linker/link.mlir
  unittests/Dialect/OM/Evaluator/EvaluatorTests.cpp
Owners: @darthscsi, @seldridge

Fuse fields input logic with previous loop
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
Owners: @darthscsi, @seldridge

use builder pattern
  include/circt/Dialect/OM/OMOps.td
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
Owners: @darthscsi, @seldridge

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive
