Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive

Update dedupe
  test/firtool/classes-dedupe.fir
Owners: none

Remove old code
  lib/Dialect/OM/Transforms/VerifyObjectFields.cpp
Owners: none

Remove old code
  lib/Dialect/OM/Transforms/VerifyObjectFields.cpp
Owners: none

Update c api test
  test/CAPI/om.c
Owners: none

Update link test
  test/om-linker/Inputs/a.mlir
  test/om-linker/Inputs/b.mlir
  test/om-linker/link.mlir
Owners: none

Update directories test
  test/Dialect/FIRRTL/SFCTests/directories.fir
Owners: @darthscsi, @seldridge

Fix typos
  test/Dialect/FIRRTL/SFCTests/directories.fir
Owners: @darthscsi, @seldridge

Update lower-classes test
  test/Dialect/FIRRTL/lower-classes.mlir
Owners: @darthscsi, @seldridge

[Arc] Address @fabianschuiki comments
  include/circt/Dialect/Arc/ArcCostModel.h
  include/circt/Dialect/Arc/ArcPasses.h
  include/circt/Dialect/Arc/ArcPasses.td
  lib/Dialect/Arc/ArcCostModel.cpp
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/PrintCostModel.cpp
Owners: @fabianschuiki, @maerhart

[Arc] Remove DummyAnalysisTester.cpp
  lib/Dialect/Arc/Transforms/DummyAnalysisTester.cpp
Owners: @fabianschuiki, @maerhart

implemented Symbol interface
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
Owners: @darthscsi, @seldridge

Arc initial op implementation
  include/circt/Dialect/Arc/ArcOps.h
  include/circt/Dialect/Arc/ArcOps.td
  include/circt/Dialect/Arc/ModelInfo.h
  integration_test/arcilator/JIT/initial.mlir
  lib/Conversion/ArcToLLVM/LowerArcToLLVM.cpp
  lib/Dialect/Arc/ModelInfo.cpp
  lib/Dialect/Arc/Transforms/LowerClocksToFuncs.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  test/Dialect/Arc/lower-clocks-to-funcs.mlir
  tools/arcilator/arcilator-header-cpp.py
Owners: @fabianschuiki, @maerhart

WIP
  include/circt/Conversion/Passes.td
  include/circt/Dialect/Arc/ArcOps.h
  include/circt/Dialect/Arc/ArcOps.td
  integration_test/arcilator/JIT/initial-shift-reg.mlir
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  lib/Dialect/Arc/ModelInfo.cpp
  lib/Dialect/Arc/Transforms/LowerClocksToFuncs.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  lib/Dialect/Arc/Transforms/StripSV.cpp
  test/Conversion/ConvertToArcs/convert-to-arcs.mlir
  test/Dialect/Arc/lower-clocks-to-funcs.mlir
  tools/arcilator/arcilator-header-cpp.py
Owners: @fabianschuiki, @maerhart

Python fmt
  tools/arcilator/arcilator-header-cpp.py
Owners: @fabianschuiki, @maerhart

fixed Symbol implementation
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
Owners: @darthscsi, @seldridge

[HW][CAPI] Add a function to get an empty `InnerSymAttr`
  include/circt-c/Dialect/HW.h
  lib/CAPI/Dialect/HW.cpp
Owners: none

[Comb][Fold] Fix idemp n^2 and bugfix + more optimization.
  lib/Dialect/Comb/CombFolds.cpp
  test/Dialect/Comb/canonicalization.mlir
Owners: @darthscsi

[LLHD] Relax sig parent constraint
  include/circt/Dialect/LLHD/IR/LLHDSignalOps.td
  test/Dialect/LLHD/IR/errors.mlir
Owners: @fabianschuiki, @maerhart

[PyCDE] Support for adding module constants to manifests (#7510)
  frontends/PyCDE/integration_test/esi_test.py
  frontends/PyCDE/integration_test/test_software/esi_test.py
  frontends/PyCDE/src/pycde/common.py
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/src/pycde/support.py
  frontends/PyCDE/test/test_esi.py
Owners: none

Code cleanup
  include/circt/Dialect/Arc/ModelInfo.h
  lib/Conversion/ArcToLLVM/LowerArcToLLVM.cpp
  lib/Dialect/Arc/ModelInfo.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  lib/Dialect/Arc/Transforms/StripSV.cpp
Owners: @fabianschuiki, @maerhart

Added test
  test/Dialect/Arc/lower-state.mlir
Owners: @fabianschuiki, @maerhart

[Comb][Fold] Fix idemp n^2 and bugfix + more optimization. (#7514)
  lib/Dialect/Comb/CombFolds.cpp
  test/Dialect/Comb/canonicalization.mlir
Owners: @darthscsi

Ignore IntialOps in LegalizeStateUpdate
  lib/Dialect/Arc/Transforms/LegalizeStateUpdate.cpp
Owners: @fabianschuiki, @maerhart

Error test and tweaks
  lib/Dialect/Arc/Transforms/LowerState.cpp
  test/Dialect/Arc/lower-state-errors.mlir
Owners: @fabianschuiki, @maerhart

[OM] Support list concatenation in the Evaluator. (#7511)
  include/circt/Dialect/OM/Evaluator/Evaluator.h
  lib/Dialect/OM/Evaluator/Evaluator.cpp
  unittests/Dialect/OM/Evaluator/EvaluatorTests.cpp
Owners: none

Cleanup
  lib/Dialect/Arc/ModelInfo.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
Owners: @fabianschuiki, @maerhart

Update evaluator tests
  include/circt/Dialect/OM/OMOpInterfaces.td
  include/circt/Dialect/OM/OMOps.td
  lib/Dialect/OM/OMOps.cpp
  unittests/Dialect/OM/Evaluator/EvaluatorTests.cpp
Owners: none

Add SymbolUserOpInterface to ModelOp
  include/circt/Dialect/Arc/ArcOps.td
  lib/Dialect/Arc/ArcOps.cpp
  test/Dialect/Arc/basic-errors.mlir
Owners: @fabianschuiki, @maerhart

[LLHD] Relax sig parent constraint (#7515)
  include/circt/Dialect/LLHD/IR/LLHDSignalOps.td
  test/Dialect/LLHD/IR/errors.mlir
Owners: @fabianschuiki, @maerhart

Add link dependency
  lib/Dialect/Arc/CMakeLists.txt
Owners: @fabianschuiki, @maerhart

Test initial type verifier
  test/Dialect/Arc/basic-errors.mlir
Owners: @fabianschuiki, @maerhart

Update errors logic/test
  include/circt/Dialect/OM/OMOpInterfaces.td
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  lib/Dialect/OM/OMOps.cpp
  lib/Dialect/OM/Transforms/LinkModules.cpp
  lib/Dialect/OM/Transforms/VerifyObjectFields.cpp
  test/Dialect/OM/errors.mlir
Owners: @darthscsi, @seldridge

[Arc] Add Initial Cost Model (#7360)
  include/circt/Dialect/Arc/ArcCostModel.h
  include/circt/Dialect/Arc/ArcPasses.h
  include/circt/Dialect/Arc/ArcPasses.td
  lib/Dialect/Arc/ArcCostModel.cpp
  lib/Dialect/Arc/CMakeLists.txt
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/PrintCostModel.cpp
Owners: @fabianschuiki, @maerhart

Typos
  include/circt/Dialect/Arc/ArcOps.td
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  test/Dialect/Arc/basic-errors.mlir
Owners: @fabianschuiki, @maerhart

Update link modules
  test/Dialect/OM/link-modules-error.mlir
  test/Dialect/OM/link-modules.mlir
Owners: none

Update freeze paths
  test/Dialect/OM/freeze-paths-errors.mlir
  test/Dialect/OM/freeze-paths.mlir
Owners: none

Update round trip test:
  test/Dialect/OM/round-trip.mlir
Owners: none

Clang format
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  lib/Dialect/OM/OMOps.cpp
  lib/Dialect/OM/Transforms/LinkModules.cpp
  lib/Dialect/OM/Transforms/VerifyObjectFields.cpp
  unittests/Dialect/OM/Evaluator/EvaluatorTests.cpp
Owners: @darthscsi, @seldridge

Update python bindings test
  integration_test/Bindings/Python/dialects/om.py
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
Owners: @darthscsi, @seldridge

TableGen tidy
  include/circt/Dialect/Arc/ArcOps.td
Owners: @fabianschuiki, @maerhart
