Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive

[ESI] MMIO: add read/write port so service
  frontends/PyCDE/integration_test/esi_test.py
  frontends/PyCDE/integration_test/test_software/esi_test.py
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/bsp/cosim.py
  frontends/PyCDE/src/pycde/esi.py
  lib/Dialect/ESI/ESIStdServices.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  test/Dialect/ESI/services.mlir
Owners: @teqdruid

[HWArith] Make `hwarith.icmp` result an `i1`
  docs/Dialects/HWArith/RationaleHWArith.md
  include/circt/Dialect/HWArith/HWArithOps.td
  test/Conversion/HWArithToHW/test_basic.mlir
  test/Dialect/HWArith/basic.mlir
Owners: @mortbopet, @teqdruid

[ESI] MMIO: add read/write port so service (#7407)
  frontends/PyCDE/integration_test/esi_test.py
  frontends/PyCDE/integration_test/test_software/esi_test.py
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/bsp/cosim.py
  frontends/PyCDE/src/pycde/esi.py
  lib/Dialect/ESI/ESIStdServices.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  test/Dialect/ESI/services.mlir
Owners: @teqdruid

support lowering scf if op and add a corresponding test
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  test/Conversion/SCFToCalyx/convert_controlflow.mlir
Owners: @mikeurbach, @mortbopet

rename res to ifOpRes
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Owners: @mikeurbach, @mortbopet

doing this by hand...
  include/circt/Dialect/HW/HWAggregates.td
  lib/Dialect/ESI/Passes/ESILowerBundles.cpp
  lib/Dialect/HW/HWOps.cpp
  test/Dialect/ESI/bundles.mlir
Owners: @darthscsi, @teqdruid

Start of generic conversion of array ports
  include/circt/Dialect/HW/PortConverter.h
  lib/Dialect/HW/PortConverter.cpp
Owners: @darthscsi

Support `scf.if` Op Lowering to Calyx (#6256)
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  test/Conversion/SCFToCalyx/convert_controlflow.mlir
Owners: @mikeurbach, @mortbopet

[OM] Pass Python values back and forth, not Attributes.
  lib/Bindings/Python/OMModule.cpp
  lib/Bindings/Python/dialects/om.py
Owners: none

[OM] Pass Python values back and forth, not Attributes. (#7417)
  lib/Bindings/Python/OMModule.cpp
  lib/Bindings/Python/dialects/om.py
Owners: none

Update RationaleSeq.md
  docs/Dialects/Seq/RationaleSeq.md
Owners: none

[FIRRTL][Dedup] Rework hashing for perf and bug fixes.
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  test/Dialect/FIRRTL/dedup-errors.mlir
Owners: @darthscsi, @seldridge

[docs] Remove confusing reset in Seq docs SV example (#7419)
  docs/Dialects/Seq/RationaleSeq.md
Owners: none

tmp
  include/circt/Conversion/FSMToSMT.h
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

[FIRRTL][Dedup] Rework hashing for perf and bug fixes. (#7420)
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  test/Dialect/FIRRTL/dedup-errors.mlir
Owners: @darthscsi, @seldridge

tmp branch switch
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

switching branch again
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

luisa 1 tablegen 0
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

Add getFieldTypes API
  include/circt/Dialect/OM/OMOpInterfaces.h
  include/circt/Dialect/OM/OMOpInterfaces.td
  include/circt/Dialect/OM/OMOps.td
  lib/Dialect/OM/Transforms/LinkModules.cpp
Owners: none

Use getFieldTypes API
  lib/Dialect/OM/Transforms/LinkModules.cpp
Owners: none

Use optional pattern for now
  include/circt/Dialect/OM/OMOpInterfaces.td
  lib/Dialect/OM/Transforms/LinkModules.cpp
  lib/Dialect/OM/Transforms/VerifyObjectFields.cpp
Owners: none

ClassOp -> ClassLike
  lib/Dialect/OM/Transforms/VerifyObjectFields.cpp
Owners: none

Clang format
  lib/Dialect/OM/Transforms/LinkModules.cpp
  lib/Dialect/OM/Transforms/VerifyObjectFields.cpp
Owners: none

Use getFieldTypes
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
Owners: @darthscsi, @seldridge

Remove old field ops
  include/circt/Dialect/OM/OMOpInterfaces.td
  include/circt/Dialect/OM/OMOps.td
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  lib/Dialect/OM/OMOps.cpp
  test/Dialect/OM/errors.mlir
  test/Dialect/OM/link-modules.mlir
Owners: @darthscsi, @seldridge

maybe added dialect?
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
Owners: none

WIP updating formalO
  include/circt/Dialect/FIRRTL/FIRRTLDeclarations.td
  include/circt/Dialect/FIRRTL/FIRRTLStructure.td
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
Owners: @darthscsi, @seldridge

Remove typeswitch Add func.func Dialect Disable caonicalize function for local variable
  include/circt/Dialect/Moore/MooreDialect.td
  include/circt/Dialect/Moore/MooreOps.h
  lib/Dialect/Moore/CMakeLists.txt
  lib/Dialect/Moore/MooreDialect.cpp
  lib/Dialect/Moore/MooreOps.cpp
Owners: none

Support union type
  lib/Dialect/Moore/MooreOps.cpp
Owners: none

support uniont type2
  lib/Dialect/Moore/MooreOps.cpp
Owners: none

[FIRRTL][LowerDPI] Lower FIRRTL vector to an open array type
  docs/Dialects/FIRRTL/FIRRTLIntrinsics.md
  lib/Dialect/FIRRTL/Transforms/LowerDPI.cpp
  test/Dialect/FIRRTL/lower-intrinsics.mlir
  test/firtool/dpi.fir
Owners: @darthscsi, @seldridge

small steps
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
  lib/Conversion/FSMToSMT/tmp.cpp
Owners: none

conversion of states to smt funcdecl
  include/circt/Conversion/Passes.td
  lib/Conversion/FSMToSMT/FSMToSMT.cpp
  lib/Conversion/FSMToSMT/tmp.cpp
Owners: none

[Support] Allow erasing names in Namespace
  include/circt/Support/Namespace.h
Owners: none

[Support] Add FVInt, a four-valued arbitrary precision integer
  include/circt/Support/FVInt.h
  lib/Support/CMakeLists.txt
  lib/Support/FVInt.cpp
  unittests/Support/CMakeLists.txt
  unittests/Support/FVIntTest.cpp
Owners: none

[FIRRTL][Dedup] Improve diagnostic for failing to dedup due to public.
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  test/Dialect/FIRRTL/dedup-errors.mlir
Owners: @darthscsi, @seldridge

Dedup: mark private function static, whoops.
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
Owners: @darthscsi, @seldridge

[ImportVerilog] Add missing conversions, various fixes
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Structure.cpp
  test/Conversion/ImportVerilog/basic.sv
Owners: none

[ImportVerilog] Ignore type parameters
  lib/Conversion/ImportVerilog/Structure.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/ImportVerilog/errors.sv
Owners: none

[FIRRTL][Dedup] Improve diagnostic for failing to dedup due to public. (#7426)
  lib/Dialect/FIRRTL/Transforms/Dedup.cpp
  test/Dialect/FIRRTL/dedup-errors.mlir
Owners: @darthscsi, @seldridge
