Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @dtzSiFive, @seldridge, @Dinistro, @RamirezLucas, @blakep-msft

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @dtzSiFive @seldridge
*/firtool @dtzSiFive
libs/Firtool @dtzSiFive

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart
tools/llhd-sim @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet @RamirezLucas

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft

## Conversions

lib/Conversion/ExportVerilog @dtzSiFive


## Infra

# CI
.github @teqdruid @dtzSiFive

# PrettyPrinter
**/Support/Pretty* @dtzSiFive

relax extract op constraints
  lib/Dialect/Comb/CombOps.cpp
  test/Dialect/Comb/canonicalization.mlir
  test/Dialect/Comb/errors.mlir
Owners: @darthscsi

c++ is now fixed thanks everyone
  lib/Dialect/Comb/CombOps.cpp
Owners: @darthscsi

addressed comments
  integration_test/Target/ExportSMTLIB/attributes.mlir
  lib/Target/ExportSMTLIB/ExportSMTLIB.cpp
  test.smt
  test_export.mlir
Owners: @maerhart

support for pattern attribbute:
  integration_test/Target/ExportSMTLIB/attributes.mlir
  lib/Target/ExportSMTLIB/ExportSMTLIB.cpp
  test.smt
  test/Target/ExportSMTLIB/attributes.mlir
  test_export.mlir
Owners: @maerhart

first attempt
  lib/Target/ExportSMTLIB/ExportSMTLIB.cpp
  test/Target/ExportSMTLIB/attributes.mlir
  test_export.mlir
Owners: @maerhart

reverted commit
  test.mlir
Owners: none

Update lib/Target/ExportSMTLIB/ExportSMTLIB.cpp
  lib/Target/ExportSMTLIB/ExportSMTLIB.cpp
Owners: @maerhart

Update test.smt
  test.smt
Owners: none

Update lib/Target/ExportSMTLIB/ExportSMTLIB.cpp
  lib/Target/ExportSMTLIB/ExportSMTLIB.cpp
Owners: @maerhart

clang-format
  lib/Target/ExportSMTLIB/ExportSMTLIB.cpp
Owners: @maerhart

[Moore] Add a new op - unconnectedOp
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/ImportVerilog/Structure.cpp
Owners: none

[SV]Print empty block for CaseOp.
  lib/Dialect/SV/SVOps.cpp
Owners: @darthscsi

[FSM]Change the builders of TransitionOp.
  include/circt/Dialect/FSM/FSMOps.td
  lib/Dialect/FSM/FSMOps.cpp
Owners: @mortbopet

[CombToArith] Fix coarsening of division by zero UB (#6945)
  integration_test/arcilator/JIT/div-by-zero.mlir
  lib/Conversion/CombToArith/CombToArith.cpp
  test/Conversion/CombToArith/comb-to-arith.mlir
Owners: none

CMake fixes
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim/CMakeLists.txt
Owners: @teqdruid

Fix sanity check.
  lib/Dialect/SV/SVOps.cpp
Owners: @darthscsi

[Pipeline] Verify >0 result types for LatencyOp
  lib/Dialect/Pipeline/PipelineOps.cpp
Owners: @mortbopet

[SV]Undo the previous commit.
  lib/Dialect/SV/SVOps.cpp
Owners: @darthscsi

Fix clang-tidy problems.
  include/circt/Dialect/FSM/FSMOps.td
  lib/Dialect/FSM/FSMOps.cpp
Owners: @mortbopet

Fix clang-format.
  lib/Dialect/FSM/FSMOps.cpp
Owners: @mortbopet

[NFC] LLVM bump
  include/circt/Dialect/FIRRTL/FIRRTLTypes.h
  include/circt/Dialect/SystemC/SystemCTypes.h
  test/Dialect/Arc/lower-sim.mlir
Owners: @darthscsi, @dtzSiFive, @seldridge, @fabianschuiki, @maerhart

Make it possible for external projects to use cmakelists.txt
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/cosim/CMakeLists.txt
Owners: @teqdruid

null constants
  frontends/PyCDE/src/pycde/ibis.py
Owners: none

[Moore] Remove unused type constraints; NFC
  include/circt/Dialect/Moore/MooreTypes.td
Owners: none

[Moore] Move simple leaf types into TableGen; NFC
  include/circt/Dialect/Moore/MooreTypes.h
  include/circt/Dialect/Moore/MooreTypes.td
  lib/Dialect/Moore/MooreTypes.cpp
  test/Dialect/Moore/types-errors.mlir
Owners: none

[Moore] Remove enum type
  include/circt/Dialect/Moore/MooreTypes.h
  lib/Conversion/ImportVerilog/Types.cpp
  lib/Dialect/Moore/MooreTypes.cpp
  test/Conversion/ImportVerilog/types.sv
  test/Dialect/Moore/types.mlir
  unittests/Dialect/Moore/TypesTest.cpp
Owners: none

[Moore] Remove named and ref types
  include/circt/Dialect/Moore/MooreTypes.h
  lib/Conversion/ImportVerilog/Types.cpp
  lib/Dialect/Moore/MooreTypes.cpp
  test/Conversion/ImportVerilog/types.sv
  test/Dialect/Moore/types-errors.mlir
  test/Dialect/Moore/types.mlir
  unittests/Dialect/Moore/TypesTest.cpp
Owners: none

[Pipeline] Verify >0 result types for LatencyOp (#6992)
  lib/Dialect/Pipeline/PipelineOps.cpp
Owners: @mortbopet

notifyMatchFailure
  lib/Conversion/HandshakeToDC/HandshakeToDC.cpp
Owners: @Dinistro, @mortbopet, @RamirezLucas

[DC] Add merge lowering (#6943)
  lib/Conversion/DCToHW/DCToHW.cpp
  lib/Conversion/HandshakeToDC/HandshakeToDC.cpp
  test/Conversion/DCToHW/basic.mlir
  test/Conversion/HandshakeToDC/basic.mlir
Owners: @Dinistro, @mortbopet, @RamirezLucas

[Handshake] Add control_merge deconstruction pattern
  include/circt/Dialect/Handshake/HandshakeOps.td
  include/circt/Dialect/Handshake/HandshakePasses.h
  include/circt/Dialect/Handshake/HandshakePasses.td
  lib/Conversion/HandshakeToDC/HandshakeToDC.cpp
  lib/Dialect/Handshake/Transforms/CMakeLists.txt
  lib/Dialect/Handshake/Transforms/SplitMerges.cpp
  test/Conversion/HandshakeToDC/basic.mlir
  test/Dialect/Handshake/split-merge.mlir
Owners: @Dinistro, @mortbopet, @RamirezLucas

[Handshake] Add control_merge deconstruction pattern (#6934)
  include/circt/Dialect/Handshake/HandshakeOps.td
  include/circt/Dialect/Handshake/HandshakePasses.h
  include/circt/Dialect/Handshake/HandshakePasses.td
  lib/Conversion/HandshakeToDC/HandshakeToDC.cpp
  lib/Dialect/Handshake/Transforms/CMakeLists.txt
  lib/Dialect/Handshake/Transforms/SplitMerges.cpp
  test/Conversion/HandshakeToDC/basic.mlir
  test/Dialect/Handshake/split-merge.mlir
Owners: @Dinistro, @mortbopet, @RamirezLucas

[Moore] Remove remaining usages of EnumType
  lib/CAPI/Dialect/Moore.cpp
Owners: none

[CAPI][Moore] Remove deprecated types
  include/circt-c/Dialect/Moore.h
Owners: none

[CAPI][Moore] Remove deprecated types (#6994)
  include/circt-c/Dialect/Moore.h
Owners: none

[FIRRTL][LowerAnnotations] Reject non-local fullasyncreset anno's. (#6988)
  lib/Dialect/FIRRTL/Transforms/LowerAnnotations.cpp
Owners: @darthscsi, @dtzSiFive, @seldridge

Add google-global-names-in-headers to clang-tidy
  .clang-tidy
Owners: none

[FIRRTL] async-reset.fir: Check handling of fullasync on non-port.
  test/firtool/async-reset.fir
Owners: @dtzSiFive

[FIRRTL][SFCCompat] Fix behavior w/fullasyncreset on non-port.
  lib/Dialect/FIRRTL/Transforms/SFCCompat.cpp
Owners: @darthscsi, @dtzSiFive, @seldridge

[FIRRTL] Fix async-reset-anno test to run passes at all, test non-port.
  test/firtool/async-reset-anno.fir
Owners: @dtzSiFive
