Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive

small fix
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
Owners: @mikeurbach, @mortbopet

[FIRRTL] Print port names attributes if a port has an empty name (#7688)
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/lower-layers.mlir
  test/Dialect/FIRRTL/round-trip.mlir
Owners: @darthscsi, @seldridge

WIP: Add merge ifs test
  lib/Dialect/Arc/Transforms/MergeIfs.cpp
  test/Dialect/Arc/merge-ifs.mlir
Owners: @fabianschuiki, @maerhart

WIP: Merge ifs support memory read/write
  lib/Dialect/Arc/Transforms/MergeIfs.cpp
  test/Dialect/Arc/merge-ifs.mlir
Owners: @fabianschuiki, @maerhart

WIP: Clean up merge ifs pass
  include/circt/Dialect/Arc/ArcPasses.td
  lib/Dialect/Arc/Transforms/MergeIfs.cpp
Owners: @fabianschuiki, @maerhart

WIP: Remove obsolete passes
  include/circt/Dialect/Arc/ArcPasses.h
  include/circt/Dialect/Arc/ArcPasses.td
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/GroupResetsAndEnables.cpp
  lib/Dialect/Arc/Transforms/LegalizeStateUpdate.cpp
  test/Dialect/Arc/group-resets-and-enables.mlir
  test/Dialect/Arc/legalize-state-update-error.mlir
  test/Dialect/Arc/legalize-state-update.mlir
Owners: @fabianschuiki, @maerhart

WIP: Use better autogen constructor for pass
  include/circt/Dialect/Arc/ArcPasses.h
  include/circt/Dialect/Arc/ArcPasses.td
  lib/Dialect/Arc/Transforms/LowerState.cpp
Owners: @fabianschuiki, @maerhart

WIP: Tweak tests and support taps
  include/circt/Dialect/Arc/ArcOps.td
  lib/Dialect/Arc/Transforms/LowerState.cpp
  test/Dialect/Arc/lower-state.mlir
  test/arcilator/arcilator.mlir
Owners: @fabianschuiki, @maerhart

[FIRRTL] Ensure LowerClasses respects alt base path for local paths.
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
Owners: @darthscsi, @seldridge

Update unit test to ensure local path is made non-local.
  test/Dialect/FIRRTL/lower-classes.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Ensure LowerClasses respects alt base path for local paths. (#7690)
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  test/Dialect/FIRRTL/lower-classes.mlir
Owners: @darthscsi, @seldridge

Support label emission
  include/circt/Dialect/RTG/IR/RTGOps.td
  lib/Dialect/RTG/IR/RTGOps.cpp
  lib/Target/EmitRTGAssembly/EmitRTGAssembly.cpp
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/Transform/elaboration.mlir
  test/Dialect/RTGTest/IR/basic.mlir
  test/Target/EmitRTGAssembly/rtgtest-errors.mlir
  test/Target/EmitRTGAssembly/rtgtest-no-binary.mlir
  test/Target/EmitRTGAssembly/rtgtest.mlir
Owners: none

Support seeds in elaboration pass
  include/circt/Dialect/RTG/Transforms/RTGPasses.td
  lib/Dialect/RTG/IR/RTGOps.cpp
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  lib/Target/EmitRTGAssembly/EmitRTGAssembly.cpp
  test/Dialect/RTG/Transform/elaboration.mlir
Owners: none

Rename snippet to sequence and support arguments
  include/circt-c/Dialect/RTG.h
  include/circt/Dialect/RTG/IR/RTGOps.td
  include/circt/Dialect/RTG/IR/RTGTypes.td
  include/circt/Dialect/RTG/IR/RTGVisitors.h
  integration_test/Bindings/Python/dialects/rtg.py
  lib/Bindings/Python/RTGModule.cpp
  lib/CAPI/Dialect/RTG.cpp
  lib/Dialect/RTG/IR/RTGOps.cpp
  lib/Dialect/RTG/Transforms/ElaborationPass.cpp
  lib/Target/EmitRTGAssembly/EmitRTGAssembly.cpp
  test/Dialect/RTG/IR/basic.mlir
  test/Dialect/RTG/IR/errors.mlir
  test/Dialect/RTG/Transform/elaboration.mlir
  test/Target/EmitRTGAssembly/rtgtest-errors.mlir
  test/Target/EmitRTGAssembly/rtgtest-no-binary.mlir
  test/Target/EmitRTGAssembly/rtgtest.mlir
Owners: none

Allow labels to be declared global
  include/circt/Dialect/RTG/IR/RTGOps.td
  lib/Target/EmitRTGAssembly/EmitRTGAssembly.cpp
  test/Target/EmitRTGAssembly/rtgtest.mlir
Owners: none

Address review feedback
  include/circt/Dialect/FIRRTL/FIRRTLStructure.td
  include/circt/Dialect/FIRRTL/FIRRTLUtils.h
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/FIRRTLUtils.cpp
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
  lib/Dialect/FIRRTL/Transforms/ExtractInstances.cpp
Owners: @darthscsi, @seldridge

[ExtractInstances] Add the extract instances metadata to OM dialect
  include/circt/Dialect/FIRRTL/FIRRTLUtils.h
  lib/Dialect/FIRRTL/FIRRTLUtils.cpp
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
  lib/Dialect/FIRRTL/Transforms/ExtractInstances.cpp
Owners: @darthscsi, @seldridge

Ensure deterministic order of fields in the class
  lib/Dialect/FIRRTL/Transforms/ExtractInstances.cpp
  test/Dialect/FIRRTL/extract-instances.mlir
Owners: @darthscsi, @seldridge

Fix clang-format
  include/circt/Dialect/FIRRTL/FIRRTLUtils.h
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
Owners: @darthscsi, @seldridge

clang-format
  include/circt/Dialect/FIRRTL/FIRRTLUtils.h
Owners: @darthscsi, @seldridge

Update lit tests
  test/Dialect/FIRRTL/extract-instances-inject-dut-hier.mlir
  test/Dialect/FIRRTL/extract-instances.mlir
Owners: @darthscsi, @seldridge

[Verif] Simplify the FormalOp
  include/circt/Dialect/Verif/VerifOps.td
  test/Dialect/Verif/basic.mlir
  test/circt-test/basic.mlir
Owners: none

Add Yosys integration
  CMakeLists.txt
  include/circt/Conversion/CMakeLists.txt
  include/circt/Conversion/ExportRTLIL.h
  include/circt/Conversion/Passes.h
  include/circt/Conversion/Passes.td
  include/circt/Dialect/Seq/SeqOps.td
  include/circt/Dialect/Seq/SeqVisitor.h
  integration_test/YosysIntegration/round-trip.mlir
  integration_test/YosysIntegration/synth.mlir
  integration_test/circt-lec/hw.mlir
  integration_test/lit.cfg.py
  integration_test/lit.site.cfg.py.in
  lib/Conversion/CMakeLists.txt
  lib/Conversion/ExportYosys/CMakeLists.txt
  lib/Conversion/ExportYosys/ExportRTLIL.cpp
  lib/Conversion/ExportYosys/ImportRTLIL.cpp
  lib/Conversion/ExportYosys/README.md
  lib/Conversion/ExportYosys/RTLILConverterInternal.h
  lib/Conversion/ExportYosys/YosysOptimizer.cpp
  lib/Conversion/HWToSMT/HWToSMT.cpp
  lib/Dialect/HW/HWInstanceImplementation.cpp
  test/lit.site.cfg.py.in
  tools/circt-opt/CMakeLists.txt
  tools/circt-translate/CMakeLists.txt
  tools/circt-translate/circt-translate.cpp
  tools/firtool/CMakeLists.txt
Owners: @darthscsi

[Verif] Simplify the FormalOp (#7691)
  include/circt/Dialect/Verif/VerifOps.td
  test/Dialect/Verif/basic.mlir
  test/circt-test/basic.mlir
Owners: none

[FIRRTL] InferWidths: don't store all exprs in a vector
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

Address review comments
  include/circt/Dialect/FIRRTL/FIRRTLStructure.td
  include/circt/Dialect/FIRRTL/FIRRTLUtils.h
  lib/Dialect/FIRRTL/Transforms/ExtractInstances.cpp
Owners: @darthscsi, @seldridge

[Sim][NFC] Include InferTypeOpInterface in SimOps.td
  include/circt/Dialect/Sim/SimOps.h
  include/circt/Dialect/Sim/SimOps.td
  lib/Dialect/Sim/Transforms/ProceduralizeSim.cpp
Owners: none

[arcilator] Register LLHD dialect
  tools/arcilator/CMakeLists.txt
  tools/arcilator/arcilator.cpp
Owners: @fabianschuiki, @maerhart

[MooreToCore] Add support for format strings and display task
  include/circt/Conversion/Passes.td
  lib/Conversion/MooreToCore/CMakeLists.txt
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

Remove redundant cast
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
Owners: @darthscsi, @seldridge

Use map vector to preserve field name ordering
  include/circt/Dialect/OM/Evaluator/Evaluator.h
  lib/Dialect/OM/Evaluator/Evaluator.cpp
  test/CAPI/om.c
Owners: none

Move to builders
  include/circt/Dialect/FIRRTL/FIRRTLStructure.td
  include/circt/Dialect/FIRRTL/FIRRTLUtils.h
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
  lib/Dialect/FIRRTL/Transforms/ExtractInstances.cpp
Owners: @darthscsi, @seldridge

Revert "Use map vector to preserve field name ordering"
  include/circt/Dialect/OM/Evaluator/Evaluator.h
  lib/Dialect/OM/Evaluator/Evaluator.cpp
  test/CAPI/om.c
Owners: none

[Sim][NFC] Include InferTypeOpInterface in SimOps.td (#7693)
  include/circt/Dialect/Sim/SimOps.h
  include/circt/Dialect/Sim/SimOps.td
  lib/Dialect/Sim/Transforms/ProceduralizeSim.cpp
Owners: none

[MooreToCore] Support assert, assume, cover ops (#7681)
  include/circt/Conversion/Passes.td
  lib/Conversion/MooreToCore/CMakeLists.txt
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[MooreToCore] Add support for format strings and display task
  include/circt/Conversion/Passes.td
  lib/Conversion/MooreToCore/CMakeLists.txt
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[MooreToCore] Add support for format strings and display task (#7694)
  include/circt/Conversion/Passes.td
  lib/Conversion/MooreToCore/CMakeLists.txt
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/MooreToCore/basic.mlir
Owners: none

Fix clang-format
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: pack base Expr struct fields
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] InferWidths: don't store all exprs in a vector
  lib/Dialect/FIRRTL/Transforms/InferWidths.cpp
Owners: @darthscsi, @seldridge
