Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

[Arc] Improve LowerState to never produce read-after-write conflicts (#7703)
  include/circt/Dialect/Arc/ArcPasses.h
  include/circt/Dialect/Arc/ArcPasses.td
  integration_test/arcilator/JIT/dpi.mlir
  integration_test/arcilator/JIT/initial-shift-reg.mlir
  integration_test/arcilator/JIT/reg.mlir
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  lib/Dialect/Arc/ArcTypes.cpp
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/LegalizeStateUpdate.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  lib/Dialect/Arc/Transforms/LowerStateRewrite.cpp
  test/Dialect/Arc/legalize-state-update-error.mlir
  test/Dialect/Arc/legalize-state-update.mlir
  test/Dialect/Arc/lower-state-errors.mlir
  test/Dialect/Arc/lower-state.mlir
  test/arcilator/arcilator.mlir
  tools/arcilator/arcilator.cpp
Owners: @fabianschuiki, @maerhart

[Arc] Remove obsolete arc.clock_tree and arc.passthrough ops (#7704)
  include/circt/Dialect/Arc/ArcOps.td
  lib/Dialect/Arc/Transforms/LowerClocksToFuncs.cpp
  test/Dialect/Arc/allocate-state.mlir
  test/Dialect/Arc/lower-clocks-to-funcs-errors.mlir
  test/Dialect/Arc/lower-clocks-to-funcs.mlir
Owners: @fabianschuiki, @maerhart

[arcilator] Add clock divider integration test (#7705)
  integration_test/arcilator/JIT/clock-divider.mlir
Owners: none

[Verif] Adjust contract ops to match documentation (#7745)
  include/circt/Dialect/Verif/VerifOps.td
  lib/Dialect/Verif/VerifOps.cpp
  test/Dialect/Verif/basic.mlir
Owners: none

ugly hack to emit user mode elf
  lib/Target/EmitRTGAssembly/EmitRTGAssembly.cpp
Owners: none

[AIG] Resource Analysis
  include/circt/Dialect/AIG/AIGAnalysis.h
  include/circt/Dialect/AIG/AIGPasses.td
  lib/Conversion/CombToAIG/CombToAIG.cpp
  lib/Dialect/AIG/Analysis/CMakeLists.txt
  lib/Dialect/AIG/Analysis/ResourceUsageAnalysis.cpp
  lib/Dialect/AIG/Transforms/LowerVariadic.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  tools/circt-synth/CMakeLists.txt
  tools/circt-synth/circt-synth.cpp
Owners: @darthscsi, @seldridge

Update Passes.td
  include/circt/Conversion/Passes.td
Owners: none

[AIGToComb] [circt-synth] Add a AIG to Comb conversion pass (#7742)
  include/circt/Conversion/AIGToComb.h
  include/circt/Conversion/Passes.h
  include/circt/Conversion/Passes.td
  lib/CAPI/Conversion/CMakeLists.txt
  lib/Conversion/AIGToComb/AIGToComb.cpp
  lib/Conversion/AIGToComb/CMakeLists.txt
  lib/Conversion/CMakeLists.txt
  test/Conversion/AIGToComb/aig-to-comb.mlir
  test/circt-synth/basic.mlir
  tools/circt-synth/CMakeLists.txt
  tools/circt-synth/circt-synth.cpp
Owners: none

emit bit representation for calyx floating point constantOp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Dialect/Calyx/emit.mlir
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999

calyx constant op
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Transforms/CalyxLoweringUtils.cpp
  test/Conversion/SCFToCalyx/convert_simple.mlir
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet

emit floating point calyx constant
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Dialect/Calyx/emit.mlir
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999

create register based on type
  include/circt/Dialect/Calyx/CalyxHelpers.h
  lib/Dialect/Calyx/Transforms/CalyxHelpers.cpp
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999

[Arc][NFC] Rename LowerState file back
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/LowerState.cpp
Owners: @fabianschuiki, @maerhart

[docs] Tweak LTL/Moore/Verif dialect titles
  docs/Dialects/LTL.md
  docs/Dialects/Moore.md
  docs/Dialects/Verif.md
Owners: none

[Sim] Include operations and types in dialect doc
  docs/Dialects/Sim.md
  docs/Dialects/Sim/_index.md
  include/circt/Dialect/Sim/CMakeLists.txt
  include/circt/Dialect/Sim/SimDialect.td
  include/circt/Dialect/Sim/SimOps.td
Owners: none

[OM] Add a new API to update fields of a ClassOp
  include/circt/Dialect/OM/OMOps.td
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  lib/Dialect/OM/OMOps.cpp
Owners: @darthscsi, @seldridge

remove headers
  lib/Dialect/OM/OMOps.cpp
Owners: none

[OM] Add a new API to update fields of a ClassOp (#7748)
  include/circt/Dialect/OM/OMOps.td
  lib/Dialect/FIRRTL/Transforms/LowerClasses.cpp
  lib/Dialect/OM/OMOps.cpp
Owners: @darthscsi, @seldridge

Bump LLVM to 8193832fb988e3df1e8e726634783805dca8d9b6.
  lib/Conversion/DCToHW/DCToHW.cpp
  lib/Conversion/HWArithToHW/HWArithToHW.cpp
  lib/Conversion/HWToSMT/HWToSMT.cpp
  lib/Conversion/HandshakeToDC/HandshakeToDC.cpp
  lib/Conversion/HandshakeToHW/HandshakeToHW.cpp
  lib/Conversion/LTLToCore/LTLToCore.cpp
  lib/Conversion/MooreToCore/MooreToCore.cpp
  lib/Conversion/SeqToSV/SeqToSV.cpp
  lib/Dialect/ESI/Passes/ESILowerTypes.cpp
Owners: @Dinistro, @mortbopet, @teqdruid

[FIRRTL] Clean up inferReturnTypes implementation
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  include/circt/Dialect/FIRRTL/FIRRTLOps.h
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Import/FIRTokenKinds.def
  test/Dialect/FIRRTL/parse-errors.fir
Owners: @darthscsi, @seldridge

[FIRRTL] enable properties for inherent attributes
  include/circt/Dialect/FIRRTL/FIRRTLDialect.td
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/annotations-generic.mlir
Owners: @darthscsi, @seldridge

support calyx constant op reflecting the new change
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  test/Dialect/Calyx/emit.mlir
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet

[FIRRTL][LowerTypes] Keep the order of bundle fields in lowered `cat` (#6376)
  lib/Dialect/FIRRTL/Transforms/LowerTypes.cpp
  test/Dialect/FIRRTL/lower-types.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] enable properties for inherent attributes
  include/circt/Dialect/FIRRTL/FIRRTLDialect.td
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  test/Dialect/FIRRTL/annotations-generic.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Clean up inferReturnTypes implementation
  include/circt/Dialect/FIRRTL/FIRRTLExpressions.td
  include/circt/Dialect/FIRRTL/FIRRTLOps.h
  lib/Dialect/FIRRTL/FIRRTLOps.cpp
  lib/Dialect/FIRRTL/Import/FIRParser.cpp
  lib/Dialect/FIRRTL/Import/FIRTokenKinds.def
  test/Dialect/FIRRTL/parse-errors.fir
Owners: @darthscsi, @seldridge

changes based on review
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999

setNameFn explicit cast to boolean
  lib/Dialect/Calyx/CalyxOps.cpp
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999

Calyx ConstantOp Support (#7086)
  include/circt/Dialect/Calyx/CalyxHelpers.h
  include/circt/Dialect/Calyx/CalyxPrimitives.td
  lib/Conversion/SCFToCalyx/SCFToCalyx.cpp
  lib/Dialect/Calyx/CalyxOps.cpp
  lib/Dialect/Calyx/Export/CalyxEmitter.cpp
  lib/Dialect/Calyx/Transforms/CalyxHelpers.cpp
  lib/Dialect/Calyx/Transforms/CalyxLoweringUtils.cpp
  test/Conversion/SCFToCalyx/convert_simple.mlir
  test/Dialect/Calyx/emit.mlir
Owners: @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet

fix memref flatten-load (#7298)
  lib/Transforms/FlattenMemRefs.cpp
  test/Transforms/flatten_memref.mlir
Owners: none

[Verif][NFC] Used auto-generated constructors for all passes
  include/circt/Dialect/Verif/Passes.td
  include/circt/Dialect/Verif/VerifPasses.h
  lib/Dialect/Verif/Transforms/LowerFormalToHW.cpp
  lib/Dialect/Verif/Transforms/PrepareForFormal.cpp
  lib/Dialect/Verif/Transforms/VerifyClockedAssertLike.cpp
Owners: none

[circt-test] Add test discovery classes and `-l` option
  test/circt-test/basic.mlir
  tools/circt-test/circt-test.cpp
Owners: none

save
  include/circt/Dialect/AIG/AIGAnalysis.h
  lib/Dialect/AIG/Analysis/LongestPathAnalysis.cpp
Owners: none

[Verif][NFC] Use auto-generated constructors for all passes (#7754)
  include/circt/Dialect/Verif/Passes.td
  include/circt/Dialect/Verif/VerifPasses.h
  lib/Dialect/Verif/Transforms/LowerFormalToHW.cpp
  lib/Dialect/Verif/Transforms/PrepareForFormal.cpp
  lib/Dialect/Verif/Transforms/VerifyClockedAssertLike.cpp
Owners: none

[HW] Add port name accessors to HWInstanceLike
  include/circt/Dialect/HW/HWOpInterfaces.td
  include/circt/Dialect/HW/HWStructure.td
  lib/Conversion/ExportVerilog/PrepareForEmission.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  lib/Dialect/SV/Transforms/SVExtractTestCode.cpp
  lib/Tools/circt-bmc/ExternalizeRegisters.cpp
Owners: @darthscsi, @fabianschuiki, @maerhart

[Arc] Initial implementation for Arc-based state-directed partitioning
  include/circt/Dialect/Arc/ArcOps.td
  include/circt/Dialect/Arc/ArcPasses.h
  include/circt/Dialect/Arc/ArcPasses.td
  lib/Dialect/Arc/Transforms/AllocateState.cpp
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/Partition.cpp
  test/arcilator/partition-driver.cpp
  test/arcilator/partition.mlir
  test/arcilator/partition.state.h
  tools/arcilator/arcilator.cpp
Owners: @fabianschuiki, @maerhart

[Arc] Add test for explicit sub-storages during state allocation
  test/Dialect/Arc/allocate-state.mlir
Owners: @fabianschuiki, @maerhart

[Arc] Supporting memory writes in Partition
  lib/Dialect/Arc/Transforms/Partition.cpp
Owners: @fabianschuiki, @maerhart

[NFC][Sim] Rename "formatting token" to "formatting fragment"
  include/circt/Dialect/Sim/SimOps.td
  include/circt/Dialect/Sim/SimTypes.td
  lib/Dialect/Sim/SimOps.cpp
  lib/Dialect/Sim/Transforms/ProceduralizeSim.cpp
Owners: none

[Arc] Supporting memory writes in Partition
  lib/Dialect/Arc/Transforms/Partition.cpp
Owners: @fabianschuiki, @maerhart

[Arc] Initial implementation for Arc-based state-directed partitioning
  include/circt/Dialect/Arc/ArcOps.td
  include/circt/Dialect/Arc/ArcPasses.h
  include/circt/Dialect/Arc/ArcPasses.td
  lib/Dialect/Arc/Transforms/AllocateState.cpp
  lib/Dialect/Arc/Transforms/CMakeLists.txt
  lib/Dialect/Arc/Transforms/Partition.cpp
  test/arcilator/partition-driver.cpp
  test/arcilator/partition.mlir
  test/arcilator/partition.state.h
  tools/arcilator/arcilator.cpp
Owners: @fabianschuiki, @maerhart

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive
