Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive

[FIRRTL][GrandCentral] Remove legacy Augmented types.
  include/circt/Dialect/FIRRTL/FIRRTLAttributes.td
  lib/Dialect/FIRRTL/Transforms/GrandCentral.cpp
  test/Dialect/FIRRTL/SFCTests/GrandCentralInterfaces/Wire.fir
  test/Dialect/FIRRTL/SFCTests/GrandCentralInterfaces/Wire.fir.anno.json
  test/Dialect/FIRRTL/annotations.mlir
  test/Dialect/FIRRTL/grand-central.mlir
Owners: @darthscsi, @seldridge

[FIRRTL][GrandCentral] Remove legacy Augmented types. (#7592)
  include/circt/Dialect/FIRRTL/FIRRTLAttributes.td
  lib/Dialect/FIRRTL/Transforms/GrandCentral.cpp
  test/Dialect/FIRRTL/SFCTests/GrandCentralInterfaces/Wire.fir
  test/Dialect/FIRRTL/SFCTests/GrandCentralInterfaces/Wire.fir.anno.json
  test/Dialect/FIRRTL/annotations.mlir
  test/Dialect/FIRRTL/grand-central.mlir
Owners: @darthscsi, @seldridge

save
  include/circt/Dialect/Seq/SeqPasses.h
  include/circt/Dialect/Seq/SeqPasses.td
  lib/Conversion/SeqToSV/SeqToSV.cpp
  lib/Dialect/Seq/Transforms/CMakeLists.txt
  lib/Dialect/Seq/Transforms/RandomizeRegisterInit.cpp
  test/Dialect/Seq/randomized.mlir
Owners: none

[FIRRTL] Avoid C++20 "module" in LowerMemory, NFC
  lib/Dialect/FIRRTL/Transforms/LowerMemory.cpp
Owners: @darthscsi, @seldridge

[python] Fix warnigns in `walk_with_filter`, NFC
  lib/Bindings/Python/SupportModule.cpp
Owners: none

[python] Fix warnigns in `walk_with_filter`, NFC (#7594)
  lib/Bindings/Python/SupportModule.cpp
Owners: none

save
  include/circt/Dialect/SV/SV.td
  include/circt/Dialect/SV/SVOps.h
  include/circt/Dialect/Sim/CMakeLists.txt
  include/circt/Dialect/Sim/SimOpInterfaces.h
  include/circt/Dialect/Sim/SimOpInterfaces.td
  include/circt/Dialect/Sim/SimOps.td
  lib/Conversion/HWToSV/CMakeLists.txt
  lib/Conversion/SeqToSV/SeqToSV.cpp
  lib/Dialect/SV/CMakeLists.txt
  lib/Dialect/Sim/CMakeLists.txt
  lib/Dialect/Sim/SimOps.cpp
  lib/Dialect/Sim/Transforms/CMakeLists.txt
Owners: @darthscsi

LLVM Bump
  lib/Conversion/CFToHandshake/CFToHandshake.cpp
  lib/Dialect/Arc/Transforms/Dedup.cpp
  lib/Dialect/Arc/Transforms/InferStateProperties.cpp
  lib/Dialect/Arc/Transforms/LegalizeStateUpdate.cpp
Owners: @fabianschuiki, @maerhart

[FIRRTL] Convert LowerMemory to walk
  lib/Dialect/FIRRTL/Transforms/LowerMemory.cpp
  test/Dialect/FIRRTL/lower-memory.mlir
Owners: @darthscsi, @seldridge

save
  include/circt/Dialect/SV/SVInOutOps.td
  include/circt/Dialect/SV/SVOps.h
  include/circt/Dialect/SV/SVStatements.td
  include/circt/Dialect/Seq/SeqOpInterfaces.h
  include/circt/Dialect/Seq/SeqOpInterfaces.td
  include/circt/Dialect/Seq/SeqOps.h
  include/circt/Dialect/Seq/SeqOps.td
  include/circt/Dialect/Sim/SimOpInterfaces.h
  include/circt/Dialect/Sim/SimOpInterfaces.td
  lib/Conversion/ExportVerilog/ExportVerilog.cpp
  lib/Conversion/ExportVerilog/PrepareForEmission.cpp
  lib/Conversion/SeqToSV/design.md
  lib/Dialect/SV/SVOps.cpp
  lib/Dialect/SV/Transforms/HWCleanup.cpp
  lib/Dialect/SV/Transforms/HWLegalizeModules.cpp
  lib/Dialect/Seq/CMakeLists.txt
  lib/Dialect/Seq/SeqOpInterfaces.cpp
  lib/Dialect/Seq/Transforms/RandomizeRegisterInit.cpp
  lib/Dialect/Sim/CMakeLists.txt
  lib/Dialect/Sim/SimOps.cpp
Owners: @darthscsi

LLVM Bump (#7595)
  lib/Conversion/CFToHandshake/CFToHandshake.cpp
  lib/Dialect/Arc/Transforms/Dedup.cpp
  lib/Dialect/Arc/Transforms/InferStateProperties.cpp
  lib/Dialect/Arc/Transforms/LegalizeStateUpdate.cpp
Owners: @fabianschuiki, @maerhart

[FIRRTL] Change InferReadWrite to use a walk
  lib/Dialect/FIRRTL/Transforms/InferReadWrite.cpp
  test/Dialect/FIRRTL/inferRW.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Error if InferReadWrite sees WhenOps
  lib/Dialect/FIRRTL/Transforms/InferReadWrite.cpp
  test/Dialect/FIRRTL/inferRW-errors.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Fix iteration over set
  lib/Dialect/FIRRTL/Transforms/LowerMemory.cpp
Owners: @darthscsi, @seldridge

Add BMC to SMT lowering
  include/circt/Conversion/Passes.td
  include/circt/Conversion/VerifToSMT.h
  lib/Conversion/HWToSMT/CMakeLists.txt
  lib/Conversion/HWToSMT/HWToSMT.cpp
  lib/Conversion/VerifToSMT/CMakeLists.txt
  lib/Conversion/VerifToSMT/VerifToSMT.cpp
  test/Conversion/VerifToSMT/verif-to-smt.mlir
Owners: none

[FIRRTL] Convert IMCP to walk
  lib/Dialect/FIRRTL/Transforms/IMConstProp.cpp
Owners: @darthscsi, @seldridge

[FIRRTL] Make IMCP work with Layers
  lib/Dialect/FIRRTL/Transforms/IMConstProp.cpp
  test/Dialect/FIRRTL/imconstprop.mlir
Owners: @darthscsi, @seldridge

[Moore] Support the display system task.
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  test/Conversion/ImportVerilog/basic.sv
Owners: none

[FIRRTL] Test whitespace cleanup, NFC
  test/Dialect/FIRRTL/add-seqmem-ports.mlir
Owners: @darthscsi, @seldridge

init
  include/circt/InitAllTranslations.h
  lib/Target/CMakeLists.txt
Owners: none

exp with rules
  smt-top.smt
Owners: none

exp with rules
  smt-top.smt
Owners: none

[FIRRTL] Fix pre-order walk in IMCP
  lib/Dialect/FIRRTL/Transforms/IMConstProp.cpp
Owners: @darthscsi, @seldridge

Format & clean-up
  lib/Conversion/VerifToSMT/VerifToSMT.cpp
Owners: none

Remove now-unnecessary assert
  test/Conversion/VerifToSMT/verif-to-smt.mlir
Owners: none

Drop error conversions
  lib/Conversion/VerifToSMT/VerifToSMT.cpp
Owners: none

[HW] Add reduction patterns to trim port list of top-level module (#7587)
  lib/Dialect/HW/HWReductions.cpp
  test/Dialect/Arc/Reduction/pattern-registration.mlir
  test/Dialect/FIRRTL/Reduction/pattern-registration.mlir
  test/Dialect/HW/Reduction/hw-module-input-pruner.mlir
  test/Dialect/HW/Reduction/hw-module-output-pruner.mlir
  test/Dialect/HW/Reduction/pattern-registration.mlir
Owners: @darthscsi, @fabianschuiki, @maerhart, @seldridge

[FIRRTL] Remove unused allUnder utility
  include/circt/Dialect/FIRRTL/FIRRTLInstanceGraph.h
  lib/Dialect/FIRRTL/FIRRTLInstanceGraph.cpp
Owners: @darthscsi, @seldridge

Address nits & add missing Func dialect dep
  lib/Conversion/VerifToSMT/CMakeLists.txt
  lib/Conversion/VerifToSMT/VerifToSMT.cpp
Owners: none

save
  include/circt/Dialect/Seq/SeqPasses.td
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  lib/Conversion/SeqToSV/design.md
  lib/Dialect/Arc/Transforms/LowerState.cpp
  lib/Dialect/Seq/Transforms/RandomizeRegisterInit.cpp
  test/Dialect/Seq/randomized.mlir
Owners: @fabianschuiki, @maerhart

save
  integration_test/arcilator/JIT/reg.mlir
Owners: none

Add lowering tests for assert & assume ops
  test/Conversion/VerifToSMT/verif-to-smt.mlir
Owners: none

impl
  include/circt/Target/ExportDot.h
  lib/Target/ExportDot/CMakeLists.txt
  lib/Target/ExportDot/ExportDot.cpp
Owners: none

removed useless print
  lib/Target/ExportDot/ExportDot.cpp
Owners: none

Error on multiple assertions
  lib/Conversion/VerifToSMT/VerifToSMT.cpp
  test/Conversion/VerifToSMT/verif-to-smt-errors.mlir
Owners: none

[Arc][Vectorization]: Add vector splitter
  lib/Dialect/Arc/Transforms/ArcCanonicalizer.cpp
Owners: @fabianschuiki, @maerhart

fixed
  lib/Target/ExportDot/ExportDot.cpp
Owners: none

Fix links
  docs/GettingStarted.md
Owners: none

[Arc] Fully support initialization through seq.initial
  integration_test/arcilator/JIT/reg.mlir
  lib/Conversion/ConvertToArcs/ConvertToArcs.cpp
  lib/Dialect/Arc/Transforms/LowerState.cpp
  test/Conversion/ConvertToArcs/convert-to-arcs.mlir
  test/Dialect/Arc/lower-state.mlir
Owners: @fabianschuiki, @maerhart

[Seq] Add a pass to implement firreg randomization
  include/circt/Dialect/Seq/SeqPasses.h
  include/circt/Dialect/Seq/SeqPasses.td
  lib/Dialect/Seq/Transforms/CMakeLists.txt
  lib/Dialect/Seq/Transforms/FirregRandomization.cpp
  test/Dialect/Seq/randomized.mlir
Owners: none
