Repository llvm/circt, changes with the owners that CODEOWNERS names for each.
All owners: @fabianschuiki, @maerhart, @rachitnigam, @cgyurgyik, @mikeurbach, @andrewb1999, @mortbopet, @darthscsi, @teqdruid, @seldridge, @Dinistro, @blakep-msft, @dtzSiFive

CODEOWNERS:

## Dialects, Conversions, Tools

# Arc
**/Dialect/Arc @fabianschuiki @maerhart
tools/arcilator @fabianschuiki @maerhart

# Calyx
**/Dialect/Calyx @rachitnigam @cgyurgyik @mikeurbach @andrewb1999
**/Conversion/CalyxToFSM @mortbopet
**/Conversion/CalyxToHW @mortbopet @mikeurbach
**/Conversion/SCFToCalyx @mikeurbach @mortbopet
**/Conversion/CalyxNative @rachitnigam
**/Conversion/LoopScheduleToCalyx @andrewb1999 @mikeurbach

# Comb
**/Dialect/Comb @darthscsi

# DC
**/Dialect/DC @mortbopet

# ESI
**/Dialect/ESI @teqdruid

# FIRRTL
**/FIRRTL* @darthscsi @seldridge

# FSM
**/Dialect/FSM @mortbopet

# HWArith
**/Dialect/HWArith @mortbopet @teqdruid

# LLHD
**/LLHD* @fabianschuiki @maerhart

# Pipeline
**/Dialect/Pipeline @mortbopet

# Handshake
**/Handshake* @Dinistro @mortbopet

# HW
**/Dialect/HW @darthscsi

# SMT
**/Dialect/SMT @maerhart
lib/Conversion/SMTToZ3LLVM @maerhart
lib/Target/ExportSMTLIB @maerhart

# SV
**/Dialect/SV @darthscsi

# Ibis
**/Dialect/Ibis @teqdruid @mortbopet @blakep-msft


## Infra

# CI
.github @teqdruid

# PrettyPrinter
**/Support/Pretty* @dtzSiFive

[FIRRTL] rm SeqMemInstanceMetadataAnnotation, NFC
  docs/Dialects/FIRRTL/FIRRTLAnnotations.md
  test/Dialect/FIRRTL/emit-metadata.mlir
  test/firtool/memoryMetadataRenameFail.fir.anno.json
Owners: @darthscsi, @seldridge

[FIRRTL] Cleanup emit-metadata.mlir test, NFC
  test/Dialect/FIRRTL/emit-metadata.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Cleanup CreateSiFiveMetadata tests, NFC
  test/Dialect/FIRRTL/emit-metadata.mlir
Owners: @darthscsi, @seldridge

Adding 'tag' field to facilitate out-of-order transactions
  lib/Dialect/ESI/ESIStdServices.cpp
  test/Dialect/ESI/services.mlir
Owners: @teqdruid

Change how attributes work
  include/circt/Dialect/OpLib/OpLibOps.td
  lib/Dialect/OpLib/OpLibOps.cpp
  test/Dialect/OpLib/errors.mlir
  test/Dialect/OpLib/round-trip.mlir
Owners: none

Formatting
  lib/Dialect/OpLib/OpLibOps.cpp
Owners: none

[firtool] Run layer merge after inliner
  lib/Firtool/Firtool.cpp
  test/firtool/layer-merge-across-inlined-submodule.fir
Owners: none

[firtool] Run layer merge after inliner (#7780)
  lib/Firtool/Firtool.cpp
  test/firtool/layer-merge-across-inlined-submodule.fir
Owners: none

[Moore] Add explicit truncation and zero/sign-extension
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[ESI] Partial implementation of read-side HostMem
  frontends/PyCDE/integration_test/esitester.py
  frontends/PyCDE/src/pycde/bsp/common.py
  frontends/PyCDE/src/pycde/bsp/cosim.py
  frontends/PyCDE/src/pycde/constructs.py
  frontends/PyCDE/src/pycde/esi.py
  frontends/PyCDE/src/pycde/module.py
  frontends/PyCDE/test/test_esi.py
  lib/Bindings/Python/support.py
  lib/Dialect/ESI/ESIServices.cpp
  lib/Dialect/ESI/runtime/cpp/include/esi/Services.h
  lib/Dialect/ESI/runtime/cpp/lib/Services.cpp
  lib/Dialect/ESI/runtime/cpp/lib/backends/Cosim.cpp
  lib/Dialect/ESI/runtime/cpp/tools/esitester.cpp
Owners: @teqdruid

[FIRRTL] Simplify CreateSiFiveMetadata tests, NFC
  test/Dialect/FIRRTL/emit-metadata.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Make metadata symbols private
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
  test/Dialect/FIRRTL/emit-metadata.mlir
Owners: @darthscsi, @seldridge

[Moore] Add explicit truncation and zero/sign-extension (#7783)
  include/circt/Dialect/Moore/MooreOps.td
  lib/Conversion/ImportVerilog/Expressions.cpp
  lib/Conversion/ImportVerilog/ImportVerilogInternals.h
  lib/Conversion/MooreToCore/MooreToCore.cpp
  test/Conversion/ImportVerilog/basic.sv
  test/Conversion/MooreToCore/basic.mlir
Owners: none

[FIRRTL] Fix comments in metadata test, NFC
  test/Dialect/FIRRTL/emit-metadata.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] Further fix test comments, NFC
  test/Dialect/FIRRTL/emit-metadata.mlir
Owners: @darthscsi, @seldridge

switching to zip
  lib/Dialect/ESI/ESIOps.cpp
Owners: @teqdruid

[ESI][Services] Type comparisons should account for 'any' (#7774)
  include/circt/Dialect/ESI/ESIOps.h
  lib/Dialect/ESI/ESIOps.cpp
  test/Dialect/ESI/errors.mlir
  test/Dialect/ESI/services.mlir
  unittests/Dialect/CMakeLists.txt
  unittests/Dialect/ESI/CMakeLists.txt
  unittests/Dialect/ESI/OpTest.cpp
Owners: @teqdruid

move elf support to interface
  include/circt/Dialect/RTG/UserElf.h
  lib/Target/EmitRTGAssembly/EmitRTGAssembly.cpp
Owners: none

[FIRRTL] Make memory matadata work with layers
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
  test/Dialect/FIRRTL/emit-metadata.mlir
Owners: @darthscsi, @seldridge

[Python][Arc] Register Arc passes
  lib/Bindings/Python/CIRCTModule.cpp
  lib/Bindings/Python/CMakeLists.txt
Owners: none

[ESI][Services] Standard host memory service (#7775)
  include/circt/Dialect/ESI/ESIStdServices.td
  lib/Dialect/ESI/ESIStdServices.cpp
  test/Dialect/ESI/services.mlir
Owners: @teqdruid

[CAPI][Python][HW] Register HW Passes
  include/circt-c/Dialect/HW.h
  lib/Bindings/Python/CIRCTModule.cpp
  lib/CAPI/Dialect/CMakeLists.txt
  lib/CAPI/Dialect/HW.cpp
Owners: none

Add reset op
  include/circt/Dialect/SMT/SMTOps.td
  lib/Conversion/SMTToZ3LLVM/LowerSMTToZ3LLVM.cpp
Owners: @maerhart

Add tests and include lowering in patterns
  lib/Conversion/SMTToZ3LLVM/LowerSMTToZ3LLVM.cpp
  test/Conversion/SMTToZ3LLVM/smt-to-z3-llvm.mlir
  test/Dialect/SMT/basic.mlir
Owners: @maerhart

safety with ints
  lib/Conversion/FSMToSMTSafety/FSMToSMTSafety.cpp
Owners: none

liveness
  lib/Conversion/FSMToSMTLiveness/FSMToSMTLiveness.cpp
  lib/Conversion/FSMToSMTSafety/FSMToSMTSafety.cpp
Owners: none

fixed liveness
  lib/Conversion/FSMToSMTLiveness/FSMToSMTLiveness.cpp
Owners: none

Add SMTLIB export
  include/circt/Dialect/SMT/SMTVisitors.h
  lib/Target/ExportSMTLIB/ExportSMTLIB.cpp
  test/Target/ExportSMTLIB/core.mlir
Owners: @maerhart

[FIRRTL] InferRW: copy all attributes of masked memeories
  lib/Dialect/FIRRTL/Transforms/InferReadWrite.cpp
  test/Dialect/FIRRTL/inferRW.mlir
Owners: @darthscsi, @seldridge

[FIRRTL] InferRW: copy all attributes of masked memeories (#7793)
  lib/Dialect/FIRRTL/Transforms/InferReadWrite.cpp
  test/Dialect/FIRRTL/inferRW.mlir
Owners: @darthscsi, @seldridge

Review comments
  lib/Target/ExportSMTLIB/ExportSMTLIB.cpp
  test/Conversion/SMTToZ3LLVM/smt-to-z3-llvm.mlir
Owners: @maerhart

[SMT] Add reset op (#7791)
  include/circt/Dialect/SMT/SMTOps.td
  include/circt/Dialect/SMT/SMTVisitors.h
  lib/Conversion/SMTToZ3LLVM/LowerSMTToZ3LLVM.cpp
  lib/Target/ExportSMTLIB/ExportSMTLIB.cpp
  test/Conversion/SMTToZ3LLVM/smt-to-z3-llvm.mlir
  test/Dialect/SMT/basic.mlir
  test/Target/ExportSMTLIB/core.mlir
Owners: @maerhart

[FIRRTL] Make memory matadata work with layers (#7789)
  lib/Dialect/FIRRTL/Transforms/CreateSiFiveMetadata.cpp
  test/Dialect/FIRRTL/emit-metadata.mlir
Owners: @darthscsi, @seldridge

[firtool] mv LoweLayers after CreateSiFiveMetadata
  lib/Firtool/Firtool.cpp
Owners: none

[FIRRTL] Test formatting, NFC
  test/Dialect/FIRRTL/emit-metadata.mlir
Owners: @darthscsi, @seldridge

remove self loop
  lib/Conversion/FSMToSMTLiveness/FSMToSMTLiveness.cpp
  lib/Conversion/FSMToSMTSafety/FSMToSMTSafety.cpp
Owners: none

well that didn't work.
  .github/workflows/esiRuntimePublish.yml
  lib/Dialect/ESI/runtime/CMakeLists.txt
Owners: @teqdruid

Build zlib
  lib/Dialect/ESI/runtime/CMakeLists.txt
Owners: @teqdruid

cmake was the culprit
  lib/Dialect/ESI/runtime/CMakeLists.txt
  lib/Dialect/ESI/runtime/pyproject.toml
  lib/Dialect/ESI/runtime/setup.py
Owners: @teqdruid

let's try reverting the image. not sure this is possible
  .github/workflows/esiRuntimePublish.yml
  lib/Dialect/ESI/runtime/pyproject.toml
Owners: @teqdruid
